<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Address</h4>

</div>
<form class="form-horizontal form_horizontal"  name="Address" novalidate autocomplete="off">
<div class="modal-body">
	
	<table class ="col-sm-12 col-xs-12 col-md-12">
		<tr>
			<td class="ibspan col-xs-12 col-sm-12 col-md-6">
				<div class="form-group required" ng-class="{'has-error':Address1.$invalid && !Address1.$pristine}">
					<label class="control-label label-block">Address Type</label>
						<select class="form-control field" name="title" ng-model="address.addressType" required>
							<option value="">Select</option>
							<option ng-repeat="item in types" value="{{item.id}}" >{{item.value}}</option>
						</select>
					<span class="errorMsg" ng-show="Address.Address1.$error.required && Address.Address1.pristine">This field is required</span>
				</div>			
			</td>
			
			<td class="ibspan col-xs-12 col-sm-12 col-md-6">
				<div class="form-group required" ng-class="{'has-error':Address1.$invalid && !Address1.$pristine}">
					<label class="control-label label-block">Address 1 [Flat name, Building name]</label>
					<input type="text" name="Address1" ng-model="address.addressLine1" class="form-control" required>
					<span class="errorMsg" ng-show="Address.Address1.$error.required && Address.Address1.pristine">This field is required</span>
				</div>	
			</td>
		
		</tr>
		
		<tr>
			<td class="ibspan col-xs-12 col-sm-12 col-md-6">
				<div class="form-group">
					<label class="control-label label-block">Address 2 [Street name, Locality name]</label>
					<input type="text" name="Address2" ng-model="address.addressLine2" class="form-control">
				</div>			
			</td>
			
			<td class="ibspan col-xs-12 col-sm-12 col-md-6">
				<div class="form-group">
					<label class="control-label label-block">Address 3</label>
					<input type="text" name="Address3" ng-model="address.addressLine3" class="form-control">
				</div>	
			</td>
		</tr>
		
		<tr>
			<td class="ibspan col-xs-12 col-sm-12 col-md-6">
				<div class="form-group ">
					<label class="control-label label-block">Landmark</label>
					<input type="text" name="landMark" ng-model="address.landmark" class="form-control" >
				</div>			
			</td>
			
			<td class="ibspan col-xs-12 col-sm-12 col-md-6">
				<div class="form-group required" ng-class="{'has-error':Pincode.$invalid && !Pincode.pristine}">
					<label class="control-label label-block">Pincode</label>
					<input type="text" name="Pincode" ng-model="address.pincode" class="form-control" ng-minlength="6" maxlength="6" ng-keypress="filterValue($event)" required>
					<span class="errorMsg" ng-show="Address.Pincode.$error.required && !Address.Pincode.$pristine">This field is required</span>
					<span class="errorMsg" ng-show="Address.Pincode.$error.minlength && !Address.Pincode.$pristine">Minimum length is 6</span>
				</div>			
			</td>
		</tr>
		
		<tr>
			<td class="ibspan col-xs-12 col-sm-12 col-md-6">
				<div class="form-group required" ng-class="{'has-error':Address.area.$invalid && !Address.area.$pristine}">
					<label class="control-label label-block">Area</label>
					<input type="text" name="Address3" ng-model="address.area"  required class="form-control ">
				</div>
			</td>
			<td class="ibspan col-xs-12 col-sm-12 col-md-6">
				<div class="form-group">
					<label class="control-label label-block">District</label>
					<input type="text" name="District" ng-model="address.district" class="form-control">
				</div>			
			</td>
		</tr>
		<tr>
			<td class="ibspan col-xs-12 col-sm-12 col-md-6">
				<div class="form-group required scrollable-dropdown-menu" ng-class="{'has-error':Address.resCity.$invalid && !Address.resCity.$pristine}">
					<label class="control-label label-block">City</label>
					<select class="form-control" name="resCity" ng-model="address.city" required>
						<option value="">Select</option>
						<option value="{{city}}" ng-repeat="city in cities">{{city}}</option>
					</select>
				</div>			
			</td>
			
			<td class="ibspan col-xs-12 col-sm-12 col-md-6">
				<div class="form-group scrollable-dropdown-menu">
					<label class="control-label label-block">State</label>
					
					<select class="form-control" ng-model="address.state">
						<option value="">Select</option>
						<option value="{{state.id}}" ng-repeat="state in states">{{state.value}}</option>
					</select>
				</div>			
			</td>
		</tr>
	</table>
	
	
</div>
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="Address.$invalid" >Submit</button>
</div>