<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="insuredForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Insured Members</div>
	   		<div class = "clear"></div>
   				<div class="body">
   					<div class="main-section">
   						<div class="proposer-process">
	    					<div class="define">
	    						<img ng-src="./image/info.png">
	    						<span>Who do you want to Insure?</span>
	    					</div>
   							<div ng-form="memberForm" class="row mnone insured_mnone" ng-repeat="insured in proposalInput.insured">
   								<div class="col-sm-2">Insured Person's Details for <span ng-if="insured.type=='A'">Adult</span><span ng-if="insured.type=='C'">Child</span> DOB: {{insured.dob |date:'yyyy-MM-dd'}}</div>
   								<div class="col-sm-10" style="margin-bottom:10px;">
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Title</label>
    										<div  ng-if="insured.gender=='M'"  >
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="DR">Dr</option>
							    					<option value="MASTER">Master</option>
							    					<option value="MR">Mr</option>
							    					<option value="MRS">Mrs</option>
												</select>
											</div>
										
											<div ng-if="insured.gender=='F'"  >
												
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="DR">Dr</option>
							    					<option value="MS">Ms</option>
							    					<option value="MISS">Miss</option>
							    					<option value="BABY">Baby Girl</option>
							    					
												</select>
											</div>
										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.firstName.$invalid && ! memberForm.firstName.$pristine}">
    										<label class="control-label required">First Name</label>
    										<input type="text" class="form-control" name="firstName" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.firstName" required>
   										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group" ng-class="{'has-error':memberForm.middleName.$invalid && ! memberForm.middleName.$pristine}">
   											<label class="control-label required">Middle Name</label>
   											<input type="text" class="form-control" name="middleName"  ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.middleName">
   										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.lastName.$invalid && ! memberForm.lastName.$pristine}">
    										<label class="control-label">Last Name</label>
    										<input type="text" class="form-control" name="lastName"  ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/"  ng-model="insured.lastName" required>
   										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label"> Date of Birth</label>
    										<input type="text" class="form-control" name="insdob" ng-model="insured.dob" readonly>
   										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Gender</label>
    										<div class = "clear"></div>
    										<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='M'}"  uib-btn-radio="'M'" required>Male</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='F'}"  uib-btn-radio="'F'" required>Female</label>
											</div>
										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Relationship with Proposer</label>
    										<div>
    											<select class=" form-control" name="relaInsured" ng-model="insured.relationshipId"  readonly>
													<option value="">Select</option>
													<option value="{{item.id}}"  ng-repeat="item in insurerMaster.Relationship| filter:{'gender': insured.gender}">{{item.value}}</option>
												</select>
											</div>
										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Occupation</label>
    										<select class="form-control" ng-model="insured.occupationType" required>
						    					<option value="">Select</option>
						    					<option value="{{item.id}}" ng-repeat="item in insurerMaster.Occupation">{{item.value}}</option>
							    			</select>
						    			</div>
   									</div>
   									
   									<div class="col-sm-4">
   									  <div class="form-group required" ng-class="{'has-error':memberForm.height.$invalid && ! memberForm.height.$pristine}">
   										<label class="control-label">Height in cm</label>
   										<input type="number" name= "height" class="form-control" ng-min="20" ng-max="300" ng-model="insured.height"  required>
									   </div>
   									</div>
   									
   									
   									<div class="col-sm-4">
   										 <div class="form-group required" ng-class="{'has-error':memberForm.weight.$invalid && ! memberForm.weight.$pristine}">
    										<label class="control-label"> Weight in kg</label>
    										<input type="number" name = "weight" class="form-control" ng-min="2" ng-max="300"   ng-model="insured.weight" required>
										 </div>
   									</div> 
   									
	   								<div class = "clear"></div>
	   									
   									
   									
   									<div ng-if ="proposalInput.productId == '129HL01F01' && insured.type == 'A'">
   									
	   									<div class="col-sm-8">
	   										<div class="form-group required">
	    										<label class="control-label">Is PersonalAccident Applicable for this member?</label>
	    										<div class = "clear"></div>
	    										<div class="btn-group" data-toggle="buttons">
													<label class="btn btn-primary btn_prim" ng-model="insured.isPersonalAccidentApplicable" ng-class="{'active':insured.isPersonalAccidentApplicable=='Y'}"  uib-btn-radio="'Y'" 
													 ng-change="insuredError()" required>Yes</label>
													<label class="btn btn-primary btn_prim" ng-model="insured.isPersonalAccidentApplicable" ng-class="{'active':insured.isPersonalAccidentApplicable=='N'}"  uib-btn-radio="'N'" 
													ng-change="insuredError()" required>No</label>
												</div>
											</div>
	   									</div>
	   									
	   									<div class="col-sm-6">
	   										<div class="form-group required">
	    										<label class="control-label">Is insured engaging in any manual labour?</label>
	    										<div class = "clear"></div>
	    										<div class="btn-group" data-toggle="buttons">
													<label class="btn btn-primary btn_prim" ng-model="insured.isEngageManualLabour" ng-class="{'active':insured.isEngageManualLabour=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
													<label class="btn btn-primary btn_prim" ng-model="insured.isEngageManualLabour" ng-class="{'active':insured.isEngageManualLabour=='N'}"  uib-btn-radio="'N'" required>No</label>
												</div>
											</div>
	   									</div>
	   									
	   									<div class="col-sm-6" ng-if ="insured.isEngageManualLabour=='Y'">
	   										<div class="form-group required" ng-class="{'has-error':memberForm.manuallabour.$invalid && ! memberForm.manuallabour.$pristine}">
	    										<label class="control-label">Please Provide manual labour Details</label>
	    										<input type="text" class="form-control" name="manuallabour"  ng-minlength="3" ng-maxlength="40"  ng-model="insured.engageManualLabour" required>
	   										</div>
	   									</div>
	   									
	   									<div class = "clear"></div>
	   									
	   									<div class="col-sm-6">
	   										<div class="form-group required">
	    										<label class="control-label">Is insured engaging in any Winter Sports?</label>
	    										<div class = "clear"></div>
	    										<div class="btn-group" data-toggle="buttons">
													<label class="btn btn-primary btn_prim" ng-model="insured.isEngageWinterSports" ng-class="{'active':insured.isEngageWinterSports=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
													<label class="btn btn-primary btn_prim" ng-model="insured.isEngageWinterSports" ng-class="{'active':insured.isEngageWinterSports=='N'}"  uib-btn-radio="'N'" required>No</label>
												</div>
											</div>
	   									</div>
	   									
	   									<div class="col-sm-6" ng-if = "insured.isEngageWinterSports=='Y'">
	   										<div class="form-group required" ng-class="{'has-error':memberForm.wintersports.$invalid && ! memberForm.wintersports.$pristine}">
	    										<label class="control-label">Please Provide Winter Sports Details</label>
	    										<input type="text" class="form-control" name="wintersports"  ng-minlength="3" ng-maxlength="40" ng-model="insured.engageWinterSports" required>
	   										</div>
	   									</div>
   										<div class = "clear"></div>
   									</div>									
   									<div class = "clear"></div>
   								</div>
   								<div class = "clear"></div>
   							</div>
   							<div class = "clear"></div>
   							<div class="row">
   								<div class="col-sm-12">
									<span ng-show="pageErrors.insuredError" class="has-error" id="insuredError" style="color:red">{{pageErrors.insuredErrorText}}</span>
									<span class="has-error" id="insuredError" style="color:red">{{InsuredGenderError}}</span>
  								</div>
   							</div>
   							<div class = "clear"></div>
   						</div>
   					</div>
   				</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
   					<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="insuredForm.$invalid" ng-click="nextSection('2')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>