<div class="formSection hwdtails">
    <form class="form-horizontal form_horizontal" name="medicalForm" autocomplete="off" novalidate>
        <div class="form-panel col-sm-12 col-md-12">
            <div class="heads">Medical History</div>
            <div class="clear"></div>
            <div class="body">
                <div class="main-section">
                    <div class="contact-process">
                        <div class="define">
                            <img ng-src="./image/info.png">
                            <span>Have any of the person proposed to be insured ever suffered from/ are currently suffering from any of the following</span>
                        </div>
                        <div>
                            <div class="row mnone conditional-question" ng-repeat="question in medicalQuestions track by $index">
                                <div class="col-sm-10 pnone">
                                    <div class="quest-pad">
                                        <span class="q-point">Q</span>
                                        <span class="">{{question.questiontext}}</span></br>
                                    </div>
                                </div>
                                <div classs="col-sm-4 pnone">
                                    <label class="btn btn-primary btn_prim" ng-model="question.exists" uib-btn-radio="'Y'" ng-change="medicalPageComplete()" required>Yes</label>
                                    <label class="btn btn-primary btn_prim" ng-model="question.exists" uib-btn-radio="'N'" ng-change="medicalPageComplete()" required>No</label>
                                </div>
                                <br>
                                <div ng-if="question.exists == 'Y'" class="col-sm-12">
                                    <div class="table table-responsive">
                                        <div>
                                            <span>Details of Medical Conditions</span>
                                            <button class="btn btn-primary btn-sm pull-right" ng-click="AddMedicalRow(question.code)"><span class="glyphicon glyphicon-plus"></span></button>
                                        </div>
                                        <br>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Insured Name</th>
                                                    <th>Description</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="illness in question.details track by $index">
                                                    <td>
                                                        <select class="form-control" ng-model="illness.insuredId" required>
                                                            <option value="">Select</option>
                                                            <option ng-repeat="insured in proposalInput.insured" value="{{insured.insuredId}}">{{insured.firstName}} {{insured.lastName}}</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div class="form-group required">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" name="desc" ng-model="illness.desc" required />

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td ng-click="DeleteMedicalRow(question.code, $index)"><span class="glyphicon glyphicon-trash"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br>

                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <span ng-show="pageErrors.medicalError" class="has-error" id="medicalError" style="color:red">{{pageErrors.medicalErrorText}}</span>
                    </div>
                </div>
                <div class="clear"></div>
                <p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;"></p>
            </div>
            <div class="clear"></div>
            <!--.body -->
            <div class="foot">
                <div class="cf-pull-right">
                    <button class="btn cf-btn btn-lg btn-gry" ng-click="back(1)" style="/* display: none; */">
                        <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
                    <div class="cf-pull-right">
                        <button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="medicalForm.$invalid || pageErrors.medicalError" ng-click="nextSection('3')">Continue <img ng-src="./image/arrow-right.png"> </button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>