<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="contactForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Contact Info</div>
	   		<div class = "clear"></div>
			<div class="body">
				<div class="main-section">
					<div class="contact-process">
						<div class="define">
							<img ng-src="./image/info.png">
							<span>Tell us about where to send the policy Document</span>
					</div>
  					<div class="row mnone">
  					
  						
 						<div class="col-sm-12 col-md-12 col-lg-12">
 								<div class="form-group required">
  								<label class="control-label">Are the Policy and Mailing Address the same?</label>
  								<div class="btn-group">
  									<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.policyRegAddressSame" ng-change = "samePolicyCorrAddress('Y')" ng-class="{'active':proposalInput.proposer.policyRegAddressSame=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
  									<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.policyRegAddressSame" ng-change = "samePolicyCorrAddress('N')" ng-class="{'active':proposalInput.proposer.policyRegAddressSame=='N'}"  uib-btn-radio="'N'" required>No</label>
  								</div>
 								</div>
 						</div>
 							
 						<div class="clear"></div>
 						<br><br>
	   					<div class="col-sm-6 add-borde"> 
	   						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Policy Address</h3>
	   						<div class="col-sm-12">
		   						<div class="form-group required"  ng-class="{'has-error':contactInfo.policyAdd_one.$invalid && ! contactInfo.policyAdd_one.$pristine}">
		   							<label class="control-label">Flat/House No</label>
		   							<input type="text" name="policyAdd_one" class="form-control field" ng-model="proposalInput.proposer.policyAddressLine1" ng-minlength="1" ng-maxlength="30" required>
		   						</div>
	   						</div>
	   						<div class="col-sm-12">
		   						<div class="form-group required" ng-class="{'has-error':contactInfo.policyAdd_two.$invalid && ! contactInfo.policyAdd_two.$pristine}">
		   							<label class="control-label">Building/Street</label>
		   							<input type="text" placeholder="5-30 Characters" name="policyAdd_two" class="form-control field" ng-model="proposalInput.proposer.policyAddressLine2" ng-minlength="5" ng-maxlength="30" required>
		   						</div>
	   						</div>
		   					<div class="col-sm-12">
		   							<div class="form-group required"   ng-class="{'has-error':contactInfo.policyAdd_three.$invalid && ! contactInfo.policyAdd_three.$pristine}">
		   							<label class="control-label">Landmark</label>
		   							<input type="text" placeholder="5-30 Characters"class="form-control field" name="policyAdd_three" ng-model="proposalInput.proposer.policyAddressLine3" ng-minlength="5" ng-maxlength="30" required>
		   						</div>
	   						</div>	
							<div class="col-sm-6">
								<div class="form-group required">
									<label class="control-label">State</label>
									<select class="form-control" ng-options="item as item.value for item in insurerMaster.State track by item.id" 
		   							ng-model="polState" ng-change = "getCities('P',polState)" required>
			   						</select>
								</div>
							</div>	
	   							
	   						<div class="col-sm-6">
	   							<div class="form-group required">
		   							<label class="control-label">City</label>
		   							<select class="form-control" ng-options="item as item.value for item in polCities track by item.id" 
		   							ng-model="polCity" ng-change="setCityState('P', polCity)" required>
			   						</select>
	   							</div>
	   						</div>							
   							<div class="col-sm-6">
   								<div class="form-group required"  ng-class="{'has-error':contactInfo.policyAdd_pincode.$invalid && ! contactInfo.policyAdd_pincode.$pristine}">
   								<label class="control-label">Pincode</label>
   								<input type="text" name="policyAdd_pincode" class="form-control field" ng-pattern="/^[1-9][0-9]{5}$/"  ng-model="proposalInput.proposer.policyPincode"  required>
   								</div>
   							</div>
	   							
	   					</div>
   					
   					
   					<div ng-if="proposalInput.proposer.policyRegAddressSame=='N'" class="col-sm-6 add-borde"> 
   						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Contact Address</h3>
   						<div class="col-sm-12">
	   						<div class="form-group required"   ng-class="{'has-error':contactInfo.contactAdd_one.$invalid && ! contactInfo.contactAdd_one.$pristine}">
	   							<label class="control-label">Flat/House No</label>
	   							<input type="text" name="contactAdd_one" class="form-control field" ng-model="proposalInput.proposer.corrAddressLine1" ng-minlength="1" ng-maxlength="30"required>
	   						</div>
   						</div>
   						<div class="col-sm-12">
	   						<div class="form-group required"   ng-class="{'has-error':contactInfo.contactAdd_two.$invalid && ! contactInfo.contactAdd_two.$pristine}">
	   							<label class="control-label">Building/ Street</label>
	   							<input type="text" placeholder="5-30 Characters" name="contactAdd_two" class="form-control field" ng-model="proposalInput.proposer.corrAddressLine2" ng-minlength="5" ng-maxlength="30"required>
	   						</div>
   						</div>
   						<div class="col-sm-12">
   							<div class="form-group required"  ng-class="{'has-error':contactInfo.contactAdd_three.$invalid && ! contactInfo.contactAdd_three.$pristine}">
	   							<label class="control-label">Landmark</label>
	   							<input type="text" placeholder="5-30 Characters" class="form-control field" name="contactAdd_three" ng-model="proposalInput.proposer.corrAddressLine3" ng-minlength="5" ng-maxlength="30" required>
   							</div>
  						</div>
						
						<div class="col-sm-6" style="padding-left:0px;">
							<div class="form-group required">
								<label class="control-label">State</label>
								<select class="form-control" ng-options="item as item.value for item in insurerMaster.State track by item.id" 
	   							ng-model="corState" ng-change = "getCities('C',corState)" required>
		   						</select>
							</div>
						</div>	
   							
   						<div class="col-sm-6">
   							<div class="form-group required">
	   							<label class="control-label">City</label>
	   							<select class="form-control" ng-options="item as item.value for item in corCities track by item.id" 
	   							ng-model="corCity" ng-change="setCityState('C', corCity)" required>
		   						</select>
   							</div>
   						</div>					
							   						
  						<div class="col-sm-6">
							<div class="form-group required" ng-class="{'has-error':contactInfo.contactpincode.$invalid && ! contactInfo.contactpincode.$pristine}">
								<label class="control-label">Pincode</label>
								<input name="contactpincode" type="text" class="form-control field" ng-pattern="/^[1-9][0-9]{5}$/"  ng-model="proposalInput.proposer.corrPincode"  required>
								<span class="has-error " ng-show="showError=='false'">Invalid Pin Code</span>
							</div>
						</div>

   							
   					</div>

   				</div>
  				</div>
  			</div>
  			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
  		</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(3)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="contactForm.$invalid" ng-click="nextSection('5')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>