<div class="formSection hwdtails">
   	<form class="form-horizontal" name="lifeStyle" autocomplete="off" autocomplete="off" novalidate>
   		<div class = "clear"></div>
   		<div class="form-panel">
   			<div class="heads">Life Style </div>
   			<div class="body">
   				<div class="contact-process">
  					<div class="define">
  						<img ng-src="./image/info.png">
  						<span>Life style Choices of the Insured</span>
  					</div>
    			<div class="row mnone conditional-question" >
			      	<div class="col-sm-8 pnone">
			      			<!--  Cigarates -->
  							<div class="col-sm-12">
		  						<div class="col-sm-4 pnone">
		  							<div class="">1. Do you Smoke?</div>
		  							<div class="clear"></div>
		  							<div>
		  								<label class="btn btn-primary btn_prim" ng-model="smokes" uib-btn-radio="'Y'" required>Yes</label>
										<label class="btn btn-primary btn_prim" ng-model="smokes"   uib-btn-radio="'N'" required>No</label>
		  							</div>
		  						</div>
		  						<div ng-if = "smokes == 'Y'" class="col-sm-8">
			  						<div class= "col-sm-8 pnone">
			  							<span> How many Cigarates a day</span>
			  						</div>
			  						<div class="clear"></div>
			  						<div class= "col-sm-4 pnone">
			  							<input type="number" ng-min = "0" mg-max ="30" class="form-control field"  ng-model="numCigarets"  required>
			  						</div>
		  						</div>
		  						<div class="clear"></div>
		  						<br>
  							</div>
  							<div class="clear"></div>
			      			<!--  Pouches -->
  							<div class="col-sm-12">
  								<div class="col-sm-4 pnone">
  									<div class="">2. Do you chew Tobacco?</div>
  									<div class="clear"></div>
		  							<div>
		   								<label class="btn btn-primary btn_prim" ng-model="chew" uib-btn-radio="'Y'" required>Yes</label>
										<label class="btn btn-primary btn_prim" ng-model="chew"   uib-btn-radio="'N'" required>No</label>
										<div class="clear"></div>
		  							</div>
  								</div>
		  						<div ng-if = "chew == 'Y'" class="col-sm-8">
			  						<div class= "col-sm-8 pnone">
			  							<span> How many pouches a day?</span>
			  						</div>
			  						<div class="clear"></div>
			  						<div class= "col-sm-4 pnone">
			  							<input type="number" ng-min = "0" mg-max ="30" class="form-control field"  ng-model="numchew"  required>
			  						</div>
		  						</div>
		  						<div class="clear"></div>
		  						<br>
  							</div>
  							<div class="clear"></div>
			      			<!--  Hard liquour -->
  							<div class="col-sm-12">
  								<div class="col-sm-4 pnone">
  									<div class="">3. Do you consume Hard Liqour?</div>
  									<div class="clear"></div>
		  							<div>
		   								<label class="btn btn-primary btn_prim" ng-model="hardliquor" uib-btn-radio="'Y'" required>Yes</label>
										<label class="btn btn-primary btn_prim" ng-model="hardliquor"   uib-btn-radio="'N'" required>No</label>
										<div class="clear"></div>
		  							</div>
  								</div>
		  						<div ng-if = "hardliquor == 'Y'" class="col-sm-8">
			  						<div class= "col-sm-8 pnone">
			  							<span> How many 30 ml pegs per week?</span>
			  						</div>
			  						<div class="clear"></div>
			  						<div class= "col-sm-4 pnone">
			  							<input type="number" ng-min = "0" mg-max ="10" class="form-control field"  ng-model="numhardLiquor"  required>
			  						</div>
		  						</div>
		  						<div class="clear"></div>
		  						<br>
  							</div>
  							<div class="clear"></div>
  							
			      			<!--  Beer -->
  							<div class="col-sm-12">
  								<div class="col-sm-4 pnone">
  									<div class="">4. Do you consume Beer?</div>
  									<div class="clear"></div>
		  							<div>
		   								<label class="btn btn-primary btn_prim" ng-model="beer" uib-btn-radio="'Y'" required>Yes</label>
										<label class="btn btn-primary btn_prim" ng-model="beer"   uib-btn-radio="'N'" required>No</label>
										<div class="clear"></div>
		  							</div>
  								</div>
		  						<div ng-if = "beer == 'Y'" class="col-sm-8">
			  						<div class= "col-sm-8 pnone">
			  							<span> How many Bottles per week?</span>
			  						</div>
			  						<div class="clear"></div>
			  						<div class= "col-sm-4 pnone">
			  							<input type="number" ng-min = "0" mg-max ="10" class="form-control field"  ng-model="numBeer"  required>
			  						</div>
		  						</div>
		  						<div class="clear"></div>
		  						<br>
  							</div>
  							<div class="clear"></div>
  							
			      			<!--  Wine -->
  							<div class="col-sm-12">
  								<div class="col-sm-4 pnone">
  									<div class="">5. Do you consume Wine?</div>
  									<div class="clear"></div>
		  							<div class="col-sm-12 pnone">
		   								<label class="btn btn-primary btn_prim" ng-model="wine" uib-btn-radio="'Y'" required>Yes</label>
										<label class="btn btn-primary btn_prim" ng-model="wine"   uib-btn-radio="'N'" required>No</label>
										<div class="clear"></div>
		  							</div>
  								</div>
		  						<div ng-if = "wine == 'Y'" class="col-sm-8">
			  						<div class= "col-sm-8 pnone">
			  							<span> How many glasses per week?</span>
			  						</div>
			  						<div class="clear"></div>
			  						<div class= "col-sm-4 pnone">
			  							<input type="number" ng-min = "0" mg-max ="10" class="form-control field"  ng-model="numwine"  required>
			  						</div>
		  						</div>
  							</div>
  							<div class="clear"></div>
  							<br>
  						</div>
  						<div class="clear"></div>
				</div>				      
				<!--  end of questions -->
						            	
    		
    		</div>	
    		<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
   			</div>
   			 <!--.body  -->
   			<div class="foot">
	   			<div class="clearfix">
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(2)" style="/* display: none; */">
                       		<img ng-src="./image/arrow-left.png">&nbsp;Back
                   		</button>
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="lifeStyle.$invalid || !lsPageComplete()" ng-click="nextSection('4')">Continue <img ng-src="./image/arrow-right.png"></button>
	   				</div>
	   			</div>
  		 	</div>
  		 	<!--.foot  -->
   		</div>
   		<div class = "clear"></div>
   	</form>
</div>