<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Add Medical Details</h4>
</div>
<form class="form-horizontal form_horizontal" name="lsDetails">
	<div class="modal-body">
		
		<div class ="col-sm-12 col-xs-12 col-md-12">
			<div class="col-sm-12 col-xs-12 col-md-6">
				<div class="form-group required">
					<label class="control-label label-block">Insured</label>
					<select class="form-control" ng-model="question.insuredId"  required>
						<option value="">Select</option>
						<option ng-repeat = "insured in insureds" value="{{insured.id}}">{{insured.name}}</option>
					</select>
				</div>
			</div>
			<div class="clear"></div>		
			<div class="col-sm-12 padd0">
				<div class="col-sm-6 list-item-proposer ">
					<div class="form-group required">
 						<label class="control-label">{{question.text1}}</label>
 						<div >
    						<input type="number" class="form-control" ng-min="1" ng-max= "999" ng-model="question.quantity"  required>
	    				</div>
    				</div>
				</div>
				<div class="col-sm-6 list-item-proposer ">
					<div class="form-group required">
 						<label class="control-label">No of years Consumed</label>
 						<div >
    						<input type="number" class="form-control" ng-min="1" ng-max= "50" ng-model="question.noOfYears"  required>
	    				</div>
    				</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<br><br>
		<!-- <div class="col-sm-12"> -->

	</div>
	<!-- </div> -->
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-primary btn_default" ng-disabled="lsDetails.$invalid"   ng-click="ok()">Submit</button>
</div>