<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="medicalForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Medical History</div>
	   		<div class = "clear"></div>
			<div class="body">
				<div class="main-section">
					<div class="contact-process">
	 					<div class="define">
	 						<img ng-src="./image/info.png">
	 						<span>Have any of the person proposed to be insured ever suffered from/ are currently suffering from any inujry or preexisting illness</span>
	 					</div>
	 					<div class = "clear"></div>  	
		           		<div class="row mnone conditional-question"   ng-repeat="question in medicalQuestions track by question.seq">
					      	<div class="col-sm-10 pnone">
		  							<div class="quest-pad">
		  								<span>Q {{question.seq}}. </span>
		  								<span class="">{{question.questiontext}}</span></br>
		  							</div>
		  						</div>
		  						<div classs="col-sm-4 pnone">
		   						<label class="btn btn-primary btn_prim" ng-model="question.exists" uib-btn-radio="'Y'" ng-change = "medicalPageComplete()" required>Yes</label>
								<label class="btn btn-primary btn_prim" ng-model="question.exists" uib-btn-radio="'N'" ng-change = "medicalPageComplete()" required>No</label>
		  						</div><br>
					    </div>
	 					<div class = "clear"></div>	 					
		   				<div class="col-sm-9" ng-if="nstpCase">
		   				
							<div class="col-sm-3 top"> 
								<label class="top">Medical Documents</label>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6">
								<input type = "file" file-model ng-model= "medicalDoc.fileName" ng-change="uploadDoc()" required />
							</div>
							<div class="col-sm-3 col-md-3 col-lg-3">
								<div ng-if="medicalDoc.status == '1'">
									<meter max="100" value="{{medicalDoc.progressBar}}"></meter>{{medicalDoc.progressCounter}}%
								</div>
								<div ng-if="medicalDoc.status == '2'">
									<span>Uploaded</span><span class = "glyphicon glyphicon-saved green"></span>
								</div>
								<div ng-if="medicalDoc.status == '3'">
									<div>{{medicalDoc.errorText}}<span class = "glyphicon glyphicon-remove red"></span></div>
								</div>
							</div>
		   				</div>
	 					
						<div class = "clear"></div>
						<div class="row">
							<div class="col-sm-12">
								<span ng-show="pageErrors.medicalError" class="has-error" id="insuredError" style="color:red">{{pageErrors.medicalErrorText}}</span>
							</div>
						</div>
						<div class = "clear"></div>
 				 	</div>
 				 	<div class = "clear"></div>
 				</div>
 				<div class = "clear"></div>
 				<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
 			</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(1)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="medicalForm.$invalid || pageErrors.medicalError" ng-click="nextSection('3')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>