<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="aboutinsured" novalidate autocomplete="off">
		<div class="form-panel col-sm-12 col-md-12">
			<div class="about-yourself heads">About Proposer</div>
			
			<div class="col-sm-4  col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutyourself.isProposerSameInsured.$invalid && !aboutyourself.isProposerSameInsured.$pristine }">
					<label class="control-label label-block">Is Proposer same as Insured?</label>
					
					<!-- data-toggle="buttons" -->
					<div class="btn-group" >
						<label class="btn btn-primary" uib-btn-radio="'Y'" ng-model="proposalInput.insured.isProposerSameInsured"  ng-click="isProposerSameInsureds('Y')"
						ng-class="{'active':proposalInput.insured.isProposerSameInsured=='Y'}" required>
						Yes</label>
						<label class="btn btn-primary" uib-btn-radio="'N'" ng-model="proposalInput.insured.isProposerSameInsured"  ng-click="isProposerSameInsureds('N')" ng-class="{'active':proposalInput.insured.isProposerSameInsured=='N'}" required>
							
						No</label>
					</div>
				</div>
			</div>
			
			<div class="clear"></div>
			
			<div ng-if = "proposalInput.insured.isProposerSameInsured=='N'">
				
					
				<!--  Row 1   -->
				<div class="col-sm-4  col-md-4" >
					<div class="form-group required" ng-class="{'has-error':aboutyourself.title.$invalid && !aboutyourself.title.$pristine }">
						<label class="control-label label-block">Salutation</label>
						<select class="form-control field" name="title"  ng-model="proposalInput.proposer.title"  required>
							<option value="">Select</option>
							<option ng-repeat="item in insurerMaster.Title" value="{{item.id}}" >{{item.value}}</option>
						</select>
						<span class="errorMsg" ng-show="aboutyourself.title.$error.required">This field is required</span>
					</div>
				</div>
				
									
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.firstname.$invalid && !aboutyourself.firstname.$pristine }">
						<label class="control-label label-block" >First Name</label>
						<input type="text" name="firstname" class="form-control field"  ng-model="proposalInput.proposer.firstName" ng-minlength="3" ng-required="true">
						<span class="errorMsg" ng-show="aboutyourself.firstname.$error.required  && !aboutyourself.firstname.$pristine">This field is required</span>
						<span class="errorMsg" ng-show="aboutyourself.firstname.$error.minlength  && !aboutyourself.firstname.$pristine">Minimum char is 3.</span>
					</div>
					
				</div>
				
				<div class="col-sm-4   col-md-4">
					<div class="form-group ">
						<label class="control-label label-block" >Middle Name</label>
						<input type="text" name="middleName" class="form-control field"  ng-model="proposalInput.proposer.middleName" ng-minlength="3">
					</div>
				</div>
				
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.lname.$invalid && !aboutyourself.lname.$pristine }">
						<label class="control-label label-block">Last Name</label>
						<input type="text" ng-model="proposalInput.proposer.lastName" name="lname" class="form-control" ng-minlength="3" required>
						<span class="errorMsg" ng-show="aboutyourself.lname.$error.required && !aboutyourself.lname.$pristine">This field is required</span>
						<span class="errorMsg" ng-show="aboutyourself.lname.$error.minlength && !aboutyourself.lname.$pristine">Minimum char is 3.</span>
					</div>
					<p ></p>
				</div>
					
				
				
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.gender.$invalid && !aboutyourself.gender.$pristine }">
						<label class="control-label label-block">Gender</label>
						<!--  data-toggle="buttons" -->
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" uib-btn-radio="'M'"  ng-model="proposalInput.proposer.gender" ng-class="{active: proposalInput.proposer.gender =='M'}">
		            			Male
		       				</label>
		       				<label class="btn btn-primary" uib-btn-radio="'F'"  ng-model="proposalInput.proposer.gender" ng-class="{active: proposalInput.proposer.gender =='F'}">
		            			Female
		       				</label>
						</div>
					 	
				        <span class="errorMsg" ng-show="aboutyourself.gender.$error.required && !aboutyourself.gender.$pristine">This field is required</span>
					</div>
				</div>
				
				<div class="col-sm-4  col-md-4" >
					<div class="form-group required" ng-class="{'has-error':aboutyourself.relationshipWithLi.$invalid && !aboutyourself.relationshipWithLi.$pristine }">
						<label class="control-label label-block">Relationship with Insured</label>
						<select class="form-control field" name="title"  ng-model="proposalInput.proposer.relationshipWithLi"  required>
							<option value="">Select</option>
							<option value="Parent" >Parent</option>
							<option value="Parent" >GrandParent</option>
							<option value="Parent" >Spouse</option>
						</select>
						<span class="errorMsg" ng-show="aboutyourself.relationshipWithLi.$error.required">This field is required</span>
					</div>
				</div>
					
				<div class="col-sm-4 col-md-4 form-group required" ng-class="{'has-error':aboutyourself.marital.$invalid && !aboutyourself.marital.pristine}">
					<label class="control-label label-block" >Your Marital Status</label>
					<!-- data-toggle="buttons" -->
					<div class="btn-group">
						<label class="btn btn-primary" uib-btn-radio="'S'"  ng-model="proposalInput.proposer.maritalStatus" ng-class="{active: proposalInput.proposer.maritalStatus =='S'}" required>
	            			Single
	       				</label>
	       				<label class="btn btn-primary" uib-btn-radio="'M'"  ng-model="proposalInput.proposer.maritalStatus" ng-class="{active: proposalInput.proposer.maritalStatus =='M'}" required>
	            			Married
	       				</label>
	       				<label class="btn btn-primary" uib-btn-radio="'D'"  ng-model="proposalInput.proposer.maritalStatus" ng-class="{active: proposalInput.proposer.maritalStatus =='D'}" required>
	            			Divorced
	       				</label>
	       				<label class="btn btn-primary" uib-btn-radio="'W'"  ng-model="proposalInput.proposer.maritalStatus" ng-class="{active: proposalInput.proposer.maritalStatus =='W'}" required>
	            			Widowed
	       				</label>
					</div>
			        <span class="errorMsg" ng-show="aboutyourself.marital.$error.required && !aboutyourself.marital.$pristine ">This field is required</span>
				</div>
								
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.dob.$invalid && !aboutyourself.dob.$pristine }">
						<label class="control-label label-block" >Date Of Birth</label>
						<span class="input-group">
		                    <input type="text" class="form-control" name="dob" id="dob" 
		          			uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.dob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required" />
		                  	<span class="input-group-btn">
		                    	<button type="button" class="btn btn-primary" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
		                  	</span>
		        		</span>
		        		<span class="errorMsg" ng-show="aboutyourself.dob.$error.required && !aboutyourself.dob.$pristine">This field is required</span>
					</div>
				</div>
				
								
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.ageProof.$invalid && !aboutyourself.ageProof.$pristine }">
						<label class="control-label label-block">Age proof </label>
						<select class="form-control" name="ageProof" ng-model="proposalInput.proposer.ageProofType" required>
							<option ng-repeat="item in insurerMaster.AgeProof" value="{{item.id}}" >{{item.value}}</option>
						</select>
						<span class="errorMsg" ng-show="aboutyourself.ageProof.$error.required && !aboutyourself.ageProof.$pristine">This field is required</span>
					</div>
				</div>
				
				<!--  Row  -->
				
				<div ng-if = "proposalInput.proposer.ageProofType == 'DL' || proposalInput.proposer.ageProofType == 'PP'" >
					<div class="form-group col-sm-5   col-md-5 required" ng-class="{'has-error':aboutyourself.ageProofIssue.$invalid && !aboutyourself.ageProofIssue.$pristine }">
						<label class="control-label label-block" >Date Of Issue</label>
						<span class="input-group">
		                    <input type="text" class="form-control" name="ageProofIssue" id="ageProofIssue" 
		          			uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.ageProofIssue" is-open="popup3.opened" datepicker-options="pastDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required" />
		                  	<span class="input-group-btn">
		                    	<button type="button" class="btn btn-primary" ng-click="openDI()"><i class="glyphicon glyphicon-calendar"></i></button>
		                  	</span>
		        		</span>
		        		<span class="errorMsg" ng-show="aboutyourself.ageProofIssue.$error.required && !aboutyourself.ageProofIssue.$pristine">This field is required</span>
					</div>
				
									
					<div class="form-group col-sm-4   col-md-4 required" ng-class="{'has-error':aboutyourself.ageProofexpiry.$invalid && !aboutyourself.ageProofexpiry.$pristine }">
							<label class="control-label label-block" >Date Of Expiry</label>
							<span class="input-group">
			                    <input type="text" class="form-control" name="ageProofexpiry" id="ageProofexpiry" 
			          			uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.ageProofexpiry" is-open="popup2.opened" datepicker-options="futureDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required" />
			                  	<span class="input-group-btn">
			                    	<button type="button" class="btn btn-primary" ng-click="openDE()"><i class="glyphicon glyphicon-calendar"></i></button>
			                  	</span>
			        		</span>
			        		<span class="errorMsg" ng-show="aboutyourself.ageProofexpiry.$error.required && !aboutyourself.ageProofexpiry.$pristine">This field is required</span>
					</div>			
				
				</div>
					
				<!--  Row 4   -->
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.ageProof.$invalid && !aboutyourself.ageProof.$pristine }">
						<label class="control-label label-block">Birth Country </label>
						<select class="form-control" name="birthCountry" ng-model="proposalInput.proposer.birthCountry" required>
							<option value="">Select</option>
							<option value="{{country.id}}" ng-repeat="country in insurerMaster.Country">{{country.value}}</option>
						</select>
						<span class="errorMsg" ng-show="aboutyourself.birthCountry.$error.required && !aboutyourself.birthCountry.$pristine">This field is required</span>
					</div>
				</div>
						
								
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.birthCity.$invalid && !aboutyourself.birthCity.$pristine }">
						<label class="control-label label-block">Birth City</label>
						<input type="text" name="birthCity" class="form-control field"  ng-model="proposalInput.proposer.birthCity" required>
						<span class="errorMsg" ng-show="aboutyourself.birthCity.$error.required && !aboutyourself.birthCity.$pristine">This field is required</span>
						
						
					</div>
				</div>
								
				<!--  Row 7   -->
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.nationality.$invalid && !aboutyourself.nationality.$pristine }">
						<label class="control-label label-block">Residence Status</label>
						<select class="form-control" name="residentStatus" ng-model="proposalInput.proposer.residentStatus">
							<option value="">Select</option>
							<option value="{{nationality.id}}" ng-repeat="nationality in insurerMaster.Nationality">{{nationality.value}}</option>
						</select>
						<span class="errorMsg" ng-show="aboutyourself.residentStatus.$error.required && !aboutyourself.residentStatus.$pristine">This field is required</span>
					</div>
				</div>	
					
				<div class="col-sm-4 col-md-4"   ng-if = "proposalInput.proposer.residentStatus!='RI'">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.residence.$invalid && !aboutyourself.residence.$pristine }">
						<label class="control-label label-block">Country Of Residence</label>
						<select class="form-control" name="residence" ng-model="proposalInput.proposer.residence" required>
							<option value="">Select</option>
							<option value="{{country.id}}" ng-repeat="country in insurerMaster.Country">{{country.value}}</option>
						</select>
						<span class="errorMsg" ng-show="aboutyourself.residence.$error.required && !aboutyourself.residence.$pristine">This field is required</span>
					</div>
				</div>	
				<div class="clear"></div>
				
				<!--  Row 8   -->
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.isOtherCitizenship.$invalid && !aboutyourself.isOtherCitizenship.$pristine }">
						<label class="control-label label-block">Are you holding citizenship of any other country?</label>
						<!--  data-toggle="buttons" -->
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="proposalInput.proposer.isOtherCitizenship" ng-class="{active: proposalInput.proposer.isOtherCitizenship =='Y'}">
		            			Yes
		       				</label>
		       				<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="proposalInput.proposer.isOtherCitizenship" ng-class="{active: proposalInput.proposer.isOtherCitizenship =='N'}">
		            			NO
		       				</label>
						</div>
						<span class="errorMsg" ng-show="aboutyourself.isOtherCitizenship.$error.required && !aboutyourself.isOtherCitizenship.$pristine">This field is required</span>
					</div>
				</div>	
					
				<div class="col-sm-4 col-md-4"  ng-if = "proposalInput.proposer.isOtherCitizenship =='Y'">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.otherCitizenshipCountry.$invalid && !aboutyourself.otherCitizenshipCountry.$pristine }">
						<label class="control-label label-block">Other Citizenship</label>
						<select class="form-control" name="otherCitizenshipCountry" ng-model="proposalInput.proposer.otherCitizenshipCountry" required>
							<option value="">Select</option>
							<option value="{{country.id}}" ng-repeat="country in insurerMaster.Country">{{country.value}}</option>
						</select>
						<span class="errorMsg" ng-show="aboutyourself.otherCitizenshipCountry.$error.required && !aboutyourself.otherCitizenshipCountry.$pristine">This field is required</span>
					</div>
				</div>		
								
				<!--  Row  -->
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.isOtherCountryTaxResi.$invalid && !aboutyourself.isOtherCountryTaxResi.$pristine }">
						<label class="control-label label-block">Are you tax resident of any other country?</label>
						<!--  data-toggle="buttons" -->
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="proposalInput.proposer.isOtherCountryTaxResi" ng-class="{active: proposalInput.proposer.isOtherCountryTaxResi =='Y'}">
		            			Yes
		       				</label>
		       				<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="proposalInput.proposer.isOtherCountryTaxResi" ng-class="{active: proposalInput.proposer.isOtherCountryTaxResi =='N'}">
		            			NO
		       				</label>
						</div>
						<span class="errorMsg" ng-show="aboutyourself.isOtherCountryTaxResi.$error.required && !aboutyourself.isOtherCountryTaxResi.$pristine">This field is required</span>
					</div>
				</div>	
					
				<div class="col-sm-4 col-md-4" ng-if = "proposalInput.proposer.isOtherCountryTaxResi =='Y'">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.otherCountryTaxNo.$invalid && !aboutyourself.otherCountryTaxNo.$pristine }">
						<label class="control-label label-block">Tax Number</label>
						<input type="text" name="otherCountryTaxNo" class="form-control"  ng-model="proposalInput.proposer.otherCountryTaxNo"   ng-required="proposalInput.proposer.isOtherCountryTaxResi =='Y'">
						<span class="errorMsg" ng-show="aboutyourself.otherCountryTaxNo.$error.required && !aboutyourself.otherCountryTaxNo.$pristine">This field is required</span>
					</div>
				</div>		
										
				<!--  Row  -->
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.fatherfirstName.$invalid && !aboutyourself.fatherfirstName.$pristine}">
						<label class="control-label label-block" >Father/Spouse First Name</label>
						<input type="text" name="fatherfirstName" class="form-control field"  ng-model="proposalInput.proposer.fatherSpouseFirstName" required>
						<span class="errorMsg" ng-show="aboutyourself.fatherfirstName.$error.required && !aboutyourself.fatherfirstName.$pristine">This field is required</span>
					</div>
				</div>
				
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.fatherLastName.$invalid && !aboutyourself.fatherLastName.$pristine}">
						<label class="control-label label-block" >Father/Spouse Last Name</label>
						<input type="text" name="fatherLastName" class="form-control field"  ng-model="proposalInput.proposer.fatherSpouseLastName" required>
						<span class="errorMsg" ng-show="aboutyourself.fatherLastName.$error.required && !aboutyourself.fatherLastName.$pristine">This field is required</span>
					</div>
				</div>
						
				<!--  Row  -->
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.fatherfirstName.$invalid && !aboutyourself.fatherfirstName.$pristine}">
						<label class="control-label label-block" >Mother's First Name</label>
						<input type="text" name="motherfirstName" class="form-control field"  ng-model="proposalInput.proposer.motherFirstName" required>
						<span class="errorMsg" ng-show="aboutyourself.motherfirstName.$error.required && !aboutyourself.motherfirstName.$pristine">This field is required</span>
					</div>
				</div>
				
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.fatherLastName.$invalid && !aboutyourself.fatherLastName.$pristine}">
						<label class="control-label label-block" >Mother's Last Name</label>
						<input type="text" name="motherLastName" class="form-control field"  ng-model="proposalInput.proposer.motherSpouseLastName" required>
						<span class="errorMsg" ng-show="aboutyourself.motherLastName.$error.required && !aboutyourself.motherLastName.$pristine">This field is required</span>
					</div>
				</div>
						
				<!--  Row  -->
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.fatherfirstName.$invalid && !aboutyourself.fatherfirstName.$pristine}">
						<label class="control-label label-block" >Dominant Hand</label>
						<select class="form-control field" name="dominantHand"  ng-model="proposalInput.insured.dominantHand"  required>
							<option value="">Select</option>
							<option value="Left" >Left</option>
							<option value="Right" >Right</option>
						</select><span class="errorMsg" ng-show="aboutyourself.dominantHand.$error.required && !aboutyourself.dominantHand.$pristine">This field is required</span>
					</div>
				</div>
				
				
				<div ng-if = "proposalInput.proposer.gender =='F'" class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.maidenName.$invalid && !aboutyourself.maidenName.$pristine}">
						<label class="control-label label-block" >Maiden Name</label>
						<input type="text" name="maidenName" class="form-control field"  ng-model="proposalInput.proposer.maidenName" required>
						<span class="errorMsg" ng-show="aboutyourself.maidenName.$error.required && !aboutyourself.maidenName.$pristine">This field is required</span>
					</div>
				</div>
				<div class="clear"></div>
			
			</div>
			
			
		   	<div class="foot">
				<div class="clearfix">
					<div class="cf-pull-left">
						<button class="btn cf-btn btn-lg btn-gry" ng-click="prev(0)" style="/* display: none; */">
		                     <img ng-src="./image/arrow-left.png">&nbsp;Back
		                </button>
		            </div>
					<div class="cf-pull-right">
						<button class="btn cf-btn btn-lg btn-primary " ng-disabled="aboutyourself.$invalid" ng-click="saveandProceed(2)">Continue <img ng-src="./image/arrow-right.png"></button>
					</div>
				</div>
		 	</div>
		</div>
	</form>
</div>