<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="aboutinsured" novalidate autocomplete="off">
		<div class="form-panel col-sm-12 col-md-12">
			<div class="about-yourself heads">About Insured</div>
			<!--  Row 1   -->
			<div class="col-sm-4  col-md-4" >
				<div class="form-group required" ng-class="{'has-error':aboutinsured.title.$invalid && !aboutinsured.title.$pristine }">
					<label class="control-label label-block">Salutation</label>
					<select class="form-control field" name="title"  ng-model="proposalInput.insured.title"  required>
						<option value="">Select</option>
						<option ng-repeat="item in insurerMaster.Title" value="{{item.id}}" >{{item.value}}</option>
					</select>
				</div>
			</div>
			
						
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.firstname.$invalid && !aboutinsured.firstname.$pristine }">
					<label class="control-label label-block" >First Name</label>
					<input type="text" name="firstname" class="form-control field"  ng-model="proposalInput.insured.firstName" ng-minlength="3" ng-required="true">
					<span class="errorMsg" ng-show="aboutinsured.firstname.$error.required  && !aboutinsured.firstname.$pristine">This field is required</span>
					<span class="errorMsg" ng-show="aboutinsured.firstname.$error.minlength  && !aboutinsured.firstname.$pristine">Minimum char is 3.</span>
				</div>
				
			</div>
			
			
			<div class="col-sm-4   col-md-4">
				<div class="form-group ">
					<label class="control-label label-block" >Middle Name</label>
					<input type="text" name="middleName" class="form-control field"  ng-model="proposalInput.insured.middleName" ng-minlength="3">
				</div>
			</div>
			
						
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.lname.$invalid && !aboutinsured.lname.$pristine }">
					<label class="control-label label-block">Last Name</label>
					<input type="text" ng-model="proposalInput.insured.lastName" name="lname" class="form-control field" ng-minlength="3" required>
					<span class="errorMsg" ng-show="aboutinsured.lname.$error.required && !aboutinsured.lname.$pristine">This field is required</span>
					<span class="errorMsg" ng-show="aboutinsured.lname.$error.minlength && !aboutinsured.lname.$pristine">Minimum char is 3.</span>
				</div>
			</div>
			
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.gender.$invalid && !aboutinsured.gender.$pristine }">
					<label class="control-label label-block">Gender</label>
					<div class ="clear"></div>
					<!--  data-toggle="buttons" -->
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" uib-btn-radio="'M'"  ng-model="proposalInput.insured.gender" readonly ng-class="{active: proposalInput.insured.gender =='M'}">
	            			Male
	       				</label>
	       				<label class="btn btn-primary" uib-btn-radio="'F'"  ng-model="proposalInput.insured.gender" readonly ng-class="{active: proposalInput.insured.gender =='F'}">
	            			Female
	       				</label>
					</div>
				 	
			        <span class="errorMsg" ng-show="aboutinsured.gender.$error.required && !aboutinsured.gender.$pristine">This field is required</span>
				</div>
			</div>
			
			

			<div class="col-sm-4 col-md-4 form-group required" ng-class="{'has-error':aboutinsured.marital.$invalid && !aboutinsured.marital.pristine}">
				<label class="control-label label-block" >Your Marital Status</label>
					<select class="form-control field" name="title"  ng-model="proposalInput.insured.maritalStatus"  required>
						<option value="">Select</option>
						<option ng-repeat="item in insurerMaster.MaritalStatus" value="{{item.id}}" >{{item.value}}</option>
					</select>
		        <span class="errorMsg" ng-show="aboutinsured.marital.$error.required && !aboutinsured.marital.$pristine ">This field is required</span>
			</div>	
				
			
			
			<!--  Row  -->
			
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.dob.$invalid && !aboutinsured.dob.$pristine }">
					<label class="control-label label-block" >Date Of Birth</label>
					<span class="input-group">
	                    <input type="text" class="form-control" name="dob" id="dob" 
	          			uib-datepicker-popup="{{format}}" ng-model="proposalInput.insured.dob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required" />
	                  	<span class="input-group-btn">
	                    	<button type="button" class="btn btn-primary" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
	                  	</span>
	        		</span>
	        		<span class="errorMsg" ng-show="aboutinsured.dob.$error.required && !aboutinsured.dob.$pristine">This field is required</span>
				</div>
			</div>
			
						
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.ageProof.$invalid && !aboutinsured.ageProof.$pristine }">
					<label class="control-label label-block">Age proof </label>
					<select class="form-control" name="ageProof" ng-model="proposalInput.insured.ageProofType" required>
						<option ng-repeat="item in insurerMaster.AgeProof" value="{{item.id}}" >{{item.value}}</option>
					</select>
					<span class="errorMsg" ng-show="aboutinsured.ageProof.$error.required && !aboutinsured.ageProof.$pristine">This field is required</span>
				</div>
			</div>
			
			<!--  Row  -->
			
			<div ng-if = "proposalInput.insured.ageProofType == 'DL' || proposalInput.insured.ageProofType == 'PP'" >
				<div class="form-group col-sm-4   col-md-4 required" ng-class="{'has-error':aboutinsured.ageProofIssue.$invalid && !aboutinsured.ageProofIssue.$pristine }">
					<label class="control-label label-block" >Date Of Issue</label>
					<span class="input-group">
	                    <input type="text" class="form-control" name="ageProofIssue" id="ageProofIssue" 
	          			uib-datepicker-popup="{{format}}" ng-model="proposalInput.insured.ageProofIssue" is-open="popup3.opened" datepicker-options="pastDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required" />
	                  	<span class="input-group-btn">
	                    	<button type="button" class="btn btn-primary" ng-click="openDI()"><i class="glyphicon glyphicon-calendar"></i></button>
	                  	</span>
	        		</span>
	        		<span class="errorMsg" ng-show="aboutinsured.ageProofIssue.$error.required && !aboutinsured.ageProofIssue.$pristine">This field is required</span>
				</div>
			
						
				<div class="form-group col-sm-4   col-md-4 required" ng-class="{'has-error':aboutinsured.ageProofexpiry.$invalid && !aboutinsured.ageProofexpiry.$pristine }">
						<label class="control-label label-block" >Date Of Expiry</label>
						<span class="input-group">
		                    <input type="text" class="form-control" name="ageProofexpiry" id="ageProofexpiry" 
		          			uib-datepicker-popup="{{format}}" ng-model="proposalInput.insured.ageProofexpiry" is-open="popup2.opened" datepicker-options="futureDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required" />
		                  	<span class="input-group-btn">
		                    	<button type="button" class="btn btn-primary" ng-click="openDE()"><i class="glyphicon glyphicon-calendar"></i></button>
		                  	</span>
		        		</span>
		        		<span class="errorMsg" ng-show="aboutinsured.ageProofexpiry.$error.required && !aboutinsured.ageProofexpiry.$pristine">This field is required</span>
				</div>			
			
			</div>
				
			<!--  Row 4   -->
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.ageProof.$invalid && !aboutinsured.ageProof.$pristine }">
					<label class="control-label label-block">Birth Country </label>
					<select class="form-control" name="birthCountry" ng-model="proposalInput.insured.birthCountry" required>
						<option value="">Select</option>
						<option value="{{country.id}}" ng-repeat="country in insurerMaster.Country">{{country.value}}</option>
					</select>
					<span class="errorMsg" ng-show="aboutinsured.birthCountry.$error.required && !aboutinsured.birthCountry.$pristine">This field is required</span>
				</div>
			</div>
					
						
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.birthCity.$invalid && !aboutinsured.birthCity.$pristine }">
					<label class="control-label label-block">Birth City</label>
					<input type="text" name="birthCity" class="form-control field"  ng-model="proposalInput.insured.birthCity" required>
					<span class="errorMsg" ng-show="aboutinsured.birthCity.$error.required && !aboutinsured.birthCity.$pristine">This field is required</span>
					
					
				</div>
			</div>
			
			
			<div class="col-sm-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.fatherfirstName.$invalid && !aboutinsured.fatherfirstName.$pristine}">
					<label class="control-label label-block" >Father/Spouse First Name</label>
					<input type="text" name="fatherfirstName" class="form-control field"  ng-model="proposalInput.insured.fatherSpouseFirstName" required>
					<span class="errorMsg" ng-show="aboutinsured.fatherfirstName.$error.required && !aboutinsured.fatherfirstName.$pristine">This field is required</span>
				</div>
			</div>
			
			
			<div class="col-sm-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.fatherLastName.$invalid && !aboutinsured.fatherLastName.$pristine}">
					<label class="control-label label-block" >Father/Spouse Last Name</label>
					<input type="text" name="fatherLastName" class="form-control field"  ng-model="proposalInput.insured.fatherSpouseLastName" required>
					<span class="errorMsg" ng-show="aboutinsured.fatherLastName.$error.required && !aboutinsured.fatherLastName.$pristine">This field is required</span>
				</div>
			</div>
			
			
			<div class="col-sm-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.fatherfirstName.$invalid && !aboutinsured.fatherfirstName.$pristine}">
					<label class="control-label label-block" >Mother's First Name</label>
					<input type="text" name="motherfirstName" class="form-control field"  ng-model="proposalInput.insured.motherFirstName" required>
					<span class="errorMsg" ng-show="aboutinsured.motherfirstName.$error.required && !aboutinsured.motherfirstName.$pristine">This field is required</span>
				</div>
			</div>
			
			
			<div class="col-sm-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.fatherLastName.$invalid && !aboutinsured.fatherLastName.$pristine}">
					<label class="control-label label-block" >Mother's Last Name</label>
					<input type="text" name="motherLastName" class="form-control field"  ng-model="proposalInput.insured.motherSpouseLastName" required>
					<span class="errorMsg" ng-show="aboutinsured.motherLastName.$error.required && !aboutinsured.motherLastName.$pristine">This field is required</span>
				</div>
			</div>
		
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.panNumber.$dirty && aboutinsured.panNumber.$invalid }">
					<div class="col-sm-12 padd0">
					<!-- ng-pattern="/^[a-zA-Z0-9]+$/" {5}[0-9]{4}[A-Za-z]{1} -->
					<label class="control-label label-block">PAN Number</label>
					<input type="text" name="panNumber" class="form-control" ng-model="proposalInput.insured.pan" ng-pattern="/^[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}$/" required ng-maxlength="10" maxlength="10">
					</div>
		        </div>
	        </div>
	        
	        <div class="col-sm-4 col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.panNumber.$dirty && aboutinsured.panNumber.$invalid }">
					<div class="col-sm-12 padd0">
					<!-- ng-pattern="/^[a-zA-Z0-9]+$/" {5}[0-9]{4}[A-Za-z]{1} -->
					<label class="control-label label-block">AADHAR Number</label>
					<input type="number" name="aadhar" class="form-control" ng-model="proposalInput.insured.uid" ng-pattern="/[0-9]{12}/" required ng-maxlength="12" maxlength="12">
					</div>
		        </div>
	        </div>
				
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.nrv.$invalid && !aboutinsured.nrv.$pristine }">
					<label class="control-label label-block">Net Relationship Value</label>
					<input type="number" name="nrv" class="form-control" ng-min = "0" mg-max ="1000000000" ng-model="proposalInput.insured.nrv" >
					<span class="errorMsg" ng-show="aboutinsured.nrv.$error.required && !aboutinsured.nrv.$pristine">This field is required</span>
				</div>
			</div>
			
				
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.relPeriod.$invalid && !aboutinsured.relPeriod.$pristine }">
					<label class="control-label label-block">Relationship Years</label>
					<input type="number" name="relPeriod" class="form-control" ng-min = "0" mg-max ="100" ng-model="proposalInput.insured.relPeriod" >
					<span class="errorMsg" ng-show="aboutinsured.relPeriod.$error.required && !aboutinsured.relPeriod.$pristine">This field is required</span>
				</div>
			</div>		
			
			
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.fatherfirstName.$invalid && !aboutinsured.fatherfirstName.$pristine}">
					<label class="control-label label-block" >Dominant Hand</label>
					<select class="form-control field" name="dominantHand"  ng-model="proposalInput.insured.dominantHand"  required>
						<option value="">Select</option>
						<option value="Left" >Left</option>
						<option value="Right" >Right</option>
					</select>
					<span class="errorMsg" ng-show="aboutinsured.dominantHand.$error.required && !aboutinsured.dominantHand.$pristine">This field is required</span>
				</div>
			</div>
			
			
			<div ng-if = "proposalInput.insured.gender =='F'" class="col-sm-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.maidenName.$invalid && !aboutinsured.maidenName.$pristine}">
					<label class="control-label label-block" >Maiden Name</label>
					<input type="text" name="maidenName" class="form-control field"  ng-model="proposalInput.insured.maidenName" required>
					<span class="errorMsg" ng-show="aboutinsured.maidenName.$error.required && !aboutinsured.maidenName.$pristine">This field is required</span>
				</div>
			</div>
			
			<div class= "clear"></div>
			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>	
			
			
			<div class="col-sm-4 col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.nationality.$invalid && !aboutinsured.nationality.$pristine }">
					<label class="control-label label-block">Residence Status</label>
					<select class="form-control" name="residentStatus" ng-model="proposalInput.insured.residentStatus">
						<option value="">Select</option>
						<option value="{{nationality.id}}" ng-repeat="nationality in insurerMaster.Nationality">{{nationality.value}}</option>
					</select>
					<span class="errorMsg" ng-show="aboutinsured.residentStatus.$error.required && !aboutinsured.residentStatus.$pristine">This field is required</span>
				</div>
				
				<div ng-if = "proposalInput.insured.residentStatus!='RI'">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.residence.$invalid && !aboutinsured.residence.$pristine }">
						<label class="control-label label-block">Country Of Residence</label>
						<select class="form-control" name="residence" ng-model="proposalInput.insured.residence" required>
							<option value="">Select</option>
							<option value="{{country.id}}" ng-repeat="country in insurerMaster.Country">{{country.value}}</option>
						</select>
						<span class="errorMsg" ng-show="aboutinsured.residence.$error.required && !aboutinsured.residence.$pristine">This field is required</span>
					</div>
				</div>
			</div>	
						
			<!--  Row 8   -->
			<div class="col-sm-4 col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.isOtherCitizenship.$invalid && !aboutinsured.isOtherCitizenship.$pristine }">
					<label class="control-label label-block">Are you holding citizenship of any other country?</label>
					<!--  data-toggle="buttons" -->
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="proposalInput.insured.isOtherCitizenship" ng-class="{active: proposalInput.insured.isOtherCitizenship =='Y'}">
	            			Yes
	       				</label>
	       				<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="proposalInput.insured.isOtherCitizenship" ng-class="{active: proposalInput.insured.isOtherCitizenship =='N'}">
	            			NO
	       				</label>
					</div>
				</div>
					
				<div ng-if = "proposalInput.insured.isOtherCitizenship =='Y'">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.otherCitizenshipCountry.$invalid && !aboutinsured.otherCitizenshipCountry.$pristine }">
						<label class="control-label label-block">Other Citizenship</label>
						<select class="form-control" name="otherCitizenshipCountry" ng-model="proposalInput.insured.otherCitizenshipCountry" required>
							<option value="">Select</option>
							<option value="{{country.id}}" ng-repeat="country in insurerMaster.Country">{{country.value}}</option>
						</select>
						<span class="errorMsg" ng-show="aboutinsured.otherCitizenshipCountry.$error.required && !aboutinsured.otherCitizenshipCountry.$pristine">This field is required</span>
					</div>
				</div>
			</div>
			
			<!--  Row  -->
			<div class="col-sm-4 col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutinsured.isOtherCountryTaxResi.$invalid && !aboutinsured.isOtherCountryTaxResi.$pristine }">
					<label class="control-label label-block">Are you tax resident of any other country?</label>
					<!--  data-toggle="buttons" -->
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="proposalInput.insured.isOtherCountryTaxResi" ng-class="{active: proposalInput.insured.isOtherCountryTaxResi =='Y'}">
	            			Yes
	       				</label>
	       				<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="proposalInput.insured.isOtherCountryTaxResi" ng-class="{active: proposalInput.insured.isOtherCountryTaxResi =='N'}">
	            			NO
	       				</label>
					</div>
				</div>
					
				<div ng-if = "proposalInput.insured.isOtherCountryTaxResi =='Y'">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.otherCountryTaxNo.$invalid && !aboutinsured.otherCountryTaxNo.$pristine }">
						<label class="control-label label-block">Tax Number</label>
						<input type="text" name="otherCountryTaxNo" class="form-control"  ng-model="proposalInput.insured.otherCountryTaxNo"   ng-required="proposalInput.insured.isOtherCountryTaxResi =='Y'">
						<span class="errorMsg" ng-show="aboutinsured.otherCountryTaxNo.$error.required && !aboutinsured.otherCountryTaxNo.$pristine">This field is required</span>
					</div>
				</div>
			</div>
			
			<div class= "clear"></div>
			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>	
						
			<div class= "clear"></div>
			
			<!--  Employment Details  -->
						
			<div class="employee heads">Employment Details</div>
			
			<div class="col-sm-12 formSection" >
								
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.Proorganisation.$invalid && ! aboutinsured.organisation.$pristine}">
						<label class="control-label label-block">Name of Organisation/Business </label>
						<input type="text" name="Proorganisation" class="form-control field" ng-model="proposalInput.insured.employmentDetails.employerName" required>
						<span class="errorMsg" ng-show="aboutinsured.Proorganisation.$error.required && !aboutinsured.Proorganisation.$pristine">This field is required</span>
					</div>				
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.ProtypeOfOrganisation.$invalid && !aboutinsured.ProtypeOfOrganisation.$pristine}">
						<label class="control-label label-block">Type of Organisation</label>
						<select class="form-control" name="ProtypeOfOrganisation" ng-model="proposalInput.insured.employmentDetails.organizationType" required>
							<option value="">Select</option>
							<option value="{{organization.id}}" ng-repeat="organization in insurerMaster.OccupationType">{{organization.value}}</option>
						</select>
					</div>				
				</div>
				
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.Prodesignation.$invalid && !aboutinsured.Prodesignation.$pristine}">
						<label class="control-label label-block">Your Designation </label>
						<input type="text" name="Prodesignation" class="form-control field" ng-model="proposalInput.insured.employmentDetails.designation" required>
						<span class="errorMsg" ng-show="aboutinsured.Prodesignation.$error.required && !aboutinsured.Prodesignation.$pristine">This field is required</span>
					</div>				
				</div>
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.exactNatureofDuty.$invalid && !aboutinsured.exactNatureofDuty.$pristine}">
						<label class="control-label label-block">Exact Nature of Work</label>
						
						<select class="form-control field" name="ProexactNatureofDuty" ng-model="proposalInput.insured.employmentDetails.natureOfDuties" required>
							<option value="">Select</option>
							<option value="{{item.id}}" ng-repeat="item in insurerMaster.NatureOfWork">{{item.value}}</option>
						</select>
					</div>				
				</div>
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.ProeduQualification.$invalid && !aboutinsured.ProeduQualification.$pristine}">
						<label class="control-label label-block">Educational Qualification </label>
						<select class="form-control" name="ProeduQualification" ng-model="proposalInput.insured.employmentDetails.qualification">
							<option value="">Select</option>
							<option value="{{educationalQuali.id}}" ng-repeat="educationalQuali in insurerMaster.Education">{{educationalQuali.value}}</option>
						</select>
					</div>
					
					<div class="form-group required" ng-if="proposalInput.insured.employmentDetails.qualification=='T'" ng-class="{'has-error':aboutinsured.ProotherQuli.$invalid && !aboutinsured.ProotherQuli.$pristine}">
						<label class="control-label label-block">Other Qualification </label>
						<input type="text" name="ProotherQuli" class="form-control" ng-model="proposalInput.insured.employmentDetails.OtherQualification" required>
						<span class="errorMsg" ng-show="aboutinsured.otherQuli.$error.required && !aboutinsured.otherQuli.$pristine">This field is required</span>
					</div>				
				</div>
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.Prooccupation.$invalid && !aboutinsured.Prooccupation.$pristine}">
						<label class="control-label label-block">Occupation </label>
						<select  class="form-control field" name="Prooccupation" ng-model="proposalInput.insured.employmentDetails.occupation" required>
							<option value="">Select</option>
							<option value="{{occupation.id}}" ng-repeat="occupation in insurerMaster.OccupationClass">{{occupation.value}}</option>
						</select>
					</div>
					<div class="form-group required" ng-if="proposalInput.insured.employmentDetails.occupation==95" ng-class="{'has-error':aboutinsured.ProotherOccupation.$invalid && !aboutinsured.ProotherOccupation.$pristine}">
						<label class="control-label label-block">Other Occupation</label>
						<input type="text" name="ProotherOccupation" class="form-control" ng-model="proposalInput.insured.employmentDetails.otherOccupation" required>
					</div>				
				</div>
				
				
				<div class="clear"></div>
				
				<div class="col-sm-12">
					<div class="section"><div class="section-heading">Income details</div></div>
				</div>
				
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.ProlifeAssured.$invalid && !aboutinsured.ProlifeAssured.$pristine}">
						<label class="control-label label-block">Are You earning?</label>
						<div class="btn-group required" data-toggle="buttons">
							<label class="btn btn-primary" ng-class="{'active':proposalInput.insured.employmentDetails.notEarning=='Y'}" ng-model="proposalInput.insured.employmentDetails.notEarning" uib-btn-radio="'Y'" required>
								<!-- <input type="radio" name="ProlifeAssured" value="Y" ng-model="proposalInput.insured.employmentDetails.notEarning" required> -->Yes
							</label>
							<label class="btn btn-primary" ng-class="{'active':proposalInput.insured.employmentDetails.notEarning=='N'}" ng-model="proposalInput.insured.employmentDetails.notEarning" uib-btn-radio="'N'" required>
								<!-- <input type="radio" name="ProlifeAssured" value="N" ng-model="proposalInput.insured.employmentDetails.notEarning" required> -->No
							</label>
						</div>
					</div>
				</div>
				
				<div class="clear"></div>
					
				<div class="col-sm-4 col-md-4" ng-if="proposalInput.insured.employmentDetails.notEarning=='Y'">
					<div class="form-group"  ng-class="{'has-error':aboutinsured.ProlifeAssured.$invalid && !aboutinsured.ProlifeAssured.$pristine}">
						<label class="control-label label-block">Life Assured's Annual income Rs  </label>
						<input type="text" name="ProlifeAssured" class="form-control field" ng-model="proposalInput.insured.employmentDetails.annualIncome" ng-keypress="filterValue($event)" required>
						<span class="errorMsg" ng-show="aboutinsured.lifeAssured.$error.required && ! aboutinsured.lifeAssured.$pristine">This field is required</span>
					</div>
				</div>
				        
				
				<div class="col-sm-4 col-md-4" ng-if="proposalInput.insured.employmentDetails.notEarning=='Y'">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.incomeProof.$invalid && !aboutinsured.incomeProof.$pristine }">
						<label class="control-label label-block">Income proof </label>
						<select class="form-control" name="incomeProof" ng-model="proposalInput.insured.incomeProofType" required>
							<option ng-repeat="item in insurerMaster.IncomeProof" value="{{item.id}}" >{{item.value}}</option>
						</select>
						<span class="errorMsg" ng-show="aboutinsured.incomeProof.$error.required && !aboutinsured.incomeProof.$pristine">This field is required</span>
					</div>
				</div>
					
				<div class="clear"></div>
					
				<div ng-if="proposalInput.insured.employmentDetails.notEarning=='N'">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.ProParentSpouseAnnualIncome.$invalid && !aboutinsured.ProParentSpouseAnnualIncome.$pristine}">
						<label class="control-label label-block">If not earning, state Parent's / Spouse's Annual Income Rs</label>
						<input type="text" name="ProParentSpouseAnnualIncome" class="form-control" ng-model="proposalInput.insured.employmentDetails.ParentSpouseAnnualIncome" required>
					</div>
					<div class="form-group required" ng-class="{'has-error':aboutinsured.ProParentSpouseInsuranceCover.$invalid && !aboutinsured.ProParentSpouseInsuranceCover.$pristine}">
						<label class="control-label label-block">For Student/Non earning (Single), state Parents Insurance cover Rs</label>
						<input type="text" name="ProParentSpouseInsuranceCover" class="form-control" ng-model="proposalInput.insured.employmentDetails.ParentSpouseInsuranceCover"  required>
					</div>
					<div class="form-group" required ng-class="{'has-error':aboutinsured.ProForHousewifeOccInsuranceCover.$invalid && !aboutinsured.ProForHousewifeOccInsuranceCover.$pristine}">
						<label class="control-label label-block">For House wife, state Spouse Insurance cover Rs</label>
						<input type="text" name="ProForHousewifeOccInsuranceCover" class="form-control" ng-model="proposalInput.insured.employmentDetails.ForHousewifeOccInsuranceCover" required>
					</div>
				</div>
					
				<div class="clear"></div>
				<br><br>
			</div>
		
		
			<div class= "clear"></div>	
			<div class="form-group required col-sm-12">
				<div class="label-block" id="lableImFamilyMember_label">Are you or your immediate family member (would include spouse, parents, siblings, children, spouse siblings or parents) is a Politically Exposed Person (PEP)?*  </div>
				<div class="clear"></div>
				<div class="btn-group">
					<label class="btn btn-primary" ng-class="{active: proposalInput.insured.isPEP =='Y'}" uib-btn-radio="'Y'" ng-model="proposalInput.insured.isPEP" ng-required="">
		             Yes
		            </label>
		            <label class="btn btn-primary" ng-class="{active: proposalInput.insured.isPEP =='N'}" ng-model="proposalInput.insured.isPEP" uib-btn-radio="'N'" required>
		             No
		            </label>
				</div>
				<div class="mardown" id="divEPFToggle">"* PEP are individuals who are or have been entrusted with prominent public functions, domestically/in an international organisation/in a foreign country. This would include individuals who have or have had positions of Heads of State or of government, senior politicians, senior government, judicial or military officials, senior executives of state owned corporations, important political party officials" . "Close relations of PEP: Family members are individuals who are related to a PEP either directly (consanguinity) or through marriage or similar (civil) forms of partnership. Close associates are individuals closely connected to a PEP, either socially or professionally")</div>
			</div>
			
			<div ng-if="proposalInput.insured.isPEP=='Y'">
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.nameOfPep.$invalid && !aboutinsured.nameOfPep.$pristine}">
						<label class="control-label label-block">Name of the PEP</label>
						<input type="text" name="nameOfPep" ng-model="proposalInput.insured.nameOfPep" class="form-control" placeholder="Name of the pep" required>
						<span class="errorMsg" ng-show="aboutinsured.nameOfPep.$error.required && !aboutinsured.nameOfPep.$pristine">This field is required</span>
					</div>
				</div>
				
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.relOfPep.$invalid && aboutinsured.relOfPep.$pristine}">
						<label class="control-label label-block">Relationship of PEP with Life Insured</label>
						<input type="text" name="relOfPep" ng-model="proposalInput.insured.relOfPep" class="form-control" placeholder="Relationship of PEP with Life Insured" required>
						<span class="errorMsg" ng-show="aboutinsured.relOfPep.$error.required && !aboutinsured.relOfPep.$pristine">This field is required</span>
					</div>
				</div>
				
				
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutinsured.ocuOfPep.$invalid && !aboutinsured.ocuOfPep.$pristine}">
						<label class="control-label label-block">Occupation Details of PEP</label>
						<input type="text" name="ocuOfPep" ng-model="proposalInput.insured.ocuOfPep" class="form-control" placeholder="Occupation Details of PEP" required>
						<span class="has-error" ng-show="aboutinsured.ocuOfPep.$error.required && !aboutinsured.ocuOfPep.$pristine">This field is required</span>
					</div>
				</div>
			</div>
		
			<div class="col-sm-12">
				<span class="has-error" style="color:#a94442" ng-if="!aboutinsured.$valid || !checkEmployment()" >{{errorText}}</span>
			</div>
			
					
			<!--  Row  -->
			<div class="clear"></div>
			
			<!--  Row 8  -->
			
		   	<div class="foot">
				<div class="clearfix">
					<div class="cf-pull-right">
						<button class="btn cf-btn btn-lg btn-primary " ng-disabled="aboutinsured.$invalid" ng-click="saveandProceed(1)">Continue <img ng-src="./image/arrow-right.png"></button>
					</div>
				</div>
		 	</div>
			
		</div>
	</form>
</div>