<div class="proposal_form" ng-controller="aiaProposalCtrl">
	<div class="container">
	<div class="wrap-bg">
		<div class="policy-panel">
			<div class="row mnone">
				<div class="col-xs-12  cf-title clearfix">
					<div class="back-to-results" ng-click="backPreviousPage()" > Back to results</div>
				    <div style="padding:5px 0px 0px;">Buy Life Insurance</div>
				</div>
				<div class="col-xs-4 col-sm-3 pnone">
					<div class="insurer-img">
						<img class="img-responsive" ng-src = "./image/ilogo/i{{proposalInput.policy.insurerId}}.png">
						
					</div>
				</div>
				<div class="col-xs-8 col-sm-9 pnone" style="border-left:1px solid #eaeaea;">
					<div class="pol-name">{{proposalInput.policy.insurerName}}  {{proposalInput.policy.productName}}</div>
					<div class="pol-val">
						<span>Sum Assured</span>
						<span class="value">{{proposalInput.policy.basicSumAssured| currency : "&#8377;" : 0}}</span>
						<br class="visible-xs visible-sm">
						<span>ANNUAL PREMIUM</span>
						<span class="value">{{proposalInput.policy.modalPremium| currency : "&#8377;" : 0}}</span>
						<span class="val-typ" style="font-size: 12px;">(Includes 18.0% Goods and Services Tax)*</span>
					</div>
				</div>
				
			</div>
		</div>
		<div ng-if="loading" class="loading">
	    	<div class="ctralign"><img ng-src = "./image/loading.gif"></div>
		</div>
		<div class = "col-sm-12 col-lg-12 col-md-12" ng-if="!loading">
			<div class="col-sm-12 col-lg-12 col-md-12">
				<div class="col-sm-2 col-lg-2 col-md-2">
					<div class="progressBar">
						<div class="pregressLabel">Progress</div>
							<div  class="progress progress_bar ">
								<uib-progressbar animate="false" value="percentComplete" type="success"><b>{{percentComplete}}%</b></uib-progressbar>
							</div>
							<div class="percentageComplete"><span id="progressValue">{{percentComplete}}</span>% <div class="span">Completed!</div>
						</div>
					</div>
					<div class="verticalMenu">
						<div class="list-row l_tinynav1">
							<ul class="nav navbar-list">
								<li ng-repeat="item in menu" ng-class="{'greenComplete':item.inActive}">
									<a ><i class="{{item.class}}"></i>{{item.title}}<span class="" ng-class="{ active: isSet({{item.isSet}}) }"></span><span class="checkmark"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="content col-sm-10 col-lg-10 col-md-10 ">
					<div class="wrapper">
						
						<fieldset ng-show="isSet(1)">
							<div ng-include src=" './templates/proposal/life/aia/aboutInsured.html'"></div>
						</fieldset>
						<fieldset ng-show="isSet(2)">
							<div ng-include src="'./templates/proposal/life/aia/contactInformation.html'"></div>
						</fieldset>
						
						<fieldset ng-show="isSet(3)">
							<div ng-include src="'./templates/proposal/life/aia/EmploymentDetails.html'"></div>
							
						</fieldset>
						<fieldset ng-show="isSet(4)">
							<div ng-include src="'./templates/proposal/life/aia/insuredExtra.html'"></div>
						</fieldset>
						<fieldset ng-show="isSet(5)">
							<div ng-include src="'./templates/proposal/life/aia/health-history.html'"></div>
						</fieldset>
						<fieldset ng-show="isSet(6)">
							<div ng-include src=" './templates/proposal/life/aia/aboutYourself.html'"></div>
						</fieldset>
						<fieldset ng-show="isSet(7)">
							<div ng-include src="'./templates/proposal/life/aia/Nominees.html'"></div>
							
						</fieldset>
						<fieldset ng-show="isSet(8)">
							<div ng-include src="'./templates/proposal/life/aia/lifeStyle.html'"></div>
						</fieldset>
						<fieldset ng-show="isSet(9)">
							<div ng-include src="'./templates/proposal/life/aia/medical.html'"></div>
							
						</fieldset>
						<fieldset ng-show="isSet(10)">
						<div ng-include src="'./templates/proposal/life/aia/bankdetail.html'"></div>
							
						</fieldset>
						<fieldset ng-show="isSet(11)">
						<div ng-include src="'./templates/proposal/life/aia/summary.html'"></div>
							
						</fieldset>
						<fieldset ng-show="isSet(12)">
							<div ng-include src="'./templates/proposal/life/aia/documentUpload.html'"></div>
							
						</fieldset>
						
						<fieldset ng-show="isSet(13)">
							<div ng-include src="'./templates/proposal/life/aia/Confirmation.html'"></div>
							
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>