
<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" novalidate name="bankdetail">
	
		<!--  Details of the Payment  -->
		<div class="form-panel col-sm-12 col-md-12">
			<div class="bank-details heads">Bank Details & Payment</div>
			
			<div class="insurance-sub-title">Please Provide details of how you will pay the premium </div>
						
			<div class="form-group col-sm-4 col-md-4 required">
				<label class="control-label">Initial Premium</label>
				<input type="text" name="initialPremium" class="form-control" ng-model="proposalInput.payment.initialPremium"  maxlength="9" ng-keypress="filterValue($index)">
			</div>
							
			
			<div class="form-group col-sm-4 col-md-4 required">
				<label class="control-label label-block">Premium Pay Mode</label>
				<!-- <input type="text" name="PremiumPayMode"> -->
				<select class="form-control" ng-model="proposalInput.policy.mode" required>
					<option value="">Select</option>
					<option value="{{mode.id}}" ng-repeat="mode in insurerMaster.Mode">{{mode.value}}</option>
				</select>
			</div>
			
			
			<div class="form-group required col-sm-4 col-md-4">
				<label class="control-label label-block">Premium Pay Method</label>
				<select class="form-control" ng-model="proposalInput.payment.paymentMethod">
					<option value="">Select</option>
					<option value="{{PaymentMethod.id}}" ng-repeat="PaymentMethod in insurerMaster.PaymentMethod">{{PaymentMethod.value}}</option>
				</select>
				
			</div>
							
			<div class="form-group col-sm-4 col-md-4 required">
				<label class="control-label label-block">Total Amount Paid Rs.</label>
				<input type="text" name="TotalAmtPaid" class="form-control" ng-model="proposalInput.payment.totalAmtPaid" ng-keypress="filterValue($index)" required>
			</div>
			
			<div class="clear"></div>
		
				
			<div ng-if="proposalInput.payment.paymentMethod=='1'">
				<div class="form-group  col-sm-4 col-md-4">
					<label class="control-label label-block">Cheque Number</label>
					<input type="text" name="ChequeDDNo" class="form-control" ng-model="proposalInput.payment.ChequeDDNo">
				</div>
				<div class="form-group  col-sm-4 col-md-4">
					<label class="control-label label-block">Date of  Cheque</label>
					<span class="input-group">
						<!--  datepicker-options="dateOptionss" --> 
						 <input type="text" class="form-control" name="ChequeDDDate"  
			          			uib-datepicker-popup="{{format}}" ng-model="proposalInput.payment.ChequeDDDate" is-open="opened['ChequeDDDate']"  ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required" />
	                  	<span class="input-group-btn">
	                    	<button type="button" class="btn btn-primary" ng-click="opened($event,'ChequeDDDate')"><i class="glyphicon glyphicon-calendar"></i></button>
	                  	</span>
					</span>
				</div>
				
				<div class="form-group  col-sm-4 col-md-4">
					<label class="control-label label-block">Name of the Bank</label>
					<input type="text" name="ChequeDDIssBank" class="form-control" ng-model="proposalInput.payment.ChequeDDIssBank">
				</div>				
				
				
				<div class="form-group  col-sm-4 col-md-4">
					<label class="control-label label-block"> Bank Branch</label>
					<input type="text" class="form-control" name="ChequeDDPayBranch" ng-model="proposalInput.payment.ChequeDDPayBranch">
				</div>
				
				
				<div class="form-group col-sm-4 col-md-4 required">
					<label class="control-label label-block">MICR Code</label>
					<input type="text" name="ChequeDDMICRCode" ng-model="proposalInput.payment.micrCode" class="form-control" required maxlength="9">
				</div>
			
			</div>
			
			<div class="clear"></div>
		
			<div class="heads">Mandatory Bank Details</div>
			<div>
				<p>All Payouts from the policy will be made to this bank account</p>
					
				<div class="form-group  col-sm-4 col-md-4">
					<label class="control-label label-block">Name of the Bank</label>
					<input type="text" name="ChequeDDIssBank" class="form-control" ng-model="proposalInput.payment.PayoutBankName">
				</div>				
				
				
				<div class="form-group  col-sm-4 col-md-4">
					<label class="control-label label-block"> Bank Branch</label>
					<input type="text" class="form-control" name="ChequeDDPayBranch" ng-model="proposalInput.payment.PayoutBankAddress">
				</div>
								
				
				<div class="form-group col-sm-4 col-md-4 required">
					<label class="control-label label-block">IFSC Code</label>
					<input type="text" name="ifscCode" ng-model="proposalInput.payment.PayoutIFCCode" class="form-control" required minlength="11" maxlength="11">
				</div>
				
				<div class="form-group col-sm-4 col-md-4 required">
					<label class="control-label label-block">Your Account Type</label>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" ng-class="{'active':proposalInput.payment.PayoutAccType=='SAV'}"  ng-model="proposalInput.payment.PayoutAccType" uib-btn-radio="'SAV'" required>
							<!-- <input type="radio" name="accountType" ng-model="proposalInput.payment.accType" value="SAV"> -->Saving
						</label>
						<label class="btn btn-primary" ng-class="{'active':proposalInput.payment.PayoutAccType=='CUR'}" ng-model="proposalInput.payment.PayoutAccType" uib-btn-radio="'CUR'"  required>
							<!-- <input type="radio" name="accountType" ng-model="proposalInput.payment.accType" value="CUR"> -->Current
						</label>
						<label class="btn btn-primary" ng-class="{'active':proposalInput.payment.PayoutAccType=='NRO/NRE'}" ng-model="proposalInput.payment.PayoutAccType" uib-btn-radio="'NRO/NRE'"  required>
							<!-- <input type="radio" name="accountType" ng-model="proposalInput.payment.accType" value="NRO/NRE"> -->NRO/NRE
						</label>
					</div>
				</div>
					
				<div class="form-group col-sm-4 col-md-4 required">
					<label class="control-label label-block">Account No</label>
					<input type="text" name="ChequeDDMICRCode" ng-model="proposalInput.payment.PayoutAccNo" class="form-control" required maxlength="25">
				</div>
			</div> 
			<div class="clear"></div>  	
		   	<div class="foot">
				<div class="clearfix">
					<div class="cf-pull-left">
						<button class="btn cf-btn btn-lg btn-gry" ng-click="prev(4)" style="/* display: none; */">
		                     <img ng-src="./image/arrow-left.png">&nbsp;Back
		                </button>
		            </div>
					<div class="cf-pull-right">
						<button class="btn cf-btn btn-lg btn-primary " ng-disabled="bankdetail.$invalid" ng-click="submitApplication()">Continue <img ng-src="./image/arrow-right.png"></button>
					</div>
				</div>
		 	</div>
		</div>
	</form>
</div>	