<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" novalidate name="contactInfo" autocomplete="off">
		<div class="form-panel col-sm-12 col-md-12">
			<div class="address heads">Contact Information</div>
			<br><br>
			<div> Please provide your Communication and Permanent Address</div>
			<br><br>
			
			
			<div class = "clearfix"></div>
			
			<div class="formSection">
				<span ng-click = "addEditAddress('Add',$index, {})" class="btn btn-primary">Add Address <span class = "glyphicon glyphicon-plus"></span></span>
			</div>
			<div class = "clearfix"></div>
			<br><br>
			<div class="form-group">
				<div ng-repeat = "address in proposalInput.insured.address" class = "col-xs-12 col-sm-4 col-md-4">
					
					<div>
						<div><label>{{getMasterValue('AddressType',address.addressType)}}:</label>
							<span class = "glyphicon glyphicon-trash" ng-click = "addEditAddress('delete',$index, address)" ></span>
						</div>
						<div>
							<span class = "ibspan">{{getAdrressLine(address)}}</span>
							<span class = "ibspan">{{address.area}} {{address.city}}</span><br>
							<span class = "ibspan">{{getMasterValue('State', address.state)}}</span><br>
						</div>
					</div>
					<br><br>
				</div>
			</div>
			
			<div class="clear"></div>
			
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':contactInfo.ageProof.$invalid && !contactInfo.ageProof.$pristine }">
					<label class="control-label label-block">Address proof </label>
					<select class="form-control" name="adddressProof" ng-model="proposalInput.insured.addressProofType" required>
						<option ng-repeat="item in insurerMaster.AddressProof" value="{{item.id}}" >{{item.value}}</option>
					</select>
					<span class="errorMsg" ng-show="contactInfo.adddressProof.$error.required && !contactInfo.adddressProof.$pristine">This field is required</span>
				</div>
	       	</div>
	        	
			<div class="col-sm-4   col-md-4">
				<div class="form-group required" ng-class="{'has-error':contactInfo.mobilenumber.$invalid && !contactInfo.mobilenumber.$pristine }">
					<label class="control-label label-block">Mobile Number</label>
					<span class="input-group">
						<span class="input-group-addon">
							+91
						</span>
						<input type="text" name="mobilenumber" class="form-control" ng-model="proposalInput.insured.mobile" required ng-keypress="filterValue($event)" ng-maxlength='10' maxlength="10" required>
					</span>
					<span class="errorMsg" ng-show="contactInfo.mobilenumber.$error.required && !contactInfo.mobilenumber.$pristine">This field is required</span>
					<span class="errorMsg" ng-show="contactInfo.mobilenumber.$error.maxlength && !contactInfo.mobilenumber.$pristine">Maximum length is 10</span>
				</div>
			</div>
			
			<div class="col-sm-4   col-md-4" >
				<div class="form-group required" ng-class="{'has-error':contactInfo.emailId.$dirty && contactInfo.emailId.$invalid}">
					<div class="col-sm-12 padd0">
						<label class="control-label label-block">Email ID</label>
						<input type="email" name="emailId" class="form-control" ng-model="proposalInput.insured.email" required>
					</div>
					<div class="col-sm-12 padd0">
						<div ng-show="contactInfo.emailId.$dirty && contactInfo.emailId.$invalid">
				            <spane class="errorMsg" ng-show="contactInfo.emailId.$error.required && !contactInfo.emailId.$pristine">This field is required</spane>
				            <spane class="errorMsg" ng-show="contactInfo.emailId.$error.pattern && !contactInfo.emailId.$pristine">Invalid Email id.</spane>
				           
				        </div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<span class="has-error" style="color:#a94442" ng-if="!contactComplete() || !contactInfo.$valid" >At least one Permanent Address and One Residential Address is required</span>
			</div>
			
			<div class= "clear"></div>
			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>	
							
			<div class= "clear"></div>	
			
			<div class ="col-sm-12 col-md-12">
				<div class="nominees heads" ng-if = "proposalInput.insured.isProposerSameInsured=='Y'" >Nominee</div>
				<div class="nominees heads" ng-if = "proposalInput.insured.isProposerSameInsured!='Y'" >Contingent PolicyHolder</div>
				<div class="form-group">
					<div class="btn-group" ng-click = "addEditNominee('Add',99, {})">
						<label class="btn btn-primary">Add <span class = "glyphicon glyphicon-plus"></span></label>
					</div>
				</div>
				<div ng-show ="proposalInput.nominee.length>0" class ="col-xs-12 col-sm-12 col-md-12 ">
					<div class = "col-xs-12 col-sm-4 col-md-4" ng-repeat ="nominee in proposalInput.nominee">
						<span class = "ibspan">{{nominee.title}}&nbsp;&nbsp;{{nominee.firstName}}&nbsp;&nbsp;{{nominee.lastName}}
						<span class = "glyphicon glyphicon-trash" ng-click = "addEditNominee('Delete',$index, nominee)" ></span></span><br>
						<span class = "ibspan"><span>Relationship:&nbsp;</span> {{getMasterValue("NomineeRel", nominee.relationshipWithInsured)}}</span><br>
						<span ng-if = "nominee.isNominee" class = "ibspan"><span>Share Percent:&nbsp;</span> {{nominee.sharePercent}}%</span><br>
					</div>
				</div>
				<br><br>
			</div>
			
			<div class= "clear"></div>	
		
		   	<div class="foot">
				<div class="clearfix">
					<div class="cf-pull-left">
						<button class="btn cf-btn btn-lg btn-gry" ng-click="prev(2)" style="/* display: none; */">
		                     <img ng-src="./image/arrow-left.png">&nbsp;Back
		                </button>
		            </div>
					<div class="cf-pull-right">
						<button class="btn cf-btn btn-lg btn-primary " ng-disabled="contactInfo.$invalid || proposalInput.nominee.length ==0 " ng-click="saveandProceed(4)">Continue <img ng-src="./image/arrow-right.png"></button>
					</div>
				</div>
		 	</div>
		</div>
	</form>
</div>