<div class="formSection hwdtails">	
	<form class="form-horizontal form_horizontal" name="document" novalidate>
		<div class="form-panel col-sm-12 col-md-12">
			<div class="about-yourself heads">Important Information and Documents</div>
			
			<div class="col-sm-6">
				<span> Please view your Illustration in order to proceed further:    
					<button class="btn btn-primary" ng-click="showIllustration()">View Illustration</button>
				</span>
			</div>
			<div class= "clear"></div>
			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>	
			
			<div class="about-yourself heads">Underwiting Requirements</div>
			<div class="col-sm-6">
				<br>
				<span>Based on your proposal, the UnderWriters have determined
					<span ng-if="bi.isMedical"> the following medical requirements to be completed</span>
					<span ng-if="!bi.isMedical"> that there are no medical requirements</span>
				</span><br>
				<ul>
					<li ng-repeat = "req in bi.medicalReq track by $index"><span>{{$index+1}}. &nbsp;</span>{{req}}</li>
				</ul>
			</div>
			<div class= "clear"></div>
			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>	
			
			
			<div class="about-yourself heads">Required Documents</div>
			
			<div ng-repeat="doc in filesToUpload" class="form-group">
				<div>
					<br>
					<div class="col-sm-3 top"> 
						<label class="top">{{$index+1}}.&nbsp;{{doc.displayName}}</label>
					</div>
					
					<div class="col-sm-5 col-md-5 col-lg-5">
						<input type = "file" file-model = "doc.fileName" required />
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div ng-if="doc.status == '1'">
							<meter max="100" value="{{doc.progressBar}}"></meter>{{doc.progressCounter}}%
						</div>
						<div ng-if="doc.status == '2'">
							<span>Uploaded</span><span class = "glyphicon glyphicon-saved green"></span>
						</div>
						<div ng-if="doc.status == '3'">
							<div>{{doc.errorText}}<span class = "glyphicon glyphicon-remove red"></span></div>
						</div>
					</div>
				</div>
				<br>
				<div class="clear"></div>
			</div>
		   	
		   	<div id="tc">
				<div>Note</div>
				<div class="list-row" id="MedicalGridLabelDiv">
					<input type="CHECKBOX" name="chkSiDetails" id="chkSiDetails_2" value="" style="display: none;" ng-model="proposalInput.summary.tc" required>
					<label for="chkSiDetails_2" id="chkSiDetailsL_2" class="control-label label-block" style="padding-top: 0px;">&nbsp;I certify that i have read the below Terms and Conditions and agree to them <a href="javascript:void(0);" ng-click="showTC()"; setPopupCustomerScrollBar();" class="blue showModal-tc" >Terms &amp; Conditions</a> &nbsp;</label>
					
					<div ng-if="tcVisible">
						<div class="list" id="MedicalGridLabelDiv1_label">
						Jurisdiction(s) of Tax Residence for FATCA/CRS purpose: <br>I / We undertake to declare and disclose any changes in tax jurisdiction within 30 days from the date of such change that may take place in the information provided in this proposal form or any annexure or documents related thereto, or any changes in any certification under FATCA/CRS and provide fresh self-certification<br>along with documentary evidence. I am further aware of the applicability of relevant tax laws as per the tax resident status of Individual, for e.g. irrespective of nationality, every United States citizen is a 'resident' of United States of America for the purpose of tax assessment, since US imposes tax on global income of its citizen. <br><br>Anti Money Laundering Declaration: I hereby declare that: <br><ol><li> The premium money has been derived from legally declared and assessed sources of income.</li><br><li> The Company has the right to peruse my financial profile and also agree that the Company has right to cancel the insurance contract in case I have been found guilty of any of the provisions of any law, directly or indirectly, having relation to the laws governing prevention of money laundering in the country, by any competent court of law.</li></ol><br>Declaration: <br>I/We hereby declare and agree, on behalf of myself and all the persons proposed to be insured that: <br><ol><li> I/We have read and understood the contents of the proposal form and brochures.</li> <br><li>The above details, statements, answers and/or particulars given by me/us is/are true and complete in all respects to the best of my/our knowledge and belief and that I/We am/are authorized to propose on behalf of these other persons and undertake to inform you of any changes therein, immediately in case any of the above information is found to be false or untrue or misleading or misrepresenting, before issuance of the proposal. .</li><br><li> to notify in writing any change occurring in the occupation, financial status, general health, medical or being charged with or arrested for any criminal offence of the life to be assured/ Proposer/Joint Life after the proposal has been submitted but before communication of the risk acceptance by the company .</li><br><br><li> to provide consent to the company for seeking medical information from any doctor or from a hospital who at any time has attended on the life to be assured/Proposer/Joint Life or from any past or present employer concerning anything which affects the physical or mental health of the life to be assured/Proposer/Joint Life and seeking information from any insurance office to which an application for insurance on the life to be assured/Proposer/Joint Life has been made for the purpose of underwriting the proposal and claim settlement.</li><li> the benefits payable under this contract and/or any other associated contract will not be payable to me/us and/or my beneficiary(s) and/or legal heirs till such time the proposal has been received and accepted, including receipt of required premium by the Company. I/We understand that the information provided by me/us will form the basis of the insurance policy and that the policy is subject to Board approved underwriting policy of the insurance company and the policy will come into force only after full receipt of the premium chargeable. In case of fraud or misrepresentation the policy shall be cancelled in accordance with Section 45 of Insurance Act, 1938 as amended from time to time. .</li></ol><br><br>I/We hereby irrevocably permit/authorise the Company <br><ol><li> or any of its approved medical examiners or laboratories to perform the necessary medical assessment and test to underwrite and evaluate my/the insured's heath status in relation to application and claim arising therefrom. These tests may include but are not limited to tests for cholesterol and related blood lipids, Diabetes, Liver or Kidney disorders, Acquired Immunodeficiency Syndrome (AIDS), infection by any Human Immunodeficiency Virus (HIV), immune disorder or the presence of medications, drugs nicotine or their metabolites.</li> <br><li> to ask me/Life Assured to undergo medical examination and tests, as necessary and also understand and agree that the Company would rely on all the answers provided by me/us either on the proposal form and/or on medical examination form and all supporting documents submitted by me/us, including but not limited to proof of age and income, to complete the assessment of the proposal and any risks associated therewith. .</li><br><li> to collect, store, communicate and process information relating to the Policy/Account and all transactions therein including medical records, by the Company and any of its affiliates or service providers, wherever situated including sharing, transfer and disclosure between them or with any entity or entities, and to the authorities in and/or outside India of any confidential information for compliance with any law or regulation whether domestic or foreign. .</li><br><li> to request/collect such information and/or conduct medical examinations or tests, as may be necessary, for assessment of this proposal and/or continuance of the policy and/or at the time of processing any claim submitted by me or my nominees/legal heirs, if required. .</li></ol><br><br>Furthermore, I hereby irrevocably authorize any organisation, institution or individual that has any record or knowledge of my/Life Assured's health or medical or financial status/history to disclose any such information upon request by and to the Company or any of its authorised representatives.<br>I hereby declare that the details furnished above are true and correct to the best of my/our knowledge and belief and I undertake to inform you of any changes therein, immediately in case any of the above information is found to be false or untrue or misleading or misrepresenting, before issuance of the proposal.<br>"I, the undersigned confirm that I have verified photocopies of the proofs submitted along with this proposal form against the originals and certify the same to be true copy".<br>(Prohibition of Rebates) Section 41 - of the Insurance Act, 1938 as amended from time to time:1. No person shall allow or offer to allow, either directly or indirectly, as an inducement to any person to take out or renew or continue an insurance in respect of any kind of risk relating to lives or property in India, any rebate of the whole or part of the commission payable or any rebate of the premium shown on the policy, nor shall any person taking out or renewing or continuing a policy accept any rebate, except such rebate as may be allowed in accordance with the published prospectuses or tables of the insurer. 2. Any person making default in complying with the provisions of this section shall be liable for a penalty which may extend to ten lakh rupees."<br>SECTION 45 OF THE INSURANCE ACT, 1938 STATES:No policy of life insurance shall be called in question on any ground whatsoever after the expiry of three years from the date of policy, i.e. from the date of issuance of the policy or the date of commencement of risk or the date of revival of the policy or the date of the rider to the policy, whichever is later. A policy of life insurance may be called in question at any time within three years from the date of issuance of the policy or the date of commencement of risk or the date of revival of the policy or the date of the rider to the policy, whichever is later, on the ground of fraud: Provided that the insurer shall have to communicate in writing to the insured or the legal representatives or nominees or assignees of the insured the grounds and materials on which such decision is based. Nothing in this section shall prevent the insurer from calling for proof of age at any time if he is entitled to do so, and no policy shall be deemed to be called in question merely because the terms of the policy adjusted on subsequent proof that the age of the life insured was incorrectly stated in the proposal. For further details, please refer to the Insurance Act, as amended from time to time.<br><br>Disclaimers:IN CASE OF A ULIP POLICY, THE INVESTMENT RISK IN INVESTMENT PORTFOLIO IS BORNE BY THE POLICYHOLDER. Tata AIA Life Insurance Company Limited is only the name of the Company and any contract bearing the prefix "Tata AIA Life" is only the name of the contract and does not in any way indicate the quality of the contracts, its future prospects or returns. Premium paid in ULIP is subject to investment risks associated with capital markets & the NAV of the units may go up or down based on the performance of the funds and factors influencing capital markets and the insured is responsible for his decision. Past performance is not indicative of future results. For more details on risk factors, terms and conditions please read sales brochure carefully before concluding a sale.<br><br>
						</div>
						
						<div class="list " >
							IMPORTANT GUIDELINES: <br>
							<ol class = "term_of_use">
								<li>IN UNIT-LINKED INSURANCE POLICIES (ULIPs), THE INVESTMENT RISK IN INVESTMENT PORTFOLIO IS BORNE BY THE POLICYHOLDER.</li>
								<li> Insurance is a contract of utmost good faith between the Insurer and the Insured. The Proposer and the Life to be Assured are required to disclose all facts in response to the questions in this application form. </li>
								<li>Any cancellation/alteration is to be signed by Proposer/Life to be assured as applicable. </li>
								<li> KYC documents will be required for all the parties to the contract.</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		   	
		   	<div class="foot">
				<div class="clearfix">
					<div class="cf-pull-right">
						<button class="btn cf-btn btn-lg btn-primary " ng-disabled="disableUpload()" ng-click="uploadDocs()">Upload Documents</button>
					</div>
				</div>
		 	</div>				
		
		</div>
	</form>
</div>