<div class="formSection hwdtails">
	<form class="form_horizontal form-horizontal" novalidate name="employment" autocomplete="off">
		<div class="form-panel col-sm-12 col-md-12">
			<div class="employee heads">Employment Details</div>
			
			<div class="col-sm-12 formSection" >
				<div class="section"><div class="section-heading">Proposer Work specifics</div></div>
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':employment.Proorganisation.$invalid && ! employment.organisation.$pristine}">
						<label class="control-label label-block">Name of Organisation/Business </label>
						<input type="text" name="Proorganisation" class="form-control field" ng-model="proposalInput.insured.employmentDetails.employerName" required>
						<span class="errorMsg" ng-show="employment.Proorganisation.$error.required && !employment.Proorganisation.$pristine">This field is required</span>
					</div>				
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':employment.ProtypeOfOrganisation.$invalid && !employment.ProtypeOfOrganisation.$pristine}">
						<label class="control-label label-block">Type of Organisation</label>
						<select class="form-control" name="ProtypeOfOrganisation" ng-model="proposalInput.insured.employmentDetails.organizationType" required>
							<option value="">Select</option>
							<option value="{{organization.id}}" ng-repeat="organization in insurerMaster.OccupationType">{{organization.value}}</option>
						</select>
					</div>				
				</div>
				
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':employment.Prodesignation.$invalid && !employment.Prodesignation.$pristine}">
						<label class="control-label label-block">Your Designation </label>
						<input type="text" name="Prodesignation" class="form-control field" ng-model="proposalInput.insured.employmentDetails.designation" required>
						<span class="errorMsg" ng-show="employment.Prodesignation.$error.required && !employment.Prodesignation.$pristine">This field is required</span>
					</div>				
				</div>
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':employment.exactNatureofDuty.$invalid && !employment.exactNatureofDuty.$pristine}">
						<label class="control-label label-block">Exact Nature of Work</label>
						
						<select class="form-control field" name="ProexactNatureofDuty" ng-model="proposalInput.insured.employmentDetails.natureOfDuties" required>
							<option value="">Select</option>
							<option value="{{item.id}}" ng-repeat="item in insurerMaster.NatureOfWork">{{item.value}}</option>
						</select>
					</div>				
				</div>
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':employment.ProeduQualification.$invalid && !employment.ProeduQualification.$pristine}">
						<label class="control-label label-block">Educational Qualification </label>
						<select class="form-control" name="ProeduQualification" ng-model="proposalInput.insured.employmentDetails.qualification">
							<option value="">Select</option>
							<option value="{{educationalQuali.id}}" ng-repeat="educationalQuali in insurerMaster.Education">{{educationalQuali.value}}</option>
						</select>
					</div>
					
					<div class="form-group required" ng-if="proposalInput.insured.employmentDetails.qualification=='T'" ng-class="{'has-error':employment.ProotherQuli.$invalid && !employment.ProotherQuli.$pristine}">
						<label class="control-label label-block">Other Qualification </label>
						<input type="text" name="ProotherQuli" class="form-control" ng-model="proposalInput.insured.employmentDetails.OtherQualification" required>
						<span class="errorMsg" ng-show="employment.otherQuli.$error.required && !employment.otherQuli.$pristine">This field is required</span>
					</div>				
				</div>
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':employment.Prooccupation.$invalid && !employment.Prooccupation.$pristine}">
						<label class="control-label label-block">Occupation </label>
						<select  class="form-control field" name="Prooccupation" ng-model="proposalInput.insured.employmentDetails.occupation" required>
							<option value="">Select</option>
							<option value="{{occupation.id}}" ng-repeat="occupation in insurerMaster.OccupationClass">{{occupation.value}}</option>
						</select>
					</div>
					<div class="form-group required" ng-if="proposalInput.insured.employmentDetails.occupation==95" ng-class="{'has-error':employment.ProotherOccupation.$invalid && !employment.ProotherOccupation.$pristine}">
						<label class="control-label label-block">Other Occupation</label>
						<input type="text" name="ProotherOccupation" class="form-control" ng-model="proposalInput.insured.employmentDetails.otherOccupation" required>
					</div>				
				</div>
				
				
				<div class="clear"></div>
				
				<div class="col-sm-12">
					<div class="section"><div class="section-heading">Income details</div></div>
				</div>
				
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':employment.ProlifeAssured.$invalid && !employment.ProlifeAssured.$pristine}">
						<label class="control-label label-block">Are You earning?</label>
						<div class="btn-group required" data-toggle="buttons">
							<label class="btn btn-primary" ng-class="{'active':proposalInput.insured.employmentDetails.notEarning=='Y'}" ng-model="proposalInput.insured.employmentDetails.notEarning" uib-btn-radio="'Y'" required>
								<!-- <input type="radio" name="ProlifeAssured" value="Y" ng-model="proposalInput.insured.employmentDetails.notEarning" required> -->Yes
							</label>
							<label class="btn btn-primary" ng-class="{'active':proposalInput.insured.employmentDetails.notEarning=='N'}" ng-model="proposalInput.insured.employmentDetails.notEarning" uib-btn-radio="'N'" required>
								<!-- <input type="radio" name="ProlifeAssured" value="N" ng-model="proposalInput.insured.employmentDetails.notEarning" required> -->No
							</label>
						</div>
					</div>
				</div>
				
				<div class="clear"></div>
					
				<div class="col-sm-4 col-md-4" ng-if="proposalInput.insured.employmentDetails.notEarning=='Y'">
					<div class="form-group"  ng-class="{'has-error':employment.ProlifeAssured.$invalid && !employment.ProlifeAssured.$pristine}">
						<label class="control-label label-block">Life Assured's Annual income Rs  </label>
						<input type="text" name="ProlifeAssured" class="form-control field" ng-model="proposalInput.insured.employmentDetails.annualIncome" ng-keypress="filterValue($event)" required>
						<span class="errorMsg" ng-show="employment.lifeAssured.$error.required && ! employment.lifeAssured.$pristine">This field is required</span>
					</div>
				</div>
				        
				
				<div class="col-sm-4 col-md-4" ng-if="proposalInput.insured.employmentDetails.notEarning=='Y'">
					<div class="form-group required" ng-class="{'has-error':employment.incomeProof.$invalid && !employment.incomeProof.$pristine }">
						<label class="control-label label-block">Income proof </label>
						<select class="form-control" name="incomeProof" ng-model="proposalInput.insured.incomeProofType" required>
							<option ng-repeat="item in insurerMaster.IncomeProof" value="{{item.id}}" >{{item.value}}</option>
						</select>
						<span class="errorMsg" ng-show="employment.incomeProof.$error.required && !employment.incomeProof.$pristine">This field is required</span>
					</div>
				</div>
					
				<div class="clear"></div>
					
				<div ng-if="proposalInput.insured.employmentDetails.notEarning=='N'">
					<div class="form-group required" ng-class="{'has-error':employment.ProParentSpouseAnnualIncome.$invalid && !employment.ProParentSpouseAnnualIncome.$pristine}">
						<label class="control-label label-block">If not earning, state Parent's / Spouse's Annual Income Rs</label>
						<input type="text" name="ProParentSpouseAnnualIncome" class="form-control" ng-model="proposalInput.insured.employmentDetails.ParentSpouseAnnualIncome" required>
					</div>
					<div class="form-group required" ng-class="{'has-error':employment.ProParentSpouseInsuranceCover.$invalid && !employment.ProParentSpouseInsuranceCover.$pristine}">
						<label class="control-label label-block">For Student/Non earning (Single), state Parents Insurance cover Rs</label>
						<input type="text" name="ProParentSpouseInsuranceCover" class="form-control" ng-model="proposalInput.insured.employmentDetails.ParentSpouseInsuranceCover"  required>
					</div>
					<div class="form-group" required ng-class="{'has-error':employment.ProForHousewifeOccInsuranceCover.$invalid && !employment.ProForHousewifeOccInsuranceCover.$pristine}">
						<label class="control-label label-block">For House wife, state Spouse Insurance cover Rs</label>
						<input type="text" name="ProForHousewifeOccInsuranceCover" class="form-control" ng-model="proposalInput.insured.employmentDetails.ForHousewifeOccInsuranceCover" required>
					</div>
				</div>
					
				<div class="clear"></div>
				
			</div>
		
			<div class="col-sm-12">
				<span class="has-error" style="color:#a94442" ng-if="!employment.$valid || !checkEmployment()" >{{errorText}}</span>
			</div>
		
		
			<div class= "clear"></div>	
		
		   	<div class="foot">
				<div class="clearfix">
					<div class="cf-pull-left">
						<button class="btn cf-btn btn-lg btn-gry" ng-click="prev(0)" style="/* display: none; */">
		                     <img ng-src="./image/arrow-left.png">&nbsp;Back
		                </button>
		            </div>
					<div class="cf-pull-right">
						<button class="btn cf-btn btn-lg btn-primary " ng-disabled="contactInfo.$invalid" ng-click="saveandProceed(2)">Continue <img ng-src="./image/arrow-right.png"></button>
					</div>
				</div>
		 	</div>
		</div>
	</form>
</div>	