
<div class="footer-container">
	<div class="container">
    	
    	<div class="copyright" align="center"><span class="pull-left"> <img ng-src="./image/footerLogo.png" alt=""> </span>© Last Decimal Pvt Ltd.</div>
	</div>
</div>