<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="healthHistory" novalidate autocomplete="off">
		<div class="form-panel col-sm-12 col-md-12">
			<div class="heads">Height/ Weight Details</div>
			<div class="col-sm-2  col-md-2">
				<div class="form-group required" ng-class="{'has-error':healthHistory.height.$invalid && !healthHistory.height.$pristine}" >
					<label class="control-label label-block">Height </label>
					<span class="input-group">
						<input type="text" name="height" class="form-control" ng-model="proposalInput.insured.personalInfo.height" required ng-keypress="filterValue($event)">
						<span class="input-group-addon">cm</span>
					</span>
					<span class="errorMsg" ng-show="healthHistory.height.$error.required && !healthHistory.height.$pristine">This field is required</span>
				</div>
			</div>
			<div class="col-sm-2  col-md-2">
				<div class="form-group required" ng-class="{'has-error':healthHistory.Weight.$invalid && !healthHistory.Weight.$pristine}" >
					<label class="control-label label-block">Weight </label>

					<span class="input-group">
						<input type="text" name="Weight" class="form-control" ng-model="proposalInput.insured.personalInfo.weight" required ng-keypress="filterValue($event)">
						<span class="input-group-addon">
							Kgs
						</span>
					</span>
					<span class="errorMsg" ng-show="healthHistory.Weight.$error.required && !healthHistory.Weight.$pristine">This field is required</span>
				</div>
			</div>
			
		
			<div class="form-group required" ng-class="{'has-error':healthHistory.anyChange.$invalid && !healthHistory.anyChange.$pristine}" >
				<div class="col-sm-6 col-md-6 col-lg-6 ">
					<label class="label-block control-label">Have you experienced any change in weight of more than 5 kgs in past 1 year?</label>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" ng-class="{'active':proposalInput.insured.personalInfo.anyChange=='No change'}" ng-model="proposalInput.insured.personalInfo.anyChange" uib-btn-radio="'No change'" required>
							<!-- <input type="radio" class="form-control" name="anyChange" value="No change" ng-model="proposalInput.insured.personalInfo.anyChange" required> -->No change
						</label>
						<label class="btn btn-primary" ng-class="{'active':proposalInput.insured.personalInfo.anyChange=='Lost weight'}" ng-model="proposalInput.insured.personalInfo.anyChange" uib-btn-radio="'Lost weight'" required>
							<!-- <input type="radio" class="form-control" name="anyChange" value="Lost weight" ng-model="proposalInput.insured.personalInfo.anyChange" required> -->Lost weight
						</label>
						<label class="btn btn-primary" ng-class="{'active':proposalInput.insured.personalInfo.anyChange=='Gained weight'}" ng-model="proposalInput.insured.personalInfo.anyChange" uib-btn-radio="'Gained weight'" required>
							<!-- <input type="radio" class="form-control" name="anyChange" value="Gained weight" ng-model="proposalInput.insured.personalInfo.anyChange" required> -->Gained weight
						</label>
					</div>
				</div>
	
			</div>
			<div class="form-group" ng-if="proposalInput.insured.personalInfo.anyChange=='Lost weight' || proposalInput.insured.personalInfo.anyChange=='Gained weight'">
				<div class="col-sm-4  col-md-4">
					<label class="control-label label-block">Kg</label>
					<input type="text" name="manyKilograms" class="form-control" ng-model="proposalInput.insured.personalInfo.weightKg" ng-keypress="filterValue($event)">
				</div>
				<div class="col-sm-4  col-md-4">
					<label class="control-label label-block">Details</label>
					<input type="text" class="form-control" name="reason" ng-model="proposalInput.insured.personalInfo.weightDetails">
				</div>
				
			</div>
			<br>
			<div class = "separator"></div>
			<br>
			<div class = "clear"></div>
			<!----------------- Family Health History ------------------>
			<div class="heads">Family Health History</div>
			<br>
			<div> Please provide Health Information of Parents and Siblings</div><br>
			<div class = "clear"></div>
			<div class="form-group col-sm-12 col-md-12 col-lg-12" >
				<div><span><button class="btn btn-primary pull-right" ng-click="addEditFamilyMember('Add', 99, {})">Add</button></span></div>
				<div class = "clear"></div>		
				<div ng-repeat = "family in proposalInput.familyHealth" class = "col-xs-12 col-sm-4 col-md-4  col-md-4">
					<div>
						<div><label>{{family.member}}</label><span class = "glyphicon glyphicon-trash" ng-click = "addEditFamilyMember('delete',$index, family)" ></span></div>
						<div ng-if="family.alive == 'Y'">
							<span class = "ibspan">Age: {{family.age}}</span><br>
							<span class = "ibspan">Health State: {{getMasterValue('HealthCode', family.healthState)}}</span><br>
						</div>
						<div ng-if="family.alive == 'N'">
							<span class = "ibspan">Death Age: {{family.age}}</span><br>
							<span class = "ibspan">Death Cause: {{getMasterValue('DeathCause', family.deathCause)}}</span><br>
						</div>
					</div>
					<br>
				</div>
			
			</div>
			<div class = "clear"></div>
			<div class="col-sm-12">
				<span class="has-error" style="color:#a94442" ng-if="!healthHistory.$valid || !healthComplete()" >Father and Mother required and must appear only once</span>
			</div>
			<div class = "clear"></div>
						
			<!----------------- Insured LifeStyle ------------------>
			<div class="about-yourself heads">Insured Personal Questions</div>
			<div >
				<div class = "col-sm-8" ng-repeat="question in proposalInput.insured.personalQuestions track by $index">
					<div class="form-group required ">
						<label class="control-label label-block">
							<span>{{$index + 1}}.&nbsp;<span>{{getMasterValue('LifeStyleQuestions',question.id)}}</span></span>
						</label>
						<div class = "clear"></div>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='Y'}" ng-model="question.isYesNo" uib-btn-radio="'Y'" required>
								Yes	
							</label>
							<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='N'}" ng-model="question.isYesNo" uib-btn-radio="'N'" required>
								No	
							</label>
						</div>
						<div class = "clear"></div>
					</div>
					<div class = "clear"></div>
					<div class="form-group" ng-if="question.formNeeded == 'N' && question.isYesNo=='Y' ">
						<div class="col-sm-8">
							<label class="control-label label-block">Details</label>
							<textarea class="form-control" ng-model="question.details" required></textarea>
						</div>
					</div>
					<div class = "clear"></div>
					<div class="form-group" ng-if="question.isYesNo=='Y' && question.formNeeded == 'Y'">
						<div class="col-sm-12">
							<div class="table-responsive">
								<div><span><button class="btn btn-primary pull-right" ng-click="addEditLifeStyleMember(question.id,'Add', 99, {})">Add</button></span></div>
								<table ng-show = "question.details.length>0" class="table table-bordered">
									<thead>
										<tr >
										    <th ng-repeat = "header in lifeStyleHeaders(question.id)">{{header.value}}</th>
										</tr>
									</thead>
									<tbody>
											<tr ng-repeat="answer in lifestyleDisplay[question.id] track by $index">
												<td ng-repeat="tag in answer">{{tag}}</td>
											</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class = "clear"></div>
				</div>
			</div>	
			<div class = "clear"></div>
			<!----------------- Proposer Life Style ------------------>
			<div class="about-yourself heads" ng-if = "proposalInput.proposer.isProposerInsuredSame=='N'">Proposer Personal Questions</div>
			<div class="" ng-if = "proposalInput.proposer.isProposerInsuredSame=='N'">
				<div  ng-repeat="question in proposalInput.proposer.personalQuestions track by $index">
					<div class="form-group required">
						<label class="control-label label-block">
							<span>{{$index + 1}}.&nbsp;</span><span>{{getMasterValue('LifeStyleQuestions',question.id)}}</span>
						</label>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='Y'}" ng-model="question.isYesNo" uib-btn-radio="'Y'" ng-change="isYesNO($index,question.id,'Y')" required>
								<!-- <input type="radio" name="{{question.id}}" ng-model="question.isYesNo" value="Y" ng-change="isYesNO($index,question.id,'Y')" required> -->Yes
							</label>
							<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='N'}" ng-model="question.isYesNo" uib-btn-radio="'N'" ng-change="isYesNO($index,question.id,'N')" required>
								<!-- <input type="radio" name="{{question.id}}" ng-model="question.isYesNo"  value="N"  ng-change="isYesNO($index,question.id,'N')" required> -->No
							</label>
						</div>
					</div>
					<div class="form-group" ng-if="!question.formNeeded && question.isYesNo=='Y' ">
						<div class="col-sm-8">
							<label class="control-label label-block">Details</label>
							<textarea class="form-control" ng-model="question.details" required></textarea>
						</div>
					</div>
					<div class="form-group" ng-if="question.isYesNo=='Y' && question.formNeeded">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="table-responsive">
								<div><span><button class="btn btn-primary pull-right" ng-click="addEditLifeStyleMember(question.id,'Add', 99, {})">Add</button></span></div>
								<table ng-show = "question.details.length>0" class="table table-bordered">
									<thead>
										<tr >
										    <th ng-repeat = "header in lifeStyleHeaders(question.id) track by $index">{{header.value}}</th>
										    <th>&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="answer in lifestyleDisplay[question.id] track by $index" ng-init="$rowIndex = $index">
											<td ng-repeat="tag in answer track by $index">{{tag}}</td>
											<td><span class = "glyphicon glyphicon-trash" ng-click = "addEditLifeStyleMember(question.id,'Delete', $rowIndex, {})" ></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					
					</div>
				</div>
				

			</div>				
			<div class = "clear"></div>
			<!----------------- Existing Insurance History ------------------>
			
			<div class="heads">Existing Insurance History</div>
			<br><br>
			<div> Do you currently hold or have applied for Life Insurance /Health Personal Accident Policies with TATA AIA Life or other companies? If Yes, please provide details as below</div>
			<div>
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="table-responsive">
						<div><span><button class="btn btn-primary pull-right" ng-click="addEditExistingInsurance('Add', 99, {})">Add</button></span></div>
						<table ng-show = "proposalInput.existingInsurance.length>0" class="table table-bordered">
							<thead>
								<tr >
								    <th>Type</th>
								    <th>Policy No</th>
								    <th>Insurer</th>
								    <th>Sum Assured</th>
								    <th>Premium</th>
								    <th>Decision</th>
								    <th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
									<tr ng-repeat = "item in proposalInput.existingInsurance">
										<td>{{item.insuranceType}}</td>
										<td>{{item.policyNumber}}</td>
										<td>{{item.insurerName}}</td>
										<td>{{item.sa}}</td>
										<td>{{item.premium}}</td>
										<td>{{item.decision}}</td>
										<td><span class="glyphicon glyphicon-trash" ng-click="addEditExistingInsurance('delete', $index, item)"></span></td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>
				<br><br>
			</div>		
			
			<div class = "clear"></div>
			<!----------------- Minor Family Insurance History ------------------>
			<div  ng-if="isMinor">
				<div class = "separator"></div>
				<h4 class="panel-heading">Family Insurance History</h4>
				<br><br>
				<div> Please provide Insurance Information of Parents and Siblings</div><br><br>
				
				<div class="form-group">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="table-responsive">
							<div><span><button class="btn btn-primary pull-right" ng-click="addEditMinorInsurance('Add', 99, {})">Add</button></span></div>
							<table ng-show = "proposalInput.minorInsurance.length>0" class="table table-bordered">
								<thead>
									<tr >
									    <th>Relationship</th>
									    <th>Date of Birth</th>
									    <th>Occupation</th>
									    <th>Income</th>
									    <th>Total Insurance Cover</th>								    
								    	<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
										<tr ng-repeat = "item in proposalInput.minorInsurance">
											<td>{{item.relationship}}</td>
											<td>{{item.dob}}</td>
											<td>{{item.occupation}}</td>
											<td>{{item.income}}</td>
											<td>{{item.totalCover}}</td>
										<td><span class="glyphicon glyphicon-trash" ng-click="addEditMinorInsurance('delete', $index, item)"></span></td>
										</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>		
			</div>
		   	<div class = "clear"></div>
		   	<div class="foot">
				<div class="clearfix">
					<div class="cf-pull-left">
						<button class="btn cf-btn btn-lg btn-gry" ng-click="prev(1)" style="/* display: none; */">
		                     <img ng-src="./image/arrow-left.png">&nbsp;Back
		                </button>
		            </div>
					<div class="cf-pull-right">
						<button class="btn cf-btn btn-lg btn-primary " ng-disabled="healthHistory.$invalid" ng-click="saveandProceed(3)">Continue <img ng-src="./image/arrow-right.png"></button>
					</div>
				</div>
		 	</div>
		</div>
	</form>
</div>
