	<form class="form-horizontal form_horizontal" name="insuredExtra" novalidate>
		<div class="about-family page-heading">More About Insured</div>

						
		<!--  Row -->

		
				
		<div class="col-sm-5   col-md-5">
			<div class="form-group required" ng-class="{'has-error':insuredExtra.idProof.$invalid && !insuredExtra.idProof.$pristine }">
				<label class="control-label label-block">ID proof </label>
				<select class="form-control" name="idProof" ng-model="proposalInput.insured.idProofType" required>
					<option ng-repeat="item in insurerMaster.IdentityProof" value="{{item.id}}" >{{item.value}}</option>
				</select>
				<span class="errorMsg" ng-show="insuredExtra.idProof.$error.required && !insuredExtra.idProof.$pristine">This field is required</span>
			</div>
		</div>
		<div class="clear"></div>
		<!--  Row    -->
		<div ng-if = "proposalInput.insured.idProofType == 'DL' || proposalInput.insured.idProofType == 'PP'" >
			<div class="col-sm-5   col-md-5">	
				<div class="form-group required" ng-class="{'has-error':insuredExtra.aboutinsureddob.$invalid && !insuredExtra.aboutinsureddob.$pristine }">
					<label class="control-label label-block" >Date Of Issue</label>
					<span class="input-group">
	                    <input type="text" class="form-control" name="idProofIssue" id="idProofIssue" 
	          			uib-datepicker-popup="{{format}}" ng-model="proposalInput.insured.idProofIssue" is-open="popup1.opened" datepicker-options="pastDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required" />
	                  	<span class="input-group-btn">
	                    	<button type="button" class="btn btn-primary" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
	                  	</span>
	        		</span>
	        		<span class="errorMsg" ng-show="insuredExtra.idProofIssue.$error.required && !insuredExtra.idProofIssue.$pristine">This field is required</span>
				</div>
			</div>	
			<div  class="col-sm-2 col-md-2">&nbsp;</div>
			<div class="col-sm-5   col-md-5">
				<div class="form-group required" ng-class="{'has-error':insuredExtra.aboutinsureddob.$invalid && !insuredExtra.aboutinsureddob.$pristine }">
						<label class="control-label label-block" >Date Of Expiry</label>
						<span class="input-group">
		                    <input type="text" class="form-control" name="idProofexpiry" id="idProofexpiry" 
		          			uib-datepicker-popup="{{format}}" ng-model="proposalInput.insured.idProofexpiry" is-open="popup2.opened" datepicker-options="futureDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required" />
		                  	<span class="input-group-btn">
		                    	<button type="button" class="btn btn-primary" ng-click="openDE()"><i class="glyphicon glyphicon-calendar"></i></button>
		                  	</span>
		        		</span>
		        		<span class="errorMsg" ng-show="insuredExtra.ageProofexpiry.$error.required && !insuredExtra.ageProofexpiry.$pristine">This field is required</span>
				</div>
			</div>
		</div>
		<div class="clear"></div>

        
		
		
		<div class="col-sm-12">
			<div class="prev-small-green"><a href="javascript:void(0);" ng-click="setTab(3);prev(3)" class="" id="link">Previous</a></div>
			<button type="button" name="Continue" id="Continue" value="Continue" ng-click="saveandProceed(5)" class="submitBtn-small btn btn-primary" ng-disabled="!insuredExtra.$valid"><div class="btn-icon-small continue-small"></div><div class="btn-text">Continue</div></button>
		</div>
	</div>
</form>