<div class="insurance-history page-heading">Insurance History</div>
<div class="insurance-sub-title">All fields are<div class="asterisk-red"> *</div>mandatory</div>
<form class="form-horizontal form_horizontal" name="insuranceHistory" novalidate>
	<div id="" class="formSection"><div class="label-block">Family Insurance Details (To be completed if the life to be insured is student or non-earning individual)</div>
	<div class="form-group required">
		<label class="control-label label-block">
			Are you holding any life, health or critical illness insurance policies (in-force / paid-up)in your name or submitted any simultaneous proposal with us or any other life insurance company which is under consideration?
		</label>
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary" ng-class="{'active':proposalInput.insurancePolicy=='Y'}">
				<input type="radio" name="insurancePolicy" ng-model="proposalInput.insurancePolicy" value="Y" required>Yes
			</label>
			<label class="btn btn-primary" ng-class="{'active':proposalInput.insurancePolicy=='N'}">
				<input type="radio" name="insurancePolicy" ng-model="proposalInput.insurancePolicy" value="N" required>No
			</label>
		</div>
	</div>
	<div class="form-group" ng-if="proposalInput.insurancePolicy=='Y'">
		<label class="control-label label-block">If yes,give details of existing insurance cover of in-force/paid up policies in the name of life to be insured.Please include policies from aviva life insurance as well. </label>
		<div class="table-view form-row existing-insurance-policy-details">
			<div class="table-view-inner first">
				<div class="view-title" >Name of the <br>Insurer </div>
				<div class="view-details" ng-class="{'first':i==1, 'last':i==5 }"  ng-repeat="i in [1,2,3,4,5]">
					<div class="details" >
						<div class="details-name">{{i}} </div>
						<div class="details-input">
							<input type="text" name="nameofInsurer{{i}}" ng-model="proposalInput.nameofInsurer[$index]" ng-keypress="alphaChar($event)" class="" maxlength="50"> 
						</div>
					</div>
				</div>
				
			</div>
			<div class="table-view-inner">
				<div class="view-title">Type of <br>policy </div>
				<div class="view-details" ng-class="{'first':i==1, 'last':i==5 }"  ng-repeat="i in [1,2,3,4,5]">
					<div class="details">
						<div class="details-name"> {{i}} </div>
						<div class="details-input">
							<input type="text" name="typepolicy{{i}}"  ng-keypress="alphaNumeric($event)" ng-model="proposalInput.typepolicy[$index]" class="" maxlength="25"> 
						</div>
					</div>
				</div>
				
			</div>
			<div class="table-view-inner">
				<div class="view-title">Term of <br>policy </div>
				<div class="view-details" ng-class="{'first':i==1, 'last':i==5 }"  ng-repeat="i in [1,2,3,4,5]">
					<div class="details">
						<div class="details-name"> {{i}} </div>
						<div class="details-input">
							<input type="text" name="termOfpolicy{{i}}"  ng-keypress="filterValue($event)" ng-model="proposalInput.termOfpolicy[$index]" class="" maxlength="25"> 
						</div>
					</div>
				</div>
			</div>
			<div class="table-view-inner">
				<div class="view-title" id="_label">Sum <br>Assured/Paid <br>up sum <br>assured </div>
				<div class="view-details" ng-class="{'first':i==1, 'last':i==5 }"  ng-repeat="i in [1,2,3,4,5]">
					<div class="details">
						<div class="details-name"> {{i}} </div>
						<div class="details-input">
							<input type="text" name="sumAssu{{i}}"  ng-keypress="filterValue($event)" ng-model="proposalInput.sumAssu[$index]" class="" maxlength="12"> 
						</div>
					</div>
				</div>
			</div>
			<div class="table-view-inner">
				<div class="view-title">Year of <br>issue (YYYY) </div>
				<div class="view-details" ng-class="{'first':i==1, 'last':i==5 }"  ng-repeat="i in [1,2,3,4,5]">
					<div class="details">
						<div class="details-name"> {{i}} </div>
						<div class="details-input">
							<input type="text" name="yrOfIssue{{i}}"  ng-keypress="filterValue($event)" ng-model="proposalInput.yrOfIssue[$index]" class="" maxlength="4"> 
						</div>
					</div>
				</div>
			</div>
			<div class="table-view-inner">
				<div class="view-title">Whether<br> accepted <br>at ordinary <br>rates </div>
				<div class="view-details" ng-class="{'first':i==1, 'last':i==5 }"  ng-repeat="i in [1,2,3,4,5]">
					<div class="details">
						<div class="details-name"> {{i}} </div>
						<div class="details-input">
							<!-- <input type="text" name="yrOfIssue{{i}}"  ng-keypress="filterValue($event)" ng-model="proposalInput.yrOfIssue[$index]" class="" maxlength="12">  -->
							<select ng-model="proposalInput.WhetherAccept[$index]" name="WhetherAccept{{i}}">
								<option value="">Select</option>
								<option value="Standard">Standard</option>
								<option value="Extra Premium">Extra Premium</option>
								<option value="Decline">Decline</option>
								<option value="Postpone">Postpone</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="table-view-inner">
				<div class="view-title" id="_label">Name and <br>Coverage <br> Amount of Rider </div>
				<div class="view-details" ng-class="{'first':i==1, 'last':i==5 }"  ng-repeat="i in [1,2,3,4,5]">
					<div class="details">
						<div class="details-name"> {{i}} </div>
						<div class="details-input">
							<input type="text" name="nameCoverage{{i}}"   ng-model="proposalInput.nameCoverage[$index]" class="" maxlength="20"> 
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-top20">
			<div class="label-block">Total annual premium of Life Insurance Policies in your own name(Rs. Figures) <div class="asterisk-red"> *</div> 
			</div>
			<input type="text" name="txtannaulpremium" id="txtannaulpremium"  placeholder="Please specify details" ng-model="proposalInput.specifyDetails" class="w155" maxlength="12" ng-keypress="filterValue($event)" required> 
		</div>
	</div>
	<div class="form-group required">
		<label class="control-label label-block">
			Have you ever made any claim on your critical illness or health policy other than for minor ailments from which you have fully recovered? 
		</label>
		 <div class="btn-group" data-toggle="buttons">
		 	<label class="btn btn-primary" ng-class="{'active':proposalInput.claimHealth=='Y'}">
		 	<input type="radio" name="claimHealth" value="Y" ng-model="proposalInput.claimHealth" required>
		 	Yes</label>
		 	<label class="btn btn-primary" ng-class="{'active':proposalInput.claimHealth=='N'}"><input type="radio" name="claimHealth" value="N" ng-model="proposalInput.claimHealth" required>No</label>
		 </div>
	</div>
	<div class="form-group" ng-if="proposalInput.claimHealth=='Y'">
		<div class="col-sm-6 padd-left">
			<label class="control-label label-block">Please specify details</label>
			<input type="text" name="claimSpecifyDetail" ng-model="proposalInput.claimSpecifyDetail" class="form-control">
		</div>
	</div>
	<div class="form-group required">
		<label class="control-label label-block">
			Has your proposal or application for reinstatement you have made for life, health or critical illness cover been declined, postponed or accepted on special terms or have you ever withdrawn an application? 
		</label>
		<div class="btn-group" data-toggle="buttons">
		 	<label class="btn btn-primary" ng-class="{'active':proposalInput.proposal=='Y'}">
		 	<input type="radio" name="proposal" value="Y" ng-model="proposalInput.proposal" required>
		 	Yes</label>
		 	<label class="btn btn-primary" ng-class="{'active':proposalInput.proposal=='N'}"><input type="radio" name="proposal" value="N" ng-model="proposalInput.proposal" required>No</label>
		 </div>
	</div>
	<div class="form-group" ng-if="proposalInput.proposal=='Y'">
		<div class="col-sm-6 padd-left">
			<label class="control-label label-block">Please specify details</label>
			<input type="text" name="proposalSpecifyDetail" ng-model="proposalInput.proposalSpecifyDetail" class="form-control">
		</div>
	</div>
	<div class="form-group required">
		<label class="control-label label-block">
			Are you paying premium for life insurance policies on any other life
		</label>
		<div class="btn-group" data-toggle="buttons">
		 	<label class="btn btn-primary" ng-class="{'active':proposalInput.payingPremium=='Y'}">
		 	<input type="radio" name="payingPremium" value="Y" ng-model="proposalInput.payingPremium" required>
		 	Yes</label>
		 	<label class="btn btn-primary" ng-class="{'active':proposalInput.payingPremium=='N'}"><input type="radio" name="payingPremium" value="N" ng-model="proposalInput.payingPremium" required>No</label>
		 </div>
	</div>
	<div class="form-group" ng-if="proposalInput.payingPremium=='Y'">
		<div class="col-sm-6 padd-left">
			<label class="control-label label-block">Total annual premium (Rs.Figures)</label>
			<input type="text" name="payingPremiumTotal" ng-model="proposalInput.payingPremiumTotal" class="form-control">
		</div>
	</div>
	</form>
	<!-- <form name="familyInsurance" novalidate>
	<div class="label-block">Family Insurance Details (To be completed if the life to be insured is student or non-earning individual)</div>
	<div class="table-view form-row">
		<div class="table-view-head">
			<div class="view-details first">
				<div class="details">
					<div class="details-name">&nbsp; </div>
				</div>
			</div>
			<div class="view-details" >
				<div class="details" >
					<div class="details-name" >Name of <br> Company </div>
				</div>
			</div>
			<div class="view-details" >
				<div class="details" >
					<div class="details-name" >Policy <br> Numbers </div>
				</div>
			</div>
			<div class="view-details" >
				<div class="details" >
					<div class="details-name" >Sum Assured </div>
				</div>
			</div>
			<div class="view-details" >
				<div class="details" >
					<div class="details-name" >Status </div>
				</div>
			</div>
			<div class="view-details" >
				<div class="details" >
					<div class="details-name" >Year of issue </div>
				</div>
			</div>
		</div>
		<div class="table-view-inner">
			<div class="view-details">
				<button class="btn btn-primary" ng-click="addFamilyMember(familymember)" ng-disabled="!familyInsurance.$valid">Add</button>
			</div>
		</div>
		<div class="table-view-inner">
			<div class="view-details">
				<div class="details">
					<div class="details-input">
						<label class="label-block">Member</label>
						<select class="" ng-model="familymember.Member" required>
							<option value="father">Father</option>
							<option value="mother">Mother</option>
							<option value="spouse">Spouse</option>
							<option value="brother-sister">Brother/ Sister</option>
						</select>
					</div>
				</div>
			</div>
			<div class="view-details first" >
				<div class="details" >
					<div class="details-name">Name of <br> Company </div>
					<div class="details-input" >
						<input type="text" name="nameofCompany"  ng-keypress="alphaChar($event)" class="" maxlength="25" ng-model="familymember.nameofCompany" required> 
					</div>
				</div>
			</div>
			<div class="view-details" >
				<div class="details" >
					<div class="details-name" >Policy <br>  Numbers </div>
					<div class="details-input" >
						<input type="text" name="policyNo" ng-model="familymember.policyNo" class="" maxlength="11" ng-keypress="alphaNumeric($event)" required> 
					</div>
				</div>
			</div>
			<div class="view-details">
				<div class="details">
					<div class="details-name">Sum Assured </div>
					<div class="details-input" >
						<input type="text" name="sumAssured" ng-model="familymember.sumAssured"  class="" maxlength="8" ng-keypress="filterValue($event)" required> 
					</div>
				</div>
			</div>
			<div class="view-details">
				<div class="details">
					<div class="details-name">Status </div>
					<div class="details-input">
						<input type="text" name="status" ng-model="familymember.status" class="" maxlength="20" ng-keypress="alphaNumeric($event)" required> 
					</div>
				</div>
			</div>
			<div class="view-details last">
				<div class="details">
					<div class="details-name"> Year<br> Issued </div>
					<div class="details-input">
						<input type="text" name="YearOfIssue" ng-model="familymember.YearOfIssue" ng-keypress="filterValue($event)" class="" maxlength="4" required> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th>Member</th>
					<th>Name of Company</th>
					<th>Policy Numbers</th>
					<th>Sum Assured</th>
					<th>Status</th>
					<th>Year of issue</th>
				</thead>
				<tbody>
					<tr >
						<td>Father</td>
						<td>{{addFamily.Father.nameofCompany}}</td>
						<td>{{addFamily.Father.policyNo}}</td>
						<td>{{addFamily.Father.sumAssured}}</td>
						<td>{{addFamily.Father.status}}</td>
						<td>{{addFamily.Father.YearOfIssue}}</td>
					</tr>
					
					<tr ng-repeat="borSis in addFamily.brotherSister track by $index ">
						<td>Brother/Sister</td>
						<td>{{borSis.nameofCompany}}</td>
						<td>{{borSis.policyNo}}</td>
						<td>{{borSis.sumAssured}}</td>
						<td>{{borSis.status}}</td>
						<td>{{borSis.YearOfIssue}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</form> -->
<div class="prev-small-green"><a href="javascript:void(0);" ng-click="setTab(10);prev(10)" class="" id="link">Previous</a></div>
<button type="button" name="Continue" id="Continue" value="Continue" ng-click="setTab(12);nextTab(12)" class="submitBtn-small btn btn-primary" ng-disabled="!insuranceHistory.$valid"><div class="btn-icon-small continue-small"></div><div class="btn-text">Continue</div></button>