<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="lifeStyle" novalidate>
		<div class="form-panel col-sm-12 col-md-12">
			<div class="about-yourself heads">Personal Questions</div>
			<div>
				<uib-tabset>
					<uib-tab index="0" heading="Insured" >
						<div class="col-sm-12">
							<div class = "col-sm-8" ng-repeat="question in proposalInput.insured.personalQuestions">
								<div class="form-group required ">
									<label class="control-label label-block">{{$index + 1}}.&nbsp;{{getMasterValue('LifeStyleQuestions', question.id)}}
									</label>
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='Y'}" ng-model="question.isYesNo" uib-btn-radio="'Y'" ng-change="isYesNO($index,question.name,'Y')" required>
											<!-- <input type="radio" name="{{question.name}}" ng-model="question.isYesNo" value="Y" ng-change="isYesNO($index,question.name,'Y')" required> -->Yes
										</label>
										<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='N'}" ng-model="question.isYesNo" uib-btn-radio="'N'" ng-change="isYesNO($index,question.name,'N')" required>
											<!-- <input type="radio" name="{{question.name}}" ng-model="question.isYesNo"  value="N"  ng-change="isYesNO($index,question.name,'N')" required> -->No
										</label>
									</div>
								</div>
								<div class = "clear"></div>
								<div class="form-group" ng-if="question.formNeeded == 'N' && question.isYesNo=='Y' ">
									<div class="col-sm-8">
										<label class="control-label label-block">Details</label>
										<textarea class="form-control" ng-model="question.details" required></textarea>
									</div>
								</div>
								<div class = "clear"></div>
								<div class="form-group" ng-if="question.isYesNo=='Y' && question.formNeeded == 'Y'">
									<div class="col-sm-12">
										<div class="table-responsive">
											<div><span><button class="btn btn-primary pull-right" ng-click="addEditLifeStyleMember(question.name,'Add', 99, {})">Add</button></span></div>
											<table ng-show = "question.details.length>0" class="table table-bordered">
												<thead>
													<tr >
													    <th ng-repeat = "header in lifeStyleHeaders(question.name)">{{header.value}}</th>
													</tr>
												</thead>
												<tbody>
														<tr ng-repeat="answer in lifestyleDisplay[question.name] track by $indexA">
															<td ng-repeat="tag in answer">{{tag}}</td>
														</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class = "clear"></div>
							</div>
						</div>	
					
					</uib-tab>
					
					<uib-tab index="1" heading="Proposer" ng-if = "proposalInput.proposer.isProposerInsuredSame=='N'">
						<div class="col-sm-12">
							<div  ng-repeat="question in proposalInput.proposer.personalQuestions track by $index">
								<div class="form-group required">
									<label class="control-label label-block">
										<span class = "ibspan">{{$index + 1}}.&nbsp;</span><span>{{getMasterValue('LifeStyleQuestions',question.name)}}</span>
									</label>
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='Y'}" ng-model="question.isYesNo" uib-btn-radio="'Y'" ng-change="isYesNO($index,question.name,'Y')" required>
											<!-- <input type="radio" name="{{question.name}}" ng-model="question.isYesNo" value="Y" ng-change="isYesNO($index,question.name,'Y')" required> -->Yes
										</label>
										<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='N'}" ng-model="question.isYesNo" uib-btn-radio="'N'" ng-change="isYesNO($index,question.name,'N')" required>
											<!-- <input type="radio" name="{{question.name}}" ng-model="question.isYesNo"  value="N"  ng-change="isYesNO($index,question.name,'N')" required> -->No
										</label>
									</div>
								</div>
								<div class="form-group" ng-if="!question.formNeeded && question.isYesNo=='Y' ">
									<div class="col-sm-8">
										<label class="control-label label-block">Details</label>
										<textarea class="form-control" ng-model="question.details" required></textarea>
									</div>
								</div>
								<div class="form-group" ng-if="question.isYesNo=='Y' && question.formNeeded">
									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="table-responsive">
											<div><span><button class="btn btn-primary pull-right" ng-click="addEditLifeStyleMember(question.name,'Add', 99, {})">Add</button></span></div>
											<table ng-show = "question.details.length>0" class="table table-bordered">
												<thead>
													<tr >
													    <th ng-repeat = "header in lifeStyleHeaders(question.name) track by $index">{{header.value}}</th>
													</tr>
												</thead>
												<tbody>
														<tr ng-repeat="answer in lifestyleDisplay[question.name] track by $index">
															<td ng-repeat="tag in answer track by $index">{{tag}}</td>
														</tr>
												</tbody>
											</table>
										</div>
									</div>
								
								</div>
							</div>
							
	
						</div>	
					
					</uib-tab>
				</uib-tabset>
			</div>
			<div class = "clear"></div>
			<div class="foot">
				<div class="clearfix">
					<div class="cf-pull-left">
						<button class="btn cf-btn btn-lg btn-gry" ng-click="prev(4)" style="/* display: none; */">
		                     <img ng-src="./image/arrow-left.png">&nbsp;Back
		                </button>
		            </div>
					<div class="cf-pull-right">
						<button class="btn cf-btn btn-lg btn-primary " ng-disabled="lifeStyle.$invalid" ng-click="saveandProceed(6)">Continue <img ng-src="./image/arrow-right.png"></button>
					</div>
				</div>
		 	</div>
		</div>
	</form>
</div>