<div class="medicalAppontment page-heading">Medical Appointment</div>
<div class="formSection">
	<div class="section"><div class="section-heading">Fix an appointment for your medical checkup</div></div>
	<form class="form-horizontal form_horizontal" name="medicalAppointment" novalidate>
		<div class="col-sm-8">
			<div class="form-group required">
				<label class="label-control label-block">Home Visit</label>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary" ng-class="{'active':user.homevisit=='N'}">
						<input type="radio" name="homevisit" ng-model="user.homevisit" value="N" required>No
					</label>
				</div>
			</div>
			<div class="form-group required">
				<label class="label-control label-block">Medical Centre</label>
				<select class="form-control" ng-model="user.medicalCenter">
					<option value="Instant Diagnostic Center">Instant Diagnostic Center</option>
				</select>
			</div>
			<div class="form-group required">
				<label class="label-control label-block">Medical Centre Address</label>
				<textarea class="mCentre" ng-model="user.medicalCenterAdd" class="form-control"></textarea>
			</div>
			<div class="form-group required">
				<label class="label-control label-block">Appointment Date</label>
				<span class="input-group">
				
	               <input type="text" class="form-control" name="appointmentDate"  
          			uib-datepicker-popup="yyyy-MM-dd" is-open="popup2.opened" ng-model="user.appointmentdob"  readonly="readonly" required="required" />
                  	<span class="input-group-btn">
                    	<button type="button" class="btn btn-primary" ng-click="appointmentDateTime()"><i class="glyphicon glyphicon-calendar"></i></button>
                  	</span>
        		</span>
			</div>
			<div class="form-group required">
				<label class="label-control label-block">Appointment Time</label>
				<select class="form-control" ng-model="user.appointmentTime" required>
					<option value="">Select</option>
					<option value="{{timePicks}}" ng-repeat="timePicks in timePick">{{timePicks}}</option>
				</select>
			</div>
			<div class="form-group">
				<div class="prev-small-green"><a href="javascript:void(0);" ng-click="setTab(9);prev(9)" class="" id="link">Previous</a></div>
				<button type="button" name="Continue" id="Continue" value="Continue" ng-click="setTab(11);nextTab(10)" class="submitBtn-small btn btn-primary" ng-disabled="!medicalAppointment.$valid"><div class="btn-icon-small continue-small"></div><div class="btn-text">Continue</div></button>
			</div>
		</div>
		
	</form>
</div>