<form class="form-horizontal form_horizontal" novalidate name="nominee" autocomplete="off">
	<div class="col-sm-12 formSection">
		<div class="nominees page-heading" ng-if = "proposalInput.insured.isProposerSameInsured=='Y'" >Nominee</div>
		<div class="nominees page-heading" ng-if = "proposalInput.insured.isProposerSameInsured!='Y'" >Contingent PolicyHolder</div>
		<div class="form-group">
			<div class="btn-group" ng-click = "addEditNominee('Add',99, {})">
				<label class="btn btn-primary">Add <span class = "glyphicon glyphicon-plus"></span></label>
			</div>
		</div>
		<div ng-show ="proposalInput.nominee.length>0 " class ="col-xs-12 col-sm-12 col-md-12 ">
			<div class = "col-xs-12 col-sm-6 col-md-6" ng-repeat ="nominee in proposalInput.nominee">
				<span class = "ibspan">{{nominee.title}}&nbsp;&nbsp;{{nominee.firstName}}&nbsp;&nbsp;{{nominee.lastName}}</span>
				<span class = "glyphicon glyphicon-pencil" ng-click = "addEditNominee('Edit',$index, nominee)" ></span><br>
				<span class = "ibspan"><span>Relationship:&nbsp;</span> {{getMasterValue("NomineeRel", nominee.relationshipWithInsured)}}</span><br>
				<span class = "ibspan"><span>Share Percent:&nbsp;</span> {{nominee.sharePercent}}%</span><br>
			</div>
		</div>
		<br><br>
		<div class="col-sm-12">
				<div class="prev-small-green"><a href="javascript:void(0);" ng-click="setTab(6);prev(6)" class="" id="link">Previous</a></div>
				<button type="button" name="Continue" id="Continue" value="Continue" ng-click="saveandProceed(8)" class="submitBtn-small btn btn-primary" ng-disabled="!proposalInput.nominee.length>0"><div class="btn-icon-small continue-small"></div><div class="btn-text">Continue</div></button>
		</div>
	</div>
</form>