<div class="investment margin-top-30" data-ng-controller="brokeredgeInvestment">
	<div class="col-md-6 padd0">
		<h4 class="green">COMPARE INVESTMENT & SAVING INSURANCE POLICIES</h4>
	</div>
	<div class="col-md-6 padd0">
		<div class="right">
	      <div class="blue step left">STEP</div>
	      <div class="number left">1</div>
	      <div class="grey step left">OF</div>
	      <div class="number left">3</div>
	    </div>
	</div>
	<div class="clear"></div>
	<div class="banner-c">
		<form id="investment-buy-form" class="form-horizontal form_horizontal " autocomplete="off" name="investmentForm" ng-submit="investmentSubmit()" novalidate>
			<div class="col-sm-12">
				<div class="col-sm-4">
					<div class="form-group">
						<div class="col-sm-12 padd0">
							<label class="control-label">Best Savings and Investment Policies for Me</label>
							<div class="btn-group purposeTravel">
								<label class="btn btn-primary btn_prim" uib-btn-radio="'MI'" ng-class="{'active': investmentInput.productType =='MI'}" ng-model="investmentInput.productType" style="color:#fff" required>Regular Income</label>
								<label class="btn btn-primary btn_prim" uib-btn-radio="'MB'" ng-class="{'active': investmentInput.productType =='Money Back'}" ng-model="investmentInput.productType" style="color:#fff" required>Money Back</label>
								<label class="btn btn-primary btn_prim" uib-btn-radio="'ENDW'" ng-class="{'active': investmentInput.productType =='ENDW'}" ng-model="investmentInput.productType" style="color:#fff" required>Endowment</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 pinCodeDiv inverstPin">
					<div class="form-group">
						<div class="col-sm-12">
							<label class="control-label">Pin Code</label>
								<input type="text" class="form-control form-pinCodeDiv" name="pincode" ng-model="investmentInput.pincode" ng-maxlength="6" ng-minlength="6" maxlength="6" ng-keypress="filterValue($event)" required>
								<span class="has-error" ng-show="investmentForm.pincode.$error.minlength && investmentForm.pincode.$dirty">Minimum length 6</span>
								<span class="has-error">{{error}}</span>
						</div>
					</div>
				</div>
				
				
				<div class="col-sm-4">
					<div class="form-group">
						<div class="col-sm-12 padd0 memDob">
							 <label class="control-label">Member DOB</label> 
							<span class="input-group">
                              <input type="text" class="form-control" name="'lifeDob'" uib-datepicker-popup="{{format}}" ng-model="investmentInput.investmentDob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
					          <span class="input-group-btn">
					            	<button type="button" class="btn btn-primary btn_prim" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
					          </span>
                            </span>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="col-sm-4 pinCodeDiv">
					<div class="form-group gendInvest">
						<div class="col-sm-12">
							<label class="control-label">Gender</label>
							<div class="clear"></div>
							<div class="btn-group">
								<label class="btn btn-primary btn_prim" uib-btn-radio="'M'" ng-class="{'active': investmentInput.gender =='M'}" ng-model="investmentInput.gender" style="color:#fff" required>Male</label>
								<label class="btn btn-primary btn_prim" uib-btn-radio="'F'" ng-class="{'active': investmentInput.gender =='F'}" ng-model="investmentInput.gender" style="color:#fff" required>Female</label>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-sm-4 pinCodeDiv">
					<div class="form-group">
						<div class="col-sm-12">
							<label class="control-label">How would you like to pay your premium? </label>
							<div class="clear"></div>
							<div class="btn-group">
								<label class="btn btn-primary btn_prim" uib-btn-radio="'Annually'" ng-class="{'active':investmentInput.annually=='Annually'}" ng-model="investmentInput.annually" style="color:#fff">Annually</label>
								<label class="btn btn-primary btn_prim" uib-btn-radio="'One Time'" ng-class="{'active':investmentInput.annually=='One Time'}" ng-model="investmentInput.annually" style="color:#fff">One Time</label>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="form-group">
						<div class="col-sm-12 padd0">
							<label class="control-label">How much would you like to invest One Time</label>
							<ui-select ng-model="investmentInput.investAmounts" theme="bootstrap"    required>
					            <ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
					            <ui-select-choices repeat="investAmounts in investOneTimes | filter: $select.search |  orderBy:'investAmounts'">
					              <div >
					              	<span ng-bind-html="investAmounts | highlight: $select.search"></span></br>
					              	<span ng-bind-html="investAmount(investAmounts) | highlight: $select.search"></span>
					              </div>
					             </ui-select-choices>
				          	</ui-select>
						</div>
					</div>
				</div>
				<div class="clear margin-top-30"></div>
				<div class="col-sm-6" ng-if="investmentInput.annually=='Annually'">
					<div class="form-group">
						<div class="col-sm-12">
							<label class="control-label">How long do you want to pay premiums?</label>
							<div class="btn-group">
								<label class="btn btn-primary btn_prim" uib-btn-radio="'5-9'" ng-model="investmentInput.payPremiums" ng-class="{'active':investmentInput.payPrimiums=='5-9'}" style="color:#fff">5-9 Years</label>
								<label class="btn btn-primary btn_prim" uib-btn-radio="'10-14'" ng-model="investmentInput.payPremiums" ng-class="{'active':investmentInput.payPrimiums=='10-14'}" style="color:#fff">10-14 Years</label>
								<label class="btn btn-primary btn_prim" uib-btn-radio="'15-19'" ng-model="investmentInput.payPremiums" ng-class="{'active':investmentInput.payPrimiums=='15-19'}" style="color:#fff">15-19 Years</label>
								<label class="btn btn-primary btn_prim" uib-btn-radio="'20-150'" ng-model="investmentInput.payPremiums" ng-class="{'active':investmentInput.payPrimiums=='20-150'}" style="color:#fff">20 Years or more</label>
							</div>
						</div>
					</div>
				</div>
				<div class="clear" style="padding-bottom:30px;"></div>
				<div class="col-md-4 padd0 ">
					<div class="col-sm-12" align="center">
						<button  class="btn btn-primary call-back btn-default" ng-disabled="!idvValid">COMPARE POLICIES</button>
					</div>
				</div>
			</div>
		</form>
	</div>	
</div>