<div class="formSection hwdtails">
   	 <form class="form-horizontal" name="contactInfo" autocomplete="off" novalidate>
   		<div class = "clear"></div>
   		<div class="form-panel">
  			<div class="heads">Contact Info.</div>
			<div class="body">
				<div class="main-section">
					<div class="contact-process">
	  					<div class="define">
	  						<img ng-src="./image/info.png">
	  						<span>Where do we send the policy copy</span>
	  					</div>
	  					<div class="row mnone">
		   					<div class="col-sm-6 add-borde"> 
		   						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Mailing Address</h3>
		   						<div class="col-sm-12">
			   						<div class="form-group required" ng-class="{'has-error':contactInfo.addr_one.$invalid && ! contactInfo.addr_one.$pristine}">
			   							<label class="control-label">Flat/House No</label>
			   							<input type="text" class="form-control field" name="addr_one" ng-minlength="5" ng-model="proposalInput.proposer.address[0].addressLine1"  required>
			   							
									</div>
		   						</div>
		   						<div class="col-sm-12">
		   						<div class="form-group required"  ng-class="{'has-error':contactInfo.addr_two.$invalid && ! contactInfo.addr_two.$pristine}">
		   							<label class="control-label">Building/Street Name</label>
		   							<input type="text" placeholder="5-30 Characters" name="addr_two" class="form-control field" ng-minlength="5" ng-model="proposalInput.proposer.address[0].addressLine2"  required>
		   							
									</div>
		   						</div>
		   						<div class="col-sm-12">
		   						<div class="form-group required"  ng-class="{'has-error':contactInfo.addr_three.$invalid && ! contactInfo.addr_three.$pristine}">
		   							<label class="control-label">Area/Locality</label>
		   							<input type="text" placeholder="5-30 Characters" name="addr_three" class="form-control field" ng-minlength="5" ng-model="proposalInput.proposer.address[0].addressLine3"  required>
		   							
								</div>
		   						</div>
		   						<div class="col-sm-12 padd0">
		   							
		   							<div class="col-sm-6">
		   							<div class="form-group required">
		   								<label class="control-label">State</label>
		   								<ui-select ng-model="polState" name="polState" theme="bootstrap" ng-change="getCity(polState,'policy')" required>
								            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
								            <ui-select-choices repeat="polState in insurerMaster.State | filter: $select.search |  orderBy:sortorder">
								              <div ng-bind-html="polState.value | highlight: $select.search">
								              	
								              </div>
								             </ui-select-choices>
								        </ui-select>
								    </div>
		   							</div>
		   							<div class="col-sm-6">
		   							<div class="form-group required">
		   								<label class="control-label">City</label>
		   								<ui-select ng-model="polCity" name="polCity" theme="bootstrap"  ng-change="changeCity(polCity,'policy')" >
								            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
								            <ui-select-choices repeat="polCity in polCities | filter: $select.search |  orderBy:sortorder">
								              <div ng-bind-html="polCity.value | highlight: $select.search"> </div>
								             </ui-select-choices>
								          </ui-select>
								          </div>
		   							</div>
		   							<div class="clear"></div>
		   							<div class="col-sm-6">
			   							<div class="form-group required"  ng-class="{'has-error':contactInfo.pincode.$invalid && ! contactInfo.pincode.$pristine}">
			   								<label class="control-label">Pincode</label>
			   								<input type="text" name = "pincode" class="form-control field" ng-model="proposalInput.proposer.address[0].pincode" ng-pattern="/^[1-9]{1}[0-9]{5}$/"ng-minlength="6"  ng-maxlength="6" required>
			   							</div>
		   							</div>
		   						</div>
		   					</div>
		   					<div class="col-sm-6">
		   						<h3><img src="./image/phone.png">&nbsp;&nbsp;Contact details</h3>
		   						<div class="col-sm-12">
		    						<div class="form-group required" ng-class="{'has-error':contactInfo.proEmail.$invalid && ! contactInfo.proEmail.$pristine}">
		    							<label class="control-label">Email</label>
		    							<input type="text" class="form-control field" name="proEmail" ng-model="proposalInput.proposer.contacts[1].contactText" ng-pattern="/^([a-zA-Z0-9_\-\.]+)(?<!\.)@([a-zA-Z0-9_\-\.]+)(?<!\.)\.([a-zA-Z]{2,5})$/"  required>
		    						</div>
		   						</div>
		   						<div class="col-sm-12">
		    						<div class="form-group required" ng-class="{'has-error':contactInfo.proMobile.$invalid && ! contactInfo.proMobile.$pristine}">
		    							<label class="control-label">Mobile</label>
		    							<input type="text" name="proMobile" class="form-control field" ng-model="proposalInput.proposer.contacts[0].contactText"  ng-maxlength="10" ng-minlength="10" maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/" required>
		    						</div>
		   						</div>
		   						<div class="clear"></div>
		   						<div class="row mnone">
		    						<div class="col-sm-4 form-group" ng-class="{'has-error':contactInfo.stdcode.$invalid && ! contactInfo.stdcode.$pristine}">
		    							<label class="control-label">Landline</label>
		    							<input type="text" class="form-control field" name="stdcode" ng-minlength="3" ng-maxlength="5" maxlength="5"   ng-model="proposalInput.proposer.stdCode" ng-pattern="/^[0-9]{2,5}$/" >
		    							<span class="small">e.g. "022"</span>
		    							
		    						</div>
		    						<div class="col-sm-8 form-group">
		    						 	<label class="control-label"  ng-class="{'has-error':contactInfo.phone.$invalid && ! contactInfo.phone.$pristine}"style="margin-top:30px;"></label>
		    							<input type="text" class="form-control field" name="phone" ng-model="proposalInput.proposer.landLine" ng-minlength="8" ng-maxlength="8" maxlength="8" ng-pattern="/^[0-9]{8}$/"  >
		    						</div>
		   						</div>
		   						
		   					</div>
	   						<div class="clear"></div>
	   						<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
	   					</div>
   						<div class="clear"></div>
	   					<div class="col-sm-10">
	   						<h4>Nominee Address</h4>
	   						<div class="col-sm-4">
		   						<div class="form-group required">
		   							<label class="control-label">Flat/House No, Street</label>
		   							<input type="text" name="nomAdd_one" class="form-control field" ng-model="proposalInput.proposer.nomineeAddress1"  required>
		   						</div>
	   						</div>
	   						<div class="col-sm-4">
	    						<div class="form-group required">
	    							<label class="control-label">Area/Locality</label>
	    							<input type="text" class="form-control field" ng-model="proposalInput.proposer.nomineeAddress2"  required>
	    						</div>
	   						</div>
	   						<div class="col-sm-4">
	   							<div class="form-group required">
	   								<label class="control-label">State</label>
	   								<ui-select ng-model="nomState" theme="bootstrap" ng-change="getCity(nomState,'nomadd')"  required>
							            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
							            <ui-select-choices repeat="nomState in insurerMaster.State | filter: $select.search |  orderBy:sortorder">
							              <div ng-bind-html="nomState.value | highlight: $select.search"></div>
							            </ui-select-choices>
							        </ui-select>
							    </div>
	   						</div>
	   						
	  						<div class="col-sm-4">
	   							<div class="form-group required">
	   								<label class="control-label">City</label>
	   								<ui-select ng-model="nomCity"  theme="bootstrap"  ng-change="changeCity(nomCity,'nomadd')" required>
							            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
							            <ui-select-choices repeat="nomCity in nomCities | filter: $select.search |  orderBy:sortorder">
							            	<div ng-bind-html="nomCity.value | highlight: $select.search"></div>
							            </ui-select-choices>
							         </ui-select>
							     </div>
	  						</div>
	  						
	  						<div class="col-sm-4">
	   							<div class="form-group required">
	   								<label class="control-label">Pincode</label>
	   								<input type="text" class="form-control field" ng-model="proposalInput.proposer.nomineePincode" ng-pattern="/^[0-9]{6}$/" ng-minlength="6"  ng-maxlength="6" required>
	   							</div>
	  						</div>
	   					</div> 
   						<div class="clear"></div>
   					</div>
 				</div>
 				<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
 			</div>
    		<!-- .body  -->
    		<div class="foot">
    			<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(5)" style="/* display: none; */">
                             <img ng-src="./image/arrow-left.png">&nbsp;Back
                         </button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="contactInfo.$invalid" ng-click="nextSection('7')">Continue <img ng-src="./image/arrow-right.png"></button>
    				</div>
    			</div>
   		 	</div>
    	</div>
    	<div class = "clear"></div>
    </form>
</div>