<div class="formSection hwdtails">
   	<form class="form-horizontal" name="insuredForm" autocomplete="off" novalidate>
   		<div class = "clear"></div>
   		<div class="form-panel">
  			<div class="heads">Insured Members</div>
  				<div class="body">
  					<div class="main-section">
  						<div class="proposer-process">
    					<div class="define">
    						<img ng-src="./image/info.png">
    						<span>Who do you want to Insure?</span>
    					</div>
  							<div ng-form="memberForm" class="row mnone insured_mnone" ng-repeat="insured in proposalInput.insured">
  								<div class="col-sm-2">Insured Person's Details for <span ng-if="insured.type=='A'">Adult</span><span ng-if="insured.type=='C'">Child</span> DOB: {{insured.dob |date:'yyyy-MM-dd'}}</div>
  								<div class="col-sm-10" style="margin-bottom:10px;">
  									
  									<div class="col-sm-4">
  										<div class="form-group required">
   										<label class="control-label">Title</label>
   										<div class="col-sm-12 padd0" ng-if="insured.gender=='M'"  >
											<select class="form-control" ng-model="insured.title" required>
												<option value="">Select</option>
						    					<option value="DR">Dr</option>
						    					<option value="MASTER">Master</option>
						    					<option value="MR">Mr</option>
						    					<option value="MRS">Mrs</option>
											</select>
										</div>
									
									<div class="col-sm-12 padd0" ng-if="insured.gender=='F'"  >
										
										<select class="form-control" ng-model="insured.title" required>
											<option value="">Select</option>
					    					<option value="DR">Dr</option>
					    					<option value="MS">Ms</option>
					    					<option value="MISS">Miss</option>
					    					<option value="BABY">Baby Girl</option>
					    					
										</select>
									</div>
									</div>
  									</div>
  									<div class="col-sm-4">
  										<div class="form-group required"  ng-class="{'has-error':memberForm.InsFirstName.$invalid && ! memberForm.InsFirstName.$pristine}">
   										<label class="control-label required">First Name</label>
   										<input type="text" class="form-control" name="InsFirstName" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.firstName" required>
  										</div>
  									</div>
  									
  									<div class="col-sm-4">
  										<div class="form-group required"  ng-class="{'has-error':memberForm.InsLastName.$invalid && ! memberForm.InsLastName.$pristine}">
   										<label class="control-label">Last Name</label>
   										<input type="text" class="form-control" name="InsLastName"  ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/"  ng-model="insured.lastName" required>
  										</div>
  									</div>
  									<div class="col-sm-4">
  										<div class="form-group required"  ng-class="{'has-error':memberForm.insdob.$invalid && ! memberForm.insdob.$pristine}">
   										<label class="control-label"> Date of Birth</label>
   										<input type="text" class="form-control" name="insdob" ng-model="insured.dob" readonly>
  										</div>
  									</div>
  									
  									<div class="col-sm-4">
  										<div class="form-group required">
   										<label class="control-label">Gender</label><br>
   										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='M'}"  uib-btn-radio="'M'" required>Male</label>
											<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='F'}"  uib-btn-radio="'F'" required>Female</label>
										</div>
									</div>
  									</div>
  									
  									<div class="col-sm-4">
  										<div class="form-group required">
   										<label class="control-label">Relationship with Proposer</label>
   										<div class="col-sm-12 padd0">
   											<select class=" form-control" name="relaInsured" ng-model="insured.relationshipId"  ng-change = "checkRelationShip()" required>
												<option value="">Select</option>
												<option value="{{relationship.id}}"  ng-repeat="relationship in insurerMaster.Relationship| filter:{'gender': insured.gender}">{{relationship.value}}</option>
											</select>
										</div>
									</div>
  									</div>
  									<div class="col-sm-4">
  										<div class="form-group required">
   										<label class="control-label">Marital Status</label>
   										<select class="form-control" ng-model="insured.maritalStatus" required>
					    					<option value="">Select</option>
					    					<option value="Single">Single</option>
						    				<option value="Married">Married</option>
					    				</select>
					    			</div>
  									</div>
  									
  									
  									<div class="col-sm-4">
  									  <div class="form-group required"  ng-class="{'has-error':memberForm.height.$invalid && ! memberForm.height.$pristine}">
  										<label class="control-label">Height in cm</label>
  										<input type="number" name="height" class="form-control" ng-min="20" ng-max="300" ng-model="insured.height"  required>
								   </div>
  									</div>
  									
  									
  									<div class="col-sm-4">
  										 <div class="form-group required"  ng-class="{'has-error':memberForm.weight.$invalid && ! memberForm.weight.$pristine}">
   										<label class="control-label"> Weight in kg</label>
   										<input type="number" name ="weight" class="form-control" ng-min="2" ng-max="300"   ng-model="insured.weight" required>
									 </div>
  									</div>
  									
  									<div class="col-sm-4 list-item-proposer">
  										<div class="form-group required">
	    								<label class="control-label">Occupation</label>
	    								<select class="form-control" ng-model="insured.occupationType" ng-change="validateOcupation()" required>
					    					<option value="{{occupation.id}}" ng-repeat="occupation in insurerMaster.Occupation">{{occupation.value}}</option>
					    				</select>
					    				<span class="has-error">{{ocupationError}}</span>
					    			</div>
    							</div>
    							<div class="col-sm-4 list-item-proposer" ng-if="insured.occupationType=='SALARIED' || insured.occupationType=='OTHERS'">
    								<div class="form-group required"  ng-class="{'has-error':memberForm.designation.$invalid && ! memberForm.designation.$pristine}">
	    								<label class="control-label">Designation</label>
	    								<input type="text" class="form-control field" name="designation" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.designation" ng-disabled="proposalInput.proposer.isPrimaryInsured=='Y'&& indexA==0" required>
    								</div>
    							</div>
    							<div class="col-sm-4 list-item-proposer" ng-if="insured.occupationType=='SELF EMPLOYED'">
    								<div class="form-group required"  ng-class="{'has-error':memberForm.business.$invalid && ! memberForm.business.$pristine}">
	    								<label class="control-label">Business</label>
	    								<input type="text" name= "business" class="form-control" ng-model="insured.business" ng-minlength="1" ng-pattern="/^[a-zA-Z ]*$/" ng-disabled="proposalInput.proposer.isPrimaryInsured=='Y'&& indexA==0" required>
				    				 </div>
    							</div>
  									
  									
  								</div>
  								
  							</div>
  							<div class="row">
  								<div class="col-sm-12">
 										<span class="has-error" id="insuredError" style="color:red">{{insuredError}}</span>
 										<span class="has-error" id="insuredError" style="color:red">{{InsuredGenderError}}</span>
 									</div>
  							</div>
  						</div>
  					</div>
  					
  				</div>
  			   <div class="foot">
    			<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
                             			<img ng-src="./image/arrow-left.png">&nbsp;Back
                         		</button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="insuredForm.$invalid" ng-click="nextSection('2')">Continue <img ng-src="./image/arrow-right.png"></button>
    				</div>
    			</div>
   		 </div>
  		</div>
  		<div class = "clear"></div>
   </form>
</div>