<div class="formSection hwdtails">
   	<form class="form-horizontal" name="lifeStyle" autocomplete="off" autocomplete="off" novalidate>
   		<div class = "clear"></div>
   		<div class="form-panel">
   			<div class="heads">Life Style </div>
   			<div class="body">
   				<div class="contact-process">
  					<div class="define">
  						<img ng-src="./image/info.png">
  						<span>Have any of the person proposed to be insured ever:</span>
  					</div>
    			<div class="row mnone conditional-question"   ng-repeat="question in lifeStyleQuestions track by $index">
			      	<div class="col-sm-8 pnone">
  							<div class="quest-pad" ng-init="">
  								<span class="q-point">Q</span>
  								<span class="">{{question.q}}</span></br>
  								
  							</div>
  						</div>
  						<div classs="col-sm-4 pnone">
   						<label class="btn btn-primary btn_prim" ng-model="question.exists" uib-btn-radio="'Y'" required>Yes</label>
						<label class="btn btn-primary btn_prim" ng-model="question.exists"   uib-btn-radio="'N'" required>No</label>
						<div class="clear"></div>
  						</div>
  						<div ng-if = "question.exists == 'Y'" class="col-sm-12">
						<div class="table table-responsive">
							<div>
								<span>LifeStyle Details</span>
								<button class="btn btn-primary btn-sm pull-right" ng-click="AddLSDetails($index)"><span class = "glyphicon glyphicon-plus"></span></button>
							</div>
							<br>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Insured Name</th>
										<th>Quantity</th>
										<th>Years of Consumption</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="ls in question.details">
										<td>{{ls.insuredName}}</td>
										<td>{{ls.quantity}}</td>
										<td> {{ls.noOfYears}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>				      
				<!--  end of questions -->
						            	
    		
    		</div>	
    		<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
   			</div>
   			 <!--.body  -->
   			<div class="foot">
	   			<div class="clearfix">
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(2)" style="/* display: none; */">
	                            			<img ng-src="./image/arrow-left.png">&nbsp;Back
	                        		</button>
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="lifeStyle.$invalid || !lsPageComplete()" ng-click="nextSection('4')">Continue <img ng-src="./image/arrow-right.png"></button>
	   				</div>
	   			</div>
  		 	</div>
  		 	<!--.foot  -->
   		</div>
   		<div class = "clear"></div>
   	</form>
</div>