<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Add Medical Details</h4>
</div>
<form class="form-horizontal form_horizontal" name="medicalDetails">
	<div class="modal-body">
		
		<table class ="col-sm-12 col-xs-12 col-md-12">
			<tr>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Insured</label>
						<select class="form-control" ng-model="question.insuredId"  required>
							<option value="">Select</option>
							<option ng-repeat = "insured in insureds" value="{{insured.id}}">{{insured.name}}</option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Illness/Injury</label>
						<input type="text" class="form-control" name="shortname" ng-model="question.nameOfIllness" required>
					</div>
				</td>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class=" ibspan form-group required">
						<label class="control-label label-block">Year/Month Of Treatment</label>
						
						<span class="input-group">
					        <input type="text" class="form-control" name="DOTreatment" id="DOTreatment" uib-datepicker-popup="{{format}}" datepicker-options="medicalOption" datepicker-mode="'month'" ng-model="question.DOTreatment" is-open="opened['DODiagnosis']"  close-text="Close" alt-input-formats="altInputFormats"  required>
		                  	<span class="input-group-btn">
		                    	<button type="button" class="btn btn-primary" ng-click="opened($event,'DODiagnosis')"><i class="glyphicon glyphicon-calendar" ></i></button>
		              		</span>
				        </span>
					</div>				
				</td>
			</tr>
			
			<tr>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Treatment Status</label>
						<select class="form-control" ng-model="question.medicationDetail"  required>
							<option value="">Select</option>
							<option value="Received">Received Treatment</option>
							<option value="Receiving">Receiving Treatment</option>
						</select>
					</div>				
				</td>
				
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Treatment Outcome</label>
						<select class="form-control" ng-model="question.treatmentOutCome"  required>
							<option value="">Select</option>
							<option value="fully cured">Fully cured</option>
							<option value="partially cured">Partially cured</option>
							<option value="ongoing">Ongoing</option>
						</select>
					</div>				
				</td>
			</tr>
		</table>
		<br><br>
		<!-- <div class="col-sm-12"> -->

	</div>
	<!-- </div> -->
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-primary btn_default" ng-disabled="medicalDetails.$invalid"   ng-click="ok()">Submit</button>
</div>