<div class="formSection hwdtails">
   	 <form class="form-horizontal" name="medical" autocomplete="off" novalidate>
   		<div class = "clear"></div>
   		<div class="form-panel">
  			<div class="heads">Medical History</div>
 			<div class="body">
				<div class="main-section">
						<div class="contact-process">
   					<div class="define">
   						<img ng-src="./image/info.png">
   						<span>Have any of the person proposed to be insured ever suffered from/ are currently suffering from any of the following</span>
   					</div>
   					<div>    	
	            		<div class="row mnone conditional-question"   ng-repeat="question in medicalQuestions track by $index">
					      	<div class="col-sm-10 pnone">
    							<div class="quest-pad">
    								<span class="q-point">Q</span>
    								<span class="">{{question.questiontext}}</span></br>
    							</div>
    						</div>
    						<div classs="col-sm-4 pnone">
	    						<label class="btn btn-primary btn_prim" ng-model="question.exists" uib-btn-radio="'Y'" required>Yes</label>
								<label class="btn btn-primary btn_prim" ng-model="question.exists"   uib-btn-radio="'N'" required>No</label>
    						</div><br>
    						<div ng-if = "question.exists == 'Y'" class="col-sm-12">
								<div class="table table-responsive">
									<div>
										<span>Details of Medical Conditions</span>
										<button class="btn btn-primary btn-sm pull-right" ng-click="AddMedicalDetails($index)"><span class = "glyphicon glyphicon-plus"></span></button>
									</div>
									<br>
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Insured Name</th>
												<th>Illness</th>
												<th>Treatment - Year/Month</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="illness in question.details">
												<td>{{illness.insuredName}}</td>
												<td>{{illness.nameOfIllness}}</td>
												<td> {{illness.yearOfDiagnosis}} - {{illness.monthOfDiagnosis}}</td>
												<td>{{illness.treatmentOutCome}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div> 
					    </div><br>

   						</div>
  				 	</div>
  				 </div>
   				 <p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
   			</div>
   			 <!--.body  -->
    		<div class="foot">
	    			<div class="clearfix">
	    				<div class="cf-pull-right">
	    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(1)" style="/* display: none; */">
                              			<img ng-src="./image/arrow-left.png">&nbsp;Back
                          		</button>
	    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="medical.$invalid || !medicalPageComplete()" ng-click="nextSection('3')">Continue <img ng-src="./image/arrow-right.png"></button>
	    				</div>
	    			</div>
    		 	</div>
    	</div>
    	<div class = "clear"></div>
    </form>
</div>