<div class="formSection hwdtails">
   	 <form class="form-horizontal" name="nomineeForm" autocomplete="off" novalidate>
   		<div class = "clear"></div>
   		<div class="form-panel">
  			<div class="heads">Nominee</div>
  			<div class="body">
  				<div class="main-section">
  					<div class="Nominee-process">
  						<div class="define">
    						<img ng-src="./image/info.png">
    						<span> In the event of the death of an Insured Person any payment due under the Policy shall become payable to the nominee as per the Policy terms and conditions. The nominee must be an immediate relative of the Proposer. Nominee for any of the persons proposed to be insured shall be the Proposer.</span>
   					</div>
   					<div class="row mnone">
   						<h3>Nominee</h3>
   						<div class="col-sm-10">
   							<div class="col-sm-4">
   							   <div class="form-group required"  ng-class="{'has-error':nomineeForm.nomineefName.$invalid && ! nomineeForm.nomineefName.$pristine}">
    								<label class="control-label">First Name</label>
    								<input type="text" name="nomineefName" class="form-control field" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="proposalInput.proposer.nomineeFirstName" required>
   								</div>
   							</div>
   							<div class="col-sm-4">
   								 <div class="form-group required"  ng-class="{'has-error':nomineeForm.nomineelName.$invalid && ! nomineeForm.nomineelName.$pristine}">
    								<label class="control-label">Last Name</label>
    								<input type="text" name="nomineelName" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" class="form-control field" ng-model="proposalInput.proposer.nomineeLastName" required>
   								</div>
   							</div>
   							
   							<div class="col-sm-4">
   							 <div class="form-group required">
   								<label class="control-label">Gender</label>
 										<div class="clear"></div>
 										<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary btn_prim" name="nomineeGender" ng-model="proposalInput.proposer.nomineeGender" uib-btn-radio="'M'" required>Male</label>
									<label class="btn btn-primary btn_prim" name="nomineeGender" ng-model="proposalInput.proposer.nomineeGender" uib-btn-radio="'F'" required>Female</label>
								</div>
								<div class="has-error">{{nomineeGenderError}}</div>
								</div>
   							</div>
   							<div class="col-sm-4">
   							<div class="form-group required">
   								<label class="control-label">DOB</label>
 										<span class="input-group">
								 	<input type="text" class="form-control" name="nomineeDob" is-open="opened.nomineeDob" uib-datepicker-popup="{{}}" ng-model="proposalInput.proposer.nomineeDob"  datepicker-options="adultDobOptions" ng-required="true" close-text="Close" ng-change="calculateAge(proposalInput.proposer.nomineeDob)" alt-input-formats="altInputFormats" required/>
								 	<span class="input-group-btn">
							            	<button type="button" class="btn btn-primary btn_prim " ng-click="open('nomineeDob')"><i class="glyphicon glyphicon-calendar"></i></button>
							          </span>
								 </span>
							</div>
   							</div>
   							<div class="col-sm-4">
    							 <div class="form-group required">
    								<label class="control-label">Relationship With Proposer</label>
    								<select class="form-control field" ng-model="proposalInput.proposer.nomineeRel" required>
    									<option value="{{relationship.id}}" ng-repeat="relationship in insurerMaster.Relationship | filter:{'gender': proposalInput.proposer.nomineeGender}" ng-if="relationship.value!='Self'">{{relationship.value}}</option>
    								</select>
    							</div>	
   							</div>
	   						<div class="col-sm-4">
	    						<div class="form-group required"  ng-class="{'has-error':nomineeForm.proMobile.$invalid && ! nomineeForm.proMobile.$pristine}">
	    							<label class="control-label">Mobile</label>
	    							<input type="text" name="proMobile" class="form-control field" ng-model="proposalInput.proposer.nomineeMobile"  ng-maxlength="10" ng-minlength="10" maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/" required>
	    							
				    			</div>
	   						</div>
   							<div class="clear"></div>
   							<div ng-if="proposalInput.proposer.nomineeAge<18">
    							<div class="col-sm-4" >
    								<div class="form-group required"  ng-class="{'has-error':nomineeForm.AppFName.$invalid && ! nomineeForm.AppFName.$pristine}">
    								<label class="control-label">Guardian First Name </label>
    								<input type="text" class="form-control field" name="AppFName" ng-minlength="3" ng-maxlength="40" ng-model="proposalInput.proposer.appointeeName" required>
    								</div>
    							</div>
    							
    							<div class="col-sm-4">
    								<div class="form-group required"  ng-class="{'has-error':nomineeForm.AppLName.$invalid && ! nomineeForm.AppLName.$pristine}">
    								<label class="control-label">Guardian Last Name </label>
    								<input type="text" class="form-control field" name="AppLName" ng-minlength="3" ng-maxlength="40" ng-model="proposalInput.proposer.appointeeLastName" required>
    								</div>
    							</div>
   								<div class="col-sm-4" >
   									<div class="form-group required" >
   									<label class="control-label">Guardian Relation </label>
    								<select class="form-control field" ng-model="proposalInput.proposer.appointeeRel" required>
    									<option value="{{relationship.id}}" ng-repeat="relationship in insurerMaster.AppointeeRel">{{relationship.value}}</option>
    								</select>
    								</div>
   								</div>
  									<div class="col-sm-4">
    								<div class="form-group required">
	    								<label class="control-label">Guardian DOB</label>
   										<span class="input-group">
										 	<input type="text" class="form-control" name="appointeeDob" uib-datepicker-popup="{{}}" ng-model="proposalInput.proposer.appointeeDob"  is-open="opened.appointeeDob" datepicker-options="adultDobOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" date-parser required/>
										 	<span class="input-group-btn">
									            	<button type="button" class="btn btn-primary btn_prim " ng-click="open('appointeeDob')"><i class="glyphicon glyphicon-calendar"></i></button>
									          </span>
										 </span>
									</div>
  									</div>		    							
   							</div>
   						</div>
   					</div>
  					</div>
  				</div>
  				<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
  			</div>
  			<!-- ./body -->
  			<div class="foot">
    			<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(4)" style="/* display: none; */">
                             			<img ng-src="./image/arrow-left.png">&nbsp;Back
                         		</button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="nomineeForm.$invalid" ng-click="nextSection('6')">Continue <img ng-src="./image/arrow-right.png"></button>
    				</div>
    			</div>
   			</div>
  		</div>
  		<div class = "clear"></div>
  	</form>
</div>