<div class="formSection hwdtails">
     <form class="form_horizontal" name="proposerForm" novalidate autocomplete="off">
    	<div class = "clear"></div>
    	<div class="form-panel">
   		<div class="heads">Proposer</div>
   		<div class="body">
   			<div class="main-section">
   				<div class="proposer-process">
   					<div class="define">
   						<img ng-src="./image/info.png">
   						<span>The person who is paying for the policy</span>
   					</div>
   					<div class="row mnone">
   						<div class="col-sm-11" style="margin-bottom:10px;">
   							
   							<div class="col-sm-4 list-item-proposer" >
   								<div class="form-group required">
   									<label class="control-label">Title </label>
   									<div class="col-sm-12 padd0" >
					    				<select class="form-control" ng-model="proposalInput.proposer.title" ng-disabled = "isProposerInsured"  ng-change = "getGender()" required  >
					    					<option value="">Select</option>
					    					<option value="DR">Dr</option>
					    					<option value="MR">Mr</option>
					    					<option value="MRS">Mrs</option>
					    					<option value="MS">Ms</option>
					    				</select>
					    			</div>
   								</div>
   							</div>
   							
   							<div class="col-sm-4 list-item-proposer">
   								<div class="form-group required"  ng-class="{'has-error':proposerForm.GivName.$invalid && ! proposerForm.GivName.$pristine}">
   								<label class="control-label">First Name </label>
   								<input type="text" name="GivName" ng-model="proposalInput.proposer.firstName" minlength="3" maxlength="40" ng-minlength="1" ng-maxlength="40"  ng-pattern="/^[a-zA-Z ]*$/" class="form-control" ng-disabled = "isProposerInsured" required  >
			    				</div>
   							</div>
   							
   							<div class="col-sm-4 list-item-proposer">
   								<div class="form-group"  ng-class="{'has-error':proposerForm.mName.$invalid && ! proposerForm.mName.$pristine}">
   								<label class="control-label">Middle Name</label>
   								<input type="text" name= "mName" class="form-control field" ng-model="proposalInput.proposer.middleName"  ng-disabled = "isProposerInsured">
   								</div>
   							</div>
   							<div class=" clear"  ></div>
   							<div class="col-sm-4 list-item-proposer">
   								<div class="form-group required"  ng-class="{'has-error':proposerForm.SurName.$invalid && ! proposerForm.SurName.$pristine}">
   								<label class="control-label">Last Name </label>
   								<input type="text" name="SurName" ng-model="proposalInput.proposer.lastName" class="form-control" minlength="3" maxlength="40" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/"  ng-disabled = "isProposerInsured" required>
			    				</div>
   							</div>
   							
   							<div class="col-sm-4 list-item-proposer">
   								<div class="form-group required">
   								<label class="control-label">Date of Birth</label>
   								<div class="input-group">
									 <input type="text" class="form-control" name="proposerdob" uib-datepicker-popup="{{format}}" datepicker-options="adultDobOptions"
						              ng-model="proposalInput.proposer.proposerDob" ng-required="true" is-open="opened.proposerDob"  close-text="Close" alt-input-formats="altInputFormats" readonly />
						              <span class="input-group-btn">
						                <button type="button" class="btn btn-primary" ng-click="open('proposerDob')"><i class="glyphicon glyphicon-calendar"></i></button>
						              </span>
								</div>
								</div>
   							</div>
   							
   							<div class="col-sm-4 list-item-proposer">
   								<div class="form-group required">
    								<label class="control-label">Gender</label>
    								<div class="clear"></div>
    								<div class="btn-group">
					    				<label  class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='M'}"  ng-model="proposalInput.proposer.gender" ng-disabled="proposalInput.proposer.isPrimaryInsured=='Y'"  uib-btn-radio="'M'" required>Male</label>
					    				<label  class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='F'}"  ng-model="proposalInput.proposer.gender" ng-disabled="proposalInput.proposer.isPrimaryInsured=='Y'"  uib-btn-radio="'F'" required>Female</label>
					    				
					    			</div>
					    		</div>
   							</div>
   							<div class=" clear" ></div>
   							<div class="col-sm-4 list-item-proposer">
   								<div class="form-group required">
   								<label class="control-label">Marital Status</label>
   								<select class="form-control" ng-model="proposalInput.proposer.maritalStatus" ng-disabled = "isProposerInsured" required>
				    				<option value="">Select</option>
				    				<option value="Single">Single</option>
				    				<option value="Married">Married</option>
				    			</select>
				    			</div>
   							</div>
   							
   							<div class="col-sm-4 list-item-proposer">
   								<div class="form-group required">
   								<label class="control-label">Occupation</label>
   								<select class="form-control" ng-model="proposalInput.proposer.occupationType"  ng-disabled = "isProposerInsured" ng-change="validateOcupation()" required>
			    					<option value="">Select</option>
			    					<option value="{{occupation.id}}" ng-repeat="occupation in insurerMaster.Occupation">{{occupation.value}}</option>
			    				</select>
			    					<span class="has-error">{{ocupationError}}</span>
			    				</div>
			    				
   							</div>
   							<div class="col-sm-4 list-item-proposer" ng-if="proposalInput.proposer.occupationType=='SALARIED'||proposalInput.proposer.occupationType=='OTHERS'">
   								<div class="form-group required" ng-class="{'has-error':proposerForm.designation.$invalid && ! proposerForm.designation.$pristine}">
   								<label class="control-label">Designation</label>
   								<input type="text" class="form-control field" name="designation"  ng-disabled = "isProposerInsured" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="proposalInput.proposer.designation" required>
   								</div>
   							</div>
   							<div class="col-sm-4 list-item-proposer" ng-if="proposalInput.proposer.occupationType=='SELF EMPLOYED'">
   								<div class="form-group required"  ng-class="{'has-error':proposerForm.business.$invalid && ! proposerForm.business.$pristine}">
   								<label class="control-label">Business</label>
   								<input type="text" name="business" class="form-control" ng-disabled = "isProposerInsured" ng-model="proposalInput.proposer.business" ng-minlength="1" ng-pattern="/^[a-zA-Z ]*$/" required>
   								 
			    				</div>
   							</div>
   							
   							<div class="col-sm-4 list-item-proposer">
    							<div class="form-group required">
    								<label class="control-label">Nationality</label>
    								<select class="form-control" ng-model="proposalInput.proposer.nationality" required>
				    					<option value="">Select</option>
				    					<option value="{{nationality.id}}" ng-repeat="nationality in insurerMaster.Nationality">{{nationality.value}}</option>
				    				</select>
			    				</div>
   							</div>
   							
   							<div class="col-sm-4 list-item-proposer">
   								<div class="form-group required">
    								<label class="control-label">Qualification</label>
    								<select class="form-control" ng-model="proposalInput.proposer.educationQualification"  required>
				    					<option value="">Select</option>
				    					<option value="{{qualification.id}}" ng-repeat="qualification in insurerMaster.Qualification">{{qualification.value}}</option>
				    				</select>
			    				</div>
   							</div>
   							
   							<div class="col-sm-4 list-item-proposer">
   								<div class="form-group" ng-class="{'required':proposalInput.proposer.nationality=='Expat working in India' || proposalInput.policy.premiumPayable>50000}">
   								<label class="control-label" >Pan Number</label>
   								<input type="text" name="pan" class="form-control" ng-model="proposalInput.proposer.pan" ng-if="proposalInput.proposer.nationality!='Expat working in India' && proposalInput.policy.premiumPayable<=50000" ng-pattern="/^[A-Z]{5}[0-9]{4}[A-Z]{1}$/" >
   								<input type="text" name="pan" class="form-control" ng-model="proposalInput.proposer.pan" ng-if="proposalInput.proposer.nationality=='Expat working in India' || proposalInput.policy.premiumPayable>50000" ng-pattern="/^[A-Z]{5}[0-9]{4}[A-Z]{1}$/" required>
			    				<span class="has-error" ng-show="proposer.pan.$error.pattern && proposer.pan.$dirty ">Invalid PAN Number.</span>	
   								</div>
   							</div>
   						</div>
   					</div>
   				</div>
   			</div>
   			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
   		</div>
   		<!--.body -->
   		<div class="foot">
   			<div class="clearfix">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(3)" style="/* display: none; */">
                            			<img ng-src="./image/arrow-left.png">&nbsp;Back
                        		</button>
   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="proposerForm.$invalid || proposalInput.proposer.occupationType=='POLITICIAN'" ng-click="nextSection('5')">Continue <img ng-src="./image/arrow-right.png"></button>
   				</div>
   			</div>
   		</div>
   	</div>
   	<div class = "clear"></div>
   	</form>
</div>