<div class="proposal_form" ng-controller="kotakCarCntrl">
<div class="container">
	<div class="wrap-bg">
		<div class="policy-panel">
			<div class="row mnone">
				<div class="col-xs-12  cf-title clearfix">
					<div class="back-to-results" ng-click="backPreviousPage()" >Back to results</div>
				    <div style="padding:5px 0px 0px;">Buy Car Insurance</div>
				</div>
				<div class = "clear"></div>
				<div class="col-xs-4 col-sm-3 pnone">
					<div class="insurer-img">
						<img class="img-responsive" ng-src = "./image/ilogo/i{{proposalInput.insurerId}}.png">
						
					</div>
				</div>
				<div class="col-xs-8 col-sm-9 pnone" style="border-left:1px solid #eaeaea;">
						<div class="pol-name">
							<span>{{proposalInput.insurerName}}  {{proposalInput.productName}}</span>
							<span> - {{proposalInput.vehicle.vehicleName}}</span>
						</div>
						<div class="pol-val">
							<span>Sum Insured</span>
							<span class="value">{{proposalInput.vehicle.idv| currency:"&#8377;": 0}}</span>
							<br class="visible-xs visible-sm">
							<span>ANNUAL PREMIUM</span>
							<span class="value">{{proposalInput.policy.premiumPayable| currency:"&#8377;": 0}}</span>
							<span class="val-typ" style="font-size: 12px;">(Includes 18.0% Goods and Services Tax)*</span>
						</div>
				</div>
				<div class = "clear"></div>
			</div>
			<div class = "clear"></div>
		</div>
		<div class = "clear"></div>
		<!--policy panel  -->
		<div  ng-if="loading" class="loading col-sm-10 col-md-10 col-lg-10">
	    	<div class="ctralign"><img ng-src = "./image/loading.gif"></div>
		</div>
		<div class = "clear"></div>
		<div id="stage_data" ng-if="!loading">
			<uib-tabset class="wizard-track" active="active">
			    <uib-tab index="0"  classes="{{tabStatus.firstComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			    	<uib-tab-heading>Policy <span><img class="check" ng-src="./image/checkmarks.png"></span></uib-tab-heading>
				    <div ng-include src=" './templates/proposal/car/kotak/policy.html'"></div>
			    </uib-tab>
			    <uib-tab index="1"  class="track_li" classes="{{tabStatus.secondComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			      <uib-tab-heading>
				        Proposer <span><img class="check" ng-src="./image/checkmarks.png"></span>
				  </uib-tab-heading>
				    <div ng-include src=" './templates/proposal/car/kotak/proposer.html'"></div>
			    </uib-tab>
			     <uib-tab index="2"  class="track_li" classes="{{tabStatus.thirdComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			     	<uib-tab-heading>Vehicle<span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src=" './templates/proposal/car/kotak/vehicle.html'"></div>
				 </uib-tab>
			     <uib-tab index="3" class="track_li" classes="{{tabStatus.fourthComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			     	<uib-tab-heading>
				     		Previous policy <span><img class="check" ng-src="./image/checkmarks.png"></span>
				     	</uib-tab-heading>
				     	 <div ng-include src=" './templates/proposal/car/kotak/prevPolicy.html'"></div>
				     </uib-tab>
			     <uib-tab index="4" class="track_li" classes="{{tabStatus.fifthComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			     	<uib-tab-heading>
				     		Contact Info. <span><img class="check" ng-src="./image/checkmarks.png"></span>
				    </uib-tab-heading>
			 		<div ng-include src=" './templates/proposal/car/kotak/contact.html'"></div>
				</uib-tab>
			   
			     <uib-tab index="5"  classes="{{tabStatus.seventhComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			     	<uib-tab-heading>
				     		Cover <span><img class="check" ng-src="./image/checkmarks.png"></span>
				    </uib-tab-heading>
				     	 <div ng-include src=" './templates/proposal/car/kotak/covers.html'"></div>
				  </uib-tab>
			     <uib-tab index="6" class="last"  ng-style="{width:rowWidth(proposalList.length) +'%'}">
			     	<uib-tab-heading>
			     		T & C <span style="padding-top:4px;"><img src="./image/cart.png"></span>
			     	</uib-tab-heading>
				    <div ng-include src=" './templates/proposal/car/kotak/summary.html'"></div>
				 </uib-tab>
			 </uib-tabset>
			 </div>
			 <div class = "clear"></div>
			<!-- <ul class="wizard-track"></ul> -->
		</div>
		<div class = "clear"></div>
	</div>
	<div class = "clear"></div>
</div>