<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="proposerForm" autocomplete="off" novalidate>
     	<div class = "clear"></div>
     	<div class="form-panel">
    		<div class="heads">Proposer</div>
    		<div class = "clear"></div>
    		<div class="body">
    			<div class="main-section">
    				<div class="proposer-process">
    					<div class="define">
    						<img ng-src="./image/info.png">
    						<span>The person who is paying for the policy</span>
    					</div>
    					<div class="row mnone">
    						<div class="col-sm-11" style="margin-bottom:10px;">
    							<div class="col-sm-4 col-md-4 col-lg-4 ">
    								<div class="form-group required">
	    								<label class="control-label">This Vehicle Belongs To</label>
	    								<div class="btn-group" data-toggle="buttons">
				    						<label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.custType=='I'}" uib-btn-radio="'I' "  ng-model="proposalInput.proposer.custType" required>Individual</label>
				    					    <label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.custType=='O'}" uib-btn-radio="'O'"   ng-model="proposalInput.proposer.custType" required>Company</label>
					    				</div>
				    				</div>
    							</div>
    							<div class="col-sm-4" ng-if="proposalInput.proposer.custType=='I'">
    								<div class="form-group required">
    									<label class="control-label">Title </label>
    									<select class="form-control field" ng-model="proposalInput.proposer.title" required>
    										<option value=""></option>
    										<option value="{{item.id}}" ng-repeat="item in insurerMaster.Title">{{item.value}}</option>
    									</select>
    								</div>
   								</div>
   								
   								
    							<div class="col-sm-4" ng-if="proposalInput.proposer.custType=='O'">
    								<div class="form-group  required" ng-class="{'has-error':proposerForm.org.$invalid && ! proposerForm.org.$pristine}">
	    								<label class="control-label"><span>Company Name</span></label>
	    								<input type="text" class="form-control" name="org" ng-model="proposalInput.proposer.orgName" ng-pattern="/^[a-zA-Z ]*$/"  required>
	    							</div>
    							</div>
    							
    							<div class="col-sm-4">
    								<div class="form-group required" ng-class="{'has-error':proposerForm.firstName.$invalid && ! proposerForm.firstName.$pristine}">
	    								<label class="control-label">
	    									<span ng-if="proposalInput.proposer.custType=='O'">Contact First Name</span>
	    									<span ng-if="proposalInput.proposer.custType=='I'">First Name</span></label>
	    									<input type="text" name="firstName" ng-minlength="3" class="form-control" ng-model="proposalInput.proposer.firstName" ng-pattern="/^[a-zA-Z ]*$/" required>
	    							</div>
    							</div>
    							<div class="col-sm-4 " ng-if="proposalInput.proposer.custType=='I'">
    								<div class="form-group" ng-class="{'has-error':proposerForm.middlename.$invalid && ! proposerForm.middlename.$pristine}">
	    								<label class="control-label"><span>Middle Name</span></label>
	    								<input type="text" class="form-control" name="middlename" ng-model="proposalInput.proposer.middleName"  ng-pattern="/^[a-zA-Z ]*$/">
    								</div>
    							</div>
    							
    							<div class="col-sm-4 ">
    								<div class="form-group required"  ng-class="{'has-error':proposerForm.lastName.$invalid && ! proposerForm.lastName.$pristine}">
	    								<label class="control-label">
	    									<span ng-if="proposalInput.proposer.custType=='O'">Contact Last Name</span>
	    									<span ng-if="proposalInput.proposer.custType=='I'">Last Name</span></label>
	    									<input type="text" name="lastName" ng-minlength="3" class="form-control" ng-model="proposalInput.proposer.lastName" ng-pattern="/^[a-zA-Z ]*$/" required>
	    							</div>
    							</div>
    							
    							<div class="col-sm-4" ng-if="proposalInput.proposer.custType=='I'">
    								<div class="form-group required">
	    								<label class="control-label">Gender</label>
	    								<div class="clear"></div>
	    								<div class="btn-group" data-toggle="buttons">
				    						<label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='M'}" uib-btn-radio="'M' "  ng-model="proposalInput.proposer.gender"  required >Male</label>
				    					    <label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='F'}" uib-btn-radio="'F'"   ng-model="proposalInput.proposer.gender" required >Female</label>
					    				</div>
				    				</div>
    							</div>
    							<div class="clear" ng-if="proposalInput.proposer.custType=='I'"></div>
    							<div class="col-sm-4" ng-if="proposalInput.proposer.custType=='I'">
    								<div class="form-group required">
	    								<label class="control-label">Proposer DOB</label>
	    								<span class="input-group">
											<input type="text" class="form-control" name="dateOfProposer"  uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.proposerDob" is-open="opened[0]" datepicker-options="adultDobOptions"  close-text="Close" ng-change="getProposerAge(proposalInput.proposer.proposerDob)" alt-input-formats="altInputFormats" readonly required />
									          <span class="input-group-btn">
									            	<button type="button" class="btn btn-primary btn_prim "  ng-click="open($event,0)"><i class="glyphicon glyphicon-calendar"></i></button>
									          </span>
									    </span>
								    </div>
    							</div>
    							<div class="col-sm-4" ng-if="proposalInput.proposer.custType=='I'">
    								<div class="form-group required">
    								<label class="control-label">Marital Status</label>
    								<select class="form-control" ng-model="proposalInput.proposer.maritalStatus" required>
					    				<option value="">Select</option>
					    				<option value="S">Single</option>
					    				<option value="M">Married</option>
					    			</select>
					    			</div>
    							</div>
    							
    							<div class="col-sm-4"  ng-if="proposalInput.proposer.custType=='I'">
    								<div class="form-group required">
    									<label class="control-label">Occupation Type</label>
    									<select class="form-control" ng-model="proposalInput.proposer.occupationType" required>
    										<option value="">Select Occupation Type</option>
    										<option value="{{occupation.id}}" ng-repeat="occupation in insurerMaster.Occupation">{{occupation.value}}</option>
    									</select>
    								</div>
    							</div>
    							
    							<div class="col-sm-4">
    								<div class="form-group required">
    									<label class="control-label">Driving Experience</label>
    									<select class="form-control" ng-model="proposalInput.proposer.drivingExp" required>
    										<option value="{{item.id}}" ng-repeat="item in insurerMaster.DrivingExp">{{item.value}}</option>
    									</select>
    								</div>
    							</div>
    							
	    						<div class="col-sm-4">
	    							<div class="form-group required"  ng-class="{'has-error':proposerForm.proEmail.$invalid && ! proposerForm.proEmail.$pristine}">
		    							<label class="control-label">Email</label>
		    							<input type="text" class="form-control field" name="proEmail" ng-model="proposalInput.proposer.email" ng-pattern="/^([a-zA-Z0-9_\-\.]+)(?<!\.)@([a-zA-Z0-9_\-\.]+)(?<!\.)\.([a-zA-Z]{2,5})$/"  required>
	    							</div>
	    						</div>
	    						
	    						<div class="col-sm-4">
	    							<div class="form-group required"  ng-class="{'has-error':proposerForm.mobile.$invalid && ! proposerForm.mobile.$pristine}">
		    							<label class="control-label">Mobile</label>
		    							<input type="text" name="proMobile" class="form-control field" ng-model="proposalInput.proposer.mobile"  ng-maxlength="10" ng-minlength="10" maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/" required>
		    							
				    				</div>
	    						</div>
    							
    							<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="form-group required"  ng-class="{'has-error':proposerForm.pan.$invalid && ! proposerForm.pan.$pristine}">
	    								<label class="control-label">Pan</label>
	    								<input type="text" name="pan" class="form-control" ng-model="proposalInput.proposer.pan" placeholder="AAAAA9999A" ng-pattern="/^[A-Z]{5}[0-9]{4}[A-Z]{1}$/"  required>
    								</div>
    							</div>
    							
    							<div class="col-sm-4 col-md-4 col-lg-4" ng-if="proposalInput.proposer.custType=='I'">
    								<div class="form-group required"  ng-class="{'has-error':proposerForm.aadhar.$invalid && ! proposerForm.aadhar.$pristine}">
	    								<label class="control-label">Aadhar</label>
	    								<input type="text" name="aadhar" class="form-control" ng-model="proposalInput.proposer.aadhar" placeholder="9999-9999-9999" ng-pattern="/^[0-9]{4}-[0-9]{4}-[0-9]{4}$/"  required>
    								</div>
    							</div>
    							
    							<div class="col-sm-4 col-md-4 col-lg-4"  ng-if="proposalInput.proposer.custType=='O'">
    								<div class="form-group required" ng-class="{'has-error':proposerForm.gstn.$invalid && ! proposerForm.gstn.$pristine}">
	    								<label class="control-label">GSTN</label>
	    								<input type="text" name="gstn" class="form-control" ng-model="proposalInput.proposer.gstn" ng-pattern="/^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[A-Z1-9]Z[0-9]$/"  required>
	    							</div>
    							</div>
    							
								<div class= "clear"></div>
								<div class="col-sm-4">
									<div class="form-group required">
									<label class="control-label">Are you a Automobile Association Member?</label>
									<div class="clear"></div>
									<div class="btn-group">
										<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.isAAMember" ng-class="{'active':proposalInput.proposer.isAAMember=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
										<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.isAAMember" ng-class="{'active':proposalInput.proposer.isAAMember=='N'}"  uib-btn-radio="'N'" required>No</label>
									</div>
									</div>
								</div>
									
								<div ng-if="proposalInput.proposer.isAAMember=='Y'">
		 							<div class="col-sm-4">
			  							<div class="form-group required"  ng-class="{'has-error':proposerForm.aanumber.$invalid && ! proposerForm.aanumber.$pristine}">
			  								<label class="control-label">Automobile Association Number</label>
			  								<input type="text" name="aanumber" class="form-control field" ng-minlength = "5" ng-model="proposalInput.proposer.aaNumber" required>
			  							</div>
		 							</div>	
								</div>
								
    							<div class="col-sm-4" ng-if="proposalInput.proposer.isAAMember=='Y'">
    								<div class="form-group required">
	    								<label class="control-label">Membership Expiry Date</label>
	    								<span class="input-group">
											<input type="text" class="form-control" name="aaExpiryDate"  uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.aaExpiryDate" is-open="opened[1]" datepicker-options="futureDateOptions"  close-text="Close" alt-input-formats="altInputFormats" readonly required />
									          <span class="input-group-btn">
									            	<button type="button" class="btn btn-primary btn_prim "  ng-click="open($event,1)"><i class="glyphicon glyphicon-calendar"></i></button>
									          </span>
									    </span>
								    </div>
    							</div>	
    							
    							<div class="clear"></div>
    											    							
    							<div class="col-sm-4">
    								<div class="form-group required" ng-class="{'has-error':proposerForm.nomineename.$invalid && ! proposerForm.nomineename.$pristine}">
	    								<label class="control-label">Nominee Name</label>
	    								<input type="text" class="form-control" name="panNumber" ng-model="proposalInput.proposer.nomineeName" ng-pattern="/^[a-zA-Z ]*$/" required>
    								</div>
    							</div>
    							
    							<div class="col-sm-4">
    								<div class="form-group required">
	    								<label class="control-label">Nominee DOB</label>
	    								<span class="input-group">
											<input type="text" class="form-control" name="nomineeDob"  uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.nomineeDob" is-open="opened[2]" datepicker-options="nomineeDobOptions"  close-text="Close" ng-change="getAge(proposalInput.proposer.nomineeDob)" alt-input-formats="altInputFormats" readonly required />
									          <span class="input-group-btn">
									            	<button type="button" class="btn btn-primary btn_prim "  ng-click="open($event,2)"><i class="glyphicon glyphicon-calendar"></i></button>
									          </span>
									    </span>
									 </div>
    							</div>
    							
    							<div class="col-sm-4">
    								<div class="form-group required">
    								<label class="control-label">Nominee Relation</label>
    								<select class="form-control field" ng-model="proposalInput.proposer.nomineeRel" required>
    									<option value="">Select</option>
    									<option value="{{item.id}}" ng-repeat="item in insurerMaster.NomineeRel">{{item.value}}</option>
    								</select>
    								</div>
    							</div>
    							<div class="col-sm-12 col-md-12 col-lg-12" ng-if="proposalInput.proposer.nomineeAge<18">
	    							<div class="col-sm-4" >	
	    								<div class="form-group required" ng-class="{'has-error':proposerForm.AppFName.$invalid && ! proposerForm.AppFName.$pristine}">
		    								<label class="control-label">Appointee  First Name </label>
		    								<input type="text" class="form-control field" name="AppFName" ng-minlength="3" ng-maxlength="40" ng-model="proposalInput.proposer.appointeeName" ng-pattern="/^[a-zA-Z ]*$/" required>
	    								</div>
	    							</div>
	    							<div class="col-sm-4" >
	    								<div class="form-group required"  ng-class="{'has-error':proposerForm.AppLName.$invalid && ! proposerForm.AppLName.$pristine}">
	    								<label class="control-label">Appointee Last Name </label>
	    								<input type="text" class="form-control field" name="AppLName" ng-minlength="3" ng-maxlength="40" ng-model="proposalInput.proposer.appointeeLastName" ng-pattern="/^[a-zA-Z ]*$/" required>
	    								</div>
	    							</div>
    								<div class="col-sm-4">
    									<div class="form-group required">
    									<label class="control-label">Appointee Relation </label>
	    								<select class="form-control field" ng-model="proposalInput.proposer.appointeeRel" required>
	    									<option value="{{item.id}}" ng-repeat="item in insurerMaster.AppointeeRel">{{item.value}}</option>
	    								</select>
	    								</div>
    								</div>
    								<div class="col-sm-4">
	    								<div class="form-group required">
		    								<label class="control-label">Appointee DOB</label>
    										<span class="input-group">
											 	<input type="text" class="form-control" name="appointeeDob" uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.appointeeDOB"  is-open="opened[3]" datepicker-options="adultDateOptions" ng-required="true" close-text="Close" ng-change="appointeeAge(proposalInput.proposer.appointeeDOB)" alt-input-formats="altInputFormats" date-parser required/>
											 	<span class="input-group-btn">
										            	<button type="button" class="btn btn-primary btn_prim " ng-click="open($event,3)"><i class="glyphicon glyphicon-calendar"></i></button>
										          </span>
											 </span>
										</div>
	    							</div>
	    						</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class = "clear"></div>
    			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
    		</div>
    		<!--.body -->
    		<div class="foot">
    			<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
                             			<img ng-src="./image/arrow-left.png">&nbsp;Back
                         		</button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="proposerForm.$invalid" ng-click="nextSection('third')">Continue <img ng-src="./image/arrow-right.png"></button>
    				</div>
    			</div>
    		</div>
    		<div class = "clear"></div>
    	</div>
    	<div class = "clear"></div>	
   	</form>
 </div>