<div class="formSection hwdtails">
   	<form class="form-horizontal" name="propertyform" autocomplete="off" novalidate>
   		<div class="clear"></div>
   		<div class="form-panel">
  			<div class="heads">Building and Contents</div>
  			<div class="clear"></div>
			<div class="body">
				<div class="main-section">
					<div class="proposer-process">
	   					<div class="define">
	   						<img ng-src="./image/info.png">
	   						<span>What would you like to insure?</span>
	   					</div>
	   					<div class = "clear"></div>
	   					<div class="row mone">
	   						<!-- Building Details  -->
	    					<div ng-if = "proposalInput.policy.hasStructure == 'Y'" class="col-sm-12 col-md-12 col-lg-12"> 
	    						<h3>Building</h3>
	    						
	    						<div class = "clear"></div>
								<div class="col-sm-4 col-md-4 col-lg-4">
									<div class="form-group input-item" ng-class="{'has-error':propertyform.area.$invalid && ! propertyform.area.$pristine}">
										<div class="required">
											<label class="control-label">Total Sqft Area</label>
											<input type="text" name="area" ng-model="proposalInput.structure.sqftAreaBuilt" class="form-control col-sm-5  col-md-5  col-lg-5 " ng-minlength="3" ng-maxlength="6" ng-keypress="filterValue($event)" required>
										</div>
									</div>
								</div>
								
								<div class="col-sm-4 col-md-4 col-lg-4">
									<div class="form-group input-item"  ng-class="{'has-error':propertyform.costSqft.$invalid && ! propertyform.costSqft.$pristine}">
										<div class="required">
											<label class="control-label">Cost of Construction per SqFt</label>
											<input type="number" name="costSqft" class="form-control col-sm-5  col-md-5  col-lg-5 " ng-model="proposalInput.structure.costSqft" min="2000" max="10000" step = "500" required>
										</div>
									</div>
								</div>
															
								<div class="col-sm-4 col-md-4 col-lg-4">
									<div class="input-item">
										<div><label class="control-label">Building Sum Insured</label>
										<div class = "clear"></div>
										{{proposalInput.structure.buildingSI| currency:"&#8377;":0}}</div>
									</div>
								</div>
								<div class = "clear"></div>
								<div class="col-sm-4 col-md-4 col-lg-4">
									<div class="form-group input-item required">
										<label class="control-label">Is the Building made of Concrete</label>
										<div class = "clear"></div>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary btn_prim" uib-btn-radio="'Y'"  ng-model="proposalInput.structure.builtByConcrete" ng-class="{active: proposalInput.structure.builtByConcrete =='Y'}" required>
						            			Yes
						       				</label>
						       				<label class="btn btn-primary btn_prim" uib-btn-radio="'N'"  ng-model="proposalInput.structure.builtByConcrete" ng-class="{active: proposalInput.structure.builtByConcrete =='N'}" required>
						            			No
						       				</label>
										</div>
									</div>
								</div>
								
								<div class="col-sm-4 col-md-4 col-lg-4">
									<div class="form-group input-item required"  ng-class="{'has-error':propertyform.height.$invalid && ! propertyform.height.$pristine}">
										<label class="control-label">Height of Building in Floors</label>
										<input type="text" name="height" ng-model="proposalInput.structure.buildingHeight" class="form-control col-sm-5  col-md-5  col-lg-5 " ng-minlength="1" ng-maxlength="2" ng-keypress="filterValue($event)" required>
									</div>
								</div>
								
								<div class="col-sm-4 col-md-4 col-lg-4">
									<div class="form-group input-item">
										<div class="required">
											<label class="control-label">Age of the Building</label>
											<select class="form-control field" ng-model="proposalInput.structure.buildingAge" required>
												<option ng-repeat="item in buildingAgeList" value="{{item.id}}" >{{item.value}}</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="col-sm-4 col-md-4 col-lg-4">
									<div class="form-group input-item" ng-class="{'has-error':propertyform.compsi.$invalid && ! propertyform.compsi.$pristine}">
										<div class="required">
											<label class="control-label">Coumpound Wall SI</label>
											<input type="text" name="compsi" class="form-control col-sm-5  col-md-5  col-lg-5 " ng-model="proposalInput.structure.compoundwallSI" ng-keypress="filterValue($event)">
										</div>
									</div>
								</div>
								
								<div class="col-sm-4 col-md-4 col-lg-4">
									<div class="form-group input-item" ng-class="{'has-error':propertyform.landscsi.$invalid && ! propertyform.landscsi.$pristine}">
										<div class="required">
											<label class="control-label">Landscape SI</label>
											<input type="text" name="landscsi" class="form-control col-sm-5  col-md-5  col-lg-5 " ng-model="proposalInput.structure.landscapeSI" ng-keypress="filterValue($event)"  >
										</div>
									</div>
								</div>
					
								<div class="col-sm-4 col-md-4 col-lg-4 ">
									<div class="form-group input-item ">
										<div class="required">
											<label class="control-label">Is Terrorism Cover included?</label>
											<div class="clear"></div>
											<div class="btn-group">
												 <label class="btn btn-primary btn_prim" ng-class="{'active': proposalInput.policy.isStructureTerror =='Y'}" ng-model="proposalInput.policy.isStructureTerror" uib-btn-radio="'Y'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" ng-disabled="'true'">Yes</label>
											  	 <label class="btn btn-primary btn_prim" ng-class="{'active': proposalInput.policy.isStructureTerror =='N'}" ng-model="proposalInput.policy.isStructureTerror" uib-btn-radio="'N'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;"  ng-disabled="'true'">No</label>
											</div>
										</div>
									</div>
								</div>
								
								<div class = "clear"></div>
								<div class="col-sm-5 col-md-5 col-lg-5">
									<div class="form-group input-item ">
										<div class="required">
											<label class="control-label">Hypothecated to Bank</label>
											<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" uib-btn-radio="'Y'"  ng-model="proposalInput.structure.isHypothecated" ng-class="{active: proposalInput.structure.isHypothecated =='Y'}" required>
							            			Yes
							       				</label>
							       				<label class="btn btn-primary btn_prim" uib-btn-radio="'N'"  ng-model="proposalInput.structure.isHypothecated" ng-class="{active: proposalInput.structure.isHypothecated =='N'}" required>
							            			No
							       				</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-1 col-md-1 col-lg-1"></div>
								<div class="col-sm-6 col-md-6 col-lg-6" ng-if = "proposalInput.structure.isHypothecated == 'Y'">
									<div class="form-group input-item" ng-class="{'has-error':propertyform.bankname.$invalid && ! propertyform.bankname.$pristine}">
										<div class="required">
											<label class="control-label">Name of Bank/Financial Institution</label>
											<input type="text" name="bankname" class="form-control" ng-model="proposalInput.structure.financialInstituionName" required>
										</div>
									</div>
								</div>
								<div class = "clear"></div>
	    					</div>						    						
	   						<div class = "clear"></div>
	   						<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
	   						<div  ng-if = "proposalInput.policy.hasContent == 'Y'" class="col-sm-5">
	   							<h3>Home Content</h3>
								<div ng-repeat = "content in proposalInput.contents" >
									<div class="col-sm-12 form-group" ng-class="{'has-error':propertyform.contentvalue.$invalid && ! propertyform.contentvalue.$pristine}">
										<div class="required">
											<label class="control-label input-item col-sm-7  col-md-7  col-lg-7 ">Value of {{content.displayName}} insured</label>
											<div class="input-item col-md-4"><input type="text" name="contentvalue" class="form-control" ng-model="content.contentValue" required></div><span class="has-error">{{error}}</span>
								          	
										</div>
									</div>
									<div class = "clear"></div>
								</div>
					
								<div class="col-sm-4 col-md-4 col-lg-4 ">
									<div class="form-group input-item ">
										<div class="required">
											<label class="control-label">Is Terrorism Cover included?</label>
											<div class="clear"></div>
											<div class="btn-group">
												 <label class="btn btn-primary btn_prim" ng-class="{'active': proposalInput.policy.isContentTerror =='Y'}" ng-model="proposalInput.policy.isContentTerror" uib-btn-radio="'Y'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" ng-disabled="'true'">Yes</label>
											  	 <label class="btn btn-primary btn_prim" ng-class="{'active': proposalInput.policy.isContentTerror =='N'}" ng-model="proposalInput.policy.isContentTerror" uib-btn-radio="'N'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;"  ng-disabled="'true'">No</label>
											</div>
										</div>
									</div>
								</div>
	   						</div>
	 					</div>
						<div class = "clear"></div>	
						
					</div>
					<div class = "clear"></div>
				</div>
				<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
			</div>
			<div class="clear"></div>
			<div class="col-sm-12">
				<span class="has-error" style="color:#a94442" ng-if="pageErrors.buildingError" >{{pageErrors.buildingErrorText}}</span>
			</div>
			<div class="clear"></div>
		   	<div class="foot">
	   			<div class="clear"></div>
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="propertyform.$invalid || pageErrors.buildingError" ng-click="nextSection('2')">Continue <img ng-src="./image/arrow-right.png"></button>
   				</div>
	   			<div class="clear"></div>
  		 	</div>
  		 	<div class="clear"></div>
  		</div>
   	</form>
   	<div class="clear"></div>
</div>