<div class="formSection hwdtails">
    <form class="form-horizontal" name="contactInfo" autocomplete="off" novalidate>
        <div class="clear"></div>
        <div class="form-panel">
            <div class="heads">Property Address and Contact Address</div>
            <div class="clear"></div>
            <div class="body">
                <div class="main-section">
                    <div class="contact-process">
                        <div class="define">
                            <img ng-src="./image/info.png">
                            <span>Tell us about where to send the policy Document</span>
                        </div>
                        <div class="row mnone">

                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group required">
                                    <label class="control-label">Are the Policy and Registration Address the same?</label>
                                    <div class="btn-group">
                                        <label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.policyRegAddressSame" ng-class="{'active':proposalInput.proposer.policyRegAddressSame=='Y'}" uib-btn-radio="'Y'" required>Yes</label>
                                        <label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.policyRegAddressSame" ng-class="{'active':proposalInput.proposer.policyRegAddressSame=='N'}" uib-btn-radio="'N'" required>No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 add-borde">
                                <h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Property Address</h3>
                                <div class="col-sm-12">
                                    <div class="form-group required" ng-class="{'has-error':contactInfo.policyAdd_one.$invalid && ! contactInfo.policyAdd_one.$pristine}">
                                        <label class="control-label">Address Line 1</label>
                                        <input type="text" name="policyAdd_one" class="form-control field" ng-model="proposalInput.proposer.policyAddress1" ng-minlength="5" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group required" ng-class="{'has-error':contactInfo.policyAdd_two.$invalid && ! contactInfo.policyAdd_two.$pristine}">
                                        <label class="control-label">Address Line 2</label>
                                        <input type="text" name="policyAdd_two" class="form-control field" ng-model="proposalInput.proposer.policyAddress2" ng-minlength="5" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group required" ng-class="{'has-error':contactInfo.policyAdd_three.$invalid && ! contactInfo.policyAdd_three.$pristine}">
                                        <label class="control-label">Address Line 3</label>
                                        <input type="text" class="form-control field" name="policyAdd_three" ng-model="proposalInput.proposer.policyAddress3" ng-minlength="3" required>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group required" ng-class="{'has-error':contactForm.policypincode.$invalid && ! contactForm.policypincode.$pristine}">
                                        <label class="control-label">Pincode</label>
                                        <input type="text" name="policypincode" class="form-control field" ng-pattern="/^[1-9][0-9]{5}$/" ng-model="proposalInput.proposer.policyPincode" required>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <label class="control-label">Area/Locality</label>
                                        <select class="form-control" ng-options="item as item.area for item in areasPolicy track by item.area" ng-model="polArea" ng-change="setCityState('P',polArea)" required>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6 ">
                                    <div class="form-group required">
                                        <label class="control-label">District</label>
                                        <input type="text" class="form-control field" ng-model="proposalInput.proposer.policyDistrict" readonly required>
                                    </div>
                                </div>
                                <div class="col-sm-6 ">
                                    <div class="form-group required">
                                        <label class="control-label">State</label>
                                        <ui-select ng-model="polState" name="polState" theme="bootstrap" ng-change="changeState('P', polState)" required>
                                            <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
                                            <ui-select-choices repeat="polState in insurerMaster.StateList | filter: $select.search |  orderBy:sortorder">
                                                <div ng-bind-html="polState.value | highlight: $select.search">

                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-sm-6 ">
                                    <div class="form-group required">
                                        <label class="control-label">City</label>
                                        <ui-select ng-model="polCity" name="polCity" theme="bootstrap" ng-change="changeCity('P', polCity)" required>
                                            <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
                                            <ui-select-choices repeat="polCity in insurerMaster.CityList | filter: $select.search |  orderBy:sortorder">
                                                <div ng-bind-html="polCity.value | highlight: $select.search">

                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 add-borde">
                                <div ng-if="proposalInput.proposer.policyRegAddressSame == 'N'" >
                                    <h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Contact Address</h3>
                                    <div class="col-sm-12">
                                        <div class="form-group required" ng-class="{'has-error':contactInfo.contactAdd_one.$invalid && ! contactInfo.contactAdd_one.$pristine}">
                                            <label class="control-label">Address Line 1</label>
                                            <input type="text" name="contactAdd_one" class="form-control field" ng-model="proposalInput.proposer.corrAddress1" ng-minlength="5" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group required" ng-class="{'has-error':contactInfo.contactAdd_two.$invalid && ! contactInfo.contactAdd_two.$pristine}">
                                            <label class="control-label">>Address Line 2</label>
                                            <input type="text" name="contactAdd_two" class="form-control field" ng-model="proposalInput.proposer.corrAddress2" ng-minlength="5" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group required" ng-class="{'has-error':contactInfo.contactAdd_three.$invalid && ! contactInfo.contactAdd_three.$pristine}">
                                            <label class="control-label">>Address Line 3</label>
                                            <input type="text" class="form-control field" name="contactAdd_three" ng-model="proposalInput.proposer.corrAddress3" ng-minlength="5" required>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group required" ng-class="{'has-error':contactForm.policypincode.$invalid && ! contactForm.policypincode.$pristine}">
                                            <label class="control-label">Pincode</label>
                                            <input type="text" name="corrpincode" class="form-control field" ng-pattern="/^[1-9][0-9]{5}$/" ng-model="proposalInput.proposer.corrPincode" required>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group required">
                                            <label class="control-label">Area/Locality</label>
                                            <select class="form-control" ng-options="item as item.area for item in areasCorr track by item.area" ng-model="corrArea" ng-change="setCityState('C',corrArea)" required>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 ">
                                        <div class="form-group required">
                                            <label class="control-label">District</label>
                                            <input type="text" class="form-control field" ng-model="proposalInput.proposer.corrDistrict" readonly required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 ">
                                        <div class="form-group required">
                                            <label class="control-label">State</label>
                                            <ui-select ng-model="corrState" name="corrState" theme="bootstrap" ng-change="changeState('C', corState)" required>
                                                <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
                                                <ui-select-choices repeat="corrState in insurerMaster.StateList | filter: $select.search |  orderBy:sortorder">
                                                    <div ng-bind-html="polState.value | highlight: $select.search">

                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 ">
                                        <div class="form-group required">
                                            <label class="control-label">City</label>
                                            <!-- <input type="text" class="form-control field" ng-model="proposalInput.proposer.corrCitycode" readonly required> -->
                                            <ui-select ng-model="corCity" name="polCity" theme="bootstrap" ng-change="changeCity('C', corCity)" required>
                                                <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
                                                <ui-select-choices repeat="corCity in insurerMaster.CityList | filter: $select.search |  orderBy:sortorder">
                                                    <div ng-bind-html="corCity.value | highlight: $select.search">

                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->

                    </div>

                </div>
            </div>
		<div class="clear"></div>
            <p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;"></p>
        </div>
        <!-- .body  -->
        <div class="foot">
            <div class="clearfix">
                <div class="cf-pull-right">
                    <button class="btn cf-btn btn-lg btn-gry" ng-click="back(2)" style="/* display: none; */">
                        <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
                    <button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="contactInfo.$invalid" ng-click="nextSection('4')">Continue <img ng-src="./image/arrow-right.png"></button>
                </div>
            </div>
        </div>
    </form>
</div>