<div class="formSection hwdtails">
   	 <form class="form-horizontal" name="coverForm" autocomplete="off" novalidate>
   	 	<div class="clear"></div>
   		<div class="form-panel">
  			<div class="heads">Cover</div>
  			<div class="clear"></div>
  			
			<div class="body">
				<div class="main-section">
					<div class="contact-process">
	 					<div class="define">
	 						<img ng-src="./image/info.png">
	 						<span>Would you like to add some additional covers</span>
	 					</div>
	 					<div class="clear"></div>
 						<div class="row mnone conditional-question">
 							<div class="col-sm-12" style="margin-bottom:10px;"  ng-repeat="cover in proposalInput.addons track by cover.coverId">
 								<!-- {{cover}} -->
 								<div class="col-xs-4">{{cover.displayName}}</div>
 								<div class="col-xs-4">{{cover.premium| currency:"&#8377;":0}}</div>
 								<div class="col-xs-4">
 									<div class="btn-group">
  									<label class="btn btn-primary btn_prim" ng-class="{'active':cover.isSelected=='Y'}" ng-model="cover.isSelected" uib-btn-radio="'Y'" ng-change="premiumAdd(cover.premium)">Yes</label>
  									<label class="btn btn-primary btn_prim" ng-class="{'active':cover.isSelected=='N'}" ng-model="cover.isSelected" uib-btn-radio="'N'" ng-change="premiumSubtract(cover.premium)">No</label>
 									</div>
 								</div>
 							</div>
							<div class = "clear"></div>
 						</div>
 						<div class="clear"></div>
 						<!-- WC -->
						<div class = "row mone conditional-question">
							<div class="col-md-12 col-md-12 col-md-12" style="margin-bottom:10px;">
							<div class="form-group required">
								<label class="input-item control-label">Would you like Worker's compensation for your employees</label>
								<div class="input-item btn-group">
									 <label class="btn btn-primary btn_prim" ng-class="{'active': content.isWC =='1'}" ng-model="proposalInput.hasWC" uib-btn-radio="1" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Yes</label>
								  	 <label class="btn btn-primary btn_prim" ng-class="{'active': content.isWC =='0'}" ng-model="proposalInput.hasWC" uib-btn-radio="0" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>No</label>
								</div>
							</div>
						</div>
						<div class="col-sm-8 form-group" ng-if = "proposalInput.hasWC =='1'" >
							<div class="form-group">
								<div class="btn-group" ng-click = "addWC()">
									<label class="input-item btn btn-primary btn-prim">Add <span class = "glyphicon glyphicon-plus"></span></label>
								</div>
							</div>
	  							<div ng-if = "proposalInput.wcList.length>0" class="col-sm-11 col-md-11 col-lg-11">
	  								<h4>WC Employees</h4>
								<div>
									<table class="table table-bordered">
										<thead>
											<tr >
											    <th class = "col-sm-3 col-md-3 col-lg-3">Name</th>
											    <th class = "col-sm-2 col-md-2 col-lg-2">DOB</th>
											    <th class = "col-sm-1 col-md-1 col-lg-1">Gender</th>
											    <th class = "col-sm-2 col-md-2 col-lg-2">Occupation</th>
											    <th class = "col-sm-1 col-md-1 col-lg-1">Working Days</th>
											    <th class = "col-sm-2 col-md-2 col-lg-2">Annual Wages</th>
											    <th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
												<tr ng-repeat = "employee in proposalInput.wcList track by $index">
													<td>{{employee.name}}</td>
													<td>{{employee.dob}}</td>
													<td><span ng-if = "employee.gender =='M'">Male</span><span ng-if = "employee.gender =='F'">Female</span></td>
													<td>{{employee.occupation}}</td>
													<td>{{employee.workingDays}}</td>
													<td>{{employee.annualWages| currency : "&#8377;"}}</td>
													<td ng-click = "deleteWC($index)"><span class = "glyphicon glyphicon-trash"></span></td>
												</tr>
										</tbody>
									</table>
								</div>
	  							</div>
						</div>
						</div>
						<div class="clear"></div>
						<!-- PA  -->
						<div class = "row mone conditional-question">
							<div class="col-md-12 col-md-12 col-md-12" style="margin-bottom:10px;">
							<div class="form-group required">
								<label class="input-item control-label">Would you like Personal Accident Cover for your employees</label>
								<div class="input-item btn-group">
									 <label class="btn btn-primary btn_prim" ng-class="{'active': content.isWC =='1'}" ng-model="proposalInput.hasPA" uib-btn-radio="1" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Yes</label>
								  	 <label class="btn btn-primary btn_prim" ng-class="{'active': content.isWC =='0'}" ng-model="proposalInput.hasPA" uib-btn-radio="0" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>No</label>
								</div>
							</div>
						</div>
						<div class="input-item col-sm-12 form-group" ng-if = "proposalInput.hasPA =='1'" >
							<div class="form-group">
								<div class="btn-group" ng-click = "addPA()">
									<label class="btn btn-primary btn-prim">Add <span class = "glyphicon glyphicon-plus"></span></label>
								</div>
							</div>
	  							<div ng-if = "proposalInput.wcList.length>0" class="col-sm-11 col-md-11 col-lg-11">
	  								<h4>PA Employees</h4>
									<div>
										<table class="table table-bordered">
											<thead>
												<tr>
												    <th class = "col-sm-3 col-md-3 col-lg-3">Name</th>
												    <th class = "col-sm-2 col-md-2 col-lg-2">DOB</th>
												    <th class = "col-sm-1 col-md-1 col-lg-1">Gender</th>
												    <th class = "col-sm-2 col-md-2 col-lg-2">Occupation</th>
												    <th class = "col-sm-1 col-md-1 col-lg-1">Sum Insured</th>
												    <th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat = "employee in proposalInput.paList track by $index">
													<td>{{employee.name}}</td>
													<td>{{employee.dob}}</td>
													<td><span ng-if = "employee.gender =='M'">Male</span><span ng-if = "employee.gender =='F'">Female</span></td>
													<td>{{employee.occupation}}</td>
													<td>{{employee.sa| currency : "&#8377;"}}</td>
													<td ng-click = "deletePA($index)"><span class = "glyphicon glyphicon-trash"></span></td>
												</tr>
											</tbody>
										</table>
									</div>
	  							</div>
							</div>
						</div>
					</div>
 				</div>
 				<div class="clear"></div>
 			
 				<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
 			</div>
   			<div class="clear"></div>
   			<div class="foot">
    			<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(3)" style="/* display: none; */">
                             			<img ng-src="./image/arrow-left.png">&nbsp;Back
                         		</button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="coverForm.$invalid" ng-click="nextSection('5')">Continue <img ng-src="./image/arrow-right.png"></button>
    				</div>
    			</div>
   		 	</div>
   		 	<div class="clear"></div>
    </div>
 </form>
</div>