<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Worker's Compensation Details</h4>

</div>
<form class="form-horizontal form_horizontal" novalidate name="employee" autocomplete="off">
	<div class="modal-body">
		
		<table class = "col-sm-10 col-md-10 col-lg-10">
			<tr>
				<td class = "col-sm-5 col-md-5 col-lg-5">
					<div>
						<div class="form-group required  input-item" ng-class="{'has-error':employee.employeename.$invalid && !employee.employeeiname.$pristine}">
							<label class="control-label label-block" >Name</label>
							<input type="text" name="employeename" class="form-control field"  ng-model="employeeData.name" ng-minlength="3" ng-keypress="alphaChar($event)" required>
							<span class="errorMsg" ng-show="employee.employeename.$error.required && !employee.employeename.$pristine">This field is required</span>
							<span class="errorMsg" ng-show="employee.employeename.$error.minlength && !employee.employeename.$pristine">Minimum char is 3</span>
						</div>
					</div>							
				</td>
				<td  class = "col-sm-1 col-md-1 col-lg-1">&nbsp;</td>				
								
				<td  class = "col-sm-5 col-md-5 col-lg-5">
					<div class="form-group required  input-item" ng-class="{'has-error':employee.gender.$invalid && !employee.gender.$pristine }">
						<label class="control-label label-block">Gender</label>
						<!--  data-toggle="buttons" -->
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" uib-btn-radio="'M'"  ng-model="employeeData.gender" ng-class="{active: employeeData.gender =='M'}">
		            			Male
		       				</label>
		       				<label class="btn btn-primary" uib-btn-radio="'F'"  ng-model="employeeData.gender" ng-class="{active: employeeData.gender =='F'}">
		            			Female
		       				</label>
						</div>
					 	
				        <span class="errorMsg" ng-show="employeeData.gender.$error.required && !employeeData.gender.$pristine">This field is required</span>
					</div>
				</td>
			</tr>
			
			<tr>			
				<td  class = "col-sm-5 col-md-5 col-lg-5">
					<div class="form-group required  input-item" ng-class="{'has-error':employee.employeeDob.$invalid && !employee.employeeDob.$pristine}">
						<label class="control-label label-block">Date Of Birth</label>
						<span class="input-group">
	                    <input type="text" class="form-control" name="employeeDob"  
	          			uib-datepicker-popup="{{format}}" ng-model="employeeData.dob" is-open="opened[1]" datepicker-options="dobemployee" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" ng-change="calculateemployeeAge(employeeData.dob)" required="required" />
	                  	<span class="input-group-btn">
	                    	<button type="button" class="btn btn-primary" ng-click="opened($event,'1')"><i class="glyphicon glyphicon-calendar"></i></button>
	                  	</span>
	        		</span>
	        		<span class="errorMsg" ng-show="employee.employeeDob.$error.required && !employee.employeeDob.$pristine">This field is required</span>
					</div>			
				</td>
				<td  class = "col-sm-1 col-md-1 col-lg-1">&nbsp;</td>
				
				<td  class = "col-sm-5 col-md-5 col-lg-5">
					<div class="col-sm-10 col-md-10 col-lg-10 padd0">
						<div class="form-group required  input-item" ng-class="{'has-error':employee.title.$invalid && !employee.title.$pristine}">
							<label class="control-label label-block">Occupation</label>
							<select class="form-control field" ng-model="employeeData.occupation" required>
								<option ng-repeat="item in occupationList" value="{{item}}" >{{item}}</option>
							</select>
						</div>
					</div>
				</td>
			</tr>
									
			<tr>
				<td  class = "col-sm-5 col-md-5 col-lg-5">
					<div class="form-group required input-item">
						<label class="control-label label-block">Nominee Name</label>
						<span class="input-group">
							<input type="text" name="nomineeName" ng-model="employeeData.nomineeName" class="form-control"  required>
						</span>
						
					</div>		
				</td>
				<td  class = "col-sm-1 col-md-1 col-lg-1">&nbsp;</td>
				<td  class = "col-sm-5 col-md-5 col-lg-5">
					<div class="form-group required input-item">
						<label class="control-label label-block">Nominee Relationship</label>
						<select class="form-control field" ng-model="employeeData.nomineeRel" required>
							<option ng-repeat="item in relList" value="{{item}}" >{{item}}</option>
						</select>
					</div>		
				</td>				

			</tr>
			
			<tr>
				<td  class = "col-sm-5 col-md-5 col-lg-5">
					<div class="form-group required input-item">
						<label class="control-label label-block">Sum Insured</label>
						<span class="input-group">
							<input type="text" name="sa" ng-model="employeeData.sa" class="form-control" ng-keypress="filterValue($event)" maxlength="6" required>
						</span>
						
					</div>		
				</td>
			</tr>

		</table>
	</div>
	<div class = "clear"></div>
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-primary btn_default" ng-disabled="employee.$invalid"   ng-click="ok()">Submit</button>
</div>
