<div class="formSection hwdtails">
    <form class="form_horizontal form-horizontal" name="proposerForm" autocomplete="off" novalidate>
	   	<div class="clear"></div>
	   	<div class="form-panel">
	  		<div class="heads">Proposer</div>
	  		<div class="clear"></div>
	  		<div class="body">
	  			<div class="main-section">
	  				<div class="proposer-process">
	  					<div class="define">
	  						<img ng-src="./image/info.png">
	  						<span>The person who is paying for the policy</span>
	  					</div>
	  					<div class="clear"></div>
	  					<div class="row mnone">
	  						<div class="col-sm-10" style="margin-bottom:10px;">
	  							
	  							<div class="col-sm-4 list-item-proposer">
	  								<div class="form-group required">
	  									<label class="control-label">Title </label>
	  									<select class="form-control field" ng-model="proposalInput.proposer.title" required>
	  										<option value=""></option>
	  										<option value="Mr">Mr</option>
	  										<option value="Ms">Ms</option>
	  										<option value="Mrs">Mrs</option>
	  									</select>
	  								</div>
	 								</div>
	  							<div class="col-sm-4 list-item-proposer">
	  								<div class="form-group required" ng-class="{'has-error':proposerForm.firstName.$invalid && ! proposerForm.firstName.$pristine}">
	   									<label class="control-label"><span>First Name</span></label>
	   									<input type="text" name="firstName" ng-minlength="3" class="form-control" ng-model="proposalInput.proposer.firstName" required>
	   								</div>
	  							</div>
	  							<div class="col-sm-4 list-item-proposer">
	  								<div class="form-group ">
	   									<label class="control-label"><span>Middle Name</span></label>
	   									<input type="text" class="form-control" name="middle" ng-model="proposalInput.proposer.middleName">
	   								</div>
	  							</div>
	  							<div class="col-sm-4 list-item-proposer">
	  								<div class="form-group required" ng-class="{'has-error':proposerForm.lastname.$invalid && ! proposerForm.lastname.$pristine}">
	   									<label class="control-label"><span>Last Name</span></label>
	   									<input type="text" class="form-control" ng-minlength="3" name="lastname" ng-model="proposalInput.proposer.lastName" required>
	   								</div>
	  							</div>
	  							<div class="col-sm-4 list-item-proposer">
	  								<div class="form-group required">
		   								<label class="control-label">Gender</label>
		   								<div class="clear"></div>
		   								<div class="btn-group" data-toggle="buttons">
				    						<label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='M'}" uib-btn-radio="'M' "  ng-model="proposalInput.proposer.gender"  required>Male</label>
				    					    <label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='F'}" uib-btn-radio="'F'"   ng-model="proposalInput.proposer.gender" required>Female</label>
					    				</div>
				    				</div>
	  							</div>
	  							
	  							<div class="col-sm-4">
	  								<label class="control-label">Proposer DOB</label>
	  								<span class="input-group">
									<input type="text" class="form-control" name="dateOfProposer"  uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.proposerDob" is-open="opened[$index+1]" datepicker-options="adultDob"  close-text="Close" ng-change="getProposerAge(proposalInput.proposer.proposerDob)" alt-input-formats="altInputFormats" readonly required />
							          <span class="input-group-btn">
							            	<button type="button" class="btn btn-primary btn_prim "  ng-click="open($event,$index+1)"><i class="glyphicon glyphicon-calendar"></i></button>
							          </span>
							    </span>
	  							</div>
	  							<div class="clear"></div>
	  							
	  							<div class="col-sm-4 list-item-proposer">
	  								<div class="form-group required">
	   								<label class="control-label">Marital Status</label>
	   								<select class="form-control" ng-model="proposalInput.proposer.maritalStatus" required>
					    				<option value="">Select</option>
					    				<option value="Single">Single</option>
					    				<option value="Married">Married</option>
					    			</select>
				    			</div>
	 								</div>
	  							
	  							<div class="col-sm-4">
	  								<div class="form-group required" ng-class="{'has-error':proposerForm.occupation.$invalid && ! proposerForm.occupation.$pristine}" >
	  									<label class="control-label">Occupation Type</label>
	  									<select class="form-control" name ="occupation" ng-model="proposalInput.proposer.occupationType" required>
	  										<option value="">Select Occupation Type</option>
	  										<option value="{{occupation.id}}" ng-repeat="occupation in insurerMaster.OccupationList">{{occupation.value}}</option>
	  									</select>
	  								</div>
	  								
	  							</div>
		   						<div class="col-sm-4">
		   							<div class="form-group required" ng-class="{'has-error':proposerForm.income.$invalid && ! proposerForm.income.$pristine}">
		    							<label class="control-label">Annual Income</label>
	  									<select class="form-control" name ="income" ng-model="proposalInput.proposer.annualIncome" required>
	  										<option value="">Select Income Level</option>
	  										<option value="Less than 5 Lakhs" >Less than 5 Lakhs</option>
	  										<option value="5 - 10 Lakhs" >5 - 10 Lakhs</option>
	  										<option value="10 - 25 Lakhs" >10 - 25 Lakhs</option>
	  										<option value="25 - 50 Lakhs" >25 - 50 Lakhs</option>
	  										<option value="Greater than 50 Lakhs" >Greater than 50 Lakhs</option>
	  									</select>
				    				</div>
		   						</div>
	  							<div class="col-sm-4 list-item-proposer">
	  								<div class="form-group required" ng-class="{'has-error':proposerForm.pan.$invalid && ! proposerForm.pan.$pristine}">
	   								<label class="control-label">Pan</label>
	   								<input type="text" name="pan" class="form-control" ng-model="proposalInput.proposer.pan" ng-pattern="/^[A-Z]{5}[0-9]{4}[A-Z]{1}$/"  required>
	   								</div>
	  							</div>
	  							
	   						<div class="col-sm-4">
	   							<div class="form-group required" ng-class="{'has-error':proposerForm.proEmail.$invalid && ! proposerForm.proEmail.$pristine}">
		   							<label class="control-label">Email</label>
		   							<input type="text" class="form-control field" name="proEmail" ng-model="proposalInput.proposer.email" ng-pattern="/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/"  required>
		   						</div>
	   						</div>
	   						<div class="col-sm-4">
	   							<div class="form-group required">
	    							<label class="control-label">Mobile</label>
	    							<input type="text" name="proMobile" class="form-control field" ng-model="proposalInput.proposer.mobile"  ng-maxlength="10" ng-minlength="10" maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/" required>
	    						</div>
	   						</div>
    						<div class="form-group col-sm-2" ng-class="{'has-error':proposerForm.stdcode.$invalid && ! proposerForm.stdcode.$pristine}">
    							<label class="control-label">StdCode</label>
    							<input type="text" class="form-control field" name="code" ng-minlength="3" ng-maxlength="5" maxlength="5"   ng-model="proposalInput.proposer.stdCode" ng-keypress="filterValue($event)"  >
    							<span class="small">e.g. "022"</span>
    							
    						</div>
    						<div class="form-group col-sm-2 "  ng-class="{'has-error':proposerForm.phone.$invalid && ! proposerForm.phone.$pristine}">
    						 	<label class="control-label">Landline</label>
    							<input type="text" class="form-control field" name="phone" ng-model="proposalInput.proposer.landLine" ng-minlength="8" ng-maxlength="8" maxlength="8" ng-keypress="filterValue($event)"  >
    							<span class="small">enter your number</span>
    							
    						</div>
	  						<div class="clear"></div>
	  						</div>
	  						<div class="clear"></div>
	  					</div>
	  					<div class="clear"></div>
	  				</div>
	  				<div class="clear"></div>
	  			</div>
	  			<div class="clear"></div>
	  			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
	  		</div>
	  		<div class="clear"></div>
	  		<!--.body -->
	  		<div class="foot">
	  			<div class="clearfix">
	  				<div class="cf-pull-right">
	  					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(1)" style="/* display: none; */">
	                           			<img ng-src="./image/arrow-left.png">&nbsp;Back
	                       		</button>
	  					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="proposerForm.$invalid" ng-click="nextSection('3')">Continue <img ng-src="./image/arrow-right.png"></button>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="clear"></div>
	  	</div>
	  	<div class="clear"></div>
 	</form>
</div>