<div class="proposal_form" ng-controller="rsaHomeCntrl">
<div class="container">
	<div class="wrap-bg">
		<div class="policy-panel">
			<div class="row mnone">
				<div class="col-xs-12  cf-title clearfix">
					<div class="back-to-results" ng-click="backPreviousPage()" > Back to results</div>
				    <div style="padding:5px 0px 0px;">Buy Home Insurance</div>
				</div>
				<div class="clear"></div>
				<div class="col-xs-4 col-sm-3 pnone">
					<div class="insurer-img">
						<img class="img-responsive" ng-src = "./image/ilogo/i{{proposalInput.insurerId}}.png">
						
					</div>
				</div>
				<div class="col-xs-8 col-sm-9 pnone" style="border-left:1px solid #eaeaea;">
						<div class="pol-name">{{proposalInput.insurerName}}  {{proposalInput.productName}}</div>
						<div class="pol-val">
							<span>Sum Insured</span>
							<span class="value">{{proposalInput.policy.totalSi}}</span>
							<br class="visible-xs visible-sm">
							<span>ANNUAL PREMIUM</span>
							<span class="value">{{proposalInput.policy.displayPremium}}</span>
							<span class="val-typ" style="font-size: 12px;">(Includes 18.0% GST)*</span>
						</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<!--policy panel  -->
		<div  ng-if="loading" class="loading col-sm-10 col-md-10 col-lg-10">
	    	<div class="ctralign"><img ng-src = "./image/loading.gif"></div>
		</div>
		<div class="clear"></div>
		<div id="stage_data" ng-if="!loading">
			<uib-tabset class="wizard-track" active="active" >
				<uib-tab index="0"  class="track_li" classes="{{tabStatus.firstComplete}}" ng-style="{width:'20%'}">
			    	<uib-tab-heading>Building and Content <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/home/royalSundaram/building.html'"></div>
				</uib-tab>
				<uib-tab index="1"  class="track_li" classes="{{tabStatus.secondComplete}}" ng-style="{width:'20%'}">
			    	<uib-tab-heading>Proposer <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/home/royalSundaram/proposer.html'"></div>
				</uib-tab>
				<uib-tab index="2"  class="track_li" classes="{{tabStatus.thirdComplete}}" ng-style="{width:'20%'}">
			    	<uib-tab-heading>Contact Info <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src=" './templates/proposal/home/royalSundaram/contact.html'"></div>
				</uib-tab>
				<uib-tab index="3"  class="track_li" classes="{{tabStatus.fourthComplete}}" ng-style="{width:'20%'}">
			    	<uib-tab-heading>Add-ons <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src=" './templates/proposal/home/royalSundaram/covers.html'"></div>
				</uib-tab>
				<uib-tab index="4"  class="track_li" classes="{{tabStatus.fifthComplete}}" ng-style="{width:'20%'}">
			    	<uib-tab-heading>Summary <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/home/royalSundaram/tc.html'"></div>
				</uib-tab>
			</uib-tabset>
			<div class="clear"></div>
		</div>		
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
</div>