<div class="career">
	<div class="career-header">
		<div class="container">
			<div class="col-sm-8 col-md-push-4">
				<img src="./image/wecare_careers.jpg" class="img-responsive padd15">
				<div class="clear"></div>
				<p>
					Our dream is to build one of the finest insurance brokerage houses in India. Naturally, we are looking for people who'll share our dream and are mentally prepared for the long haul that a project like this entails. A rare blend of enthusiasm, well honed self-management skills and a willingness to run the extra mile are basic building blocks that we will look for in people wanting to join us.
					 A proven track record in insurance sales and operations in leading insurance companies and brokerage houses will be a necessary requirement for positions at all levels.
				</p>
				<div class="col-sm-12 padd0 padd15" >
					<span class="wecareband ibspan">&nbsp;<a href="wecarerecrutmentbrochure.pdf" style="color:#ffffff !important;">Download Recruitment Brochure</a></span>
						<div class="col-sm-12" style="padding-left:30px">
							<p><span style="color:black">To explore suitable career openings at various levels please get in touch with</span></p>
							 <p>For Retail sales &amp; operations<br> 
							    please contact <span style="color:black">Murali Iyer on + 91-9820347651 / murali.iyer@insurenearby.in</span></p>

							<p>For Corporate Sales <br>
							  please contact <span style="color:black">Biplab Mukherjee on +91-9619195066 / biplab.mukherjee@insurenearby.in </span></p>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>