<div class="margin-top-30" data-ng-controller="brokeredgeHealthCtrl">
    <div class="col-md-6 ">
        <h4 class="green">COMPARE HEALTH INSURANCE POLICIES</h4>
    </div>
    <div class="col-md-6 ">
        <div class="right">
            <div class="blue step left">STEP</div>
            <div class="number left">1</div>
            <div class="grey step left">OF</div>
            <div class="number left">3</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="banner-c">
        <form id="health-buy-form" class="form-horizontal" name="healthform" autocomplete="off" novalidate">
	        <div ng-if="loading" class="col-xs-8 col-sm-8 col-md-9">
	             <div style="padding: 5em">
	                 <uib-progressbar class="progress-striped active" value='value' type='info'>Contacting Insurers for Best Quotes for you</uib-progressbar>
	             </div>
	        </div>
	        <div ng-if="!loading" class="col-xs-12 col-sm-12 col-md-12">
	         
	         	<div class="col-md-10 col-sm-10 col-xs-12">
	                <div class="col-sm-4 ">
	                    <div class="form-group required">
	                        <label class="control-label">Type of Policy</label>
	                        <div id="radio5" class="input-group">
	                            <label class="btn btn-primary btn_prim" ng-class="{'active': healthInputproductType =='FF'}" ng-model="healthInput.productType" uib-btn-radio="'FF'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Family Floater</label>
	                            <label class="btn btn-primary btn_prim" ng-class="{'active': healthInput.productType =='INDV'}" ng-model="healthInput.productType" uib-btn-radio="'INDV'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Individual</label>
	
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-8 ">
	                    <div class="form-group required">
	                        <label class="control-label"> Do you want to?</label>
	                        <div id="radio5" class="input-group">
	                            <label class="btn btn-primary btn_prim" ng-class="{'active': policyType =='newPolicy'}" ng-model="policyType" uib-btn-radio="'newPolicy'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Buy New Policy</label>
	                            <label class="btn btn-primary btn_prim" ng-class="{'active': policyType =='enhanceExCover'}" ng-model="policyType" uib-btn-radio="'enhanceExCover'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Enhance existing cover
	                            </label>
	
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-4" ng-if="policyType =='enhanceExCover'">
	                    <div class="form-group required">
	                        <label class="control-label">Existing Amount of Cover </label>
	                        <select class="form-control" ng-model="healthInput.deductible" required>
	                            <option value="100000">1 Lakh</option>
	                            <option value="200000">2 Lakh</option>
	                            <option value="300000">3 Lakh</option>
	                            <option value="400000">4 Lakh</option>
	                            <option value="500000">5 Lakh</option>
	                            <option value="1000000">10 Lakh</option>
	                        </select>
	                    </div>
	                </div>
	            </div>
	            <div class="clear"></div>
	            <div class="col-md-2 col-md-2 col-xs-5 healthAddMem">
	                <div class="form-group">
	                    <p class="add-member" ng-show="healthInput.members.length<7" style="text-align:left;padding-bottom:5px;">Add Member</p>
	                    <!--  <div class="clear"></div> -->
	                    <button class="add btn_prim" ng-show="healthInput.members.length<7" ng-click="addMember()">+</button>
	                    <button class="reset btn_prim" ng-show="healthInput.members.length>1" ng-click="reset()">reset</button>
	                </div>
	            </div>
	            
	            <div class="clear"></div>
	            <div class="col-sm-12 col-md-12 col-xs-12 " ng-repeat="member in healthInput.members track by $index">
	                <div class="col-sm-4 col-md-3 col-xs-12">
	                    <div class="col-sm-11 col-md-11 col-xs-11 form-group required">
							<div class="form-group scrollable-dropdown-menu required">
								<label class="control-label">Relationship</label>
								<ui-select ng-model="member.relationship" name="relationship" theme="bootstrap" ng-change="checkMember(member, $index)" required>
						            <ui-select-match placeholder="" >{{$select.selected.name}}</ui-select-match>
						            <ui-select-choices repeat="relationship in relationships | filter: $select.search |  orderBy:sortorder">
						              <div ng-bind-html="relationship.name | highlight: $select.search">
						              	
						              </div>
						             </ui-select-choices>
						          </ui-select>
							</div>
	                    </div>
	                </div>
	                
	                <div class="col-sm-4 col-md-3 col-xs-12" ng-if="member.relationship">
	                    <div class="col-sm-10 col-md-10 col-xs-10 form-group required" >
	                        <div>
	                            <label class="control-label">Member DOB</label>
	                            <!-- <input type="text" name="memberDob" ng-model="member.dob" class="form-control field"> -->
	                            <span class="input-group">
	              					<input type="text" class="form-control dobinput" name="adultchild" id="{{adultSelect}}" 
	              					uib-datepicker-popup="{{format}}" ng-model="member.dob" is-open="opened[$index]" datepicker-options="dobOptions[$index]" required close-text="Close" alt-input-formats="altInputFormats" min-date="minAge" required="required"  readonly="readonly"/>
						              <span class="input-group-btn calendInp">
						                <button type="button" class="btn btn-primary btn_prim" ng-click="open($event,$index)"><i class="glyphicon glyphicon-calendar"></i></button>
						              </span>
	                            </span>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-4 col-md-3 col-xs-12" ng-if="member.relationship.id=='1'">
	                    <div class="col-sm-10 col-md-10 col-xs-10 form-group required">
	                          <label class="control-label">Gender</label>
	                          <select class="form-control genderCls" ng-model="member.gender" required>
	                              <option value="M">Male</option>
	                              <option value="F">Female</option>
	                          </select>
	                        
	                    </div>
	                </div>
	                <div class="clear"></div>
	            </div>
	            <div class="clear"></div>
	            <div class="col-md-10 col-sm-10 col-xs-7 " >
	                <div class="col-md-3 col-sm-4 col-xs-12">
	                    <div class="form-group required">
	                        <label class="control-label">Sum Insured</label>
	                        <ui-select ng-model="healthInput.sumInsured" theme="bootstrap" required>
	                            <ui-select-match placeholder="">{{$select.selected.val}}</ui-select-match>
	                            <ui-select-choices repeat="annualIncomes in annualIncome | filter: $select.search">
	                                <div ng-bind-html="annualIncomes.val  | highlight: $select.search"></div>
	                                <small ng-bind-html="annualIncomes.name  | highlight: $select.search"></small>
	                            </ui-select-choices>
	                        </ui-select>
	                    </div>
	                </div>
	                <div class="col-md-3 col-sm-4 col-xs-12">
	                    <div class="form-group required col-sm-9">
	                        <label class="control-label">Tenure</label>
	                        <select class="form-control form-tunure" ng-model="healthInput.tenure" required>
	                            <option value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
	                    </div>
	                </div>
	                <div class="col-md-3 col-sm-4 col-xs-12">
	                
	                    <div class="form-group required">
	                        <label class="control-label">Pincode</label>
	                        <input type="text" name="Pincode" class="form-control form-pinCodeDiv" ng-model="healthInput.pincode" ng-maxlength="6" ng-minlength="6" maxlength="6" ng-pattern="/^[1-9][0-9]{5}$/" required>
	                    </div>
	                </div>
	                <div class="clear"></div>
	            </div>
	            <div class="clear"></div>
	            <div class="col-sm-12">
	                <div class="error" style="color:red">{{error}}</div>
	            </div>
	            <div class="col-sm-12">
	                <ol class="error" style="color:red">
	                	<li style="color:red;" ng-repeat="error in quoteError.errors track by $index">{{error}}</li>
	               </ol>
	            </div>
	            <div class="clear"></div>
	            <div class="col-md-3 col-sm-3 col-xs-12" style="padding-left:0px;">
	                <button id="comparebutton" class="btn btn-primary call-back btn-default" ng-disabled="!idvValid" ng-click="submitForm()">COMPAREs POLICIES</button>
	            </div>
	            <div class="clear"></div>
	        </div>
        </form>

    </div>

</div>