<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="contactForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Contact Info</div>
	   		<div class = "clear"></div>
			<div class="body">
				<div class="main-section">
					<div class="contact-process">
						<div class="define">
							<img ng-src="./image/info.png">
							<span>Tell us about where to send the policy Document</span>
					</div>
  					<div class="row mnone">
  							
 						<div class="clear"></div>
 						<br><br>
	   					<div class="col-sm-6 add-borde"> 
	   						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Mailing Address</h3>
	   						<div class="col-sm-12">
		   						<div class="form-group required" ng-class="{'has-error':contactForm.policyAdd_one.$invalid && ! contactForm.policyAdd_one.$pristine}">
		   							<label class="control-label">Flat/House No</label>
		   							<input type="text" name="policyAdd_one" class="form-control field" ng-model="proposalInput.proposer.corrAddressLine1" ng-minlength="5" required>
		   						</div>
	   						</div>
	   						<div class="col-sm-12">
		   						<div class="form-group required"  ng-class="{'has-error':contactForm.policyAdd_two.$invalid && ! contactForm.policyAdd_two.$pristine}">
		   							<label class="control-label">Building/Street</label>
		   							<input type="text" name="policyAdd_two" class="form-control field" ng-model="proposalInput.proposer.corrAddressLine2" ng-minlength="5" required>
		   						</div>
	   						</div>
		   					<div class="col-sm-12">
		   							<div class="form-group required"  ng-class="{'has-error':contactForm.policyAdd_three.$invalid && ! contactForm.policyAdd_three.$pristine}">
		   							<label class="control-label">Landmark</label>
		   							<input type="text" class="form-control field" name="policyAdd_three" ng-model="proposalInput.proposer.corrLandMark" ng-minlength  required>
		   						</div>
	   						</div>	   						
   							<div class="col-sm-6">
   								<div class="form-group required">
   								<label class="control-label">Pincode</label>
   								<input type="text" class="form-control field" ng-minlength="6" ng-maxlength="6" ng-model="proposalInput.proposer.corrPincode"  required>
   								</div>
   							</div>
   							
	   						<div class="col-sm-6">
	   							<div class="form-group required">
		   							<label class="control-label">Area/Locality</label>
		   							<select class="form-control" ng-options="item as item.areaName for item in areasCorr track by item.areaId" 
		   							ng-model="corArea" ng-change = "setCityState('C',corArea)" required>
			   						</select>
	   							</div>
	   						</div>
   							
   							<div class="col-sm-6 ">
   								<div class="form-group required">
   								<label class="control-label">City</label>
   									<input type="text" class="form-control field" ng-model="proposalInput.proposer.corrCity"  readonly required>
   								</div>
   							</div>
	   						
   							<div class="col-sm-6" style="padding-left:0px;">
   								<div class="form-group required">
    								<label class="control-label">State</label>
    								<input type="text" class="form-control field" ng-model="proposalInput.proposer.corrState"  readonly required>
   								</div>
   							</div>
	   							
	   					</div>
   					<!-- </div> -->
   					


   					</div>
  				</div>
  			</div>
  			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
  		</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(2)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="contactForm.$invalid" ng-click="nextSection('4')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>