<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="policyForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Policy</div>
	   		<div class = "clear"></div>
	   		<div class="body">
	   			<div class="main-section">
	   				<div class="proposer-process">
	   					<div class="define">
	   						<img ng-src="./image/info.png">
	   						<span>About Your Policy</span>
	   					</div>
	   					<div class="row mnone">
	   						<div class="col-sm-10" style="margin-bottom:10px;">
	   							
	   								<div class="col-sm-6">
	   									<div class="form-group required">
	   										<label class="control-label">Travel Start Date</label>
	   										<span class="input-group">
											 	<input type="text" class="form-control" name="polStartDate" uib-datepicker-popup="{{format}}" ng-model="proposalInput.policy.policyStartdate"  is-open="opened.startDate[0]" datepicker-options="policyStartDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly required/>
											 	<span class="input-group-btn">
										            	<button type="button" class="btn btn-primary btn_prim "  ng-click="open('startDate',0)"><i class="glyphicon glyphicon-calendar"></i></button>
										          </span>
											 </span>
											 <span class="has-error">{{policyStartDateError}}</span>
	   									</div>
	   							     </div>
	   							     <div class="col-sm-6">
	   									<div class="form-group required">
	   										<label class="control-label">Travel End Date</label>
	   										<input type="text" class="form-control" ng-model="proposalInput.policy.policyEnddate" readonly required>
	   									</div>
	   							     </div>
	   							     
	   							     <div class = "clear"></div>
	   							     
   									<div class="col-sm-6">
   										<div class="form-group required">
    										<label class="control-label">Purpose of Travel</label>
    										<div class="col-sm-12 padd0">
    											<select class=" form-control" name="relaInsured" ng-model="proposalInput.policy.travelPurpose"  required>
													<option value="">Select</option>
													<option value="{{item.id}}"  ng-repeat="item in insurerMaster.TravelPurpose">{{item.value}}</option>
												</select>
											</div>
										</div>
   									</div>
   									
		   							<div class="col-sm-6">
		   							   <div class="form-group required" ng-class="{'has-error':memberForm.illness.$invalid && ! memberForm.illness.$pristine}">
		    								<label class="control-label">Please select Countries you will Visit</label>
		    								<multiselect ng-model="proposalInput.policy.selectedCountries" options="insurerMaster.Country" id-prop="id" display-prop="value" classes-btn="'btn-primary btn-block'" ng-change= "checkPolicyError()" 
		    								show-search="true" placeholder="Choose countries to Visit " selection-limit="5" required></multiselect>
		   								</div>
		   							</div>
   									<div class = "clear"></div>
   							</div>
	   						<div class = "clear"></div>
	   					</div>
	   					<div class = "clear"></div>
	   				</div>
						<div class = "clear"></div>
						<div class="row">
							<div class="col-sm-12">
								<span ng-show="pageErrors.policyError" class="has-error" id="policyError" style="color:red">{{pageErrors.policyErrorText}}</span>
							</div>
						</div>
						<div class = "clear"></div>
	   			</div>
	   			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
	   		</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
	   			<div class="clearfix">
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="policyForm.$invalid || pageErrors.policyError" ng-click="nextSection('1')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
	   			</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>