<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="proposerForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Proposer</div>
	   		<div class = "clear"></div>
    		<div class="body">
    			<div class="main-section">
    				<div class="proposer-process">
    					<div class="define">
    						<img ng-src="./image/info.png">
    						<span>The person who is paying for the policy</span>
    					</div>
    					<div class="row mnone">
    						<div class="col-sm-11" style="margin-bottom:10px;">
    							
    							<div class="col-sm-4 ">
									<div class="form-group required">
										<label class="control-label">Title</label>
										<div class="col-sm-12 padd0" ng-if="proposalInput.proposer.gender=='M'"  >
											<select class="form-control" ng-model="proposalInput.proposer.title" ng-disabled = "isProposerInsured" required>
												<option value="">Select</option>
						    					<option value="DR">Dr</option>
						    					<option value="MASTER">Master</option>
						    					<option value="MR">Mr</option>
						    					<option value="MRS">Mrs</option>
											</select>
										</div>
										<div class="col-sm-12 padd0" ng-if="proposalInput.proposer.gender=='F'"  >
											<select class="form-control" ng-model="proposalInput.proposer.title" ng-disabled = "isProposerInsured"  required>
												<option value="">Select</option>
						    					<option value="DR">Dr</option>
						    					<option value="MS">Ms</option>
						    					<option value="MISS">Miss</option>
						    					<option value="BABY">Baby Girl</option>
						    					
											</select>
										</div>
									</div>
								</div>
    							
    							<div class="col-sm-4 ">
    								<div class="form-group required" ng-class="{'has-error':proposerForm.firstName.$invalid && ! proposerForm.firstName.$pristine}">
    								<label class="control-label">First Name </label>
    								<input type="text" name="firstName" ng-model="proposalInput.proposer.firstName" minlength="3" maxlength="40" ng-minlength="1" ng-maxlength="40"  ng-pattern="/^[a-zA-Z ]*$/" class="form-control" ng-disabled = "isProposerInsured" required  >
				    				</div>
				    			</div>
    							
    							<div class="col-sm-4 ">
    								<div class="form-group " ng-class="{'has-error':proposerForm.middleName.$invalid && ! proposerForm.middleName.$pristine}">
    								<label class="control-label">Middle Name</label>
    								<input type="text" name="middleName" class="form-control field" ng-model="proposalInput.proposer.middleName"  ng-disabled = "isProposerInsured">
    								</div>
    							</div>
    							
    							
    							<div class=" clear"  ></div>
    							<!-- <div class=" clear" ng-if="proposalInput.proposer.isPrimaryInsured=='Y'" ></div> -->
    							<div class="col-sm-4 ">
    								<div class="form-group required" ng-class="{'has-error':proposerForm.lastName.$invalid && ! proposerForm.lastName.$pristine}">
    								<label class="control-label">Last Name </label>
    								<input type="text" name="lastName" ng-model="proposalInput.proposer.lastName" class="form-control" minlength="3" maxlength="40" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/"  ng-disabled = "isProposerInsured" required>
				    				</div>
    							</div>
    							
    							<div class="col-sm-4 ">
    								<div class="form-group required">
    								<label class="control-label">Date of Birth</label>
    								<div class="input-group">
										 <input type="text" class="form-control" name="proposerdob" uib-datepicker-popup="{{format}}" datepicker-options="adultDobOptions"
							              ng-model="proposalInput.proposer.proposerDob" ng-required="true" is-open="opened.proposerDob[0]"  readonly close-text="Close" alt-input-formats="altInputFormats" />
							              <span class="input-group-btn">
							                <button type="button" class="btn btn-primary" ng-click="open('proposerDob',0)"><i class="glyphicon glyphicon-calendar"></i></button>
							              </span>
									</div>
									</div>
    							</div>
    							
    							<div class="col-sm-4 ">
    								<div class="form-group required">
	    								<label class="control-label">Gender</label>
	    								<div class="clear"></div>
	    								<div class="btn-group">
						    				<label  class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='M'}"  ng-model="proposalInput.proposer.gender" ng-disabled="proposalInput.proposer.isPrimaryInsured=='Y'"  uib-btn-radio="'M'" required>Male</label>
						    				<label  class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='F'}"  ng-model="proposalInput.proposer.gender" ng-disabled="proposalInput.proposer.isPrimaryInsured=='Y'"  uib-btn-radio="'F'" required>Female</label>
						    				
						    			</div>
						    		</div>
    							</div>
    							<div class=" clear" ></div>
    							
	    						<div class="col-sm-4">
		    						<div class="form-group required" ng-class="{'has-error':proposerForm.proEmail.$invalid && ! proposerForm.proEmail.$pristine}">
		    							<label class="control-label">Email</label>
		    							<input type="text" class="form-control field" name="proEmail" ng-model="proposalInput.proposer.email" ng-pattern="/^([a-zA-Z0-9_\-\.]+)(?<!\.)@([a-zA-Z0-9_\-\.]+)(?<!\.)\.([a-zA-Z]{2,5})$/"  required>
		    						</div>
	    						</div>
	    						<div class="col-sm-4">
		    						<div class="form-group required" ng-class="{'has-error':proposerForm.proMobile.$invalid && ! proposerForm.proMobile.$pristine}">
		    							<label class="control-label">Mobile</label>
		    							<input type="text" name="proMobile" class="form-control field" ng-model="proposalInput.proposer.mobile"  ng-maxlength="10" ng-minlength="10" maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/" required>
		    						</div>
	    						</div>
	    						
	    						<div class="col-sm-4">
		    						<div class="col-sm-4">
		    							<label class="control-label">Landline</label>
		    							<input type="text" class="form-control field" name="code" ng-minlength="3" ng-maxlength="5" maxlength="5"   ng-model="proposalInput.proposer.stdCode" ng-pattern="/^[0-9]{2,5}$/" >
		    							<span class="small">e.g. "022"</span>
		    						</div>
		    						<div class="col-sm-8">
		    						 	<label class="control-label" style="margin-top:30px;"></label>
		    							<input type="text" class="form-control field" name="phone" ng-model="proposalInput.proposer.landLine" ng-minlength="8" ng-maxlength="8" maxlength="8" ng-pattern="/^[0-9]{8}$/"  >
		    							<span class="small">enter your number</span>
		    							
		    						</div>
	    						</div>
    							<div class = "clear"></div>
    							
	    						<div class="col-sm-4">
		    						<div class="form-group" ng-class="{'has-error':proposerForm.physicianName.$invalid && ! proposerForm.physicianName.$pristine}">
		    							<label class="control-label">Physician Name</label>
		    							<input type="text" class="form-control field" name="physician" ng-model="proposalInput.proposer.physicianName">
		    						</div>
	    						</div>
	    						<div class="col-sm-4">
		    						<div class="form-group" ng-class="{'has-error':proposerForm.phynumber.$invalid && ! proposerForm.phynumber.$pristine}">
		    							<label class="control-label">Physician Contact Number</label>
		    							<input type="text" name="phynumber" class="form-control field" ng-model="proposalInput.proposer.physicianContactNumber"  ng-pattern="/^[7-9][0-9]{9}$/">
		    						</div>
	    						</div>
    					</div>
    				</div>
    			</div>
    			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
    		</div>
	   		</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(1)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="proposerForm.$invalid" ng-click="nextSection('3')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   			
	   	</div>
   	</form>
 </div>