<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Declaration/ Terms and Conditions</h4>
</div>
<form class="form-horizontal form_horizontal" name="tc">
	<div class="modal-body">
	<ol>
		<li>I hereby Confirm that I/the person/s proposed Hold a valid Indian Passport which is non emigrant category and my travel doesn't include visit to any United Nation's sanctioned Countries. </li>
		<li>I understand that the information provided by me will form the basis of the insurance policy, is subject to the Board approved underwriting policy of the insurance company and that the policy will come into force only after full receipt of the premium chargeable.</li>
	


		<li>I/We further declare, on my behalf and on behalf of each of the persons proposed to be insured that there is all information which is relevant to this proposal that has been disclosed and not withheld from the Company. I further declare and agree that this declaration and the answers given above shall be held to be promissory and shall be the basis of the contract between me/us and the Company.
</li><li>I / We hereby declare, on my behalf and on behalf of all persons proposed to be insured, that the above statements, answers and / or particulars given by me are true and complete in all respects to the best of my knowledge and that I / We am / are authorized to propose on behalf of these other persons.
	
</li>		
	
</ol>
		

	</div>
	<!-- </div> -->
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">I DisAgree</button>
	<button class="btn btn-primary btn_default" ng-disabled="lsDetails.$invalid"   ng-click="ok()"> I Agree</button>
</div>