<div class="managementTeam">

	<div class="layout-management" ng-repeat="manageMentTeams in manageMentTeam">
		<div class="container">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<img ng-src="./image/managementTeam/{{manageMentTeams.profilePic}}.jpg" class="img-responsive">
				</div>
				<div class="col-sm-9">
					<p><strong>{{manageMentTeams.name}}</strong> | {{manageMentTeams.designation}} </p>
					<p>{{manageMentTeams.about}}</p>
				</div>
			</div>
		</div>
	</div>
</div>