<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="vehicleform" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Vehicle</div>
	   		<div class = "clear"></div>
   				<div class="body">
   					<div class="main-section">
   						<div class="proposer-process">
	    					<div class="define">
	    						<img ng-src="./image/info.png">
	    						<span>Tell us about the vehicle you want to Insure</span>
	    					</div>
	    					<div class="row mone">
		    					<div class="col-sm-10">
	    							<div class="col-sm-6">
	    								<div class="form-group required">
		    								<label class="control-label">Has Vehicle Registration changed in Last 12 months?</label>
		    								<div class="clear"></div>
		    								<div class="btn-group">
		    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.isOwnershipChanged" ng-class="{'active':proposalInput.vehicle.isOwnershipChanged=='Y'}"  ng-click = "checkOwnershipError('Y')" uib-btn-radio="'Y'" required>Yes</label>
		    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.isOwnershipChanged" ng-class="{'active':proposalInput.vehicle.isOwnershipChanged=='N'}"  ng-click = "checkOwnershipError('N')" uib-btn-radio="'N'" required>No</label>
		    								</div>
	    								</div>
	    							</div>
	    							<div class="clear"></div>
	    							
	    							<div class="col-sm-4">
		    							<div class="form-group required">
		    								<label class="control-label">RTO</label>
		    								<input type="text" name="rto" class="form-control" ng-model="proposalInput.vehicle.rto" readonly required>
		    							</div>
	    							</div>
	    							
	    							<div class="col-sm-4">
	    								<div class="form-group required" ng-class="{'has-error':vehicleform.regNumber.$invalid && ! vehicleform.regNumber.$pristine}">
		    								<label class="control-label">Vehicle Regno</label>
		    								<input type="text" class="form-control" ng-if="proposalInput.policy.typeOfBusiness=='New Business'" name="regNumber" ng-model="proposalInput.vehicle.vehicleRegno" 
		    								placeholder="XX-99(C)-XX-9999" ng-pattern="/^[A-Za-z]{2}(-)[0-9]{2}[C]?(-)[A-Z]{1,3}(-)[0-9]{4}$/"  >
		    								<input type="text" class="form-control" ng-if="proposalInput.policy.typeOfBusiness=='Rollover'" name="regNumber" ng-model="proposalInput.vehicle.vehicleRegno" 
		    								placeholder="XX-99(C)-XX-9999" ng-pattern="/^[A-Za-z]{2}(-)[0-9]{2}[C]?(-)[A-Z]{1,3}(-)[0-9]{4}$/"  required>
	    								</div>
	    							</div>
	    							
		    						<div class="col-sm-4">
		    							<div class="form-group required">
		    								<label class="control-label">Vehicle Registration Date</label>
		    								<input type="text" class="form-control" name="vehicleOfReg"   ng-model="proposalInput.vehicle.vehicleRegistrationDate"   readonly    />
		    							</div>	
	    							</div>
	    							
	    							<div class="col-sm-4">
		    							<div class="form-group required">
		    								<label class="control-label">Year of Manufacture</label>
		    								<input type="text" class="form-control" name="vehicleOfReg"   ng-model="proposalInput.vehicle.yom"   readonly    />
		    							</div>	
	    							</div> 
	    							
	    							<div class="col-sm-4 ">
	    								<div class="form-group required">
	    									<label class="control-label">Month of Manufacture </label>
	    									<select class="form-control field" ng-model="proposalInput.vehicle.mom" required>
	    										<option value=""></option>
	    										<option value="{{item.id}}" ng-repeat="item in Months">{{item.value}}</option>
	    									</select>
	    								</div>
	   								</div> 
	    							<div class="col-sm-4">
		    							<div class="form-group required"  ng-class="{'has-error':vehicleform.engineNo.$invalid && ! vehicleform.engineNo.$pristine}">
		    								<label class="control-label">Engine No</label>
		    								<input type="text" placeholder = "6-20 Characters" name="engineNo" class="form-control field" ng-pattern="/^[a-zA-Z0-9]{6,20}$/" ng-model="proposalInput.vehicle.engineNo" required>
		    							</div>
	    							</div>
	    							
	    							<div class="col-sm-4">
		    							<div class="form-group required"  ng-class="{'has-error':vehicleform.chassisNo.$invalid && ! vehicleform.chassisNo.$pristine}">
		    								<label class="control-label">Chassis  No</label>
		    								<input type="text" placeholder = "6-20 Characters" name="chassisNo" class="form-control field" ng-pattern="/^[a-zA-Z0-9]{6,20}$/"  ng-model="proposalInput.vehicle.chassisNo" required>
		    							</div>
	    							</div>
	    							
	    							<div class="col-sm-4">
	    								<div class="form-group" ng-class="{'has-error':vehicleform.electricalAcc.$invalid && ! vehicleform.electricalAcc.$pristine}">
	    									<label class="control-label"> Electrical accesories Value</label>
	    									<input type="text" name="electricalAcc" class="form-control" ng-pattern="/^[0-9]{1,5}$/" ng-model="proposalInput.vehicle.electricalAcc" >
	    								</div>
	    							</div>
	    							<div class="col-sm-4">
	    								<div class="form-group" ng-class="{'has-error':vehicleform.nonelectricalAcc.$invalid && ! vehicleform.nonelectricalAcc.$pristine}">
	    									<label class="control-label"> Non-electrical accessories Value</label>
	    									<input type="text" name="nonelectricalAcc" class="form-control" ng-pattern="/^[0-9]{1,5}$/" ng-model="proposalInput.vehicle.nonElectricalAcc" >
	    								</div>
	    							</div>
	    							
	    							<div class="col-sm-4">
		    							<div class="form-group required">
		    							<label class="control-label">Annual Mileage</label>
		    							<div class="clear"></div>
		    							<input type="text" class="form-control" ng-maxlength="5" ng-minlength="0" ng-maxvalue="50000" ng-model="proposalInput.vehicle.annualMilleage" name="annualMilleage" ng-pattern="/^[0-9]{1,5}$/" ng-change="checkAnualMilage(vehicleform,proposalInput.vehicle.annualMilleage)"  required>
		    							<span class="has-error" ng-show="vehicleform.annualMilleage.$error.pattern && vehicleform.annualMilleage.$dirty" > Only Number & Max 50000</span>
		    							<span class="has-error">{{premiumMilageError}}</span>
		    							</div>
	    							</div>
	    							
	    							<div class="col-sm-4 ">
	    								<div class="form-group">
	    									<label class="control-label">Voluntary Deductible </label>
	    									<select class="form-control field" ng-model="proposalInput.vehicle.volDeductible">
	    										<option value="0"></option>
	    										<option value="2500">2500</option>
	    										<option value="5000">5000</option>
	    										<option value="7500">7500</option>
	    										<option value="15000">15000</option>
	    									</select>
	    								</div>
	   								</div> 
	    							
		    						<div class="col-sm-4">
	    								<div class="form-group required">
	    								<label class="control-label">Anti Theft</label>
	    								<div class="clear"></div>
	    								<div class="btn-group">
	    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.antiTheft" ng-class="{'active':proposalInput.vehicle.antiTheft=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
	    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.antiTheft" ng-class="{'active':proposalInput.vehicle.antiTheft=='N'}"  uib-btn-radio="'N'" required>No</label>
	    								</div>
	    								</div>
	    							</div>
	    							<div class= "clear"></div>
	    							
	    							<div ng-hide = "proposalInput.vehicle.biKitType=='I'">
		    							<div class="col-sm-4" >
		    								<div class="form-group required">
		    									<label class="control-label">Is Bi Fuel Kit Present?</label>
		    									<div class="clear"></div>
			    								<div class="btn-group">
			    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.lpgcngKit" ng-class="{'active':proposalInput.vehicle.lpgcngKit=='Y'}" uib-btn-radio="'Y'" ng-change = "kitType()" required>Yes</label>
			    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.lpgcngKit" ng-class="{'active':proposalInput.vehicle.lpgcngKit=='N'}" uib-btn-radio="'N'" ng-change = "kitType()" required>No</label>
			    								</div>
		    								</div>
		    							</div>
										
										<div class="col-sm-4" ng-if = "proposalInput.vehicle.lpgcngKit=='Y' && proposalInput.vehicle.biKitType=='E'">
											<div class="form-group required" ng-class="{'has-error':vehicleForm.kitvalue.$invalid && ! vehicleForm.kitvalue.$pristine}">
											<label class="control-label">Bi Fuel Kit Value</label>
						   							<input type="number" class="form-control" ng-maxvalue="500" ng-maxvalue="1000000" ng-model="proposalInput.vehicle.biKitValue" name="kitvalue" required>
											</div>
										</div>
										
										<div class="col-sm-4" ng-if = "proposalInput.vehicle.lpgcngKit=='Y' && proposalInput.vehicle.biKitType=='E'">
											<div class="form-group required">
		    									<label class="control-label">Bi Fuel Type?</label>
		    									<div class="clear"></div>
			    								<div class="btn-group">
			    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.biKitFuel" ng-class="{'active':proposalInput.vehicle.biKitType=='LPG'}"  uib-btn-radio="'LPG'" required>LPG</label>
			    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.biKitFuel" ng-class="{'active':proposalInput.vehicle.biKitType=='CNG'}"  uib-btn-radio="'CNG'" required>CNG</label>
			    								</div>
		    								</div>
										</div>
	 		   						</div>
 		   							<div class= "clear"></div>
		   							<div class="col-sm-6">
		   								<div class="form-group required">
		   								<label class="control-label">Is there is a loan on the vehicle?</label>
		   								<div class="clear"></div>
		   								<div class="btn-group">
		   									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.hasLoan" ng-class="{'active':proposalInput.vehicle.hasLoan=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
		   									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.hasLoan" ng-class="{'active':proposalInput.vehicle.hasLoan=='N'}"  uib-btn-radio="'N'" required>No</label>
		   								</div>
		   								</div>
		   							</div>
		   							<div class= "clear"></div>
		   							
		   							<div ng-if="proposalInput.vehicle.hasLoan=='Y'">
			   							<div class="col-sm-4">
			    							<div class="form-group required">
				    							<label class="control-label">Type of Finance</label>
				    							<div class="clear"></div>
			    								<select class="form-control field" ng-model="proposalInput.vehicle.loanType" required>
			    									<option value="{{item.id}}" ng-repeat="item in insurerMaster.LoanType">{{item.value}}</option>
			    								</select>
			    							</div>
			   							</div>
		    							<div class="col-sm-4">
			    							<div class="form-group">
				    							<label class="control-label">Loan Value</label>
				    							<div class="clear"></div>
				    							<input type="text" class="form-control" ng-maxlength="9" ng-minlength="5" ng-maxvalue="10000000" ng-model="proposalInput.vehicle.loanValue" name="loanvalue" ng-pattern="/^[0-9]{5,9}$/">
			    							</div>
		    							</div>
		    										
		    							<div class="col-sm-4">
			    							<div class="form-group required" ng-class="{'has-error':vehicleform.bankname.$invalid && ! vehicleform.bankname.$pristine}">
			    								<label class="control-label">Bank Name</label>
			    								<input type="text" name="bankname" class="form-control field" ng-maxlength="20" ng-minlength="6" ng-model="proposalInput.vehicle.bankName" required>
			    							</div>
		    							</div>
		    										
		    							<div class="col-sm-4">
			    							<div class="form-group required"  ng-class="{'has-error':vehicleform.bankcity.$invalid && ! vehicleform.bankcity.$pristine}">
			    								<label class="control-label">Bank City</label>
			    								<input type="text" name="bankcity" class="form-control field" ng-maxlength="20" ng-minlength="3" ng-model="proposalInput.vehicle.bankCity" required>
			    							</div>
		    							</div>
		    										
		    							<div class="col-sm-4">
			    							<div class="form-group required"    ng-class="{'has-error':vehicleform.branch.$invalid && ! vehicleform.branch.$pristine}">
			    								<label class="control-label">Branch Address</label>
			    								<textarea name="branch" class="form-control field" rows="3" cols="25" ng-model="proposalInput.vehicle.branchAddress" required></textarea>
			    							</div>
		    							</div>	
		    							<div class= "clear"></div>					    							
		   							</div>
		   							<div class= "clear"></div>   							
    							
   								</div>
   								<div class= "clear"></div>	
									
	   							<div class="row">
	   								<div class="col-sm-12">
	  										<span ng-show="vehicleError" class="has-error" id="vehicleError" style="color:red">{{vehicleErrorText}}</span>
	  									</div>
	   							</div>
	   							<div class = "clear"></div>	
   							</div>
   							<div class= "clear"></div>
   						</div>
   					</div>
   					<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
   				</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
				<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
                             			<img ng-src="./image/arrow-left.png">&nbsp;Back
                         		</button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="vehicleform.$invalid || vehicleError" ng-click="nextSection('2')">Continue <img ng-src="./image/arrow-right.png"> </button>
    				</div>
				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>