<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="insuredForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Insured Members</div>
	   		<div class = "clear"></div>
   				<div class="body">
   					<div class="main-section">
   						<div class="proposer-process">
	    					<div class="define">
	    						<img ng-src="./image/info.png">
	    						<span>Who do you want to Insure?</span>
	    					</div>
	    					<div class="clear"></div>
   							<div ng-form="memberForm" class="row mnone insured_mnone" ng-repeat="insured in proposalInput.insured">
   								<div class="col-sm-2">Insured Person's Details for <span ng-if="insured.type=='A'">Adult</span><span ng-if="insured.type=='C'">Child</span> DOB: {{insured.dob |date:'yyyy-MM-dd'}}</div>
   								<div class="col-sm-10" style="margin-bottom:10px;">
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Title</label>
    										<div class="col-sm-12 padd0" ng-if="insured.gender=='M' && insured.type=='A'"  >
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="DR">Dr</option>
							    					<option value="MR">Mr</option>
												</select>
											</div>
    										<div class="col-sm-12 padd0" ng-if="insured.gender=='M' && insured.type=='C'"  >
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="MASTER">Master</option>
							    					<option value="MR">Mr</option>
												</select>
											</div>
																					
											<div class="col-sm-12 padd0" ng-if="insured.gender=='F' && insured.type=='A'"  >
												
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="DR">Dr</option>
							    					<option value="MS">Ms</option>
							    					<option value="MISS">Miss</option>
							    					
												</select>
											</div>
																					
											<div class="col-sm-12 padd0" ng-if="insured.gender=='F' && insured.type=='C'"  >
												
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="MS">Ms</option>
							    					<option value="MISS">Miss</option>
							    					
												</select>
											</div>
										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.firstName.$invalid && ! memberForm.firstName.$pristine}">
    										<label class="control-label required">First Name</label>
    										<input type="text" class="form-control" name="firstName" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.firstName" required>
   										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group" ng-class="{'has-error':memberForm.middleName.$invalid && ! memberForm.middleName.$pristine}">
   											<label class="control-label required">Middle Name</label>
   											<input type="text" class="form-control" name="middleName"  ng-pattern="/^[a-zA-Z ]*$/"  ng-model="insured.middleName">
   										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.lastName.$invalid && ! memberForm.lastName.$pristine}">
    										<label class="control-label">Last Name</label>
    										<input type="text" class="form-control" name="lastName"  ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/"  ng-model="insured.lastName" required>
   										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.insdob.$invalid && ! memberForm.insdob.$pristine}">
    										<label class="control-label"> Date of Birth</label>
    										<input type="text" class="form-control" name="insdob" ng-model="insured.dob" readonly>
   										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Gender</label>
    										<div class = "clear"></div>
    										<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='M'}"  uib-btn-radio="'M'" required>Male</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='F'}"  uib-btn-radio="'F'" required>Female</label>
											</div>
										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Relationship with Insured</label>
    										<div>
    											<select class=" form-control" name="relaInsured" ng-model="insured.relationshipId"  ng-change = "checkInsuredError()" required>
													<option value="">Select</option>
													<option value="{{item.id}}"  ng-repeat="item in insurerMaster.Relationship| filter:{'gender': insured.gender, 'type': insured.type}">{{item.value}}</option>
												</select>
											</div>
										</div>
   									</div>
    									
		 							<div class="col-sm-4">
		 								<div class="form-group required" ng-class="{'has-error':memberForm.pan.$invalid && ! memberForm.pan.$pristine}">
		 								<label class="control-label" >Passport Number</label>
		 								<input type="text" name="pan" class="form-control" ng-model="insured.passportNumber" ng-pattern="/^([A-Z][0-9]{7,8})$/" required>
		 								</div>
		 							</div>
 							
		 							<div class="col-sm-4">
			  							<div class="form-group required">
			  								<label class="control-label">Passport Expiry Date</label>
												<span class="input-group">
										 			<input type="text" class="form-control" name="passportExpixy" is-open="opened.expiryDate[$index]" uib-datepicker-popup="{{}}" ng-model="insured.passportExpiryDate"  datepicker-options="expiryDateOptions" ng-required="true" close-text="Close"  alt-input-formats="altInputFormats" readonly required/>
										 			<span class="input-group-btn">
									            		<button type="button" class="btn btn-primary btn_prim " ng-click="open('expiryDate',$index)"><i class="glyphicon glyphicon-calendar"></i></button>
									          		</span>
										 		</span>
										</div>
									</div>  									
								<div class="clear"></div>
								<div class="col-sm-6">
	 								<div class="form-group required">
	  									<label class="control-label">Do you suffer from any Pre-Existing Conditions?</label>
	  									<div class = "clear"></div>
	  									<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary btn_prim" ng-model="insured.isPED" ng-class="{'active':insured.isPED=='Y'}"  
											 uib-btn-radio="'Y'" required>Yes</label>
											<label class="btn btn-primary btn_prim" ng-model="insured.isPED" ng-class="{'active':insured.isPED=='N'}"  
											uib-btn-radio="'N'" required>No</label>
										</div>
									</div>
   								</div>
   									
	   							<div ng-if="insured.isPED=='Y'" class="col-sm-6">
	   							   <div class="form-group required" ng-class="{'has-error':memberForm.illness.$invalid && ! memberForm.illness.$pristine}">
	    								<label class="control-label">Pl specify illness(Choose All Applicable)</label>
	    								<multiselect ng-model="insured.ped" options="pedList" id-prop="id" display-prop="name" classes-btn="'btn-primary btn-block'" ng-change= "checkInsuredError()" 
	    								show-search="true" placeholder="Choose applicable illness" required></multiselect>
	   								</div>
	   							</div>
		   						<div class="clear"></div>   									
		   							<div class="col-sm-4">
		   							   <div class="form-group required" ng-class="{'has-error':memberForm.nomineeName.$invalid && ! memberForm.nomineeName.$pristine}">
		    								<label class="control-label">Nominee Name</label>
		    								<input type="text" name="nomineeName" class="form-control field" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.nomineeName" required>
		   								</div>
		   							</div>
		   							
		   							<div class="col-sm-4">
		    							 <div class="form-group required">
		    								<label class="control-label">Nominee Relationship with Insured</label>
		    								<select class="form-control field" ng-model="insured.nomineeRelationship" required>
		    									<option value="{{item.id}}" ng-repeat="item in insurerMaster.NomineeRel">{{item.value}}</option>
		    								</select>
		    							</div>	
		   							</div>
	  							
		 							<div class="col-sm-4">
			  							<div class="form-group required">
			  								<label class="control-label">Nominee DOB</label>
												<span class="input-group">
										 			<input type="text" class="form-control" name="nomineeDob" is-open="opened.nomineeDob[$index]" uib-datepicker-popup="{{}}" ng-model="insured.nomineeDob"  datepicker-options="nomineeDobOptions" ng-required="true" close-text="Close" ng-change="calculateAge(insured.nomineeDob)" readonly alt-input-formats="altInputFormats" required/>
										 			<span class="input-group-btn">
									            		<button type="button" class="btn btn-primary btn_prim " ng-click="open('nomineeDob',$index)"><i class="glyphicon glyphicon-calendar"></i></button>
									          		</span>
										 		</span>
										</div>
									</div>						
   									
   								</div>
   								<div class="clear"></div>
   							</div>
   							<div class="clear"></div>
   							<div class="row">
   								<div class="col-sm-12">
  										<span ng-show="pageErrors.insuredError" class="has-error" id="insuredError" style="color:red">{{pageErrors.insuredErrorText}}</span>
  										<span class="has-error" id="insuredError" style="color:red">{{InsuredGenderError}}</span>
  									</div>
   							</div>
   							<div class="clear"></div>
   						</div>
   					</div>
   				</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
   					<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="insuredForm.$invalid || pageErrors.insuredError" ng-click="nextSection('2')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>