<div class="margin-top-30" data-ng-controller="travelCtrl">
    <div class="col-md-6 ">
        <h4 class="green">COMPARE TRAVEL INSURANCE POLICIES</h4>
    </div>
    <div class="col-md-6 ">
        <div class="right">
            <div class="blue step left">STEP</div>
            <div class="number left">1</div>
            <div class="grey step left">OF</div>
            <div class="number left">3</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="banner-c col-md-12 col-sm-12 col-xs-12 ">
        <form id="travel-buy-form" name="travelform" novalidate ng-submit="travelform.$valid && travelSubmit(travelform)">
            <div ng-if="loading" class="col-xs-8 col-sm-8 col-md-9">
	             <div style="padding: 5em">
	                 <uib-progressbar class="progress-striped active" value='value' type='info'>Contacting Insurers for Best Quotes for you</uib-progressbar>
	             </div>
	        </div>
	        <div ng-if="!loading" class="col-xs-12 col-sm-12 col-md-12">
	            <div class="col-md-12 col-sm-12 col-xs-12 ">
	                <div class="col-sm-6 col-xs-12 ">
	                    <div class="form-group required">
	                        <label class="control-label">Purpose of Travel</label>
	                        <div class="clear"></div>
	                        <div id="radio6" class="btn-group purposeTravel">
	                            <label class="btn btn-primary btn_prim" ng-class="{'active':travelInput.productType =='LTS'}" ng-change="productType()" ng-model="travelInput.productType" uib-btn-radio="'LTS'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Leisure Travel Single Trip</label>
	                            <label class="btn btn-primary btn_prim" ng-class="{'active':travelInput.productType =='AMT'}" ng-change="productType()" ng-model="travelInput.productType" uib-btn-radio="'AMT'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Annual Multi Trip</label>
	
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-6 col-xs-12 ">
	                    <div class="form-group required">
	                        <label class="control-label">Type of Cover</label>
	                        <div class="clear"></div>
	                        <div id="radio5" class="input-group">
	                            <label class="btn btn-primary btn_prim" ng-class="{'active': travelInput.saType =='FF'}" ng-model="travelInput.saType" uib-btn-radio="'FF'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Family Floater</label>
	                            <label class="btn btn-primary btn_prim" ng-class="{'active': travelInput.saType =='INDV'}" ng-model="travelInput.saType" uib-btn-radio="'INDV'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Individual</label>
	
	                        </div>
	                    </div>
	                </div>
	
	            </div>
	            <div class="clear"></div>
	
	            <div class="col-md-8 col-sm-8 col-xs-7  cloneIndex" ng-repeat="members in travelInput.member track by $index">
	                <div class="form-group required">
	                    <div class="col-md-4 col-sm-4 col-xs-12 ">
	
	                        <label class="control-label">Member DOB</label>
	
	                        <span class="input-group">
					           <input type="text" class="form-control dobinput" name="adultchild" id="{{adultSelect}}" 
					           uib-datepicker-popup="{{format}}" ng-model="travelInput.member[$index].dob" is-open="opened[$index]" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" min-date="minAge" required="required"  readonly="readonly"/>
					           <span class="input-group-btn calendInp">
					             <button type="button" class="btn btn-primary btn_prim" ng-click="open($event,$index)"><i class="glyphicon glyphicon-calendar"></i></button>
					           </span>
	                        </span>
	                    </div>
	                </div>
	                <div class="form-group required">
	                    <div class="col-md-4 col-sm-4 col-xs-12 plm lft10-padd">
	
	                        <label for="travel-single-gender0" class="control-label">Gender</label>
	                        <select name="travel-single-gender0" id="travel-single-gender0" class="form-control genderCls" ng-model="travelInput.member[$index].gender" required>
	                            <option value="">Select</option>
	                            <option value="M">Male</option>
	                            <option value="F">Female</option>
	                        </select>
	
	                    </div>
	                </div>
	                
	                <div class="form-group required">
	                    <div class="col-md-4 col-sm-4 col-xs-12 plm lft10-padd">
	                        <label for="travel-single-relation0" class="control-label">Adult/Child</label>
	                        <select name="travel-single-relation0" id="travel-single-relation0" class="form-control form-AdultChild travelAdult" ng-model="travelInput.member[$index].adultChild" required>
	                            <option value="">Select</option>
	                            <option value="Adult">Adult</option>
	                            <option value="Child">Child</option>
	                        </select>
	                    </div>
	                </div>
	                
	                <div class="clear"></div>
	            </div>
	            <div class="col-sm-4 col-md-4 col-xs-5 travelMem healthAddMem">
	                <div class="form-group" >
	                    <p class="add-member" ng-show="travelInput.member.length<6" style="text-align:left;padding-bottom:5px">Add Member</p>
	                    <div class="clear"></div>
	                    <button class="add btn_prim" ng-show="travelInput.member.length<6" ng-click="addMember()">+</button>
	                    <button class="reset btn_prim" ng-show="travelInput.member.length>1" ng-click="reset()">reset</button>
	                </div>
	            </div>
	            <div class="clear"></div>
	
	            <div class="col-sm-8 col-xs-8 ">
	                <div class="col-md-4 col-sm-4 col-xs-12 scrollable-dropdown-menu">
	                    <div class="form-group required duraTravel">
	                        <label id="label_travel_duration" class="control-label" ng-if="travelInput.productType=='LTS'">Duration of Travel</label>
	                        <label id="label_travel_duration" class="control-label" ng-if="travelInput.productType !='LTS'">Number of Travel Days in a year</label>
	                        <select class="form-control form-duraTravel" ng-model="travelInput.durationOfTravel" required>
	                            <option value="{{travelDuration}}" ng-repeat="travelDuration in travelDuration">{{travelDuration}}</option>
	                        </select>
	
	                    </div>
	                </div>
	                <div class="col-md-4 col-sm-4 col-xs-12 sumpermem">
	                    <div class="form-group required areaTravel">
	                        <label class="control-label">Sum Insured Per Member(in USD)</label>
	                        <ui-select class="form-sumInsured" ng-model="travelInput.sumAssus" theme="bootstrap" required>
	                            <ui-select-match placeholder="">{{$select.selected.val}}</ui-select-match>
	                            <ui-select-choices repeat="sumAssus in sumAssu | filter: $select.search">
	                                <div ng-bind-html="sumAssus.val  | highlight: $select.search"></div>
	                                <small ng-bind-html="sumAssus.name  | highlight: $select.search"></small>
	                            </ui-select-choices>
	                        </ui-select>
	                    </div>
	                </div>
	            	<div class="clear"></div>
	            </div>
	
	            <div class="clear"></div>
	            
	   			<div class="col-sm-12 col-xs-12 ">						
					<div class="col-sm-4 col-md-4 col-lg-4">
					   <div class="form-group required" ng-class="{'has-error':travelform.selectedCountries.$invalid && ! travelform.selectedCountries.$pristine}">
							<label class="control-label">Please select Countries you will Visit</label>
							<multiselect name="selectedCountries" ng-model="travelInput.selectedCountries" options="countries" id-prop="countryCode" display-prop="countryName" show-search="true" classes-btn="'btn-primary btn-block'"  
							 placeholder="Choose countries to Visit " selection-limit="5" ng-change="countryChange()" required></multiselect>
						</div>
					</div>
					<div class="col-sm-8 col-md-8 col-lg-8">
	                    <div class="form-group">
	                        <label class="control-label">  </label>
	                        <div class = "clear"></div>
	                        <div>{{countryNames}}</div>
	                    </div>
					</div>
	   			
	   			</div>
	            
	            <div class="clear"></div>
	            <div class="col-md-3 col-sm-3 col-xs-12 ">
	                <button id="comparebutton" class="btn call-back btn-primary" ng-disabled="!idvValid">COMPARE POLICIES</button>
	            </div>
	            <div class="col-md-4 col-sm-4 col-xs-12 ">
	                <p class="err">{{errMessage}}</p>
	            </div>
	
	            <div class="clear"></div>	        
	        </div>
        </form>
        <div class="clear"></div>
    </div>
	<div class="clear"></div>
</div>