<div class="formSection hwdtails">
   	 <form class="form-horizontal" name="nomineeForm" autocomplete="off" novalidate>
   		<div class = "clear"></div>
   		<div class="form-panel">
  			<div class="heads">Nominee</div>
  			<div class="body">
  				<div class="main-section">
  					<div class="Nominee-process">
  						<div class="define">
    						<img ng-src="./image/info.png">
    						<span> In the event of the death of an Insured Person any payment due under the Policy shall become payable to the nominee as per the Policy terms and conditions. The nominee must be an immediate relative of the Proposer. Nominee for any of the persons proposed to be insured shall be the Proposer.</span>
   					</div>
   					<div class="row mnone">
   						<h3>Nominee</h3>
   						<div class="col-sm-10">
   						    <div class="col-sm-4 list-item-proposer" >
   								<div class="form-group required">
   									<label class="control-label">Title </label>
   									<div class="col-sm-12 padd0" >
					    				<select class="form-control" ng-model="proposalInput.proposer.nomineeTitle"  required  >
					    					<option value="">Select</option>
					    					<option value="DR">Dr</option>
					    					<option value="MR">Mr</option>
					    					<option value="MRS">Mrs</option>
					    					<option value="MS">Ms</option>
					    				</select>
					    			</div>
   								</div>
   							</div>
   							<div class="col-sm-4">
   							   <div class="form-group required" ng-class="{'has-error':nomineeForm.nomineefName.$invalid && ! nomineeForm.nomineefName.$pristine}">
    								<label class="control-label">First Name</label>
    								<input type="text" name="nomineefName" class="form-control field" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="proposalInput.proposer.nomineeFirstName" required>
   								</div>
   							</div>
   							<div class="col-sm-4">
   								 <div class="form-group required"  ng-class="{'has-error':nomineeForm.nomineelName.$invalid && ! nomineeForm.nomineelName.$pristine}">
    								<label class="control-label">Last Name</label>
    								<input type="text" name="nomineelName" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" class="form-control field" ng-model="proposalInput.proposer.nomineeLastName" required>
   								</div>
   							</div>
   							
   							<div class="col-sm-4">
   							 <div class="form-group required"  ng-class="{'has-error':nomineeForm.nomineeGender.$invalid && ! nomineeForm.nomineeGender.$pristine}">
   								<label class="control-label">Gender</label>
								<div class="clear"></div>
 								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary btn_prim" name="nomineeGender" ng-model="proposalInput.proposer.nomineeGender" uib-btn-radio="'M'" required>Male</label>
									<label class="btn btn-primary btn_prim" name="nomineeGender" ng-model="proposalInput.proposer.nomineeGender" uib-btn-radio="'F'" required>Female</label>
								</div>
								</div>
   							</div>
   							<div class="col-sm-4">
	   							<div class="form-group required" ng-class="{'has-error':nomineeForm.nomineeDob.$invalid && ! nomineeForm.nomineeDob.$pristine}">
	   								<label class="control-label">DOB</label>
	 										<span class="input-group">
									 	<input type="text" class="form-control" name="nomineeDob" is-open="opened.nomineeDob" uib-datepicker-popup="{{}}" ng-model="proposalInput.proposer.nomineeDob"  datepicker-options="nomineeDobOptions" ng-required="true" close-text="Close" ng-change="calculateAge(proposalInput.proposer.nomineeDob)" 
									 	alt-input-formats="altInputFormats" readonly required/>
									 	<span class="input-group-btn">
								            	<button type="button" class="btn btn-primary btn_prim " ng-click="open('nomineeDob')"><i class="glyphicon glyphicon-calendar"></i></button>
								          </span>
									 </span>
								</div>
   							</div>
   							<div class="col-sm-4">
    							 <div class="form-group required">
    								<label class="control-label">Relationship With Proposer</label>
    								<select class="form-control field" ng-model="proposalInput.proposer.nomineeRel" required>
    									<option value="{{relationship.id}}" ng-repeat="relationship in insurerMaster.Relationship | filter:{'gender': proposalInput.proposer.nomineeGender}" ng-if="relationship.value!='Self'">{{relationship.value}}</option>
    								</select>
    							</div>	
   							</div>
   							<div class="clear"></div>
   							<div ng-if="proposalInput.proposer.nomineeAge<18">
    							<div class="col-sm-4" >
    								<div class="form-group required">
    								<label class="control-label">Appointee  First Name </label>
    								<input type="text" class="form-control field" name="AppFName" ng-minlength="3" ng-maxlength="40" ng-model="proposalInput.proposer.appointeeName" required>
    								</div>
    							</div>
    							
    							<div class="col-sm-4">
    								<div class="form-group required">
    								<label class="control-label">Appointee Last Name </label>
    								<input type="text" class="form-control field" name="AppLName" ng-minlength="3" ng-maxlength="40" ng-model="proposalInput.proposer.appointeeLastName" required>
    								</div>
    							</div>
   								<div class="col-sm-4">
   									<div class="form-group required">
   									<label class="control-label">Appointee Relation </label>
    								<select class="form-control field" ng-model="proposalInput.proposer.appointeeRel" required>
    									<option value="{{relationship.id}}" ng-repeat="relationship in insurerMaster.NomineeRel">{{relationship.value}}</option>
    								</select>
    								</div>
   								</div>
  									<div class="col-sm-4">
    								<div class="form-group required">
	    								<label class="control-label">Appointee DOB</label>
   										<span class="input-group">
										 	<input type="text" class="form-control" name="appointeeDob" uib-datepicker-popup="{{}}" ng-model="proposalInput.proposer.appointeeDob"  is-open="opened.appointeeDob" datepicker-options="adultDobOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly required/>
										 	<span class="input-group-btn">
									            	<button type="button" class="btn btn-primary btn_prim " ng-click="open('appointeeDob')"><i class="glyphicon glyphicon-calendar"></i></button>
									          </span>
										 </span>
									</div>
  									</div>		    							
   							</div>
   						</div>
   						<div class="clear"></div>
	   					<div class="col-sm-10">
	   						<h4>Nominee Address</h4>
	   						<div class="col-sm-4">
		   						<div class="form-group required" ng-class="{'has-error':nomineeForm.nomAdd_one.$invalid && ! nomineeForm.nomAdd_one.$pristine}">
		   							<label class="control-label">Flat/House No, Street</label>
		   							<input type="text" name="nomAdd_one" class="form-control field" ng-model="proposalInput.proposer.nomineeAddressLine1"  required>
		   						</div>
	   						</div>
	   						<div class="col-sm-4">
		   						<div class="form-group required" ng-class="{'has-error':nomineeForm.nomAdd_two.$invalid && ! nomineeForm.nomAdd_two.$pristine}">
		   							<label class="control-label">Building/ Street</label>
		   							<input type="text" name="nomAdd_two" class="form-control field" ng-model="proposalInput.proposer.nomineeAddressLine2" ng-minlength="5" required>
		   						</div>
	   						</div>
	   						<div class="col-sm-4">
	   							<div class="form-group required"  ng-class="{'has-error':nomineeForm.nomAdd_three.$invalid && ! nomineeForm.nomAdd_three.$pristine}">
		   							<label class="control-label">Landmark</label>
		   							<input type="text" class="form-control field" name="nomAdd_three" ng-model="proposalInput.proposer.nomineeLandmark" ng-minlength  required>
		   							<span class="has-error" ng-show="contactInfo.contactAdd_three.$error.minlength && contactInfo.contactAdd_three.$dirty ">Minimum length is 5.</span>
	   							</div>
	  						</div>		   						
	  						<div class="col-sm-4">
								<div class="form-group required"   ng-class="{'has-error':nomineeForm.pincode.$invalid && ! nomineeForm.pincode.$pristine}">
									<label class="control-label">Pincode</label>
									<input type="text" name = "pincode" class="form-control field" ng-minlength="6" ng-maxlength="6" ng-model="proposalInput.proposer.nomineePincode"  ng-change = "getAreasFromPincode('N', proposalInput.proposer.nomineePincode)" required>
									<span class="has-error " ng-show="showError=='false'">Invalid Pin Code</span>
								</div>
							</div>
   						
	   						<div class="col-sm-4">
	   							<div class="form-group required"   ng-class="{'has-error':nomineeForm.nomArea.$invalid && ! nomineeForm.nomArea.$pristine}">
		   							<label class="control-label">Area/Locality</label>
		   							<select class="form-control" ng-options="item as item.areaName for item in areasNom track by item.areaId" 
		   							ng-model="nomArea" ng-change = "setCityState('N',nomArea)" required>
			   						</select>
	   							</div>
	   						</div>
	   							
							<div class="col-sm-4 ">
								<div class="form-group required"  ng-class="{'has-error':nomineeForm.nomcity.$invalid && ! nomineeForm.nomcity.$pristine}">
								<label class="control-label">City</label>
									<input type="text" name="nomcity" class="form-control field" ng-model="proposalInput.proposer.nomineeCity"  readonly required>
								</div>
							</div>
							
							<div class="col-sm-4" style="padding-left:0px;">
								<div class="form-group required" ng-class="{'has-error':nomineeForm.nomstate.$invalid && ! nomineeForm.nomstate.$pristine}">
									<label class="control-label">State</label>
									<input type="text" name = "nomstate" class="form-control field" ng-model="proposalInput.proposer.nomineeState"  readonly required>
								</div>
							</div>
	   					</div> 
   						<div class="clear"></div>
   					</div>
  					</div>
  				</div>
  				<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
  			</div>
  			<!-- ./body -->
  			<div class="foot">
    			<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(4)" style="/* display: none; */">
                             			<img ng-src="./image/arrow-left.png">&nbsp;Back
                         		</button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="nomineeForm.$invalid" ng-click="nextSection('6')">Continue <img ng-src="./image/arrow-right.png"></button>
    				</div>
    			</div>
   			</div>
  		</div>
  		<div class = "clear"></div>
  	</form>
</div>