<div class="container">	
	<div class="bg-slider">
		<div class="view-one" id="existingDivAction" style="display: block;">
			
			<div class="yellow-bg col-sm-12 padd0" id="">
				<form class="form-horizontal form_horizontal" name="application" novalidate autocomplete="off">
					<div class="form-group required">
						<div class="col-sm-12 padd0">
							<label class="control-label label-block">Do you want to continue a saved application</label>
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-primary" ng-class="{'active':application.saveApp=='Y'}">
									<input type="radio" name="saveApp" ng-model="application.saveApp" value="Y" ng-change="isSave()" required>Yes
								</label>
								<label class="btn btn-primary" ng-class="{'active':application.saveApp=='N'}">
									<input type="radio" name="saveApp" ng-model="application.saveApp" value="N" ng-change="isSave()" required>No
								</label>
							</div>
						</div>
					</div>
					<div class="form-group required" ng-if="application.saveApp=='Y'">
						<label class="control-label label-block">
						Enter Application Id
						</label>
						<div class="col-sm-8 col-xs-6">
							<input type="text" required ng-model="application.applicationId" name="txtTransId" id="txtTransId"   class="form-control" maxlength="12">
						</div>
						<div class="col-sm-4 col-xs-6">
							<button type="button" name="Continue" id="Continue" value="Continue"  class="submitBtn-small" ng-disabled="application.$invalid" ng-click="continue()">
								<div class="btn-icon-small continue-small"></div>
								<div class="btn-text">Continue</div>
							</button> 
						</div>
					</div>
					<!-- <div class="col-sm-12">
						
					</div> -->
				</form>
			</div>
		</div>
	</div>
</div>