<div class="complaints">
	<div class="container">
		<form class="form-horizontal"  name="complaints" novalidate>
			<div class="col-sm-6 col-md-push-3">
				<div class="panel-info">
					<div class="panel-body">
						<div class="form-group required">
							<label class="control-label">Name</label>
							<input type="text" class="form-control" name="cplName" ng-model="complaints.cplNames" required>
					    </div>
					    
					    <div class="form-group required">
					    	<label class="control-label">Email</label>
					    	<input type="text" class="form-control" name="cplEmail"  ng-model="complaints.cplEmails" required>
					    </div>
					    <div class="form-group required">
					    	<label class="control-label">Telephone/Mobile</label>
					    	<input type="text" class="form-control" name="cplMobile"  ng-model="complaints.cplMobiles" required>
					    </div>
					   
					    <div class="form-group required">
					    	<label class="control-label">Address</label>
					    	<input type="text" class="form-control" name="cplAddress" ng-model="complaints.cplAddresses" required>
					    </div>
					    <div class="form-group required">
					    	<label class="control-label">Proposal/Policy No</label>
					    	<input type="text" class="form-control" name="cplPolicyNo" ng-model="complaints.cplPolicyNos" required>
					    </div>
					    <div class="form-group required">
					    	<label class="control-label">Type of Insurance Policy</label>
					    	<input type="text" class="form-control" name="cplPolicyType" ng-model="complaints.cplPolicyTypes" required>
					    </div>
					    <div class="form-group required">
					    	<label class="control-label">Complaint</label>
					    	<textarea style="height:100px;" class="form-control" name="cplComplaint" ng-model="complaints.cplComplaints" required></textarea>
					    </div>
					    <div class="form-group required">
					    	<div class="col-sm-12" align="center">
					    		<button type="button" class="btn btn-sm btn-success">Submit</button>
					    	</div>
					    </div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>