<div class="margin-top-30" data-ng-controller="brokeredgeLifeCtrl">
	<div class="col-md-6 padd0">
		<h4 class="green">COMPARE LIFE INSURANCE POLICIES</h4>
	</div>
	<div class="col-md-6 padd0">
		<div class="right">
	      <div class="blue step left">STEP</div>
	      <div class="number left">1</div>
	      <div class="grey step left">OF</div>
	      <div class="number left">3</div>
	    </div>
	</div>
	<div class="clear"></div>
	<div class="banner-c">
		<form id="life-buy-form" class="form-horizontal" autocomplete="off" name="lifeForm" ng-submit="lifeSubmit()" novalidate>
			<div class="col-sm-10">
				<div class="col-sm-4">
					<div class="form-group">
						<div class="col-sm-12 required">
							<label class="control-label">Your Gender</label>
							<div class="clear"></div>
							<div class="btn-group">
								<label class="btn btn-primary btn_prim" ng-class="{'active': lifeInput.gender =='M'}" ng-model="lifeInput.gender" uib-btn-radio="'M'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Male</label>
								<label class="btn btn-primary btn_prim" ng-class="{'active': lifeInput.gender =='F'}" ng-model="lifeInput.gender" uib-btn-radio="'F'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Female</label>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<div class="col-sm-12">
							<label class="control-label">Date of Birth</label>
							<div class="clear"></div>
						 	<span class="input-group">
                              <input type="text" class="form-control" name="'lifeDob'" uib-datepicker-popup="{{format}}" ng-model="lifeInput.lifeDob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
					          <span class="input-group-btn">
					            	<button type="button" class="btn btn-primary btn_prim" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
					          </span>
                            </span>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<div class="col-sm-12 required">
							<label class="control-label">Sum Insured</label>
							<div class="clear"></div>
							<input type="number" class="form-control"  ng-min="5000000" ng-step="500000" ng-max="100000000" ng-model="lifeInput.sa" required>
						</div>
					</div>
				</div>
				<div class="clear" style="padding-bottom:30px;"></div>
				
				<div class="col-sm-4">
					<div class="form-group">
						<div class="col-sm-12 required">
							<label class="control-label">Policy Term</label>
							<input type="number" class="form-control"  ng-min="5" ng-max="40" ng-model="lifeInput.pt" required>
					</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="form-group">
						<div class="col-sm-12 required">
							<label class="control-label">Payment Term</label>
							<input type="number" name="pt" class="form-control"  ng-min="5" ng-max="40" ng-model="lifeInput.ppt" required>
						</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="form-group">
						<div class="col-sm-12 required">
							<label class="control-label">
								Do you smoke or consume tobacco?
							</label>
							<div class="btn-group lifeThreat">
								<label class="btn btn-primary btn_prim" ng-class="{'active': lifeInput.rating =='S'}" ng-model="lifeInput.rating" uib-btn-radio="'S'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Yes</label>
								<label class="btn btn-primary btn_prim" ng-class="{'active': lifeInput.rating =='NS'}" ng-model="lifeInput.rating" uib-btn-radio="'NS'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>No</label>
							</div>
						</div>
					</div>
				</div>
				
				<div class="clear" style="padding-bottom:30px;"></div>
				
				<div class="col-sm-4">
					<div class="form-group">
						<div class="col-sm-12 required">
							<label class="control-label">Pincode</label>
							<div class="clear"></div>
							<input type="text" class="form-control" ng-maxlength="6" ng-minlength="6" maxlength="6" ng-model="lifeInput.pincode" ng-keypress="filterValue($event)" required>
							
						</div>
					</div>
				</div>
				
				<div class="clear" style="padding-bottom:30px;"></div>
				<span class="has-error">{{error}}</span>
				<div class="col-md-3 padd0 ">
					<div class="col-sm-12" align="center">
						<button  class="btn btn-primary call-back btn-default" ng-disabled="!idvValid">COMPARE POLICIES</button>
					</div>
				</div>
				<div class="clear" style="padding-bottom:30px;"></div>
			</div>
		</form>
	</div>
</div>