@font-face {
  font-family: 'NegotiateFree';
  src: url('NegotiateFree.woff') format('woff'),
       url('NegotiateFree.ttf') format('truetype'),
       url('NegotiateFree.svg#NegotiateFree') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'negotiate free';
  src: url('negotiate free.eot');
  src: url('negotiate free.woff2') format('woff2'),
       url('negotiate free.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

