<div class="modal-header">
	<button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<!-- <h4 class="modal-title"><span class="green">Compare Policies For: </span>Private Car Motor Insurance for Ashok Leyland Stile LE 7 STR.</h4> -->
</div>
<div id="compareArea" class="modal-body modal_body">
	<div class="table-responsive">
		<table class="table table-bordered">
		
			<tbody>
				<tr>
					<th></th>
					<th ng-repeat="compare_policys in compare_policy" ng-style="{width:colWidth}"><p class="comparelogo"> <img ng-src="./image/ilogo/i{{compare_policys.insurerId}}.png" class="img-responsive center-block"></p>
					<span class="insurerclink">{{compare_policys.insurerName}}</span>
					<span class="grey productclink">{{compare_policys.productName}}</span>
					</th>
				</tr>
				<tr>
				<td class="tablecolumntitleservicing bold">Premium </td>
				<td class="bold" ng-repeat="compare_policys in compare_policy"><span class="rssymbol">Rs.&nbsp;</span>{{compare_policys.displayPremium}}</td>

				</tr>
				<tr ng-click="isOpen=!isOpen" style="background-color:#d7d7d7;cursor:pointer;">
					<td colspan="{{compare_policy.length+1}}" style="color:#008000"><span style="font-size:small;" class="green">Covers</span><i class="pull-right glyphicon glyphicon-chevron-up" ng-class="{'glyphicon-chevron-up': isOpen, 'glyphicon-chevron-down': !isOpen}"></i></td>
					<!-- <td  ng-repeat="compare_policys in compare_policy">&nbsp;</td> -->
				</tr>
				<tr ng-repeat="rowItem in compareData.coverDisplay" ng-if="isOpen">
					<td class="tablecolumntitlecover">{{rowItem.cover.name}}</td>
					<td ng-repeat="productCover in rowItem.coverData">
						<span ng-if = "productCover.exists">
							<img ng-src="./image/checkmark.png"  >
						</span>
						
						<span ng-if = "!productCover.exists">
							<img ng-src="./image/red-cross.png"  >
						</span>
						<br>
						<span ng-repeat="(name, data) in productCover.coverLimits" ng-if="cover.coverName==compare_covers.name">
							<span class="firstsec">
								{{name}}:<br>
								<span class="scndsec" ng-repeat="sublimit in data">
									{{sublimit.value}}<br></span>
							</span><br>
						</span>						
					</td>
				</tr>
				<tr ng-click="isFeature=!isFeature" style="background-color:#d7d7d7;cursor:pointer;">
				<td colspan="{{compare_policy.length+1}}" style="color:#008000">
				<span style="font-size:small;" class="green">Features</span>
				<i class="pull-right glyphicon glyphicon-chevron-up" ng-class="{'glyphicon-chevron-up': isFeature, 'glyphicon-chevron-down': !isFeature}"></i>
				</td>
				<!-- <td>&nbsp;</td> -->
				</tr>
				
				<tr ng-repeat="productattribute in compareData.attributeDisplay" ng-if="isFeature">
					<td>{{productattribute.attribute.name}}</td>
					<td ng-repeat="attribute in productattribute.attributeData">
						<span >{{attribute.value}}</span>	
						<span ng-if="!attribute.exists"><img ng-src="./image/red-cross.png"></span>
					</td>
				</tr>
				<tr><td class="tablecolumntitleservicing bold"> </td><td ng-repeat="quote in compare_policy"><button class="btn btn-success buy-btn purchaseoptionsdialoglink" ng-click="buyNow(quote)" name="buynow">BUY THIS POLICY</button></td></tr>
			</tbody>
		</table>
	</div>
	<div class="pop-wrap1"><p>  The Product Information shown here is personalized to your previous selections and may change if selection criteria is changed. </p></div>
</div>
<div class="modal-footer">
	<button type="button" class="print1 ui-button-text-only " role="button"><span class="ui-button-text" ng-click="printDiv('compareArea');">Print</span></button>
	<button type="button" class="cls1 ui-button-text-only " role="button" ng-click="close()" data-dismiss="modal" aria-hidden="true"><span class="ui-button-text">Close</span></button>
</div>