<div class="modal-header hom_modal_body">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Premium BreakUp </h4>

</div>
<div class="clear"></div>
<div class="modal-body hom_modal_body">
	<div class="col-sm-12 padd0 table-bordered">
			
		<!-- Basic Premium -->
		<div id="basicpremium" class="tblflipaxis table1">
			<h5 class="portfoliogoalinput_header">Basic Premium</h5>
			<div class = "portfoliogoals">
				<table class ="col-xs-12 col-lg-12 col-sm-12 col-md-12 ">
					<tr ng-repeat="item in premiums.base | orderBy : 'displayOrder'">
						<td>
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5">{{item.displayName}}</p>
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5" style="color:#555">{{item.netPremium| currency : "&#8377;":0}}</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="clear"></div>
		
		<!-- Addon Premium -->
		<div id="addonpremium" ng-if = "premiums.addon.length >0"class="tblflipaxis table1">
			<h5 class="portfoliogoalinput_header">Addon Premium</h5>
			<div class = "portfoliogoals">
				<table class ="col-xs-12 col-lg-12 col-sm-12 col-md-12 ">
					<tr ng-repeat="item in premiums.addon | orderBy : 'displayOrder'">
						<td  class="col-sm-12 col-md-12">
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5">{{item.displayName}}</p>
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5" style="color:#555">{{item.netPremium| currency : "&#8377;":0}}</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="clear"></div>
		
		<!-- Other Premium -->
		<div id="otherpremium" ng-if = "premiums.other.length >0"class="tblflipaxis table1">
			<h5 class="portfoliogoalinput_header">Discounts</h5>
			<div class = "portfoliogoals">
				<table class ="col-xs-12 col-lg-12 col-sm-12 col-md-12 ">
					<tr ng-repeat="item in premiums.other">
						<td class="col-sm-12 col-md-12">
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5">{{item.displayName}}</p>
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5" style="color:#555">({{item.netPremium| currency : "&#8377;":0}})</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="clear"></div>
		<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
		
		<!-- Totals -->
		<div id="basicpremium" class="tblflipaxis table1">
			<div></div>
			<div class = "portfoliogoals">
				<table class ="col-xs-12 col-lg-12 col-sm-12 col-md-12 ">
					<tr>
						<td  class="col-sm-12 col-md-12">
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5">Net Premium:</p>
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5" style="color:#555">{{premiums.netPremium| currency : "&#8377;":0}}</p>
						</td>
					</tr>
					<tr>
						<td  class="col-sm-12 col-md-12">
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5">GST:</p>
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5" style="color:#555">{{premiums.serviceTax| currency : "&#8377;":0}}</p>
						</td>
					</tr>
					<tr>
						<td  class="col-sm-12 col-md-12">
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5">Total Premium</p>
							<p class="col-xs-5 col-lg-5 col-sm-5 col-md-5" style="color:#555">{{premiums.totalPremium| currency : "&#8377;":0}}</p>
						</td>
					</tr>
				</table>
			</div>
		</div>		
		<div class="clear"></div>	
	</div>
		<div class="clear"></div>
</div>

<div class="clear"></div>
<div class="modal-footer">
	<div class="col-sm-4">
	<button type="button" class=" btn btn-primary btn_prim cls1 ui-button-text-only " role="button" ng-click="$close()" data-dismiss="modal" aria-hidden="true"><span class="ui-button-text">Close</span></button>
	</div>
</div>
		
		