<div id="pagecontent">
    <section class="results-section-header">
        <div class="container">

            <div class="col-sm-12 padd0 table-bordered">
                <ol class="breadcrumb">
                    <li><a href="#!/index">Home</a></li>
                    <li><span id="ptypename">{{subTitle}}</span></li>
                    <li>Compare Policies</li>
                </ol>
                <!-- <div class="col-xs-12 col-sm-12 col-md-12 pag">Home / <span id="ptypename">{{subTitle}}</span> / Compare Policies</div> -->
                <div id="yourLifeTerm" ng-if="input.productType" class="tblflipaxis table1">
                    <div class=" portfoliogoals">
                        <table class="col-xs-12 col-lg-12 col-sm-12 col-md-12 ">
                            <tr>
                                <td ng-repeat="head in portfolioheaders" class="col-sm-3 col-md-3">
                                    <p class="portfoliogoalinput portfoliogoalinput_header">{{head.label}}</p>
                                    <p class="portfoliogoalinput " style="color:#555">{{head.value}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-sm-12">
                <div class="errorPrint" style="padding-top:10xp"></div>
            </div>

            <div ng-if="!(quoteFetchComplete)" class="col-xs-8 col-sm-8 col-md-9">
                <div style="padding: 5em">
                    <uib-progressbar class="progress-striped active" value='value' type='info'>Contacting Insurers for Best Quotes for you</uib-progressbar>
                </div>
            </div>
        </div>
    </section>
    <section id="results-block">
        <div class="container">
            <div  class=" results-block-wrapper">
                <div class="col-xs-12 col-sm-4 col-md-3 results-block-sidebar">
                    <div class="col-xs-12 col-md-12 padd0  deskTopView" ng-class="{'left_767': toggle_button}">
                        <h4 class="s-h4" id="refinesearch">Refine Search</h4>
                        <div id="filters" class="ui-buttonset">
                            <div ng-repeat="filter in filters" style="padding-bottom:15px;">
                                <div class="ibspan">{{filter.displayLabel}}</div>
                                <div class="btn-group">
                                    <label ng-repeat="option in filter.options" class="btn btn-primary btn-sm" ng-model="filter.selectedId" ng-change="processCoverOptions()" uib-btn-radio="option.id">{{option.value}}</label>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div ng-if="hasAddons">
                            <h5 class="s-h5"> Choose Covers</h5>
                            <div id="covershere" class="ui-buttonset">
                            	<div ng-repeat="cover in coverOptions | orderBy : 'coverName'">
	                                <label for="{{cover.coverid}}" >
	                                    <input ng-change="processCoverOptions()" type="checkbox" class="showcover ui-helper-hidden-accessible" id="{{cover.coverid}}" ng-model="cover.selected">
	                                    <span class="span choose_span">{{cover.coverName}}</span>
	                                </label>
	                                <span class="span1" uib-tooltip="{{cover.helpText}}">i</span>
								</div>
                            </div>
                        </div>

                        <div class="clear"></div>
                        <div id="radio7" class="ui-buttonset mob-left" style="display:none">
                            <input type="radio" checked="" name="radio6" id="radio25" class="ui-corner-left" value="">
                            <label for="radio25"><span> </span>Sort By Premium</label>
                            <input type="radio" name="radio6" id="radio26" class="ui-corner-right" value="">
                            <label for="radio26"><span></span>Sort By IDV</label>
                        </div>
                    </div>
                    <div class="mobileview col-xs-12 col-sm-11 col-md-11">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" is-open="status.isRefine" is-disabled="status.isFirstDisabled">
                                <uib-accordion-heading>
                                    <h4 style="padding-left:10px;">Refine Search</h4>
                                </uib-accordion-heading>
                                <div id="filters" class="ui-buttonset">
                                    <div ng-repeat="filter in filters track by $index" style="padding-bottom:15px;">
                                        <div class="ibspan">{{filter.displayLabel}}</div>
                                        <div class="btn-group">
                                            <label ng-repeat="option in filter.options track by $index" class="btn btn-primary btn-sm" ng-model="filter.selectedId" ng-change="processCoverOptions()" uib-btn-radio="option.id">{{option.value}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div uib-accordion-group class="panel-default" is-open="status.isChooseCover" is-disabled="status.isFirstDisabled">
                                <uib-accordion-heading>
                                    <h4 style="padding-left:10px;">Choose Covers</h4>
                                </uib-accordion-heading>
                                <div id="covershere" class="ui-buttonset">
                                    <label for="{{chooseCover.coverid}}" ng-repeat="chooseCover in coverOptions">
                                        <input ng-change="processCoverOptions()" type="checkbox" class="showcover ui-helper-hidden-accessible" id="{{chooseCover.coverid}}" ng-model="coverOptions[$index].selected">
                                        <span class="span choose_span">{{chooseCover.coverName}}<span class="span1">i</span></span>
                                    </label>
                                </div>
                                <div class="clear"></div>
                                <div id="radio7" class="ui-buttonset mob-left" style="display:none">
                                    <input type="radio" checked="" name="radio6" id="radio25" class="ui-corner-left" value="">
                                    <label for="radio25"><span> </span>Sort By Premium</label>
                                    <input type="radio" name="radio6" id="radio26" class="ui-corner-right" value="">
                                    <label for="radio26"><span></span>Sort By IDV</label>
                                </div>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
                <div ng-if="quoteFetchSuccess" class="col-xs-12 col-sm-8 col-md-9 results-block-plans">
                    <!--  -->
                    <div class="plans-header container-fluid padd0">
                        <div class="col-sm-12 padd0">
                            <span class="text-center portfoliotxthdr"><span class="basedPort">Based on your need we suggest the following products</span>
                            </span>
                            <span class="pull-right"><button class="btn btn-sm btn-success" ng-if="compareViewQuotes.length>1" ng-click="comparePolicy(compareViewQuotes)">Compare</button></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="found" style="display: block;">
                        <div class="col-xs-12 col-sm-12 col-md-12 padd0">
                            <div class="plan-card-wrapper" ng-repeat="insurer in recomendations">
                                <!-- First Plan -->
                                <div class="plan-card cf-result-card cubic-trans">
                                    <!-- Start of first quote for the insurer -->
                                    <div class="row" style="border-bottom:1px solid #eee">
                                        <div class="company-logo col-xs-4 col-xs-4">
                                            <div class="insurer-logo" style="float:left;">
                                                <img class="insure-logos img-responsive" ng-src="./image/ilogo/i{{insurer.insurerId}}.png">
                                            </div>
                                            <div class="compare_check">
                                                <span class="protfolioCompare" style="display:flex">
												   <input type="checkbox" id="{{insurer.quotes[0].key}}" class="compare_icon_checkBox hidden" style="display:none" ng-model="insurer.quotes[0].selectedForCompare" 
	         										ng-change="addCompare(insurer.quotes[0].key,insurer.quotes[0].selectedForCompare)">
	         										<label for = "{{insurer.quotes[0].key}}"></label>
	         									</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 col-sm-3">
                                            <div class="plan-name">
                                                <span class="portfolionamecol" ng-click="productDetail(insurer.quotes[0].key)">{{insurer.quotes[0].displayName}}</span>
                                                <br>
                                            </div>
                                            <div class="clear"></div>
                                            <br>
                                            <div ng-if="input.lob=='Motor'"><span>IDV: </span><span>{{insurer.quotes[0].idv| currency : "&#8377;":0}}</span></div>
                                        </div>
                                        <div class="col-sm-5 col-xs-5 pc-button-wrapper">
                                            <div class="pc-premium">
                                                <p class="label">Premium / Year (Incl. Tax)</p>
                                                <p class="value">{{insurer.quotes[0].displayPremium | currency : "&#8377;":0}}</p>
                                                <p class="label"><a ng-click="premiumBreakUp(insurer.quotes[0].key)">Premium BreakUp</a></p>
                                            </div>
                                            <div class="pc-buttons">

                                                <button type="button" class="btn btn-sm cf-btn-orange btn-block" ng-disabled="insurer.quotes[0].online==false" ng-click="fillProposal(insurer.quotes[0])"><span><span class="glyphicon glyphicon-shopping-cart"></span>BUY THIS PLAN </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of first quote for the insurer -->
                                    <div class="row" style="margin-left:0px;margin-right:0px;">
                                        <div class=" split " style="display:table-cell" ng-repeat="display in insurer.quotes[insurer.currentIndex].summaryDisplays">
                                            <span class="spl-label">{{display}}</span>

                                        </div>

                                    </div>
                                    <div class="list-item thin addon-item no-tap has-right" style="margin-right: 0px;margin-left: 0px;width: 100%;min-height:22px;">
                                        <span ng-show="{{insurer.productCount}} > 1">
												<a class="more-link-plan ng-scope" ng-init="morePlan=false" ng-click="morePlan= !morePlan"><span ng-show="morePlan ==false">More Plans</span><span ng-show="morePlan ==true">Hide Plans</span></a>
                                        </span>
                                    </div>
                                </div>

                                <!-- Additional Plans -->
                                <div class="col-sm-12" style="margin-top:10px;border-left: 1px solid rgb(170, 2, 148);" ng-show="morePlan">
                                    <div ng-show="{{insurer.productCount-1}}" class="plan-card cf-result-card cubic-trans" ng-repeat="quote in insurer.quotes track by $index" ng-if="$index!=0">
                                        <!-- Start of additional quote for the insurer -->
                                        <div class="row" style="border-bottom:1px solid #eee">
                                            <div class="company-logo col-xs-4 col-xs-4">
                                                <div class="insurer-logo" style="float:left;">
                                                    <img class="insure-logos img-responsive" ng-src="./image/ilogo/i{{insurer.insurerId}}.png">
                                                </div>
                                                <div class="compare_check">
                                                    <span class="protfolioCompare" style="display:flex">
														   <input type="checkbox" id="{{quote.key}}" class="compare_icon_checkBox hidden" style="display:none" ng-model="quote.selectedForCompare" 
			         										ng-change="addCompare(quote.key,quote.selectedForCompare)">
			         										<label for = "{{quote.key}}"></label>
			         									</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-3 col-sm-3">
                                                <div class="plan-name">
                                                    <span class="portfolionamecol" ng-click="productDetail(quote.key)">{{quote.displayName}}</span>
                                                    <br>
                                                    <span class=""><!-- {{insurer.quotes.length}} more quotes from --> {{insurer.InsurerName}}</span>
                                                </div>
                                                <div class="clear"></div>
                                                <br>
                                                <div ng-if="input.lob=='Motor'"><span>IDV: </span><span>{{quote.idv| currency : "&#8377;":0}}</span></div>
                                            </div>
                                            <div class="col-sm-5 col-xs-5 pc-button-wrapper">
                                                <div class="pc-premium">
                                                    <p class="label">Premium / Year (Incl. Tax)</p>
                                                    <p class="value">{{quote.displayPremium | currency : "&#8377;":0}}</p>
                                                    <p class="label"><a ng-click="premiumBreakUp(quote.key)">Premium BreakUp</a></p>
                                                </div>
                                                <div class="pc-buttons">
                                                    <button type="button" class="btn btn-sm cf-btn-orange btn-block" ng-disabled="quote.online==false" ng-click="fillProposal(quote)"><span><span class="glyphicon glyphicon-shopping-cart"></span>BUY THIS PLAN </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="row" style="margin-left:0px;margin-right:0px;height:auto;">
                                            <div class="split " ng-repeat="display in quote.summaryDisplays" style="display:table-cell">
                                                <span class="spl-label">{{display}}</span>

                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>
                        <div>
                            <span class="col-xs-12 col-sm-9 col-md-9">
			        		<span>All prices are inclusive of taxes. <br> Premiums may change based on user selections in proposal form. </span>
                            </span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            	<div class="clear"></div>
            	<!-- Error Block -->
            	<div ng-if="quoteFetchError" class="col-xs-12 col-sm-8 col-md-9 results-block-plans">
  					<div class="agree-box">
                        <div class="item">        
                        	<div class="agree-field">            
                        		<div style="color:red;">{{quoteError.key}}
                        			<ol>
                        				<li style="color:red;" ng-repeat="error in quoteError.errors track by $index">{{error}}</li>
                        			</ol>
                        		</div>
                        	</div>            
                       	</div>              
                   	</div>             	
            	</div>
            	<div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="col-xs-12  col-md-2 ht0">&nbsp; </div>
            <div class="clear"></div>
        </div>

    </section>
</div>


		
		