<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<!-- <h4 class="modal-title" style="margin-top: 15px;"><span class="green">Compare Policies For: </span>Private Car Motor Insurance for Ashok Leyland Stile LE 7 STR.</h4> -->
</div>
<form class="form-horizontal">
	<div class="modal-body">
		
			<div class="table-responsive">
				<table class="table table-bordered table3 ">
					<tbody>
					<tr>
						<th></th>
						<th><span class="ibspan comparelogo"> <img ng-src="./image/ilogo/i{{selectedProduct.insurerId}}.png" class="img-responsive center-block"></span>
							<br>
						<div class="insurerclink" align="center">{{selectedProduct.insurerName}}</div>
						<div class="grey productclink" align="center">{{selectedProduct.productName}}</div>
						</th>
					</tr>
					<tr><td class="tablecolumntitleservicing bold">Premium </td><td class="bold"><span class="rssymbol">Rs.&nbsp;</span>{{selectedProduct.displayPremium}}</td></tr>
					<tr><td><span style="font-size:small;" class="green">Covers</span></td><td>&nbsp;</td></tr>
					<tr ng-repeat="cover in selectedProduct.covers">
						<td class="tablecolumntitlecover" >{{cover.coverName}}</td>
						<td>
							<img ng-src="./image/checkmark.png"  ><br>
							<span ng-repeat="(name, data) in cover.coverLimits">
								<span class="firstsec">
									{{name}}:<br>
									<span class="scndsec" ng-repeat="sublimit in data track by $index" ng-bind-html="sublimit.value">
										<span ng-if = "sublimit.inrSymbol=='Y'"></span>
										<br></span>
								</span><br>
							</span>						
						</td>
					</tr>
					<!-- <tr><td class="tablecolumntitlecover">Third Party Liability</td><td><img src="../images/green-tick.png"><br></td></tr> -->
					<tr><td><span style="font-size:small;" class="green">Features</span></td><td>&nbsp;</td></tr>
					<tr ng-repeat="attribute in selectedProduct.attributes">
						<td class="tablecolumntitlefeature">{{attribute.name}}</td>
						<td><span style="color:#000;word-break:break-all;" ng-bind-html="attribute.value"class="word-break"></span></td>
					</tr>
					<!-- <tr><td class="tablecolumntitlefeature">Age_Discount</td><td><span style="color:green">{{selectedProduct.display_attributes.Age_Discount}}</span></td></tr> -->
					<tr ng-hide="true"><td class="tablecolumntitleservicing bold"> </td><td><button class="btn btn-success buy-btn  purchaseoptionsdialoglink" name="{{selectedProduct.productId}}">BUY THIS POLICY</button></td></tr>
					</tbody>
				</table>
				<div class="pop-wrap1"><p>  The Product Information shown here is personalized to your previous selections and may change if selection criteria is changed. </p></div>
			</div>
		</div>
	
</form>
<div class="modal-footer">
	<button type="button" class="print1 ui-button-text-only" role="button"><span class="ui-button-text">Print</span></button>
	<button type="button" class="cls1 ui-button-text-only" role="button" ng-click="$close()" data-dismiss="modal" aria-hidden="true"><span class="ui-button-text" >Close</span></button>
</div>