<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="insuredForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Insured Members</div>
	   		<div class = "clear"></div>
   				<div class="body">
   					<div class="main-section">
   						<div class="proposer-process">
	    					<div class="define">
	    						<img ng-src="./image/info.png">
	    						<span>Who do you want to Insure?</span>
	    					</div>
   							<div ng-form="memberForm" class="row mnone insured_mnone" ng-repeat="insured in proposalInput.insured">
   								<div class="col-sm-2">Insured Person's Details for <span ng-if="insured.type=='A'">Adult</span><span ng-if="insured.type=='C'">Child</span> DOB: {{insured.dob |date:'yyyy-MM-dd'}}</div>
   								<div class="col-sm-10" style="margin-bottom:10px;">
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Title</label>
    										<div class="col-sm-12 padd0">
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="{{item.id}}"  ng-repeat="item in insurerMaster.Title">{{item.value}}</option>
												</select>
											</div>
										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.firstName.$invalid && ! memberForm.firstName.$pristine}">
    										<label class="control-label required">First Name</label>
    										<input type="text" class="form-control" name="firstName" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.firstName" required>
   										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group" ng-class="{'has-error':memberForm.middleName.$invalid && ! memberForm.middleName.$pristine}">
   											<label class="control-label required">Middle Name</label>
   											<input type="text" class="form-control" name="middleName"  ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/"  ng-model="insured.middleName">
   										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.lastName.$invalid && ! memberForm.lastName.$pristine}">
    										<label class="control-label">Last Name</label>
    										<input type="text" class="form-control" name="lastName"  ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/"  ng-model="insured.lastName" required>
   										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label"> Date of Birth</label>
    										<input type="text" class="form-control" name="insdob" ng-model="insured.dob" readonly>
   										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Gender</label>
    										<div class="clear"></div>
    										<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='M'}"  uib-btn-radio="'M'" ng-disabled="'true'">Male</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='F'}"  uib-btn-radio="'F'" ng-disabled="'true'">Female</label>
											</div>
										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Marital Status</label>
    										<div class="col-sm-12 padd0">
    											<select class=" form-control" name="relaInsured" ng-model="insured.maritalStatus"  required>
													<option value="">Select</option>
													<option value="{{item.id}}"  ng-repeat="item in insurerMaster.MaritalStatus">{{item.value}}</option>
												</select>
											</div>
										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Relationship with Proposer</label>
    										<div class="col-sm-12 padd0">
    											<select class=" form-control" name="relaInsured" ng-model="insured.relationshipId"  readonly>
													<option value="">Select</option>
													<option value="{{item.id}}"  ng-repeat="item in insurerMaster.Relationship| filter:{'gender': insured.gender}">{{item.value}}</option>
												</select>
											</div>
										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Occupation</label>
    										<div class="col-sm-12 padd0">
    											<select class=" form-control" name="occupation" ng-model="insured.occupationType"  required>
													<option value="">Select</option>
													<option value="{{item.id}}"  ng-repeat="item in insurerMaster.Occupation">{{item.value}}</option>
												</select>
											</div>
										</div>
   									</div>
    							
    							<div class="col-sm-4 list-item-proposer">
    								<div class="form-group required">
    								<label class="control-label">ID Type</label>
	    								<select class="form-control" name = "idType" ng-model="insured.idType" required>
					    					<option value="">Select</option>
					    					<option value="{{item.id}}"  ng-repeat="item in insurerMaster.IDProof">{{item.value}}</option>
					    				</select>
				    				</div>
				    			</div>
				    			
    							<div class="col-sm-4 list-item-proposer">
    								<div class="form-group required" ng-class="{'has-error':memberForm.pan.$invalid && ! memberForm.pan.$pristine}">
    								<label class="control-label" >ID Number</label>
    								<input type="text" name="pan" class="form-control" ng-model="insured.idNumber" required>
    								</div>
    							</div>
   									
   									
   									<div class="col-sm-4">
   									  <div class="form-group required" ng-class="{'has-error':memberForm.height.$invalid && ! memberForm.height.$pristine}">
   										<label class="control-label">Height in cm</label>
   										<input type="text" name= "height" class="form-control" ng-pattern="/^[2-9][0-9]{1,2}$/" ng-model="insured.height"  required>
									   </div>
   									</div>
   									
   									
   									<div class="col-sm-4">
   										 <div class="form-group required" ng-class="{'has-error':memberForm.weight.$invalid && ! memberForm.weight.$pristine}">
    										<label class="control-label"> Weight in kg</label>
    										<input type="number" name = "weight" class="form-control" ng-pattern="/^[1-9][0-9]{1,2}$/"   ng-model="insured.weight" required>
										 </div>
   									</div>
   								
	   								<div class = "clear"></div>
	   									
		 							<div class="col-sm-8" ng-if="insured.rmwApplicable" >
		 								<div class="form-group required">
		  									<label class="control-label">Would you like reduction in Maternity Waiting Period?</label>
		  									<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.rmw" ng-class="{'active':insured.rmw=='M'}"  uib-btn-radio="'M'" required>Yes</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.rmw" ng-class="{'active':insured.rmw=='F'}"  uib-btn-radio="'F'" required>No</label>
											</div>
										</div>
		 							</div>
   								</div>
   								
   								<div class = "clear"></div>
   								
   							</div>
   							<div class="row">
   								<div class="col-sm-12">
  										<span ng-show="pageErrors.insuredError" class="has-error" id="insuredError" style="color:red">{{pageErrors.insuredErrorText}}</span>
  										<span class="has-error" id="insuredError" style="color:red">{{InsuredGenderError}}</span>
  									</div>
   							</div>
   						</div>
   					</div>
   				</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
   					<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="insuredForm.$invalid || pageErrors.insuredError" ng-click="nextSection('2')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>