<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Alcohol Usage Details</h4>

</div>
<form class="form-horizontal form_horizontal"  name="alcoholic" novalidate autocomplete="off">
	<div class="modal-body">
		
		<div class="col-sm-4 col-md-4" >
			<div class="form-group required" >
				<label class="control-label label-block">Alcohol Type</label>
				<select class="form-control" name="alcoholType" ng-model="isAlcoholicDetails.alcoholType" required>
					<option value="">Select</option>
					<option ng-repeat = "item in types" value="{{item.id}}">{{item.value}}</option>
				</select>
				
			</div>
		</div>
		
		<div class="col-sm-4 col-md-4" >
			<div class="form-group required" ng-class="{'has-error':alcoholic.frequency.$invalid && !alcoholic.frequency.$pristine}">
				<label class="control-label label-block">Frequency</label>
				<select class="form-control" name="frequency" ng-model="isAlcoholicDetails.frequency" required>
					<option value="">Select</option>
					<option value="Occasionally">Occasionally</option>
					<option value="Weekly">Weekly</option>
					<option value="Daily">Daily</option>
					<option value="Monthly">Monthly</option>
	
				</select>
				<p class="errorMsg" ng-show="alcoholic.frequency.$error.required && !alcoholic.frequency.$pristine">
					This field is required.
				</p>
			</div>
		</div>
		
		<div class="col-sm-4 col-md-4">
			<div class="form-group required" ng-class="{'has-error':alcoholic.qtyType.$invalid && !alcoholic.qtyType.$pristine }" >
				<label class="control-label label-block">Qty Type</label>
				<input type="text" name="qtyType" class="form-control" ng-model="isAlcoholicDetails.qtyType"  ng-pattern="/^[a-zA-Z0-9]+$/" ng-keypress="alphaNumeric($event)" maxlength="25" required>
				<div class="col-sm-12 padd0">
					<p class="errorMsg" ng-show="alcoholic.qtyType.$error.required && !alcoholic.qtyType.$pristine">This field is required</p>
					<p class="errorMsg" ng-show="alcoholic.qtyType.$error.pattern">Only Alphanumeric  Allowed.</p>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4 col-md-4">
			<div class="form-group required" ng-class="{'has-error':alcoholic.qty.$invalid && !alcoholic.qty.$pristine}">
				<label class="control-label label-block">Qty</label>
				<input type="text" name="qty" class="form-control" maxlength="3" ng-model="isAlcoholicDetails.qty" ng-keypress="filterValue($event)" required>
				<p class="errorMsg" ng-show="alcoholic.qty.$error.required && !alcoholic.qty.$pristine">This field is required</p>
			</div>
		</div>			
		
		<div class="col-sm-4 col-md-4">
			<div class="form-group required"  ng-class="{'has-error':alcoholic.years.$invalid && !alcoholic.years.$pristine}">
			
				<label class="control-label label-block">Years</label>
				<input type="text" name="years" class="form-control" maxlength="4" ng-model="isAlcoholicDetails.years" ng-keypress="filterValue($event)" required>
				<p class="errorMsg" ng-show="alcoholic.years.$error.required && !alcoholic.years.$pristine">
					This field is required.
				</p>
			</div>
		</div>
	
		<div class="col-sm-6 col-md-6"  >
			<div class="form-group required" >
				<label class="control-label label-block">Have you ever been advised to stop consumption of the substance by a Physician?. If Yes, specify the reason.</label><br>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="isAlcoholicDetails.isDoctorAdvised" ng-class="{active: isAlcoholicDetails.isDoctorAdvised =='Y'}"> Yes </label>
					<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="isAlcoholicDetails.isDoctorAdvised" ng-class="{active: isAlcoholicDetails.isDoctorAdvised =='N'}"> No </label>
					
				</div>
			</div>
		</div>
		
		<div class="col-sm-6 col-md-6" ng-if="isAlcoholicDetails.isDoctorAdvised=='Y'">
			<div class="form-group required" >
				<label class="label-block">Doctor Advise Details</label>
				<input type="text" name="doctorAdviseDetails" class="form-control" maxlength="100" ng-model="isAlcoholicDetails.doctorAdviseDetails">
			</div>
		</div>
				
		<div class = "Clear"></div>
	
		
	</div>
	<div class = "Clear"></div>
</form>
<div class = "clear"></div>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="alcoholic.$invalid" >Submit</button>
</div>
