<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Add Existing Policy</h4>
</div>
<form class="form-horizontal form_horizontal" name="isAnyDeclineInsureadd" novalidate>
	<div class="modal-body">
		
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class=" form-group required">
				<label class="control-label label-block">Type of Insurance</label>
				<select class="form-control" ng-model="policy.insuranceType" required>
					<option value="">Select</option>
					<option value="Life">Life</option>
					<option value="Health">Health</option>
					<option value="Unit Linked">Unit Linked</option>
					<option value="Pension">Pension</option>
					<option value="Personal Accident">Personal Accident</option>
				</select>
			</div>		
		</div>
		
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class=" form-group required">
				<label class="control-label label-block">Policy Number</label>
				<input type="text" name="policyPolicyNumber" class="form-control" ng-model="policy.policyNumber" ng-keypress="alphaNumeric($event)" required maxlength="50">
			</div>
		</div>
		<div class="clear"></div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class=" form-group required">
				<label class="control-label label-block">Decision</label>
				<select class="form-control" ng-model="policy.decision" required>
					<option value="">Select</option>
					<option value="Standard">Standard</option>
					<option value="With revised or extra premium">With revised or extra premium</option>
					<option value="Deferred">Deferred</option>
					<option value="Declined">Declined</option>
					<option value="Not completed">Not completed</option>
				</select>
			</div>
		</div>		
		
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class=" form-group required">
				<label class="control-label label-block">Insurer Name</label>
				<input type="text" name="policyInsurerName" class="form-control" ng-model="policy.insurerName" ng-keypress="alphaChar($event)" required maxlength="25">
			</div>
		</div>
		
		
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class=" form-group required">
				<label class="control-label label-block">Sum Assured</label>
				<input type="text" name="policyInsurerSumAssured" class="form-control" ng-model="policy.sumAssured" required ng-keypress="filterValue($event)" maxlength="15">
			</div>
		</div>
		
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class=" form-group required">
				<label class="control-label label-block">Annual Premium</label>
				<input type="text" name="policyInsurerPremium" class="form-control" ng-model="policy.premium" required ng-keypress="filterValue($event)" maxlength="15">
			</div>
		</div>		
		<div class="clear"></div>
		

	</div>
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-primary btn_default" ng-disabled="isAnyDeclineInsureadd.$invalid"   ng-click="ok()">Submit</button>
</div>
<!-- ng-disabled="isAnyDeclineInsureadd.$invalid" -->