<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{action}}&nbsp; Medical Details</h4>
</div>
<form class="form-horizontal form_horizontal" name="medicalDetails">
	<div class="modal-body">
		
		<table class ="col-sm-12 col-xs-12 col-md-12">
			<tr>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Short Name</label>
						<input type="text" class="form-control" name="shortname" ng-model="question.shortName" ng-maxlength="100" maxlength="100" ng-keypress="alphaChar($event)" required>
					</div>
				</td>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class=" ibspan form-group required">
						<label class="control-label label-block">Date Of Diagnosis</label>
						
						<span class="input-group">
					        <input type="text" class="form-control" name="DODiagnosis" id="DODiagnosis" uib-datepicker-popup="{{format}}" datepicker-options="medicalOption" ng-model="question.dODiagnosis " is-open="opened['DODiagnosis']"  ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required"/>
		                  	<span class="input-group-btn">
		                    	<button type="button" class="btn btn-primary" ng-click="opened($event,'DODiagnosis')"><i class="glyphicon glyphicon-calendar" ></i></button>
		              		</span>
				        </span>
					</div>				
				</td>
			</tr>
			
			<tr>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Diagnosis Details</label>
						<TextArea class="form-control" name="DiagnosisDetails" ng-model="question.diagnosisDetails" ng-maxlength="100" maxlength="100"  required></TextArea>
					</div>
				</td>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Symptoms Details</label>
						<TextArea class="form-control" name="SymptomsDetails" ng-model="question.symptomsDetails" ng-maxlength="100" maxlength="100" required></TextArea>	
		
					</div>				
				</td>
			</tr>
			
			<tr>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Medicine List</label>
						<TextArea class="form-control" name="MedicineList" ng-model="question.medicineList" ng-maxlength="100" maxlength="100" required></TextArea>
					</div>				
				</td>
			
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Doctor Name</label>
						<input type="text" class="form-control" name="DoctorName" ng-model="question.doctorName" ng-maxlength="50" maxlength="50" ng-keypress="alphaChar($event)" required>
					</div>				
				</td>
			</tr>
			
			<tr>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Doctor Qualification</label>
						<input type="text" class="form-control" name="DoctorQualification" ng-model="question.doctorQualification" ng-maxlength="50" maxlength="50" required>
					</div>					
				</td>
				
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Doctor Contact</label>
						<input type="text" class="form-control" name="DoctorContact" ng-model="question.doctorContact" ng-maxlength="100" maxlength="100"  required>
					</div>				
				</td>
			</tr>
			
			<tr>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group required">
						<label class="control-label label-block">Date Of Last Consult</label>
						<span class="input-group">
					        <input type="text" class="form-control" name="DOLastConsult" id="DOLastConsult" uib-datepicker-popup="{{format}}" ng-model="question.dOLastConsult" is-open="opened['DOLastConsult']" datepicker-options="medicalOption" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  required="required" />
					        <span class="input-group-btn">
					            <button type="button" class="btn btn-primary"  ng-click="opened($event,'DOLastConsult')"><i class="glyphicon glyphicon-calendar" ></i></button>
				            </span>
				        </span>
					</div>				
				</td>
				
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group">
						<label class="control-label label-block">Date Of Hospitalization</label>
						<span class="input-group">
					       <input type="text" class="form-control" name="DOHospitalization" id="DOHospitalization" uib-datepicker-popup="{{format}}" ng-model="question.dOHospitalization" is-open="opened['DOHospitalization']" datepicker-options="medicalOption"  close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly"  ng-readonly="user.proposerSameAsInsu=='Y'"/>
			                <span class="input-group-btn">
			                    <button type="button" class="btn btn-primary"  ng-click="opened($event,'DOHospitalization')"><i class="glyphicon glyphicon-calendar" ></i></button>
		                  	</span>
		                </span>
					</div>				
				</td>
			</tr>
			
			<tr>
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group">
						<label class="control-label label-block">Hospitalization Details</label>
						<input type="text" class="form-control" name=">HospitalizationDetails" ng-model="question.hospitalizationDetails" ng-maxlength="100" maxlength="100">
					</div>				
				</td>
				
				<td class="col-sm-12 col-xs-12 col-md-6">
					<div class="form-group">
						<label class="control-label label-block">Date Of Surgery Date</label>
						<span class="input-group">
					                   
					        <input type="text" class="form-control" name="dateOfSurgery" id="dateOfSurgery" uib-datepicker-popup="{{format}}" ng-model="question.dOSurgery" is-open="opened['dateOfSurgery']" datepicker-options="medicalOption"  close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" ng-readonly="user.proposerSameAsInsu=='Y'"/>
					        <span class="input-group-btn">
					            <button type="button" class="btn btn-primary"  ng-click="opened($event,'dateOfSurgery')"> <i class="glyphicon glyphicon-calendar" ></i></button>
				            </span>
				            
				         </span>
					</div>					
				</td>
			</tr>
		</table>
		<!-- <div class="col-sm-12"> -->

	</div>
	<!-- </div> -->
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-primary btn_default" ng-disabled="medicalDetails.$invalid"   ng-click="ok()">Submit</button>
</div>