<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Narcotic Usage Details</h4>

</div>
<form class="form-horizontal form_horizontal"  name="narcotic" novalidate autocomplete="off">
<div class="modal-body">
	<!--  Row  -->
	<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 ">
		<div class="form-group required padd0">
			<label class="control-label label-block">Narcotic Type</label>
			<select class="form-control" name="narcoticType" ng-model="isNarcoticDetails.NarcoticTypeId" required>
				<option value="">Select</option>
				<option ng-repeat = "item in types" value="{{item.id}}">{{item.value}}</option>
			</select>
			<p class="errorMsg" ng-show="narcotic.narcoticType.$error.required && !narcotic.narcoticType.$pristine">
				This field is required.
			</p>
		</div>
	</div>
	<div class = "col-sm-2 col-md-2 col-lg-2"></div>
	<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
		<div class="form-group required" ng-class="{'has-error':narcotic.years.$invalid && !narcotic.years.$pristine }" >
			<label class="control-label label-block">Years Consumed</label>
			<input type="text" name="years" class="form-control field" ng-model="isNarcoticDetails.years"  ng-pattern="/^[0-9]+$/" ng-keypress="alphaNumeric($event)" maxlength="2" required>
			<div class="col-sm-12 padd0">
				<p class="errorMsg" ng-show="narcotic.years.$error.required && !narcotic.years.$pristine">This field is required</p>
			</div>
		</div>
	</div>
	<!--  Row  -->
		
	<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 " >
		<div class="form-group required padd0" ng-class="{'has-error':narcotic.frequency.$invalid && !narcotic.frequency.$pristine}">
			<label class="control-label label-block">Frequency</label>
			<select class="form-control field" name="frequency" ng-model="isNarcoticDetails.Frequency" required>
				<option value="">Select</option>
				<option value="Occasionally">Occasionally</option>
				<option value="Weekly">Weekly</option>
				<option value="Daily">Daily</option>
				<option value="Monthly">Monthly</option>

			</select>
			<p class="errorMsg" ng-show="narcotic.frequency.$error.required && !narcotic.frequency.$pristine">
				This field is required.
			</p>
		</div>
	</div>
	<div class = "col-sm-2 col-md-2 col-lg-2"></div>
	<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 " >		
		<div class="form-group required" ng-class="{'has-error':narcotic.qty.$invalid && !narcotic.qty.$pristine}">
			<div class="col-sm-12 padd0">
				<label class="control-label label-block">Qty per Week</label>
				<input type="text" name="qty" class="form-control field" maxlength="3" ng-model="isNarcoticDetails.Qty" ng-keypress="filterValue($event)" required>
				<p class="errorMsg" ng-show="narcotic.qty.$error.required && !narcotic.qty.$pristine">This field is required</p>
			</div>
		</div>
	</div>		
	
	<div class = "clear"></div>
	
		
	<div class="col-sm-6 col-md-6"  >
		<div class="form-group required" >
			<label class="control-label label-block">Have you ever been advised to stop consumption of the substance by a Physician?. If Yes, specify the reason.</label><br>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="isNarcoticDetails.isDoctorAdvised" ng-class="{active: isNarcoticDetails.isDoctorAdvised =='Y'}"> Yes </label>
				<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="isNarcoticDetails.isDoctorAdvised" ng-class="{active: isNarcoticDetails.isDoctorAdvised =='N'}"> No </label>
				
			</div>
		</div>
	</div>
	
	<div class = "clear"></div>
	<div class="form-group">
		<div class="col-sm-6 col-md-6 padd0" ng-if="isNarcoticDetails.advisedByDoctor=='Y'">
			<label class="label-block">Doctor Advise Details</label>
			<input type="text" name="doctorAdviseDetails" class="form-control" maxlength="100" ng-model="isNarcoticDetails.doctorAdviseDetails" ng-keypress="alphaNumeric($event)">
		</div>
	</div>
	<div class = "clear"></div>
	
	<div class = "clear"></div>
		
</div>
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="narcotic.$invalid" >Submit</button>
</div>
