<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Add</h4>

</div>
<form class="form-horizontal form_horizontal"  name="tobacco" novalidate autocomplete="off">
<div class="modal-body">

		<div class="col-sm-4 col-md-4">
			<div class="form-group required padd0" >
			<label class="control-label label-block">Tobacco Type</label>
				<select class="form-control" name="tabaco" ng-model="istobaccoDetails.tobaccoType"  required>
					<option value="">Select</option>
					<option ng-repeat = "item in tobaccoTypes" value="{{item.id}}">{{item.value}}</option>
				</select>
				
			</div>
		</div>

		<div class="col-sm-4 col-md-4" >
			<div class="form-group required padd0" ng-class="{'has-error':tobacco.qty.$invalid && !tobacco.qty.$pristine}">
				<label class="control-label label-block">Qty</label>
				<input type="text" name="qty" class="form-control" maxlength="3" ng-model="istobaccoDetails.qty" ng-keypress="filterValue($event)" required>
				<p class="errorMsg" ng-show="tobacco.qty.$error.required && !tobacco.qty.$pristine">This field is required</p>
			</div>
		</div>
		
		<div class="col-sm-4 col-md-4" >
			<div class="form-group required  padd0" ng-class="{'has-error':tobacco.frequency.$invalid && !tobacco.frequency.$pristine}">
				<label class="control-label label-block">Frequency</label>
				<select class="form-control" name="frequency" ng-model="istobaccoDetails.frequency" required>
					<option value="">Select</option>
					<option value="Occasionally">Occasionally</option>
					<option value="Weekly">Weekly</option>
					<option value="Daily">Daily</option>
					<option value="Monthly">Monthly</option>
	
				</select>
				<p class="errorMsg" ng-show="tobacco.frequency.$error.required && !tobacco.frequency.$pristine">
					This field is required.
				</p>
			</div>
			
		</div>
		<div class="col-sm-4 col-md-4" >
			<div class="form-group required"  ng-class="{'has-error':tobacco.years.$invalid && !tobacco.years.$pristine}">
				<label class="control-label label-block">Years</label>
				<input type="text" name="years" class="form-control" maxlength="4" ng-model="istobaccoDetails.years" ng-keypress="filterValue($event)" required>
				<p class="errorMsg" ng-show="tobacco.years.$error.required && !tobacco.years.$pristine">
					This field is required.
				</p>
			</div>
		</div>
		
		<div class="col-sm-6 col-md-6"  >
			<div class="form-group required" >
				<label class="control-label label-block">Have you ever been advised to stop consumption of the substance by a Physician?. If Yes, specify the reason.</label><br>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="istobaccoDetails.isDoctorAdvised" ng-class="{active: istobaccoDetails.isDoctorAdvised =='Y'}"> Yes </label>
					<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="istobaccoDetails.isDoctorAdvised" ng-class="{active: istobaccoDetails.isDoctorAdvised =='N'}"> No </label>
					
				</div>
			</div>
		</div>
		
		<div class = "clear"></div>
		<div class="form-group">
			<div class="col-sm-6 col-md-6 padd0" ng-if="istobaccoDetails.advisedByDoctor=='Y'">
				<label class="label-block">Doctor Advise Details</label>
				<input type="text" name="doctorAdviseDetails" class="form-control" maxlength="100" ng-model="istobaccoDetails.doctorAdviseDetails" ng-keypress="alphaNumeric($event)">
			</div>
		</div>
		<div class = "clear"></div>
	
</div>
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="tobacco.$invalid" >Submit</button>
</div>

