<div class="proposal_form" ng-controller="bajajCntrl">
<div class="container">
	<div class="wrap-bg">
		<div class="policy-panel">
			<div class="row mnone">
				<div class="col-xs-12  cf-title clearfix">
					<div class="back-to-results" ng-click="backPreviousPage()" >← Back to results</div>
				    <div style="padding:5px 0px 0px;">Buy Health Insurance</div>
				</div>
				<div class="col-xs-4 col-sm-3 pnone">
					<div class="insurer-img">
						<img class="img-responsive" ng-src = "./image/ilogo/i{{quoteInput.quotes.insurerId}}.png">
						
					</div>
				</div>
				<div class="col-xs-8 col-sm-9 pnone" style="border-left:1px solid #eaeaea;">
					<div class="pol-name">{{quoteInput.quotes.insurerName}}  {{quoteInput.quotes.productName}}</div>
					<div class="pol-val">
						<span>COVER</span>
						<span class="value">{{quoteInput.healthInput.sa}}</span>
						<br class="visible-xs visible-sm">
						<span>ANNUAL PREMIUM</span>
						<span class="value">{{quoteInput.quotes.totalPremium}}</span>
						<span class="val-typ" style="font-size: 12px;">(Includes 18.0% Goods and Services Tax)*</span>
					</div>
				</div>
				
			</div>
		</div>
		<!--policy panel  -->
		<div id="stage_data">
			<uib-tabset class="wizard-track" active="active">
			    <uib-tab index="0"  classes="{{tabStatus.firstComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			    	
			    	<uib-tab-heading>
			    		Policy <span><img class="check" ng-src="./image/checkmarks.png"></span>
			    	</uib-tab-heading>
			    	<div class="form-panel">
			    		<div class="heads">Policy</div>
			    		<form class="form_horizontal" name="policy" autocomplete="off" novalidate>
			    		<div class="body">
			    			<div class="main-section">
			    				<div class="proposer-process">
			    					<div class="define">
			    						<img ng-src="./image/info.png">
			    						<span>The person who is paying for the policy</span>
			    					</div>
			    					<div class="row mnone">
			    						<div class="col-sm-10" style="margin-bottom:10px;">
			    							
			    								<div class="col-sm-4">
			    									<div class="form-group">
			    										<label class="control-label">Policy Start Date</label>
			    										<span class="input-group">
														 	<input type="text" class="form-control" name="polStartDate" uib-datepicker-popup="{{}}" ng-model="healthProposalInput.policy.policyStartdate"  is-open="opened[$index]" datepicker-options="policyStartDate" ng-required="true" close-text="Close" ng-change="policyStart()" alt-input-formats="altInputFormats" date-parser required/>
														 	<span class="input-group-btn">
													            	<button type="button" class="btn btn-primary btn_prim " ng-click="open($event,$index)"><i class="glyphicon glyphicon-calendar"></i></button>
													          </span>
														 </span>
			    									</div>
			    							     </div>
			    							     <div class="col-sm-4">
			    									<div class="form-group">
			    										<label class="control-label">Policy End Date</label>
			    										<input type="text" class="form-control" ng-model="healthProposalInput.policy.policyEnddate" readonly required>
			    									</div>
			    							     </div>
			    							
			    							
			    						</div>
			    					</div>
			    				</div>
			    			</div>
			    			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
			    		</div>
			    		<!--.body -->
			    		<div class="foot">
			    			<div class="clearfix">
			    				<div class="cf-pull-right">
			    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="policy.$invalid" ng-click="nextSection('second')">Continue <img ng-src="./image/arrow-right.png"> </button>
			    				</div>
			    			</div>
			    		</div>
			    		</form>
			    	</div>
			    </uib-tab>
			    <uib-tab index="1"  class="track_li" classes="{{tabStatus.secondComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			      <uib-tab-heading>
			        Proposer <span><img class="check" ng-src="./image/checkmarks.png"></span>
			      </uib-tab-heading>
			      <form class="form_horizontal" name="proposer" novalidate autocomplete="off">
			     	<div class="form-panel">
			    		<div class="heads">Proposer</div>
			    		<div class="body">
			    			<div class="main-section">
			    				<div class="proposer-process">
			    					<div class="define">
			    						<img ng-src="./image/info.png">
			    						<span>The person who is paying for the policy</span>
			    					</div>
			    					<div class="row mnone">
			    						<div class="col-sm-10" style="margin-bottom:10px;">
			    							<div class="col-sm-4 list-item-proposer">
			    								<div class="form-group">
			    									<label class="control-label">Is the Proposer covered by this insurance policy ?</label>
			    									<div class="btn-group" >
				    					
								    					<label class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.IsProposerInsured=='Y'}" ng-model="healthProposalInput.proposer.IsProposerInsured" uib-btn-radio="'Y'"     required>Yes</label>
								    					<label class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.IsProposerInsured=='N'}" ng-model="healthProposalInput.proposer.IsProposerInsured" uib-btn-radio="'N'"    required>No</label>
								    					
								    				</div>
								    				<div class="has-error" ng-show="proposer.proposerCovered.$dirty && proposer.proposerCovered.$error.required">
				            							Cannot buy online if proposer is not insured.Please switch to assisted purchase.
				        							</div>
			    								</div>
			    							</div>
			    							<div class="col-sm-4 list-item-proposer">
			    							   <label class="control-label">Is the Proposer the Primary Insured?</label>
			    							   <div class="btn-group" data-toggle="buttons">
						    						<label class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.isPrimaryInsured=='Y'}" uib-btn-radio="'Y'"  ng-change="proposerInsu()" ng-model="healthProposalInput.proposer.isPrimaryInsured" required>Yes</label>
						    					    <label class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.isPrimaryInsured=='N'}" uib-btn-radio="'N'"  ng-change="proposerInsu()" ng-model="healthProposalInput.proposer.isPrimaryInsured" required>No</label>
							    				</div>
			    							</div>
			    							<div class="col-sm-4 list-item-proposer">
			    							   <div class="col-sm-12 padd0" ng-if="healthProposalInput.proposer.isPrimaryInsured=='N'||healthProposalInput.proposer.isPrimaryInsured=='Y' || healthProposalInput.proposer.isPrimaryInsured==''">
			    							   		<label class="control-label">Proposer's Relationship with Primary Insured.</label>
			    							   		<select class="form-control" ng-model="healthProposalInput.proposer.ProposerRelationCode" ng-if="healthProposalInput.proposer.gender=='M'||healthProposalInput.proposer.gender==''">
							    						<option value="">Select</option>
							    						<option value="Self">Self</option>
							    						<option value="Son">Son</option>
							    						<option value="Spouse">Spouse</option>
							    					</select>
							    					<select class="form-control" ng-model="healthProposalInput.proposer.ProposerRelationCode" ng-if="healthProposalInput.proposer.gender=='F'">
							    						<option value="">Select</option>
							    						<option value="Self">Self</option>
							    						<option value="Doughter">Doughter</option>
							    						<option value="Spouse">Spouse</option>
							    					</select>
			    							   </div>
			    							</div>
			    							<div class="clear" ng-if="healthProposalInput.proposer.isPrimaryInsured=='N'||healthProposalInput.proposer.isPrimaryInsured=='Y'" ></div>
			    							<div class="col-sm-4 list-item-proposer">
			    								
				    								<label class="control-label">Gender</label>
				    								<div class="clear"></div>
				    								<div class="btn-group">
									    				<label  class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.gender=='M'}"  ng-model="healthProposalInput.proposer.gender" ng-change="genderList()" uib-btn-radio="'M'">Male</label>
									    				<label  class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.gender=='F'}"  ng-model="healthProposalInput.proposer.gender" ng-change="genderList()" uib-btn-radio="'F'">Female</label>
									    				
									    			</div>
								    			
			    							</div>
			    							
			    							<div class="col-sm-4 list-item-proposer" >
			    								<div class="form-group">
			    									<label class="control-label">Title </label>
			    									<div class="col-sm-12 padd0" ng-if="healthProposalInput.proposer.gender=='M'||healthProposalInput.proposer.gender==undefined ||healthProposalInput.proposer.gender==''">
									    				<select class="form-control" ng-model="healthProposalInput.proposer.title" required >
									    					<option value="">Select</option>
									    					<option value="DR">Dr</option>
									    					<option value="MASTER">Master</option>
									    					<option value="MR">Mr</option>
									    				</select>
									    			</div>
									    			<div class="col-sm-12 padd0" ng-if="healthProposalInput.proposer.gender=='F'">
									    				<select class="form-control" ng-model="healthProposalInput.proposer.title" required >
									    					<option value="">Select</option>
									    					<option value="DR">Dr</option>
									    					<option value="MS">Ms</option>
									    					<option value="MISS">Miss</option>
									    					<option value="MRS">Mrs</option>
									    				</select>
									    			</div>
			    								</div>
			    							</div>
			    							
			    							<div class="col-sm-4 list-item-proposer">
			    								<label class="control-label">First Name </label>
			    								<input type="text" name="GivName" ng-model="healthProposalInput.proposer.firstName" minlength="1" maxlength="40" ng-minlength="1" ng-maxlength="40"  ng-pattern="/^[a-zA-Z ]*$/" class="form-control" required>
							    				<p class="has-error" ng-show="proposer.GivName.$dirty && proposer.GivName.$error.pattern" >
							    					Numeric and special characters are not allowed.
							    				</p>
							    				<p class="has-error" ng-show="proposer.GivName.$dirty && proposer.GivName.$error.minlength">
							    					Text too short.
							    				</p>
							    				<p class="has-error" ng-show="proposer.GivName.$dirty && proposer.GivName.$error.maxlength">
							    					Text too long.
							    				</p>
			    							</div>
			    							<div class=" clear"  ></div>
			    							<div class="col-sm-4 list-item-proposer">
			    								<label class="control-label">Middle Name</label>
			    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.middleName">
			    							</div>
			    							<!-- <div class=" clear" ng-if="healthProposalInput.proposer.isPrimaryInsured=='Y'" ></div> -->
			    							<div class="col-sm-4 list-item-proposer">
			    								<label class="control-label">Last Name </label>
			    								<input type="text" name="SurName" ng-model="healthProposalInput.proposer.lastName" class="form-control" minlength="3" maxlength="40" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" required>
							    				<p class="has-error" ng-show="proposer.SurName.$dirty && proposer.SurName.$error.pattern">
							    					Numeric and special characters are not allowed.
							    				</p>
							    				<p class="has-error" ng-show="proposer.SurName.$dirty && premiumBuy.SurName.$error.minlength">
							    					Text too short.
							    				</p>
							    				<p class="has-error" ng-show="proposer.SurName.$dirty && premiumBuy.SurName.$error.maxlength">
							    					Text too long.
							    				</p>
			    							</div>
			    							<div class="col-sm-4 list-item-proposer">
			    								<label class="control-label">Date of Birth</label>
			    								<span class="input-group">
													 <input type="text" class="form-control" name="proposerdob" 
										              uib-datepicker-popup="{{format}}" datepicker-options="proposeDob" ng-model="healthProposalInput.proposer.proposerDob" is-open="opened[$index]"  required close-text="Close" alt-input-formats="altInputFormats" min-date="minAge"    readonly="readonly" required/>
										              <span class="input-group-btn">
										                <button type="button" class="btn btn-primary" ng-click="open($event,$index)" ><i class="glyphicon glyphicon-calendar"></i></button>
										              </span>
												</span>
			    							</div>
			    							<div class=" clear" ng-if="healthProposalInput.proposer.isPrimaryInsured==undefined"></div>
			    							<div class="col-sm-4 list-item-proposer">
			    								<label class="control-label">Marital Status</label>
			    								<select class="form-control" ng-model="healthProposalInput.proposer.maritalStatus" required>
								    				<option value="">Select</option>
								    				<option value="Single">Single</option>
								    				<option value="Married">Married</option>
								    				<!-- <option value="4">Divorced</option>
								    				<option value="5">Seperated</option>
								    				<option value="3">Widowed</option> -->
								    				
								    			</select>
			    							</div>
			    							<!-- <div class=" clear" ng-if="healthProposalInput.proposer.isPrimaryInsured" ></div> -->
			    							<div class="col-sm-4 list-item-proposer">
			    								<label class="control-label">Occupation</label>
			    								<select class="form-control" ng-model="healthProposalInput.proposer.occupationType" ng-change="validateOcupation()" required>
							    					<option value="">Select</option>
							    					<option value="{{occupation.id}}" ng-repeat="occupation in occupations" ng-disabled="healthProposalInput.proposer.gender=='M' && occupation.id=='HOUSEWIFE' ">{{occupation.value}}</option>
							    				</select>
							    				<span class="has-error">{{ocupationError}}</span>
			    							</div>
			    							<div class="col-sm-4 list-item-proposer" ng-if="healthProposalInput.proposer.occupationType=='SALARIED'||healthProposalInput.proposer.occupationType=='OTHERS'">
			    								<label class="control-label">Designation</label>
			    								<input type="text" class="form-control field" name="designation" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="healthProposalInput.proposer.designation" required>
			    							</div>
			    							<div class="col-sm-4 list-item-proposer" ng-if="healthProposalInput.proposer.occupationType=='SELF EMPLOYED'">
			    								<label class="control-label">Bussiness</label>
			    								<input type="text" class="form-control" ng-model="healthProposalInput.proposer.bussiness" ng-minlength="1" ng-pattern="/^[a-zA-Z ]*$/" required>
							    				
			    							</div>
			    							
			    							<div class="col-sm-4 list-item-proposer">
			    								<label class="control-label">Nationality</label>
			    								<select class="form-control" ng-model="healthProposalInput.proposer.nationality" required>
							    					<option value="">Select</option>
							    					<option value="{{nationality.id}}" ng-repeat="nationality in nationalitys">{{nationality.value}}</option>
							    				</select>
			    							</div>
			    							<div class="clear" ng-if="healthProposalInput.proposer.occupationType=='POLITICIAN'"></div>
			    							<div class="col-sm-4 list-item-proposer">
			    								<label class="control-label">Qualification</label>
			    								<select class="form-control" ng-model="healthProposalInput.proposer.educationQualification"  required>
							    					<option value="">Select</option>
							    					<option value="{{qualification.id}}" ng-repeat="qualification in qualifications">{{qualification.value}}</option>
							    				</select>
			    							</div>
			    							
			    							<div class="col-sm-4 list-item-proposer">
			    								<label class="control-label">Pan Number</label>
			    								<input type="text" name="pan" class="form-control" ng-model="healthProposalInput.proposer.pan" ng-pattern="/^[A-Z]{5}[0-9]{4}[A-Z]{1}$/" >
							    				<span class="has-error" ng-show="proposer.pan.$error.pattern && proposer.pan.$dirty ">Invalid PAN Number.</span>	
			    							</div>
			    						</div>
			    					</div>
			    				</div>
			    			</div>
			    			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
			    		</div>
			    		<!--.body -->
			    		<div class="foot">
			    			<div class="clearfix">
			    				<div class="cf-pull-right">
			    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
                                			<img ng-src="./image/arrow-left.png">&nbsp;Back
                            		</button>
			    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="proposer.$invalid || healthProposalInput.proposer.occupationType=='POLITICIAN'" ng-click="nextSection('third')">Continue <img ng-src="./image/arrow-right.png"></button>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    	</form>
			    </uib-tab>
			     <uib-tab index="2"  class="track_li" classes="{{tabStatus.thirdComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			     	<uib-tab-heading>Insured Member <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
			     	<form class="form-horizontal" name="insured_member" autocomplete="off" novalidate>
			     		<div class="form-panel">
			    			<div class="heads">Insured Member</div>
			    				<div class="body">
			    					<div class="main-section">
			    						<div class="proposer-process">
					    					<div class="define">
					    						<img ng-src="./image/info.png">
					    						<span>The person who is paying for the policy</span>
					    					</div>
			    							<div class="row mnone insured_mnone" ng-repeat="(indexA,insureds) in healthProposalInput.insured  | orderBy: 'dob'">
			    								<div class="col-sm-2">Insured Person's Details for <span ng-if="insureds.type=='A'">Adult</span><span ng-if="insureds.type=='C'">Child</span>   {{insureds.dob |date:'yyyy-MM-dd'}}</div>
			    								<div class="col-sm-10" style="margin-bottom:10px;">
			    									<div class="col-sm-4">
			    										<label class="control-label">Gender</label>
			    										<div class="clear"></div>
			    										<div class="btn-group" data-toggle="buttons">
															<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexA].gender" ng-disabled="healthProposalInput.insured[indexA].gender"  uib-btn-radio="'M'">Male</label>
															<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexA].gender" ng-disabled="healthProposalInput.insured[indexA].gender"  uib-btn-radio="'F'">Female</label>
															
														</div>
			    									</div>
			    									<div class="col-sm-4">
			    										<label class="control-label">Title</label>
			    										<div class="col-sm-12 padd0" ng-if="healthProposalInput.insured[indexA].gender=='M' || healthProposalInput.insured[indexA].gender=='' || healthProposalInput.insured[indexA].gender==undefined"  >
															<select class="form-control" ng-model="healthProposalInput.insured[indexA].title" ng-disabled='IsPrimaryInsuDisbaled && $index==0' required>
																<option value="">Select</option>
										    					<option value="DR">Dr</option>
										    					<option value="MASTER">Master</option>
										    					<option value="MR">Mr</option>
										    					<option value="MRS">Mrs</option>
															</select>
														</div>
														<div class="col-sm-12 padd0" ng-if="healthProposalInput.insured[indexA].gender=='F'"  >
						
															<select class="form-control" ng-model="healthProposalInput.insured[indexA].title" ng-disabled='IsPrimaryInsuDisbaled && $index==0' required>
																<option value="">Select</option>
										    					<option value="DR">Dr</option>
										    					<option value="MS">Ms</option>
										    					<option value="MISS">Miss</option>
										    					<option value="BABY">Baby Girl</option>
										    					
															</select>
														</div>
			    									</div>
			    									<div class="col-sm-4">
			    										<label class="control-label required">First Name</label>
			    										<input type="text" class="form-control" name="InsFirstName" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="healthProposalInput.insured[indexA].firstName" required>
			    									</div>
			    									<div class="clear"></div>
			    									<div class="col-sm-4">
			    										<label class="control-label required">Middle Name</label>
			    										<input type="text" class="form-control" name="InsFirstName"  ng-model="healthProposalInput.insured[$index].middleName" >
			    									</div>
			    									<div class="col-sm-4">
			    										<label class="control-label">Last Name</label>
			    										<input type="text" class="form-control" name="InsLastName"  ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-disabled='IsPrimaryInsuDisbaled && $index==0' ng-model="healthProposalInput.insured[indexA].lastName" required>
			    									</div>
			    									<div class="col-sm-4">
			    										<label class="control-label"> Date of Birth</label>
			    										
			    										<input type="text" class="form-control" name="proposerdob" 
											                ng-model="healthProposalInput.insured[indexA].dob"      required      readonly="readonly"/>
			    										
			    									</div>
			    									<div class="col-sm-4">
			    										<label class="control-label">Relationship with Proposer</label>
			    										
														<div class="col-sm-12 padd0">
															<select class=" form-control" ng-model="healthProposalInput.insured[indexA].relationshipId" required>
																<option value="">Select</option>
																<option value="{{relationship.id}}" ng-repeat="relationship in relationships">{{relationship.value}}</option>
															</select>
														</div>
			    									</div>
			    									
			    									<div class="col-sm-4 list-item-proposer">
					    								<label class="control-label">Occupation</label>
					    								<select class="form-control" ng-model="healthProposalInput.insured[indexA].occupationType" ng-change="validateOcupation()" required>
									    					<option value="">Select</option>
									    					<option value="{{occupation.id}}" ng-repeat="(inedxY,occupation) in occupations track by inedxY" ng-disabled="healthProposalInput.insured[indexA].gender=='M' && occupation.id=='HOUSEWIFE' ">{{occupation.value}}</option>
									    				</select>
									    				<span class="has-error">{{ocupationError}}</span>
					    							</div>
					    							<div class="col-sm-4 list-item-proposer" ng-if="healthProposalInput.insured[indexA].occupationType=='SALARIED'||healthProposalInput.insured[indexA].occupationType=='OTHERS'">
					    								<label class="control-label">Designation</label>
					    								<input type="text" class="form-control field" name="designation" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="healthProposalInput.insured[indexA].designation" required>
					    							</div>
					    							<div class="col-sm-4 list-item-proposer" ng-if="healthProposalInput.insured[indexA].occupationType=='SELF EMPLOYED'">
					    								<label class="control-label">Bussiness</label>
					    								<input type="text" class="form-control" ng-model="healthProposalInput.insured[indexA].bussiness" ng-minlength="1" ng-pattern="/^[a-zA-Z ]*$/" required>
									    				
					    							</div>
			    									<div class="col-sm-4">
			    										<label class="control-label">Marital Status</label>
			    										<select class="form-control" ng-model="healthProposalInput.insured[indexA].maritalStatus" required>
									    					<option value="">Select</option>
									    					<option value="2">Single</option>
										    				<option value="1">Married</option>
										    				<option value="4">Divorced</option>
										    				<option value="5">Seperated</option>
										    				<option value="3">Widowed</option> 
									    				</select>
			    									</div>
			    									<ng-form name="heightForm">
			    									
			    									<div class="col-sm-4">
			    										<label class="control-label">Height in cm</label>
			    										<input type="text" class="form-control" minlength="2" maxlength="3" ng-minlength="2" ng-maxlength="3" name="heightCm"  ng-model="healthProposalInput.insured[indexA].height" ng-pattern="/^[0-9]*$/" ng-keyup="WeightKg(wieghtForm,healthProposalInput.insuredPersons[indexA].weightKg,healthProposalInput.insuredPersons[indexA].heightCm)" required>
														<div class="has-error" ng-show="heightForm.heightCm.$dirty && heightForm.heightCm.$error.pattern">
															Invalid numeric value.
														</div>
			    									</div>
			    									</ng-form>
			    									<ng-form name="wieghtForm">
			    									<div class="col-sm-4">
			    										<label class="control-label"> Weight in kg</label>
			    										<input type="text" class="form-control" minlength="2" maxlength="3" ng-minlength="2" ng-maxlength="3" name="weightKg"  ng-model="healthProposalInput.insured[indexA].weight" ng-pattern="/^[0-9]*$/" ng-keyup="WeightKg(wieghtForm,healthProposalInput.insuredPersons[indexA].weightKg,healthProposalInput.insuredPersons[indexA].heightCm)" required>
														<div class="has-error" ng-show="wieghtForm.weightKg.$dirty && wieghtForm.weightKg.$error.required">
															Insurer has requested a referral as BMI is not in normal range.Please switch to assisted purchase.
														</div>
														<div class="has-error" ng-show="wieghtForm.weightKg.$dirty && wieghtForm.weightKg.$error.pattern">
															Invalid numeric value.
														</div>
			    									</div>
			    									</ng-form>
			    								</div>
			    								
			    							</div>
			    							
			    						</div>
			    					</div>
			    					
			    				</div>
			    			   <div class="foot">
					    			<div class="clearfix">
					    				<div class="cf-pull-right">
					    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(1)" style="/* display: none; */">
		                                			<img ng-src="./image/arrow-left.png">&nbsp;Back
		                            		</button>
					    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="insured_member.$invalid" ng-click="nextSection('fourth')">Continue <img ng-src="./image/arrow-right.png"></button>
					    				</div>
					    			</div>
				    		 </div>
			    		</div>
			    	
			     	</form>
			     </uib-tab>
			     <uib-tab index="3" class="track_li" classes="{{tabStatus.fourthComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			     	<uib-tab-heading>
			     		Nominee <span><img class="check" ng-src="./image/checkmarks.png"></span>
			     	</uib-tab-heading>
			     	 <form class="form-horizontal" name="nominee" autocomplete="off" novalidate>
			     		<div class="form-panel">
			    			<div class="heads">Nominee</div>
			    			<div class="body">
			    				<div class="main-section">
			    					<div class="Nominee-process">
			    						<div class="define">
					    						<img ng-src="./image/info.png">
					    						<span> In the event of the death of an Insured Person any payment due under the Policy shall become payable to the nominee as per the Policy terms and conditions. The nominee must be an immediate relative of the Proposer. Nominee for any of the persons proposed to be insured shall be the Proposer.</span>
				    					</div>
				    					<div class="row mnone">
				    						<h3>Nominee for&nbsp;<span data-bind="text: details().verbose">Insured</span></h3>
				    						<div class="col-sm-10">
				    							<div class="col-sm-4">
				    								<label class="control-label">Relationship With Proposer</label>
				    								<select class="form-control field" ng-model="healthProposalInput.proposer.nomineeRel">
				    									<option value="{{relationship.id}}" ng-repeat="relationship in relationships">{{relationship.value}}</option>
				    								</select>
				    								
				    							</div>
				    							<div class="col-sm-4">
				    								<label class="control-label">First Name</label>
				    								<input type="text" class="form-control field" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="healthProposalInput.proposer.nomineeName" required>
				    							</div>
				    							<div class="col-sm-4">
				    								<label class="control-label">Last Name</label>
				    								<input type="text" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" class="form-control field" ng-model="healthProposalInput.proposer.nomineeLastName" required>
				    							</div>
				    							<div class="clear"></div>
				    							<div class="col-sm-4">
				    								<label class="control-label">Gender</label>
		    										<div class="clear"></div>
		    										<div class="btn-group" data-toggle="buttons">
														<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.proposer.nomineeGender"   uib-btn-radio="'M'">Male</label>
														<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.proposer.nomineeGender"   uib-btn-radio="'F'">Female</label>
													</div>
				    							</div>
				    							<div class="col-sm-4">
				    								<label class="control-label">DOB</label>
		    										<span class="input-group">
														 	<input type="text" class="form-control" name="nomineeDon" uib-datepicker-popup="{{}}" ng-model="healthProposalInput.proposer.nomineeDOB"  is-open="opened[$index]" datepicker-options="nomineeDob" ng-required="true" close-text="Close" ng-change="nomineeDobCalculateAge(healthProposalInput.proposer.nomineeDOB)" alt-input-formats="altInputFormats" date-parser required/>
														 	<span class="input-group-btn">
													            	<button type="button" class="btn btn-primary btn_prim " ng-click="open($event,$index)"><i class="glyphicon glyphicon-calendar"></i></button>
													          </span>
														 </span>
				    							</div>
				    							<div class="col-sm-4" ng-if="healthProposalInput.proposer.nomineeAge<18">
				    								<label class="control-label">Guardian </label>
				    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.nomineeGardian">
				    							</div>
				    							
				    						</div>
				    					</div>
			    					</div>
			    				</div>
			    				<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
			    			</div>
			    			<!-- ./body -->
			    			<div class="foot">
					    			<div class="clearfix">
					    				<div class="cf-pull-right">
					    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(2)" style="/* display: none; */">
		                                			<img ng-src="./image/arrow-left.png">&nbsp;Back
		                            		</button>
					    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="nominee.$invalid" ng-click="nextSection('fifth')">Continue <img ng-src="./image/arrow-right.png"></button>
					    				</div>
					    			</div>
				    		 </div>
			    		</div>
			    	</form>
			     </uib-tab>
			     <uib-tab index="4" class="track_li" classes="{{tabStatus.fifthComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			     	<uib-tab-heading>
			     		Contact Info. <span><img class="check" ng-src="./image/checkmarks.png"></span>
			     	</uib-tab-heading>
			     	 <form class="form-horizontal" name="contactInfo" autocomplete="off" novalidate>
			     		<div class="form-panel">
			    			<div class="heads">Contact Info.</div>
			    				<div class="body">
			    					<div class="main-section">
			    						<div class="contact-process">
					    					<div class="define">
					    						<img ng-src="./image/info.png">
					    						<span>The person who is paying for the policy</span>
					    					</div>
					    					<div class="row mnone">
						    					<div class="col-sm-6 add-borde"> 
						    						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Mailing Address</h3>
						    						<div class="col-sm-12">
						    							<label class="control-label">Flat/House No, Street</label>
						    							<input type="text" class="form-control field" name="addr_one" ng-minlength="5" ng-model="healthProposalInput.proposer.address[1].addressLine1"  required>
						    							<div class="has-error" ng-show="contactInfo.addr_one.$dirty && contactInfo.addr_one.$error.minlength">
															Minimum length is 5
														</div>
						    						</div>
						    						<div class="col-sm-12">
						    							<label class="control-label">Area/Locality</label>
						    							<input type="text" name="addr_two" class="form-control field" ng-minlength="5" ng-model="healthProposalInput.proposer.address[1].addressLine2"  required>
						    							<div class="has-error" ng-show="contactInfo.addr_two.$dirty && contactInfo.addr_two.$error.minlength">
															Minimum length is 5
														</div>
						    						</div>
						    						<div class="col-sm-12">
						    							<label class="control-label">Landmark</label>
						    							<input type="text" class="form-control field" name="addr_three" ng-minlength="5" ng-model="healthProposalInput.proposer.address[1].addressLine3"  required>
						    							<div class="has-error" ng-show="contactInfo.addr_three.$dirty && contactInfo.addr_three.$error.minlength">
															Minimum length is 5
														</div>
						    						</div>
						    						<div class="col-sm-12 padd0">
						    							
						    							<div class="col-sm-6">
						    								<label class="control-label">State</label>
						    								<!-- <input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].state" readonly required> -->
						    								<ui-select ng-model="polState" name="polState" theme="bootstrap" ng-change="changeState(polState,'parmanent')" required>
													            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
													            <ui-select-choices repeat="polState in states | filter: $select.search |  orderBy:sortorder">
													              <div ng-bind-html="polState.value | highlight: $select.search">
													              	
													              </div>
													             </ui-select-choices>
													          </ui-select>
						    							</div>
						    							<div class="col-sm-6">
						    								<label class="control-label">City</label>
						    								<!-- <input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].city" readonly required> -->
						    								<ui-select ng-model="polCity" name="polCity" theme="bootstrap"  ng-change="changeCity(polCity,'parmanent')" >
													            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
													            <ui-select-choices repeat="polCity in city | filter: $select.search |  orderBy:sortorder">
													              <div ng-bind-html="polCity.value | highlight: $select.search">
													              	
													              </div>
													             </ui-select-choices>
													          </ui-select>
						    							</div>
						    							<div class="clear"></div>
						    							<div class="col-sm-6">
						    								<label class="control-label">Pincode</label>
						    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].pincode" ng-keypress="filterValue($event)" ng-minlength="6"  ng-maxlength="6" required>
						    								<span class="has-error " ng-show="showError=='false'">Invalid Pin Code</span>
						    							</div>
						    						</div>
						    					</div>
						    					<div class="col-sm-6">
						    						<h3><img src="./image/phone.png">&nbsp;&nbsp;Contact details</h3>
						    						<div class="col-sm-12">
						    							<label class="control-label">Email</label>
						    							<input type="text" class="form-control field" name="proEmail" ng-model="healthProposalInput.proposer.contacts[1].contactText" ng-pattern="/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/"  required>
						    							<div class="has-error" ng-show="contactInfo.proEmail.$dirty && contactInfo.proEmail.$error.pattern">
									    					Invalid Email id.
									    				</div>
						    						</div>
						    						<div class="col-sm-12">
						    							<label class="control-label">Mobile</label>
						    							<input type="text" name="proMobile" class="form-control field" ng-model="healthProposalInput.proposer.contacts[0].contactText"  ng-maxlength="10" ng-minlength="10" maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/" required>
						    							<div class="has-error" ng-show="contactInfo.proMobile.$dirty && contactInfo.proMobile.$error.pattern">
									    					Invalid Mobile Number.
									    				</div>
									    				<div class="has-error" ng-show="contactInfo.proMobile.$dirty && contactInfo.proMobile.$error.maxlength">
									    					Enter a valid 10 digit mobile number
									    				</div>
						    						</div>
						    						<div class="clear"></div>
						    						<div class="row mnone">
							    						<div class="col-sm-4">
							    							<label class="control-label">Landline</label>
							    							<input type="text" class="form-control field"   ng-model="healthProposalInput.proposer.stdCode"  >
							    							<span class="small">e.g. "022"</span>
							    						</div>
							    						<div class="col-sm-8">
							    						 	<label class="control-label" style="margin-top:30px;"></label>
							    							<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.landLine"  >
							    							<span class="small">enter your number</span>
							    						</div>
						    						</div>
						    						
						    					</div>
						    					<div class="clear"></div>
						    					<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
						    					<div class="col-sm-10">
						    						<h4>Nominee Address</h4>
						    						<div class="col-sm-4">
						    							<label class="control-label">Flat/House No, Street</label>
						    							<input type="text" name="nomAdd_one" class="form-control field" ng-model="healthProposalInput.proposer.nomineeAddress1"  required>
						    							
						    						</div>
						    						<div class="col-sm-4">
						    							<label class="control-label">Area/Locality</label>
						    							<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.nomineeAddress2"  required>
						    						</div>
						    						<div class="col-sm-4">
						    								<label class="control-label">State</label>
						    								<!-- <input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].state" readonly required> -->
						    								<ui-select ng-model="nomineeState" name="polState" theme="bootstrap" ng-change="changeState(nomineeState,'nominee')" required>
													            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
													            <ui-select-choices repeat="nomineeState in states | filter: $select.search |  orderBy:sortorder">
													              <div ng-bind-html="nomineeState.value | highlight: $select.search">
													              	
													              </div>
													             </ui-select-choices>
													          </ui-select>
						    							</div>
						    							<div class="clear"></div>
						    							<div class="col-sm-4">
						    								<label class="control-label">City</label>
						    								<!-- <input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].city" readonly required> -->
						    								<ui-select ng-model="nomineeCity" name="nomCity" theme="bootstrap"  ng-change="changeCity(nomineeCity,'nominee')" required>
													            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
													            <ui-select-choices repeat="nomineeCity in cityNominee | filter: $select.search |  orderBy:sortorder">
													              <div ng-bind-html="nomineeCity.value | highlight: $select.search">
													              	
													              </div>
													             </ui-select-choices>
													          </ui-select>
						    							</div>
						    							<div class="col-sm-4">
						    								<label class="control-label">Pincode</label>
						    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.nomineePincode" ng-keypress="filterValue($event)" ng-minlength="6"  ng-maxlength="6" required>
						    								<span class="has-error " ng-show="showError=='false'">Invalid Pin Code</span>
						    							</div>
						    					</div> 
						    				</div>
					    				</div>
					    			</div>
					    			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
					    		</div>
					    		<!-- .body  -->
					    		<div class="foot">
					    			<div class="clearfix">
					    				<div class="cf-pull-right">
					    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(3)" style="/* display: none; */">
		                                			<img ng-src="./image/arrow-left.png">&nbsp;Back
		                            		</button>
					    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="contactInfo.$invalid" ng-click="nextSection('sixth')">Continue <img ng-src="./image/arrow-right.png"></button>
					    				</div>
					    			</div>
				    		 	</div>
					    	</div>
					    </form>
			     </uib-tab>
			     <uib-tab index="5" class="track_li" classes="{{tabStatus.sixthComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			     	<uib-tab-heading>
			     		Medical History <span><img class="check" ng-src="./image/checkmarks.png"></span>
			     	</uib-tab-heading>
			     	 <form class="form-horizontal" name="medical" autocomplete="off" novalidate>
			     		<div class="form-panel">
			    			<div class="heads">Medical History</div>
			    				<div class="body">
			    					<div class="main-section">
			    						<div class="contact-process">
					    					<div class="define">
					    						<img ng-src="./image/info.png">
					    						<span>Have any of the person proposed to be insured ever suffered from/ are currently suffering from any of the following</span>
					    					</div>
					    					<div class="innerformTabs">
					    						<div class="tabbable innerformTabs tabs-left">
					    							<ul class="resp-tabs-list nav nav-tabs medical-tabs">
											              <li class="done" ng-class="{'active': iTab1Index == indexA,'last':healthProposalInput.insured.length-1==indexA}" ng-style="{width:rowWidth(healthProposalInput.insured.length) +'%'}" ng-repeat="(indexA,insureds) in healthProposalInput.insured  | orderBy: 'dob'" ><a href="" ng-click="iTab1Indexs(indexA)" style="padding-top:5px;"><span class="insurednametitle" ng-if="insureds.type=='A'">{{insureds.firstName}}</span><span class="insurednametitle" ng-if="insureds.type=='C'">{{insureds.firstName}}</span><span class="insuredname">asd</span></a></li>
											           
											            </ul>
											            <div class="tab-content">
											            	<div class="tab-pane" ng-class="{'active': iTab1Index == indexB}" ng-repeat="(indexB,insureds) in healthProposalInput.insured  | orderBy: 'dob'">
											            		<div class="row mnone conditional-question"   ng-repeat="(indexC,medicalQuition) in insureds.pedList track by indexC">
															      	<div class="col-sm-8 pnone">
										    							<div class="quest-pad">
										    								<span class="q-point">Q</span>
										    								<span class="">{{medicalQuitions[indexB].q}}</span></br>
										    								
										    							</div>
										    						</div>
										    						<div classs="col-sm-4 pnone">
											    						<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexB].pedList[indexC].exists" uib-btn-radio="'Y'" required>Yes</label>
																		<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexB].pedList[indexC].exists"   uib-btn-radio="'N'" required>No</label>
										    						</div>
															      </div>
											            	</div>
											            	
											            </div>
					    						</div>
					    						
					    					</div>
					    				 </div>
					    				 </div>
					    				 <p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
					    			 </div>
					    			 <!--.body  -->
					    			 <div class="foot">
						    			<div class="clearfix">
						    				<div class="cf-pull-right">
						    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(4)" style="/* display: none; */">
			                                			<img ng-src="./image/arrow-left.png">&nbsp;Back
			                            		</button>
						    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="medical.$invalid" ng-click="nextSection('seventh')">Continue <img ng-src="./image/arrow-right.png"></button>
						    				</div>
						    			</div>
					    		 	</div>
					    		</div>
					    </form>
			     </uib-tab>
			     <uib-tab index="6"  classes="{{tabStatus.seventhComplete}}" ng-style="{width:rowWidth(proposalList.length) +'%'}">
			     	<uib-tab-heading>
			     		Life Style <span><img class="check" ng-src="./image/checkmarks.png"></span>
			     	</uib-tab-heading>
			     	<form class="form-horizontal" name="life" autocomplete="off" autocomplete="off" novalidate>
			     		<div class="form-panel">
			     			<div class="heads">Life Style </div>
			     			<div class="body">
			     				<div class="contact-process">
					    					<div class="define">
					    						<img ng-src="./image/info.png">
					    						<span>Have any of the person proposed to be insured ever suffered from/ are currently suffering from any of the following</span>
					    					</div>
					    					<div class="innerformTabs">
					    						<div class="tabbable innerformTabs tabs-left">
					    							<ul class="resp-tabs-list nav nav-tabs medical-tabs">
											               <li class="done" ng-class="{'active': iTabLifeIndex == indexD,'last':healthProposalInput.insured.length-1==indexD}" ng-style="{width:rowWidth(healthProposalInput.insured.length) +'%'}" ng-repeat="(indexD,insureds) in healthProposalInput.insured  | orderBy: 'dob'" ng-if="insureds.type=='A'"><a href="" ng-click="iTabLifeIndexs(indexD)" style="padding-top:5px;"><span class="insurednametitle" ng-if="insureds.type=='A'">{{insureds.firstName}}</span><span class="insuredname">asd</span></a></li>
											           
											            </ul>
											            <div class="tab-content">
											            	<div class="tab-pane" ng-class="{'active': iTabLifeIndex == indexE}" ng-repeat="(indexE,insureds) in healthProposalInput.insured  | orderBy: 'dob'" ng-if="insureds.type=='A'">
											            		<div class="row mnone conditional-question"   ng-repeat="(indexF,lifestyleInfos) in insureds.lifestyleInfo track by indexF" ng-if="indexF!=2">
															      	<div class="col-sm-8 pnone">
										    							<div class="quest-pad" ng-init="">
										    								<span class="q-point">Q</span>
										    								<span class="">{{lifeStyelQuitions[indexF].q}}</span></br>
										    								
										    							</div>
										    						</div>
										    						<div classs="col-sm-4 pnone">
											    						<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexE].lifestyleInfo[indexF].value" uib-btn-radio="'Y'" required>Yes</label>
																		<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexE].lifestyleInfo[indexF].value"   uib-btn-radio="'N'" required>No</label>
																		<div class="clear"></div>	
																		<div class="col-sm-12 padd0" ng-if="healthProposalInput.insured[indexE].lifestyleInfo[indexF].value=='Y'">
																			<div class="col-sm-4">
																				<label class="control-label">Quantity</label>
																			</div>
																			<div class="col-sm-4">
																				<input type="text" class="form-control" placeholder="Quantity" ng-keypress="filterValue($event)" ng-model="healthProposalInput.insured[indexE].lifestyleInfo[indexF].quantity">
																			</div>
																			<div class=clear></div>
																			<div class="col-sm-4">
																				<label class="control-label">No of year</label>
																			</div>
																			<div class="col-sm-4">
																			<input type="text" class="form-control" placeholder="No of year" ng-keypress="filterValue($event)" ng-model="healthProposalInput.insured[indexE].lifestyleInfo[indexF].noOfYears" >
																			</div>
																			
																			<div class="clear"></div>	
																			
																		</div>
										    						</div>
															      </div> 
											            	</div> 
											            	
											            </div>
					    						</div>
					    						
					    					</div>
					    				 </div>
					    			
					    				 <p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
			     			</div>
			     			 <!--.body  -->
			     			  <div class="foot">
				    			<div class="clearfix">
				    				<div class="cf-pull-right">
				    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(5)" style="/* display: none; */">
	                                			<img ng-src="./image/arrow-left.png">&nbsp;Back
	                            		</button>
				    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="medical.$invalid" ng-click="nextSection('eight')">Continue <img ng-src="./image/arrow-right.png"></button>
				    				</div>
				    			</div>
			    		 	</div>
			    		 	<!--.foot  -->
			     		</div>
			     	</form>
			     </uib-tab>
			     <uib-tab index="7" class="last"  ng-style="{width:rowWidth(proposalList.length) +'%'}">
			     	<uib-tab-heading>
			     		T & C <span style="padding-top:4px;"><img src="./image/cart.png"></span>
			     	</uib-tab-heading>
			     	<div class="form-panel">
			     		<div class="heads">T & C </div>
			     		<div class="body">
			     			<div class="main-section">
			     				<div class="buy-process">
			     					<div id="summary-wrapper">
			     						<div class="summary-stage">
			     							<p>The information provided by me in this document is True to the best of my knowledge.</p>
			     							<p>This proposal will be the basis of any insurance policy that We may issue. You must disclose all facts relevant to all persons proposed to be insured that may affect Our decision to issue a policy or its price, terms, conditions and exclusions. Non-compliance may result in the avoidance of the Policy. If there is insufficient space for you to provide information whether as requested or otherwise, please attach a separate sheet. If you are in any doubt, please seek the advice of your insurance advisor. We are under no obligation to accept any proposal for insurance. If We accept a proposal for insurance, it shall be subject to the Policy terms and conditions and We shall have no liability to make any payment under the Policy if premium is not received by Us in full and in time, or is not realised or non-fullfillment of pre-policy check-up.</p>
			     						</div>
			     						<div class="summary-stage">
			     							<div class="title">
			     								<h3>Policy</h3>
			     							    <span class="btn btn-primary" ng-click="back(0)">Edit</span>
			     							</div>
			     							<div class="stage-body">
			     								<div class="row mnone">
			    									<div class="col-sm-10" style="margin-bottom:10px;">
					    								<div class="col-sm-4">
					    									<div class="form-group">
					    										<label class="control-label">Policy Start Date</label>
					    										<input type="text" class="form-control summary-field" name="polStartDate"  ng-model="healthProposalInput.policy.policyStartdate" readonly   required/>
															</div>
					    							     </div>
					    							     <div class="col-sm-4">
					    									<div class="form-group">
					    										<label class="control-label">Policy End Date</label>
					    										<input type="text" class="form-control summary-field" ng-model="healthProposalInput.policy.policyEnddate" readonly required>
					    									</div>
					    							     </div>
			    									</div>
						    					</div>
			     							</div>
			     						</div>
			     						<div class="summary-stage">
			     							<div class="title">
			     								<h3>Proposer </h3>
			     							    <span class="btn btn-primary" ng-click="back(1)">Edit</span>
			     							</div>
			     							<div class="stage-body">
			     								<div class="col-sm-10" style="margin-bottom:10px;">
					    							<div class="col-sm-4 list-item-proposer">
					    								<div class="form-group">
					    									<label class="control-label">Is the Proposer covered by this insurance policy ?</label>
					    									<div class="btn-group" >
						    									<label class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.IsProposerInsured=='Y'}" ng-model="healthProposalInput.proposer.IsProposerInsured" uib-btn-radio="'Y'" ng-disabled="healthProposalInput.proposer.IsProposerInsured"    required>Yes</label>
										    					<label class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.IsProposerInsured=='N'}" ng-model="healthProposalInput.proposer.IsProposerInsured" uib-btn-radio="'N'" ng-disabled="healthProposalInput.proposer.IsProposerInsured"   required>No</label>
										    				</div>
									    				</div>
			    									</div>
					    							<div class="col-sm-4 list-item-proposer">
					    							   <label class="control-label">Is the Proposer the Primary Insured?</label>
					    							   <div class="btn-group" data-toggle="buttons">
								    						<label class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.isPrimaryInsured=='Y'}" uib-btn-radio="'Y'"  ng-change="proposerInsu()" ng-model="healthProposalInput.proposer.isPrimaryInsured" ng-disabled="healthProposalInput.proposer.isPrimaryInsured" required>Yes</label>
								    					    <label class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.isPrimaryInsured=='N'}" uib-btn-radio="'N'"  ng-change="proposerInsu()" ng-model="healthProposalInput.proposer.isPrimaryInsured" ng-disabled="healthProposalInput.proposer.isPrimaryInsured" required>No</label>
									    				</div>
					    							</div>
					    							<div class="col-sm-4 list-item-proposer">
					    							   <div class="col-sm-12 padd0" ng-if="healthProposalInput.proposer.isPrimaryInsured=='N' ">
					    							   		<label class="control-label">Proposer's Relationship with Primary Insured.</label>
					    							   		<input type="text" class="form-control" ng-model="healthProposalInput.proposer.ProposerRelationCode" readonly>
					    							   	</div>
					    							</div>
			    									<div class="clear" ng-if="healthProposalInput.proposer.isPrimaryInsured=='N'" ></div>
					    							<div class="col-sm-4 list-item-proposer">
					    								<div class="form-group">
						    								<label class="control-label">Gender</label>
						    								<div class="clear"></div>
						    								<div class="btn-group">
											    				<label  class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.gender=='M'}"  ng-model="healthProposalInput.proposer.gender" ng-disabled="healthProposalInput.proposer.gender" uib-btn-radio="'M'">Male</label>
											    				<label  class="btn btn-primary btn_prim" ng-class="{'active':healthProposalInput.proposer.gender=='F'}"  ng-model="healthProposalInput.proposer.gender" ng-disabled="healthProposalInput.proposer.gender" ng-change="genderList()" uib-btn-radio="'F'">Female</label>
										    				</div>
										    			</div>
					    							</div>
			    							
					    							<div class="col-sm-4 list-item-proposer" >
					    								<div class="form-group">
					    									<label class="control-label">Title </label>
					    									<input type="text" class="form-control" ng-model="healthProposalInput.proposer.title" readonly>
					    								</div>
					    							</div>
			    									<div class="col-sm-4 list-item-proposer">
					    								<label class="control-label">First Name </label>
					    								<input type="text" name="GivName" ng-model="healthProposalInput.proposer.firstName"  class="form-control" readonly>
									    			</div>
					    							<div class=" clear" ng-if="healthProposalInput.proposer.isPrimaryInsured=='N'" ></div>
					    							<div class="col-sm-4 list-item-proposer">
					    								<label class="control-label">Middle Name</label>
					    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.middleName" readonly>
					    							</div>
			    									<div class=" clear" ng-if="healthProposalInput.proposer.isPrimaryInsured=='Y'" ></div>
					    							<div class="col-sm-4 list-item-proposer">
					    								<label class="control-label">Last Name </label>
					    								<input type="text" name="SurName" ng-model="healthProposalInput.proposer.lastName" class="form-control"  readonly>
									    				
					    							</div>
					    							<div class="col-sm-4 list-item-proposer">
					    								<label class="control-label">Date of Birth</label>
					    								<span class="input-group">
															 <input type="text" class="form-control" name="proposerdob" 
												              uib-datepicker-popup="{{format}}" datepicker-options="proposeDob" ng-model="healthProposalInput.proposer.proposerDob" is-open="opened[$index]"  required close-text="Close" alt-input-formats="altInputFormats" min-date="minAge"    readonly="readonly" required/>
												              <span class="input-group-btn">
												                <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-calendar"></i></button>
												              </span>
														</span>
					    							</div>
					    							<div class=" clear" ng-if="healthProposalInput.proposer.isPrimaryInsured==undefined"></div>
					    							<div class="col-sm-4 list-item-proposer">
					    								<label class="control-label">Marital Status</label>
					    								<input type="text" class="form-control" ng-model="healthProposalInput.proposer.maritalStatus" readonly>
					    								
					    							</div>
			    									<div class=" clear" ng-if="healthProposalInput.proposer.isPrimaryInsured=='Y'" ></div>
					    							<div class="col-sm-4 list-item-proposer">
					    								<label class="control-label">Occupation</label>
					    								<input type="text" class="form-control" ng-model="healthProposalInput.proposer.occupationType" readonly>
					    							</div>
					    							<div class="col-sm-4 list-item-proposer" ng-if="healthProposalInput.proposer.occupationType=='SALARIED'||healthProposalInput.proposer.occupationType=='OTHERS'">
					    								<label class="control-label">Designation</label>
					    								<input type="text" class="form-control field" name="designation"  ng-model="healthProposalInput.proposer.designation" readonly>
					    							</div>
					    							<div class="col-sm-4 list-item-proposer" ng-if="healthProposalInput.proposer.occupationType=='SELF EMPLOYED'">
					    								<label class="control-label">Bussiness</label>
					    								<input type="text" class="form-control" ng-model="healthProposalInput.proposer.bussiness" readonly>
									    			</div>
			    									<div class="col-sm-4 list-item-proposer">
					    								<label class="control-label">Nationality</label>
					    								<input type="text" class="form-control" ng-model="healthProposalInput.proposer.nationality"  readonly>
									    			</div>
			    									<div class="clear" ng-if="healthProposalInput.proposer.occupationType=='POLITICIAN'"></div>
					    							<div class="col-sm-4 list-item-proposer">
					    								<label class="control-label">Qualification</label>
					    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.educationQualification" readonly>
					    							</div>
			    									<div class="col-sm-4 list-item-proposer">
					    								<label class="control-label">Pan Number</label>
					    								<input type="text" name="pan" class="form-control" ng-model="healthProposalInput.proposer.pan" readonly >
									    			</div>
			    								</div>
			     							</div>
			     						</div>
			     						<div class="summary-stage">
			     							<div class="title">
			     								<h3>Insured Member  </h3>
			     							    <span class="btn btn-primary" ng-click="back(2)">Edit</span>
			     							</div>
			     							<div class="stage-body">
							  				  <div class="row mnone" ng-repeat="(indexA,insureds) in healthProposalInput.insured  | orderBy: 'dob'">
			    								<div class="col-sm-2">Insured Person's Details for <span ng-if="insureds.type=='A'">Adult</span><span ng-if="insureds.type=='C'">Child</span>   {{insureds.dob |date:'yyyy-MM-dd'}}</div>
			    								<div class="col-sm-10" style="margin-bottom:10px;">
			    									<div class="col-sm-4">
			    										<label class="control-label">Gender</label>
			    										<div class="clear"></div>
			    										<div class="btn-group" data-toggle="buttons">
															<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexA].gender" ng-disabled="healthProposalInput.insured[indexA].gender"  uib-btn-radio="'M'">Male</label>
															<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexA].gender" ng-disabled="healthProposalInput.insured[indexA].gender"  uib-btn-radio="'F'">Female</label>
														</div>
			    									</div>
			    									<div class="col-sm-4">
			    										<label class="control-label">Title</label>
			    										<input type="text" class="form-control" ng-model="healthProposalInput.insured[indexA].title" readonly>
			    									</div>
			    									<div class="col-sm-4">
			    										<label class="control-label required">First Name</label>
			    										<input type="text" class="form-control" name="InsFirstName"  ng-model="healthProposalInput.insured[indexA].firstName" readonly>
			    									</div>
			    									<div class="clear"></div>
			    									<div class="col-sm-4">
			    										<label class="control-label required">Middle Name</label>
			    										<input type="text" class="form-control" name="InsFirstName"  ng-model="healthProposalInput.insured[$index].middleName" readonly>
			    									</div>
			    									<div class="col-sm-4">
			    										<label class="control-label">Last Name</label>
			    										<input type="text" class="form-control" name="InsLastName"   ng-model="healthProposalInput.insured[indexA].lastName" readonly>
			    									</div>
			    									<div class="col-sm-4">
			    										<label class="control-label"> Date of Birth</label>
			    										<input type="text" class="form-control" name="proposerdob"  ng-model="healthProposalInput.insured[indexA].dob"  readonly="readonly"/>
			    										
			    									</div>
			    									<div class="col-sm-4">
			    										<label class="control-label">Relationship with Proposer</label>
			    										<div class="col-sm-12 padd0">
															<input type="text"  class=" form-control" ng-model="healthProposalInput.insured[indexA].relationshipId" readonly>
														</div>
			    									</div>
			    									
			    									<div class="col-sm-4 list-item-proposer">
					    								<label class="control-label">Occupation</label>
					    								<input type="text" class="form-control" ng-model="healthProposalInput.insured[indexA].occupationType" readonly>
					    							</div>
					    							<div class="col-sm-4 list-item-proposer" ng-if="healthProposalInput.insured[indexA].occupationType=='SALARIED'||healthProposalInput.insured[indexA].occupationType=='OTHERS'">
					    								<label class="control-label">Designation</label>
					    								<input type="text" class="form-control field" name="designation"  ng-model="healthProposalInput.proposer.designation" readonly>
					    							</div>
					    							<div class="col-sm-4 list-item-proposer" ng-if="healthProposalInput.insured[indexA].occupationType=='SELF EMPLOYED'">
					    								<label class="control-label">Bussiness</label>
					    								<input type="text" class="form-control" ng-model="healthProposalInput.proposer.bussiness" readonly>
									    				
					    							</div>
			    									<div class="col-sm-4">
			    										<label class="control-label">Marital Status</label>
			    										<input type="text" class="form-control" ng-model="healthProposalInput.insured[indexA].maritalStatus" readonly>
			    									</div>
			    									<ng-form name="wieghtForm">
			    									
			    									<div class="col-sm-4">
			    										<label class="control-label">Height in cm</label>
			    										<input type="text" class="form-control"  name="heightCm"  ng-model="healthProposalInput.insured[indexA].height" readonly>
													</div>
			    									</ng-form>
			    									<ng-form name="wieghtForm">
			    									<div class="col-sm-4">
			    										<label class="control-label"> Weight in kg</label>
			    										<input type="text" class="form-control"  name="weightKg"  ng-model="healthProposalInput.insured[indexA].weight" readonly>
													</div>
			    									</ng-form>
			    								</div>
			    								<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
			    							</div>
			    							
			     							</div>
			     						</div>
			     						<div class="summary-stage">
			     							<div class="title">
			     								<h3>Nominee  </h3>
			     							    <span class="btn btn-primary" ng-click="back(3)">Edit</span>
			     							</div>
			     							<div class="stage-body">
			     							  <div class="row mnone">
					    						   	<h3>Nominee for&nbsp;<span >Insured</span></h3>
						    						<div class="col-sm-10">
						    							<div class="col-sm-4">
						    								<label class="control-label">Relationship With Proposer</label>
						    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.nomineeRel" readonly>
						    							</div>
						    							<div class="col-sm-4">
						    								<label class="control-label">First Name</label>
						    								<input type="text" class="form-control field"  ng-model="healthProposalInput.proposer.nomineeName" readonly>
						    							</div>
						    							<div class="col-sm-4">
						    								<label class="control-label">Last Name</label>
						    								<input type="text"   class="form-control field" ng-model="healthProposalInput.proposer.nomineeLastName" readonly>
						    							</div>
						    							<div class="clear"></div>
						    							<div class="col-sm-4">
						    								<label class="control-label">Gender</label>
				    										<div class="clear"></div>
				    										<div class="btn-group" data-toggle="buttons">
																<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.proposer.nomineeGender"  ng-disabled="healthProposalInput.proposer.nomineeGender"  uib-btn-radio="'M'">Male</label>
																<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.proposer.nomineeGender"  ng-disabled="healthProposalInput.proposer.nomineeGender" uib-btn-radio="'F'">Female</label>
															</div>
						    							</div>
						    							<div class="col-sm-4">
						    								<label class="control-label">DOB</label>
				    										<span class="input-group">
																 	<input type="text" class="form-control" name="nomineeDon" uib-datepicker-popup="{{}}" ng-model="healthProposalInput.proposer.nomineeDOB"  is-open="opened[$index]" datepicker-options="nomineeDob" ng-required="true" close-text="Close"  alt-input-formats="altInputFormats" date-parser required/>
																 	<span class="input-group-btn">
															            	<button type="button" class="btn btn-primary btn_prim " ><i class="glyphicon glyphicon-calendar"></i></button>
															          </span>
																 </span>
						    							</div>
						    							<div class="col-sm-4" ng-if="healthProposalInput.proposer.nomineeAge<18">
						    								<label class="control-label">Guardian </label>
						    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.nomineeGardian" readonly>
						    							</div>
						    						</div>
						    					</div>
			     							</div>
			     						</div>
			     						
			     						<div class="summary-stage">
			     							<div class="title">
			     								<h3>Contact Info. </h3>
			     							    <span class="btn btn-primary" ng-click="back(4)">Edit</span>
			     							</div>
			     							<div class="stage-body">
   														<div class="row mnone">
						    					<div class="col-sm-6 add-borde"> 
						    						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Mailing Address</h3>
						    						<div class="col-sm-12">
						    							<label class="control-label">Flat/House No, Street</label>
						    							<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].addressLine1"  readonly>
						    						</div>
						    						<div class="col-sm-12">
						    							<label class="control-label">Area/Locality</label>
						    							<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].addressLine2"  readonly>
						    						</div>
						    						<div class="col-sm-12">
						    							<label class="control-label">Landmark</label>
						    							<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].addressLine3"  readonly>
						    						</div>
						    						<div class="col-sm-12 padd0">
						    							
						    							<div class="col-sm-6">
						    								<label class="control-label">State</label>
						    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].state" readonly required>
						    								<!-- <ui-select ng-model="polState" name="polState" theme="bootstrap" ng-change="changeState(polState,'parmanent')" required>
													            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
													            <ui-select-choices repeat="polState in states | filter: $select.search |  orderBy:sortorder">
													              <div ng-bind-html="polState.value | highlight: $select.search">
													              	
													              </div>
													             </ui-select-choices>
													          </ui-select> -->
						    							</div>
						    							<div class="col-sm-6">
						    								<label class="control-label">City</label>
						    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].city" readonly readonly>
						    								<!-- <ui-select ng-model="polCity" name="polCity" theme="bootstrap"  ng-change="changeCity(polCity,'parmanent')" >
													            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
													            <ui-select-choices repeat="polCity in city | filter: $select.search |  orderBy:sortorder">
													              <div ng-bind-html="polCity.value | highlight: $select.search">
													              	
													              </div>
													             </ui-select-choices>
													          </ui-select> -->
						    							</div>
						    							<div class="clear"></div>
						    							<div class="col-sm-6">
						    								<label class="control-label">Pincode</label>
						    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].pincode"   readonly>
						    								<span class="has-error " ng-show="showError=='false'">Invalid Pin Code</span>
						    							</div>
						    						</div>
						    					</div>
						    					<div class="col-sm-6">
						    						<h3><img src="./image/phone.png">&nbsp;&nbsp;Contact details</h3>
						    						<div class="col-sm-12">
						    							<label class="control-label">Email</label>
						    							<input type="text" class="form-control field" name="proEmail" ng-model="healthProposalInput.proposer.contacts[1].contactText" readonly>
						    							<div class="has-error" ng-show="contactInfo.proEmail.$dirty && contactInfo.proEmail.$error.pattern">
									    					Invalid Email id.
									    				</div>
						    						</div>
						    						<div class="col-sm-12">
						    							<label class="control-label">Mobile</label>
						    							<input type="text" name="proMobile" class="form-control field" ng-model="healthProposalInput.proposer.contacts[0].contactText"  ng-maxlength="10" ng-minlength="10" maxlength="10" readonly>
						    							<div class="has-error" ng-show="contactInfo.proMobile.$dirty && contactInfo.proMobile.$error.pattern">
									    					Invalid Mobile Number.
									    				</div>
									    				<div class="has-error" ng-show="contactInfo.proMobile.$dirty && contactInfo.proMobile.$error.maxlength">
									    					Enter a valid 10 digit mobile number
									    				</div>
						    						</div>
						    						<div class="clear"></div>
						    						<div class="row mnone">
							    						<div class="col-sm-4">
							    							<label class="control-label">Landline</label>
							    							<input type="text" class="form-control field"   ng-model="healthProposalInput.proposer.stdCode"  >
							    							<span class="small">e.g. "022"</span>
							    						</div>
							    						<div class="col-sm-8">
							    						 	<label class="control-label" style="margin-bottom: 15px;"></label>
							    							<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.landLine"  >
							    							<span class="small">enter your number</span>
							    						</div>
						    						</div>
						    						
						    					</div>
						    					<div class="clear"></div>
						    					<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
						    					<div class="col-sm-10">
						    						<h4>Nominee Address</h4>
						    						<div class="col-sm-4">
						    							<label class="control-label">Flat/House No, Street</label>
						    							<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.nomineeAddress1"  readonly>
						    						</div>
						    						<div class="col-sm-4">
						    							<label class="control-label">Area/Locality</label>
						    							<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.nomineeAddress2"  readonly>
						    						</div>
						    						<div class="col-sm-4">
						    								<label class="control-label">State</label>
						    								 <input type="text" class="form-control field" ng-model="healthProposalInput.proposer.nomineeState" readonly >
						    								<!-- <ui-select ng-model="nomineeState" name="polState" theme="bootstrap" ng-change="changeState(nomineeState,'nominee')" required>
													            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
													            <ui-select-choices repeat="nomineeState in states | filter: $select.search |  orderBy:sortorder">
													              <div ng-bind-html="nomineeState.value | highlight: $select.search">
													              	
													              </div>
													             </ui-select-choices>
													          </ui-select> -->
						    							</div>
						    							<div class="clear"></div>
						    							<div class="col-sm-4">
						    								<label class="control-label">City</label>
						    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.nomineeCity" readonly >
						    								<!-- <input type="text" class="form-control field" ng-model="healthProposalInput.proposer.address[1].city" readonly required> -->
						    								
						    							</div>
						    							<div class="col-sm-4">
						    								<label class="control-label">Pincode</label>
						    								<input type="text" class="form-control field" ng-model="healthProposalInput.proposer.nomineePincode" readonly>
						    								<span class="has-error " ng-show="showError=='false'">Invalid Pin Code</span>
						    							</div>
						    					</div> 
						    				</div>
			     							</div>
			     						</div>
			     						<div class="summary-stage">
			     							<div class="title">
			     								<h3>Medical History </h3>
			     							    <span class="btn btn-primary" ng-click="back(5)">Edit</span>
			     							</div>
			     							<div class="stage-body">
			     								<div class="innerformTabs">
					    						<div class="tabbable innerformTabs tabs-left">
					    							<ul class="resp-tabs-list nav nav-tabs medical-tabs">
											              <li class="done" ng-class="{'active': iTab1Index == indexA,'last':healthProposalInput.insured.length-1==indexA}" ng-style="{width:rowWidth(healthProposalInput.insured.length) +'%'}" ng-repeat="(indexA,insureds) in healthProposalInput.insured  | orderBy: 'dob'" ><a href="" ng-click="iTab1Indexs(indexA)" style="padding-top:5px;"><span class="insurednametitle" ng-if="insureds.type=='A'">{{insureds.firstName}}</span><span class="insurednametitle" ng-if="insureds.type=='C'">{{insureds.firstName}}</span><span class="insuredname">asd</span></a></li>
											           
											            </ul>
											            <div class="tab-content">
											            	<div class="tab-pane" ng-class="{'active': iTab1Index == indexB}" ng-repeat="(indexB,insureds) in healthProposalInput.insured  | orderBy: 'dob'">
											            		<div class="row mnone conditional-question"   ng-repeat="(indexC,medicalQuition) in insureds.pedList track by indexC">
															      	<div class="col-sm-8 pnone">
										    							<div class="quest-pad">
										    								<span class="q-point">Q</span>
										    								<span class="">{{medicalQuitions[indexB].q}}</span></br>
										    								
										    							</div>
										    						</div>
										    						<div classs="col-sm-4 pnone">
											    						<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexB].pedList[indexC].exists" ng-disabled="healthProposalInput.insured[indexB].pedList[indexC].exists" uib-btn-radio="'Y'" required>Yes</label>
																		<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexB].pedList[indexC].exists" ng-disabled="healthProposalInput.insured[indexB].pedList[indexC].exists"   uib-btn-radio="'N'" required>No</label>
										    						</div>
															      </div>
											            	</div>
											            	
											            </div>
					    						</div>
					    						
					    					</div>
								    					
			     							</div>
			     						</div>
			     						<div class="summary-stage">
			     							<div class="title">
			     								<h3>Life Style </h3>
			     							    <span class="btn btn-primary" ng-click="back(6)">Edit</span>
			     							</div>
			     							<div class="stage-body">
			     								<div class="innerformTabs">
					    						<div class="tabbable innerformTabs tabs-left">
					    							<ul class="resp-tabs-list nav nav-tabs medical-tabs">
											               <li class="done" ng-class="{'active': iTabLifeIndex == indexD,'last':healthProposalInput.insured.length-1==indexD}" ng-style="{width:rowWidth(healthProposalInput.insured.length) +'%'}" ng-repeat="(indexD,insureds) in healthProposalInput.insured  | orderBy: 'dob'" ng-if="insureds.type=='A'"><a href="" ng-click="iTabLifeIndexs(indexD)" style="padding-top:5px;"><span class="insurednametitle" ng-if="insureds.type=='A'">{{insureds.firstName}}</span><span class="insuredname">asd</span></a></li>
											           
											            </ul>
											            <div class="tab-content">
											            	<div class="tab-pane" ng-class="{'active': iTabLifeIndex == indexE}" ng-repeat="(indexE,insureds) in healthProposalInput.insured  | orderBy: 'dob'" ng-if="insureds.type=='A'">
											            		<div class="row mnone conditional-question"   ng-repeat="(indexF,lifestyleInfos) in insureds.lifestyleInfo track by indexF" ng-if="indexF!=2">
															      	<div class="col-sm-8 pnone">
										    							<div class="quest-pad" ng-init="">
										    								<span class="q-point">Q</span>
										    								<span class="">{{lifeStyelQuitions[indexF].q}}</span></br>
										    								
										    							</div>
										    						</div>
										    						<div classs="col-sm-4 pnone">
											    						<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexE].lifestyleInfo[indexF].value" ng-disabled="healthProposalInput.insured[indexE].lifestyleInfo[indexF].value" uib-btn-radio="'Y'" required>Yes</label>
																		<label class="btn btn-primary btn_prim" ng-model="healthProposalInput.insured[indexE].lifestyleInfo[indexF].value" ng-disabled="healthProposalInput.insured[indexE].lifestyleInfo[indexF].value"  uib-btn-radio="'N'" required>No</label>
																		<div class="clear"></div>	
																		<div class="col-sm-12 padd0" ng-if="healthProposalInput.insured[indexE].lifestyleInfo[indexF].value=='Y'">
																			<div class="col-sm-8">
																				<label class="control-label">Quantity</label>
																			</div>
																			<div class="col-sm-4">
																				<input type="text" class="form-control" placeholder="Quantity" ng-keypress="filterValue($event)" ng-model="healthProposalInput.insured[indexE].lifestyleInfo[indexF].quantity" readonly>
																			</div>
																			<div class="col-sm-8">
																				<label class="control-label">No of year</label>
																			</div>
																			<div class="col-sm-4">
																			<input type="text" class="form-control" placeholder="No of year" ng-keypress="filterValue($event)" ng-model="healthProposalInput.insured[indexE].lifestyleInfo[indexF].noOfYears" readonly>
																			</div>
																			
																			<div class="clear"></div>	
																			
																		</div>
										    						</div>
															      </div> 
											            	</div> 
											            	
											            </div>
					    						</div>
					    						
					    					</div>
								    					
			     							</div>
			     						</div>
			     						<div class="summary-stage">
			     							<div class="title">
			     								<h3>SECTION 41 INSURANCE ACT (PROHIBITION OF REBATES)</h3>
			     							</div>
			     							<div class="stage-body">
			     								<p>1) No person shall allow or offer to allow, either directly or indirectly, as an inducement to any person to take or renew or continue an insurance in respect of any kind of risk relating to lives or property in India, any rebate of the whole or part of the commission payable or any rebate of premium shown on the policy, nor shall any person taking out or renewing or continuing a policy accept any rebate, except such rebate as may be allowed in accordance with the prospectus or tables of the insurers.</p>
			     								<p>2) Any person making default in complying with the provisions of this section shall be punishable with fine which may extend to five hundred rupees.</p>
			     							</div>
			     						</div>
			     						<div class="summary-stage">
			     							<div class="title">
			     								<h3>GENERAL EXCLUSIONS</h3>
			     							</div>
			     							<div class="stage-body">
			     								<p>The following is an outline of the general exclusions under the policy. For more details on the exclusions and the waiting periods please refer to the policy wordings before purchasing this policy. Waiting Periods - 30 days waiting period in the first year and is not applicable in subsequent renewals. 2 years waiting period for the specified illnesses/ surgeries. 3 years waiting period for Pre-existing conditions. Non medical - War or any act of war, invasion, act of foreign enemy, war like operations (whether war be declared or not or caused during service in the armed forces of any country), civil war, public defence, rebellion, revolution, insurrection, military or usurped acts, nuclear weapons/materials, chemical and biological weapons, radiation of any kind. Any Insured Person committing or attempting to commit a breach of law with criminal intent, or intentional self injury or attempted suicide while sane or insane. Any Insured PersonÃ¢â‚¬â„¢s participation or involvement in naval, military or air force operation, racing, diving, aviation, scuba diving, parachuting, hang-gliding, rock or mountain climbing. Medical - Abuse or the consequences of the abuse of intoxicants or hallucinogenic substances such as intoxicating drugs and alcohol, including smoking cessation programs and the treatment of nicotine addiction or any other substance abuse treatment or services, or supplies. Treatment of Obesity and any weight control program. Plastic surgery or cosmetic surgery unless necessary as a part of medically necessary treatment certified by the attending Medical Practitioner for reconstruction following an Accident, Cancer or Burns. Treatment for correction of eye due to refractive error. Circumcisions (unless necessitated by illness or injury and forming part of treatment); Aesthetic or change-of-life treatments of any description such as sex transformation operations, treatments to do or undo changes in appearance driven by cultural habits, fashion or the like or any procedures which improve physical appearance. Non allopathic treatment. Conditions for which Hospitalization is not required. Experimental, investigational or unproven treatment devices and pharmacological regimens. Admission primarily for diagnostic purposes not related to Illness for which Hospitalization has been done. Convalescence, cure, rest cure, sanatorium treatment, rehabilitation measures, private duty nursing, respite care, long-term nursing care or custodial care. Preventive care, vaccination including inoculation and immunisations (except in case of post-bite treatment); any physical, psychiatric or psychological examinations or testing. Enteral feedings (infusion formulas via a tube into the upper gastrointestinal tract) and other nutritional and electrolyte supplements unless certified to be required by the attending Medical Practitioner as a direct consequence of an otherwise covered claim. Save Provision or fitting of hearing aids, spectacles or contact lenses including optometric therapy, any treatment and associated expenses for alopecia, baldness, wigs, or toupees, medical supplies including elastic stockings, diabetic test strips, and similar products. Artificial limbs, crutches or any other external appliance and/or device used for diagnosis or treatment (except when used intra-operatively). Psychiatric, mental disorders (including mental health treatments), Parkinson and AlzheimerÃ¢â‚¬â„¢s disease, general debility or exhaustion (Ã¢â‚¬Å“run-down conditionÃ¢â‚¬ï¿½), sleep-apnoea. Congenital internal or external diseases, defects or anomalies, genetic disorders. Stem cell therapy or surgery, or growth hormone therapy. Venereal disease, sexually transmitted disease or illness; Ã¢â‚¬Å“AIDSÃ¢â‚¬ï¿½ (Acquired Immune Deficiency Syndrome) and/or infection with HIV (Human Immunodeficiency Virus) including but not limited to conditions related to or arising out of HIV/AIDS such as ARC (AIDS Related Complex), Lymphomas in brain, KaposiÃ¢â‚¬â„¢s sarcoma, tuberculosis. Pregnancy (including voluntary termination), miscarriage (except as a result of an Accident or Illness), maternity or birth (including caesarean section) except in the case of ectopic pregnancy in relation to in-patient only. Sterility, treatment whether to effect or to treat infertility, any fertility, sub-fertility or assisted conception procedure, surrogate or vicarious pregnancy, birth control, contraceptive supplies or services including complications arising due to supplying services. Expenses for organ donor screening, or save as and to the extent provided for in Organ Donor Benefit-Organ Donor, the treatment of the donor (including surgery to remove organs from a donor in the case of transplant surgery). Treatment and supplies for analysis and adjustments of spinal subluxation, diagnosis and treatment by manipulation of the skeletal structure; muscle stimulation by any means except treatment of fractures (excluding hairline fractures) and dislocations of the mandible and extremities. Items of personal comfort and convenience including but not limited to television (wherever specifically charged for), charges for access to telephone and telephone calls (wherever specifically charged for), foodstuffs (except patientÃ¢â‚¬â„¢s diet), cosmetics, hygiene articles, body care products and bath additive, barber or beauty service, guest service as well as similar incidental services and supplies. vitamins and tonics unless certified to be required by the attending Medical Practitioner as a direct consequence of an otherwise covered claim. Treatment rendered by a Medical Practitioner which is outside his discipline or the discipline for which he is licensed. Treatments rendered by a Medical Practitioner who is a member of the insuredÃ¢â‚¬â„¢s family or stays with him, however proven material costs are eligible for reimbursement in accordance with the applicable cover. Any treatment or part of a treatment that is not of a reasonable charge, not Medically Necessary; drugs or treatments which are not supported by a prescription. Charges related to a Hospital stay not expressly mentioned as being covered, including but not limited to charges for admission, discharge, administration, registration, documentation and filing. Any specific timebound or lifetime exclusion(s) applied by Us and specified in the Schedule and accepted by the insured. The costs of any procedure or treatment by any person or institution that We have told You (in writing) is not to be used at the time of renewal or at any specific time during the policy period.</p>
			     							</div>
			     						</div>
			     						<div class="summary-stage">
			     							<div class="title">
			     								<h3>DECLARATION & WARRANTY ON BEHALF OF ALL PERSONS PROPOSED TO BE INSURED</h3>
			     							</div>
			     							<div class="stage-body">
			     								<p>I/ We hereby declare, on my behalf and on behalf of all persons proposed to be insured that the above statements, answers and/or particulars given by me are true and complete in all respects to the best of my knowledge and that I/We am/ are authorized to propose on behalf of these other persons.</p>
			     								<p>I understand that the information provided by me will form the basis of insurance policy, is subject to the Board approved underwriting policy of the Insurance company and that the policy will come into force only after full receipt of the premium chargeable.</p>
			     								<p>I/ We further declare that I/We will notify in writing any change occurring in the occupation or general health of the life to be insured/ proposer after the proposal has been submitted but before communication of the risk acceptance by the company.</p>
			     								<p>I/We declare and consent to the company seeking medical information from any hospital who at anytime has attended on the life to be insured/ proposer or from any past or present employer concerning anything which affects the physical and mental health of the life to be assured/proposer and seeking information from any insurance company to which an application for insurance on the life to be assured/ proposer has been made for the purpose of underwriting the proposal and/or claim settlement.</p>
			     								<p>I/ We authorize the company to share information pertaining to my proposal including the medical records for the sole purpose of proposal underwriting and/or claims settlement and with any Governmental and/or Regulatory Authority.</p>
			     							</div>
			     						</div>
			     						<div class="clear"></div>
			     						<div class="row mnone" style="position:relative">
			     							<div class="define">
				     							<img src="./image/info.png"> &nbsp;&nbsp;<span >Mandatory terms and conditions</span>
				     						</div>
						                    <div class="col-sm-12">
						                        <div class="agree-box">
						                            <div class="item">        
						                            	<div class="pointer">            
						                            		<img class="img-responsive" src="./image/arrow-right-circle.png">        
						                            	</div>        
						                            	<div class="agree-field">            
						                            		<span data-bind="html: obj.data.label">I hereby confirm<br>- I have read and agree to the Terms and Conditions of the 
						                            		<a style="text-decoration:none;cursor:pointer;" >policy</a> 
						                            		and the <a style="cursor:pointer;" class="call_overlay">website</a>;<br>- 
						                            		the declarations made herewith are true and correct;<br>- 
						                            		appointment of Wecare Insurance Brokers Pvt. Ltd. 
						                            		as my Insurance Broker, and authorize them to represent me to Insurance Companies/Agencies for my Insurance needs.</span>            
						                            		<div class="radio"></div>                            
						                            		<div class="radio">                                    
						                            		</div>            
					                            		</div>              
	                            		       		</div>    
						                        </div><!--agree box -->
						                    </div><!--col-sm-12 -->
						                </div>
			     					</div>
			     				</div>
			     			</div>
			     			<div class="col-sm-12">
			     				<div class="agree-box">
		                            <div class="item">        
		                            	<div class="agree-field">            
		                            		<span style="color:red;">{{proposalError.key}}
		                            			<ol>
		                            				<li style="color:red;" ng-repeat="errorPirnts in proposalError.errorPirnt">{{errorPirnts}}</li>
		                            			</ol>
		                            		</div>            
	                            		</div>              
                         		       		</div>    
		                        </div>
			     			</div>
			     			<!-- <h3 style="color:red;text-align:center">{{proposalError}}</h3> -->
			     			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
			     		</div>
			     		<!--.body  -->
			     		 <div class="foot">
						    			<div class="clearfix">
						    				<div class="cf-pull-right">
						    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(5)" style="/* display: none; */">
			                                			<img ng-src="./image/arrow-left.png">&nbsp;Back
			                            		</button>
						    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-click="makePayment()" >Make Payment <img ng-src="./image/arrow-right.png"></button>
						    				</div>
						    			</div>
					    		 	</div>
			     	</div>
			     </uib-tab>
			 </uib-tabset>
			<!-- <ul class="wizard-track"></ul> -->
		</div>
	</div>
</div>
</div>