<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="contactInfo" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Contact Info</div>
	   		<div class = "clear"></div>
			<div class="body">
				<div class="main-section">
					<div class="contact-process">
						<div class="define">
							<img ng-src="./image/info.png">
							<span>Tell us about where to send the policy Document</span>
					</div>
  					<div class="row mnone">
	   					<div class="col-sm-6 add-borde"> 
	   						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Contact Address</h3>
	   						<div class="col-sm-12">
		   						<div class="form-group required"  ng-class="{'has-error':contactInfo.corrAdd_one.$invalid && ! contactInfo.corrAdd_one.$pristine}">
		   							<label class="control-label">Flat/House No</label>
		   							<input type="text" name="policyAdd_one" class="form-control field" ng-model="proposalInput.proposer.corrAddressLine1" ng-minlength="1" ng-maxlength="30" required>
		   						</div>
	   						</div>
	   						<div class="col-sm-12">
		   						<div class="form-group required" ng-class="{'has-error':contactInfo.corrAdd_two.$invalid && ! contactInfo.corrAdd_two.$pristine}">
		   							<label class="control-label">Building/Street</label>
		   							<input type="text" placeholder="5-30 Characters" name="policyAdd_two" class="form-control field" ng-model="proposalInput.proposer.corrAddressLine2" ng-minlength="5" ng-maxlength="30" required>
		   						</div>
	   						</div>
		   					<div class="col-sm-12">
		   							<div class="form-group required"   ng-class="{'has-error':contactInfo.corrAdd_three.$invalid && ! contactInfo.corrAdd_three.$pristine}">
		   							<label class="control-label">Landmark</label>
		   							<input type="text" placeholder="5-30 Characters"class="form-control field" name="policyAdd_three" ng-model="proposalInput.proposer.corrAddressLine3" ng-minlength="5" ng-maxlength="30" required>
		   						</div>
	   						</div>	
							<div class="col-sm-6">
								<div class="form-group required">
									<label class="control-label">State</label>
									<select class="form-control" ng-options="item as item.value for item in insurerMaster.State track by item.id" 
		   							ng-model="corState" ng-change = "getCities('C',corState)" required>
			   						</select>
								</div>
							</div>	
	   							
	   						<div class="col-sm-6">
	   							<div class="form-group required">
		   							<label class="control-label">City</label>
		   							<select class="form-control" ng-options="item as item.value for item in corCities track by item.id" 
		   							ng-model="corCity" ng-change="setCityState('C', corCity)" required>
			   						</select>
	   							</div>
	   						</div>							
   							<div class="col-sm-6">
   								<div class="form-group required"  ng-class="{'has-error':contactInfo.corrAdd_pincode.$invalid && ! contactInfo.corrAdd_pincode.$pristine}">
   								<label class="control-label">Pincode</label>
   								<input type="text" name="policyAdd_pincode" class="form-control field" ng-pattern="/^[1-9][0-9]{5}$/"  ng-model="proposalInput.proposer.corrPincode"  required>
   								</div>
   							</div>
	   							
	   					</div>
   					
   					
   					<div class="col-sm-6 add-borde"> 
   						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Contact Details</h3>
   						
	    						
   						<div class="col-sm-8 ">
    						<div class="form-group required" ng-class="{'has-error':contactInfo.proMobile.$invalid && ! contactInfo.proMobile.$pristine}">
    							<label class="control-label">Proposer Mobile</label>
    							<input type="text" name="proMobile" class="form-control field" ng-model="proposalInput.proposer.mobile"  ng-pattern="/^[7-9][0-9]{9}$/" required>
    						</div>
   						</div>
  						<div class = "clear"></div>
  							
   						<div class="col-sm-8 ">
    						<div class="form-group required" ng-class="{'has-error':contactInfo.proEmail.$invalid && ! contactInfo.proEmail.$pristine}">
    							<label class="control-label">Proposer Email</label>
    							<input type="text" class="form-control field" name="proEmail" ng-model="proposalInput.proposer.email" ng-pattern="/^([a-zA-Z0-9_\-\.]+)(?<!\.)@([a-zA-Z0-9_\-\.]+)(?<!\.)\.([a-zA-Z]{2,5})$/"  required>
    						</div>
   						</div>
   						
   						<div class = "clear"></div>
   						<div class="row mnone">
    						<div class="col-sm-4 form-group" ng-class="{'has-error':contactInfo.stdcode.$invalid && ! contactInfo.stdcode.$pristine}">
    							<label class="control-label">STD</label>
    							<input type="text" class="form-control field" name="stdcode" ng-minlength="3" ng-maxlength="5" maxlength="5"   ng-model="proposalInput.proposer.stdCode" ng-pattern="/^[0-9]{2,5}$/" >
    						</div>
    						<div class="col-sm-8 form-group" ng-class="{'has-error':contactInfo.phone.$invalid && ! contactInfo.phone.$pristine}">
    							<label class="control-label">Proposer Home Phone</label>
    						 	<label class="control-label"  style="margin-top:30px;"></label>
    							<input type="text" class="form-control field" name="phone" ng-model="proposalInput.proposer.landLine" ng-minlength="8" ng-maxlength="8" maxlength="8" ng-pattern="/^[0-9]{8}$/"  >
    						</div>
   						</div>
   						<div class = "clear"></div>			
   						<div class="col-sm-8 ">
    						<div class="form-group required" ng-class="{'has-error':contactInfo.emerName.$invalid && ! contactInfo.emerName.$pristine}">
    							<label class="control-label">Emergency Contact Name</label>
    							<input type="text" name="emerName" class="form-control field" ng-model="proposalInput.proposer.emergencyContactName"  ng-minlength="1" ng-maxlength="40"  ng-pattern="/^[a-zA-Z ]*$/"  required>
    						</div>
   						</div>
   						<div class = "clear"></div>			
   						<div class="col-sm-8 ">
    						<div class="form-group required" ng-class="{'has-error':contactInfo.emerMobile.$invalid && ! contactInfo.emerMobile.$pristine}">
    							<label class="control-label">Emergency Contact Mobile</label>
    							<input type="text" name="emerMobile" class="form-control field" ng-model="proposalInput.proposer.EmergencyContactMobile"  ng-pattern="/^[7-9][0-9]{9}$/" required>
    						</div>
   						</div>
  						<div class = "clear"></div>
   					</div>
					<div class = "clear"></div>
   				</div>
  				</div>
  			</div>
  			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
  		</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(3)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="contactInfo.$invalid" ng-click="nextSection('5')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>