<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="insuredForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Insured Members</div>
	   		<div class = "clear"></div>
   				<div class="body">
   					<div class="main-section">
   						<div class="proposer-process">
	    					<div class="define">
	    						<img ng-src="./image/info.png">
	    						<span>Who do you want to Insure?</span>
	    					</div>
   							<div class="row mnone insured_mnone" ng-repeat="insured in proposalInput.insured track by $index">
   								<ng-form name="memberForm">
	   								<div class="col-sm-2">Insured Person's Details for <span ng-if="insured.type=='A'">Adult</span><span ng-if="insured.type=='C'">Child</span> DOB: {{insured.dob |date:'yyyy-MM-dd'}}</div>
	   								<div class="col-sm-10" style="margin-bottom:10px;">
	   									
	   									<div class="col-sm-4">
	   										<div class="form-group required">
	    										<label class="control-label">Title</label>
	    										<div class="col-sm-12 padd0" >
													<select class="form-control" ng-model="insured.title" required>
														<option value="">Select</option>
														<option value="{{item.id}}"  ng-repeat="item in insurerMaster.Title">{{item.value}}</option>
													</select>
												</div>
											</div>
	   									</div>
	   									<div class="col-sm-4">
	   										<div class="form-group required" ng-class="{'has-error':memberForm.firstName.$invalid && ! memberForm.firstName.$pristine}">
	    										<label class="control-label required">First Name</label>
	    										<input type="text" class="form-control" name="firstName" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.firstName" required>
	   										</div>
	   									</div>
	   									<div class="col-sm-4">
	   										<div class="form-group required" ng-class="{'has-error':memberForm.lastName.$invalid && ! memberForm.lastName.$pristine}">
	    										<label class="control-label">Last Name</label>
	    										<input type="text" class="form-control" name="lastName"  ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.lastName" required>
	   										</div>
	   									</div>
	   									
	   									<div class="col-sm-4">
	   										<div class="form-group required">
	    										<label class="control-label"> Date of Birth</label>
	    										<input type="text" class="form-control" name="insdob" ng-model="insured.dob" readonly>
	   										</div>
	   									</div>
	   									
	   									<div class="col-sm-4">
	   										<div class="form-group required">
	    										<label class="control-label">Gender</label>
	    										<div class = "clear"></div>
	    										<div class="btn-group" data-toggle="buttons">
													<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='M'}"  uib-btn-radio="'M'" required>Male</label>
													<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='F'}"  uib-btn-radio="'F'" required>Female</label>
												</div>
											</div>
	   									</div>
	   									
	   									<div class="col-sm-4">
	   										<div class="form-group required">
	    										<label class="control-label">Relationship with Proposer</label>
	    										<div class="col-sm-12 padd0">
	    											<select class=" form-control" name="relaInsured" ng-model="insured.relationshipId"  readonly>
														<option value="">Select</option>
														<option value="{{item.id}}"  ng-repeat="item in insurerMaster.Relationship| filter:{'gender': insured.gender}">{{item.value}}</option>
													</select>
												</div>
											</div>
	   									</div>
   									
	   									<div class="col-sm-4">
	   										<div class="form-group required">
	    										<label class="control-label">Occupation</label>
	    										<div class="col-sm-12 padd0">
	    											<select class=" form-control" name="occupation" ng-model="insured.occupationType" required>
														<option value="">Select</option>
														<option value="{{item.id}}"  ng-repeat="item in insurerMaster.Occupation">{{item.value}}</option>
													</select>
												</div>
											</div>
	   									</div>	   									
	   									
	   									<div class="col-sm-4">
	   									  <div class="form-group required" ng-class="{'has-error':memberForm.height.$invalid && ! memberForm.height.$pristine}">
	   										<label class="control-label">Height in cm</label>
	   										<input type="number" name= "height" class="form-control" ng-min="20" ng-max="300" ng-model="insured.height"  required>
										   </div>
	   									</div>
	   									
	   									
	   									<div class="col-sm-4">
	   										 <div class="form-group required" ng-class="{'has-error':memberForm.weight.$invalid && ! memberForm.weight.$pristine}">
	    										<label class="control-label"> Weight in kg</label>
	    										<input type="number" name = "weight" class="form-control" ng-min="2" ng-max="300"   ng-model="insured.weight" required>
											 </div>
	   									</div>			
		   									
	   									<div class="col-sm-4">
	   									  <div class="form-group" ng-class="{'has-error':memberForm.income.$invalid && ! memberForm.income.$pristine}">
	   										<label class="control-label">Annual Income</label>
	   										<input type="number" name= "income" class="form-control" ng-min="0" ng-max="100000000" ng-model="insured.annualIncome">
										   </div>
	   									</div>
	   									
	   									<div class="col-sm-8">
	   										<div class="form-group required">
	    										<label class="control-label">Do you suffer from any Pre-existing Conditions?</label>
	    										<div class = "clear"></div>
	    										<div class="col-sm-6 pnone btn-group" data-toggle="buttons">
													<label class="btn btn-primary btn_prim" ng-model="insured.preExistingCond" ng-class="{'active':insured.preExistingCond=='Y'}"  ng-change= "checkInsuredData()" uib-btn-radio="'Y'" required>Yes</label>
													<label class="btn btn-primary btn_prim" ng-model="insured.preExistingCond" ng-class="{'active':insured.preExistingCond=='N'}"  ng-change= "checkInsuredData()"  uib-btn-radio="'N'" required>No</label>
												</div>
											</div>
	   									</div>
	   									<div class = "clear"></div>
	   									
			   							<!--  Life Style Section -->
						    			<div class="row mnone conditional-question" >
									      	<div class="col-sm-12 pnone">
									      			<!--  Cigarates -->
						  							<div class="col-sm-4">
								  						<div class="col-sm-12 pnone">
								  							<div class="">1. Do you Smoke?</div>
								  							<div class="clear"></div>
								  							<div>
								  								<label class="btn btn-primary btn_prim" ng-model="insured.smokes" uib-btn-radio="'Y'" required>Yes</label>
																<label class="btn btn-primary btn_prim" ng-model="insured.smokes"   uib-btn-radio="'N'" required>No</label>
								  							</div>
								  							<br>
								  						</div>
								  						<div ng-if = "insured.smokes == 'Y'" class="col-sm-12 pnone">
									  						<div class= "pnone">
									  							<span>How many Cigarates a day</span>
									  						</div>
									  						<div class="clear"></div>
									  						<div class= "pnone">
									  							<input type="number" ng-min = "0" mg-max ="30" class="form-control field"  ng-model="insured.numCigarets"  required>
									  						</div>
								  						</div>
								  						<div class="clear"></div>
								  						<br>
						  							</div>
						  							
									      			<!--  Pouches -->
						  							<div class="col-sm-4">
						  								<div class="col-sm-12 pnone">
						  									<div class="">2. Do you chew Tobacco?</div>
						  									<div class="clear"></div>
								  							<div>
								   								<label class="btn btn-primary btn_prim" ng-model="insured.chew" uib-btn-radio="'Y'" required>Yes</label>
																<label class="btn btn-primary btn_prim" ng-model="insured.chew"   uib-btn-radio="'N'" required>No</label>
																<div class="clear"></div>
								  							</div>
								  							<br>
						  								</div>
								  						<div ng-if = "insured.chew == 'Y'" class="col-sm-12 pnone">
									  						<div class= "pnone">
									  							<span> How many pouches a day?</span>
									  						</div>
									  						<div class="clear"></div>
									  						<div class= "pnone">
									  							<input type="number" ng-min = "0" mg-max ="30" class="form-control field"  ng-model="insured.numchew"  required>
									  						</div>
								  						</div>
								  						<div class="clear"></div>
								  						<br>
						  							</div>
						  							
									      			<!--  Hard liquour -->
						  							<div class="col-sm-4">
						  								<div class="col-sm-12 pnone">
						  									<div class="">3. Do you consume Alcohol?</div>
						  									<div class="clear"></div>
								  							<div>
								   								<label class="btn btn-primary btn_prim" ng-model="insured.hardliquor" uib-btn-radio="'Y'" required>Yes</label>
																<label class="btn btn-primary btn_prim" ng-model="insured.hardliquor"   uib-btn-radio="'N'" required>No</label>
																<div class="clear"></div>
								  							</div>
								  							<br>
						  								</div>
								  						<div ng-if = "insured.hardliquor == 'Y'" class="col-sm-12 pnone">
									  						<div class= "pnone">
									  							<span> How quantity per week?</span>
									  						</div>
									  						<div class="clear"></div>
									  						<div class= "pnone">
									  							<input type="number" ng-min = "0" mg-max ="10" class="form-control field"  ng-model="insured.numhardLiquor"  required>
									  						</div>
								  						</div>
								  						<div class="clear"></div>
								  						<br>
						  							</div>
						  							<div class="clear"></div>
						  						</div>
						  						<div class="clear"></div>
										</div>	   							
			   							
			   							<!--  End Life Style Section -->
	   								</div> 
	   																	
   									<div class = "clear"></div>
   								</ng-form>
   							</div>

   							<div class="row">
   								<div class="col-sm-12">
  										<span ng-show="pageErrors.insuredError" class="has-error" id="insuredError" style="color:red">{{pageErrors.insuredErrorText}}</span>
  										<span class="has-error" id="insuredError" style="color:red">{{InsuredGenderError}}</span>
  									</div>
   							</div>
   							<div class = "clear"></div>
   						</div>
   					</div>
   				</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
   					<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="insuredForm.$invalid || pageErrors.insuredError" ng-click="nextSection('2')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		<div class = "clear"></div>
	   	</div>
	   	<div class = "clear"></div>
   	</form>
 </div>