<div class="proposal_form" ng-controller="itgiHealthCtrl">
<div class="container">
	<div class="wrap-bg">
		<div class="policy-panel">
			<div class="row mnone">
				<div class="col-xs-12  cf-title clearfix">
					<div class="back-to-results" ng-click="backPreviousPage()" ><span class="glyphicon glyphicon-menu-left"></span>Back to results</div>
				    <div style="padding:5px 0px 0px;">
					    <span>Health Insurance for {{proposalInput.policy.numAdults}} Adult(s)</span>
					    <span ng-if ="proposalInput.policy.numChildren >0"> and {{proposalInput.policy.numChildren}} Children</span>
				    	<span ng-if ="proposalInput.policy.floater == 'Y'">on Floater Basis</span>
				    	<span ng-if ="proposalInput.policy.floater != 'Y'">on Individual Basis</span>
				    </div>
				</div>
				<div class="col-xs-4 col-sm-3 pnone">
					<div class="insurer-img">
						<img class="img-responsive" ng-src = "./image/ilogo/i{{proposalInput.insurerId}}.png">
						
					</div>
				</div>
				<div class="col-xs-8 col-sm-9 pnone" style="border-left:1px solid #eaeaea;">
						<div class="pol-name">{{proposalInput.insurerName}}  {{proposalInput.productName}}</div>
						<div class="pol-val">
							<span>Sum Insured</span>
							<span class="value">{{proposalInput.policy.sumInsured| currency:"&#8377;": 0}}</span>
							<br class="visible-xs visible-sm">
							<span>ANNUAL PREMIUM</span>
							<span class="value">{{proposalInput.policy.premiumPayable| currency:"&#8377;": 0}}</span>
							<span class="val-typ" style="font-size: 12px;">(Includes 18.0% Goods and Services Tax)*</span>
						</div>
				</div>
				
			</div>
		</div>
		<!--policy panel  -->
		<div  ng-if="loading" class="loading col-sm-10 col-md-10 col-lg-10">
	    	<div class="ctralign"><img ng-src = "./image/loading.gif"></div>
		</div>
		<div id="stage_data" ng-if="!loading">
			<uib-tabset vertical="true" justified= "true" class="wizard-track" active="active" >
				<uib-tab index="0"  class="track_li" classes="{{tabStatus.firstComplete}}" ng-style="{width:'15%'}">
			    	<uib-tab-heading>Policy <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src=" './templates/proposal/health/itgi/policy.html'"></div>
				</uib-tab>
				<uib-tab index="1"  class="track_li" classes="{{tabStatus.secondComplete}}" ng-style="{width:'15%'}">
			    	<uib-tab-heading>Insured <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src=" './templates/proposal/health/itgi/insured.html'"></div>
				</uib-tab>
				<uib-tab index="2"  class="track_li" classes="{{tabStatus.fifthComplete}}" ng-style="{width:'15%'}">
			    	<uib-tab-heading>Proposer <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/health/itgi/proposer.html'"></div>
				</uib-tab>
				<uib-tab index="3"  class="track_li" classes="{{tabStatus.sixthComplete}}" ng-style="{width:'15%'}">
			    	<uib-tab-heading>Covers <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/health/itgi/covers.html'"></div>
				</uib-tab>
				<uib-tab index="4"  class="track_li" classes="{{tabStatus.sixthComplete}}" ng-style="{width:'15%'}">
			    	<uib-tab-heading>Contact Info <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/health/itgi/contact.html'"></div>
				</uib-tab>
				<uib-tab index="5"  class="track_li" classes="{{tabStatus.sixthComplete}}" ng-style="{width:'15%'}">
			    	<uib-tab-heading>Summary <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/health/itgi/summary.html'"></div>
				</uib-tab>
			</uib-tabset>
		</div>
			<!-- <ul class="wizard-track"></ul> -->
	</div>
	</div>
</div>