<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Declaration/ Terms and Conditions</h4>
</div>
<form class="form-horizontal form_horizontal" name="tc">
	<div class="modal-body">
	<ol>
		<li>I understand that the information provided by me will form the basis of the insurance policy, is subject to the Board approved underwriting policy of the insurance company and that the policy will come into force only after full receipt of the premium chargeable.</li>
	</ol>
		

	</div>
	<!-- </div> -->
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">I DisAgree</button>
	<button class="btn btn-primary btn_default" ng-disabled="lsDetails.$invalid"   ng-click="ok()"> I Agree</button>
</div>