<div class="container">
	<div class="col-sm-12 col-md-12 col-lg-12 banner-bdrs card wizard-card" style="margin-top:40px;padding-bottom:15px;">
		<uib-tabset type="pills" class=" col-sm-12 col-md-12 col-lg-12 nav nav-tabs" active="active">
			<uib-tab classes=" padd0" index="0"  data-toggle="tab">
			    <uib-tab-heading class="lob-list">
			      <div class="car-insurance"></div>
			       <p class="margin-top">
			    	Car Insurance</p>
			    </uib-tab-heading>
		        <div class ="header" ng-include src="'templates/car/car.html'"></div>
		    </uib-tab>
		    <uib-tab classes=" padd0" index="1"  data-toggle="tab">
		    	 <uib-tab-heading class="lob-list">
		    	 		<div class="health-insurance"></div>
		    	 		<p>Health Insurance</p>
		    	 </uib-tab-heading>
		    	<div class ="header" ng-include src="'templates/health/health.html'"></div>
		   </uib-tab>
		   <uib-tab  classes=" padd0" index="2"  data-toggle="tab">
			    <uib-tab-heading  class="lob-list" >
			    	<div class="travel-insurance"></div>
			    	<div class="clear"></div>
			    	<p>Travel Insurance</p>
			    </uib-tab-heading>
		       <div class ="header" ng-include src="'templates/travel/travel.html'"></div>
		   	</uib-tab>
		   <uib-tab  classes=" padd0" index="3"  data-toggle="tab">
			    <uib-tab-heading  class="lob-list" >
			    	<div class="home-insurance"></div>
			    	<p>Home Insurance</p>
			    </uib-tab-heading>
		       <div class ="header" ng-include src="'templates/homeInsu/homeInsu.html'"></div>
		   	</uib-tab>
		    <uib-tab  classes=" padd0" index="4"  data-toggle="tab">
				<uib-tab-heading  class="lob-list">
					<div class="saving-insurance"></div>
				    <p>Savings Life</p>
				</uib-tab-heading>
				<div class ="header" ng-include src="'templates/investment/investment.html'"></div>
			</uib-tab>
			<uib-tab  classes=" padd0" index="5"  data-toggle="tab">
				<uib-tab-heading  class="lob-list">
					<div class="life-insurance"></div>
				    <p>Term Life</p>
				</uib-tab-heading>
				<div class ="header" ng-include src="'templates/life/life.html'"></div>
			</uib-tab>
			
		   <!-- 
		   <uib-tab  classes=" padd0" index="6">
		    <uib-tab-heading  >
		    	<div class="claims"></div>
		    	<p>Claims</p>
		    </uib-tab-heading>
		    <div class ="header" ng-include src="'templates/claims/claims.html'"></div>
		    </uib-tab> -->
		   
		</uib-tabset>
	</div>
	<div class="clear"></div>
</div>

