<div class="contact">
	<div class="container">
		<div class="col-sm-8 col-xs-12">
			<iframe width="87%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
			 src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.8955395300077!2d72.86624931437737!3d19.112238055800173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8395aca7d11%3A0xdee8165d84c78783!2sSahar%20Plaza%20Bonanza%20I%2C%20Andheri%20-%20Kurla%20Rd%2C%20Bhim%20Nagar%2C%20Andheri%20East%2C%20Mumbai%2C%20Maharashtra%20400053!5e0!3m2!1sen!2sin!4v1613586101469!5m2!1sen!2sin"
 			width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			<br>
			<small><a href="https://goo.gl/maps/SohXsTYq5qeJFuak6"
			 width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>

		</div>
		<div class="col-sm-4 col-xs-12">
			<img ng-src="./image/logo.jpg" class="img-responsive" style="padding-bottom:15px">
			<span style="color:black">Nearby Insurance Broking Services Pvt. Ltd.</span>
			<div class="clear"></div>
			<address>
			215-216, B Wing  - 2nd Floor, Bonanza, Sahar Plaza, Andheri- Kurla Road, J.B Nagar, 
			 <div class="clear"></div>
			 Andheri (East) 400 059 
			 <div class="clear"></div>
			 Ph No.: +91 22 6127 6146,
			 <div class="clear"></div>
			 Email:<span style="color:black"><a href="mailto:info@insurenearby.in">info@insurenearby.in,</a></span>,
			 <div class="clear"></div>
			 Website : <a style="color:black;font-size:small" href="http://www.insurenearby.in/"> www.insurenearby.in</a>
		   </address>
		</div>
		<div class="clear"></div>
		<div class="col-sm-7 col-xs-12">
			<form class="form-horizontal" name="contact" novalidate>
				<div class="form-group required">
					<div class="col-sm-5">
						<label class="control-label">Name</label>
					</div>
					<div class="col-sm-7">
					 <inpu type="text" class="form-control field" ng-model="contact.name" required>
					</div>
				</div>
				<div class="form-group required">
					<div class="col-sm-5">
						<label class="control-label">Telephone/Mobile</label>
					</div>
					<div class="col-sm-7">
					 <inpu type="text" class="form-control field" ng-model="contact.Mobile" required>
					</div>
				</div>
				<div class="form-group required">
					<div class="col-sm-5">
						<label class="control-label">Email ID</label>
					</div>
					<div class="col-sm-7">
					 <inpu type="text" class="form-control field"  ng-model="contact.emailId" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required>
					</div>
				</div>
				
				<div class="form-group required">
					<div class="col-sm-5">
						<label class="control-label">Address</label>
					</div>
					<div class="col-sm-7">
					<textarea class="form-control field"  ng-model="contact.address"   style="height:100px;"></textarea>
					</div>
				</div>
				<div class="form-group required">
					<div class="col-sm-5">
						<label class="control-label">Inquiry/Feedback</label>
					</div>
					<div class="col-sm-7">
						<textarea class="form-control field"  ng-model="contact.inquireyFeedback"  required style="height:100px;"></textarea>
					 <!-- <inpu type="text" class="form-control field" ng-model="contact.inquireyFeedback" required> -->
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-5">
						<label class="control-label">Preferred time to contact you</label>
					</div>
					<div class="col-sm-7">
						<select name="Timing" id="Timing" class="form-control field" ng-model="contact.timing">
					        <option value="">Select Time</option>
					        <option value="8am to 11am">8am to 11am</option>
					        <option value="11am to 2pm">11am to 2pm</option>
					        <option value="2pm to 5pm">2pm to 5pm</option>
					        <option value="Any Time">Any Time</option>
				      	</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12" align="center">
						<button class="btn btn-primary call-back btn-default" style="width:150px;" ng-disabled="contact.$invalid">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>