<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Alcohol Usage Details</h4>

</div>
<form class="form-horizontal form_horizontal"  name="alcoholic" novalidate autocomplete="off">
<div class="modal-body">
	<!--  Row  -->
	
	<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
		<div class="form-group required"  ng-class="{'has-error':alcoholic.alcoholType.$invalid && !alcoholic.alcoholType.$pristine}">
			<label class="control-label label-block">Alcohol Type</label>
			<select class="form-control" name="alcoholType" ng-model="isAlcoholicDetails.AlcoholTypeId" required>
				<option value="">Select</option>
				<option ng-repeat = "item in types" value="{{item.id}}">{{item.value}}</option>
			</select>
			<p class="errorMsg" ng-show="alcoholic.alcoholType.$error.required && !alcoholic.alcoholType.$pristine">
				This field is required.
			</p>
		</div>
	</div>
		
	<div class = "col-sm-2 col-md-2 col-lg-2"></div>
	<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
		<div class="form-group required" ng-class="{'has-error':alcoholic.years.$invalid && !alcoholic.years.$pristine }" >
			<label class="control-label label-block">Years Consumed</label>
			<input type="text" name="years" class="form-control field" ng-model="isAlcoholicDetails.years"  ng-pattern="/^[0-9]+$/" ng-keypress="alphaNumeric($event)" maxlength="2" required>
			<div class="col-sm-12 padd0">
				<p class="errorMsg" ng-show="alcoholic.years.$error.required && !alcoholic.years.$pristine">This field is required</p>
			</div>
		</div>
	</div>
	<!--  Row  -->
		
	<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5" ng-class="{'has-error':alcoholic.frequency.$invalid && !alcoholic.frequency.$pristine}">
		<div class="col-sm-12 padd0">
			<label class="control-label label-block">Frequency</label>
			<select class="form-control field" name="frequency" ng-model="isAlcoholicDetails.Frequency" required>
				<option value="">Select</option>
				<option value="Occasionally">Occasionally</option>
				<option value="Weekly">Weekly</option>
				<option value="Daily">Daily</option>
				<option value="Monthly">Monthly</option>

			</select>
			<p class="errorMsg" ng-show="alcoholic.frequency.$error.required && !alcoholic.frequency.$pristine">
				This field is required.
			</p>
		</div>
	</div>
	<div class = "col-sm-2 col-md-2 col-lg-2"></div>
			
	<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 form-group required" ng-class="{'has-error':alcoholic.qty.$invalid && !alcoholic.qty.$pristine}">
		<div class="col-sm-12 padd0">
			<label class="control-label label-block">Qty per Week</label>
			<input type="text" name="qty" class="form-control field" maxlength="3" ng-model="isAlcoholicDetails.Qty" ng-keypress="filterValue($event)" required>
			<p class="errorMsg" ng-show="alcoholic.qty.$error.required && !alcoholic.qty.$pristine">This field is required</p>
		</div>
	</div>		
	
	<!--  Row  -->
	<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
		<div class="form-group required"  ng-class="{'has-error':alcoholic.stopped.$invalid && !alcoholic.stopped.$pristine}">
			<label class="control-label label-block">Have you Stopped Consuming Alcohol</label>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="isAlcoholicDetails.stopped" ng-class="{active: isAlcoholicDetails.stopped =='Y'}">
	          		Yes
	     		</label>
	     		<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="isAlcoholicDetails.stopped" ng-class="{active: isAlcoholicDetails.stopped =='N'}">
	          		No
	     		</label>
			</div>
		</div>
	</div>
	<div ng-if = "isAlcoholicDetails.stopped == 'Y'">
		<div class="col-sm-3 col-md-3 col-lg-3 ">
			<div class="form-group required"  ng-class="{'has-error':alcoholic.monthStopped.$invalid && !alcoholic.monthStopped.$pristine}">
				<label class="control-label label-block">Month Stopped</label>
				<select class="form-control" name="monthStopped" ng-model="isAlcoholicDetails.monthStopped" required>
					<option value="">Select</option>
					<option ng-repeat = "item in months" value="{{item.id}}">{{item.value}}</option>
				</select>
				<p class="errorMsg" ng-show="alcoholic.monthStopped.$error.required && !alcoholic.monthStopped.$pristine">
					This field is required.
				</p>
			</div>
		</div>
		<div class="col-sm-1 "></div>
		<div class="col-sm-3 col-md-3 col-lg-3 ">
			<div class="form-group required"  ng-class="{'has-error':alcoholic.yearStopped.$invalid && !alcoholic.yearStopped.$pristine}">
				<label class="control-label label-block">Year Stopped</label>
				<select class="form-control" name="yearStopped" ng-model="isAlcoholicDetails.yearStopped" required>
					<option value="">Select</option>
					<option ng-repeat = "item in years" value="{{item}}">{{item}}</option>
				</select>
				<p class="errorMsg" ng-show="alcoholic.yearStopped.$error.required && !alcoholic.yearStopped.$pristine">
					This field is required.
				</p>
			</div>
		</div>
	</div>

		
</div>
<div class = "clear"></div>
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="alcoholic.$invalid" >Submit</button>
</div>

