<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Add</h4>
</div>
<form class="form-horizontal form_horizontal" name="isAnyDeclineInsureadd" novalidate>
	<div class="modal-body">
		<div class="form-group required ">
			<div class="col-sm-12 padd0 ">
				<label class="control-label label-block">Policy Number</label>
				<input type="text" name="applicationPolicyNumber" class="form-control" ng-model="application.policyNumber" ng-keypress="alphaNumeric($event)" required maxlength="50">
			</div>
		</div>
		<div class="form-group required ">
			<div class="col-sm-12 padd0 ">
				<label class="control-label label-block">Insurer Name</label>
				<input type="text" name="applicationInsurerName" class="form-control" ng-model="application.InsurerName" ng-keypress="alphaChar($event)" required maxlength="25">
			</div>
		</div>
		<div class="form-group required">
			<div class="col-sm-12 padd0 ">
				<label class="control-label label-block">Application Date</label>
				
				<span class="input-group">
				   <!-- datepicker-options="dateOptionss" -->
		            <input type="text" class="form-control" name="applicationApplicationDate"  
		  			uib-datepicker-popup="{{format}}" ng-model="application.applicationDate" is-open="opened['applicationApplicationDate']"  ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required  />
		          	<span class="input-group-btn">
		            	<button type="button" class="btn btn-primary" ng-click="opened($event,'applicationApplicationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
		          	</span>
				</span>
			</div>
		</div>
		<div class="form-group required ">
			<div class="col-sm-12 padd0 ">
				<label class="control-label label-block">Issue Year</label>
				<input type="text" name="applicationInsurerIssueYr" class="form-control" ng-model="application.issueYear" required ng-keypress="filterValue($event)" maxlength="4">
			</div>
		</div>
		<div class="form-group required">
			<div class="col-sm-12 padd0 ">
				<label class="control-label label-block">Sum Assured</label>
				<input type="text" name="applicationInsurerSumAssured" class="form-control" ng-model="application.sumAssured" required ng-keypress="filterValue($event)" maxlength="15">
			</div>
		</div>
		<div class="form-group" ng-if="indexTab!=5">
			<div class="col-sm-12 padd0">
				<label class="control-label label-block">Reasons</label>
				<input type="text" name="applicationInsurerReasons" class="form-control" ng-model="application.Reasons" ng-keypress="alphaChar($event)">
			</div>
		</div>
	</div>
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-primary btn_default" ng-disabled="isAnyDeclineInsureadd.$invalid"   ng-click="ok()">Submit</button>
</div>
<!-- ng-disabled="isAnyDeclineInsureadd.$invalid" -->