<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Add Family Member Health</h4>
</div>
<form class="form-horizontal form_horizontal" name="familyMember" novalidate>
	<div class="modal-body">
		<div class="form-group required col-sm-5 col-md-5">
			<div class="col-sm-12 padd0">
				<label class="control-label label-block">Member</label>
				<select class="form-control" ng-model="family.member" required>
					<option value="">Select</option>
					<option value="Father">Father</option>
					<option value="Mother">Mother</option>
					<option value="Brother">Brother</option>
					<option value="Sister">Sister</option>
					<option value="Brother">Spouse</option>
					<option value="Brother">Son</option>
					<option value="Brother">GrandFather</option>
					<option value="Brother">GrandMother</option>
				</select>
			</div>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-5   col-md-5">
			<div class="form-group required" ng-class="{'has-error':aboutinsured.gender.$invalid && !aboutinsured.gender.$pristine }">
				<label class="control-label label-block">Alive or Deceased</label>
				<!--  data-toggle="buttons" -->
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="family.alive" ng-class="{active: family.alive =='Y'}" required>
            			Alive
       				</label>
       				<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="family.alive" ng-class="{active: family.alive =='N'}" required>
            			Deceased
       				</label>
				</div>
			 	
		        <span class="errorMsg" ng-show="aboutinsured.gender.$error.required && !aboutinsured.gender.$pristine">This field is required</span>
			</div>
		</div>
		<div class="clear"></div>
		<div ng-if = "family.alive=='Y'">
			<div class="col-sm-5 col-md-5 col-lg-5 ">
				<div class="form-group">
					<label  class="control-label label-block">Age</label>
					<input type="text" name="age" class="form-control" ng-model="family.age" maxlength="3" ng-keypress="filterValue($event)" required>
					<!-- 'return event.charCode >= 48 && event.charCode <= 57' -->
					
				</div>
			</div>
			<div class="col-sm-2 col-md-2 col-lg-2"></div>
			<div class="col-sm-5 col-md-5 col-lg-5 ">
				<div class="form-group">
					<label  class="control-label label-block">Health State</label>
					
					<select class="form-control" ng-model="family.healthState"  required>
						<option value="">Select</option>
						<option value="{{HealthState.id}}" ng-repeat="HealthState in healthstates">{{HealthState.value}}</option>
					</select>
				</div>
			</div>		
		</div>
		<div class="clear"></div>
		<div ng-if = "family.alive=='N'">
			<div class="col-sm-5 col-md-5 col-lg-5 ">
				<div class="form-group">
					<label  class="control-label label-block">Death Age</label>
					<input type="text" name="deathAge" class="form-control" ng-model="family.age" maxlength="3" ng-keypress="filterValue($event)" required>
				</div>
			</div>
			<div class="col-sm-2 col-md-2 col-lg-2 padd0"></div>
			<div class="col-sm-5 col-md-5 col-lg-5 ">
				<div class="form-group">
					<label  class="control-label label-block">Death Cause</label>
					<select class="form-control" ng-model="family.deathCause" required>
						<option value="">Select</option>
						<option value="{{deathCause.code}}" ng-repeat="deathCause in deathCause">
						{{deathCause.name}}
					</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-primary btn_default" ng-disabled="familyMember.$invalid"   ng-click="ok()">Submit</button>
</div>
<!-- ng-disabled="isAnyDeclineInsureadd.$invalid" -->