<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Add</h4>
</div>

<form class="form-horizontal form_horizontal" name="minorInsurance" novalidate>
	<div class="modal-body">
		<div class="form-group required">
			<div class="col-sm-12 padd0">
				<label class="control-label label-block">Member</label>
				<select class="form-control" ng-model="minorfamily.relationWithLI" required>
					<option value="">Select</option>
					<option value="Father">Father</option>
					<option value="Mother">Mother</option>
					<option value="Brother">Brother</option>
					<option value="Sister">Sister</option>
				</select>
			</div>
		</div>
		<div class="clear"></div>
		<div class="form-group required">
			<div class="col-sm-5 col-md-5 col-lg-5 padd0">
				<label class="control-label label-block">Policy Number</label>
				<input type="text" name="policyPolicyNumber" class="form-control" ng-model="minorfamily.policyNumber" ng-keypress="alphaNumeric($event)" required maxlength="50">
			</div>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2 padd0"></div>
		<div class="form-group required">
			<div class="col-sm-5 col-md-5 col-lg-5 padd0">
				<label class="control-label label-block">Insurer Name</label>
				<input type="text" name="policyInsurerName" class="form-control" ng-model="minorfamily.InsurerName" ng-keypress="alphaChar($event)" required maxlength="25">
			</div>
		</div>
		<div class="clear"></div>
		
		<div class="form-group required">
			<div class="col-sm-5 col-md-5 col-lg-5 padd0">
				<label class="control-label label-block">Premium</label>
				<input type="text" name="policyPremium" class="form-control" ng-model="minorfamily.Premium" required ng-keypress="filterValue($event)" maxlength="4">
			</div>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2 padd0"></div>
		<div class="form-group required">
			<div class="col-sm-5 col-md-5 col-lg-5 padd0">
				<label class="control-label label-block">Sum Assured</label>
				<input type="text" name="policyInsurerSumAssured" class="form-control" ng-model="minorfamily.sumAssured" required ng-keypress="filterValue($event)" maxlength="15">
			</div>
		</div>
		<div class="clear"></div>
	</div>
</form>

<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-primary btn_default" ng-disabled="minorInsurance.$invalid"   ng-click="ok()">Submit</button>
</div>
<!-- ng-disabled="minorInsurance.$invalid" -->