<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{nomineeData.header}}</h4>

</div>
<form class="form-horizontal form_horizontal" novalidate name="nominee" autocomplete="off">
	<div class="modal-body">
		
		<table class ="col-sm-12 col-xs-12 col-md-12">
			<tr>
				<td class="col-xs-12 col-sm-12 col-md-6">
					<div class="col-sm-4 padd0">
						<div class="form-group required " ng-class="{'has-error':nominee.title.$invalid && !nominee.title.$pristine}">
							<label class="control-label label-block">Salutation</label>
							<select class="form-control field" name="title" ng-model="nomineeData.title" required>
								<option value="">Select</option>
								<option ng-repeat="item in titles" value="{{item.id}}" >{{item.value}}</option>
							</select>
						</div>
					</div>
					<div class="col-sm-8">
					<div class="form-group required" ng-class="{'has-error':nominee.nomineefirstName.$invalid && !nominee.nomineeifirstName.$pristine}">
						<label class="control-label label-block" >First Name</label>
						<input type="text" name="nomineefirstName" class="form-control field"  ng-model="nomineeData.firstName" ng-minlength="3" ng-keypress="alphaChar($event)" required>
						<span class="errorMsg" ng-show="nominee.nomineeifirstName.$error.required && !nominee.nomineeifirstName.$pristine">This field is required</span>
						<span class="errorMsg" ng-show="nominee.nomineeifirstName.$error.minlength && !nominee.nomineeifirstName.$pristine">Minimum char is 3</span>
					</div>
				</div>							
				</td>
				
				<td class="col-xs-12 col-sm-12 col-md-6">
				<div>
					<div class="form-group required" ng-class="{'has-error':nominee.nomineeFirstLastName.$invalid && !nominee.nomineeFirstLastName.$pristine}">
						<label class="control-label label-block" >Last Name</label>
						<input type="text" name="nomineeFirstLastName" ng-keypress="alphaChar($event)" class="form-control field"  ng-model="nomineeData.lastName" required>
						<span class="errorMsg" ng-show="nominee.nomineeifirstName.$error.required && !nominee.nomineeFirstLastName.$pristine">This field is required</span>
						<span class="errorMsg" ng-show="nominee.nomineeFirstLastName.$error.minlength && !nominee.nomineeFirstLastName.$pristine">Minimum char is 3</span>
					</div>
				</div>
				</td>
			
			</tr>
			
			<tr>
				<td class="col-xs-12 col-sm-12 col-md-6">
					<div class="form-group required" ng-class="{'has-error':nominee.firstNomineeRelToLife.$invalid && !nominee.firstNomineeRelToLife.$pristine}">
						<label  class="control-label label-block">Relationship with Insured</label>
						<select class="form-control field" ng-model="nomineeData.relationshipWithInsured" required>
							<option ng-repeat="item in nomineeRel" value="{{item.id}}" >{{item.value}}</option>
						</select>
	
					</div>		
				</td>
				
				<td class="col-xs-12 col-sm-12 col-md-6">
					<div class="form-group required" ng-class="{'has-error':nominee.gender.$invalid && !nominee.gender.$pristine }">
						<label class="control-label label-block">Gender</label><br>
						<!--  data-toggle="buttons" -->
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" uib-btn-radio="'M'"  ng-model="nomineeData.gender" ng-class="{active: nomineeData.gender =='M'}">
		            			Male
		       				</label>
		       				<label class="btn btn-primary" uib-btn-radio="'F'"  ng-model="nomineeData.gender" ng-class="{active: nomineeData.gender =='F'}">
		            			Female
		       				</label>
						</div>
					 	
				        <span class="errorMsg" ng-show="nominee.gender.$error.required && !nominee.gender.$pristine">This field is required</span>
					</div>
				</td>
			</tr>
			
			
			<tr>			
				<td class="col-xs-12 col-sm-12 col-md-6">
					<div class="form-group required" ng-class="{'has-error':nominee.firstNomineeDob.$invalid && !nominee.firstNomineeDob.$pristine}">
						<label class="control-label label-block">Date Of Birth</label>
						<span class="input-group">
	                    <input type="text" class="form-control" name="firstNomineeDob"  
	          			uib-datepicker-popup="{{format}}" ng-model="nomineeData.dob" is-open="opened[1]" datepicker-options="dobNominee" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" ng-change="calculateNomineeAge(nomineeData.dob)" required="required" />
	                  	<span class="input-group-btn">
	                    	<button type="button" class="btn btn-primary" ng-click="opened($event,'1')"><i class="glyphicon glyphicon-calendar"></i></button>
	                  	</span>
	        		</span>
	        		<span class="errorMsg" ng-show="nominee.firstNomineeDob.$error.required && !nominee.firstNomineeDob.$pristine">This field is required</span>
					</div>			
				</td>
				
				<td class="col-xs-12 col-sm-12 col-md-6">
					<div class="form-group">
						<label class="control-label label-block">Contact Number</label>
						<span class="input-group">
							<span class="input-group-addon">
								+91
							</span>
							<input type="text" name="fNomineeMobile" ng-model="nomineeData.mobile" class="form-control" ng-keypress="filterValue($event)" maxlength="10">
						</span>
						
					</div>		
				</td>
			</tr>
			
			<tr>
				<td class="col-xs-12 col-sm-12 col-md-6" ng-if="nomineeData.isNominee">
					<div class="form-group required" ng-class="{'has-error':nominee.perOfEntitlement.$invalid && !nominee.perOfEntitlement.$pristine}">
						<label class="control-label label-block">Percentage of Entitlement</label>
						<span class="input-group">
							<input type="text" name="perOfEntitlement" class="form-control" ng-model="nomineeData.sharePercent" ng-keypress="filterValue($event)" >
							<span class="input-group-addon">
								%
							</span>
						</span>
						<span class="errorMsg" ng-show="nominee.perOfEntitlement.$error.required && !nominee.perOfEntitlement.$pristine">This field is required</span>
					</div>
				</td>
			</tr>
		</table>
			
		<!-- Appointee  -->
		<div class ="col-sm-12 col-xs-12 col-md-12" ng-if="nomineeData.age<18">
			<h4 class="modal-title">Appointee Details </h4>
			<table  class ="col-sm-12 col-xs-12 col-md-12" >
				<tr>
					<td class="col-xs-12 col-sm-12 col-md-6">
						<div class="col-sm-4 padd0">
							<div class="form-group required " ng-class="{'has-error':nominee.title.$invalid && !nominee.title.$pristine}">
								<label class="control-label label-block">Salutation</label>
								<select class="form-control field" ng-model="nomineeData.appointeetitle" required>
									<option ng-repeat="item in titles" value="{{item.id}}" >{{item.value}}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-8">
						<div class="form-group required" ng-class="{'has-error':nominee.appointeefirstName.$invalid && !nominee.appointeeifirstName.$pristine}">
							<label class="control-label label-block" >First Name</label>
							<input type="text" name="appointeefirstName" class="form-control field"  ng-model="nomineeData.appointeefirstName" ng-minlength="3" ng-keypress="alphaChar($event)" required>
							<span class="errorMsg" ng-show="nominee.appointeefirstName.$error.required && !nominee.appointeefirstName.$pristine">This field is required</span>
							<span class="errorMsg" ng-show="nominee.appointeefirstName.$error.minlength && !nominee.appointeefirstName.$pristine">Minimum char is 3</span>
						</div>
					</div>							
					</td>
					
					<td class="col-xs-12 col-sm-12 col-md-6">
					<div>
						<div class="form-group required" ng-class="{'has-error':nominee.appointeeLastName.$invalid && !nominee.appointeeLastName.$pristine}">
							<label class="control-label label-block" >Last Name</label>
							<input type="text" name="appointeeLastName" class="form-control field"  ng-model="nomineeData.appointeeLastName" ng-keypress="alphaChar($event)" required>
							<span class="errorMsg" ng-show="nominee.appointeeLastName.$error.required && !nominee.appointeeLastName.$pristine">This field is required</span>
							<span class="errorMsg" ng-show="nominee.appointeeLastName.$error.minlength && !nominee.appointeeLastName.$pristine">Minimum char is 3</span>
						</div>
					</div>
					</td>
				
				</tr>
				
				<tr>
					<td class="col-xs-12 col-sm-12 col-md-6">
						<div class="form-group required" ng-class="{'has-error':nominee.firstNomineeRelToLife.$invalid && !nominee.firstNomineeRelToLife.$pristine}">
							<label class="control-label label-block">Relationship with Nominee</label>
							<select class="form-control field" ng-model="nomineeData.appointeeRelationWithNominee" required>
								<option ng-repeat="item in nomineeRel" value="{{item.id}}" >{{item.value}}</option>
							</select>
		
						</div>		
					</td>
					
					<td class="col-xs-12 col-sm-12 col-md-6">
						<div class="form-group required" ng-class="{'has-error':nominee.appointeeDOB.$invalid && !nominee.appointeeDOB.$pristine}">
							<label class="control-label label-block">Date Of Birth</label>
							<span class="input-group">
		                    <input type="text" class="form-control" name="firstNomineeDob"  
		          			uib-datepicker-popup="{{format}}" ng-model="nomineeData.appointeeDOB" is-open="opened[2]" datepicker-options="dobAdult" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required" />
		                  	<span class="input-group-btn">
		                    	<button type="button" class="btn btn-primary" ng-click="opened($event,'2')"><i class="glyphicon glyphicon-calendar"></i></button>
		                  	</span>
		        		</span>
		        		<span class="errorMsg" ng-show="nominee.appointeeDOB.$error.required && !nominee.appointeeDOB.$pristine">This field is required</span>
						</div>	
					</td>
				</tr>
				
				<tr>
					<td class="col-xs-12 col-sm-12 col-md-6">
						<div class="form-group">
							<label class="control-label label-block">Contact Number</label>
							<span class="input-group">
								<span class="input-group-addon">
									+91
								</span>
								<input type="text" name="fappointeeMobile" ng-model="nomineeData.appointeemobile" class="form-control" ng-keypress="filterValue($event)" maxlength="10">
							</span>
							
						</div>		
					</td>
					<td class="col-xs-12 col-sm-12 col-md-6">
				
					</td>
				</tr>	
			
			</table>
		</div>
	</div>

</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-primary btn_default" ng-disabled="nominee.$invalid"   ng-click="ok()">Submit</button>
</div>
