<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Tobacco Usage Details</h4>

</div>
<form class="form-horizontal form_horizontal"  name="tobacco" novalidate autocomplete="off">
	<div class="modal-body">
		
		<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
			<div class="form-group required"  ng-class="{'has-error':tobacco.alcoholType.$invalid && !tobacco.alcoholType.$pristine}">
				<label class="control-label label-block">Alcohol Type</label>
				<select class="form-control" name="tobaccoType" ng-model="isAlcoholicDetails.TobaccoTypeId" required>
					<option value="">Select</option>
					<option ng-repeat = "item in types" value="{{item.id}}">{{item.value}}</option>
				</select>
				<p class="errorMsg" ng-show="tobacco.tobaccoType.$error.required && !tobacco.tobaccoType.$pristine">
					This field is required.
				</p>
			</div>
		</div>
		
		<div class = "col-sm-2 col-md-2 col-lg-2"></div>
		
		<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
			<div class="form-group required" ng-class="{'has-error':tobacco.years.$invalid && !tobacco.years.$pristine }" >
				<label class="control-label label-block">Years Consumed</label>
				<input type="text" name="years" class="form-control field" ng-model="isTobaccoDetails.years"  ng-pattern="/^[0-9]+$/" ng-keypress="alphaNumeric($event)" maxlength="2" required>
				<div class="col-sm-12 padd0">
					<p class="errorMsg" ng-show="tobacco.years.$error.required && !tobacco.years.$pristine">This field is required</p>
				</div>
			</div>
		</div>
		<!--  Row  -->
		<div class = "clear"></div>	
		<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 " >
			<div class="form-group required padd0" ng-class="{'has-error':tobacco.frequency.$invalid && !tobacco.frequency.$pristine}">
				<label class="control-label label-block">Frequency</label>
				<select class="form-control field" name="frequency" ng-model="isTobaccoDetails.Frequency" required>
					<option value="">Select</option>
					<option value="Occasionally">Occasionally</option>
					<option value="Weekly">Weekly</option>
					<option value="Daily">Daily</option>
					<option value="Monthly">Monthly</option>
	
				</select>
				<p class="errorMsg" ng-show="tobacco.frequency.$error.required && !tobacco.frequency.$pristine">
					This field is required.
				</p>
			</div>
		</div>
		
		<div class = "col-sm-2 col-md-2 col-lg-2"></div>
						
		<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 form-group required" ng-class="{'has-error':tobacco.qty.$invalid && !tobacco.qty.$pristine}">
			<div class="col-sm-12 padd0">
				<label class="control-label label-block">Qty per Day</label>
				<input type="text" name="qty" class="form-control field" maxlength="3" ng-model="isTobaccoDetails.Qty" ng-keypress="filterValue($event)" required>
				<p class="errorMsg" ng-show="tobacco.qty.$error.required && !tobacco.qty.$pristine">This field is required</p>
			</div>
		</div>
	
		<div class = "clear"></div>	
		<!--  Row  -->
		<div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
			<div class="form-group required"  ng-class="{'has-error':tobacco.stopped.$invalid && !tobacco.stopped.$pristine}">
				<label class="control-label label-block">Have you Stopped Consuming Tobacco</label>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="isTobaccoDetails.stopped" ng-class="{active: isTobaccoDetails.stopped =='Y'}">
		          		Yes
		     		</label>
		     		<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="isTobaccoDetails.stopped" ng-class="{active: isTobaccoDetails.stopped =='N'}">
		          		No
		     		</label>
				</div>
			</div>
		</div>
		
		<div class = "clear"></div>	
		<div ng-if = "isTobaccoDetails.stopped == 'Y'">
			<div class="col-sm-3 col-md-3 col-lg-3 ">
				<div class="form-group required"  ng-class="{'has-error':tobacco.monthStopped.$invalid && !tobacco.monthStopped.$pristine}">
					<label class="control-label label-block">Month Stopped</label>
					<select class="form-control" name="monthStopped" ng-model="isTobaccoDetails.monthStopped" required>
						<option value="">Select</option>
						<option ng-repeat = "item in months" value="{{item.id}}">{{item.value}}</option>
					</select>
					<p class="errorMsg" ng-show="tobacco.monthStopped.$error.required && !tobacco.monthStopped.$pristine">
						This field is required.
					</p>
				</div>
			</div>
			<div class="col-sm-1 "></div>
			<div class="col-sm-3 col-md-3 col-lg-3 ">
				<div class="form-group required"  ng-class="{'has-error':tobacco.yearStopped.$invalid && !tobacco.yearStopped.$pristine}">
					<label class="control-label label-block">Year Stopped</label>
					<select class="form-control" name="yearStopped" ng-model="isTobaccoDetails.yearStopped" required>
						<option value="">Select</option>
						<option ng-repeat = "item in years" value="{{item}}">{{item}}</option>
					</select>
					<p class="errorMsg" ng-show="tobacco.yearStopped.$error.required && !tobacco.yearStopped.$pristine">
						This field is required.
					</p>
				</div>
			</div>
		</div>
	
			
	</div>
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="tobacco.$invalid" >Submit</button>
</div>
