<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="vehicleform" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Vehicle</div>
	   		<div class = "clear"></div>
   				<div class="body">
   					<div class="main-section">
   						<div class="proposer-process">
	    					<div class="define">
	    						<img ng-src="./image/info.png">
	    						<span>Tell us about the vehicle you want to Insure</span>
	    					</div>
	    					<div class="row mone">
	    					<div class="col-sm-10">
    							<div class="col-sm-6">
    								<div class="form-group required">
    								<label class="control-label">Has Vehicle Registration changed in Last 12 months?</label>
    								<div class="clear"></div>
    								<div class="btn-group">
    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.isOwnershipChanged" ng-class="{'active':proposalInput.vehicle.isOwnershipChanged=='Y'}"  ng-click = "resetNCB()" uib-btn-radio="'Y'" required>Yes</label>
    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.isOwnershipChanged" ng-class="{'active':proposalInput.vehicle.isOwnershipChanged=='N'}"  uib-btn-radio="'N'" required>No</label>
    								</div>
    								</div>
    							</div>
    							<div class="clear"></div>
    							
    							<div class="col-sm-4">
	    							<div class="form-group required">
	    								<label class="control-label">RTO</label>
	    								<input type="text" name="rto" class="form-control" ng-model="proposalInput.vehicle.rto" readonly required>
	    							</div>
    							</div>
    							
    							<div class="col-sm-4">
    								<div class="form-group required">
	    								<label class="control-label">Vehicle Regno</label>
	    								<input type="text" class="form-control" ng-if="proposalInput.policy.typeOfBusiness=='New Business'" name="regNumber" ng-model="proposalInput.vehicle.vehicleRegno" 
	    								placeholder="XX-99-XX-9999" ng-pattern="/^[A-Za-z]{2}(-)[0-9]{2}[C]?(-)[A-Z]{1,3}(-)[0-9]{4}$/"  >
	    								<input type="text" class="form-control" ng-if="proposalInput.policy.typeOfBusiness=='Rollover'" name="regNumber" ng-model="proposalInput.vehicle.vehicleRegno" 
	    								placeholder="XX-99-XX-9999" ng-pattern="/^[A-Za-z]{2}(-)[0-9]{2}[C]?(-)[A-Z]{1,3}(-)[0-9]{4}$/"  required>
    								</div>
    							</div>
	    						<div class="col-sm-4">
	    							<div class="form-group required">
	    								<label class="control-label">Vehicle Registration Date</label>
	    								<input type="text" class="form-control" name="vehicleOfReg"   ng-model="proposalInput.vehicle.vehicleRegistrationDate"   readonly    />
	    							</div>	
    							</div> 
    							<div class="col-sm-4">
	    							<div class="form-group required">
	    								<label class="control-label">Engine No</label>
	    								<input type="text" name="engineNo" class="form-control field" ng-pattern="/^[a-zA-Z0-9]{6,20}$/" ng-model="proposalInput.vehicle.engineNo" required>
	    								<span class="has-error" ng-show="vehicleform.engineNo.$error.pattern && vehicleform.engineNo.$dirty ">Alpha Numeric characters 6-20 Character Long</span>
	    							</div>
    							</div>
    							
    							<div class="col-sm-4">
    							<div class="form-group required">
    								<label class="control-label">Chassis  No</label>
    								<input type="text" name="chassisNo" class="form-control field" ng-pattern="/^[a-zA-Z0-9]{6,20}$/"  ng-model="proposalInput.vehicle.chassisNo" required>
    								<span class="has-error" ng-show="vehicleform.chassisNo.$error.pattern && vehicleform.chassisNo.$dirty ">Alpha Numeric characters 6-20 Character Long</span>
    							</div>
    							</div>
    							
    							<div class="col-sm-4">
    								<div class="form-group">
    									<label class="control-label"> Electrical accesories Value</label>
    									<input type="text" name="electricalAcc" class="form-control" ng-pattern="/^[0-9]{1,5}$/" ng-model="proposalInput.vehicle.electricalAcc" ng-keypress="filterValue($event)" >
    								</div>
    							</div>
    							<div class="col-sm-4">
    								<div class="form-group">
    									<label class="control-label"> Non-electrical accessories Value</label>
    									<input type="text" name="electricalAcc" class="form-control" ng-pattern="/^[0-9]{1,5}$/" ng-model="proposalInput.vehicle.nonElectricalAcc" ng-keypress="filterValue($event)" >
    								</div>
    							</div>
	    						<div class="col-sm-4">
   									<div class="form-group required">
    									<label class="control-label">Youngest Driver DOB</label>
	    								<span class="input-group">
											 <input type="text" class="form-control" name="proposerdob" 
								              uib-datepicker-popup="{{format}}" datepicker-options="adultDobOptions" ng-model="proposalInput.vehicle.youngestDriverDob" ng-change="youngestDriverAge(proposalInput.vehicle.youngestDriverDob)" is-open="opened[$index]"  required close-text="Close" alt-input-formats="altInputFormats" readonly="readonly" required/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-primary" ng-click="open($event,$index)" ><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
										</span>
									</div>
    							</div>
	    						
    							<div class="col-sm-4">
    								<div class="form-group required">
	    								<label class="control-label">Mostly Driven On</label>
	    								<select class="form-control field" ng-model="proposalInput.vehicle.roadTypeCodes">
	    									
	    									<option value="City roads">City roads</option>
	    									<option value="Highways">Highways</option>
	    									<option value="Hilly areas">Hilly areas</option>
	    									<option value="Village roads">Village roads</option>
	    									<option value="Others">Others</option>
	    								</select>
    								</div>
    							</div>
    							
    							<div class="col-sm-4">
	    							<div class="form-group required">
	    							<label class="control-label">Annual Mileage</label>
	    							<div class="clear"></div>
	    							<input type="text" class="form-control" ng-maxlength="5" ng-minlength="0" ng-maxvalue="50000" ng-model="proposalInput.vehicle.annualMilleage" name="annualMilleage" ng-pattern="/^[0-9]{1,}$/" ng-change="checkAnualMilage(vehicleform,proposalInput.vehicle.annualMilleage)"  ng-keypress="filterValue($event)" required>
	    							<span class="has-error" ng-show="vehicleform.annualMilleage.$error.pattern && vehicleform.annualMilleage.$dirty" > Only Number & Max 50000</span>
	    							<span class="has-error">{{premiumMilageError}}</span>
	    							</div>
    							</div>
    							
	    						<div class="col-sm-4">
    								<div class="form-group required">
    								<label class="control-label">Anti Theft</label>
    								<div class="clear"></div>
    								<div class="btn-group">
    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.antiTheft" ng-class="{'active':proposalInput.vehicle.antiTheft=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.antiTheft" ng-class="{'active':proposalInput.vehicle.antiTheft=='N'}"  uib-btn-radio="'N'" required>No</label>
    								</div>
    								</div>
    							</div>
    							
    							<div class="col-sm-4" >
    								<div class="form-group required">
    								<label class="control-label">Is Bi Fuel Kit Present?</label>
    								<div class="btn-group">
    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.lpgcngKit" ng-class="{'active':proposalInput.vehicle.lpgcngKit=='Y'}" uib-btn-radio="'Y'" required>Yes</label>
    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.lpgcngKit" ng-class="{'active':proposalInput.vehicle.lpgcngKit=='N'}" uib-btn-radio="'N'" required>No</label>
    								</div>
    								</div>
    							</div>
    												    							
    							<div class="col-sm-4" ng-if = "proposalInput.vehicle.lpgcngKit=='Y'">
    								<div class="form-group required">
    								<label class="control-label">LPG/CNG kit fitted externally?</label>
    								<div class="clear"></div>
    								<div class="btn-group">
    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.biFuelExt" ng-class="{'active':proposalInput.vehicle.biFuelExt=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.biFuelExt" ng-class="{'active':proposalInput.vehicle.biFuelExt=='N'}"  uib-btn-radio="'N'" required>No</label>
    								</div>
    								</div>
    							</div>
    							
    							
   							</div>
   							</div>
   						</div>
   					</div>
   					<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
   				</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
				<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
                             			<img ng-src="./image/arrow-left.png">&nbsp;Back
                         		</button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="vehicleform.$invalid" ng-click="nextSection('2')">Continue <img ng-src="./image/arrow-right.png"> </button>
    				</div>
				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>