<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Accessory</h4>

</div>
<form class="form-horizontal form_horizontal"  name="Accessory" novalidate autocomplete="off">
<div class="modal-body">
	
	
	<div class="col-sm-4 col-md-4 col-lg-4">
		<div class="form-group">
			<label class="control-label">Make</label>
			<input type="text" name="make" class="form-control" ng-model="accessory.make" required>
		</div>
	</div>
	
	<div class="col-sm-4 col-md-4 col-lg-4">
		<div class="form-group">
			<label class="control-label">Model</label>
			<input type="text" name="model" class="form-control" ng-model="accessory.model" required>
		</div>
	</div>
	
	
	<div class="col-sm-4 col-md-4 col-lg-4">
		<div class="form-group">
			<label class="control-label">Accessories Name</label>
			<input type="text" name="electricalAcc" class="form-control" ng-model="accessory.name" required >
		</div>
	</div>
	
	
	<div class="col-sm-4 col-md-4 col-lg-4">
		<div class="form-group">
			<label class="control-label">Year</label>
			<input type="text" name="electricalAcc" class="form-control" ng-pattern="/^2[0-9]{3}$/" ng-model="accessory.year" required >
		</div>
	</div>
	
	<div class="col-sm-4 col-md-4 col-lg-4">
		<div class="form-group">
			<label class="control-label">Accessories Value</label>
			<input type="text" name="electricalAcc" class="form-control" ng-pattern="/^[0-9]{1,5}$/" ng-model="accessory.value" required >
		</div>
	</div>
	<div class = "clear"></div>
	
</div>
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="Accessory.$invalid" >Submit</button>
</div>
<div class = "clear"></div>