<div class="modal-header hom_modal_body">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">BEWARE OF SPURIOUS PHONE CALLS AND FICTITIOUS/FRAUDULENT OFFERS </h4>

</div>
<form class="form-horizontal">
<div class="modal-body hom_modal_body">
	<div class="form-group">	
		<div class="col-sm-12">
			<span class="irdapara ibspan">IRDAI clarifies to public that <br>
			1.        IRDAI or its officials do not involve in activities like sale of any kind of insurance or financial products nor invest premiums.<br>
			2.        IRDAI does not announce any bonus. Public receiving such phone calls are requested to lodge a police complaint along with details of phone call , number.<br>
			</span>
		</div>
	</div>
</div>
</form>