<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">OTP</h4>
</div>
<form class="form-horizontal form_horizontal" name="tc">
	<div class="modal-body">
		<div><span> OTP for Quote ID: </span> <span>{{otpInput.appNo}}</span><br><br></div>
		<div class = "clear"></div>
		<div class="col-sm-4">
			<div class="form-group required" >
				<label class="control-label">OTP</label>
				<input type="text" name="proMobile" class="form-control field" ng-model="otpInput.otp"  ng-maxlength="10" ng-minlength="6" maxlength="10" ng-pattern="/^[0-9]{6}$/" required>
			</div>
		</div>
		<div class="clear"></div>
		<div class="row">
			<div class="col-sm-12">
				<span>OTP is required for all online purchase as per IRDAI Directive.</span>
			</div>
		</div>
		<div class="clear"></div>
		<div class="row">
			<div class="col-sm-12">
				<span ng-show="otpError" class="has-error" id="insuredError" style="color:red">OTP is incorrect or invalid</span>
			</div>
		</div>
		<div class = "clear"></div>
	</div>
	<!-- </div> -->
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-primary btn_default" ng-disabled="lsDetails.$invalid"   ng-click="ok()">Submit</button>
</div>