<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="contactInfo" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Contact Info</div>
	   		<div class = "clear"></div>
    		<div class="body">
    			<div class="main-section">
    				<div class="proposer-process">
    					<div class="define">
    						<img ng-src="./image/info.png">
    						<span>Where do we send the policy to</span>
    					</div>
		    			<div class="row mnone">
		   					<div class="col-sm-6 add-borde"> 
		   						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Mailing Address</h3>
		   						<div class="col-sm-12">
			   						<div class="form-group required" ng-class="{'has-error':contactForm.policyAdd_one.$invalid && ! contactForm.policyAdd_one.$pristine}">
			   							<label class="control-label">Flat/House No</label>
			   							<input type="text" name="policyAdd_one" class="form-control field" ng-model="proposalInput.proposer.corrAddressLine1" ng-minlength="5" required>
			   						</div>
		   						</div>
		   						<div class="col-sm-12">
			   						<div class="form-group required"  ng-class="{'has-error':contactForm.policyAdd_two.$invalid && ! contactForm.policyAdd_two.$pristine}">
			   							<label class="control-label">Building/Street</label>
			   							<input type="text" name="policyAdd_two" class="form-control field" ng-model="proposalInput.proposer.corrAddressLine2" ng-minlength="5" required>
			   						</div>
		   						</div>
			   					<div class="col-sm-12">
			   							<div class="form-group required"  ng-class="{'has-error':contactForm.policyAdd_three.$invalid && ! contactForm.policyAdd_three.$pristine}">
			   							<label class="control-label">Landmark</label>
			   							<input type="text" class="form-control field" name="policyAdd_three" ng-model="proposalInput.proposer.corrLandMark" ng-minlength  required>
			   						</div>
		   						</div>	   						
	   							<div class="col-sm-6">
	   								<div class="form-group required">
	   								<label class="control-label">Pincode</label>
	   								<input type="text" class="form-control field" ng-minlength="6" ng-maxlength="6" ng-model="proposalInput.proposer.corrPincode"  required>
	   								</div>
	   							</div>
   							
		   						<div class="col-sm-6">
		   							<div class="form-group required">
			   							<label class="control-label">City</label>
			   							<select class="form-control" ng-options="item as item.cityName for item in corCities track by item.cityId" 
			   							ng-model="corCity" ng-change = "setCityState('C',corCity)" required>
				   						</select>
		   							</div>
		   						</div>
								
								<div class="col-sm-6" style="padding-left:0px;">
									<div class="form-group required">
										<label class="control-label">State</label>
										<input type="text" class="form-control field" ng-model="proposalInput.proposer.corrState"  readonly required>
									</div>
								</div>
		   							
		   					</div>
	    					<div class="col-sm-6  add-borde">
	    						<h3><img src="./image/phone.png">&nbsp;&nbsp;Contact details</h3>
	    						<div class="col-sm-12">
		    						<div class="form-group required" ng-class="{'has-error':contactInfo.proEmail.$invalid && ! contactInfo.proEmail.$pristine}">
		    							<label class="control-label">Email</label>
		    							<input type="text" class="form-control field" name="proEmail" ng-model="proposalInput.proposer.email" ng-pattern="/^([a-zA-Z0-9_\-\.]+)(?<!\.)@([a-zA-Z0-9_\-\.]+)(?<!\.)\.([a-zA-Z]{2,5})$/"  required>
		    						</div>
	    						</div>
	    						<div class="col-sm-12">
		    						<div class="form-group required" ng-class="{'has-error':contactInfo.proMobile.$invalid && ! contactInfo.proMobile.$pristine}">
		    							<label class="control-label">Mobile</label>
		    							<input type="text" name="proMobile" class="form-control field" ng-model="proposalInput.proposer.mobile"  ng-maxlength="10" ng-minlength="10" maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/" required>
		    						</div>
	    						</div>
	    						<div class="clear"></div>
	    						<div class="row mnone">
		    						<div class="col-sm-4">
		    							<label class="control-label">Landline</label>
		    							<input type="text" class="form-control field" name="code" ng-minlength="3" ng-maxlength="5" maxlength="5"   ng-model="proposalInput.proposer.stdCode" ng-pattern="/^[0-9]{2,5}$/" >
		    							<span class="small">e.g. "022"</span>
		    							
		    						</div>
		    						<div class="col-sm-8">
		    						 	<label class="control-label" style="margin-top:30px;"></label>
		    							<input type="text" class="form-control field" name="phone" ng-model="proposalInput.proposer.landLine" ng-minlength="8" ng-maxlength="8" maxlength="8" ng-pattern="/^[0-9]{8}$/"  >
		    							<span class="small">enter your number</span>
		    							
		    						</div>
	    						</div>
	    						
	    					</div>
	    					<div class="clear"></div>
	    				</div>  					
    				</div>
    			</div>
    			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
    		</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(3)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="contactInfo.$invalid" ng-click="nextSection('5')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>