<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Declaration/ Terms and Conditions</h4>
</div>
<form class="form-horizontal form_horizontal" name="tc">
	<div class="modal-body">
		<p>I have read the Prospectus thoroughly. I agree with the Terms of conditions of the Policy<br><br>
			<a href = "https://general.futuregenerali.in/general-insurance/pdf/proposal/FutureTravelSuraksha-ProspectuscumProposalForm.pdf">Future Travel Suraksha Prospectus</a><br>
			<a href = "https://general.futuregenerali.in/general-insurance/pdf/proposal/FutureTravelSurakshaSelect-ProspectuscumProposalForm.pdf">Future Travel Suraksha Select Prospectus</a><br>
			<a href = "https://general.futuregenerali.in/general-insurance/pdf/proposal/Schengen-ProspectuscumProposalForm.pdf">Future Travel Schengen Prospectus</a><br>
		</p>
	</div>
	<!-- </div> -->
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">I DisAgree</button>
	<button class="btn btn-primary btn_default" ng-disabled="lsDetails.$invalid"   ng-click="ok()"> I Agree</button>
</div>