<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="proposerForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Proposer</div>
	   		<div class = "clear"></div>
    		<div class="body">
    			<div class="main-section">
    				<div class="proposer-process">
    					<div class="define">
    						<img ng-src="./image/info.png">
    						<span>The person who is paying for the policy</span>
    					</div>
    					<div class="row mnone">
    						<div class="col-sm-11" style="margin-bottom:10px;">
    							
    							<div class="col-sm-4 " >
    								<div class="form-group required">
    									<label class="control-label">Title </label>
    									<div class="col-sm-12 padd0" >
						    				<select class="form-control" ng-model="proposalInput.proposer.title" ng-disabled = "isProposerInsured"  ng-change = "getGender()" required  >
						    					<option value="">Select</option>
						    					<option value="DR">Dr</option>
						    					<option value="MR">Mr</option>
						    					<option value="MRS">Mrs</option>
						    					<option value="MS">Ms</option>
						    				</select>
						    			</div>
    								</div>
    							</div>
    							
    							<div class="col-sm-4 ">
    								<div class="form-group required" ng-class="{'has-error':proposerForm.firstName.$invalid && ! proposerForm.firstName.$pristine}">
    								<label class="control-label">First Name </label>
    								<input type="text" name="firstName" ng-model="proposalInput.proposer.firstName" minlength="3" maxlength="40" ng-minlength="3" ng-maxlength="40"  ng-pattern="/^[a-zA-Z ]*$/" class="form-control" ng-disabled = "isProposerInsured" required  >
				    				</div>
				    			</div>
    							
    							<div class="col-sm-4 ">
    								<div class="form-group " ng-class="{'has-error':proposerForm.middleName.$invalid && ! proposerForm.middleName.$pristine}">
    								<label class="control-label">Middle Name</label>
    								<input type="text" name="middleName" class="form-control field" ng-model="proposalInput.proposer.middleName"  ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-disabled = "isProposerInsured">
    								</div>
    							</div>
    							<div class=" clear"  ></div>
    							<!-- <div class=" clear" ng-if="proposalInput.proposer.isPrimaryInsured=='Y'" ></div> -->
    							<div class="col-sm-4 ">
    								<div class="form-group required" ng-class="{'has-error':proposerForm.lastName.$invalid && ! proposerForm.lastName.$pristine}">
    								<label class="control-label">Last Name </label>
    								<input type="text" name="lastName" ng-model="proposalInput.proposer.lastName" class="form-control" minlength="3" maxlength="40" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/"  ng-disabled = "isProposerInsured" required>
				    				</div>
    							</div>
    							
    							<div class="col-sm-4 ">
    								<div class="form-group required">
    								<label class="control-label">Date of Birth</label>
    								<div class="input-group">
										 <input type="text" class="form-control" name="proposerdob" uib-datepicker-popup="{{format}}" datepicker-options="adultDobOptions"
							              ng-model="proposalInput.proposer.proposerDob" ng-required="true" is-open="opened.proposerDob"  close-text="Close" alt-input-formats="altInputFormats" />
							              <span class="input-group-btn">
							                <button type="button" class="btn btn-primary" ng-click="open('proposerDob')"><i class="glyphicon glyphicon-calendar"></i></button>
							              </span>
									</div>
									</div>
    							</div>
    							
    							<div class="col-sm-4 ">
    								<div class="form-group required">
	    								<label class="control-label">Gender</label>
	    								<div class="clear"></div>
	    								<div class="btn-group">
						    				<label  class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='M'}"  ng-model="proposalInput.proposer.gender" ng-disabled="proposalInput.proposer.isPrimaryInsured=='Y'"  uib-btn-radio="'M'" required>Male</label>
						    				<label  class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='F'}"  ng-model="proposalInput.proposer.gender" ng-disabled="proposalInput.proposer.isPrimaryInsured=='Y'"  uib-btn-radio="'F'" required>Female</label>
						    				
						    			</div>
						    		</div>
    							</div>
    							<div class=" clear" ></div>
    							<div class="col-sm-4 ">
    								<div class="form-group required">
	    								<label class="control-label">Marital Status</label>
	    								<select class="form-control" name = "maritalstatus" ng-model="proposalInput.proposer.maritalStatus" required>
					    					<option value="">Select</option>
					    					<option value="{{item.id}}" ng-repeat="item in insurerMaster.MaritalStatus">{{item.value}}</option>
								    	</select>
					    			</div>
    							</div>
    							
    							<div class="col-sm-4 ">
    								<div class="form-group required">
    								<label class="control-label">Occupation</label>
    								<select class="form-control" name = "occupation" ng-model="proposalInput.proposer.occupationType"  ng-disabled = "isProposerInsured" ng-change="validateOcupation()" required>
				    					<option value="">Select</option>
				    					<option value="{{occupation.id}}" ng-repeat="occupation in insurerMaster.Occupation">{{occupation.value}}</option>
				    				</select>
				    					<span class="has-error">{{ocupationError}}</span>
				    				</div>
				    				
    							</div>
    							<div class="col-sm-4 ">
    								<div class="form-group" ng-class="{'has-error':proposerForm.pan.$invalid && ! proposerForm.pan.$pristine}">
    								<label class="control-label" >Pan Number</label>
    								<input type="text" name="pan" class="form-control" ng-model="proposalInput.proposer.pan" ng-pattern="/^[A-Z]{5}[0-9]{4}[A-Z]{1}$/" >
    								</div>
    							</div>
	   							<div class="col-sm-4">
	   							   <div class="form-group required" ng-class="{'has-error':proposerForm.nomineefName.$invalid && ! proposerForm.nomineefName.$pristine}">
	    								<label class="control-label">First Name</label>
	    								<input type="text" name="nomineefName" class="form-control field" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="proposalInput.proposer.nomineeFirstName" required>
	   								</div>
	   							</div>
	   							<div class="col-sm-4">
	   								 <div class="form-group required" ng-class="{'has-error':proposerForm.nomineelName.$invalid && ! proposerForm.nomineelName.$pristine}">
	    								<label class="control-label">Last Name</label>
	    								<input type="text" name="nomineelName" ng-minlength="1" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" class="form-control field" ng-model="proposalInput.proposer.nomineeLastName" required>
	   								</div>
	   							</div>
   							
   							<div class="col-sm-4">
   							 <div class="form-group required">
   								<label class="control-label">Gender</label>
 										<div class="clear"></div>
 										<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary btn_prim" name="nomineeGender" ng-model="proposalInput.proposer.nomineeGender" uib-btn-radio="'M'" required>Male</label>
									<label class="btn btn-primary btn_prim" name="nomineeGender" ng-model="proposalInput.proposer.nomineeGender" uib-btn-radio="'F'" required>Female</label>
								</div>
								<div class="has-error">{{nomineeGenderError}}</div>
								</div>
   							</div>
   							<div class="col-sm-4">
   							<div class="form-group required">
   								<label class="control-label">Nominee DOB</label>
 										<span class="input-group">
								 	<input type="text" class="form-control" name="nomineeDob" is-open="opened.nomineeDob" uib-datepicker-popup="{{}}" ng-model="proposalInput.proposer.nomineeDob"  datepicker-options="nomineeDobOptions" ng-required="true" close-text="Close" ng-change="calculateAge(proposalInput.proposer.nomineeDOB)" alt-input-formats="altInputFormats" required/>
								 	<span class="input-group-btn">
							            	<button type="button" class="btn btn-primary btn_prim " ng-click="open('nomineeDob')"><i class="glyphicon glyphicon-calendar"></i></button>
							          </span>
								 </span>
							</div>
   							</div>
   							<div class="col-sm-4">
    							 <div class="form-group required">
    								<label class="control-label">Relationship With Proposer</label>
    								<select class="form-control field" ng-model="proposalInput.proposer.nomineeRel" required>
    									<option value="{{relationship.id}}" ng-repeat="relationship in insurerMaster.Relationship | filter:{'gender': proposalInput.proposer.nomineeGender}" ng-if="relationship.value!='Self'">{{relationship.value}}</option>
    								</select>
    							</div>	
   							</div>
   							<div class="clear"></div>
   							<div ng-if="proposalInput.proposer.nomineeAge<18">
    							<div class="col-sm-4" >
    								<div class="form-group required" ng-class="{'has-error':proposerForm.AppFName.$invalid && ! proposerForm.AppFName.$pristine}">
    								<label class="control-label">Appointee  First Name </label>
    								<input type="text" class="form-control field" name="AppFName" ng-minlength="3" ng-maxlength="40" ng-model="proposalInput.proposer.appointeeName" required>
    								</div>
    							</div>
    							
    							<div class="col-sm-4" ng-if="proposalInput.proposer.nomineeAge<18">
    								<div class="form-group required" ng-class="{'has-error':proposerForm.AppLName.$invalid && ! proposerForm.AppLName.$pristine}">
    								<label class="control-label">Appointee Last Name </label>
    								<input type="text" class="form-control field" name="AppLName" ng-minlength="3" ng-maxlength="40" ng-model="proposalInput.proposer.appointeeLastName" required>
    								</div>
    							</div>
   								<div class="col-sm-4" ng-if="proposalInput.proposer.nomineeAge<18">
   									<div class="form-group required">
   									<label class="control-label">Appointee Relation </label>
    								<select class="form-control field" ng-model="proposalInput.proposer.appointeeRel" required>
    									<option value="{{relationship.id}}" ng-repeat="relationship in insurerMaster.AppointeeRelList">{{relationship.value}}</option>
    								</select>
    								</div>
   								</div>
  								<div class="col-sm-4" ng-if="proposalInput.proposer.nomineeAge<18">
    								<div class="form-group required">
	    								<label class="control-label">Appointee DOB</label>
   										<span class="input-group">
										 	<input type="text" class="form-control" name="appointeeDob" uib-datepicker-popup="{{}}" ng-model="proposalInput.proposer.appointeeDob"  is-open="opened.appointeeDob" datepicker-options="adultDobOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" date-parser required/>
										 	<span class="input-group-btn">
									            	<button type="button" class="btn btn-primary btn_prim " ng-click="open('appointeeDob')"><i class="glyphicon glyphicon-calendar"></i></button>
									          </span>
										 </span>
									</div>
  								</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
    		</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(2)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="proposerForm.$invalid" ng-click="nextSection('4')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   		</div>
   	</form>
 </div>