<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="policyForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class = "clear"></div>
     		<div class="body">
     			<div class="main-section">
     				<div class="buy-process">
     					<div id="summary-wrapper">
     						<div class="summary-stage">
     							<div class="title">
     								<h3>Proposer </h3>
     							    <span class="btn btn-primary" ng-click="back(3)">Edit</span>
     							</div>
     							<div class="stage-body">
     								<div class="col-sm-2">&nbsp;</div>
     								<div class="col-sm-10" style="margin-bottom:10px;">
										<div class="col-sm-6 list-item-proposer">
											<label class="control-label label-highlight">Name:</label>
											<span>{{proposalInput.proposer.title}} </span>
											<span>{{proposalInput.proposer.firstName}} </span>
											<span>{{proposalInput.proposer.middleName}} </span>
											<span>{{proposalInput.proposer.lastName}} </span>
										</div>
										<div class="col-sm-6 list-item-proposer">
											<label class="control-label label-highlight">Date of Birth:</label>
											<span>{{proposalInput.proposer.proposerDob| date : "dd MMM yyyy"}}</span>
										</div>
										<div class="col-sm-6 list-item-proposer">
											<label class="control-label label-highlight">Gender:</label>
											<span>{{getMasterValue("Gender", proposalInput.proposer.gender)}} </span>
										</div>
										<div class="col-sm-6 list-item-proposer">
											<label class="control-label label-highlight">Martital Status:</label>
											<span>{{getMasterValue("MaritalStatus", proposalInput.proposer.maritalStatus)}} </span>
										</div>
										<div class="col-sm-6 list-item-proposer">
											<label class="control-label label-highlight">Occupation:</label>
											<span>{{getMasterValue("Occupation", proposalInput.proposer.occupationType)}} </span>
										</div>
    								</div>
     							</div>
     						</div>
     						<div class="summary-stage">
     							<div class="title">
     								<h3>Insured Member(s)</h3>
     							    <span class="btn btn-primary" ng-click="back(0)">Edit</span>
     							</div>
     							<div class = "clear"></div>
     							<div class="stage-body">
							  		<div class="row mnone" ng-repeat="member in proposalInput.insured | orderBy: 'member.dob'">
    									<div class="col-sm-2">Insured Person's Details for {{member.firstName}}  {{member.lastName}}</div>
	    								
	    								<div class="col-sm-10" style="margin-bottom:10px;">
	    									<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Name:</label>
												<span>{{member.title}} </span>
												<span>{{member.firstName}} </span>
												<span>{{member.middleName}} </span>
												<span>{{member.lastName}} </span>
											</div>
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Date of Birth:</label>
												<span>{{member.dob| date : "dd MMM yyyy"}}</span>
											</div>
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Gender:</label>
												<span>{{getMasterValue("Gender", member.gender)}} </span>
											</div>
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Martital Status:</label>
												<span>{{getMasterValue("MaritalStatus", member.maritalStatus)}} </span>
											</div>
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Relationship with proposer:</label>
												<span>{{getMasterValue("Relationship", member.relationshipId)}} </span>
											</div>
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Occupation:</label>
												<span>{{getMasterValue("Occupation", member.occupationType)}} </span>
											</div>
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Height:</label>
												<span>{{member.height}} cms </span>
											</div>
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Weight:</label>
												<span>{{member.weight}} kgs </span>
											</div>
    									</div>
    								</div>
    								<div class = "clear"></div>
    								<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
     							</div>
     						</div>
    						
     						<div class="summary-stage">
     							<div class="title">
     								<h3>Contact Info. </h3>
     							    <span class="btn btn-primary" ng-click="back(4)">Edit</span>
     							</div>
     							<div class = "clear"></div>
     							<div class="stage-body">
									<div class="row mnone">
										<div class="col-sm-2">&nbsp;</div>
				    					<div class="col-sm-10 add-borde"> 
				    						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Contact Details</h3>
				    						
	    									<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Mailing Address:</label><br>
												<span>{{proposalInput.proposer.address[0].addressLine1}}</span><br>
												<span>{{proposalInput.proposer.address[0].addressLine2}} </span><br>
												<span>{{proposalInput.proposer.address[0].area}} </span><br>
												<span>{{proposalInput.proposer.address[0].landmark}} </span><br>
												<span>{{proposalInput.proposer.address[0].city}} </span><br>
												<span>{{proposalInput.proposer.address[0].state}} </span><br>
												<span>{{proposalInput.proposer.address[0].pincode}} </span><br>
											</div>
											
											
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">E-mail:</label>
												<span>{{proposalInput.proposer.contacts[1].contactText}}</span><br>
												<label class="control-label label-highlight">Mobile:</label>
												<span>{{proposalInput.proposer.contacts[0].contactText}}</span><br>
												<label class="control-label label-highlight">Landline:</label>
												<span>{{proposalInput.proposer.stdCode}}-{{proposalInput.proposer.landLine}}</span>
											</div>
											
											
																						
											<div class="col-sm-6 list-item-proposer">
												
											</div>
				    					</div>
			    					</div>
     							</div>
     						</div>
     						<div class="summary-stage">
     							<div class = "clear"></div>
     							<div class="title">
     								<h3>Medical History </h3>
     							    <span class="btn btn-primary" ng-click="back(1)">Edit</span>
     							</div>
     							<div class = "clear"></div>
     							<div class="stage-body">
     								<div class = "clear"></div>
     								<div class="row mnone">
     									<div>
			    							<img ng-src="./image/info.png">
    										<span>Have any of the person proposed to be insured ever suffered from/ are currently suffering from any of the following</span>
			    						</div>
     									<div class="col-sm-12 row mnone conditional-question" ng-repeat="question in medicalQuestions">
				    						<div class="col-sm-8 pnone">
				    							<span>{{$index+1}}.&nbsp;</span>
			    								<span>{{question.questiontext}}</span>
				    						</div>
				    						<div class="col-sm-2 pnone">&nbsp;</div>
				    						<div class="col-sm-2 pnone">
				    							<div ng-if="question.exists=='Y'">Yes</div>
												<div ng-if="question.exists=='N'">No</div>
			    							</div>
				    						<div class="clear"></div>
										</div>
										<div class="clear"></div>
										<div ng-if = "question.exists == 'Y'" class="col-sm-12">
											<div class="table table-responsive">
												<div>
													<span>Details of Medical Conditions</span>
												</div>
												<br>
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Insured Name</th>
															<th>Description</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="illness in proposalInput.medicalDetails">
															<td>{{illness.insuredName}}</td>
															<td>{{illness.details}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div> 
					    				<div class = "clear"></div>
					    			</div>		
     							</div>
     						</div>
     						<div class="summary-stage">
     							<div class="title">
     								<h3>SECTION 41 INSURANCE ACT (PROHIBITION OF REBATES)</h3>
     							</div>
     							<div class="stage-body">
     								<p>1) No person shall allow or offer to allow, either directly or indirectly, as an inducement to any person to take or renew or continue an insurance in respect of any kind of risk relating to lives or property in India, any rebate of the whole or part of the commission payable or any rebate of premium shown on the policy, nor shall any person taking out or renewing or continuing a policy accept any rebate, except such rebate as may be allowed in accordance with the prospectus or tables of the insurers.</p>
     								<p>2) Any person making default in complying with the provisions of this section shall be punishable with fine which may extend to five hundred rupees.</p>
     							</div>
     						</div>
     						<div class="summary-stage">
     							<div class="title">
     								<h3>GENERAL EXCLUSIONS</h3>
     							</div>
     							<div class="stage-body">
     								<p>The following is an outline of the general exclusions under the policy. For more details on the exclusions and the waiting periods please refer to the policy wordings before purchasing this policy. Waiting Periods - 30 days waiting period in the first year and is not applicable in subsequent renewals. 2 years waiting period for the specified illnesses/ surgeries. 3 years waiting period for Pre-existing conditions. Non medical - War or any act of war, invasion, act of foreign enemy, war like operations (whether war be declared or not or caused during service in the armed forces of any country), civil war, public defence, rebellion, revolution, insurrection, military or usurped acts, nuclear weapons/materials, chemical and biological weapons, radiation of any kind. Any Insured Person committing or attempting to commit a breach of law with criminal intent, or intentional self injury or attempted suicide while sane or insane. Any Insured Person’s participation or involvement in naval, military or air force operation, racing, diving, aviation, scuba diving, parachuting, hang-gliding, rock or mountain climbing. Medical - Abuse or the consequences of the abuse of intoxicants or hallucinogenic substances such as intoxicating drugs and alcohol, including smoking cessation programs and the treatment of nicotine addiction or any other substance abuse treatment or services, or supplies. Treatment of Obesity and any weight control program. Plastic surgery or cosmetic surgery unless necessary as a part of medically necessary treatment certified by the attending Medical Practitioner for reconstruction following an Accident, Cancer or Burns. Treatment for correction of eye due to refractive error. Circumcisions (unless necessitated by illness or injury and forming part of treatment); Aesthetic or change-of-life treatments of any description such as sex transformation operations, treatments to do or undo changes in appearance driven by cultural habits, fashion or the like or any procedures which improve physical appearance. Non allopathic treatment. Conditions for which Hospitalization is not required. Experimental, investigational or unproven treatment devices and pharmacological regimens. Admission primarily for diagnostic purposes not related to Illness for which Hospitalization has been done. Convalescence, cure, rest cure, sanatorium treatment, rehabilitation measures, private duty nursing, respite care, long-term nursing care or custodial care. Preventive care, vaccination including inoculation and immunisations (except in case of post-bite treatment); any physical, psychiatric or psychological examinations or testing. Enteral feedings (infusion formulas via a tube into the upper gastrointestinal tract) and other nutritional and electrolyte supplements unless certified to be required by the attending Medical Practitioner as a direct consequence of an otherwise covered claim. Save Provision or fitting of hearing aids, spectacles or contact lenses including optometric therapy, any treatment and associated expenses for alopecia, baldness, wigs, or toupees, medical supplies including elastic stockings, diabetic test strips, and similar products. Artificial limbs, crutches or any other external appliance and/or device used for diagnosis or treatment (except when used intra-operatively). Psychiatric, mental disorders (including mental health treatments), Parkinson and Alzheimer’s disease, general debility or exhaustion (run-down condition), sleep-apnoea. Congenital internal or external diseases, defects or anomalies, genetic disorders. Stem cell therapy or surgery, or growth hormone therapy. Venereal disease, sexually transmitted disease or illness; AIDS (Acquired Immune Deficiency Syndrome) and/or infection with HIV (Human Immunodeficiency Virus) including but not limited to conditions related to or arising out of HIV/AIDS such as ARC (AIDS Related Complex), Lymphomas in brain, Kaposi’s sarcoma, tuberculosis. Pregnancy (including voluntary termination), miscarriage (except as a result of an Accident or Illness), maternity or birth (including caesarean section) except in the case of ectopic pregnancy in relation to in-patient only. Sterility, treatment whether to effect or to treat infertility, any fertility, sub-fertility or assisted conception procedure, surrogate or vicarious pregnancy, birth control, contraceptive supplies or services including complications arising due to supplying services. Expenses for organ donor screening, or save as and to the extent provided for in Organ Donor Benefit-Organ Donor, the treatment of the donor (including surgery to remove organs from a donor in the case of transplant surgery). Treatment and supplies for analysis and adjustments of spinal subluxation, diagnosis and treatment by manipulation of the skeletal structure; muscle stimulation by any means except treatment of fractures (excluding hairline fractures) and dislocations of the mandible and extremities. Items of personal comfort and convenience including but not limited to television (wherever specifically charged for), charges for access to telephone and telephone calls (wherever specifically charged for), foodstuffs (except patient’s diet), cosmetics, hygiene articles, body care products and bath additive, barber or beauty service, guest service as well as similar incidental services and supplies. vitamins and tonics unless certified to be required by the attending Medical Practitioner as a direct consequence of an otherwise covered claim. Treatment rendered by a Medical Practitioner which is outside his discipline or the discipline for which he is licensed. Treatments rendered by a Medical Practitioner who is a member of the insured’s family or stays with him, however proven material costs are eligible for reimbursement in accordance with the applicable cover. Any treatment or part of a treatment that is not of a reasonable charge, not Medically Necessary; drugs or treatments which are not supported by a prescription. Charges related to a Hospital stay not expressly mentioned as being covered, including but not limited to charges for admission, discharge, administration, registration, documentation and filing. Any specific timebound or lifetime exclusion(s) applied by Us and specified in the Schedule and accepted by the insured. The costs of any procedure or treatment by any person or institution that We have told You (in writing) is not to be used at the time of renewal or at any specific time during the policy period.</p>
     							</div>
     						</div>
     						<div class="summary-stage">
     							<div class="title">
     								<h3>DECLARATION & WARRANTY ON BEHALF OF ALL PERSONS PROPOSED TO BE INSURED</h3>
     							</div>
     							<div class="stage-body">
     								<p>I/ We hereby declare, on my behalf and on behalf of all persons proposed to be insured that the above statements, answers and/or particulars given by me are true and complete in all respects to the best of my knowledge and that I/We am/ are authorized to propose on behalf of these other persons.</p>
     								<p>I understand that the information provided by me will form the basis of insurance policy, is subject to the Board approved underwriting policy of the Insurance company and that the policy will come into force only after full receipt of the premium chargeable.</p>
     								<p>I/ We further declare that I/We will notify in writing any change occurring in the occupation or general health of the life to be insured/ proposer after the proposal has been submitted but before communication of the risk acceptance by the company.</p>
     								<p>I/We declare and consent to the company seeking medical information from any hospital who at anytime has attended on the life to be insured/ proposer or from any past or present employer concerning anything which affects the physical and mental health of the life to be assured/proposer and seeking information from any insurance company to which an application for insurance on the life to be assured/ proposer has been made for the purpose of underwriting the proposal and/or claim settlement.</p>
     								<p>I/ We authorize the company to share information pertaining to my proposal including the medical records for the sole purpose of proposal underwriting and/or claims settlement and with any Governmental and/or Regulatory Authority.</p>
     							</div>
     						</div>
     						<div class="clear"></div>
     						<div class="row mnone" style="position:relative">
     							<div class="define">
	     							<img src="./image/info.png"> &nbsp;&nbsp;<span >Mandatory terms and conditions</span>
	     						</div>
			                    <div class="col-sm-12">
			                        <div class="agree-box">
			                            <div class="item">        
			                            	<div class="pointer">            
			                            		<img class="img-responsive" src="./image/arrow-right-circle.png">        
			                            	</div>        
			                            	<div class="agree-field">            
			                            		<span data-bind="html: obj.data.label">I hereby confirm<br>- I have read and agree to the Terms and Conditions of the 
			                            		<a style="text-decoration:none;cursor:pointer;" >policy</a> 
			                            		and the <a style="cursor:pointer;" class="call_overlay">website</a>;<br>- 
			                            		the declarations made herewith are true and correct;<br>- 
			                            		appointment of HeartBeat Insurance Brokers Pvt. Ltd. 
			                            		as my Insurance Broker, and authorize them to represent me to Insurance Companies/Agencies for my Insurance needs.</span>            
			                            		<div class="radio"></div>                            
			                            		<div class="radio">                                    
			                            		</div>            
		                            		</div>              
                          		       		</div>    
			                        </div><!--agree box -->
			                    </div><!--col-sm-12 -->
					            <div class="summary-stage">
				                	<div class="col-sm-12">
				  					<div class="agree-box">
				                        <div class="item">        
				                        	<div class="agree-field">            
				                        		<span style="color:red;">{{proposalError.key}}
				                        			<ol>
				                        				<li style="color:red;" ng-repeat="errorPirnts in proposalError.errorPirnt track by $index">{{errorPirnts}}</li>
				                        			</ol>
				                        		</div>            
				                       		</div>              
				                   	</div>    
				                    </div>
				                </div>			                    
			                </div>
     					</div>
     				</div>
     			</div>
     			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
     		</div>
   			<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
				<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(4)" style="/* display: none; */">
                             <img ng-src="./image/arrow-left.png">&nbsp;Back
                         </button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-click="makePayment()">Make Payment <img ng-src="./image/arrow-right.png"></button>
    				</div>
				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>