<div class="layout ">
	<div class="container">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="#!index">Home</a></li>
		  <li class="breadcrumb-item active">Critical Illness </li>
		</ol>
	
		<div class="bpfm margin-top-30">
			<div class="col-md-6 padd0">
				<h4 class="green">COMPARE  Critical Illness   INSURANCE POLICIES</h4>
			</div>
			<div class="col-md-6 padd0">
				<div class="right">
			      <div class="blue step left">STEP</div>
			      <div class="number left">1</div>
			      <div class="grey step left">OF</div>
			      <div class="number left">3</div>
			    </div>
			</div>
			<div class="clear"></div>
			<div class="banner-c">
				<form id="home-buy-form" name="critical" class="form-horizontal" novalidate ng-submit="criticalSubmit()">
					<div class=col-sm-12>
						<div class="col-sm-4">
							<div class="form-group">
								<div class="col-sm-12 col-md-12">
			      					<label class="control-label" style="vertical-align: middle"> Select your gender:</label>
			      					<div class="clear"></div>
					                <div class="btn-group" data-toggle="buttons">
					                  <label class="btn btn-primary" ng-class="{'active': ci.gender =='M'}" ng-model="ci.gender" uib-btn-radio="'M'" required >Male</label>
					                  <label class="btn btn-primary" ng-class="{'active': ci.gender =='F'}" ng-model="ci.gender" uib-btn-radio="'F'" required>Female</label>
					                </div>
			                	</div>
			                </div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
		      					<div class="col-sm-12 col-md-12">
		      						<label class= "control-label">Date of Birth:</label>
		      						 <span class="input-group">
		      						 	 
		      						 	 <input type="text" class="form-control" name="'termDob'" uib-datepicker-popup="{{format}}" ng-model="ci.termDob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
								          <span class="input-group-btn">
								            	<button type="button" class="btn btn-primary" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
								          </span>
		      						 </span>
		      					</div>
		      				</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
		      					<div class="col-sm-12 col-md-12">
		      						<label class= "control-label">
		      						 	Policy Term
	      						 	</label>
		      						<select class="form-control" data-role="none" ng-model="ci.policyTerm" required>
		      						 		<option value="{{polTerms}}" ng-repeat="polTerms in polTerm">{{polTerms}}</option>
		      						 	</select>
		      					</div>
		      				</div>
						</div>
						<div class="clear"></div>
						<div class="col-sm-4">
							<div class="form-group">
		      					<div class="col-sm-12 col-md-12">
		      						<label class= "control-label">Number Of Years To Pay</label>
		      						 
		      						 	
		      						 	<select class="form-control" data-role="none" ng-model="ci.NoOfYrsPay" required>
		      						 		<option value="{{polTerms}}" ng-repeat="polTerms in polTerm">{{polTerms}}</option>
		      						 	</select>
		      						 
		      						
	      					</div>
	      				</div>
      				</div>
      				<div class="col-sm-4">
      				 <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <label class= "control-label">Sum Insured</label>
                            
                              
                              <select class="form-control" id="cl_annualIncome" data-role="none" ng-model="ci.salIncome" required>
                                <option ng-value="{{sumInsureds.val}}" ng-repeat="sumInsureds in sumInsured">{{sumInsureds.name}}</option>
                                
                              </select>
                           
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-4">
	                    <div class="form-group">
	                    	<div class="col-sm-12 col-md-12">
	                    	<label class= "control-label">Pin Code</label>
	                    		
	                    			
	                    			<input type="text" class="form-control field" ng-model="ci.pincode" required>
	                    		
	                    	</div>
	                    </div>
	                   </div>
	                  <div class="clear"></div>
	                  <div class="form-group">
                        <div class="col-md-4 col-sm-4 col-xs-12 padd0 col-sm-push-4" align="center">
                            <button title="button" class="btn btn-primary call-back btn-default " id="termSubmit" data-role="none" ng-click="submitCritical()" ng-disabled='ciForm.$invalid'>SUBMIT</button>
                        </div>
                    </div>
					</div>
				</form> 
			</div>
		</div>
	</div>
	
</div>