<div class="col-md-6 padd0">
  <h4 class="green">SUPPORT CENTER</h4>
</div>
<div class="col-md-6 padd0">
  <div class="right">
    <div class="blue step left">STEP</div>
    <div class="number left">1</div>
    <div class="grey step left">OF</div>
    <div class="number left">3</div>
  </div>
</div>
<div class="banner-c">
	<form id="contactus-form">
		<div class="col-md-6 col-sm-6 col-xs-12 padd0">
	      	<div class="form-group">
		        <label for="contactus-salutation-button">Name*</label>
		        <div class="clear"></div>
		        <div class="col-xs-4 padd0">
		        <select class="form-control" name="contactus-salutation" id="contactus-salutation" class="wid3 form-control" >
		          <option value="Mr">Mr</option>
		          <option value="Mrs">Mrs</option>
		        </select>
		        </div>
		        <div class="col-xs-8">
		        	<input type="text" name="" class="form-control">
		        </div>
		       
		    </div>
		</div>
	    <div class="col-md-6 col-sm-6 col-xs-12 lft10-padd">
	      <div class="form-group">
	        <label>Email*</label>
	        <input type="email" class="form-control" id="contactus-email" name="contactus-email">
	      </div>
	    </div>
	    <div class="col-md-6 col-sm-6 col-xs-12 padd0">
	      <div class="form-group">
	        <label>Phone Number*</label>
	        <input type="tel" class="form-control" id="contactus-phone" name="contactus-phone">
	      </div>
	    </div>
	    <!-- <div class="clear"></div> -->
	    <div class="col-md-6 col-sm-6 col-xs-12 lft10-padd">
	      <div class="form-group">
	        <label>Query</label>
	        <textarea class="form-control" style="height: 34px;" id="contactus-query" name="contactus-query"></textarea>
	      </div>
	    </div>
	    <div class="clear"></div>
	    <div class="col-md-12 padd0">
	      <h4 class="green">Call Me Back</h4>
	    </div>
	    <div class="col-md-6 col-sm-6 col-xs-12 padd0">
	      <div class="form-group">
	        <label>Date*</label>
	        <input type="text" class="form-control" id="contactus-call-back-date" name="contactus-call-back-date">
	      </div>
	    </div>
	    <div class="col-md-6 col-sm-6 col-xs-12 lft10-padd">
	      <div class="form-group">
	        <label for="contactus-time-select-button">Time*</label>
	        <div class="clear"></div>
	        <div class="col-xs-4">
	        <input type="text" class="form-control" placeholder="10" name="contactus-call-back-hour" id="contactus-call-back-hour">
	        </div>
	        <div class="col-xs-4">
	        <input type="text" class="form-control" placeholder="00" name="contactus-call-back-min" id="contactus-call-back-min">
	        </div>
	        <div class="col-xs-4">
	        <select name="contactus-time-select" id="contactus-time-select" class="form-control" >
	          <option value="am">am</option>
	          <option value="pm">pm</option>
	        </select>
	        </div>
	      </div>
	    </div>
	    <div class="clear"></div>
	    <div class="col-md-4 col-sm-4 col-xs-12 padd0">
	      <button id="contactus-button" class="btn call-back btn-default">SUBMIT</button>
	    </div>
	    <div class="clear"></div>
	</form>
	<div class="clear"></div>
</div>
<div class="common-wrap">
  	<div class="col-md-4 col-sm-4 col-xs-6 padd0 bdr-rgt">
	    <div class="top media">
	      <div class="media-left"> <a href="#"> <img class="media-object" width="25" ng-src="./image/call1.png" alt="Call us to buy instant policy"> </a> </div>
	      	<div class="media-body">
				<h3 class="media-heading">7899-000-333</h3>
	        	<div style="color:#989898">Call or Whatsapp</div>
	      	</div>
	    </div>
  	</div>
  	<div class="col-md-4 col-sm-4 col-xs-6 lft10-padd plm1" style="color: #aeb0b3;">
		<a href="mailto:support@Instainsure.com" title="support@Instainsure.com" style="color:#aeb0b3">support@Instainsure.com</a><br>
     	Email us
  	</div>
  	<div class="col-md-4 col-sm-4 col-xs-12 lft10-padd">
    	<div class="watch hidden"> <span></span> </div>
  	</div>
</div>