<form name="frmClaimIssue" id="frmClaimIssue" class="form-horizontal" method="post" action="">
                			<div class="heading-claims">PLEASE PROVIDE DETAILS <a href="javascript:void(0);" class="icon-close"></a></div>
                			<div class="col-sm-12">
				                <div class="content">
				                   
				                    <div class="col-sm-6 col-md-6 col-lg-6">
				                    	<div class="form-group padding15">
				                        <label class="control-label">Product</label>
				                        <select class="selectbox form-control"  name="selProductClaim" ng-model="IntimateclaimDetails.selProductClaim" id="selProductClaim" ng-change="selectProduct(IntimateclaimDetails.selProductClaim)" required> 
				                            <option value="">----Select----</option>
				                            <option value="{{productclaims}}" ng-repeat="productclaims in productclaim">{{productclaims}}</option>
				                            
				                        </select>
				                        </div>
				                    </div>
				                    <div class="col-sm-6 col-md-6 col-lg-6">
				                    	<div class="form-group padding15">
				                    		<label class="control-label">Name</label>
				                    		<input type="text" name="txtName" ng-model="IntimateclaimDetails.name" placeholder="Name" class="form-control" maxlength="200"  required value=""></div>
				                    	</div>
				                    
				                    <div class="clear"></div>
				                    <div class="col-sm-6 col-md-6 col-lg-6">
				                    	<div class="form-group padding15">
				                    		 <label class="control-label">Email</label>
				                    		 <input type="email" name="txtEmailId" placeholder="Email" maxlength="200" class="popup-feild form-control" required ng-model="IntimateclaimDetails.email">
				                    	</div>
				                    </div>
				                    <div class="col-sm-6 col-md-6 col-lg-6">
				                    	<div class="form-group padding15">
				                    		 <label class="control-label">Mobile</label>
				                    		
				                    		 <div class="input-group">
					                    		<span class="input-group-btn">
											        <select class="btn" ng-model="IntimateclaimDetails.selCountry" style="width: 100px">
											          <option value="">Select</option>
		                      						  <option value="{{countryMobiles.stdcode}}" ng-repeat="countryMobiles in countryMobile">{{countryMobiles.name}} - ({{countryMobiles.stdcode}})</option>
											        </select>
										      	</span>
										      	<input type="text" class="form-control" mg-model="IntimateclaimDetails.Mobile">
											</div>
				                    	</div>
				                    </div>
				                    <div class="clear"></div>
				                    <div class="col-sm-6 col-md-6 col-lg-6">
				                    	<div class="form-group padding15">
				                    		<label class="control-label">Issue</label>
				                    		<select class="selectbox form-control" name="selIssues" required="" ng-model="IntimateclaimDetails.selIssues"> 
					                            <option value="">Select Issue</option>
					                            <option value="{{issues}}" ng-repeat="issues in issue">{{issues}}</option>
					                                   
					                        </select>
				                    	</div>
				                    </div>
				                    <div class="col-sm-6 col-md-6 col-lg-6">
				                    	<div class="form-group padding15">
				                    		<label class="control-label">Insurer</label>
				                    		<select class="selectbox form-control" name="selInsurer" id="selInsurer" required="" ng-model="IntimateclaimDetails.selInsurer">
					                            <option value="">Select Insurer</option>
					                            <option value="{{insurers.id}}" ng-repeat="insurers in insurer">{{insurers.name}}</option>
					                        </select>   
				                    	</div>
				                    </div>
				                    <div class="clear"></div>
				                    <div class="col-sm-6 col-md-6 col-lg-6">
				                    	<div class="form-group padding15">
				                    		<label class="control-label">Claim Number</label>
				                    		 <input type="text" name="txtClaimNumber" placeholder="Claim Number" maxlength="30" class="popup-feild form-control" required="" ng-model="IntimateclaimDetails.txtClaimNumber">
				                    	</div>
				                    </div>
				                    <div class="col-sm-6 col-md-6 col-lg-6">
				                    	<div class="form-group padding15">
				                    		<label class="control-label">Policy Number</label>
				                    		<input type="text" name="txtPolicyNumber" placeholder="Policy Number" maxlength="20" value="" class="popup-feild form-control" required="" ng-model="IntimateclaimDetails.txtPolicyNumber">
				                    	</div>
				                    </div>
				                    <div class="clear"></div>
				                    <div class="col-sm-6 col-md-6 col-lg-6">
				                    	<div class="form-group padding15">
				                    		<label class="control-label">Tell us more</label>
				                    		<textarea name="mtxAboutIssue"  maxlength="200" class="popup-feild form-control" style="height:100px;" ng-model="IntimateclaimDetails.mtxAboutIssue"></textarea>
				                    	</div>
				                    </div>
				                   <div class="clear"></div>
				                    <div class="row " align="center">
				                        <label>&nbsp;</label>
				                        <input type="hidden" name="btncareClaim" id="btncareClaim" value="CareClaim">
				                        <button class="popup-submit" id="btnSubmitClaim">Submit</button>
				                    </div>
				                </div>
				            </div>
				        </form>