<div class="container">
	<div class="col-sm-12">
		<div class="topContent">
			<h1>Claim Assistance</h1>
			<p class="firstPara">You file a claim when you are in a distress situation or trying to recover from one. We, at Nearby Insurance understand this completely and want to ease out the process of claim filling for you.</p>
		</div>
		<div class="productBox">
			<h1 class="nresp">Select a Product <span>(Choose from the portfolio of products to see how to manage a claim or download claim forms)</span></h1>
		</div>
	<div class="col-sm-12 col-md-12 padd0 margin-left-right">
		<div class="process_content">
			<div class="tabZone">
				<ul class="btn_radio">
	              <li ng-repeat="tabzone in tabZones">
	                  <input  type="radio" id="radio{{$index}}" name="radio"  ng-click="setTab(tabzone.text);" data-ng-value="tabzone.value" ng-checked="$index==0?true:false">
	                <label for="radio{{$index}}">{{tabzone.text}}</label>
	              </li>
	            
	            </ul>
			</div>
			<div id="tabsholder">
				<div  ng-if="productType==results.name" ng-repeat="results in result">
						<!-- {{results.product.productName}} -->
						<ul class="tabs">
							<li id="{{healthProducts.id}}" ng-repeat="healthProducts in results.product.productName" ng-click="innerTab(healthProducts.short_name,healthProducts.id);" ng-class="{'current':current==healthProducts.id}">
			                <div></div>
			                <span>{{healthProducts.name}}</span></li>
						</ul>
						<div class="clear"></div>
						<div class="contents">
							<div id="content1" class="tabscontent"  ng-if="innerTabProducts=='knowprocess'">
								Select the Process
								<div class="tabs">
									<ul class="tabNavigation" ng-class="{'w19':results.name=='Travel'}">
										<li class="processTab" ng-class="{'selected':processActive==val.name}" ng-repeat="(key,val) in results.product.selectProcess"><a ng-click="processTab(val.name)" >{{val.name}}</a></li>
									</ul>
									<div class="clear"></div>
									<div ng-if="results.name=='Travel'">
										
		                			 	</br>
				                        <p>Select other process</p>
				                        <div class="col-sm-12 padd0">
				                        	<select class="select mrleft" id="ClaimProcesstravel" ng-model="otherProcess" ng-change="processTab('otherProcess');selOtherProcess(results.product.otherProcess,otherProcess)">
				                        		<option value="">Select</option>
				                        		<option value="{{claimProcessTravels.id}}" ng-repeat="claimProcessTravels in claimProcessTravel">
				                        				{{claimProcessTravels.name}}
				                        		</option>
				                        	</select>
				                        </div>
									</div>
									<div class="clear"></div>
									<div class="col-sm-12">
										<div id="tab-1" ng-if="processActive==val.name" ng-init="processName=val.name" ng-repeat="(key,val) in results.product.selectProcess">

											<ul class="process_step">
												<li ng-repeat="cashlesses in val.process">
													<strong class="count">{{$index+1}}</strong>
						                                <div>STEP {{$index+1}} </div>
						                                <span> <strong>{{cashlesses.para1}}</strong>{{cashlesses.para2}}
						                                <ul >
						                                	<li ng-repeat="document in cashlesses.documents" ng-if="cashlesses.documents">{{document}}</li>
						                                </ul>
						                                </span>
					                            </li>
											</ul>
										</div>
										<!-- Other Process -->
										<div id="tab-1" ng-if="processActive=='otherProcess'" >
											<ul class="process_step">
												<li ng-repeat="otherProcesTravels in otherProcesTravel">
													<strong class="count">{{$index+1}}</strong>
						                                <div>STEP {{$index+1}} </div>
						                                <span> <strong>{{otherProcesTravels.para1}}</strong>{{otherProcesTravels.para2}}
						                                <ul >
						                                	<li ng-repeat="document in otherProcesTravels.documents" ng-if="otherProcesTravels.documents">{{document}}</li>
						                                
						                                </ul>
						                                </span>
						                            </li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="content2" ng-if="innerTabProducts=='dwnclaim'">
								<p>Choose the insurer to download the forms</p>
								<!-- {{results.product.downloadForm}} -->
								<select class="select" name="srhInsurer" ng-model="insurerFormVal" ng-change="inurerFormDownlod(results.name,results.product.downloadForm,insurerFormVal)">
	                                <option value="">Select Insurer</option> 
	                                <option value="{{insurerForms.id}}" ng-repeat="insurerForms in results.product.selectInsurer">{{insurerForms.name}}</option> 
	                        	</select>
	                        	 <div class="clear"></div>
		                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl_insurer tbl_insurerclaim" id="health16" ng-if="insurerFormVal || insureDownload" >
				                    <tbody ng-repeat="insureDownloads in insureDownload" ng-if="insureDownloads!=''">
					                    <tr>
					                        <th><h4><span id="16insName">{{insureDownloads.name}}</span></h4>
						                      <ul>
						                        <li>{{insureDownloads.phone}}</li>
						                        <li><a href="mailto:insureDownloads.email">{{insureDownloads.email}}</a></li>
						                      </ul>
					                     	</th>
					                    </tr>                    
		                                <tr ng-repeat="claims in insureDownloads.claim">
		                                    <td>
		                                    	<p>{{claims.name}}</p>
			                                      <ul>
			                                        <li><a  target="_blank" href="{{claims.download}}">Download</a></li>
			                                        <li link="{{claims.download}}"> <a class="email-link" href="javascript:void(0);">Email</a></li>
			                                      </ul>
			                                </td>
		                                </tr>
		                                             
					                </tbody>
					            </table>       
							</div>
							<!-- download -->
							<!-- Search List -->
							<div id="content3" ng-if="innerTabProducts=='searchlist'">
								Find The Hospital
							</div>
							<div id="content4" ng-if="innerTabProducts=='Intimateclaim'">
							  
							  <div  ng-include src="'templates/support/service/provideDetail.html'"></div>
								
		            		</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>