<div class="servicePremium">
	<div class="servicePremium_header rmibanner">
		<div class="container">
			<span class="menub"><img ng-src="./image/menu4b.png" class="img-responsive"></span>
			<span class="menub service_text">Service Request</span>
			
		</div>
	</div>
	<div class="container">
		<div class="wizard-container addmargin">
				<div class="card wizard-card">
					
				</div>
			</div>
	</div>
</div>