<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="policyForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Summary</div>
	   		<div class = "clear"></div>
	   		<div class="body">
	   			<div class="main-section">
	   				<div class="buy-process">
	   					<div id="summary-wrapper">
	   						<div class="summary-stage">
	   							<p>The information provided by me in this document is True to the best of my knowledge.</p>
	   							<p>This proposal will be the basis of any insurance policy that We may issue. You must disclose all facts relevant to all persons proposed to be insured that may affect Our decision to issue a policy or its price, terms, conditions and exclusions. Non-compliance may result in the avoidance of the Policy. If there is insufficient space for you to provide information whether as requested or otherwise, please attach a separate sheet. If you are in any doubt, please seek the advice of your insurance advisor. We are under no obligation to accept any proposal for insurance. If We accept a proposal for insurance, it shall be subject to the Policy terms and conditions and We shall have no liability to make any payment under the Policy if premium is not received by Us in full and in time, or is not realised or non-fullfillment of pre-policy check-up.</p>
	   						</div>
       						<div class="summary-stage">
     							<div class="title">
     								<h4>Policy </h4>
     							    <span class="btn btn-primary" ng-click="back(0)">Edit</span>
     							</div>
     							<div class="stage-body">
     								<div class="col-sm-10" style="margin-bottom:10px;">
										<div class="col-sm-6 ">
											<label class="control-label label-highlight">Policy Start Date:</label>
											<span>{{proposalInput.policy.policyStartdate| date : "dd MMM yyyy"}}</span>
										</div>
    									<div class="col-sm-6 ">
											<label class="control-label label-highlight">Policy End Date:</label>
											<span>{{proposalInput.policy.policyEnddate| date : "dd MMM yyyy"}}</span>
										</div>
    								</div>
     							</div>
     						</div>  
     						<div class="summary-stage">
     							<div class="title">
     								<h4>Proposer </h4>
     							    <span class="btn btn-primary" ng-click="back(4)">Edit</span>
     							</div>
     							<div class="stage-body">
     								<div class="col-sm-10" style="margin-bottom:10px;">
										<div class="col-sm-6 ">
											<label class="control-label label-highlight">Name:</label>
											<span>{{proposalInput.proposer.title}} </span>
											<span>{{proposalInput.proposer.firstName}} </span>
											<span>{{proposalInput.proposer.middleName}} </span>
											<span>{{proposalInput.proposer.lastName}} </span>
										</div>
										<div class="col-sm-6 ">
											<label class="control-label label-highlight">Date of Birth:</label>
											<span>{{proposalInput.proposer.proposerDob| date : "dd MMM yyyy"}}</span>
										</div>
										
										<div class="col-sm-6 ">
											<label class="control-label label-highlight">Gender:</label>
											<span ng-if = "proposalInput.proposer.gender=='M'">Male</span>
											<span ng-if = "proposalInput.proposer.gender=='F'">Female</span>
										</div>
										
										<div class="col-sm-6 ">
											<label class="control-label label-highlight">Occupation:</label>
											<span>{{proposalInput.proposer.occupationType}}</span>
										</div>
										
										<div class="col-sm-6 ">
											<label class="control-label label-highlight">Marital Status:</label>
											<span>{{proposalInput.proposer.maritalStatus}}</span>
										</div>
										
										<div class="col-sm-6 ">
											<label class="control-label label-highlight">PAN:</label>
											<span>{{proposalInput.proposer.pan}}</span>
										</div>
										
										<div class="clear"></div>
										<div class="col-sm-6 ">
											<label class="control-label label-highlight">Nominee Name:</label>
											<span>{{proposalInput.proposer.title}} </span>
											<span>{{proposalInput.proposer.nomineeName}} </span>
										</div>
										<div class="col-sm-6 ">
											<label class="control-label label-highlight">Nominee Date of Birth:</label>
											<span>{{proposalInput.proposer.nomineeDob| date : "dd MMM yyyy"}}</span>
										</div>
										<div class="col-sm-6 ">
											<label class="control-label label-highlight">Nominee Relationship:</label>
											<span>{{getMasterValue("NomineeRel", proposalInput.proposer.nomineeRel)}}</span>
										</div>
										
										<div ng-if ="proposalInput.proposer.nomineeAge<18">
											
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">Appointee Name:</label>
												<span>{{proposalInput.proposer.appointeeFirstName}} </span>
												<span>{{proposalInput.proposer.appointeeLastName}} </span>
											</div>
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">Appointee Date of Birth:</label>
												<span>{{proposalInput.proposer.appointeeDOB| date : "dd MMM yyyy"}}</span>
											</div>
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">Appointee Relationship:</label>
												<span>{{getMasterValue("NomineeRel", proposalInput.proposer.appointeeRel)}} </span>
											</div>
										</div>
    								</div>
     							</div>
     						</div>
	   						<div class="summary-stage">
	   							<div class="title">
	   								<h3>Vehicle </h3>
	   							    <span class="btn btn-primary" ng-click="back(1)">Edit</span>
	   							</div>
	   							<div class="stage-body">
						  			<div class="row mnone" >
	  									<div class="col-sm-10">
														
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">Vehicle Regno:</label>
												<span>{{proposalInput.vehicle.vehicleRegno}}</span>
											</div>
											
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">Vehicle Registration Date:</label>
												<span>{{proposalInput.vehicle.vehicleRegistrationDate| date : "dd MMM yyyy"}}</span>
											</div>
																									
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">Engine No:</label>
												<span>{{proposalInput.vehicle.engineNo}}</span>
											</div>							
														
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">Chassis  No:</label>
												<span>{{proposalInput.vehicle.chassisNo}}</span>
											</div>						
														
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">Price:</label>
												<span>{{proposalInput.vehicle.price}}</span>
											</div>							
														
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">IDV:</label>
												<span>{{proposalInput.vehicle.idv}}</span>
											</div>							
														
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">No Of Drivers:</label>
												<span>{{proposalInput.vehicle.noOfDrivers}}</span>
											</div>							
														
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">Annual Milleage:</label>
												<span>{{proposalInput.vehicle.annualMilleage}}</span>
											</div>
	    							
			    							<div class="col-sm-4" >
			    								<div class="form-group required">
			    									<label class="control-label">Is Bi Fuel Kit Present?</label>
			    									<div class="clear"></div>
				    								<div class="btn-group">
				    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.lpgcngKit" ng-class="{'active':proposalInput.vehicle.lpgcngKit=='Y'}" uib-btn-radio="'Y'" ng-disabled="'true'">Yes</label>
				    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.lpgcngKit" ng-class="{'active':proposalInput.vehicle.lpgcngKit=='N'}" uib-btn-radio="'N'" ng-disabled="'true'">No</label>
				    								</div>
			    								</div>
			    							</div>					
														
											
	    							
		    								<div class="col-sm-4" ng-if = "proposalInput.vehicle.lpgcngKit=='Y'">
			    								<div class="form-group required">
			    									<label class="control-label">LPG/CNG kit fitted externally?</label>
			    									<div class="clear"></div>
				    								<div class="btn-group">
				    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.biKitType" ng-class="{'active':proposalInput.vehicle.biKitType=='E'}"  uib-btn-radio="'E'" ng-disabled="'true'">Yes</label>
				    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.biKitType" ng-class="{'active':proposalInput.vehicle.biKitType=='I'}"  uib-btn-radio="'I'" ng-disabled="'true'">No</label>
				    								</div>
			    								</div>
		    								</div>				
														
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">Anti Theft Device fitted:</label>
												<span ng-if="proposalInput.vehicle.antiTheft =='Y'">Yes</span>
												<span ng-if="proposalInput.vehicle.antiTheft =='N'">No</span>
											</div>
				   							
				   							<div class="col-sm-6 ">
				   								<label class="control-label label-highlight">Are Electrical Accesorries Included:</label>
												<span ng-if="proposalInput.vehicle.electricalAccessoryFlag =='Y'">Yes</span>
												<span ng-if="proposalInput.vehicle.electricalAccessoryFlag =='N'">No</span>
				   												   								
				   								<div class="form-group" ng-if="proposalInput.vehicle.electricalAccessoryFlag =='Y'">
													<div class="col-sm-12 col-md-12 col-lg-12">
														<div class="table-responsive">
															<table ng-show = "proposalInput.vehicle.electricalAccList.length>0" class="table table-bordered">
																<thead>
																	<tr>
																	    <th>Make</th>
																	    <th>Name</th>
																	    <th>Value</th>								    
																    	<th>&nbsp;</th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat = "item in proposalInput.vehicle.electricalAccList track by $index">
																		<td>{{item.make}}</td>
																		<td>{{item.name}}</td>
																		<td>{{item.value}}</td>
																	<td><span class="glyphicon glyphicon-trash" ng-click="addEditAccessory('Elec','Delete', $index)"></span></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
				   							</div>
				   							
				   							<div class="col-sm-6 ">
				   								<label class="control-label label-highlight">Are Non-Electrical Accesorries Included:</label>
												<span ng-if="proposalInput.vehicle.nonElectricalAccessoryFlag =='Y'">Yes</span>
												<span ng-if="proposalInput.vehicle.nonElectricalAccessoryFlag =='N'">No</span>
				   												   								
				   								<div class="form-group" ng-if="proposalInput.vehicle.nonElectricalAccessoryFlag =='Y'">
													<div class="col-sm-12 col-md-12 col-lg-12">
														<div class="table-responsive">
															<div></div>
															<table ng-show = "proposalInput.vehicle.nonElectricalAccList.length>0" class="table table-bordered">
																<thead>
																	<tr>
																	    <th>Make</th>
																	    <th>Name</th>
																	    <th>Value</th>								    
																    	<th>&nbsp;</th>
																	</tr>
																</thead>
																<tbody>
																		<tr ng-repeat = "item in proposalInput.vehicle.electricalAccList track by $index">
																			<td>{{item.make}}</td>
																			<td>{{item.name}}</td>
																			<td>{{item.value}}</td>
																		<td><span class="glyphicon glyphicon-trash" ng-click="addEditAccessory('Elec','Delete', $index)"></span></td>
																		</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
				   							</div>
				   							<div class= "clear"></div>
				   						</div>
	   								</div>
	   							</div>
	   						</div>
	   						<div class="summary-stage">
	   							<div class="title">
	   								<h3>Previous policy   </h3>
	   							    <span class="btn btn-primary" ng-click="back(2)">Edit</span>
	   							</div>
	   							
	   							<div class="stage-body">
	   								<div class="col-sm-10" style="margin-bottom:10px;" ng-if="proposalInput.policy.typeOfBusiness=='Rollover'">
										<div class="col-sm-6 ">
											<label class="control-label label-highlight">Previous Policy Start Date:</label>
											<span>{{proposalInput.prevpolicy.prePolicystartdate| date : "dd MMM yyyy"}}</span>
										</div>
		  								
		  								<div class="col-sm-6 ">
											<label class="control-label label-highlight">Previous Policy End Date:</label>
											<span>{{proposalInput.prevpolicy.prePolicyenddate| date : "dd MMM yyyy"}}</span>
										</div>
											  								
		  								<div class="col-sm-6 ">
											<label class="control-label label-highlight">Previous Policy number:</label>
											<span>{{proposalInput.prevpolicy.prePolicynumber}}</span>
										</div>
		  								
		  								<div class="col-sm-6 ">
											<label class="control-label label-highlight">Previous Insurer</label>
											<span>{{getMasterValue("Insurer", proposalInput.prevpolicy.preInsurercode)}} </span>
										</div>
											  								
		  								<div class="col-sm-6 ">
											<label class="control-label label-highlight">Number Claims:</label>
											<span>{{proposalInput.prevpolicy.numberClaims}}</span>
										</div>
											  								
		  								<div class="col-sm-6 ">
											<label class="control-label label-highlight">Policy Premium:</label>
											<span>{{proposalInput.prevpolicy.policyPremium}}</span>
										</div>
											  								
		  								<div class="col-sm-6 ">
											<label class="control-label label-highlight">Previous NCB:</label>
											<span>{{proposalInput.prevpolicy.previousNcb}}</span>
										</div>
										
	  								</div>
	   							</div>
		   						<div class="stage-body">
		   							<div class = "clear"></div>
		    						<div class="col-sm-10" ng-if="proposalInput.policy.typeOfBusiness=='New Business'">
		    							<div class="col-sm-4">
		    								<div class="form-group required">
		    								<label class="control-label">Applicable Ncb</label>
		    								<input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.currNcb" readonly>
		    								</div>
		    							</div>
		    							<div class="col-sm-4">
		    								<div class="form-group required">
		    								<label class="control-label">Current Ncb</label>
		    								<input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.previousNcb" readonly>
		    								</div>
		    							</div>
		    						</div>
		    						<div class = "clear"></div>
		    					</div>	   						
	   						</div>
	   						
	   						<div class="summary-stage">
	    							<div class="title">
	    								<h4>Contact Info. </h4>
	    							    <span class="btn btn-primary" ng-click="back(5)">Edit</span>
	    							</div>
	    							<div class = "clear"></div>
	    							<div class="stage-body">
									<div class="row mnone">
										<div class="col-sm-12 add-borde"> 
				    						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Contact Details</h3>
				    						
	    									<div class="col-sm-6 ">
												<label class="control-label label-highlight">Policy Address:</label><br>
												<span>{{proposalInput.proposer.policyAddress1}} </span>
												<span>{{proposalInput.proposer.policyAddress2}} </span><br>
												<span>{{proposalInput.proposer.policyLandmark}} </span><br>
												<span>{{proposalInput.proposer.policyCity}}, {{proposalInput.proposer.policyState}}  </span><br>
												<span>{{proposalInput.proposer.policyPincode}} </span><br>
											</div>
											
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">Mailing Address:</label><br>
												<span>{{proposalInput.proposer.corrAddress1}}</span><br>
												<span>{{proposalInput.proposer.corrAddress2}} </span><br>
												<span>{{proposalInput.proposer.corrLandmark}} </span><br>
												<span>{{proposalInput.proposer.corrCity}}, {{proposalInput.proposer.corrState}} </span><br>
												<span>{{proposalInput.proposer.corrPincode}} </span><br>
											</div>
											
											<div class="col-sm-6 ">
												<label class="control-label label-highlight">E-mail:</label>
												<span>{{proposalInput.proposer.email}}</span><br>
												<label class="control-label label-highlight">Mobile:</label>
												<span>{{proposalInput.proposer.mobile}}</span><br>
											</div>
											
											
																						
											<div class="col-sm-6 ">
												
											</div>
				    					</div>
			    					</div>
	    							</div>
	    						</div>
	   						<div class="summary-stage">
	   							<div class="title">
	   								<h3>Cover  </h3>
	   							    <span class="btn btn-primary" ng-click="back(3)">Edit</span>
	   							</div>
	   							<div class="stage-body">
	   								<div class="row mnone conditional-question">
	    							<div class="col-xs-12">The following addon covers have been selected:</div>
	    							<div class="col-sm-12" style="margin-bottom:10px;"  ng-repeat="cover in covers">
	    								<!-- {{cover}} -->
	    								<div class="col-xs-3">{{cover.displayName}}</div>
	    								<div class="col-xs-3">{{cover.premium| currency:"&#8377;": 0 }}</div>
	    								<div class="col-xs-3">
	    									<div class="btn-group">
		    									<label class="btn btn-primary btn_prim" ng-class="{'active':cover.isSelected=='Y'}" ng-model="cover.isSelected" uib-btn-radio="'Y'" ng-disabled="'true'">Yes</label>
		    									<label class="btn btn-primary btn_prim" ng-class="{'active':cover.isSelected=='N'}" ng-model="cover.isSelected" uib-btn-radio="'N'" ng-disabled="'true'">No</label>
	    									</div>
	    								</div>
	    							</div>
	    							<Br>
	    						</div>
	   							</div>
	   						</div>
	   						<div class="summary-stage">
	   							<div class="title">
	   								<h3>SECTION 41 INSURANCE ACT (PROHIBITION OF REBATES)</h3>
	   							</div>
	   							<div class="stage-body">
	   								<p>1) No person shall allow or offer to allow, either directly or indirectly, as an inducement to any person to take or renew or continue an insurance in respect of any kind of risk relating to lives or property in India, any rebate of the whole or part of the commission payable or any rebate of premium shown on the policy, nor shall any person taking out or renewing or continuing a policy accept any rebate, except such rebate as may be allowed in accordance with the prospectus or tables of the insurers.</p>
	   								<p>2) Any person making default in complying with the provisions of this section shall be punishable with fine which may extend to five hundred rupees.</p>
	   							</div>
	   						</div>
	   						<div class="clear"></div>
	   						<div class="row mnone" style="position:relative">
	   							<div class="define">
	    							<img src="./image/info.png"> &nbsp;&nbsp;<span >Mandatory terms and conditions</span>
	    						</div>
		                    <div class="col-sm-12">
		                        <div class="agree-box">
		                            <div class="item">        
		                            	<div class="pointer">            
		                            		<img class="img-responsive" src="./image/arrow-right-circle.png">        
		                            	</div>        
		                            	<div class="agree-field">            
		                            		<span data-bind="html: obj.data.label">I hereby confirm<br>- I have read and agree to the Terms and Conditions of the 
		                            		<a style="text-decoration:none;cursor:pointer;" >policy</a> 
		                            		and the <a style="cursor:pointer;" class="call_overlay">website</a>;<br>- 
		                            		the declarations made herewith are true and correct;<br>- 
		                            		appointment of HeartBeat Brokers as my Insurance Broker, and authorize them to represent me to Insurance Companies/Agencies for my Insurance needs.</span>            
		                            		<div class="radio"></div>                            
		                            		<div class="radio">                                    
		                            		</div>            
	                            		</div>              
	                        		       		</div>    
		                        </div><!--agree box -->
		                    </div><!--col-sm-12 -->
		                     <div class="summary-stage">
	                	<div class="col-sm-12">
	  					<div class="agree-box">
	                        <div class="item">        
	                        	<div class="agree-field">            
	                        		<div style="color:red;">{{proposalError.key}}
	                        			<ol>
	                        				<li style="color:red;" ng-repeat="errorPirnts in proposalError.errorPirnt track by $index">{{errorPirnts}}</li>
	                        			</ol>
	                        		</div>            
	                       		</div>              
	                   	</div>    
	                    </div>
	                </div>
		                </div>
	   					</div>
	   				</div>
	   			</div>
	   		</div>
	   		<div class = "clear"></div>
		   		<!--.body -->
	   		<div class="foot">
				<div class="clearfix">
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(5)" style="/* display: none; */">
	                            <img ng-src="./image/arrow-left.png">&nbsp;Back
	                        </button>
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-click="makePayment()">Make Payment <img ng-src="./image/arrow-right.png"></button>
	   				</div>
				</div>
	   		</div>
	   	</div>
   		</div>
   	</form>
 </div>