<div class="proposal_form">
	<div class="product" ng-if="input.productId==102">
		<div class ="header" ng-include src="'templates/proposal/car/royalSundaram/royalSundaram.html'"></div>
	</div>
	<!--113  -->
	<div class="product" ng-if="input.productId==113">
		<!-- <div class ="header" ng-include src="'templates/proposal/health/bajaj/bajaj.html'"></div> -->
	</div>
	<!--125  -->
	 <div class="product" ng-if="input.productId==125">
		<div class ="header" ng-include src="'templates/proposal/car/hdfc/hdfc.html'"></div> 
		<!-- <div class ="header" ng-include src="'templates/proposal/car/royalSundaram/royalSundaram.html'"></div> -->
	</div> 
	<!--129  -->
	<div class="product" ng-if="input.productId==129">
		<!-- <div class ="header" ng-include src="'templates/proposal/health/star/star.html'"></div> -->
	</div>
	<div class="product" ng-if="input.productId==131">
		<!-- <div class ="header" ng-include src="'templates/proposal/health/apolloMunich/proposal.html'"></div> -->
	</div>
	<!--139  -->
	<div class="product" ng-if="input.productId==139">
		<!-- <div class ="header" ng-include src="'templates/proposal/health/axa/axa.html'"></div> -->
	</div>
	<!--148  -->
	<div class="product" ng-if="input.productId==148">
		<!-- <div class ="header" ng-include src="'templates/proposal/health/religare/religare.html'"></div> -->
	</div>
	
	
	
	
</div>