<div class="proposal_form">
<div class="container">
	<div class="wrap-bg">
		<div class="policy-panel">
			<div class="row mnone">
				<div class="col-xs-12  cf-title clearfix">
					<div style="padding:5px 0px 0px;">
					    <span>Payment Details</span>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 pnone">
					<div class="insurer-img">
						<img class="img-responsive" ng-src = "./image/ilogo/i{{insurerId}}.png">
						
					</div>
				</div>
				<div class="col-xs-8 col-sm-9 pnone" style="border-left:1px solid #eaeaea;">
						<div ng-if="paymentResults.status=='Success'" class="pol-name">Payment Success</div>
						<div ng-if="paymentResults.status=='Error'" class="error pol-name">Payment Failure</div>
				</div>
				
			</div>
		</div>
		<!--policy panel  -->
		<div  ng-if="loading" class="loading col-sm-10 col-md-10 col-lg-10">
	    	<div class="ctralign"><img ng-src = "./image/loading.gif"></div>
		</div>
		<div id="stage_data" ng-if="!loading">
			<div ng-if="paymentResults.status=='Success'">
				<div><span> Thanks for purchase. Your payment has been received by the insurer. Below are the payment details</span><br><br></div>
				<div class="col-sm-6" ng-repeat = "item in paymentResults.attributes">
					<label class="control-label label-highlight">{{item.name}}:</label>
					<span>{{item.value}} </span>
				</div>
				<div class= "clear"></div>
				<br>
				<div><br><br><span> A copy of your Policy document has been emailed to you at the email address provided by you in the proposal form.</span></div>
			<div class= "clear"></div>												
			</div>
			<div class= "clear"></div>
			
			<div ng-if="paymentResults.status=='Error'">
				<div><span>Your payment couldn't be processed due to the following error:</span><br></div>
				<div class= "clear"></div>
				<div><span>{{paymentResults.msg}}<br><br></span></div>
				<div class= "clear"></div>
				<div class="col-sm-6" ng-repeat = "item in paymentResults.attributes">
					<label class="control-label label-highlight">{item.name}}:</label>
					<span>{{item.value}} </span>
				</div>
				<div class= "clear"></div>
				<br>											
			</div>
			<div class= "clear"></div>
			
			<div ng-if = "paymentResults.policyUrl"><br><br><span> Please click on to download <a href="{{paymentResults.policyUrl}}">Policy document</a></span></div>
			<div class= "clear"></div>
		</div>
			<!-- <ul class="wizard-track"></ul> -->
	</div>
	</div>
</div>