<div class="modal-header hom_modal_body">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Your Premium has changed </h4>

</div>
<form class="form-horizontal">
<div class="modal-body hom_modal_body">
	<div class="form-group">	
		<div class="col-sm-12">
			<div class="col-sm-12 padd0">
				Old premium:{{premiums.premiumPassed}}
			</div>	
			<div class="col-sm-12 padd0">
				New premium:{{premiums.premiumPayable}}
			</div>
			<!-- <div class="col-sm-12">
				Do you to want to continue.
			</div> -->
			
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-sm-8" style="tex-align:left;">Do you to want to continue.</div>
	<div class="col-sm-4">
		<button type="button" class="btn btn-primary btn_prim print1 ui-button-text-only " role="button" ng-click=ok()><span class="ui-button-text">Yes</span></button>
		<button type="button" class=" btn btn-primary btn_prim cls1 ui-button-text-only " role="button" ng-click="$close()" data-dismiss="modal" aria-hidden="true"><span class="ui-button-text">No</span></button>
	</div>
	<div class = "clear"></div>
	<div class="col-sm-12 padd0">
		<span>To see the new premium breakup click on No and then on Premium Breakup on top Right.</span>
	</div>
</div>
</form>