<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="insuredForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Insured Members</div>
	   		<div class = "clear"></div>
   				<div class="body">
   					<div class="main-section">
   						<div class="proposer-process">
	    					<div class="define">
	    						<img ng-src="./image/info.png">
	    						<span>Who do you want to Insure?</span>
	    					</div>
   							<div ng-form="memberForm" class="row mnone insured_mnone" ng-repeat="insured in proposalInput.insured">
   								<div class="col-sm-2">Insured Person's Details for <span ng-if="insured.type=='A'">Adult</span><span ng-if="insured.type=='C'">Child</span> DOB: {{insured.dob |date:'yyyy-MM-dd'}}</div>
   								<div class="col-sm-10" style="margin-bottom:10px;">
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Title</label>
    										<div class="col-sm-12 padd0" ng-if="insured.gender=='M'"  >
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="DR">Dr</option>
							    					<option value="MASTER">Master</option>
							    					<option value="MR">Mr</option>
							    					<option value="MRS">Mrs</option>
												</select>
											</div>
										
										<div class="col-sm-12 padd0" ng-if="insured.gender=='F'"  >
											
											<select class="form-control" ng-model="insured.title" required>
												<option value="">Select</option>
						    					<option value="DR">Dr</option>
						    					<option value="MS">Ms</option>
						    					<option value="MISS">Miss</option>
						    					<option value="BABY">Baby Girl</option>
						    					
											</select>
										</div>
										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.firstName.$invalid && ! memberForm.firstName.$pristine}">
    										<label class="control-label required">First Name</label>
    										<input type="text" class="form-control" name="firstName" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.firstName" required>
   										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group" ng-class="{'has-error':memberForm.middleName.$invalid && ! memberForm.middleName.$pristine}">
   											<label class="control-label required">Middle Name</label>
   											<input type="text" class="form-control" name="middleName"  ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.middleName">
   										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.lastName.$invalid && ! memberForm.lastName.$pristine}">
    										<label class="control-label">Last Name</label>
    										<input type="text" class="form-control" name="lastName"  ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/"  ng-model="insured.lastName" required>
   										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label"> Date of Birth</label>
    										<input type="text" class="form-control" name="insdob" ng-model="insured.dob" readonly>
   										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Gender</label><br>
    										<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='M'}"  uib-btn-radio="'M'" required>Male</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='F'}"  uib-btn-radio="'F'" required>Female</label>
											</div>
										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Relationship with Proposer</label>
    										<div class="col-sm-12 padd0">
    											<select class=" form-control" name="relaInsured" ng-model="insured.relationshipId"  ng-change = "checkInsured()" required>
													<option value="">Select</option>
													<option value="{{item.id}}"  ng-repeat="item in insurerMaster.Relationship| filter:{'gender': insured.gender}">{{item.value}}</option>
												</select>
											</div>
										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Occupation</label>
    										<select class="form-control" ng-model="insured.occupationType" ng-disabled="insured.type=='C'" required>
						    					<option value="">Select</option>
						    					<option value="{{item.id}}" ng-repeat="item in insurerMaster.Occupation">{{item.value}}</option>
							    			</select>
						    			</div>
   									</div>
   									
   									
   									<div class="col-sm-4">
   									  <div class="form-group required" ng-class="{'has-error':memberForm.height.$invalid && ! memberForm.height.$pristine}">
   										<label class="control-label">Height in cm</label>
   										<input type="number" name= "height" class="form-control" ng-min="20" ng-max="300" ng-change = "checkInsured()" ng-model="insured.height"  required>
									   </div>
   									</div>
   									
   									
   									<div class="col-sm-4">
   										 <div class="form-group required" ng-class="{'has-error':memberForm.weight.$invalid && ! memberForm.weight.$pristine}">
    										<label class="control-label"> Weight in kg</label>
    										<input type="number" name = "weight" class="form-control" ng-min="2" ng-max="300"   ng-change ="checkInsured()" ng-model="insured.weight" required>
										 </div>
   									</div> 
   									
		   							<div class="col-sm-4">
		   							   <div class="form-group required" ng-class="{'has-error':memberForm.nomineeName.$invalid && ! memberForm.nomineeName.$pristine}">
		    								<label class="control-label">Nominee Name</label>
		    								<input type="text" name="nomineeName" class="form-control field" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.nomineeName" required>
		   								</div>
		   							</div>
		   							
		   							<div class="col-sm-4">
		    							 <div class="form-group required" >
		    								<label class="control-label">Nominee Relationship with Insured</label>
		    								<select class="form-control field" ng-model="insured.nomineeRel" required>
		    									<option value="{{item.id}}" ng-repeat="item in insurerMaster.NomineeRel">{{item.value}}</option>
		    								</select>
		    							</div>	
		   							</div>	
	   								
	   								<div class = "clear"></div>
	   								
	   								<!--  Medical details of the Insured -->
	   								
	   								<div class="col-sm-4">
										<div class="form-group required" ng-class="{'has-error':memberForm.bloodSugarLevel.$invalid && !memberForm.bloodSugarLevel.$pristine}">
											<label class="control-label required">Blood Sugar Level</label>
											<input type="number" placeholder= "70-100" class="form-control" name="bloodSugarLevel"  min= "70" max="100" ng-model="insured.bloodSugarLevel" required>
										</div>
	   								</div>   								
	   								
	   								<div class="col-sm-4">
										<div class="form-group required" ng-class="{'has-error':memberForm.bloodPressureSystolic.$invalid && ! memberForm.bloodPressureSystolic.$pristine}">
											<label class="control-label required">Blood Pressure Systolic</label>
											<input type="number" placeholder= "90-130" class="form-control" name="bloodPressureSystolic"  min= "90" max="130" ng-model="insured.bloodPressureSystolic" required>
										</div>
	   								</div>
	   								
	   								
	   								<div class="col-sm-4">
										<div class="form-group required" ng-class="{'has-error':memberForm.bloodPressureDiastolic.$invalid && ! memberForm.bloodPressureDiastolic.$pristine}">
											<label class="control-label required">Blood Pressure Diastolic</label>
											<input type="number" placeholder= "60-80" class="form-control" name="bloodPressureDiastolic"  min= "60" max="80" ng-model="insured.bloodPressureDiastolic" required>
										</div>
	   								</div>
	   								
	   								
	   								<div class="col-sm-4">
										<div class="form-group required" ng-class="{'has-error':memberForm.cholesterolLevel.$invalid && ! memberForm.cholesterolLevel.$pristine}">
											<label class="control-label required">CholesterolLevel</label>
											<input type="number" placeholder= "150-200" class="form-control" name="cholesterolLevel"  min= "150" max="200" ng-model="insured.cholesterolLevel" required>
										</div>
	   								</div>
	   								
	   								<div class = "clear"></div>
	   								
	   								<div class="col-sm-8">
	  										<div class="form-group required">
	   										<label class="control-label">Do you consume Tobbacco or Alcohol</label><br>
	   										<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.tobacoAcohol" ng-class="{'active':insured.tobacoAcohol=='Y'}"  uib-btn-radio="'Y'" ng-change = "checkInsured()" required>Yes</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.tobacoAcohol" ng-class="{'active':insured.tobacoAcohol=='N'}"  uib-btn-radio="'N'" ng-change = "checkInsured()" required>No</label>
											</div>
										</div>
	  								</div>
	  								
	   								<div class="col-sm-4">
	  										<div class="form-group required">
	   										<label class="control-label">Co Morbidity</label><br>
	   										<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.comorbidity" ng-class="{'active':insured.comorbidity=='Y'}"  uib-btn-radio="'Y'" ng-change = "checkInsured()"  required>Yes</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.comorbidity" ng-class="{'active':insured.comorbidity=='N'}"  uib-btn-radio="'N'" ng-change = "checkInsured()" required>No</label>
											</div>
										</div>
	  								</div>
	  									
   									<!--  Additional cover details of the Insured -->
	   								
	   								<div class="col-sm-8" ng-if = "insured.age >=5">
	  									<div class="form-group required">
	   										<label class="control-label">Would you like to add Personal accident cover?</label>
	   										<div class = "clear"></div>
	   										<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.hasPA" ng-class="{'active':insured.hasPA=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.hasPA" ng-class="{'active':insured.hasPA=='N'}"  uib-btn-radio="'N'" required>No</label>
											</div>
										</div>
	  								</div>
	  								
	   								<div class="col-sm-4" ng-if="insured.hasPA=='Y'">
										<div class="form-group required" ng-class="{'has-error':memberForm.paamount.$invalid && ! memberForm.paamount.$pristine}">
											<label class="control-label required">Amount of PA Cover</label>
											<div class="col-sm-12 padd0">
    											<select class=" form-control" name="paamount" ng-model="insured.paAmount"  required>
													<option value="">Select</option>
													<option ng-if = "item <= proposalInput.policy.sumInsured"value="{{item}}"  ng-repeat="item in PAAmounts">{{item}}</option>
												</select>
											</div>
										</div>
	   								</div>
	   								
	   								<div class = "clear"></div>
	   								
	   								<div class="col-sm-8" ng-if = "insured.age >=5">
	  										<div class="form-group required">
	   										<label class="control-label">Would you like to add Critical Illness cover?</label><br>
	   										<div class = "clear"></div>
	   										<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.hasCI" ng-class="{'active':insured.hasCI=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.hasCI" ng-class="{'active':insured.hasCI=='N'}"  uib-btn-radio="'N'" required>No</label>
											</div>
										</div>
	  								</div>
	  								
	   								<div class="col-sm-4" ng-if="insured.hasCI=='Y'">
										<div class="form-group required" ng-class="{'has-error':memberForm.paamount.$invalid && ! memberForm.paamount.$pristine}">
											<label class="control-label required">Amount of Critical Illness Cover</label>
											<div class="col-sm-12 padd0">
    											<select class=" form-control" name="ciamount" ng-model="insured.ciAmount"  required>
													<option value="">Select</option>
													<option ng-if = "item <= proposalInput.policy.sumInsured"value="{{item}}"  ng-repeat="item in PAAmounts">{{item}}</option>
												</select>
											</div>
										</div>
	   								</div>
	   								
	   								<div class="col-sm-8" >
	  										<div class="form-group required">
	   										<label class="control-label">Would you like to add Hospital Cash cover?</label><br>
	   										<div class = "clear"></div>
	   										<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.hasHOC" ng-class="{'active':insured.hasHOC=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.hasHOC" ng-class="{'active':insured.hasHOC=='N'}"  uib-btn-radio="'N'" required>No</label>
											</div>
										</div>
	  								</div>
	  								
   								</div>
   							</div>
   							<div class = "clear"></div>
   							<div class="row">
   								<div class="col-sm-12">
  										<span ng-show="pageErrors.insuredError" class="has-error" id="insuredError" style="color:red">{{pageErrors.insuredErrorText}}</span>
  										<span class="has-error" id="insuredError" style="color:red">{{InsuredGenderError}}</span>
  									</div>
   							</div>
   						</div>
   					</div>
   				</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
   					<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="insuredForm.$invalid || pageErrors.insuredError" ng-click="nextSection('2')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>