<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Declaration/ Terms and Conditions</h4>
</div>
<form class="form-horizontal form_horizontal" name="tc">
	<div class="modal-body">
	<ol>
		<li>I/We hereby declare, on my behalf and on behalf of all persons proposed to be insured, that the above statements, answers
and/or particulars given by me are true and complete in all respects to the best of my knowledge and that I/We am/are
authorized to propose on behalf of these other persons.</li>
	
	<li>I understand that the information provided by me will form the basis of the insurance policy, is subject to the Board
approved underwriting policy of the insurance company and that the policy will come into force only after full receipt of the
premium chargeable.</li>
	
	<li>I/We further declare that I/we will notify in writing any change occurring in the occupation or general health of the life to
be insured/proposer after the proposal has been submitted but before communication of the risk acceptance by the company.</li>
	<li>I/We declare and consent to the company seeking medical information from any doctor or from a hospital who at anytime
has attended on the life to be insured/proposer or from any past or present employer concerning anything which affects the
physical or mental health of the life to be assured/proposer and seeking information from any insurance company to which
an application for insurance on the life to be assured/proposer has been made for the purpose of underwriting the proposal
and/or claim settlement.</li>
	<li>I/We authorize the company to share information pertaining to my proposal including the medical records for the sole
purpose of proposal underwriting and/or claims settlement and with any Governmental and/or Regulatory authority</li>
	
	
	</ol>
		

	</div>
	<!-- </div> -->
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">I DisAgree</button>
	<button class="btn btn-primary btn_default" ng-disabled="lsDetails.$invalid"   ng-click="ok()"> I Agree</button>
</div>