<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="previouspolicyForm" autocomplete="off" novalidate>
   		<div class = "clear"></div>
   		<div class="form-panel">
   		<div class = "clear"></div>
 			<div class="heads">Previous policy</div>
 			<div class = "clear"></div>
 			<div class="body">
 				<div class="main-section">
 					<div class="Nominee-process">
 						<div class="define">
   						<img ng-src="./image/info.png">
   						<span>Tell us about your existing policy</span>
  					</div>
  					<div class="row mnone">
  						<!-- <h3>Previous policy for&nbsp;<span data-bind="text: details().verbose">Insured</span></h3> -->
  						<div class="col-sm-10" ng-if="proposalInput.policy.typeOfBusiness=='Rollover'">
  							<div class="col-sm-4">
  								<div class="form-group required">
  								<label class="control-label">Type of Existing Policy</label>
  								<div class="clear"></div>
  								<div class="btn-group">
  									<label class="btn btn-primary btn_prim" name="prevPolicyType" ng-model="proposalInput.prevpolicy.previousPolicyType" ng-class="{'active':proposalInput.prevpolicy.previousPolicyType=='C'}"  uib-btn-radio="'C'" ng-click="checkPolicyType(previouspolicyForm,'C')" required>Comprehensive</label>
  									<label class="btn btn-primary btn_prim" name="prevPolicyType" ng-model="proposalInput.prevpolicy.previousPolicyType" ng-class="{'active':proposalInput.prevpolicy.previousPolicyType=='L'}"  uib-btn-radio="'L'" ng-click="checkPolicyType(previouspolicyForm,'L')"required>Third Party Only</label>
  								</div>
  								<span class="has-error">{{policyTypeError}}</span>
  								</div>
  							</div>
  							<div class="col-sm-4">
  								<div class="form-group required">
  								<label class="control-label">Existing Policy start date </label>
  								<span class="input-group">
								<input type="text" class="form-control" name="prevPolicyStartDate"  min-date="minDate"  uib-datepicker-popup="{{format}}" ng-model="proposalInput.prevpolicy.prePolicystartdate" ng-change="previousPolicyLastDate(proposalInput.prevpolicy.prePolicystartdate)"  is-open="opened[$index]" datepicker-options="pastDateOptions"  
								ng-disabled= "'true'" close-text="Close"  alt-input-formats="altInputFormats" />
						          <span class="input-group-btn">
						            	<button type="button" class="btn btn-primary btn_prim "  ng-click="open($event,$index)"><i class="glyphicon glyphicon-calendar"></i></button>
						          </span>
					       </span>
  								<!-- <input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.prePolicystartdate" readonly> -->
  								<span class="has-error">{{previousPolicyDate}}</span>
  								</div>
  							</div>
  							<div class="col-sm-4">
  							<div class="form-group required">
  								<label class="control-label"> Existing Policy last date</label>
  								<input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.prePolicyenddate" readonly>
  							</div>
  							</div>
  							<div class="col-sm-4">
   							<div class="form-group required">
   								<label class="control-label">Existing Policy number</label>
   								<input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.prePolicynumber">
   							</div>
  							</div>
  							
  							<div class="col-sm-4">
  								<div class="form-group required">
  								<label class="control-label">Existing Insurer</label>
  								<select class="form-control filed"  ng-model="proposalInput.prevpolicy.preInsurercode" required>
  									<option value="">Select</option>
  									<option value="{{preInsurercode.id}}" ng-repeat="preInsurercode in insurerMaster.Insurer">{{preInsurercode.value}}</option>
  								</select>
  								</div>
  							</div>
  							<div class="col-sm-4">
  							<div class="form-group required">
  							<label class="control-label">Policy Premium</label>
  							<input type="text" class="form-control" name="policyPremium" ng-pattern="/^[0-9]{4,9}$/" ng-model="proposalInput.prevpolicy.policyPremium" ng-change="checkPolicyPremium(previouspolicyForm,proposalInput.prevpolicy.policyPremium)" required>
  							<span class="has-error">{{policyPremiumError}}</span>
  							</div>
  							</div>
  							<div class="col-sm-4">
   							<div class="form-group required">
   							<label class="control-label">Previous Claim</label>
   							<div class="clear"></div>
    							<span class="btn-group" >
    								<label class="btn btn-primary btn_prim" ng-model="proposalInput.prevpolicy.previousClaim" ng-class="{'active':proposalInput.prevpolicy.previousClaim=='Y'}" ng-change="ChangClaimAmount(proposalInput.prevpolicy.previousClaim)"  uib-btn-radio="'Y'" required >Yes</label>
	    							<label class="btn btn-primary btn_prim" ng-model="proposalInput.prevpolicy.previousClaim" ng-class="{'active':proposalInput.prevpolicy.previousClaim=='N'}" ng-change="ChangClaimAmount(proposalInput.prevpolicy.previousClaim)"  uib-btn-radio="'N'" required >No</label>
 								 </span>
   							</div>
  							</div>
  							
  							<div ng-if="proposalInput.prevpolicy.previousClaim=='Y'">
  								<div class="col-sm-4">
    							<div class="form-group required">
    								<label class="control-label">Number Claims</label>
    								<select class="form-control" ng-model="proposalInput.prevpolicy.numberClaims"  required>
    									<option value="">Select</option>
    									<option value="1">1</option>
    									<option value="2">2</option>
    									<option value="3">3</option>
    									<option value="4">4</option>
    									<option value="5">5</option>
    								</select>
    							</div>
   								
   							</div>
   							<div class="col-sm-4">
    							<div class="form-group required">
	    							<label class="control-label">Claim Amount</label>
	    							<input type="text" class="form-control" name="claimAmount" ng-model="proposalInput.prevpolicy.claimAmount" ng-pattern="/^[0-9]{4,9}$/" required>
    							</div>
   							</div>
  							</div>
  							<div class="clear"></div>
  							<div class="col-sm-4">
   							<div class="form-group required">
   								<label class="control-label">Existing Insurer Address</label>
   								<textarea class="form-control field" rows="5"  ng-model="proposalInput.prevpolicy.insurerAddress" required></textarea>
   							</div>
  							</div>
  						</div>
  						
  							
  						<div class="col-sm-10" ng-if="proposalInput.policy.typeOfBusiness=='New Business'">
  							<div class="col-sm-4">
  								<div class="form-group required">
  								<label class="control-label">Applicable Ncb</label>
  								<input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.currNcb" readonly>
  								</div>
  							</div>
  							<div class="col-sm-4">
  								<div class="form-group required">
  								<label class="control-label">Current Ncb</label>
  								<input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.previousNcb" readonly>
  								</div>
  							</div>
  							<div class= "clear"></div>
  						</div>
  						<div class= "clear"></div>
  					</div>
  					<div class= "clear"></div>
 					</div>
 				</div>
  				<div class= "clear"></div>
 				<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
 			</div>
 			<!-- ./body -->
 			<div class = "clear"></div>
 			<div class="foot">
	  			<div class="clearfix">
	  				<div class="cf-pull-right">
	  					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(2)" style="/* display: none; */">
	                           			<img ng-src="./image/arrow-left.png">&nbsp;Back
	                       		</button>
	  					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="previouspolicyForm.$invalid" ng-click="nextSection('fifth')">Continue <img ng-src="./image/arrow-right.png"></button>
	  				</div>
	  			</div>
	  			<div class = "clear"></div>
  		 	</div>
  		 	<div class = "clear"></div>
 		</div>
 		<div class = "clear"></div>  		
   	</form>
 </div>