<div class="approach_main">
	<div class="approach">
		<div class="container">
			<div class="col-sm-8 col-md-push-4 padd15" >
				<div class="col-sm-12 padd0" ng-repeat="approaches in approach">
					<img ng-src="./image/approach/{{approaches.name}}.jpg" class="img-responsive padd15">
					<ul>
						<li ng-repeat="lists in approaches.list">{{lists}}</li>
					</ul>
				</div>

			</div>
			
		</div>
	</div>
</div>