<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<!-- <h4 class="modal-title"><span class="green">Compare Policies For: </span>Private Car Motor Insurance for Ashok Leyland Stile LE 7 STR.</h4> -->
</div>
<div class="modal-body">
	<div class="table-responsive">
		<table class="table table-bordered">
		
			<tbody>
				<tr>
					<th></th>
					<th ng-repeat="compare_policys in compare_policy"><span class="ibspan comparelogo"> <img ng-src="./image/ilogo/i{{compare_policys.insurer_id}}.png" class="img-responsive center-block"></span>
					<span class="insurerclink">{{compare_policys.insurer_name}}</span>
					<span class="grey productclink">{{compare_policys.product_name}}</span>
					</th>
				</tr>
				<tr>
				<td class="tablecolumntitleservicing bold">Premium </td>
				<td class="bold" ng-repeat="compare_policys in compare_policy"><span class="rssymbol">Rs.&nbsp;</span>{{compare_policys.premium}}</td>

				</tr>
				<tr><td><span style="font-size:small;" class="green">Covers</span></td><td  ng-repeat="compare_policys in compare_policy">&nbsp;</td></tr>
				<!-- <tr ng-repeat="compare_IncludeCovers in compare_IncludeCover" ng-if="">
					<td>{{compare_IncludeCovers.name}}</td>
					<td ng-repeat="compare_policys in compare_policy">
						hi
					</td>
				</tr> -->
				<tr ng-repeat="compare_covers in compare_cover">
					<td class="tablecolumntitlecover">{{compare_covers.name}}</td>
					<td ng-repeat="compareCovers in compare_policy">
						<span ng-repeat="compareTickImage in compareCovers.covers ">
							<span ng-if="compareTickImage.coverName==compare_covers.name">
								<img src="./image/green-tick.png"  >
							</span>
							
							<!-- <spa>
								<img src="./image/red-cross.png">
							</span> -->
						</span>
					    <!-- <img src="./image/green-tick.png" ng-repeat="compareTickImage in compareCovers.includecover " ng-if="compareTickImage==compare_covers.name"> -->
					    <!-- {{compareCovers.includecover}} -->
					    <br>
					    <!-- <span ng-repeat="compareTickImage in compareCovers.includecover "  ng-if="compareCovers.includecover.legnth==0 && compareTickImage==compare_covers.name">
					    	<img src="./image/red-cross.png">
					    </span> -->
						<span ng-repeat="comparecoverLmit in compareCovers.cover_limits" ng-if="compare_covers.coverid==comparecoverLmit.cover_id">
							
							<span>{{comparecoverLmit.sub_limit}}</span>:
							<span>{{comparecoverLmit.limit_value}}</span>
							
						</span>

						
					</td>
				</tr>
				<tr><td><span style="font-size:small;" class="green">Features</span></td><td>&nbsp;</td></tr>
				<!-- <tr>
				<td class="tablecolumntitlefeature">Occupation_Discount</td>
				<td ng-repeat="compare_policys in compare_policy">{{compare_policys.display_attributes.Occupation_Discount}}</td>
				</tr>
				<tr>
				<td class="tablecolumntitlefeature">Age_Discount</td>
					<td style="border:1px solid" ng-repeat="compare_policys in compare_policy">{{compare_policys.display_attributes.Age_Discount}}</td>
				</tr> -->
				<tr ng-repeat="displayAttribute_keys in displayAttribute_key">
					<td>{{displayAttribute_keys}}</td>
					<td ng-repeat="displayAttrs in displayAttr" ng-if="displayAttribute_keys">
						<span ng-repeat="(key,val) in displayAttrs" ng-if="displayAttribute_keys==key" style="color:green;word-break:break-all;" class="word-break">
							{{val}}
						</span>	
						
					</td>
				</tr>
				<tr><td class="tablecolumntitleservicing bold"> </td><td ng-repeat="compare_policys in compare_policy"><button class="btn buy-btn btn-default purchaseoptionsdialoglink" name="125MO01PC1|">BUY THIS POLICY</button></td></tr>
			</tbody>
		</table>
	</div>
	<div class="pop-wrap1"><p>  The Product Information shown here is personalized to your previous selections and may change if selection criteria is changed. </p></div>
</div>
<div class="modal-footer">
	<button type="button" class="print1 ui-button-text-only" role="button"><span class="ui-button-text">Print</span></button>
	<button type="button" class="cls1 ui-button-text-only" role="button"><span class="ui-button-text">Close</span></button>
</div>