<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Email Quotes</h4>
</div>
<form class="form-horizontal" name="carEmailQuotes" novalidate ng-submit="emailQuotes">
	<div class="modal-body">
		<div class="form-group">
			<div class="col-sm-12">
				<label class="label-control">Email</label>
			</div>
			<div class="col-sm-12">
				<input type="text" class="form-control" name="email" ng-model="email" required>
			</div>
		</div>
	</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="$ctrl.cancel()">Cancel</button>
	<button id="email" data-toggle="modal" type="button" class="btn btn-primary" ng-disabled="carEmailQuotes.$invalid" ng-click="$ctrl.ok()">Email Quotes</button>
</div>
</form>