<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Email Quotes</h4>
</div>
<div class="modal-body">
	<div class="display-show green text-center">
		<strong>Your personalised quotes have been mailed to
			you.</strong>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="$ctrl.cancel()">Close</button>
</div>