<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<!-- <h4 class="modal-title" style="margin-top: 15px;"><span class="green">Compare Policies For: </span>Private Car Motor Insurance for Ashok Leyland Stile LE 7 STR.</h4> -->
</div>
<form class="form-horizontal">
	<div class="modal-body">
		
			<div class="table-responsive">
				<table class="table table-bordered table3 ">
					<tbody>
					<tr>
						<th></th>
						<th><span class="ibspan comparelogo"> <img ng-src="./image/ilogo/i{{QuoteDetail.insurer_id}}.png" class="img-responsive center-block"></span>
							<br>
						<div class="insurerclink" align="center">{{QuoteDetail.insurer_name}}</div>
						<div class="grey productclink" align="center">{{QuoteDetail.product_name}}</div>
						</th>
					</tr>
					<tr><td class="tablecolumntitleservicing bold">Premium </td><td class="bold"><span class="rssymbol">Rs.&nbsp;</span>{{QuoteDetail.premium}}</td></tr>
					<tr><td><span style="font-size:small;" class="green">Covers</span></td><td>&nbsp;</td></tr>
					<tr ng-repeat="includerCover in detailInclude">
						<td class="tablecolumntitlecover" >{{includerCover.coverName}}</td>
						<td><img src="./image/green-tick.png"><br>
							<br>
							<span ng-repeat="coverLimit in includerCover.coverLimit">
								<span class="firstsec">
									{{coverLimit.sub_limit}}:
									<span class="scndsec"><span class="rssymbol">Rs.&nbsp;</span>{{coverLimit.limit_value}}.<br></span>
								</span><br>
							</span>
						</td>
					</tr>
					<!-- <tr><td class="tablecolumntitlecover">Third Party Liability</td><td><img src="../images/green-tick.png"><br></td></tr> -->
					<tr><td><span style="font-size:small;" class="green">Features</span></td><td>&nbsp;</td></tr>
					<tr ng-repeat="display_Attributes in display_Attributes">
						<td class="tablecolumntitlefeature">{{display_Attributes.key}}</td>
						<td><span style="color:green;word-break:break-all;" class="word-break">{{display_Attributes.val}}</span></td>
					</tr>
					<!-- <tr><td class="tablecolumntitlefeature">Age_Discount</td><td><span style="color:green">{{QuoteDetail.display_attributes.Age_Discount}}</span></td></tr> -->
					<tr><td class="tablecolumntitleservicing bold"> </td><td><button class="btn buy-btn btn-default purchaseoptionsdialoglink" name="125MO01PC1|">BUY THIS POLICY</button></td></tr>
					</tbody>
				</table>
				<div class="pop-wrap1"><p>  The Product Information shown here is personalized to your previous selections and may change if selection criteria is changed. </p></div>
			</div>
		</div>
	
</form>
<div class="modal-footer">
	<button type="button" class="print1 ui-button-text-only" role="button"><span class="ui-button-text">Print</span></button>
	<button type="button" class="cls1 ui-button-text-only" role="button" ng-click="$close()" data-dismiss="modal" aria-hidden="true"><span class="ui-button-text" >Close</span></button>
</div>