<div class="">
	<!--  -->
	<div class=" white-wrap" id="found" style="display: block;">
		<div class="col-xs-12 col-sm-6 col-md-6">
	        <h2 class="r-h2">We found <span id="policiesshown">{{Quote.policies.length}}</span> policies 
	          for you to COMPARE!</h2>
	        <h5 class="r-h5">All prices are inclusive of taxes. <br> Premiums may change based on user selections in proposal form. </h5>
	        <div class="clear"></div>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-6">
	        <div class="right paddb25">
	          <div class="blue step left">STEP</div>
	          <div class="number left">2</div>
	          <div class="grey step left">OF</div>
	          <div class="number left">3</div>
	        </div>
	        <div class="clear"></div>
	        <button class="btn orange-btn mob-left addcomparelink" ng-disabled="compareViewQuotes.length<2" ng-click="comparePolicy(compareViewQuotes)">COMPARE POLICY (<span class="ct">{{compareViewQuotes.length}}</span>)</button>
	        <button class="btn mob-left btn-primary emailquotes" data-toggle="modal" data-target="#emailQuotes" ng-click="emailQuotes()">Email Quotes</button>
	        <div class="clear"></div>
	    </div>
		<div class="col-xs-12 col-sm-12 col-md-12">
       	<div id="mainbar">
	    	<div class="rslt-bdr" ng-repeat="quotes in Quote.policies track by $index">
        		<div class="plan-card cf-result-card cubic-trans">
					<div class="cf-result-face">
						<div class="row cf_row" style="">
							<div class="company-logo col-sm-3 col-xs-6 margintop30">
								<img ng-src="./image/ilogo/i{{quotes.insurer_id}}.png" class="img-responsive center-block" >
							</div>
							<div class="col-sm-3 col-xs-6 margintop30">
								<div class="plan-name ng-binding">
									{{quotes.product_name}}</div>
								<div class="insurer-name ng-binding">{{quotes.insurer_name}}</div>
							</div>
							<div class="clear clear_760"></div>
							<div class="col-sm-3 col-xs-6 margintop30">
								<span class="color">
									<span class="sm-font">Rs.</span>
									<strong class="ng-binding">{{quotes.premium}} </strong>
								</span><br>
								<span class="text-muted">Premium / year</span>
							</div>
							<div class="col-xs-6 col-sm-3 margintop30 buy_plan"><strong class="btn btn-sm cf-btn-orange btn-block btn buy_plan_btn" style="" ng-click="buyPolicy(quotes)">BUY THIS POLICY</strong></div>
							<!-- <div class="col-xs-6 col-sm-3">
								<label class="btn-add addcomparebtn addcomparebtnAdd productprice"   style="color: rgb(0, 0, 0);" ng-click="addCollapsed = !addCollapsed;" for="addCheck{{$index}}">
	          					<input type="checkbox" style="display:none" name=comp[] id="addCheck{{$index}}"
	          					ng-model="addSub.comp[$index].selected"
	          					ng-change="addCompare(quotes,addSub.comp[$index].selected)">
	          					Add to compare<span></span></label>
							</div> -->
						</div>
						<div class="row" style="border-top:1px solid #eee;margin-right: 0px;margin-left: 0px" >
							<div class="col-xs-4 split bnone">
								<span class="spl-label" style="display: none;">Upgraded to</span>
								<span class="color small"><span class="sm-font">Rs.</span>
								<span class="ng-binding"></span>
								</span>
								<span class="text-muted">Sum assured</span>
							</div>
							<div class="col-xs-4 split" style="border:none;margin-top: 5px;">
								<span class="details viewDetailsHealth" id="0" ng-click="moreDetail(quotes)">View Details</span>
								
							</div>
							<div class="col-xs-4 split">
								<label class="btn-add addcomparebtn addcomparebtnAdd productprice"   style="color: rgb(0, 0, 0);" ng-click="addCollapsed = !addCollapsed;" for="addCheck{{$index}}">
	          					<input type="checkbox" style="display:none" name=comp[] id="addCheck{{$index}}"
	          					ng-model="addSub.comp[$index].selected"
	          					ng-change="addCompare(quotes,addSub.comp[$index].selected)">
	          					Add to compare<span></span></label>
							</div>
							<!-- <div class="col-xs-4 split "><strong class="btn btn-sm cf-btn-orange btn-block">Buy Plan</strong></div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>           					
    <div class="clear"></div>
</div>
</div>
<div class="col-xs-0 col-sm-0 col-md-2 ht0">&nbsp; </div>
<div class="col-xs-12 col-sm-9 col-md-7 padd0">
    <div class="col-xs-12 col-sm-4 col-md-4 padd0">
      <ul class="terms" style="display:none">
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">Excluded Policies</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 border4">
        <h3 class="media-heading paddb15 txt3">Need help. Call me back </h3>
        <form id="show-needhelp-form">
            <div class="col-md-6 col-sm-6 col-xs-12 padd0">
              <div class="form-group">
                <input type="text" id="show-needhelp-date" class="form-control" placeholder="date" name="show-needhelp-date">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 lft10-padd">
              <div class="form-group">
                <div class="clear"></div>
                <input type="text" placeholder="10" class="form-control wid1" id="show-needhelp-hour" name="show-needhelp-hour">
                <input type="text" placeholder="00" class="form-control wid1 bd-left0" id="show-needhelp-min" name="show-needhelp-min">
                <select class="wid2" id="call-time-select" name="show-needhelp-time-select">
                  <option value="am">am</option>
                  <option value="pm">pm</option>
                </select>
              </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6 col-sm-6 col-xs-12 padd0">
              <div class="form-group">
                <input id="show-needhelp-mobile" type="text" placeholder="Mobile Number" class="form-control mt-c" name="show-needhelp-mobile">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 lft10-padd">
              <button id="show-needhelp-button" class="btn call-sub btn-default">SUBMIT</button>
            </div>
        </form>
        <div id="dlgnhdate" title="Enter Callback Date">
			<form>
				<div id="dp_nhdate"></div>			      
			  </form>			  	    				
		</div>
    </div>
</div>
<div class="col-xs-12 col-sm-3 col-md-3">
        <h3 class="media-heading txt3">Call us to buy instant policy </h3>
		<h4 style="margin-top:12px">7899-000-333</h4>
        <div style="color:#989898">Call or Whatsapp</div>
</div>
<div class="clear"></div>

		
		