<div class="proposal_form">
	<div class="product" ng-if="input.productId==102">
		<div class ="header" ng-include src="'templates/proposal/home/royalSundaram/royalSundaram.html'"></div>
	</div>
</div>