<!-- data-ng-controller="insHeaderCtrl" -->
<header class="wecare"  data-ng-controller="brokeredgeHeaderCtrl" ng-class="{'quotes':Quotesheader==true}">
	<nav ng-show = "showheader" class="navbar navbar-default navbar-static-top">
		<div class=" head">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ng-href="/Instainsure">
					<img ng-src="./image/logo.jpg" alt="logo" class="img-responsive img_logo">
				</a>
			</div>
			<div class="right" >
				<div id="navbar" class="navbar-collapse collapse " ng-class="!navCollapsed && 'in'"  ng-click="navCollapsed = true">
		          <ul class="nav nav1 navbar-nav navbar-right">
		          	<li class="dropdown" ng-repeat="menuTops in menuTop" ng-class="{dropdown: menu.subtree}">
		          		<a href   class="{{menuTops.class}}" data-toggle="dropdown" id="dropdownMenu1" ng-class="{'dropdown-toggle': menu.subtree}" style="cursor:pointer">{{menuTops.title}} <span class="caret" ng-if="menuTops.menuTop"></span></a>
		          		<ul class="dropdown-menu" ng-if="menuTops.menuTop">
							 <li ng-repeat="submenu in menuTops.menuTop" ng-class="{dropdown: submenu.menus}" >
				                  <a href="{{submenu.action}}">{{submenu.title}}</a>
			                	</li>
						</ul>
		          	</li>
		          </ul>
		          <div class="clear"></div>
		          <ul  class="nav nav2 navbar-nav navbar-right">
		          	<li class="dropdown" data-ng-repeat="menu in menus" class="" ng-class="{dropdown: menu.subtree}">
						<a ng-href="{{menu.action}}" ng-class="{'dropdown-toggle': menu.subtree}" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" style="cursor:pointer">{{menu.title}}<span class="caret" ng-if="menu.menus"></span></a>
						<ul class="dropdown-menu" ng-if="menu.menus">
							 <li ng-repeat="submenu in menu.menus" ng-class="{dropdown: submenu.menus}">
				                  <a href="{{submenu.action}}">{{submenu.title}}</a>
			                	</li>
						</ul>
					</li>
		           </ul>
		        </div>
			</div>
		</div>
	</nav>
</header>