<div class="margin-top-30" data-ng-controller="brokeredgeCarCtrl">
	<div class="col-md-6 ">
		<h4 class="green">COMPARE CAR INSURANCE POLICIES</h4>
	</div>
	<div class="clear"></div>
	<div class="col-md-6 ">
	  <div class="right">
	    <div class="blue step left">STEP</div>
	    <div class="number left">1</div>
	    <div class="grey step left">OF</div>
	    <div class="number left">3</div>
	  </div>
	</div>
	<div class="clear"></div>
	<form class="form-horizontal form_horizontal" name="carPolicy" autocomplete="off" novalidate ng-submit="submitForm()">
         <div ng-if="loading" class="col-xs-8 col-sm-8 col-md-9">
             <div style="padding: 5em">
                 <uib-progressbar class="progress-striped active" value='value' type='info'>Contacting Insurers for Best Quotes for you</uib-progressbar>
             </div>
         </div>
         <div ng-if="!loading" class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-md-12 col-sm-12 col-xs-12 ">
			    <div class="form-group pt-15">
			      <div id="radio1" class="btn-group">
			      	<label class="btn btn-primary btn_prim" ng-class="{'active': carInput.policyType =='Rollover'}" ng-change="policyTypeChange(carInput.policyType)" ng-model="carInput.policyType" uib-btn-radio="'Rollover'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Renew my policy</label>
			      	<label class="btn btn-primary btn_prim" ng-class="{'active': carInput.policyType =='New Business'}" ng-change="policyTypeChange(carInput.policyType)" ng-model="carInput.policyType" uib-btn-radio="'New Business'" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>New policy</label>
			       </div>
			    </div>
			</div>
			<div class="clear"></div>
			<div class="col-md-3 col-sm-4 col-xs-12 ">
				<div class="form-group scrollable-dropdown-menu required">
					<label class="control-label">Car Make</label>
					<ui-select ng-model="carInput.make" name="carMake" theme="bootstrap" ng-change="getModel()" required>
			            <ui-select-match placeholder="" >{{$select.selected.name}}</ui-select-match>
			            <ui-select-choices repeat="make in makes | filter: $select.search |  orderBy:sortorder">
			              <div ng-bind-html="make.name | highlight: $select.search">
			              	
			              </div>
			             </ui-select-choices>
			          </ui-select>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<div class="form-group scrollable-dropdown-menu required ">
					<label class="control-label">Car Model</label>
					<ui-select ng-model="carInput.model" theme="bootstrap" ng-change="getVariant(carInput.model)" required>
			            <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
			            <ui-select-choices repeat="model in models | filter: $select.search | orderBy:sortorder">
			              <div ng-bind-html="model.name | highlight: $select.search"></div>
			             </ui-select-choices>
			          </ui-select>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-4 col-xs-12">
				<div class="form-group scrollable-dropdown-menu required ">
					<label class="control-label">Variant</label>
					<ui-select ng-model="carInput.variant" theme="bootstrap" ng-change="getIdv()"  required>
			            <ui-select-match placeholder="">{{$select.selected.variantName}}</ui-select-match>
			            <ui-select-choices repeat="variant in variants | filter: $select.search">
			              <div ng-bind-html="variant.name  | highlight: $select.search"></div>
			              <span ng-bind-html="variant.variantName | highlight: $select.search"></span></br>
		              	  <span ng-bind-html="variant.vehicleAttr | highlight: $select.search"></span>
			             </ui-select-choices>
			         </ui-select>
				</div>
			</div>
			
			<div class = "clear"></div>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<div class="form-group scrollable-dropdown-menu required ">
					<label class="control-label">RTO</label>
					<ui-select name = "rto" ng-model="carInput.RTO" theme="bootstrap"  required>
			            <ui-select-match placeholder="Select or search a RTO">{{$select.selected.rto}}</ui-select-match>
			            <ui-select-choices repeat="Rtos in Rto | filter: $select.search">
			              <div ng-bind-html="Rtos.rto  | highlight: $select.search"></div>
			              <small ng-bind-html="Rtos.name | highlight: $select.search"></small>
			             </ui-select-choices>
		            </ui-select>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-4 col-xs-12" >
				<div class="form-group  required ">
					<label class="control-label">Year of Manufacture</label>
					<select class="form-control" required ng-model="carInput.yrOfManu" ng-change="yomChange(carInput.yrOfManu)">
						<option value="">Select</option>
						<option value="{{DateOfRegYear}}" ng-repeat="DateOfRegYear in yoms">{{DateOfRegYear}}</option>
					</select>
				</div>
			</div>
			
			<div class="col-sm-4 col-md-3 col-xs-12" >
				<div class="form-group  required">
					<label class="control-label">Date of Registration</label>
					<span class="input-group">
						<input type="text" class="form-control" name="dateOfReg"   uib-datepicker-popup="{{format}}" ng-model="carInput.vehicledoReg" is-open="popup1.opened" datepicker-options="regdateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required />
				          <span class="input-group-btn">
				            	<button type="button" class="btn btn-primary btn_prim " ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
				          </span>
				    </span>
				</div>
			</div>
			
			<div class = "clear"></div>
			
			<div class="col-md-3 col-sm-4 col-xs-12 " ng-if="carInput.policyType!='New Business'">
				<div class="form-group  required">
					
					<label class="control-label">Current Policy Expiry Date</label>
					<span class="input-group">
		                <input type="text" class="form-control" name="'expDob'" uib-datepicker-popup="{{format}}" ng-model="carInput.prevPolicy" is-open="popup2.opened" datepicker-options="prevdateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required/>
				          <span class="input-group-btn">
				            	<button type="button" class="btn btn-primary btn_prim " ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
				          </span>
	                </span>
				</div>
			</div>
			
			
			<div class="col-md-3 col-sm-4 col-xs-12 " ng-if="carInput.policyType=='Rollover' ">
				<div class="form-group scrollable-dropdown-menu required ">
					
					<label class="control-label">Current NCB</label>
					<select class="form-control" ng-model="carInput.currNcb" required>
						<option value="">Select</option>
						<option value="0">0 %</option>
						<option value="20">20 %</option>
						<option value="25">25 %</option>
						<option value="35">35 %</option>
						<option value="45">45 %</option>
						<option value="50">50 %</option>
					</select>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-4 col-xs-12 claimCurrent" ng-if="carInput.policyType=='Rollover'">
				<div class="form-group required  ">
					<label class="control-label">Claim in Current year</label>
					<div class="clear"></div>
					<div id="radio1" class="btn-group">
						<label class="btn btn-primary btn_prim" ng-class="{'active': carInput.claimsCurrYr =='Y'}"  ng-model="carInput.claimsCurrYr" uib-btn-radio="'Y'"  required>Yes</label>
						<label class="btn btn-primary btn_prim" ng-class="{'active': carInput.claimsCurrYr =='N'}"  ng-model="carInput.claimsCurrYr" uib-btn-radio="'N'"  required>No</label>
					</div>
				</div>
			</div>
			
			<div class = "clear"></div>
			
			<div class="col-md-3 col-sm-4 col-xs-12">
				<div class="form-group scrollable-dropdown-menu required">
					<label class="control-label">Pincode</label>
					<input type="text" name="pincode" class="form-control" ng-minlength="6" ng-maxlength="6" maxlength="6" ng-model="carInput.pincode"  ng-pattern="/^[1-9][0-9]{5}$/" required>
				</div>
			</div>
			
			<div class="col-md-12 col-sm-12 col-xs-12 ">
				<span class="has-error" id="insuredError" style="color:red">{{carErrorText}}</span>
			</div>
			<div class="clear"></div>
			<div class="col-md-3 col-sm-4 col-xs-12 ">
	            <button id="comparebutton" class="btn btn-primary call-back btn-default" ng-disabled="idvValid || carPolicy.$invalid">COMPARE POLICIES</button>
	        </div>
			<div class="clear"></div>
         </div>       
	 </form>
</div>