@charset 'UTF-8';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face { 
	font-family: 'rssymbol'; 
	src: url('../fonts/rs.eot'); 
 	src: url('../fonts/rs.ttf')	format('truetype'),
 		 url('../fonts/rs.woff') format('woff'), 
		 url('../fonts/rs.svg')	format('svg'); 
 	font-weight: normal; 
 	font-style: normal; 
 }
@font-face {
  font-family: 'PTS55F';
  src: url('../fonts/PTS55F.eot');
  src: url('../fonts/PTS55F.woff2') format('woff2'),
       url('../fonts/PTS55F.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTS75F';
  src: url('../fonts/PTS75F.eot');
  src: url('../fonts/PTS75F.woff2') format('woff2'),
       url('../fonts/PTS75F.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/PTSans-Regular.woff') format('woff'),
       url('../fonts/PTSans-Regular.ttf') format('truetype'),
       url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NegotiateFree';
  src: url('../fonts/NegotiateFree.woff') format('woff'),
       url('../fonts/NegotiateFree.ttf') format('truetype'),
       url('../fonts/NegotiateFree.svg#NegotiateFree') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'negotiate free';
  src: url('../fonts/negotiate free.eot');
  src: url('../fonts/negotiate free.woff2') format('woff2'),
       url('../fonts/negotiate free.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
    font-family: 'rssymbol';
    src: url('../fonts/rs.eot');
    src: url('../fonts/rs.ttf') format('truetype'),
         url('../fonts/rs.woff') format('woff'),
         url('../fonts/rs.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.rssymbol {
    font-family: 'rssymbol';
}
@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/PTSans-Bold.woff') format('woff'),
       url('../fonts/PTSans-Bold.ttf') format('truetype'),
       url('../fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS55F.ttf') format('truetype');
}
@font-face {
    font-family: 'PT Sans Italic';
    src: url('../fonts/PTS56F.ttf') format('truetype');
}
@font-face {
    font-family: 'PT Sans Bold';
    src: url('../fonts/PTS75F.ttf') format('truetype');
}
@font-face {
    font-family: 'Rupee_Foradian';
    src: url('../fonts/Rupee_Foradian.ttf') format('truetype');
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
       url('../fonts/Lato-Bold.woff') format('woff'),
       url('../fonts/Lato-Bold.ttf') format('truetype'),
       url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg'),
       url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
       url('../fonts/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato-Regular.ttf') format('truetype'),
       url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg'),
       url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato-Black.eot');
  src: url('../fonts/Lato-Black.woff2') format('woff2'),
       url('../fonts/Lato-Black.woff') format('woff'),
       url('../fonts/Lato-Black.ttf') format('truetype'),
       url('../fonts/Lato-Black.svg#Lato-Black') format('svg'),
       url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
html,body,.container, .sideBar, .content
{
    height: 100%;
}
body {
    /* font-family: 'PTSans-Regular'; */
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
        -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: border-box;
}
.blinking{
    display: none;
}
.clear {
    clear: both;
}
.padd0 {
    padding: 0;
}
.has-error{
	color:#ff0000;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
}
.title .h3,.title h3 {
    font-size: 24px;
    margin-top:20px;
    margin-bottom:10px;
}
/* h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
} */
/*Header*/
.wecare .img_logo
				{
					height: 90px;
				}
.navbar-default 
			{
			    background-color: #ffffff;
			    border: none;
			}
.navbar 
		{
		    border: 1px solid #cacaca;
		    margin: 0;
		    min-height: auto;
		}
.head 
	{
	    width: 100%;
	    z-index: 99999999;
	    position: relative;
	    border-bottom: 1px solid #cacaca;
	    background-color: #fff;
	}
.navbar-brand 
			{
			    max-width: 290px;
			    height: auto;
			    padding: 8px 0;
			}
			
.navbar-icon 		
			{		
			    max-width: 100px;		
			    max-height: 50px;		
			    padding: 8px;		
			    text-align: center		
			}
.right 
	{
	    float: right;
	}
.top {		
    vertical-align: top;		
}
.nav1 li a 
		{
		    font-size: 0.875em;
		    color: #898989 !important;
		    padding: 0px 5px;
		    margin: 15px 0 0;
		    border-right: 1px solid #898989;
		    font-family: 'PTSans-Bold';
		}
.nav2 li a 
		{
		    font-family: 'PTSans-Bold';
		    font-size: 1em;
		    color: #808284 !important;
		    padding: 10px 10px;
		    margin: 10px 0 0;
		}
.dropdown-menu li a{
    font-size: 0.875em;
    color: #898989 !important;
    padding: 8px 5px;
    margin: 0px 0 0;
    border-right: 0px solid #898989;
    font-family: 'PTSans-Bold';
}
/*Header*/
/*Main Container*/
.banner-bdrs {
    margin-top: 30px;
}
.banner-bdrs .nav-pills li a {
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    height: 95px;
    background-color: #f2f7fa;
}
.banner-bdrs .nav-pills > li.active > a, .banner-bdrs .nav-pills > li.active > a:hover, .banner-bdrs .nav-pills > li.active > a:focus {
    position: relative;
    background-color: #f2f7fa;
}
.car-insurance {
    background-image: url(../image/car-insurance.png);
    background-size: 70px;
    background-position: 28px 21px;
}
.active .car-insurance, .car-insurance, .health-insurance, .travel-insurance, .claims, .home-insurance, .support-center {
    background-repeat: no-repeat;
    padding: 2px;
    margin: 2px;
    position: relative;
    width: 120px;
    height: 76%;
}
.active .car-insurance {
    background-image: url(../image/car-insurance-active.png);
    background-size: 70px;
    background-position: 28px 21px;
}
p {
    padding: 0 0 15px 0;
    color: #898989;
    font-size: 1.125em;
    margin: 0;
}
.health-insurance {
    background-image: url(../image/health-insurance.png);
    background-size: 50px;
    background-position: 36px 7px;
}
.home-insurance{
    background-image: url(../image/home.png);
    background-size: 42px;
    background-position: 43px 10px;
    height: 50px;
    background-repeat: no-repeat;
}
.active .home-insurance {
    background-image: url(../image/home_active.png);
    background-size: 42px;
    background-position: 43px 10px;
}
.saving-insurance{
	background-image: url(../image/savings.png);
    background-size: 43px;
    background-position: 45px 7px;
    height: 50px;
    background-repeat: no-repeat;
}
.active .saving-insurance{
	
	background-image: url(../image/savings_active.png);
    background-size: 43px;
    background-position: 45px 7px;
}
.life-insurance {
    background-image: url(../image/life.png);
    background-size: 43px;
    background-position: 45px 7px;
    height: 50px;
    min-width: 100px;
    background-repeat: no-repeat;
}
.active .life-insurance{
	background-image: url(../image/life_active.png);
    background-size: 43px;
    background-position: 45px 7px;
}
.askBirbal-insurance{
	background-image: url(../image/ab.png);
    background-size: 43px;
    background-position: 45px 7px;
    height: 50px;
    background-repeat: no-repeat;
}
.active .health-insurance {
    background-image: url(../image/health-insurance-active.png);
    background-size: 50px;
    background-position: 36px 7px;
}
.travel-insurance {
    background-image: url(../image/travel-insurance.png);
    background-size: 50px;
    background-position: 39px 1px;
}
.active .travel-insurance {
    background-image: url(../image/travel-insurance-active.png);
    background-size: 50px;
    background-position: 39px 1px;
}
.claims {
    background-image: url(../image/claims.png);
    background-size: 45px;
    background-position: 26px 10px;
}
.active .claims {
    background-image: url(../image/claims-active.png);
    background-size: 45px;
    background-position: 26px 10px;
}
.banner-bdrs p{
	text-align: center;
}
.margin-top-30 {
    margin-top: 30px;
}
h4 {
    font-size: 1.22em;
    font-weight: normal;
}
.green {
    color: #9acb3c !important;
}
.blue {
    color: #2071b1;
}
.step {
    margin: 3px 0 0 0;
    font-style: italic;
}
.number {
    background-color: #f0f0f0;
    width: 25px;
    padding: 2px 8px;
    height: 25px;
    border-radius: 25px;
    margin: 0 10px;
    font-style: italic;
}

.left {
    float: left;
}
.grey {
    color: #979797 !important;
}
.pt-15 {
    padding-top: 15px;
}
.form-group {
    margin-bottom: 2px;
}
.form_horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
input[type="radio"] {
    display: none;
}
label {
    font-size: 0.85em;
    color: #898989;
    font-weight: normal;
}
label {
    clear: both;
}
input[type="radio"] + label {
    font-size: 14px;
}
input[type="radio"] + label span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
input[type="radio"] + label span {
    background-color: #cacaca;
}
input[type="radio"]:checked + label span {
    background-color: #ffffff;
    border: 3px solid #2071b1;
}
input[type="radio"] + label span, input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}
.form-group .required .control-label:after {
    content: "*";
    color: red;
}
/* .form-control.ui-select-match{
	padding:5px;
	height:34px;
} */
.rupee {
	font-family: 'rssymbol';
}
.ask_h4{
	font-size:medium;
    font-family: 'NegotiateFree';
    color:#444444;
}
ul.oneMinuteChangeLife li{
    list-style: url('../image/bp.png');
    text-align: justify;
    color:#444444;
    padding-bottom:15px;
    font-size:medium;
    font-family: 'NegotiateFree';
}
ul.oneMinuteChangeLife li{
   list-style:"clear"
}
.ui-select-match {
    border: 1px solid #ccc;
}
.form-control {
   /*  height: auto; */
    padding: 5px;
}
.btn, btn:hover, btn:focus {
    border: 0;
    border-radius: 0 !important;
}
.ui-select-bootstrap .ui-select-toggle {
    position: relative;
}
.ui-select-bootstrap > .ui-select-match > .btn {
    text-align: left !important;
}
.text-muted {
    color: #777;
}
.ui-select-bootstrap .ui-select-match-text {
    width: 100%;
    padding-right: 1em;
}
.ui-select-bootstrap .ui-select-match-text span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.ui-select-bootstrap .ui-select-toggle > .caret {
    position: absolute;
    height: 10px;
    top: 50%;
    right: 10px;
    margin-top: -2px;
}
.ui-select-bootstrap .ui-select-toggle > a.btn {
    position: absolute;
    height: 10px;
    right: 10px;
    margin-top: -2px;
}
.ui-select-refreshing {
    position: absolute;
    right: 0;
    padding: 8px 27px;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.ui-select-spin {
    -webkit-animation: ui-select-spin 2s infinite linear;
    animation: ui-select-spin 2s infinite linear;
}
.scrollable-dropdown-menu .dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}
.scrollable-dropdown-menu .dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}
.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin-top: -1px;
}
.banner-bdrs li.ui-select-choices-group {
    width: 100%;
}
.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin-top: -1px;
}
.ui-select-offscreen {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}
.banner-bdrs .uib-datepicker-popup li {
    width: 100%;
}
.call-back, .call-back:focus, .call-back:hover {
    background-color: #9acb3c;
    margin-top: 15px;
}
.call-back, .call-back:focus, .call-back:hover, .buy-btn, .buy-btn:focus, .buy-btn:hover, .call-sub, .call-sub:focus, .call-sub:hover {
    width: 100%;
    color: #ffffff;
}
.bdr-rgt {
    border-right: 5px solid;
    border-image-source: url(../image/vertical-line.svg);
    border-image-slice: 0 8 0 0;
    border-image-repeat: round;
}
.hom_modal_body{background: rgba(225, 245, 254,0.99);color: #666666;}
.btn_prim{
	background:#8db83f;
	border: 1px solid #acdd4a; 
	color: #222222; 
}
.btn_prim:hover{
	    border: 1px solid #77d5f7;
    background: #0095da url(images/ui-bg_glass_45_0095da_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #ffffff;
}
.btn_prim.active{
	border: 1px solid #77d5f7;
    background: #0095da;
    font-weight: normal;
    color: #ffffff;
}
.btn_prim:active{
    border: 1px solid #77d5f7;
    background: #0095da url(images/ui-bg_glass_45_0095da_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #ffffff;
}
/*Main Container*/
/*client-wrap*/
.common-wrap {
    padding: 10px 0 0 0;
}
.client-wrap {
    background-image: url(../image/line-pattern.png);
    background-repeat: repeat;
    width: 100%;
    padding: 10px 15px;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/*client-wrap*/
/*retail*/
.menuitemtop li.active {
    
    background-color: #8db83f;
    height: auto;
    vertical-align: middle;
    text-align: left;
    list-style-type: none;
    background-color: #8db83f;
    color: #ed1a39;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
}
.retail .menuitemtop .nav-pills>li.active>a,.retail .nav-pills>li.active>a:focus,.retail .nav-pills>li.active>a:hover{
     
    background-color: #8db83f;
    height: auto;
    vertical-align: middle;
    text-align: left;
    list-style-type: none;
    background-color: #8db83f;
    color: #ed1a39;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
}
.retail .menuitemtop .nav>li{
    border-radius: 0px;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
    padding: 0px;
}
.retail .menuitemtop .nav>li.active>a{
     background-color: #8db83f;
    height: auto;
    vertical-align: middle;
    text-align: left;
    list-style-type: none;
    background-color: #8db83f;
    color: #ed1a39;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
}
.retail .menuitemtop .nav>li>a{
    background-color: #eee;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
}
.retail .menuitemtop .nav>li>a:focus, .retail .menuitemtop .nav>li>a:hover {
    
    background-color: #8db83f;
    height: auto;
    vertical-align: middle;
    text-align: left;
    list-style-type: none;
    background-color: #8db83f;
    color: #ed1a39;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
}
.retail_marign{
    margin-top: 30px;
}
.para{
    text-align:center;
    text-align: justify;
    font-family: 'negotiate free';
    font-size: 62.5%;
}
.margin_top3{
    margin-top: 3em;
}
.black{
    color:#000;
    font-weight: 800;
}
.padd15{
    padding-top: 15px;
    padding-bottom: 15px;
}
.ibspan{
    display: block;
    width: 100%;
    float: left;
}

.tc-modal-window{
	width: 75%;
}

.partinsurer{
    display: inline-block;
    padding: 1em;
}
/*Retail*/

/*Corporate*/
.corporateTabs li.active {
    
    background-color: #8db83f;
    height: auto;
    vertical-align: middle;
    text-align: left;
    list-style-type: none;
    background-color: #8db83f;
    color: #ed1a39;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
}
.retail .corporateTabs .nav-pills>li.active>a,.retail .nav-pills>li.active>a:focus,.retail .nav-pills>li.active>a:hover{
     
    background-color: #8db83f;
    height: auto;
    vertical-align: middle;
    text-align: left;
    list-style-type: none;
    background-color: #8db83f;
    color: #ed1a39;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
}
.retail .corporateTabs .nav>li{
    border-radius: 0px;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
    padding: 0px;
}
.retail .corporateTabs .nav>li.active>a{
     background-color: #8db83f;
    height: auto;
    vertical-align: middle;
    text-align: left;
    list-style-type: none;
    background-color: #8db83f;
    color: #ed1a39;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
}
.retail .corporateTabs .nav>li>a{
    background-color: #eee;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
}
.retail .corporateTabs .nav>li>a:focus, .retail .corporateTabs .nav>li>a:hover {
    
    background-color: #8db83f;
    height: auto;
    vertical-align: middle;
    text-align: left;
    list-style-type: none;
    background-color: #8db83f;
    color: #ed1a39;
    border-top-style: dashed;
    border-top-color: #92a8af;
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #92a8af;
    border-bottom-width: 1px;
}
.retirment_service_heading{
    background-color: #72A929;
    width: 90%;
    padding-top: 0.5em;
    padding-bottom: 1em;
    color: #ffffff;
    padding-left: 15px;
}
.err{
	color:red;
}
/*Corporate*/


/*Management*/
.managementTeam{
    width:100%;
    display: block;
    float: left;
}
.layout-management{
    width:100%;
    display: block;
    border-top:1px solid #f2f2f2;
    float: left;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom:30px;
}
/*Management*/


/*Approach*/
.approach_main{
    float: left;width: 100%;display: block;padding-top: 30px;
}
.approach{
    background-image: url('../image/Half-Logo.gif');
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*Approach*/

/*Contact*/
.contact{
    float: left;
    width: 100%;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contact .form-control{
    padding: 15px;
    margin-bottom: 15px;
}
.contact label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 15px;

}

/*Contact*/


/*Career*/
.career{
    width:100%;
    float: left;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.career-header{
    background-image: url('../image/Half-Logo.gif');
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    float: left;
   
}
.wecareband {
    background-image: url(../image/wecare_band.gif);
    display: inline-block;
    background-repeat: no-repeat;
    width: 350px;
    min-height: 29px;
    line-height: 29px;
}
/*Career*/

/*Privacy Policy*/
.miscbanner {
    background-color: #3baae3;
    width: 100%;
    color: #ffffff;
    font-size: medium;
    text-align: left;
}
.bannertxt{
    text-align: left;
    font-size: x-large;
    vertical-align: middle;
}
/*Privacy Policy*/
/*Term of Use*/
.alpha-list{
    list-style-type: lower-alpha;
    font-family: 'NegotiateFree';
    font-size: medium;
}
.list-style{
    font-family: 'NegotiateFree';
    font-size: medium;
}
.roman-list{
    list-style-type: lower-roman;
}
.term_of_use li{
    font-size: medium;
    text-align: justify;
   font-family: 'NegotiateFree';
}
/*Term of Use */
/*Service*/
/*cliamAssistance*/
.topContent {
    border-bottom: solid #ededed 2px;
    margin: 0 0 20px 0;
}
.topContent h1,.productBox h1{
    font-size: 19px;
    color: #0a5194;
    font-family: "Lato",sans-serif;
    font-weight: normal;
    margin:15px 0 15px 0;
    background: none;
    border: none !important;
}
.topContent p.firstPara {
    /* background: none repeat scroll 0 0 #efefef; */
    clear: both;
    color: #69696b;
    display: block;
    font-family: "Lato",sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 10px;
    padding:10px 0px;
}
.productBox h1.nresp span {
    color: #bdbdbd;
    font-style: italic;
    font-size: 13px;
    background: none;
    display: inline;
    font-weight: normal;
}
.process_content{
    border: solid #f3f3f3 1px;
    box-shadow: 0 0px 5px 0 #eeeeee;
    padding: 25px 0;
    overflow: hidden;
    clear: both;
}
/*Start Radio Button css here*/
.btn_radio input[type=checkbox]:not(old),
.btn_radio input[type=radio   ]:not(old){width   : 28px;margin  : 0;padding : 0;opacity : 0;}
.btn_radio input[type=checkbox]:not(old) + label,
.btn_radio input[type=radio   ]:not(old) + label{display: inline-block;margin-left:0px;font-family:"Lato",sans-serif;padding-left : 28px;background: url('../image/radio_btn.png') no-repeat 0 0;line-height  : 24px;cursor:pointer; }
.btn_radio input[type=checkbox]:not(old):checked + label{background-position : 0 -24px;}
.btn_radio input[type=radio]:not(old):checked + label{background-position : 0 -48px;}
.btn_radio{ margin:0 0 60px 8%; padding:0;}
.btn_radio li{float:left; margin:0 85px 0 0; list-style-type:none;}
/*End Radio Button css here*/


/*Start Tab css here*/
ul.list li {list-style-type:none;margin-left:20px;}
ul.tabs {width:100%; padding:0; margin:0; float:left; border-bottom:solid #a5a5a5 1px;}
ul.tabs li {list-style-type:none;  display:block;float:left;color:#979797;padding:7px 10px;background-color:#fff;cursor:pointer; position:relative; width:22.5%; text-align:center; font-size:15px; height:120px;  font-family:"Lato",sans-serif;  }
ul.tabs li div{width:90px; height:90px; display:block; margin:0 auto 0px auto; overflow:hidden; background:url(../image/process_icon.png) no-repeat -17px -130px ; -webkit-transition: 0.3s linear 0s; /* For Safari 3.1 to 6.0 */transition: margin 0.2s cubic-bezier(0, 0, 1, 1.8);}
ul.tabs li div:hover{background-position:-17px -9px; margin:-5px auto 0 auto;}
ul.tabs li.current div{background-position:-17px -9px;}

ul.tabs li +li div{background:url(../image/process_icon.png) no-repeat -211px -128px ;}
ul.tabs li +li div:hover{background-position:-211px -7px;}
ul.tabs li +li.current div{background-position:-211px -7px;}

ul.tabs li +li +li div{background:url(../image/process_icon.png) no-repeat -406px -128px ;}
ul.tabs li +li +li div:hover{background-position:-406px -7px;}
ul.tabs li +li +li.current div{background-position:-406px -7px;}

ul.tabs li +li +li +li div{background:url(../image/process_icon.png) no-repeat -593px -128px ;}
ul.tabs li +li +li +li div:hover{background-position:-593px -7px;}
ul.tabs li +li +li +li.current div{background-position:-593px -7px;}

ul.tabs li:hover:after, ul.tabs li.current:after  {background:url(../image/arrow_down.jpg) no-repeat center bottom; position:absolute; left:50%; bottom:-7px; content:"";  width:10px; height:10px;    }
ul.tabs li:hover { color:#0a5194; font-size:15px;}
ul.tabs li.current {padding:7px 10px; color:#0a5194;  font-size:15px;}

.tabscontent {padding:8px 0 0 0;width:100%;text-align:left; color:#959595; font-size:14px; font-weight:400; font-family:"Lato",sans-serif;}
.tabscontent .tabs{ margin:5px 0 0 0; clear:both;}
.contents{height:auto;  width:95%; margin:25px auto; clear:both;}
#tabsholder{ margin:13px 0 0 0; position:relative; min-height:195px;}
.loaderImg{  position:absolute; left:45%;  }

ul.tabNavigation {padding: 0 0 0 0px;width: 99%;height: auto;}
ul.tabNavigation li {height: auto;float: left;margin: 0 4px 0 0px;list-style-type: none; width:24%;}
ul.tabNavigation li a {height:auto;padding:14px 0px;text-decoration: none;color:#333;display: block;border: #fcac4b solid 1px;font-size: 12px; text-align:center;  font-size:15px;  -webkit-transition: 0.3s linear 0s; /* For Safari 3.1 to 6.0 */transition: background 0.2s cubic-bezier(1, 1, 0, 0); font-family:"Lato",sans-serif; font-weight:400;cursor: pointer;}
ul.tabNavigation li a:hover { background:#fcac4b;}
ul.tabNavigation li.selected a{outline: none; background:#fcac4b; color:#fff; font-size:14px;}
#tab-1,
#tab-2,
#tab-3,
#tab-4,
#tab-5,
#tab-6,
#tab-7,
#tab-8,
#tab-9,
#tab-10,
#tab-11{padding: 50px 10px 10px 10px;border: #ccc solid 0px; clear:both}
/*End Tab css here*/

ul.process_step{ padding:0; margin:0;}
ul.process_step li{ padding:0 0 0px 0; margin:0; border-bottom:solid #f3f3f3 3px; display:table; width:100%;}
ul.process_step li:last-child{ border-bottom:none;}
ul.process_step li div{ float:left; width:10%; background:#f3f3f3; color:#0a5194; font-size:15px; text-align:center; padding:7px 0;  font-family:"Lato",sans-serif; font-weight:400; font-size:14px;}
ul.process_step li span{ float:left; border-left:solid #f3f3f3 1px;  width:85%; padding:4px 10px 15px 10px; color:#a8a8a8; font-size:13px; line-height:28px; font-family:Arial, Helvetica, sans-serif; }

ul.process_step li span ul li{ border:none;background:url("../image/arrow_bullet.png") no-repeat scroll 0 8px; padding:0 0 0 20px; margin:0; }
ul.process_step li:last-child span{ padding-bottom:0;}
ul.process_step li strong{ color:#141414; font-size:15px; display:block; margin:0 20px 0 0;  font-family:"Lato",sans-serif; font-size:15px; font-weight:400;}
ul.process_step li > strong {
    display: none;
}
.clear {
    clear: both;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
/*Start Download Claim css here*/
ul li{list-style: none}
form div{position:relative;}
.variation2{width:33%; float:left;} 
/* setting the width and height of the SELECT element to match the replacing graphics */
select.select{position:relative;z-index:10;width:222px !important;height:40px !important;line-height:40px; display:block;}
select.select.error{border:solid red 1px;}
/* dynamically created SPAN, placed below the SELECT */
span.select{position:absolute;bottom:0;float:left;left:0;width:222px;height:40px;line-height:40px;text-indent:15px;background: #f0f0f0 url(../image/bg_select.gif) no-repeat right 0;cursor:default;z-index:1;}
/* first variation (LABEL is above the SELECT) */   
form div.variation1 label{display:block;line-height:26px;}
/* second variation (LABEL is placed on the left of the SELECT) */  
form div.variation2 label{width:100px;line-height:26px; color:#fcac4b;  font-family:"Lato",sans-serif; font-size:16px;}
form div.variation2 span.select{left:0; top:25px;}

/*********************/
.tbl_insurer{border:solid #e7e7e7 1px; box-shadow:0 0 5px 0 #efefef; margin:20px 0 0 0; background:#f1f1f1; padding:0 0 15px;}
.tbl_insurer th{ padding:0; background:#fff; border-bottom:solid #f9bd75 3px; margin:0 0 10px 0; display:table; width:100%;}
.tbl_insurer th h4{color:#0a5194; font-size:15px; float:left;   font-weight: normal; padding: 10px;}
.tbl_insurer th ul{ float:right; }
.tbl_insurer th ul li{ float:left; margin:0 10px 0 0; color:#6c97bf; font-size:13px; background:url(../image/tbl_icon.gif) no-repeat 0 2px;  padding: 10px 10px 10px 30px; font-weight:normal;}
.tbl_insurer th ul li a{color:#6c97bf; text-decoration:none;}
.tbl_insurer th ul li a:hover{color:#049fe8;}
.tbl_insurer th ul li +li{ margin:0; background-position:0 -55px; }

.tbl_insurer td{ padding:10px; border:solid #f1f1f1 10px; border-bottom:0; border-top:solid #f1f1f1 5px; background:#fff;}
#content2 .tbl_insurer td p{ padding:0; margin:0; display:block; float:left; color:#707070; font-size:14px;}
.tbl_insurer td ul{ float:right; margin:5px 0 0 0;}
.tbl_insurer td ul li{ float:left; }
.tbl_insurer td ul li a{ display:block; color:#049fe8; text-decoration:none; background:url(../image/tbl_icon.gif) no-repeat 0 -125px;  padding: 0 10px 0 32px; line-height:16px; border-right:solid #bfbfbf 1px; }
.tbl_insurer td ul li +li a{ background-position:0 -183px; border:none; }

.findHospitalTable .tbl_insurer td ul{ float:left; width:100%; }

/*End Download Claim css here*/
/*intimate claim*/
.heading-claims {background: #005387 none repeat scroll 0 0;border-bottom: 1px solid #bababa;color: #ffffff;font-size: 17px;font-weight: bold;height: 44px;line-height: 43px;text-align: center;width:100%;}
.padding15{padding-left: 15px;padding-right: 15px;}
/*End Intimate claim*/
.popup-submit {
    width: 30%;
    outline: none;
   
    background: #185a84;
    border: medium none;
    border-radius: 9px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 1em;
    padding: 0.5em 0.2em;
    text-align: center;
    text-shadow: inherit;
   
    width: 150px;
}
.input-group-btn select {
    border-color: #ccc;
     margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.tabs ul.w19 li{width:19%;}
.tabs ul.w19 li a{font-size:13px;}
/*Service*/
/*Quotes  */
#found{
	width:100%;
	display:block;
}

.breadcrumb{
	margin-bottom:10px;
	background-color: rgba(0,0,0,.075);
}
.portfoliogoalinput_header{
	color:#333;
	font-weight:bold;
	font-size:14px;
}
.results-block-wrapper {
    min-height: 100%;
    margin-top: 12px;
    box-shadow: 0 2px 3px rgba(0,0,0,.19);
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: relative;
    background: #efeff4;
    float:left;
    width:100%
}
.pc-button-wrapper{
	background: #f7fafc;
}
.pc-premium .label{
	    color: rgb(91,121,141);
    text-transform: uppercase;
    padding: 0;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.pc-premium p.value {
    color: #FF7B5E;
    font-size: 25px;
    margin-top: -6px;
    margin-left: -1px;
}
.pc-premium{
	float:left;
	padding-top:10px;
	/* width:100%; */
}
.pc-buttons{
	float:right;
	padding-top:10px;
	padding-right:10px;
}
.compare_check{
	float:right;margin-top:15px;
}
.results-block-sidebar {
	
    
    float: left;
    height: 100%;
    float: left;
    /* min-height: 100vh; */
    /* bottom: 0; */
    /* z-index: 297; */
    border-right: 1px solid rgba(0,0,0,0.08);
    /* margin-left: 0px; */
    position: absolute;
    /* left: 0px; */
    /* top: 0px; */
    /* height: calc(100vh - 55px); */
    /* display: inline; */
}
.results-block-plans {
   float: left;
    min-height: 100vh;
    /* border-left: 1px solid rgba(0,0,0,0.08); */
    /* position: relative; */
    /* z-index: 298; */
    margin-left: 290px;
    height: 100%;
   
}
.plans-header {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #33444f;
    font-size:12px;
}
.plan-card {
    max-height: auto;
    background: #fff;
    float: left; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: -webkit-transform 0.2s cubic-bezier(0.175,0.885,0.32,1.275),opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175,0.885,0.32,1.275),opacity 0.2s;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.17);
    margin-bottom: 15px;
    width:100%;
}
.plan-card {
    margin: 0px;
    -moz-transition: all .5s cubic-bezier(.4,.1,.1,1);
    -webkit-transition: all .5s cubic-bezier(.4,.1,.1,1);
    -o-transition: all .5s cubic-bezier(.4,.1,.1,1);
    transition: all .5s cubic-bezier(.4,.1,.1,1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;
    min-height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: none;
}
.plan-card {
   
    margin-bottom: 24px;
}
.cf-result-card, .cf-dummy-card {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}
.cf-result-card .cf-result-face, .cf-dummy-card .cf-dummy-face {
    background-color: #ffffff;
    padding: 17px 5px 0px;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}
.cf-result-card .company-logo, .cf-dummy-card .company-logo {
    position: relative;
    top: 0px;
    left: 5px;
    overflow: hidden;
}
.insurer-logo {
    text-align: center;
}
.cf-result-card .plan-name, .cf-dummy-card .plan-name {
    color: #314451;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;
    min-height: 20px;
    /* padding: 0 25px 0 110px; */
    position: relative;
    padding-top:15px;
}
.cf-result-card .insurer-name, .cf-dummy-card .insurer-name {
    /* border-bottom: 1px solid #EAEAEA; */
    color: #8D8D8D;
    display: block;
    font-size: 9px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.4em;
    /* padding: 3px 5px 20px 110px; */
    min-height: 25px;
}
.cf-result-card .seePremium {
    position: relative;
    right: 0px;
    top: 0px;
    font-size: 9px;
    text-transform: uppercase;
    color: #3E7BC2;
}
.bnone {
    border: none!important;
}
.cf-result-card .split, .cf-dummy-card .split {
    margin: 0px;
    padding: 7px 10px;
    border-left: 1px solid #eaeaea;
    min-height:45px;
}
.cf-result-card .color.small {
    font-size: 14px;
    margin-top: 3px;
    display: block;
    color: #999999;
    font-weight: 600;
    line-height: 1.1em;
}
.block-subtitle {
    font-size: 13px;
    opacity: 0.6;
}
.cf-result-card .color {
    color: #00a682;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1em;
}
.sm-font {
    color: #8d8d8d;
    font-size: 9px;
    text-transform: uppercase;
    padding: 0;
}
.cf-result-card .split .text-muted, .cf-dummy-card .split .text-muted {
    color: #8D8D8D;
    display: block;
    font-size: 8px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 300;
}
.cf-btn-orange {
    background-color: #a90392;
    letter-spacing: 1px;
    color: #fff;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #a90392;
    white-space:normal;
}
.cf-btn-orange {
    background-color: rgb(170, 2, 148);
    color: #fff !important;
}
.btn {
    border-radius: 3px;
}
.cf-result-card .btn-sm, .cf-dummy-card .btn-sm {
    padding: 6px 4px;
    margin: 2px 0px;
    max-width: 136px;
    font-size: 11px;
    text-transform: uppercase;
    float: right;
}
.main_container{
	position:relative;
	height:100%;
}
.left-side{
  min-height: 100%;
 height: 100%;
  margin: 0 auto ;
  color: rgb(68, 68, 68);
  background-color: rgb(249, 249, 249);
}
.chose_Cover .col-sm-12{margin-bottom: 15px;}
.plcriterialabel {
    color: #8BC34A;
    font-weight: 600;
    font-size: medium;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    vertical-align: initial;
}
.list-item {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 25px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
 width:100%;
}
.list-item.addon-item {
    padding: 4px 20px;
    background-color: #f7fafc;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: -1px;
}
.list-item.addon-item .item-left {
    font-size: 13px;
}
.list-item.has-right .item-left {
    max-width: 80%;
}
.list-item .item-right {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 15px;
    color: rgba(49, 68, 81, 0.8);
    text-align: right;
}
.btn_default{
  border: 1px solid #777777;
    background: #111111 url(../image/ui-bg_glass_40_111111_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #e3e3e3;
}
.btn_default:hover{
  color:#f99090 !important;
}
.btn_default:focus,.btn_default:active{
  color:#f99090 !important;
}
.scrollable-dropdown-menu .dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}
.form-group .required .control-label:after {
  content:"*";color:red;
}
.panel-info {
    border-color: #f1f1f1;
}
.pc-compare {
    width: 55px;
    position: relative;
}
#pagecontent {
    box-shadow: 10px 10px 10px #ebebe4;
    float: left;
    width: 100%;
    background-color:#efeff4;
}
.pag {
    font-family: 'Lato-Bold';
    padding-top: 15px;
    padding-bottom: 15px;
    color: #020204;
}
.deskTopView {
    display: block;
}
#refinesearch {
    color: #056f05;
    font-family: 'Lato-Bold';
    font-weight: lighter;
    font-size: 17px;
}
.ui-buttonset {
    margin-right: 7px;
}
.s-h5 {
    color: #056f05;
    font-size: 1em;
    padding: 5px 0;
    font-family: 'Lato-Bold';
    font-size:17px;
}
#morefiltershere label, #covershere label, #covershere1 label, #ck-button label, #cc-button label, #cc-button1 label {
    margin: 0 10px 10px 0px;
    background-color: #cacaca;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
#morefiltershere label, #covershere label, #covershere1 label, #ck-button label, #cc-button label, #cc-button1 label {
    position: relative;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
#pagecontent input {
    border: 1px solid #ccc;
}
#pagecontent input {
    font-size: medium;
    padding: 5px;
}
#morefiltershere label input, #covershere label input, #covershere1 label input, #ck-button label input, #cc-button label input, #cc-button1 label input {
    display: none;
}
.choose_span {
    font-size: 80%;
    font-weight: normal;
    font-size:small;
}
.portfolioinvest span{
	font-size:14px;
}
#morefiltershere label .span, #covershere label .span, #covershere1 label .span, #ck-button label .span, #cc-button label .span, #cc-button1 label .span {
    text-align: left;
    padding: 5px 15px;
    display: block;
    color: #555555;
}
.span1 {
    margin-left: 15px;
    background-color: #ffffff;
    padding: 1px 8px 1px 6px;
    font-weight: bold;
    font-style: italic;
    border-radius: 49px;
}
.btn-group label{clear:none;}
.mobileview {
    display: none;
}
.panel-group {
    margin-bottom: 0px;
}
.portfoliotxthdr {
    font-size: 125%;
    padding: 0em;
    width: 100%;
}
.pc-compare .compare-box{
	position: absolute;
    top: 22px;
    left: 11px;
    width: 32px;
    height: 32px;
}
.proto_compare{
	width: auto;
    padding-top: 0px;
    padding-left: 5px;
   display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.pc-company-info {
    width: 120px;
    padding-top: 22px;
    padding-left: 5px;
   /*  border-right: 1px solid #E7E7E7; */
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float:right;
}
.insurer-logo {
 
   /*  width: 100px!important; */
    height: 50px!important;
    position: relative;
  /*   top: -10px; */
      padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
}
.recotable {
    width: 100%;
}
.portfolionamecol {
    width: 50%;
    font-size: 100%;
    padding-top: 1.5em;
    color: #400080;
    cursor: pointer;
}
.portfolioinvest {
    width: 15%;
    padding-top: 1.5em;
    cursor: pointer;
}
.protfolioCompare input[type="checkbox"] + label {
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding-left: 1.66em;
    padding-right: 0.75em;
    position: relative;
}
.protfolioCompare [type="checkbox"]:not(:checked) + label,.protfolioCompare [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
.protfolioCompare label:hover:before {
    border: 1px solid #4778d9!important;
}
.protfolioCompare input[type="checkbox"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.protfolioCompare input[type="checkbox"] + label:before {
    background: #e0e0e0;
    border-radius: 4px;
    border: solid 1px #bfbfbf;
    content: '';
    display: inline-block;
    height: 18px;
    left: -16px;
    line-height: 1.06375em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 18px;
}
.protfolioCompare input[type="checkbox"] + label:before {
    border-radius: 4px;
}
.protfolioCompare [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: -16px;
    top: 5px;
    width: 17px;
    height: 17px;
    border: 1px solid #bbb;
    background: #fff;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
.protfolioCompare [type="checkbox"]:not(:checked) + label:after,.protfolioCompare [type="checkbox"]:checked + label:after {
    content: '\2713';
    position: absolute;
    top: 1px;
    left: -16px;
    font-size: 19px;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
}
.protfolioCompare [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.ui-buttonset .ibspan{
	font-size:small;
} 
#covershere input:checked + .span, #covershere1 input:checked + .span, #cc-button input:checked + .span, #cc-button1 input:checked + .span {
    background-color: #9bcb3b;
    font-weight: normal;
    font-size: 80%;
}
/*Quotes  */
/*Insurer Rating  */

.wizard-container {
    padding-top: 0px!important;
}
.wizard-container {
    text-align: center;
}
.addmargin {
    margin: 0 100px 0 100px;
}
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.wizard-card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.card {
    margin: 0 0 20px 0;
    border-radius: 3px;
    color: #00669C;
}
.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.wizard-card {
    min-height: 460px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.wizard-card h3{
	margin: 20px 0 10px; 
}
.wizard-card .wizard-navigation {
    position: relative;
}
.card .nav-pills, .card .tab-content {
    margin-top: 20px;
}
.wizard-navigation .nav-pills{
    background-color: rgba(200,200,200,.2);
}
.wizard-navigation .nav-pills li{
	width:19.77%;
}
.wizard-navigation .nav-pills>li.active>a,.wizard-navigation .nav-pills>li.active>a:focus,.wizard-navigation .nav-pills>li.active>a:hover{
	background-color: #4caf50;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4)
}
.btn_prim_group{
	width:19.77%;
	background-color: #8db83f;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4)
}
/*INsurer Rating  */
/*Insurer rating quotes  */
/* .wizard-navigation.wizard_navigation .nav-pills li{
	width:13.77%;
} */
/*Insurer rating quotes  */
.ui-select-choices-row{
	cursor: pointer;
    background-color: #f5f5f5;
    margin-bottom: 5px;
    box-shadow: black;
    padding-left: 10px;
}

/*UI select  */
/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold;
}

.label-highlight {
  font-weight: bold;
}

.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

/* Select2 theme */

/* Mark invalid Select2 */
.ng-dirty.ng-invalid > a.select2-choice {
    border-color: #D44950;
}

.select2-result-single {
  padding-left: 0;
}

.select2-locked > .select2-search-choice-close{
  display:none;
}

/* Selectize theme */

/* Helper class to show styles when focus */
.selectize-input.selectize-focus{
  border-color: #007FBB !important;
}

/* Fix input width for Selectize theme */
.selectize-control > .selectize-input > input {
  width: 100%;
}

/* Fix dropdown width for Selectize theme */
.selectize-control > .selectize-dropdown {
  width: 100%;
}

/* Mark invalid Selectize */
.ng-dirty.ng-invalid > div.selectize-input {
    border-color: #D44950;
}


/* Bootstrap theme */

/* Helper class to show styles when focus */
.btn-default-focus {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-select-bootstrap > .ui-select-match {
  /* Instead of center because of .btn */
  text-align: left;
}

.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: .3em;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important; /* To prevent double background when disabled */
  border: none;
  outline: none;
 /* height: 1.666666em;*/
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  line-height: 0.75;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item{
  outline: 0;
}

.ui-select-bootstrap .ui-select-choices-row>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.ui-select-bootstrap .ui-select-choices-row>a:hover, .ui-select-bootstrap .ui-select-choices-row>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.ui-select-bootstrap .ui-select-choices-row.disabled>a,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>a {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
    display: none !important;
}
/*Ask Birbal  */
.oneMinuteChangeLife li{
	width:100%;
}
.label.ccbx, label.crbtn {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    padding: 3px 0;
}
.crbtn span {
    width: 17px;
    height: 17px;
    display: inline-block;
    float: left;
    overflow: hidden;
    margin-right: 5px;
    position: relative;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #ccc;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.crbtn span i {
    background-color: transparent;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 1px;
    top: 1px;
    border-radius: 100%;
    -webkit-transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -ms-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
    transition: all .50s ease-in-out;
}
#pagecontent input {
    font-size: medium;
}
label.ccbx input[type="checkbox"], label.crbtn input[type="radio"] {
    display: none;
}
.crbtn.pushed span i {
    box-shadow: inset 0 0 50px #8db83f;
}
label.ccbx, label.crbtn {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    padding: 3px 0;
}
.ccbx span {
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    float: left;
    position: relative;
    top: 1px;
    background-color: transparent;
    border: 1px solid #ccc;
    -webkit-transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -ms-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
    transition: all .50s ease-in-out;
}
input[type="checkbox"]:checked + label span {
    background-color: #8db83f;
    border-color: #8db83f;
}
.askBirbal [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 3px;
    width: 17px;
    height: 17px;
    border: 1px solid #bbb;
    background: #fff;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
.btn_prv,.btn_prv:hover{
	float:left;
	width:100px !important;;

}
.btn_next,.btn_next:hover,.btn_next:active{
	float:right;
	width:100px !important;
}
/*Ask Birbal  */
/*My Plan  */

.ibspans{
	vertical-align: middle;
    display: -moz-inline-stack;
    display: inline-block;
    text-align: left;
}
.ompimagewrap{
width:15%;
margin-left: 5%;
margin-right: 5%;
margin-top: 1.5em;
margin-bottom: 0em;
padding:1.0em;
text-align:center;
/*text-decoration:underline;*/
color:#444444;
border-radius: 23%;
border-style: solid;
border-width:10px;
cursor:pointer;
background-color:#ffffff;
float:left;
}

.ompimagewrap:hover {
opacity: 0.8;
filter: alpha(opacity=80); /* msie */
color:blue;
}

.ompimage{
width:90%;
background-size: cover;
height: 0;
padding: 0; /* reset */
padding-bottom: 90%;
background-color: #fff;
    border: 0px;
}

.importancei{
border-color:#ffffff;
}

.importancei:hover{
cursor:wait;
color:#444444;
border-color:#ffffff;
opacity: 1.0;
filter: alpha(opacity=100); /* msie */
}

.importance0{
opacity: 0.9;
filter: alpha(opacity=90); /* msie */
border-color:#848484;
}

.importance0:hover{
border-color:#D8D8D8;
}

.importance1{
border-color:#FFBF00;
}

.importance1:hover{
border-color:#F3F781;
}

.importance1 .importanceplus{
color:#FFBF00;
}

.omplegend.importance1{
color:#FFBF00;
}

.importance1:hover .importanceplus{
color:#F3F781;
}

.omppopuptext.importance1{
background-color:#F3F781;
}


.importance2{
border-color:#0B0B61;
}

.importance2:hover{
border-color:#8181F7;
}

.importance2 .importanceplus{
color:#0B0B61;
}

.omplegend.importance2{
color:#0B0B61;
}

.importance2:hover .importanceplus{
color:#8181F7;
}

.omppopuptext.importance2{
background-color:#819FF7;
}


.importance3{
border-color:#0B610B;
}

.importance3:hover{
border-color:#9FF781;
}

.importance3 .importanceplus{
color:#0B610B;
}

.omplegend.importance3{
color:#0B610B;
}

.importance3:hover .importanceplus{
color:#9FF781;
}
.omppopuptext.importance3{
background-color:#9FF781;
}


.omplegend{
width:2em;
height:2em;
border:fixed 3px;
border-radius: 23%;
vertical-align:super;
margin-left: 0.2em;
margin-right: 1em;
border-style: solid;
background-color:#ffffff;
font-size:15px;
font-weight: bold;
text-align:right;
cursor:default !important;
}

.ompcontainer
{
width:100%;
margin-top:0.5em;
padding-top: 1em;
padding-bottom: 2.5em;
background: #cedce7; /* Old browsers */
background: -moz-linear-gradient(top, #cedce7 14%, #cedce7 26%, #596a72 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#cedce7), color-stop(26%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cedce7 14%,#cedce7 26%,#596a72 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cedce7 14%,#cedce7 26%,#596a72 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cedce7 14%,#cedce7 26%,#596a72 100%); /* IE10+ */
background: linear-gradient(to bottom, #cedce7 14%,#cedce7 26%,#596a72 100%); /* W3C */
float:left;
}
.omppopuptext{
color:#444444;
width:60%;
margin-left: 5%;
margin-top: 1.5em;
margin-bottom: 0em;
text-align:justify;
padding:2.0em;
color:#444444;
border-radius: 2%;
}

.ompimagewrap .line
{
    position: relative;
    z-index: 1;
    width: 155%;/*diagonal=side*sqrt(2)*/
    margin-top:-10px;
    margin-left:-1px;
    height: 10px;
    background-color: #848484;
    -ms-transform: rotate(45deg); /* IE 9 */
    -ms-transform-origin: 0% 0%; /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    display:inline-block;
}

.ompimagewrap:hover .line{
 background-color: #D8D8D8;
}

.omplegend .line
{
    position: relative;
    z-index: 1;
    width: 140%;/*diagonal=side*sqrt(2)*/
    margin-top:-1px;
    margin-left:1px;
    height: 3px;
    background-color: #848484;
    -ms-transform: rotate(45deg); /* IE 9 */
    -ms-transform-origin: 0% 0%; /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    display:block;
}

.omplegend:hover .line{
 background-color: #D8D8D8;
}

.importanceplus
{
    position: relative;
    z-index: 1;
    top:10px;
    margin-top:-30px;
    margin-right:0.5em;
    height: 20px;
    padding-top:10px;
    font-size:20px;
    font-weight: bold;
    vertical-align:bottom;
    float:right;
}

.ompbuttons{
float:right;
margin-right:3.5em;
}


/*big screen computers*/
@media all and (min-width: 1540px) {
     
.ompimagewrap{
width:10%;
padding:2em;
}
.omppopuptext{
width:50%;
margin-left: 15%;
}
.ompimage{
width:90%;
height: 0;
padding: 0; /* reset */
padding-bottom: 90%;
}
.ompcontainer
{
margin-top:4em;
}
.ompimagewrap .line
{
    width: 170%;
    margin-left:-20px;
    margin-top:-20px;
}
}
/*portrait*/
@media only screen {

.omppopupimagewrap{
width:20%;
margin-left:40%;
padding:0.5em;
}
.ompimagewrap{
width:20%;
padding:0.5em;
}
.ompimage{
width:90%;
height: 0;
padding: 0; /* reset */
padding-bottom: 90%;
}
.omppopuptext{
width:80%;
margin-left: 5%;
}
.ompcontainer
{
margin-top:2em;
}

.ompimagewrap .line
{
    width: 150%;
    margin-left:0px;
}
}
.ompimage_home{
	
	background-image: url(../image/compare_home.svg);
}
.ompimage_health{
	background-image: url(../image/compare_hospitalization.svg);
}
.ompimage_term{
	background-image: url(../image/compare_life.svg);
}
.ompimage_car{
	background-image: url(../image/compare_car.svg);
}
.ompimage_ci{
	background-image: url(../image/compare_ci.svg);
}
.ompimage_ac{
	background-image: url(../image/compare_pa.svg);
}
.ompimage_rg{
	background-image: url(../image/compare_income.svg);
}
.ompimagewrap.inactive{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
/*My Plan  */
/* Mark invalid Bootstrap */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
    border-color: #D44950;
}
/*Ui Select  */
/*Best Policy  */
.plslot {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: middle;
    /* background-color: RGB(166,226,255); */
}
.plslot {
    text-align: left;
    min-width: 100%;
    max-width: 100%;
    /* margin: 1%; */
    /* background: #ffffff; */
    background: -webkit-linear-gradient(left, RGB(255,255,255) , RGB(242,242,242));
    background: -o-linear-gradient(right, RGB(255,255,255) , RGB(242,242,242));
    background: -moz-linear-gradient(right, RGB(255,255,255) , RGB(242,242,242));
    background: linear-gradient(to right, RGB(255,255,255) , RGB(242,242,242));
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    vertical-align: top;
}
.newpod {
    background: #ffffff;
    border: 1px solid #8db83f;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 24px;
    -webkit-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.10);
    position: relative;
    z-index: 20;
}
.bpfmbannerid {
    font-size: 1.5em;
    padding: 0.25em;
    color: #ed1a39;
}
.separatorgreydashed {
    width: 100%;
    height: 1px;
    background: rgb(242,242,242);
    border-bottom-style: dashed;
    border-bottom-color: #8db83f;
    border-bottom-width: thin;
}
.bpfmslottext {
    display: inline-block;
    float: left;
    width: 100%;
    min-width: 100%;
    height: auto;
    padding-top: .5em;
}
.bpfmbannerdope {
    height: 17em;
    width: 65%;
    min-width: 125px;
    padding-bottom: 1em;
    padding-left: 1em;
    float: left;
}
.bpfmicon {
    padding-left: 0.1em;
    float: left;
    width: 75px;
}
.ibspancenter {
    vertical-align: middle;
    display: -moz-inline-stack;
    display: inline-block;
    text-align: center;
    width:100%;
}
.homebutton {
    width: 13.5em;
}
/*Best policy  */
.card-block h4{
	margin-top:0px;
	margin-bottom:0px;
}
.padd_bottom10{
	padding-bottom:10px;
}
.uib_active{
    display: none;
}
.uib_reviewApplication{
    display: none;
}
.uib_reviewApplication.active{
    display: block;
}

/*Insurer Rating  */
.plhelp {
    width: 1em;
    vertical-align: sub !important;
    border: 1px solid #888888 !important;
    background: #8db83f url(../image/ui-bg_gloss-wave_50_6eac2c_500x100.png) 50% 50% repeat-x;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: 12px;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    position:relative;
    float:left;
}
.ui-icon-help {
    background-position: -48px -144px;
    width: 16px;
    height: 16px;
    background-image: url(../image/ui-icons_fcd113_256x240.png);
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: -2px;
}
.plindicator{
	width: 12.3em;
    line-height: normal;
    margin-left: 1em;
    margin-top: .3em;
    margin-bottom: .3em;
    text-align: left;
    z-index: 0;
    vertical-align: middle;
    /* background-image: url(../images/papert2.png); */
    background-color: #ffffff;
    border: 2px solid #3baae3;
    cursor: default;
    color: #222222;
    line-height: 200%;
    vertical-align: middle;
    font-size: small;
    font-weight: normal;
    position: relative;
}
.plindicatorleft {
    font-size: xx-small;
    vertical-align: baseline;
    position: absolute;
    left: 0px;
    z-index: 3;
    line-height: 300%;
}
.plindicatorright {
    font-size: xx-small;
    vertical-align: baseline;
    position: absolute;
    right: 0px;
    z-index: 3;
    line-height: 300%;
}
.plindicatormark {
    width: 10%;
    margin-left: 0%;
    background-color: rgb(217, 32, 39);
    background-color: rgba(255, 38, 46, 0.5);
    z-index: 2;
    position: absolute;
}
.qossdetails {
    color: #444444;
    font-size: x-small;
    cursor: pointer;
    float: right;
    padding-right: .1em;
    text-decoration: underline;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 200%;
    vertical-align: baseline;
}
.qossdetails img {
    width: 1.5em;
}
/*Insurer Rating  */
/*Service Premium  */
.servicePremium_header{
	background-color: #004fb6;
}
.menub{
	float:left;
	display:block
}
.menub img{
	width:80px;
	height:80px;
	padding-right:20px;
}
.service_text{
	padding-top:20px;
	padding-left:15px;
	color:#fff;
	text-align: left;
    font-size: x-large;
    vertical-align: middle;
}
/*Service Premium  */
/* Proposal Form */
.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
}
.wrap-bg{
	/* padding-top: 80px; */
    margin: 0 auto;
    background-color: #efeff4!important;
}
.mnone {
    margin: 0;
}
.policy-panel
{
	overflow: hidden;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 0;
    background-color: #fff;
    margin-top: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.cf-title {
    font-size: 18px;
    color: #33444f;
    padding: 10px 15px;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    margin: 0;
    background-color: #EFEFF4;
}
.back-to-results {
    padding: 5px 15px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #a90392;
    color: #a90392;
    margin-right: 10px;
    float: right;
    letter-spacing: 0;
    font-size: 14px;
}
.pnone {
    padding: 0;
}
.policy-panel .insurer-img {
    max-width: 170px;
    margin: auto;
    padding-top:20px;
    padding-bottom:20px;
}
.pol-name {
    padding: 6px 10px;
    font-size: 18px;
    font-weight: 300;
}
.pol-val {
    background-color: #f7f9fa;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,.05);
}
.pol-val span {
    font-size: 12px;
    color: #475e6e;
    font-weight: 700;
}
.pol-val span.value {
    font-size: 20px;
    color: #a90392;
    font-weight: 400;
    margin: 0 5px;
}
.wizard-track .nav-tabs {
    background-color: #f7f9fa;
    list-style-type: none;
    padding: 3px 3px 0;
    margin: 10px 0 0;
    height: 45px;
    width: 100%;
    position: relative;
    text-align: left;
    border-top: 1px solid rgba(0,0,0,.05);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.19);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.19);
    box-shadow: 0 2px 3px rgba(0,0,0,.19);
    overflow: hidden;
    color: #888;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}
.wizard-track .nav-tabs li {
    background-color: #e3e3ec;
     pointer-events: none; 
    float: left;
    display: block;
    position: relative;
    height: 40px;
    cursor: not-allowed;
    width:14.2857%;
}
.check{
	display:none;
}
li.done .check{
	display: inline-block;
    cursor: pointer;
    /* width: 100%; */
    margin-top: -5px;
}
.wizard-track .nav-tabs li.done span {
    background-color: #4fc8b0;
    margin-left: 0;
    width: 21px;
    height: 21px;
    margin-top: 0;
    padding: 3px 3px;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 9px;
}
.wizard-track .nav-tabs>li>a:hover{
background-color:#e3e3ec;
border-left:0px
}
.wizard-track .nav-tabs li.last:after {
    content:none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    border-width: 20px 12px;
    border-style: solid;
    border-color: #f7f9fa #f7f9fa #f7f9fa #e3e3ec;
}
.wizard-track .nav-tabs li.last {
    border-right: none;
}
.wizard-track .form-panel .control-label {
    font-weight: 400;
    margin-bottom: 2px;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 14px;
    color: #555;
}
.summary-field{
	background-color: #F7F9FA !important;
    border: 1px solid rgba(0,0,0,.03);
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.wizard-track .nav-tabs>li>a{
color:#363636;
margin-right: 15px;

}
.wizard-track .nav-tabs>li.active>a,.wizard-track .nav-tabs>li.active>a:focus,.wizard-track .nav-tabs>li.active>a:hover{
	border:0px;
}
.wizard-track .nav-tabs li.active,.wizard-track .nav-tabs li.active:focus,.wizard-track .nav-tabs li.active:hover {
    background-color: #4FC8B0;
    border-bottom: none;
}
.wizard-track .nav-tabs li.active, .wizard-track .nav-tabs li.done, .wizard-track .nav-tabs li.error {
    color: #363636;
    pointer-events: auto;
    cursor: pointer;
}
.wizard-track .nav-tabs li.active a,.wizard-track .nav-tabs li.active a:focus, .wizard-track .nav-tabs li.active a:hover {
    background-color: #4FC8B0;
    border-bottom: none;
    color:#fff
}
.wizard-track .nav-tabs li:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 0;
    border-width: 20px 12px;
    border-style: solid;
    border-color: #e3e3ec #e3e3ec #e3e3ec transparent;
}
.wizard-track .nav>li>a {
    position: relative;
    display: block;
    padding:10px 0px
    }
.wizard-track .nav-tabs li:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    border-width: 20px 12px;
    border-style: solid;
    border-color: #f7f9fa #f7f9fa #f7f9fa #e3e3ec;
}
.wizard-track .nav-tabs li.active:after {
    background-color: #4290bd;
    color: #fff;
}
.insurer-logo img{
	max-width:140px;
}
.wizard-track .nav-tabs li.active:after, .wizard-track .nav-tabs li.active:focus:after, .wizard-track .nav-tabs li.active:hover:after {
    border-left-color: #4FC8B0;
}
.wizard-track .nav-tabs li.active:before,.wizard-track .nav-tabs li.active:focus:before,.wizard-track .nav-tabs li.active:hover:before {
    border-top-color: #4FC8B0;
    border-right-color: #4FC8B0;
    border-bottom-color: #4FC8B0;
}
.form-panel {
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.19);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.19);
    box-shadow: 0 2px 3px rgba(0,0,0,.19);
    position: relative;
}
.form-panel .heads {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #F7F9FA;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 10px 15px;
    color: #475e6e;
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
}
.form-panel .body {
    min-height: 250px;
    padding: 1px 0;
}
.proposer-process{
	padding-left:15px;
	padding-right:15px;
}
.body h3{
	padding:5px 15px;
}
.define {
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 15px 15px 15px 40px;
    margin-bottom: 10px;
    color: #999;
    position: relative;
    /* margin-left:-15px;
    margin-right:-15px; */
}
.define img {
    width: 20px;
    position: absolute;
    left: 15px;
}
.form-panel .foot {
    border-top: 1px solid rgba(0,0,0,.05);
    font-weight: 700;
    font-size: 20px;
    background-color: #f7f9fa;
    padding: 10px 20px 20px;
    color: #363636;
    border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -ms-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
}
.foot .cf-pull-right {
    float: right;
}
.btn-grn.active, .btn-grn:active, .btn-grn:focus, .btn-grn:hover {
    color: #fff !important;
    background-color: #3fa08c !important;
    outline: 0 !important;
}
.btn-grn {
    color: #fff;
    background-color: #4fc8b0;
    border: none;
    outline: 0;
}
div.list-item-proposer:nth-child(3):after{
	content: "."; 
    /* display: block;  */
    height: 0; 
    clear: both; 
    visibility: hidden;
    
}

div.list-item-proposer:nth-child(6):after{
	content: "."; 
   /*  display: block;  */
    height: 0; 
    clear: both; 
    visibility: hidden;
    
}
div.list-item-proposer:nth-child(9):after{
	content: "."; 
   /*  display: block;  */
    height: 0; 
    clear: both; 
    visibility: hidden;
    
}
.add-borde{
	border-right: 1px solid rgba(0,0,0,.05);
}
.contact-process {
    margin: 0 0 30px;
}
.contact-process h3 {
    font-weight: 700;
    font-size: 20px;
}
.contact-process h3 img {
    width: 26px;
}
.conditional-question{
	margin: 20px 15px;
}
.quest-pad {
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
    padding-bottom: 10px;
}
.q-point {
    color: #AEAEAE;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    position: absolute;
    line-height: 1em;
}
.mem-box {
    border: 1px solid #f0f0f0;
    padding-top: 2px;
    padding-bottom: 10px;
    margin: -1px 0 0 -1px;
}
.buy-process {
    margin: 0;
    background-color: #f7fafc;
}
#summary-wrapper {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.summary-stage {
    background-color: #fff;
    padding: 0 15px 10px;
  /*   margin-left: -15px;
    margin-right: -15px; */
}
.summary-stage .title {
    background-color: #EFEFF4;
    padding: 1px 20px;
    font-size: 20px;
    margin: 0 -15px 15px;
    position: relative;
}
.summary-stage .title .btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
}
.buy-process .summary-stage{
	    float: left;
    width: 100%;
}
.proposal_form{
	background-color:#efeff4!important;
}
/* .wizard-track .nav>li>a{
	padding:4px 0px;
} */

 span.insurednametitle {
   display: inline-block;
    font-weight: normal;
    text-align: center;
    width: 100%;
    margin-top: 0px !important;
    position: relative !important;
    width: 100% !important;
    top: 0px !important;
    background: none !important;
}
.insured_mnone{
    margin: 0;
    /* padding-bottom: 24px; */
    color: #999999;
    font-size: 12px;
    padding: 15px;
    margin-top: 15px;
    border-bottom: 1px dashed #dadada;


	
}
 span.insuredname {
    padding: 3px 8px 8px;
    display: block;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
     margin-top: 0px !important;
    position: relative !important;
    width: 100% !important;
    
    top: -9px !important;
    background: none !important;
    height: 23px !important;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
.wizard-track .form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
/*Proposal Form  */
/*Footer*/
.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 88px;
    width: 100%;
    bottom: 0px;
}
.footerfloat {
    float: right;
    width: 100%;
}
.sitemap-wrap {
    background: url(../image/vertical-line.svg);
    width: 100%;
    padding: 20px 0;
}
h3 {
    font-size: 1.75em;
    margin: 0;
}
.wrap4 h3 {
    font-size: 1.5em;
    color: #ffffff;
}
.wrap4 ul {
    margin: 0;
    padding: 0;
}
.wrap4 ul li {
    list-style: none;
}
.wrap4 ul li a {
    text-decoration: none;
    font-size: 0.9em;
    color: #ffffff;
}
.footer p {
    font-size: 0.750em;
    color: #000000;
    padding: 10px 0;
}
.footer p {
    font-size: 0.750em;
    color: #000000;
    padding: 10px 0;
}
.ul-ft {
    margin: 0 auto 10px auto;
    padding: 0;
    text-align: center;
}
.ul-ft li {
    list-style: none;
    display: inline;
    padding: 0 10px;
    border-right: 1px solid #000000;
}
.ul-ft li:first-child {
    padding: 0 10px 0 0;
}
.ul-ft li {
    list-style: none;
    display: inline;
    padding: 0 10px;
    border-right: 1px solid #000000;
}
.ul-ft1 li a, .ul-ft li a {
    text-decoration: none;
    font-size: 0.750em;
    color: #000000;
}
.footerList {
    list-style: none;
    width:320px;
    margin: auto;
}
.footerList li{
float: left;
}
.footerList li a{
    padding-left: 7px;
    padding-right:7px;

}
.footerList li a:link{
text-decoration: none;
}
/*Footer*/
.plm1{
    margin-top: -4%;
    margin-right: 50%;
}


@media (min-width:320px) and (max-width:568px){
.nav-tabs {
     overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;  
    display: -moz-box;   
  }
.nav-tabs>uib-tab {
      float:none;
    }
.blinking {
    color:red;
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
    display:inline-block;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}    
div.input-group .form-control {
    position: absolute;
 } 
 span.input-group .dobinput {
   width:200%;
 }
 select.form-AdultChild{
    width:227%;
}
 select.genderCls{
    width:178%;
}
div.adultChild{
    margin-left: -11%;
}
 span.calendInp{
    margin-left: 168%;
}
.input-group-btn {
    position: absolute;
    margin-left: 92.5%;
 }
div.healthAddMem{
    margin-top: 70%;
}
 .form-control{
     width:96%;
 } 
 .input-group,
 .purposeTravel{
     display: grid;
 } 
 div.areaTravel{
     margin-left: -4%;
 }
 select.form-areaTravel{
     width:174%;
 }
 div.duraTravel{
     margin-left: 5%;
 }  
 select.form-duraTravel{
     width:150%;
 } 
 .form-sumInsured{
     width:167%;
 }
div.homeInsurance{
     margin-left: 6%;
 }
 div.investment{
     margin-left: 2%;
 }
 div.plm1 {
    margin-top: -14%;
 }
 div.pinCodeDiv{
     margin-left: -6%;
 }
input.form-pinCodeDiv{
     width:109%;
 }

}

@media (min-width:375px) and (max-width:667px){
    .nav-tabs {
     overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;  
    display: -moz-box;   
  }
.nav-tabs>uib-tab {
      float:none;
    }
 .blinking {
    color:red;
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
    display:inline-block;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}   
}

@media (min-width:768px) and (max-width: 1024px)and (orientation: portrait){
.plm1 {
    margin-top: -7%;
    margin-right: -11%;
    }
.car-insurance, .health-insurance, .travel-insurance,
.home-insurance, .saving-insurance{
    height:56%;
} 
.active .car-insurance,
 .car-insurance{
    height:56%;
     background-position: 4px 12px;
}
.health-insurance,
.active .health-insurance{
    background-position: 10px -6px;
}  
.travel-insurance,
.active .travel-insurance{
    background-position: 16px -12px;
} 
 
 .home-insurance, .saving-insurance,
 .active .home-insurance, .active .saving-insurance{
    background-position: 15px 2px;
}
.life-insurance,
.active .life-insurance{
  background-position:  14px 5px;
}
div.claimCurrent{
    margin-top: -8%;
}
.input-group,
 .purposeTravel{
     display: grid;
 } 
 .input-group-btn {
    position: absolute;
    margin-left: 82%;
 }
 div.healthAddMem{
     margin-left: 82%;
 }
 div.pinCodeDiv{
     margin-left: -7%;
 }
 input.form-pinCodeDiv{
     width:145%;
 }
 div.tunure{
     margin-left: -5%;
 }
 select.form-tunure{
     width: 126%;
 }
 .pt-15 {
    padding-top: 0;
 }
 div.travelMem.healthAddMem{
     margin-left:68%;
 }
 select.travelAdult{
     width:500%;
 }
 div.sumpermem{
     margin-top:-3%;
 }
 .homeInsurance div.purposeTravel{
     width:37%;
 }
 div.policyTerm{
     margin-top:-8%;
 }
 div.inverstPin{
     margin-left: -3%;
 }
 div.memDob{
    margin-left: 25%;
 }
 div.gendInvest{
    padding-left: 16%;
    margin-top: 8%;
 }
 div.lifeThreat{
     margin-left: 28%;
 }
}

@media (max-width: 1024px) and (min-width: 768px) and (orientation: landscape) {
div.claimCurrent {
    margin-top: 0%;
}
div.plm1{
    margin-right: -10%;
}
.input-group,
 .purposeTravel{
     display: grid;
 } 
 .car-insurance, .health-insurance, .travel-insurance,
.home-insurance{
    height:56%;
}
.active .health-insurance, .health-insurance{
    background-position: 22px -4px;
}
.active .travel-insurance, .travel-insurance{
    background-position: 28px -10px;
}
.active .home-insurance, .home-insurance{
    background-position: 28px 2px;
}
.active .saving-insurance, .saving-insurance,
.active .life-insurance, .life-insurance{
    background-position: 30px 7px;
}

.active .car-insurance, .car-insurance{
    height: 56%;
    background-position: 18px 10px;
} 
}
