
@media screen and (max-width: 767px){
    .right {
    float: none !important;
    }
   .results-block-plans{
   margin-left:0px;}
   .results-block-sidebar{
   position:relative}
   .compare_check{
   clear:both;
   width:100%;
   height:40px;
   }
   .protfolioCompare [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before{
   left:16px;
   }
   .protfolioCompare [type="checkbox"]:not(:checked) + label:after, .protfolioCompare [type="checkbox"]:checked + label:after{
   left:16px;
   }
   .protfolioCompare input[type="checkbox"] + label:before{
   left:16px;
   }
}

@media screen and (max-width: 767px){
.nav1 li a {
    border-right: none;
    font-family: 'PT Sans Bold';
    font-size: 1em;
    color: #808284 !important;
    padding: 0px 10px;
    margin: 10px 0 0;
    text-transform: uppercase;
}  
.bpfmbannerdope{
	height:11em;
} 
}


@media screen and (min-width: 768px){
.head {
    padding: 0 23px !important;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 15px;
}

}
@media screen and (max-width: 767px){
    .head {
    position: absolute;
    border-bottom: 1px solid #cacaca;
}
.container-fluid.head {
 padding: 0px !important
}
}

@media screen and (min-width: 768px){
.navbar-right {
    margin-top: 0px;
}
}

@media screen and (max-width: 767px){
    .navbar-brand {
    max-width: 150px;
    }
    .navbar-brand {
    padding: 15px 0 0 15px;
    }
}

@media screen and (min-width: 992px){.ul-ft {
    width: 100%;
}

}

@media screen and (min-width: 768px){.toyota-logo {
    margin: 0 auto;
    width: 450px;
}}
@media screen and (min-width: 768px){
    .wrap2b {
    border-left: 6px solid;
    border-image-source: url(../image/v-line.png);
    border-image-slice: 0 0 0 6;
    border-image-repeat: round;
    padding: 25px 0 25px 49px;
    margin: 25px 0;
}
}


@media screen and (max-width: 400px){
.car-insurance1, .health-insurance1, .travel-insurance1, .claims1, .support-center1 {
    padding: 41px 0 0 0;
    text-align: center;
    position: absolute;
    left: 0;
    font-size: 12px;
    width: 100%;
}
.active .car-insurance1, .active .health-insurance1, .active .travel-insurance1, .active .claims1, .active .support-center1 {
    padding: 41px 0 0 0;
    text-align: center;
    position: absolute;
    left: 0;
    font-size: 12px;
    width: 100%;
}
}


@media screen and (max-width: 767px){
.right {
    float: none !important;
}}

@media screen and (min-width: 768px){
	.desk-right {
    float: right;
}

}
@media screen and (min-width: 992px){.banner-b {
    height: 475px;
}
}

@media screen and (min-width: 768px){
.desk-left {
    float: left;
}
}




@media screen and (max-width: 400px){
.support-center {
    background-size: 40px;
    background-position: 35px 14px;
}
.travel-insurance {
    background-size: 40px;
    background-position: 35px 5px;
}
.health-insurance {
    background-size: 40px;
    background-position: 35px 13px;
}
.car-insurance {
    background-size: 40px;
    background-position: 35px 21px;
}
.claims {
    background-size: 40px;
    background-position: 35px 14px;
}
}

@media screen and (min-width : 401px) and (max-width : 500px) {

.active .car-insurance {
    background-size: 39px;
    background-position: 16px 21px;
}
.car-insurance {
    background-size: 39px;
    background-position: 16px 21px;
}
.active .health-insurance {
    background-size: 29px;
    background-position: 13px 13px;
}
.health-insurance {
    background-size: 29px;
    background-position: 22px 13px;
}
.active .travel-insurance {
    background-size: 29px;
    background-position: 22px 5px;
}
.travel-insurance {
    background-size: 29px;
    background-position: 22px 5px;
}
.active .claims {
    background-size: 28px;
    background-position: 24px 14px;
}
.claims {
    background-size: 28px;
    background-position: 24px 14px;
}
.active .support-center {
    background-size: 28px;
    background-position: 24px 14px;
}
.support-center {
    background-size: 28px;
    background-position: 24px 14px;
}
.car-insurance1, .health-insurance1, .travel-insurance1, .claims1, .support-center1 {
    padding: 41px 0 0 0;
    text-align: center;
    position: absolute;
    left: 0;
    font-size: 12px;
    width: 100%;
}
.active .car-insurance1, .active .health-insurance1, .active .travel-insurance1, .active .claims1, .active .support-center1 {
    padding: 41px 0 0 0;
    text-align: center;
    position: absolute;
    left: 0;
    font-size: 12px;
    width: 100%;
}
}
@media screen and (max-width: 550px) {
.wrap34, .wrap35 {
    width: 100% !important;
    padding: 0 !important;
}
}
 
@media screen and (max-width: 767px) {
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
    width:98% !important;
    max-width:500px;
    margin:0 auto;
}
.dpop .ui-dialog {
    width:98% !important;
    margin:0 auto;
}
.table2 {
    display:block;
}
.table1 {
    display:none;
}
.padd55 {
    margin-top: 10px;
}
.bdtb1 {
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
}
.dialog-form .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
    width: 98% !important;
}
.cli-ico img {
    width: 50%;
    max-width: 160px !important;
    margin: 0 auto;
}
.bookmarkoverlay {
    max-width: 50em !important;
    width: 99% !important;
}
.icon-8 {
    width: 25%;
    float: left;
    padding: 0 1.5%;
    min-height: 175px;
}
.wrap4 h3 {
    padding-bottom: 25px;
}
.wrap4 {
    width: 100%;
}
.pop-ul1 li {
    padding-left: 3px !important;
}
.car-compare-pop, .health-compare-pop {
    overflow: scroll;
}
.pop-wrap1 .buy-btn, .pop-wrap1 .buy-btn:focus, .pop-wrap1 .buy-btn:hover {
    background-color: #006ba2;
    font-size: 0.85em;
    padding: 3px 0;
    margin: 5px;
    width: 80%;
}
.pop-ul li, .pop-ul1 li, .pop-ul2 li {
    font-size: 0.70em;
    padding: 1px 0;
    min-height: 31px;
}
.table3 tr td:nth-child(1) {
    font-size: 0.70em;
    text-align:left;
    padding-left:3px;
}
.table3 tr td:nth-child(2), .table3 tr td:nth-child(3), .table3 tr td:nth-child(4) {
    font-size: 0.70em;
    text-align:center;
}
.pop-ul li:nth-child(1), .pop-ul1 li:nth-child(1), .pop-ul2 li:nth-child(1) {
    min-height: 100px;
}
.pop-ul li:nth-child(15), .pop-ul1 li:nth-child(15), .pop-ul2 li:nth-child(15) {
    min-height: 37px;
}
.blue-wrap p {
    color: #ffffff;
    text-align: left;
    font-size: 0.9em;
}
.terms {
    padding: 0 15px 15px 15px;
}
.border1 img {
    padding: 25px 5px;
    margin: 0;
}
.mob-left {
    float: left !important;
}
.navbar-brand {
    padding: 5px 0 5px 15px;
}
.pag {
    margin-top: 90px;
}
.head {
    padding: 0 !important;
}
.ico {
    width: 50%;
    float: left;
}
.toyota-logo {
    margin: 0 auto;
    width: 95%;
}
.navbar-brand {
    max-width: 150px;
}
.add-member {
    text-align: left;
}
.nav1 li a {
    border-right: none;
    font-family: 'PT Sans Bold';
    font-size: 1em;
    color: #808284 !important;
    padding: 0px 10px;
    margin: 10px 0 0;
    text-transform: uppercase;
}
.navbar-form {
    margin-left: -20px;
    border: none;
}
.head {
    position: relative;
    border-bottom: 1px solid #cacaca;
}
/*.banner-bdr {
    margin-top: 115px;
}*/
.plm {
    padding-left: 8px !important;
}
.plm1 {
    padding-left: 33px !important;
    margin-top: -14%;
    margin-right: 0px;
}
.top .media-object {
    width: 25px;
}
.watch {
    padding: 35px 0 0 0;
    max-width: 150px;
    margin: 25px auto 25px auto;
}
.lft10-padd {
    padding: 0;
}
.lft20-padd {
    padding: 0;
}
.rgt10-padd {
    padding: 0;
}
.rgt10-margin {
    margin-right: 0px;
}
.rgtn10-margin {
    margin-right: 0px;
}
.lftn10-margin {
    margin-right: 0px;
}
.wrap2b {
    margin: 25px 0;
}
.wrap2b h3, .wrap2b h5 {
    text-align: center;
}
.media-object {
    width: 60px;
}
.icon1 {
    width: 75px;
}
.pt10 {
    padding: 10px 15px 0 15px;
}
.carousel-caption {
    top: 0;
    line-height: 18px;
    font-size: 1.4em;
    color: #006ba2;
    text-shadow: none;
}
.search-filter {
    margin-top: 15px;
    padding: 5px 0 0 0;
}
#call-back-date2 {
    margin-bottom: 15px;
}
.padd1 {
    padding-top: 100px;
}
.download-icon {
    max-width: 50px;
    opacity: 0.5;
    margin: 0 auto;
}
.down {
    min-height: 120px;
}
.content-wrap {
    width: 95%;
    margin: 25px auto;
}
.right {
    float: none !important;
}
.dialog-form .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
    max-width: 650px !important;
    width: 100% !important;
    margin: 0 auto;
}
}
@media screen and (min-width: 768px) {
.table1 {
    display:block;
}
.table2 {
    display:none;
}
.padd55 {
    margin-top: 20px;
}
.navbar-default .navbar-toggle {
    display: none;
}
.content-wrap {
    width: 80%;
    margin: 25px auto;
}
.icon-8 {
    width: 10.5%;
    float: left;
    margin: 1%;
    padding: 0 1.5%;
}
.bd-left1 {
    border-left: 1px solid #1a7aab;
}
.call-sub, .call-sub:focus, .call-sub:hover {
    background-color: #999999;
    margin: 15px 0 0 0;
}
.border2, .border4 {
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
}
.border1, .border2, .border3 {
    min-height: 200px;
}
.blue-wrap p {
    min-height: 55px;
    padding: 5px 0;
    font-size: 1em;
}
.head {
    padding: 0 23px !important;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 15px;
}
.ico {
    width: 7.5%;
    float: left;
    margin: 0 2.5%;
}
.toyota-logo {
    margin: 0 auto;
    width: 450px;
}
.desk-left {
    float: left;
}
.desk-right {
    float: right;
}
/*.banner-bdr .tab-pane {
    min-height: 474px;
}*/
.carousel-inner {
    height: 475px;
}
.navbar-right {
    margin-top: 0px;
}
.navbar-form {
    margin-top: 10px;
}
.border-left-right {
    border: 6px solid;
    border-image-source: url('../image/v-line.png');
    border-image-slice: 0 6 0 6;
    border-image-repeat: round;
    border-top: 0;
    border-bottom: 0;
}
.lft10-padd {
    padding: 0 0 0 10px;
}
.lft20-padd {
    padding: 0 0 0 20px;
}
.rgt10-margin {
    margin-right: 10px;
}
.rgtn10-margin {
    margin-right: -10px;
}
.lftn10-margin {
    margin-left: -10px;
}
.rgt10-padd {
    padding: 0 10px 0 0;
}
.wrap2a {
    padding: 25px 0 25px 49px;
    margin: 25px 0;
}
.wrap2b {
    border-left: 6px solid;
    border-image-source: url('../image/v-line.png');
    border-image-slice: 0 0 0 6;
    border-image-repeat: round;
    padding: 25px 0 25px 49px;
    margin: 25px 0;
}
.clear1 {
    clear: both;
}
.carousel-caption {
    top: 0;
    line-height: 31px;
    font-size: 2em;
    color: #006ba2;
    text-shadow: none;
}
}

@media screen and (min-width : 768px) and (max-width : 991px) {
.border1 {
    padding: 90px 10px;
}
.border2 {
    padding: 25px 5px;
}
.border3 {
    padding: 60px 0 10px 0;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
    width:70% !important;
    max-width:750px;
    margin:0 auto;
}
}

@media screen and (max-width: 991px) {
.wrap33 {
    width: 100%;
}
.color-blue {
    padding-top: 10px;
    padding-bottom: 15px;
}
.ht-35 {
    height: 1px;
    margin: 0 !important;
    padding: 0 !important;
}
.ac {
    display: block !important;
}
.purchase-acc #tabs, .purchase-acc #tabs1 {
    display: none !important;
}
.pop-wrap-close {
    height: 12px;
    width: 14px;
}
.car-compare-pop, .health-compare-pop {
    overflow: scroll;
}
.purchase-acccall {
    width: 100%;
    max-width: 225px;
    float: none;
    background-color: #f1f1f1;
    padding: 15px;
}
.wrap31, .wrap32 {
    width: 100%;
    float: none;
    font-size: 1.25em;
    padding-bottom: 15px;
}
.wrap31 h3 {
    padding: 15px 0 !important;
}
.purchase-acc .ui-accordion .ui-accordion-header {
    width: 100%;
    min-height: 35px;
    font-size: 1.25em !important;
}
.purchase-acc .ui-accordion .ui-accordion-content {
    width: 100%;
    overflow: hidden;
    height: auto !important;
}
.purchase-acc .ui-state-active {
    background: none;
    color: #a3c525;
    outline: none !important;
}
.purchase-acc .ui-state-default {
    background: none;
    outline: none !important;
}
.purchase-acc .ui-widget-content {
    border: none;
}
.purchase-acc {
    padding: 10px 0 0 0;
}
.four04 {
    padding-top: 80px !important;
}
}
@media screen and (min-width : 992px) and (max-width : 1055px) {
.navbar-brand {
    max-width: 239px;
    padding: 20px 0;
}
}
@media screen and (min-width: 992px){
    .modal-xl{
        width:100%;
        top:40%;
    }
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
    width:60% !important;
    max-width:800px;
    margin:0 auto;
}
.four04 {
    margin-top: -15px;
}
.ac {
    display: none !important;
}
.purchase-acc #tabs, .purchase-acc #tabs {
    display: block !important;
}
.ht-35 {
    height: 46px;
}
/*.ui-state-default .ui-icon {
    background-image: none !important;
}*/
.purchase-acc {
    background-color: #e5e5e5;
    position: relative;
}
.purchase-acc .ui-widget-content {
    background: none !important;
}
.purchase-acccall {
    width: 32%;
    max-width: 225px;
    float: right;
    background-color: #f1f1f1;
    padding: 15px;
}
.wrap31, .wrap32 {
    width: 34%;
    float: left;
    font-size: 1.25em;
    padding-bottom: 15px;
}
.purchase-acc .ui-accordion .ui-accordion-header {
    width: 20%;
    min-height: 35px;
    background-color: transparent;
    font-size: 1.25em !important;
}
.purchase-acc .ui-accordion .ui-accordion-content {
    width: 80%;
    float: right;
    overflow: hidden;
    height: auto !important;
    min-height: 325px;
}
.purchase-acc .ui-state-active {
    border: none;
    background: none;
    color: #a3c525;
    outline: none !important;
}
.purchase-acc .ui-state-default {
    border: none;
    background: none;
    outline: none !important;
}
.purchase-acc .ui-widget-content {
    border: none;
}
.ul-ft {
    width: 100%;
}
.carousel-inner > .item > img {
    height: 475px;
}
.banner-b {
    height: 475px;
}
.banner-a .media:first-child {
    margin-bottom: 0;
}
/*.banner-c {
    height: 266px;
}*/
.banner-d {
    height: 350px;
}
.border1 {
    padding: 65px 5px;
}
.border2 {
    padding: 25px 0;
}
.border3 {
    padding: 60px 0 10px 0;
}
.border1 {
    padding: 65px 5px;
}
}
@media (min-width: 768px){
	.lft10-padd {
    padding: 0 0 0 10px;
}
	.blue-wrap p {
    min-height: 55px;
    padding: 5px 0;
    font-size: 1em;
}
	.border1, .border2, .border3 {
    min-height: 200px;
}
	.border2, .border4 {
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
}
.call-sub, .call-sub:focus, .call-sub:hover {
    background-color: #999999;
    margin: 15px 0 0 0;
}	
.lob-list li {
       width: 14.0125%;
	}
}

@media screen and (max-width: 767px){
	.ibspans{
    background: #4FC8B0;
    }
    .pbardh {
     line-height: 1em; 
}   
	.banner-bdrs{
        margin-top: 70px;
    }
    .banner-bdrs li{
        width:100%;
        float: none;
    }
    .sidebar .left_767{
    display: none;
     }
    .sidebar {
        float: none;
        width:100%;
    }
    .content{
        margin: 0px;
    }
    #refinesearch{
        padding: 25px 0;
    }
    .arrow_button{
        display: none;
    }
    .clear_760{
    display: block;
    border-bottom: 1px solid #eee;
}
#navbar{
    background-color: #006ba2;
}
#navbar ul li a{color:#fff !important;}
.head{
    background-color: #fff;
}
.addcomparebtnAdd {
    margin-top: 10px;
    font-size: 11px;
}
.addcomparebtnAdd span{
    padding-left: 16px;
}
.productprice input[type="checkbox"] + span {
    padding-left:16px; 
}
.buy_plan .buy_plan_btn{
    font-size: 12px;
}
.arrow_button_767{
    display: block;
}
}

@media (min-width: 768px){
.retail .menuitemtop .nav>li {
    width: 16.666667%;
}
.retail .corporateTabs .nav>li{
    width:12%;
}
.retail .corporateTabs .nav>li:first-child {
   width: 15.666667%;
}
}
/*service*/
ul.process_step li > strong{display:none;}

@media screen and (min-width: 1024px) {
.body_container { padding: 0px; margin: 10px 0 0 0; }
.btn_radio {
    margin: 0 0 35px 0;
    display: table;
    padding-left: 13px;
}
ul.tabs li,ul.tabs li.current,ul.tabs li:hover {
   
    font-size: 12px;
}
.variation2 {
    width: 33%;
   float:none;
}
.contents {
   
    width: 95%;
   
}
.tabs ul.w19 li a {
    font-size: 12px;
}
.process_content { background: #fff; }
.claimContainer .claimLeft h1 {
   
    padding: 15px;
    margin-bottom: 0px !important;
}
}
@media screen and (max-width: 1130px) {
 .results-block-plans{
	margin-left: 236px;
}
 }
@media screen and (max-width: 800px) {
	.results-block-plans{
	margin-left: 246px;
}
.body_container { width: 100%; }
.innerbodycontainer .artcle_left_panel { width: 100%; }
.container { width: 100%; padding: 0px; margin: 0px; }
.nresp { display: none }
.resp { display: block }
.tabZone { background: rgba(1,51,100,1); background: -moz-linear-gradient(top, rgba(1,51,100,1) 0%, rgba(27,85,141,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,51,100,1)), color-stop(100%, rgba(27,85,141,1))); background: -webkit-linear-gradient(top, rgba(1,51,100,1) 0%, rgba(27,85,141,1) 100%); background: -o-linear-gradient(top, rgba(1,51,100,1) 0%, rgba(27,85,141,1) 100%); background: -ms-linear-gradient(top, rgba(1,51,100,1) 0%, rgba(27,85,141,1) 100%); background: linear-gradient(to bottom, rgba(1,51,100,1) 0%, rgba(27,85,141,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013364', endColorstr='#1b558d', GradientType=0 );
display: block; width: 100%; min-height: 100px; 
}

@media screen and (max-width: 768px) {
	.results-block-plans{
	margin-left: 0px;
}
    .img_hand{width: 160px;}
    .img_responsive{
        width:100%;
    }
#content1 > p{display:none;}
#content2 > p{margin-top:10px;}
.claimContainer .claimLeft h1 {
    padding: 0 0 0 8px;
    margin-bottom: 0px !important;
}
.mob-hide{display:none;}
.tabs  .select.mrleft{    margin-left: 7%;}
.claimContainer .claimLeft p.firstPara{    padding: 3px 10px;}
.body_container { width: 100%; padding: 0px; margin: 0px; }
.btn_radio { margin: 0 0 60px 0; }
.process_content { background: #fff; }
.container { width: 100%; padding: 0px; margin: 0px; }
.innerbodycontainer .artcle_left_panel,.innerbodycontainer .artcle_right_panel { width: 100%; }
.nresp { display: none }
.resp { display: block }
.tabZone { background: rgba(1,51,100,1); background: -moz-linear-gradient(top, rgba(1,51,100,1) 0%, rgba(27,85,141,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,51,100,1)), color-stop(100%, rgba(27,85,141,1))); background: -webkit-linear-gradient(top, rgba(1,51,100,1) 0%, rgba(27,85,141,1) 100%); background: -o-linear-gradient(top, rgba(1,51,100,1) 0%, rgba(27,85,141,1) 100%); background: -ms-linear-gradient(top, rgba(1,51,100,1) 0%, rgba(27,85,141,1) 100%); background: linear-gradient(to bottom, rgba(1,51,100,1) 0%, rgba(27,85,141,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013364', endColorstr='#1b558d', GradientType=0 );
display: table; width: 100%;  text-align: center; padding: 15px; }
.tabZone h1.resp { display: block; padding: 0px; letter-spacing: 0px; color: #fff; line-height: 25px; }
.tabZone h1.resp span { display: block; font-style: normal; padding: 0px; color: #fff; letter-spacing: 0; font-size: 12px; }
.process_content { padding: 0px; }
.topContent { margin: 0px; border: none; box-shadow: none; }
 .margin-left-right{
    margin-left: -15px;
    margin-right: -15px;
 }

.btn_radio{
  
    margin: 0;

    max-width: 400px;
    margin: 0px auto;
    width: 98%;
}

.btn_radio li label { width:100px; text-align:center; color:#fff;background: #eee; padding:0px; margin:0px; border: 1px solid #ccc; margin-left: -1px;  left: 1px; display:table-cell; }
.btn_radio li [type=radio] { display: none; }
.btn_radio li{margin:0px; }
.btn_radio li input[type=checkbox]:not(old) + label, input[type=radio ]:not(old) + label {
    display: inline-block;
     margin-left: 0px;
    font-family: "Lato",sans-serif;
    padding-left:0px;
    background:none;
    line-height: 24px;
}
.btn_radio li [type=radio]:checked ~ label { background: white; color:rgba(1,51,100,1);border-bottom: 1px solid white; z-index: 2; }
.btn_radio li [type=radio]:checked ~ label ~ .content { z-index: 1; }
ul.tabs{border:none;    }
ul.tabs li,ul.tabs li+li,ul.tabs li+li+li,ul.tabs li+li+li,ul.tabs li+li+li+li{width:100%;text-align: left; background: #e7e7e7; height:auto;
    margin-bottom: 1px;
    border-bottom: 1px solid #ccc; padding:0px; color:#404040;
}
ul.tabs li.current,ul.tabs li+li.current,ul.tabs li+li+li.current,ul.tabs li+li+li.current,ul.tabs li+li+li+li.current{width:100%;text-align: left; background: #012242; color:#fff;padding:0px;
}
ul.tabs li div,ul.tabs li+li div,ul.tabs li+li+li div,ul.tabs li+li+li+li div {
    background-position:0px 3px;
    background-size: 550%;
    display: inline-block;    width: 35px;
    height: 35px;
    /*background-color: #f2f2f2;*/
}

ul.tabs li div,ul.tabs li.current  div{background-position: 0px 3px;}
ul.tabs li+li div,ul.tabs li+li.current div{background-position: -53px 3px;}
ul.tabs li+li+li div,ul.tabs li+li+li.current div{background-position: -107px 3px;}
ul.tabs li+li+li+li div,ul.tabs li+li+li+li.current div{background-position: -158px 3px;}

ul.tabs li span,ul.tabs li+li span,ul.tabs li+li+li span,ul.tabs li+li+li+li span{display: block;
    float: right;
      width: 94%;
    padding: 8px 0;}
ul.tabs li.current span,ul.tabs li+li.current span,ul.tabs li+li+li.current span,ul.tabs li+li+li+li.current span{display: block;
    float: right;
       width: 94%;
    padding: 8px 0;
}
ul.tabs li.current:after,ul.tabs li+li.current:after,ul.tabs li+li+li.current:after,ul.tabs li+li+li.current:after,ul.tabs li+li+li+li.current:after{background:none;}
.contents {
 
    width: 100%;
    margin: 0px auto;
  
}
ul.tabNavigation {
  
    width: 100%;
}
.tabscontent .tabs{    margin: 0;
    clear: both;
}
ul.tabNavigation li{   margin: 0 ;
  
    width: 50%;
}
.len3 ul.tabNavigation li {
    margin: 0;
     width: 33.32%;
}
.tabs ul.w19 li {
    width: 20%;
}

ul.tabNavigation li a,ul.tabNavigation_2 li a{    border: none; background:#002448; color:#fff;}
#tab-1, #tab-2, #tab-3, #tab-4, #tab-5, #tab-6, #tab-7, #tab-8, #tab-9, #tab-10, #tab-11{    padding: 0px 10px 0px 10px;}
ul.process_step {
    padding: 0 0 25px 0;
    margin: 0;
}
ul.process_step li{border-bottom: dashed #f3f3f3 1px;    width: 85%; margin-left:8%; position:relative; }
ul.process_step li div{display:none; }
ul.process_step li span{    width: 100%; padding:15px 10px 15px 25px;line-height: 20px;}
 ul.process_step li strong.count{   display: inline-block;
    width: 25px;
    height: 25px;
    background: #fcac4b;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    left: -12px;
    top:18px;
}

.claimContainer .claimLeft p{font-size: 17px; 
    letter-spacing: 0;
    padding: 0 0 0 40px;
    color: #134b81;
    font-weight: 300;
}
#content2 .variation2{ width: 50% !important;}
#content2 select.select {
    position: relative;
    z-index: 10;
    width: 100% !important;
    height: 40px !important;
    line-height: 40px;
    display: block;
    margin: 0 0 20px 40px;
}
.tabscontent{margin:0; padding:0}
ul.tabNavigation_2 {padding:0;
    width: 100%;
}
ul.tabNavigation_2 li {margin:0;
    width: 50%;
}
form div.variation2 label ,#content4 .claimBox label {
    width: 120px;
    line-height: 26px;
    color: #005387;
    font-family: "Lato",sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
#content3 .variation2,#content4 .variation2{width:100%; float:none;}
#content3 .variation2,#content4 .variation2 {margin: 10px 0;
    display: table;}
#content3 .variation2 select.select,#content4 .variation2 select.select{    width: 100% !important;}

#content3 .searchButton,#content4 .searchButton{float:left; padding:25px 0;}
#content3 .btn_search,#content4 .btn_search {
    padding: 9px 40px;
}

#content4 .claimBox,#content3 .searchbyOptRow,#content4 .searchbyOptRow {    width: 600px;
    margin: 20px auto;
    display: table;
}

.tbl_insurer th h4 {
  
    width: 50%;
    word-wrap: break-word;
}
.tbl_insurer th ul {
  
    width: 50%;
}
.tbl_insurer th ul > li {
  
    width: 45%;
}
.tbl_insurer th ul > li +li{
  
       width: 50%;
    word-break: break-all;

}
.tbl_insurer th ul li +li {
    margin: 0;
    background-position: -4px -110px;
}
}

@media screen and (max-width: 640px) {
    .margin-left-right{
    margin-left: -15px;
    margin-right: -15px;
 }
    ul.tabs li span,ul.tabs li+li span,ul.tabs li+li+li span,ul.tabs li+li+li+li span{display: block;width: 93%;}
ul.tabs li.current span,ul.tabs li+li.current span,ul.tabs li+li+li.current span,ul.tabs li+li+li+li.current span{display: block; width: 93%;}



#content4 .claimBox,#content3 .searchbyOptRow,#content4 .searchbyOptRow {width: 450px;margin:20px auto; display:table;}
    

}
@media screen and (max-width: 480px) {
    .margin-left-right{
    margin-left: -15px;
    margin-right: -15px;
 }
    ul.tabs li span,ul.tabs li+li span,ul.tabs li+li+li span,ul.tabs li+li+li+li span{display: block;width: 92%;}
ul.tabs li.current span,ul.tabs li+li.current span,ul.tabs li+li+li.current span,ul.tabs li+li+li+li.current span{display: block; width: 92%;}
#content3 .searchbyOptRow,#content4 .searchbyOptRow{width: 450px; margin: 0px auto;}

#content4 .claimBox {width: 450px;margin: 0px auto;}
#content4 .claimBox {width: 450px;margin: 0px auto;}
    .tbl_insurer th h4 {
    width: 100%;
    word-wrap: break-word;
}
.tbl_insurer th ul {
    width: 100%;
}
.tbl_insurer th ul > li {
    width: 100%;
}
.tbl_insurer th ul > li +li {
    width: 100%;
    word-break: break-all;
}

}
@media screen and (max-width: 360px) {
    .margin-left-right{
    margin-left: -15px;
    margin-right: -15px;
 }
 .footerList{
 width:100%}
.tabs ul.w19 li {
    width: 100%;
    display: inline-block;
    float: left;
}
.tabs ul.w19 li a {margin-bottom: 1px;    padding: 7px 10px;    text-align: left;}
    .btn_radio li label {
    width: 80px;}
    
    ul.tabs li span,ul.tabs li+li span,ul.tabs li+li+li span,ul.tabs li+li+li+li span{display: block;width: 88%;}
ul.tabs li.current span,ul.tabs li+li.current span,ul.tabs li+li+li.current span,ul.tabs li+li+li+li.current span{display: block; width: 88%;}
#content2 .variation2 {
    width: 78% !important;
}
#content3 .searchbyOptRow,#content4 .searchbyOptRow{width: 300px; margin: 0px auto;}

#content4 .claimBox {width: 300px;margin: 0px auto;}
#content4 .claimBox {width: 300px;margin: 0px auto;}
}
@media screen and (max-width: 320px){
    .margin-left-right{
    margin-left: -15px;
    margin-right: -15px;
 }
.btn_radio li label {
    width: 70px;
}
.claimContainer .claimLeft .tbl_insurer td p {

    word-break: break-all;
    width: 34%;
}
}
/*Service*/