<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="contactForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Contact Info</div>
	   		<div class = "clear"></div>
			<div class="body">
				<div class="main-section">
					<div class="contact-process">
						<div class="define">
							<img ng-src="./image/info.png">
							<span>Tell us about where to send the policy Document</span>
					</div>
  					<div class="row mnone">
  					
  						
 						<div class="col-sm-12 col-md-12 col-lg-12">
 								<div class="form-group required">
  								<label class="control-label">Are the Policy and Mailing Address the same?</label>
  								<div class="btn-group">
  									<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.policyRegAddressSame" ng-change = "samePolicyCorrAddress('Y')" ng-class="{'active':proposalInput.proposer.policyRegAddressSame=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
  									<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.policyRegAddressSame" ng-change = "samePolicyCorrAddress('N')" ng-class="{'active':proposalInput.proposer.policyRegAddressSame=='N'}"  uib-btn-radio="'N'" required>No</label>
  								</div>
 								</div>
 						</div>
 							
 						<div class="clear"></div>
 						<br><br>
	   					<div class="col-sm-6 add-borde"> 
	   						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Policy Address</h3>
	   						<div class="col-sm-12">
		   						<div class="form-group required"  ng-class="{'has-error':contactForm.policyAdd_one.$invalid && ! contactForm.policyAdd_one.$pristine}">
		   							<label class="control-label">Flat/House No</label>
		   							<input type="text" name="policyAdd_one" class="form-control field" ng-model="proposalInput.proposer.policyAddress1" required>
		   						</div>
	   						</div>
	   						<div class="col-sm-12">
		   						<div class="form-group required"  ng-class="{'has-error':contactForm.policyAdd_two.$invalid && ! contactForm.policyAdd_two.$pristine}">
		   							<label class="control-label">Building/Street</label>
		   							<input type="text" name="policyAdd_two" class="form-control field" ng-model="proposalInput.proposer.policyAddress2" ng-minlength="5" required>
		   						</div>
	   						</div>
		   					<div class="col-sm-12">
		   							<div class="form-group required"  ng-class="{'has-error':contactForm.policyAdd_three.$invalid && ! contactForm.policyAdd_three.$pristine}">
		   							<label class="control-label">Landmark</label>
		   							<input type="text" class="form-control field" name="policyAdd_three" ng-model="proposalInput.proposer.policyLandmark" ng-minlength="5"  required>
		   						</div>
	   						</div>	   						
   							<div class="col-sm-6">
   								<div class="form-group required"  ng-class="{'has-error':contactForm.pincode.$invalid && ! contactForm.pincode.$pristine}">
   								<label class="control-label">Pincode</label>
   								<input type="text" name = "pincode" class="form-control field" ng-pattern="/^[1-9][0-9]{5}$/"  ng-model="proposalInput.proposer.policyPincode"  required>
   								</div>
   							</div>
   							
	   						<div class="col-sm-6">
	   							<div class="form-group required">
		   							<label class="control-label">Area/Locality</label>
		   							<select class="form-control" ng-options="item as item.areaName for item in areasPolicy track by item.areaName" 
		   							ng-model="polArea" ng-change = "setCityState('P',polArea)" required>
			   						</select>
	   							</div>
	   						</div>
   							
   							<div class="col-sm-6 ">
   								<div class="form-group required">
   								<label class="control-label">City</label>
   									<input type="text" class="form-control field" ng-model="proposalInput.proposer.policyCity"  readonly required>
   								</div>
   							</div>
	   						
   							<div class="col-sm-6" style="padding-left:0px;">
   								<div class="form-group required">
    								<label class="control-label">State</label>
    								<input type="text" class="form-control field" ng-model="proposalInput.proposer.policyState"  readonly required>
   								</div>
   							</div>
	   							
	   					</div>
   					<!-- </div> -->
   					
   					<div ng-if="proposalInput.proposer.policyRegAddressSame=='N'" class="col-sm-6 add-borde"> 
   						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Contact Address</h3>
   						<div class="col-sm-12">
	   						<div class="form-group required"  ng-class="{'has-error':contactForm.contactAdd_one.$invalid && ! contactForm.contactAdd_one.$pristine}">
	   							<label class="control-label">Flat/House No</label>
	   							<input type="text" name="contactAdd_one" class="form-control field" ng-model="proposalInput.proposer.corrAddress1" ng-minlength="5" required>
	   						</div>
   						</div>
   						<div class="col-sm-12">
	   						<div class="form-group required"  ng-class="{'has-error':contactForm.contactAdd_two.$invalid && ! contactForm.contactAdd_two.$pristine}">
	   							<label class="control-label">Building/ Street</label>
	   							<input type="text" name="contactAdd_one" class="form-control field" ng-model="proposalInput.proposer.corrAddress2" ng-minlength="5" required>
	   						</div>
   						</div>
   						<div class="col-sm-12">
   							<div class="form-group required"  ng-class="{'has-error':contactForm.contactAdd_three.$invalid && ! contactForm.contactAdd_three.$pristine}">
	   							<label class="control-label">Landmark</label>
	   							<input type="text" class="form-control field" name="contactAdd_three" ng-model="proposalInput.proposer.corrLandmark" ng-minlength  required>
	   							<span class="has-error" ng-show="contactInfo.contactAdd_three.$error.minlength && contactInfo.contactAdd_three.$dirty ">Minimum length is 5.</span>
   							</div>
  						</div>	   						
  						<div class="col-sm-6">
							<div class="form-group required"  ng-class="{'has-error':contactForm.contactpincode.$invalid && ! contactForm.contactpincode.$pristine}">
								<label class="control-label">Pincode</label>
								<input type="text" name="contactpincode" class="form-control field" ng-pattern="/^[1-9][0-9]{5}$/"  ng-model="proposalInput.proposer.corrPincode"  ng-change = "getAreasFromPincode('C', proposalInput.proposer.corrPincode)" required>
								<span class="has-error " ng-show="showError=='false'">Invalid Pin Code</span>
							</div>
						</div>
   						
   						<div class="col-sm-6">
   							<div class="form-group required">
	   							<label class="control-label">Area/Locality</label>
	   							<select class="form-control" ng-options="item as item.areaName for item in areasCorr track by item.areaName" 
	   							ng-model="corArea" ng-change = "setCityState('C',corArea)" required>
		   						</select>
   							</div>
   						</div>
	   							
						<div class="col-sm-6 ">
							<div class="form-group required">
							<label class="control-label">City</label>
								<input type="text" class="form-control field" ng-model="proposalInput.proposer.corrCity"  readonly required>
							</div>
						</div>
						
						<div class="col-sm-6" style="padding-left:0px;">
							<div class="form-group required">
								<label class="control-label">State</label>
								<input type="text" class="form-control field" ng-model="proposalInput.proposer.corrState"  readonly required>
							</div>
						</div>

   							
   					</div>

   				</div>
  				</div>
  			</div>
  			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
  		</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(4)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="contactForm.$invalid" ng-click="nextSection('6')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>