<div class="margin-top-30" data-ng-controller="HomeInsurance">
    <div class="col-md-6 padd0">
        <h4 class="green">COMPARE HOME INSURANCE POLICIES</h4>
    </div>
    <div class="clear"></div>
    <div class="col-md-6 padd0">
        <div class="right">
            <div class="blue step left">STEP</div>
            <div class="number left">1</div>
            <div class="grey step left">OF</div>
            <div class="number left">3</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="banner-c">
        <form id="home-buy-form" class="form-horizontal" name="Homeform" ng-submit="homeForm()" autocomplete="off" novalidate>
            <div ng-if="loading" class="col-xs-8 col-sm-8 col-md-9">
                <div style="padding: 5em">
                    <uib-progressbar class="progress-striped active" value='value' type='info'>Contacting Insurers for Best Quotes for you</uib-progressbar>
                </div>
            </div>
            <div class="clear"></div>
            <div ng-if="!loading" class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="col-md-3 col-sm-3 col-xs-12 lft10-padd padd0 ">
                        <div class="form-group scrollable-dropdown-menu ">
                            <div class="col-sm-12 padd0 required">
                                <label class="control-label">Pincode</label>
                                <input type="text" name="pincode" class="form-control" ng-minlength="6" ng-maxlength="6" maxlength="6" ng-model="carInput.pincode" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="col-sm-12 col-md-12 col-lg-12 ">
                    <div class="form-group input-item ">
                        <div class="required">
                            <label class="control-label">How do you use this home?</label>
                            <div class="clear"></div>
                            <div class="btn-group">
                                <label class="btn btn-primary btn_prim" ng-class="{'active': homeInput.policyType =='1'}" ng-model="homeInput.policyType" uib-btn-radio="1" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Building and Content</label>
                                <label class="btn btn-primary btn_prim" ng-class="{'active': homeInput.policyType =='2'}" ng-model="homeInput.policyType" uib-btn-radio="2" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Building Only</label>
                                <label class="btn btn-primary btn_prim" ng-class="{'active': homeInput.policyType =='3'}" ng-model="homeInput.policyType" uib-btn-radio="3" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Content Only </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <!-- Structure  -->

                <div ng-if="homeInput.policyType !='3'">
                    <h4 class="green">Building</h4>
                    <div class="clear"></div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group scrollable-dropdown-menu ">
                            <div class="col-sm-10 col-md-10 col-lg-10 required">
                                <label class="control-label">Total Sqft Area</label>
                                <input type="number" name="area" id="area" ng-model="homeInput.structure.area" class="form-control col-sm-5  col-md-5  col-lg-5 " min="400" max="999999" required>
                                <br>
                                <span class="has-error" ng-show="Homeform.area.$error.minlength && Homeform.area.$dirty ">Please Specify area of the property</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group scrollable-dropdown-menu ">
                            <div class="col-sm-10 col-md-10 col-lg-10 required">
                                <label class="control-label">Cost of Construction per SqFt</label>
                                <input type="number" name="costSqft" class="form-control col-sm-5  col-md-5  col-lg-5 " ng-model="homeInput.structure.costSqft" min="2500" max="5000" required>
                                <br>
                                <span class="has-error" ng-show="Homeform.costSqft.$invalid && Homeform.costSqft.$dirty ">Cost of Construction should be between 2500 and 5000</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="input-item">
                            <label class="control-label">Property Sum Insured</label>
                            <div class="clear"></div>
                            <div>{{homeInput.structure.area*homeInput.structure.costSqft| currency:"&#8377;":0}}</div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 ">
                        <div class="form-group scrollable-dropdown-menu ">
                            <div class="col-sm-10 col-md-10 col-lg-10 required">
                                <label class="control-label">Policy Term - Building </label>
                                <select class="form-control" required ng-model="homeInput.structpt">
                                    <option value="">Select</option>
                                    <option value="{{pt}}" ng-repeat="pt in pts">{{pt}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-sm-12 col-md-12 col-lg-12" ng-if="homeInput.policyType !='2'">
                    <h4 class="green">Home Content</h4>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group scrollable-dropdown-menu ">
                            <div class="col-sm-12 col-md-12 col-lg-12 padd0 required">
                                <label class="control-label">Policy Term - Content </label>
                                <select class="form-control" required ng-model="homeInput.contentpt">
                                    <option value="">Select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-sm-12 col-md-12 col-lg-12" ng-repeat="content in homeInput.contentTypes">
                        <div class="col-sm-5 input-item form-group">
                            <div class="required">
                                <label class="control-label col-md-6 col-md-6 col-md-6 ">Do you want to insure {{content.displayName}}</label>
                                <div class="btn-group">
                                    <label class="btn btn-primary btn_prim" ng-class="{'active': content.isInsured =='1'}" ng-model="content.isInsured" uib-btn-radio="1" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>Yes</label>
                                    <label class="btn btn-primary btn_prim" ng-class="{'active': content.isInsured =='0'}" ng-model="content.isInsured" uib-btn-radio="0" style="border-right:1px solid #fff;margin-right:1px;color:#fff;" required>No</label>
                                </div>
                            </div>
                        </div>
                        <div class="input-item col-sm-5 form-group" ng-if="content.isInsured =='1' && content.valueNeeded == 'Y'">
                            <div class="required">
                                <label class="control-label col-sm-5  col-md-5  col-lg-5 ">Value of Items</label>
                                <div class="col-md-3">
                                    <input type="text" name="contentvalue" class="form-control" ng-model="content.contentValue" max-length="7" required>
                                </div><span class="has-error">{{error}}</span>
                                <br>
                                <span class="has-error" ng-show="Homeform.contentvalue.$invalid && Homeform.contentvalue.$dirty ">Invalid Content Value</span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
				<div class="clear"></div>
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <span class="has-error" id="insuredError" style="color:red">{{error}}</span>
                </div>

                <div class="clear"></div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <div class="col-sm-12">
                        <button id="comparebutton" class="btn btn-primary call-back btn-default" ng-disabled="!idvValid">COMPARE POLICIES</button>
                    </div>

                </div>
            </div>

        </form>
    </div>
	<div class="clear"></div>
</div>