<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="contactInfo" autocomplete="off" novalidate>
   		<div class = "clear"></div>
   		<div class="form-panel">
   		    <div class = "clear"></div>
  			<div class="heads">Registration Address and Contact Address</div>
  				<div class = "clear"></div>
  				<div class="body">
  					<div class="main-section">
  						<div class="contact-process">
    					<div class="define">
    						<img ng-src="./image/info.png">
    						<span>Tell us about where to send the policy Document</span>
    					</div>
    					<div class="row mnone">
    					
    						
   							<div class="col-sm-12 col-md-12 col-lg-12">
   								<div class="form-group required">
    								<label class="control-label">Are the Contact and Registration Address the same?</label>
    								<div class="btn-group">
    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.policyRegAddressSame" ng-change = "samePolicyCorrAddress('Y')" ng-class="{'active':proposalInput.proposer.policyRegAddressSame=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
    									<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.policyRegAddressSame" ng-change = "samePolicyCorrAddress('N')" ng-class="{'active':proposalInput.proposer.policyRegAddressSame=='N'}"  uib-btn-radio="'N'" required>No</label>
    								</div>
   								</div>
   							</div>
   							
   							<div class="clear"></div>
   							<br><br>
	    					<div class="col-sm-6 add-borde"> 
	    						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Registration Address</h3>
	    						<div class="col-sm-12">
	    						<div class="form-group required">
	    							<label class="control-label">Flat/House No, Street</label>
	    							<input type="text" name="policyAdd_one" class="form-control field" ng-model="proposalInput.proposer.policyAddress1" ng-minlength="5" required>
	    							<span class="has-error" ng-show="contactInfo.policyAdd_one.$error.minlength && contactInfo.policyAdd_one.$dirty ">Minimum length is 5.</span>
	    						</div>
	    						</div>
	    						<div class="col-sm-12">
	    							<div class="form-group required">
	    							<label class="control-label">Area/Locality</label>
	    							<input type="text" name="policyAdd_two" class="form-control field" ng-model="proposalInput.proposer.policyAddress2" ng-minlength="5"  required>
	    							<span class="has-error" ng-show="contactInfo.policyAdd_two.$error.minlength && contactInfo.policyAdd_two.$dirty ">Minimum length is 5.</span>
	    							</div>
	    						</div>
	    						<div class="col-sm-12">
	    							<div class="form-group required">
	    							<label class="control-label">Landmark</label>
	    							<input type="text" class="form-control field" name="policyAdd_three" ng-model="proposalInput.proposer.policyAddress3" ng-minlength  required>
	    							<span class="has-error" ng-show="contactInfo.policyAdd_three.$error.minlength && contactInfo.policyAdd_three.$dirty ">Minimum length is 5.</span>
	    							</div>
	    						</div>
	    						<div class="col-sm-12">
	    							<div class="col-sm-6" style="padding-left:0px;">
	    								<div class="form-group required">
		    								<label class="control-label">State</label>
		    								<ui-select ng-model="polState" name="polState" theme="bootstrap" ng-change="getCity(polState,'Registration')" required>
									            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
									            <ui-select-choices repeat="polState in insurerMaster.State | filter: $select.search |  orderBy:sortorder">
									              <div ng-bind-html="polState.value | highlight: $select.search">
									              	
									              </div>
									             </ui-select-choices>
									        </ui-select>
	    								</div>
	    							</div>
	    							<div class="col-sm-6 ">
	    								<div class="form-group required">
	    								<label class="control-label">City</label>
	    									<ui-select ng-model="polCity" name="polCity" theme="bootstrap"  ng-change="cityChange(polCity,'Registration')" required>
									            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
									            <ui-select-choices repeat="polCity in polCities | filter: $select.search |  orderBy:sortorder">
									              <div ng-bind-html="polCity.value | highlight: $select.search">
									              	
									              </div>
									             </ui-select-choices>
								          	</ui-select>
								         </div>
	    							</div>
	    							<div class="col-sm-6">
	    								<div class="form-group required">
	    								<label class="control-label">Pincode</label>
	    								<input type="text" class="form-control field" ng-minlength="6" ng-maxlength="6" ng-model="proposalInput.proposer.policyPincode"  required>
	    								<span class="has-error " ng-show="showError=='false'">Invalid Pin Code</span>
	    								</div>
	    							</div>
	    							</div>
	    							
	    					</div>
	    					<!-- </div> -->
	    					
	    					<div ng-if="proposalInput.proposer.policyRegAddressSame=='N'" class="col-sm-6 add-borde"> 
	    						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Contact Address</h3>
	    						<div class="col-sm-12">
	    						<div class="form-group required">
	    							<label class="control-label">Flat/House No, Street</label>
	    							<input type="text" name="contactAdd_one" class="form-control field" ng-model="proposalInput.proposer.corrAddress1" ng-minlength="5" required>
	    							<span class="has-error" ng-show="contactInfo.contactAdd_one.$error.minlength && contactInfo.contactAdd_one.$dirty ">Minimum length is 5.</span>
	    						</div>
	    						</div>
	    						<div class="col-sm-12">
	    							<div class="form-group required">
	    							<label class="control-label">Area/Locality</label>
	    							<input type="text" name="contactAdd_two" class="form-control field" ng-model="proposalInput.proposer.corrAddress2" ng-minlength="5"  required>
	    							<span class="has-error" ng-show="contactInfo.contactAdd_two.$error.minlength && contactInfo.contactAdd_two.$dirty ">Minimum length is 5.</span>
	    							</div>
	    						</div>
	    						<div class="col-sm-12">
	    							<div class="form-group required">
	    							<label class="control-label">Landmark</label>
	    							<input type="text" class="form-control field" name="contactAdd_three" ng-model="proposalInput.proposer.corrAddress3" ng-minlength  required>
	    							<span class="has-error" ng-show="contactInfo.contactAdd_three.$error.minlength && contactInfo.contactAdd_three.$dirty ">Minimum length is 5.</span>
	    							</div>
	    						</div>
	    						<div class="col-sm-12">
	    							<div class="col-sm-6" style="padding-left:0px;">
	    								<div class="form-group required">
	    								<label class="control-label">State</label>
		    								<ui-select ng-model="corState" name="corState" theme="bootstrap" ng-change="getCity(corState,'Mailing')" required>
									            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
									            <ui-select-choices repeat="state in insurerMaster.State | filter: $select.search |  orderBy:sortorder">
									              <div ng-bind-html="state.value | highlight: $select.search">
									              	
									              </div>
									             </ui-select-choices>
	    									</ui-select>
	    								</div>
	    							</div>
	    							<div class="col-sm-6 ">
	    								<div class="form-group required">
	    								<label class="control-label">City</label>
	    								<!-- <input type="text" class="form-control field" ng-model="proposalInput.proposer.corrCitycode" readonly required> -->
	    									<ui-select ng-model="corCity" name="corCity" theme="bootstrap" ng-change = "cityChange(corCity,'Mailing')" required>
									            <ui-select-match placeholder="" >{{$select.selected.value}}</ui-select-match>
									            <ui-select-choices repeat="city in corCities | filter: $select.search |  orderBy:sortorder">
									              <div ng-bind-html="city.value | highlight: $select.search">
									              	
									              </div>
									             </ui-select-choices>
								          	</ui-select>
								         </div>
	    							</div>
	    							<div class="clear"></div>
	    							<div class="col-sm-6">
	    								<div class="form-group required">
	    								<label class="control-label">Pincode</label>
	    								<input type="text" class="form-control field" ng-minlength="6" ng-maxlength="6" ng-model="proposalInput.proposer.corrPincode"  required>
	    								<span class="has-error " ng-show="showError=='false'">Invalid Pin Code</span>
	    								</div>
	    							</div>
	    						</div>
	    							
	    					</div>

	    				</div>
    				</div>
    			</div>
    			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
    		</div>
    		<!-- .body  -->
    		<div class = "clear"></div>
    		<div class="foot">
    			<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(3)" style="/* display: none; */">
                             			<img ng-src="./image/arrow-left.png">&nbsp;Back
                         		</button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="contactInfo.$invalid" ng-click="nextSection('sixth')">Continue <img ng-src="./image/arrow-right.png"></button>
    				</div>
    			</div>
   		 	</div>
   		 	<div class = "clear"></div>
    	</div> 
    	<div class = "clear"></div>		
   	</form>
 </div>