<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="coverForm" autocomplete="off" novalidate>
   		<div class = "clear"></div>
   		<div class="form-panel">
  			<div class="heads">Add-on Covers</div>
  			<div class = "clear"></div>
			<div class="body">
				<div class="main-section">
					<div class="contact-process">
 					<div class="define">
 						<img ng-src="./image/info.png">
 						<span>Would you like any of these covers</span>
 					</div>
   					<div class="row mnone conditional-question">
						<div class="col-sm-12" style="margin-bottom:10px;"  ng-repeat="cover in proposalInput.covers| filter:{'applicable': 'Y'}">
							<!-- {{cover}} -->
							<div class="col-xs-6  col-sm-6 col-md-3">{{cover.displayName}}</div>
							<div class="col-xs-6  col-sm-6 col-md-3">{{cover.premium| currency:"&#8377;": 0 }}</div>
							<div class="col-xs-6  col-sm-6 col-md-3">
								<div class="btn-group">
									<label class="btn btn-primary btn_prim" ng-class="{'active':cover.isSelected=='Y'}" ng-model="cover.isSelected" uib-btn-radio="'Y'" ng-change="premiumAdd(cover.coverId,'Y', cover.premium)">Yes</label>
									<label class="btn btn-primary btn_prim" ng-class="{'active':cover.isSelected=='N'}" ng-model="cover.isSelected" uib-btn-radio="'N'" ng-change="premiumAdd(cover.coverId,'N', cover.premium)">No</label>
								</div>
							</div>
						</div>
						<div class="clear"></div>
   					</div>
 					</div>
 				 </div>
 				 <p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
 			 </div>
			 
   			 <div class = "clear"></div>
   			 <div class="foot">
    			<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(4)" style="/* display: none; */">
                             			<img ng-src="./image/arrow-left.png">&nbsp;Back
                         		</button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="coverForm.$invalid" ng-click="nextSection('seventh')">Continue <img ng-src="./image/arrow-right.png"></button>
    				</div>
    			</div>
   		 	</div>
   		 	<div class = "clear"></div>
    </div>	
   	</form>
 </div>