<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="proposerForm" autocomplete="off" novalidate>
     	<div class = "clear"></div>
     	<div class="form-panel">
    		<div class="heads">Proposer</div>
    		<div class = "clear"></div>
    		<div class="body">
    			<div class="main-section">
    				<div class="proposer-process">
    					<div class="define">
    						<img ng-src="./image/info.png">
    						<span>The person who is paying for the policy</span>
    					</div>
    					<div class="row mnone">
    						<div class="col-sm-11" style="margin-bottom:10px;">
    							<div class="col-sm-4 col-md-4 col-lg-4 ">
    								<div class="form-group required">
	    								<label class="control-label">This Vehicle Belongs To</label>
	    								<div class="btn-group" data-toggle="buttons">
				    						<label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.custType=='I'}" uib-btn-radio="'I' "  ng-model="proposalInput.proposer.custType" required>Individual</label>
				    					    <label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.custType=='O'}" uib-btn-radio="'O'"   ng-model="proposalInput.proposer.custType" required>Company</label>
					    				</div>
				    				</div>
    							</div>
    							<div class="col-sm-4" ng-if="proposalInput.proposer.custType=='I'">
    								<div class="form-group required">
    									<label class="control-label">Title </label>
    									<select class="form-control field" ng-model="proposalInput.proposer.title" required>
    										<option value="{{item.id}}" ng-repeat="item in insurerMaster.Title">{{item.value}}</option>
    									</select>
    								</div>
   								</div>
   								
   								
    							<div class="col-sm-4" ng-if="proposalInput.proposer.custType=='O'">
    								<div class="form-group  required" ng-class="{'has-error':proposerForm.org.$invalid && ! proposerForm.org.$pristine}">
	    								<label class="control-label"><span>Company Name</span></label>
	    								<input type="text" class="form-control" name="org" ng-model="proposalInput.proposer.orgName" ng-pattern="/^[a-zA-Z ]*$/"  required>
	    							</div>
    							</div>
    							
    							<div class="col-sm-4">
    								<div class="form-group required" ng-class="{'has-error':proposerForm.firstName.$invalid && ! proposerForm.firstName.$pristine}">
	    								<label class="control-label">
	    									<span ng-if="proposalInput.proposer.custType=='O'">Contact First Name</span>
	    									<span ng-if="proposalInput.proposer.custType=='I'">First Name</span></label>
	    									<input type="text" name="firstName" ng-minlength="3" class="form-control" ng-model="proposalInput.proposer.firstName" ng-pattern="/^[a-zA-Z ]*$/" required>
	    							</div>
    							</div>
    							<div class="col-sm-4 " ng-if="proposalInput.proposer.custType=='I'">
    								<div class="form-group" ng-class="{'has-error':proposerForm.middlename.$invalid && ! proposerForm.middlename.$pristine}">
	    								<label class="control-label"><span>Middle Name</span></label>
	    								<input type="text" class="form-control" name="middlename" ng-model="proposalInput.proposer.middleName"  ng-pattern="/^[a-zA-Z ]*$/">
    								</div>
    							</div>
    							
    							<div class="col-sm-4 ">
    								<div class="form-group required"  ng-class="{'has-error':proposerForm.lastName.$invalid && ! proposerForm.lastName.$pristine}">
	    								<label class="control-label">
	    									<span ng-if="proposalInput.proposer.custType=='O'">Contact Last Name</span>
	    									<span ng-if="proposalInput.proposer.custType=='I'">Last Name</span></label>
	    									<input type="text" name="lastName" ng-minlength="3" class="form-control" ng-model="proposalInput.proposer.lastName" ng-pattern="/^[a-zA-Z ]*$/" required>
	    							</div>
    							</div>
    							
    							<div class="col-sm-4" ng-if="proposalInput.proposer.custType=='I'">
    								<div class="form-group required">
	    								<label class="control-label">Gender</label>
	    								<div class="clear"></div>
	    								<div class="btn-group" data-toggle="buttons">
				    						<label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='M'}" uib-btn-radio="'M' "  ng-model="proposalInput.proposer.gender"  required >Male</label>
				    					    <label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='F'}" uib-btn-radio="'F'"   ng-model="proposalInput.proposer.gender" required >Female</label>
					    				</div>
				    				</div>
    							</div>
    							<div class="clear" ng-if="proposalInput.proposer.custType=='I'"></div>
    							<div class="col-sm-4" ng-if="proposalInput.proposer.custType=='I'">
    								<div class="form-group required">
	    								<label class="control-label">Proposer DOB</label>
	    								<span class="input-group">
											<input type="text" class="form-control" name="dateOfProposer"  uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.proposerDob" is-open="opened[0]" datepicker-options="adultDobOptions"  close-text="Close" ng-change="getProposerAge(proposalInput.proposer.proposerDob)" alt-input-formats="altInputFormats" readonly required />
									          <span class="input-group-btn">
									            	<button type="button" class="btn btn-primary btn_prim "  ng-click="open($event,0)"><i class="glyphicon glyphicon-calendar"></i></button>
									          </span>
									    </span>
								    </div>
    							</div>
    							
	    						<div class="col-sm-4">
	    							<div class="form-group required"  ng-class="{'has-error':proposerForm.proEmail.$invalid && ! proposerForm.proEmail.$pristine}">
		    							<label class="control-label">Email</label>
		    							<input type="text" class="form-control field" name="proEmail" ng-model="proposalInput.proposer.email" ng-pattern="/^([a-zA-Z0-9_\-\.]+)(?<!\.)@([a-zA-Z0-9_\-\.]+)(?<!\.)\.([a-zA-Z]{2,5})$/"  required>
	    							</div>
	    						</div>
	    						
	    						<div class="col-sm-4">
	    							<div class="form-group required"  ng-class="{'has-error':proposerForm.mobile.$invalid && ! proposerForm.mobile.$pristine}">
		    							<label class="control-label">Mobile</label>
		    							<input type="text" name="proMobile" class="form-control field" ng-model="proposalInput.proposer.mobile"  ng-maxlength="10" ng-minlength="10" maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/" required>
		    							
				    				</div>
	    						</div>
    							
								<div class= "clear"></div>
								<div class="col-sm-4">
									<div class="form-group required">
									<label class="control-label">Are you a Automobile Association Member?</label>
									<div class="clear"></div>
									<div class="btn-group">
										<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.isAAMember" ng-class="{'active':proposalInput.proposer.isAAMember=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
										<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.isAAMember" ng-class="{'active':proposalInput.proposer.isAAMember=='N'}"  uib-btn-radio="'N'" required>No</label>
									</div>
									</div>
								</div>
									
								<div ng-if="proposalInput.proposer.isAAMember=='Y'">
		 							<div class="col-sm-4">
			  							<div class="form-group required"  ng-class="{'has-error':proposerForm.aanumber.$invalid && ! proposerForm.aanumber.$pristine}">
			  								<label class="control-label">Automobile Association Number</label>
			  								<input type="text" name="aanumber" class="form-control field" ng-minlength = "5" ng-model="proposalInput.proposer.aaNumber" required>
			  							</div>
		 							</div>	
								</div>
								
    							<div class="col-sm-4" ng-if="proposalInput.proposer.isAAMember=='Y'">
    								<div class="form-group required">
	    								<label class="control-label">Membership Expiry Date</label>
	    								<span class="input-group">
											<input type="text" class="form-control" name="aaExpiryDate"  uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.aaExpiryDate" is-open="opened[1]" datepicker-options="futureDateOptions"  close-text="Close" alt-input-formats="altInputFormats" readonly required />
									          <span class="input-group-btn">
									            	<button type="button" class="btn btn-primary btn_prim "  ng-click="open($event,1)"><i class="glyphicon glyphicon-calendar"></i></button>
									          </span>
									    </span>
								    </div>
    							</div>	
    							
    							<div class="clear"></div>						

	    						</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class = "clear"></div>
    			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
    		</div>
    		<!--.body -->
    		<div class="foot">
    			<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(2)" style="/* display: none; */">
                             			<img ng-src="./image/arrow-left.png">&nbsp;Back
                         		</button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="proposerForm.$invalid" ng-click="nextSection('fifth')">Continue <img ng-src="./image/arrow-right.png"></button>
    				</div>
    			</div>
    		</div>
    		<div class = "clear"></div>
    	</div>
    	<div class = "clear"></div>	
   	</form>
 </div>