<div class="formSection hwdtails">
    <form class="form-horizontal form_horizontal" name="policyForm" autocomplete="off" novalidate>
        <div class="clear"></div>
        <div class="form-panel">
            <div class="heads">T &amp; C </div>
            <div class="clear"></div>
            <div class="body">
                <div class="main-section">
                    <div class="buy-process">
                        <div id="summary-wrapper">
                            <div class="summary-stage">
                                <p>The information provided by me in this document is True to the best of my knowledge.</p>
                                <p>This proposal will be the basis of any insurance policy that We may issue. You must disclose all facts relevant to all persons proposed to be insured that may affect Our decision to issue a policy or its price, terms, conditions and exclusions. Non-compliance may result in the avoidance of the Policy. If there is insufficient space for you to provide information whether as requested or otherwise, please attach a separate sheet. If you are in any doubt, please seek the advice of your insurance advisor. We are under no obligation to accept any proposal for insurance. If We accept a proposal for insurance, it shall be subject to the Policy terms and conditions and We shall have no liability to make any payment under the Policy if premium is not received by Us in full and in time, or is not realised or non-fullfillment of pre-policy check-up.</p>
                            </div>
                            <div class="summary-stage">
                                <div class="title">
                                    <h3>Policy</h3>
                                    <span class="btn btn-primary" ng-click="back(0)">Edit</span>
                                </div>
                                <div class="stage-body">
                                    <div class="row mnone">
                                        <div class="col-sm-10" style="margin-bottom:10px;">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">Policy Start Date</label>
                                                    <input type="text" class="form-control summary-field" name="polStartDate" ng-model="proposalInput.policy.policyStartdate" uib-datepicker-popup="{{format}}" datepicker-options="proposeDob" close-text="Close" readonly />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">Policy End Date</label>
                                                    <input type="text" class="form-control summary-field" ng-model="proposalInput.policy.policyEnddate" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-stage">
                                <div class="title">
                                    <h3>Proposer </h3>
                                    <span class="btn btn-primary" ng-click="back(3)">Edit</span>
                                </div>
                                <div class="stage-body">
                                    <div class="col-sm-10" style="margin-bottom:10px;">
                                        <div class="col-sm-4 ">
                                            <label class="control-label">This Vehicle Belongs To</label>
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.custType=='I'}" uib-btn-radio="'I'" ng-model="proposalInput.proposer.custType" ng-disabled="proposalInput.proposer.custType">Individual</label>
                                                <label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.custType=='O'}" uib-btn-radio="'O'" ng-model="proposalInput.proposer.custType" ng-disabled="proposalInput.proposer.custType">Company</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 " ng-if="proposalInput.proposer.custType=='I'">
                                            <div class="form-group required">
                                                <label class="control-label">Title </label>
                                                <div class="col-sm-12 padd0">
                                                    <input type="text" class="form-control" ng-model="proposalInput.proposer.title" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 ">
                                            <div class="form-group required">
                                                <label class="control-label"><span ng-if="proposalInput.proposer.custType=='O'">Company Name</span><span ng-if="proposalInput.proposer.custType=='I'">First Name</span></label>
                                                <input type="text" name="orgName" ng-minlength="3" class="form-control" ng-model="proposalInput.proposer.firstName" ng-if="proposalInput.proposer.custType=='I'" readonly>
                                                <input type="text" class="form-control" ng-model="proposalInput.proposer.orgName" ng-if="proposalInput.proposer.custType=='O'" readonly>

                                            </div>
                                        </div>
                                        <div class="col-sm-4 " ng-if="proposalInput.proposer.custType=='I'">
                                            <div class="form-group ">
                                                <label class="control-label"><span>Middle Name</span></label>
                                                <input type="text" class="form-control" name="middle" ng-model="proposalInput.proposer.middleName" readonly>

                                            </div>
                                        </div>

                                        <div class="col-sm-4 " ng-if="proposalInput.proposer.custType=='I'">
                                            <div class="form-group required">
                                                <label class="control-label"><span>Last Name</span></label>
                                                <input type="text" class="form-control" name="middle" ng-model="proposalInput.proposer.lastName" readonly>

                                            </div>
                                        </div>
                                        <div class="col-sm-4 " ng-if="proposalInput.proposer.custType=='I'">
                                            <div class="form-group required">
                                                <label class="control-label">Gender</label>
                                                <div class="clear"></div>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='M'}" uib-btn-radio="'M' " ng-model="proposalInput.proposer.gender" ng-change="title(proposalInput.proposer.gender)" ng-disabled="true">Male</label>
                                                    <label class="btn btn-primary btn_prim" ng-class="{'active':proposalInput.proposer.gender=='F'}" uib-btn-radio="'F'" ng-model="proposalInput.proposer.gender" ng-change="title(proposalInput.proposer.gender)" ng-disabled="true">Female</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear" ng-if="proposalInput.proposer.custType=='I'"></div>
                                        <div class="col-sm-4" ng-if="proposalInput.proposer.custType=='I'">
                                            <label class="control-label">Proposer DOB</label>
                                            <span class="input-group">
												<input type="text" class="form-control" name="dateOfProposer"  min-date="minDate"  uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.proposerDob" is-open="opened[$index+1]" datepicker-options="proposeDob"  close-text="Close" ng-change="getProposerAge(proposalInput.proposer.proposerDob)" alt-input-formats="altInputFormats" readonly   />
										          <span class="input-group-btn">
										            	<button type="button" class="btn btn-primary btn_prim " ng-disabled="proposalInput.proposer.proposerDob" ><i class="glyphicon glyphicon-calendar"></i></button>
										          </span>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="summary-stage">
                                <div class="title">
                                    <h3>Vehicle </h3>
                                    <span class="btn btn-primary" ng-click="back(1)">Edit</span>
                                </div>
                                <div class="stage-body">
                                    <div class="row mnone">

                                        <div class="col-sm-10">
                                            <div class="col-sm-4">
                                                <label class="control-label">Vehicle Regno</label>
                                                <input type="text" class="form-control" name="regNumber" ng-model="proposalInput.vehicle.vehicleRegno" readonly>

                                                <div class="col-sm-12" ng-show="vehicle.regNumber.$dirty && vehicle.regNumber.$error.pattern ">Enter a valid Registration number. (eg. DL04AR4142).</div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Vehicle Registration Date</label>
                                                <input type="text" class="form-control" ng-model="proposalInput.vehicle.vehicleRegistrationDate" readonly>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Engine No</label>
                                                <input type="text" name="engineNo" class="form-control field" ng-model="proposalInput.vehicle.engineNo" readonly>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Chassis No</label>
                                                <input type="text" name="chassisNo" class="form-control field" ng-model="proposalInput.vehicle.chassisNo" readonly>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Price</label>
                                                <input type="text" name="price" class="form-control" ng-model="proposalInput.vehicle.price" readonly>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">RTO</label>
                                                <input type="text" name="rto" class="form-control" ng-model="proposalInput.vehicle.rto" readonly>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="col-sm-4">
                                                <label class="control-label"> Electrical accesories</label>
                                                <input type="text" name="electricalAcc" class="form-control" ng-model="proposalInput.vehicle.electricalAcc" ng-keypress="filterValue($event)" readonly>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label"> Non-electrical accessories</label>
                                                <input type="text" name="electricalAcc" class="form-control" ng-model="proposalInput.vehicle.nonElectricalAcc" ng-keypress="filterValue($event)" readonly>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">LPG/CNG kit fitted</label>
                                                <div class="clear"></div>
                                                <div class="btn-group">
                                                    <label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.lpgcngKit" ng-class="{'active':proposalInput.vehicle.lpgcngKit=='Y'}" ng-disabled="true" uib-btn-radio="'Y'">Yes</label>
                                                    <label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.lpgcngKit" ng-class="{'active':proposalInput.vehicle.lpgcngKit=='N'}" ng-disabled="true" uib-btn-radio="'N'">No</label>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="col-sm-4" ng-if="proposalInput.vehicle.lpgcngKit=='Y'">
                                                <div class="form-group required">
                                                    <label class="control-label">Externally Fitted?</label>
                                                    <div class="clear"></div>
                                                    <div class="btn-group">
                                                        <label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.biFuelExt" ng-disabled="proposalInput.vehicle.biFuelExt" ng-class="{'active':proposalInput.vehicle.biFuelExt=='E'}" uib-btn-radio="'E'" required>Yes</label>
                                                        <label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.biFuelExt" ng-disabled="proposalInput.vehicle.biFuelExt" ng-class="{'active':proposalInput.vehicle.biFuelExt=='I'}" uib-btn-radio="'I'" required>No</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clear"></div>

                                            <div class="col-sm-4">
                                                <div class="form-group required">
                                                    <label class="control-label">Anti Theft</label>
                                                    <div class="clear"></div>
                                                    <div class="btn-group">
                                                        <label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.antiTheft" ng-disabled="proposalInput.vehicle.antiTheft" ng-class="{'active':proposalInput.vehicle.antiTheft=='Y'}" uib-btn-radio="'Y'" required>Yes</label>
                                                        <label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.antiTheft" ng-disabled="proposalInput.vehicle.antiTheft" ng-class="{'active':proposalInput.vehicle.antiTheft=='N'}" uib-btn-radio="'N'" required>No</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group required">
                                                    <label class="control-label">Color</label>
                                                    <div class="clear"></div>
                                                    <input type="text" class="form-control" ng-model="proposalInput.vehicle.color" readonly>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-stage">
                                <div class="title">
                                    <h3>Previous policy   </h3>
                                    <span class="btn btn-primary" ng-click="back(2)">Edit</span>
                                </div>
                                <div class="stage-body">
                                    <div class="row mnone">
                                        <div class="col-sm-10" ng-if="proposalInput.policy.typeOfBusiness=='Rollover'">
                                            <div class="col-sm-4">
                                                <label class="control-label">Previous Policy start date </label>
                                                <input type="text" class="form-control summary-field" name="prevPolStartDate" ng-model="proposalInput.prevpolicy.prePolicystartdate" uib-datepicker-popup="{{format}}" datepicker-options="proposeDob" close-text="Close" readonly />
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label"> Previous Policy last date</label>
                                                <input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.prePolicyenddate" readonly>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Previous Policy number</label>
                                                <input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.prePolicynumber" readonly>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Previous Insurer code</label>
                                                <select class="form-control filed"  ng-model="proposalInput.prevpolicy.preInsurercode" ng-disabled='true'>
			    									<option value="{{preInsurercode.id}}" ng-repeat="preInsurercode in preInsurercodes">{{preInsurercode.value}}</option>
			    								</select>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group required">
                                                    <label class="control-label">Previous Claim</label>
                                                    <div class="clear"></div>
                                                    <span class="btn-group">

						    							<label class="btn btn-primary btn_prim" ng-model="proposalInput.prevpolicy.previousClaim" ng-class="{'active':proposalInput.prevpolicy.previousClaim=='Y'}" ng-change="ChangClaimAmount(proposalInput.prevpolicy.previousClaim)" ng-disabled="proposalInput.prevpolicy.previousClaim"  uib-btn-radio="'Y'" required  ng-disabled="proposalInput.prevpolicy.numberClaims=='0'" >Yes</label>
						    							<label class="btn btn-primary btn_prim" ng-model="proposalInput.prevpolicy.previousClaim" ng-class="{'active':proposalInput.prevpolicy.previousClaim=='N'}" ng-change="ChangClaimAmount(proposalInput.prevpolicy.previousClaim)" ng-disabled="proposalInput.prevpolicy.previousClaim" uib-btn-radio="'N'" required ng-disabled="proposalInput.prevpolicy.numberClaims!='0' ">No</label>

					    							 </span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <label class="control-label">Number Claims</label>
                                                <input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.numberClaims" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-10" ng-if="proposalInput.policy.typeOfBusiness=='New Business'">
                                            <div class="col-sm-4">
                                                <div class="form-group required">
                                                    <label class="control-label">Applicable Ncb</label>
                                                    <input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.currNcb" readonly>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group required">
                                                    <label class="control-label">Current Ncb</label>
                                                    <input type="text" class="form-control field" ng-model="proposalInput.prevpolicy.previousNcb" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="summary-stage">
                                <div class="title">
                                    <h3>Contact Info. </h3>
                                    <span class="btn btn-primary" ng-click="back(4)">Edit</span>
                                </div>
                                <div class="stage-body">
                                    <div class="row mnone">
                                        <div class="col-sm-6 add-borde">
                                            <h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Mailing Address</h3>
                                            <div class="col-sm-12">
                                                <label class="control-label">Flat/House No, Street</label>
                                                <input type="text" class="form-control summary-field" ng-model="proposalInput.proposer.policyAddress1" readonly required>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="control-label">Area/Locality</label>
                                                <input type="text" class="form-control summary-field" ng-model="proposalInput.proposer.policyAddress2" readonly required>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="control-label">Landmark</label>
                                                <input type="text" class="form-control summary-field" ng-model="proposalInput.proposer.policyAddress3" readonly required>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <label class="control-label">City</label>
                                                    <input type="text" class="form-control summary-field" ng-model="proposalInput.proposer.policyCity" readonly required>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="control-label">State</label>
                                                    <input type="text" class="form-control summary-field" ng-model="proposalInput.proposer.policyState" readonly required>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="control-label">Pincode</label>
                                                    <input type="text" class="form-control summary-field" ng-model="proposalInput.proposer.policyPincode" readonly required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <h3><img src="./image/phone.png">&nbsp;&nbsp;Contact details</h3>
                                            <div class="col-sm-12">
                                                <label class="control-label">Email</label>
                                                <input type="text" class="form-control summary-field" name="proEmail" ng-model="proposalInput.proposer.email" readonly>

                                            </div>
                                            <div class="col-sm-12">
                                                <label class="control-label">Mobile</label>
                                                <input type="text" name="proMobile" class="form-control summary-field" ng-model="proposalInput.proposer.mobile" readonly>

                                            </div>
                                            <div class="clear"></div>
                                            <div class="row mnone">
                                                <div class="col-sm-4">
                                                    <label class="control-label">Landline</label>
                                                    <input type="text" class="form-control summary-field" ng-model="proposalInput.proposer.stdCode" readonly>
                                                    <span class="small">e.g. "022"</span>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label class="control-label"></label>
                                                    <input type="text" class="form-control field" ng-model="proposalInput.proposer.landLine" readonly>
                                                    <span class="small">enter your number</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-stage">
                                <div class="title">
                                    <h3>Cover  </h3>
                                    <span class="btn btn-primary" ng-click="back(5)">Edit</span>
                                </div>
                                <div class="stage-body">
                                    <div class="row mnone conditional-question">

                                        <div class="col-sm-12" style="margin-bottom:10px;" ng-repeat="(indexB,cover) in covers track by indexB">
                                            <!-- {{cover}} -->
                                            <div class="col-xs-3">{{cover.displayName}}</div>
                                            <div class="col-xs-3">{{cover.premium| currency:"&#8377;": 0 }}</div>
                                            <div class="col-xs-3">
                                                <div class="btn-group">
                                                    <label class="btn btn-primary btn_prim" ng-class="{'active':cover.isSelected=='Y'}" ng-model="cover.isSelected" uib-btn-radio="'Y'" ng-disabled="'true'">Yes</label>
                                                    <label class="btn btn-primary btn_prim" ng-class="{'active':cover.isSelected=='N'}" ng-model="cover.isSelected" uib-btn-radio="'N'" ng-disabled="'true'">No</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="summary-stage">
                                <div class="title">
                                    <h3>SECTION 41 INSURANCE ACT (PROHIBITION OF REBATES)</h3>
                                </div>
                                <div class="stage-body">
                                    <p>1) No person shall allow or offer to allow, either directly or indirectly, as an inducement to any person to take or renew or continue an insurance in respect of any kind of risk relating to lives or property in India, any rebate of the whole or part of the commission payable or any rebate of premium shown on the policy, nor shall any person taking out or renewing or continuing a policy accept any rebate, except such rebate as may be allowed in accordance with the prospectus or tables of the insurers.</p>
                                    <p>2) Any person making default in complying with the provisions of this section shall be punishable with fine which may extend to five hundred rupees.</p>
                                </div>
                            </div>
                            <div class="summary-stage">
                                <div class="title">
                                    <h3>DISCLAIMER</h3>
                                </div>
                                <div class="stage-body">
                                    <p>Motor Insurance Plan is underwritten and issued by Bajaj Allianz General Insurance Co. Limited. Claims will be settled by Bajaj Allianz General Insurance Co. Limited as per the terms and conditions of the policy. This brochure is not a contract of Insurance. Please refer policy document for exact terms and conditions and specific details applicable to this Insurance. Your participation in this insurance product is purely on a voluntary basis. We advise you to take your own professional advice before you participate. </p>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="row mnone" style="position:relative">
                                <div class="define">
                                    <img src="./image/info.png"> &nbsp;&nbsp;<span>Mandatory terms and conditions</span>
                                </div>
                                <div class="col-sm-12">
                                    <div class="agree-box">
                                        <div class="item">
                                            <div class="pointer">
                                                <img class="img-responsive" src="./image/arrow-right-circle.png">
                                            </div>
                                            <div class="agree-field">
                                                <span data-bind="html: obj.data.label">I hereby confirm<br>- I have read and agree to the Terms and Conditions of the 
			                            		<a style="text-decoration:none;cursor:pointer;" >policy</a> 
			                            		and the <a style="cursor:pointer;" class="call_overlay">website</a>;<br>- 
			                            		the declarations made herewith are true and correct;<br>- 
			                            		appointment of DBS Bank as my Insurance Broker, and authorize them to represent me to Insurance Companies/Agencies for my Insurance needs.</span>
                                                <div class="radio"></div>
                                                <div class="radio">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-stage">
                                <div class="col-sm-12">
                                    <div class="agree-box">
                                        <div class="item">
                                            <div class="agree-field">
                                                <div style="color:red;">{{proposalError.key}}
                                                    <ol>
                                                        <li style="color:red;" ng-repeat="error in proposalError.errorPirnt track by $index">{{error}}</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;"></p>
            </div>
            <div class="clear"></div>
            <!--.body  -->
            <div class="foot">
                <div class="clearfix">
                    <div class="cf-pull-right">
                        <button class="btn cf-btn btn-lg btn-gry" ng-click="back(5)" style="/* display: none; */">
                            <img ng-src="./image/arrow-left.png">&nbsp;Back
                        </button>
                        <button class="btn cf-btn btn-lg btn-default btn-grn" ng-click="makePayment()">Make Payment <img ng-src="./image/arrow-right.png"></button>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </form>
</div>