<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="vehicleForm" autocomplete="off" novalidate>
   		<div class = "clear"></div>
   		<div class="form-panel">
   			<div class = "clear"></div>
  			<div class="heads">Vehicle</div>
  			<div class = "clear"></div>
			<div class="body">
				<div class="main-section">
					<div class="proposer-process">
	 					<div class="define">
	 						<img ng-src="./image/info.png">
	 						<span>Tell us about the vehicle you want to Insure</span>
	 					</div>
	 					<div class = "clear"></div>
	 					<div class="row mone">
		 					<div class="col-sm-11">
									<div class="col-sm-6" ng-if="proposalInput.policy.typeOfBusiness == 'Rollover'">
										<div class="form-group required">
										<label class="control-label">Has Vehicle Ownership changed in Last 12 months?</label>
										<div class="clear"></div>
										<div class="btn-group">
											<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.isOwnershipChanged" ng-class="{'active':proposalInput.vehicle.isOwnershipChanged=='Y'}"  ng-click = "resetNCB()" uib-btn-radio="'Y'" required>Yes</label>
											<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.isOwnershipChanged" ng-class="{'active':proposalInput.vehicle.isOwnershipChanged=='N'}"  uib-btn-radio="'N'" required>No</label>
										</div>
										</div>
									</div>
									<div class="clear"></div>
									
									<div class="col-sm-4">
		 							<div class="form-group required" ng-class="{'has-error':vehicleForm.rto.$invalid && ! vehicleForm.rto.$pristine}">
		 								<label class="control-label">RTO</label>
		 								<input type="text" name="rto" class="form-control" ng-model="proposalInput.vehicle.rto" readonly required>
		 							</div>
									</div>
									
									<div class="col-sm-4" ng-if="proposalInput.policy.typeOfBusiness=='New Business'">
										<div class="form-group"  ng-class="{'has-error':vehicleForm.regNumber.$invalid && !vehicleForm.regNumber.$pristine}">
										<label class="control-label">Registration Number</label>
										<input type="text" class="form-control"  name="regNumber" ng-model="proposalInput.vehicle.vehicleRegno" 
										placeholder="XX-99(C)-XX-9999" ng-pattern="/^[A-Za-z]{2}(-)[0-9]{2}[C]?(-)[A-Z]{1,3}(-)[0-9]{4}$/"  >
										</div>
									</div>
									
									<div class="col-sm-4" ng-if="proposalInput.policy.typeOfBusiness=='Rollover'" >
										<div class="form-group required"  ng-class="{'has-error':vehicleForm.regNumber.$invalid && !vehicleForm.regNumber.$pristine}">
										<label class="control-label">Registration Number</label>
										<input type="text" class="form-control" name="regNumber" placeholder="XX-99(C)-XX-9999" ng-model="proposalInput.vehicle.vehicleRegno" ng-pattern="/^[A-Za-z]{2}(-)[0-9]{2}[C]?(-)[A-Z]{1,3}(-)[0-9]{4}$/"  required>
										</div>
									</div>
									
									
		 							<div class="col-sm-4">
			 							<div class="form-group required">
			 								<label class="control-label">Registration Date</label>
			 								<input type="text" class="form-control" name="vehicleOfReg"   ng-model="proposalInput.vehicle.vehicleRegistrationDate"   readonly    />
			 							</div>	
									</div> 
									<div class="col-sm-4">
			 							<div class="form-group required"   ng-class="{'has-error':vehicleForm.engineNo.$invalid && ! vehicleForm.engineNo.$pristine}">
			 								<label class="control-label">Engine No</label>
			 								<input type="text" name="engineNo" class="form-control field" placeholder= "6-20 Characters" ng-pattern="/^[a-zA-Z0-9]{6,20}$/" ng-model="proposalInput.vehicle.engineNo" required>
			 							</div>
									</div>
									
									<div class="col-sm-4">
									<div class="form-group required"   ng-class="{'has-error':vehicleForm.chassisNo.$invalid && ! vehicleForm.chassisNo.$pristine}">
										<label class="control-label">Chassis  No</label>
										<input type="text" name="chassisNo" class="form-control field" placeholder= "6-20 Characters" ng-pattern="/^[a-zA-Z0-9]{6,20}$/"  ng-model="proposalInput.vehicle.chassisNo" required>
									</div>
									</div>
									
									<div class="col-sm-4">
			 							<div class="form-group required"   ng-class="{'has-error':vehicleForm.color.$invalid && ! vehicleForm.color.$pristine}">
				 							<label class="control-label">Color</label>
				 							<div class="clear"></div>
				 							<input type="text" class="form-control" ng-maxlength="15" ng-minlength="3" ng-model="proposalInput.vehicle.color" name="color" required>
			 							</div>
									</div>
									
		 							<div class="col-sm-4">
			  							<div class="form-group" >
			   							<label class="control-label">Voluantary Deductible</label>
			   							<div class="clear"></div>
			  								<select class="form-control field" ng-model="proposalInput.vehicle.volDeductible">
			  									<option value="0">0</option>
			  									<option value="1500">1500</option>
			  									<option value="2500">2500</option>
			  									<option value="5000">5000</option>
			  									<option value="7500">7500</option>
			  									<option value="10000">10000</option>
			  									<option value="15000">15000</option>
			  								</select>
			  							</div>
		 							</div>
									<div class= "clear"></div>
									<div class="col-sm-6">
										<div class="form-group required">
										<label class="control-label">Is there is a loan on the vehicle?</label>
										<div class="clear"></div>
										<div class="btn-group">
											<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.hasLoan" ng-class="{'active':proposalInput.vehicle.hasLoan=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
											<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.hasLoan" ng-class="{'active':proposalInput.vehicle.hasLoan=='N'}"  uib-btn-radio="'N'" required>No</label>
										</div>
										</div>
									</div>
									<div class= "clear"></div>
									
									<div ng-if="proposalInput.vehicle.hasLoan=='Y'">
			 							<div class="col-sm-4">
				  							<div class="form-group required"   ng-class="{'has-error':vehicleForm.regNumber.$invalid && ! vehicleForm.regNumber.$pristine}">
				   							<label class="control-label">Type of Finance</label>
				   							<div class="clear"></div>
				  								<select class="form-control field" ng-model="proposalInput.vehicle.loanType" required>
				  									<option value="Hypothecation">Hypothecation</option>
				  									<option value="Hire purchase">Hire purchase</option>
				  									<option value="Lease">Lease</option>
				  								</select>
				  							</div>
			 							</div>
			 							<div class="col-sm-4">
				  							<div class="form-group"   ng-class="{'has-error':vehicleForm.loanvalue.$invalid && ! vehicleForm.loanvalue.$pristine}">
					   							<label class="control-label">Loan Value</label>
					   							<input type="text" class="form-control" ng-maxlength="9" ng-minlength="5" ng-maxvalue="10000000" ng-model="proposalInput.vehicle.loanValue" name="loanvalue" ng-pattern="/^[0-9]{5,9}$/">
				  							</div>
			 							</div>
			 										
			 							<div class="col-sm-4">
				  							<div class="form-group required"  ng-class="{'has-error':vehicleForm.bankname.$invalid && ! vehicleForm.bankname.$pristine}">
				  								<label class="control-label">Bank Name</label>
				  								<input type="text" name="bankname" class="form-control field" ng-model="proposalInput.vehicle.bankName" required>
				  							</div>
			 							</div>					    							
									</div>
									
									<div class= "clear"></div>
		 							<div class="col-sm-4">
										<div class="form-group required">
										<label class="control-label">Anti Theft</label>
										<div class="clear"></div>
										<div class="btn-group">
											<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.antiTheft" ng-class="{'active':proposalInput.vehicle.antiTheft=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
											<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.antiTheft" ng-class="{'active':proposalInput.vehicle.antiTheft=='N'}"  uib-btn-radio="'N'" required>No</label>
										</div>
										</div>
									</div>					    							
									<div class="col-sm-4">
										<div class="form-group required">
										<label class="control-label">is Bi Fuel Kit Present?</label>
										<div class="clear"></div>
										<div class="btn-group">
											<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.lpgcngKit" ng-class="{'active':proposalInput.vehicle.lpgcngKit=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
											<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.lpgcngKit" ng-class="{'active':proposalInput.vehicle.lpgcngKit=='N'}"  uib-btn-radio="'N'" required>No</label>
										</div>
										</div>
									</div>
									
									<div class="col-sm-4" ng-if = "proposalInput.vehicle.lpgcngKit=='Y'">
										<div class="form-group required">
										<label class="control-label">Externally fitted?</label>
										<div class="clear"></div>
										<div class="btn-group">
											<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.biKitType" ng-class="{'active':proposalInput.vehicle.biKitType=='E'}" uib-btn-radio="'E'" required>Yes</label>
											<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.biKitType" ng-class="{'active':proposalInput.vehicle.biKitType=='I'}" uib-btn-radio="'I'" required>No</label>
										</div>
										</div>
									</div>
									
									<div class="col-sm-4" ng-if = "proposalInput.vehicle.lpgcngKit=='Y' && proposalInput.vehicle.biKitType=='E'">
										<div class="form-group required" ng-class="{'has-error':vehicleForm.kitvalue.$invalid && ! vehicleForm.kitvalue.$pristine}">
										<label class="control-label">Bi Fuel Kit Value</label>
					   							<input type="number" class="form-control" ng-maxvalue="500" ng-maxvalue="1000000" ng-model="proposalInput.vehicle.biKitValue" name="kitvalue" >
										</div>
									</div>
			
									<div class = "clear"></div>	
									<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>						
									
									<br>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label"> Do you want to add Electrical Accessory?</label>
		 								<div class="btn-group">
		 									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.electricalAccessoryFlag" ng-class="{'active':proposalInput.vehicle.electricalAccessoryFlag=='Y'}" ng-change="checkAccessory('Elec')" uib-btn-radio="'Y'" required>Yes</label>
		 									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.electricalAccessoryFlag" ng-class="{'active':proposalInput.vehicle.electricalAccessoryFlag=='N'}" ng-change="checkAccessory('Elec')" uib-btn-radio="'N'" required>No</label>
		 								</div>
										<div ng-if="proposalInput.vehicle.electricalAccessoryFlag=='Y'">
											<div class = "separator"></div>
											<div>
												<span class="ibspan panel-heading">Electrical Accessory List</span>
												<span><button class="btn btn-primary pull-right" ng-click="addEditAccessory('Elec','Add', 99)">Add</button></span>
											</div>
											<div class="clear"></div>																
											<div class="form-group">
												<div class="col-sm-12 col-md-12 col-lg-12">
													<div class="table-responsive">
														<div></div>
														<table ng-show = "proposalInput.vehicle.electricalAccList.length>0" class="table table-bordered">
															<thead>
																<tr>
																    <th>Make</th>
																    <th>Name</th>
																    <th>Value</th>								    
															    	<th>&nbsp;</th>
																</tr>
															</thead>
															<tbody>
																	<tr ng-repeat = "item in proposalInput.vehicle.electricalAccList track by $index">
																		<td>{{item.make}}</td>
																		<td>{{item.name}}</td>
																		<td>{{item.value}}</td>
																	<td><span class="glyphicon glyphicon-trash" ng-click="addEditAccessory('Elec','Delete', $index)"></span></td>
																	</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>		
										</div>
								   	<div class = "clear"></div>						    								
										</div>
									</div>	
									
									<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label"> Do you want to add Non-Electrical Accessory?</label>
			 								<div class="btn-group">
			 									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.nonElectricalAccessoryFlag" ng-class="{'active':proposalInput.vehicle.nonElectricalAccessoryFlag=='Y'}" ng-change="checkAccessory('NonElec')" uib-btn-radio="'Y'" required>Yes</label>
			 									<label class="btn btn-primary btn_prim" ng-model="proposalInput.vehicle.nonElectricalAccessoryFlag" ng-class="{'active':proposalInput.vehicle.nonElectricalAccessoryFlag=='N'}" ng-change="checkAccessory('NonElec')" uib-btn-radio="'N'" required>No</label>
			 								</div>
			 								<div class = "clear"></div>	
											<div  ng-if="proposalInput.vehicle.nonElectricalAccessoryFlag=='Y'">
												<div class = "separator"></div>
												<div class = "clear"></div>	
												<div>
													<h4 class="panel-heading">Non-Electrical Accessory List</h4>
													<span><button class="btn btn-primary pull-right" ng-click="addEditAccessory('NonElec','Add', 99)">Add</button></span>
												</div>
												<div class = "clear"></div>																	
												<div class="form-group">
													<div class="col-sm-12 col-md-12 col-lg-12">
														<div class="table-responsive">
															<table ng-show = "proposalInput.vehicle.nonElectricalAccList.length>0" class="table table-bordered">
																<thead>
																	<tr >
																	    <th>Make</th>
																	    <th>Name</th>
																	    <th>Value</th>								    
																    	<th>&nbsp;</th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat = "item in proposalInput.vehicle.nonElectricalAccList track by $index">
																		<td>{{item.make}}</td>
																		<td>{{item.name}}</td>
																		<td>{{item.value}}</td>
																	<td><span class="glyphicon glyphicon-trash" ng-click="addEditAccessory('NonElec','Delete', $index)"></span></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>		
											</div>		    								
											<div class = "clear"></div>	
										</div>
										<div class = "clear"></div>	
									</div>
									<br>	
									<div class = "clear"></div>	
								</div>
						</div>
						<div class = "clear"></div>
					</div>
				</div>
				<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
			</div>
			<div class = "clear"></div>
		   	<div class="foot">
  				<div class="clearfix">
	  				<div class="cf-pull-right">
	  					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
	                           			<img ng-src="./image/arrow-left.png">&nbsp;Back
	                       		</button>
	  					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="vehicleForm.$invalid || !checkAccessories()" ng-click="nextSection('third')">Continue <img ng-src="./image/arrow-right.png"></button>
	  				</div>
	  				<div class = "clear"></div>
  				</div>
  				<div class = "clear"></div>
		 	</div>
		 	<div class = "clear"></div>
  		</div>
  		<div class = "clear"></div>
   	</form>
 </div>