<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="insuredForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Insured Members</div>
	   		<div class = "clear"></div>
   				<div class="body">
   					<div class="main-section">
   						<div class="proposer-process">
	    					<div class="define">
	    						<img ng-src="./image/info.png">
	    						<span>Who do you want to Insure?</span>
	    					</div>
	    					<div class="clear"></div>
   							<div ng-form="memberForm" class="row mnone insured_mnone" ng-repeat="insured in proposalInput.insured">
   								<div class="col-sm-2">Insured Person's Details for <span ng-if="insured.type=='A'">Adult</span><span ng-if="insured.type=='C'">Child</span> DOB: {{insured.dob |date:'yyyy-MM-dd'}}</div>
   								<div class="clear"></div>
   								<div class="col-sm-10" style="margin-bottom:10px;">
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Title</label>
    										<div class="col-sm-12 padd0" ng-if="insured.gender=='M' && insured.type=='A'"  >
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="DR">Dr</option>
							    					<option value="MR">Mr</option>
												</select>
											</div>
    										<div class="col-sm-12 padd0" ng-if="insured.gender=='M' && insured.type=='C'"  >
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="MASTER">Master</option>
							    					<option value="MR">Mr</option>
												</select>
											</div>
										
											<div class="col-sm-12 padd0" ng-if="insured.gender=='F' && insured.type=='A'"  >
												
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="DR">Dr</option>
							    					<option value="MS">Ms</option>
							    					
												</select>
											</div>
																					
											<div class="col-sm-12 padd0" ng-if="insured.gender=='F' && insured.type=='C'"  >
												
												<select class="form-control" ng-model="insured.title" required>
													<option value="">Select</option>
							    					<option value="MS">Ms</option>
							    					<option value="MISS">Miss</option>
							    					
												</select>
											</div>
										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.firstName.$invalid && ! memberForm.firstName.$pristine}">
    										<label class="control-label required">First Name</label>
    										<input type="text" class="form-control" name="firstName" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.firstName" required>
   										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group" ng-class="{'has-error':memberForm.middleName.$invalid && ! memberForm.middleName.$pristine}">
   											<label class="control-label required">Middle Name</label>
   											<input type="text" class="form-control" name="middleName"  ng-pattern="/^[a-zA-Z ]*$/"  ng-model="insured.middleName">
   										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.lastName.$invalid && ! memberForm.lastName.$pristine}">
    										<label class="control-label">Last Name</label>
    										<input type="text" class="form-control" name="lastName"  ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/"  ng-model="insured.lastName" required>
   										</div>
   									</div>
   									<div class="col-sm-4">
   										<div class="form-group required" ng-class="{'has-error':memberForm.insdob.$invalid && ! memberForm.insdob.$pristine}">
    										<label class="control-label"> Date of Birth</label>
    										<input type="text" class="form-control" name="insdob" ng-model="insured.dob" readonly>
   										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Gender</label>
    										<div class = "clear"></div>
    										<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='M'}"  uib-btn-radio="'M'" required>Male</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.gender" ng-class="{'active':insured.gender=='F'}"  uib-btn-radio="'F'" required>Female</label>
											</div>
										</div>
   									</div>
   									
   									<div class="col-sm-4">
   										<div class="form-group required">
    										<label class="control-label">Relationship with Primary Insured</label>
    										<div class="col-sm-12 padd0">
    											<select class=" form-control" name="relaInsured" ng-model="insured.relationshipId"  ng-change = "checkRelationShip(insured_member)" required>
													<option value="">Select</option>
													<option value="{{item.id}}"  ng-repeat="item in insurerMaster.Realtionship| filter:{'gender': insured.gender, 'type': insured.type}">{{item.value}}</option>
												</select>
											</div>
										</div>
   									</div>
   									
   									
		   							<div class="col-sm-4">
		   							   <div class="form-group required" ng-class="{'has-error':memberForm.nomineeName.$invalid && ! memberForm.nomineeName.$pristine}">
		    								<label class="control-label">Nominee Name</label>
		    								<input type="text" name="nomineeName" class="form-control field" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z ]*$/" ng-model="insured.nomineeName" required>
		   								</div>
		   							</div>
		   							
		   							<div class="col-sm-4">
		    							 <div class="form-group required">
		    								<label class="control-label">Nominee Relationship with Insured</label>
		    								<select class="form-control field" ng-model="insured.nomineeRel" required>
		    									<option value="{{item.id}}" ng-repeat="item in insurerMaster.NomineeRel">{{item.value}}</option>
		    								</select>
		    							</div>	
		   							</div>	
   									<div class="clear"></div>
   									
   									<div class="col-sm-6">
   										<div class="form-group required">
    										<label class="control-label">Do you suffer from any Pre-Existing Conditions?</label>
    										<div class = "clear"></div>
    										<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="insured.isPED" ng-class="{'active':insured.isPED=='Y'}"  
												ng-change= "checkMedicalStatus()" uib-btn-radio="'Y'" required>Yes</label>
												<label class="btn btn-primary btn_prim" ng-model="insured.isPED" ng-class="{'active':insured.isPED=='N'}"  
												ng-change= "checkMedicalStatus()" uib-btn-radio="'N'" required>No</label>
											</div>
										</div>
   									</div>
   									
		   							<div ng-if="insured.isPED=='Y'" class="col-sm-6">
		   							   <div class="form-group required" ng-class="{'has-error':memberForm.illness.$invalid && ! memberForm.illness.$pristine}">
		    								<label class="control-label">Pl Specify illness</label>
		    								<input type="text" name="illness" class="form-control field" ng-minlength="3" ng-maxlength="40" ng-model="insured.ped" required>
		   								</div>
		   							</div>
   														
   									<div class="clear"></div>
   								</div>
   								<div class="clear"></div>
   							</div>
   							<div class="clear"></div>
   							<div class="row">
   								<div class="col-sm-12">
									<span ng-show="pageErrors.insuredError" class="has-error" id="insuredError" style="color:red">{{pageErrors.insuredErrorText}}</span>
								</div>
   							</div>
   							<div class="clear"></div>
   						</div>
   						<div class="clear"></div>
   					</div>
   					<div class="clear"></div>
   				</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(0)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
   					<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="pageErrors.insuredError || insuredForm.$invalid" ng-click="nextSection('2')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>