<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="medicalForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Medical UW</div>
	   		<div class = "clear"></div>
   			<div class="body">
   					<div class="main-section">
   						<div class="contact-process">
	    					<div class="col-sm-10" ng-if="isPPC">
								<div class="form-group required">
									<label class="control-label">Your Policy is subject to Medical Underwriting. Do you want to proceed?</label>
									<div class = "clear"></div>
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-primary btn_prim" ng-model="proposalInput.policy.ppcPedAccepted" ng-class="{'active':proposalInput.policy.ppcPedAccepted=='Y'}"  
										ng-change="checkMedicalStatus()" uib-btn-radio="'Y'" required>Yes</label>
										<label class="btn btn-primary btn_prim" ng-model="proposalInput.policy.ppcPedAccepted" ng-class="{'active':proposalInput.policy.ppcPedAccepted=='N'}"
										ng-change="checkMedicalStatus()"  uib-btn-radio="'N'" required>No</label>
									</div>
								</div>
							</div>
							<div class = "clear"></div>
	    				 </div>
						<div class = "clear"></div>
	    			</div>
					<div class = "clear"></div>
	    			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
	    	</div>
  			
			<div class = "clear"></div>	 
			<div class="row">
				<div class="col-sm-12">
					<span ng-show="pageErrors.medicalError" class="has-error" id="medicalError" style="color:red">{{pageErrors.medicalErrorText}}</span>
				</div>
			</div>
   			<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(1)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="pageErrors.medicalError || medicalForm.$invalid" ng-click="nextSection('3')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>