<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="policyForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Policy</div>
	   		<div class = "clear"></div>
	   		<div class="body">
	   			<div class="main-section">
	   				<div class="proposer-process">
	   					<div class="define">
	   						<img ng-src="./image/info.png">
	   						<span>About Your Policy</span>
	   					</div>
	   					<div class="row mnone">
	   						<div class="col-sm-10" style="margin-bottom:10px;">
	   							
	   								<div class="col-sm-4">
	   									<div class="form-group required">
	   										<label class="control-label">Policy Start Date</label>
	   										<span class="input-group">
											 	<input type="text" class="form-control" name="polStartDate" uib-datepicker-popup="{{format}}" ng-model="proposalInput.policy.policyStartdate"  is-open="opened.policyStartDate" datepicker-options="policyStartDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly required/>
											 	<span class="input-group-btn">
										            	<button type="button" class="btn btn-primary btn_prim " ng-click="open('policyStartDate')"><i class="glyphicon glyphicon-calendar"></i></button>
										          </span>
											 </span>
											 <span class="has-error">{{policyStartDateError}}</span>
	   									</div>
	   							     </div>
	   							     <div class="col-sm-4">
	   									<div class="form-group required">
	   										<label class="control-label">Policy End Date</label>
	   										<input type="text" class="form-control" ng-model="proposalInput.policy.policyEnddate" readonly required>
	   									</div>
	   							     </div>
	   							     <div class = "clear"></div>
	   						</div>
	   						<div class = "clear"></div>
	   					</div>
	   					<div class = "clear"></div>
	   				</div>
	   				<div class = "clear"></div>
	   			</div>
	   			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
	   		</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
	   			<div class="clearfix">
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="policyForm.$invalid" ng-click="nextSection('1')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
	   			</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>