<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="policyForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class = "clear"></div>
     		<div class="body">
     			<div class="main-section">
     				<div class="buy-process">
     					<div id="summary-wrapper">      					
	   						<div class="summary-stage">
	   							<p>Please Review the Information below for correctness and completeness</p>
	   						</div>
	   						
       						<div class="summary-stage">
     							<div class="title">
     								<h4>Policy </h4>
     							    <span class="btn btn-primary" ng-click="back(0)">Edit</span>
     							</div>
     							<div class="stage-body">
     								<div class="col-sm-12" style="margin-bottom:10px;">
										<div class="col-sm-6 list-item-proposer">
											<label class="control-label label-highlight">Policy Start Date:</label>
											<span>{{proposalInput.policy.policyStartdate| date : "dd MMM yyyy"}}</span>
										</div>
										<div class="col-sm-6 list-item-proposer">
											<label class="control-label label-highlight">Policy End Date:</label>
											<span>{{proposalInput.policy.policyEnddate| date : "dd MMM yyyy"}}</span>
										</div>
    								</div>
     							</div>
     						</div> 
     						<div class="summary-stage">
     							<div class="title">
     								<h4>Proposer </h4>
     							    <span class="btn btn-primary" ng-click="back(3)">Edit</span>
     							</div>
     							<div class="stage-body">
     								<div class="col-sm-10" style="margin-bottom:10px;">
										<div class="col-sm-6 list-item-proposer">
											<label class="control-label label-highlight">Name:</label>
											<span>{{proposalInput.proposer.title}} </span>
											<span>{{proposalInput.proposer.firstName}} </span>
											<span>{{proposalInput.proposer.middleName}} </span>
											<span>{{proposalInput.proposer.lastName}} </span>
										</div>
										<div class="col-sm-6 list-item-proposer">
											<label class="control-label label-highlight">Date of Birth:</label>
											<span>{{proposalInput.proposer.proposerDob| date : "dd MMM yyyy"}}</span>
										</div>
										<div class="col-sm-6 list-item-proposer">
											<label class="control-label label-highlight">Gender:</label>
											<span ng-if = "proposalInput.proposer.gender=='M'">Male</span>
											<span ng-if = "proposalInput.proposer.gender=='F'">Female</span>
										</div>
										<div class="col-sm-6 list-item-proposer">
											<label class="control-label label-highlight">PAN:</label>
											<span>{{proposalInput.proposer.pan}}</span>
										</div>
										
										<div class="clear"></div>
									

    								</div>
     							</div>
     						</div>
     						<div class="summary-stage">
     							<div class="title">
     								<h4>Insured Member(s)</h4>
     							    <span class="btn btn-primary" ng-click="back(1)">Edit</span>
     							</div>
     							<div class = "clear"></div>
     							<div class="stage-body">
							  		<div class="row mnone" ng-repeat="member in proposalInput.insured | orderBy: 'member.dob'">
    									<div class="col-sm-12" style="margin-bottom:10px;">
	    									<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Name:</label>
												<span>{{member.title}} </span>
												<span>{{member.firstName}} </span>
												<span>{{member.middleName}} </span>
												<span>{{member.lastName}} </span>
											</div>
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Date of Birth:</label>
												<span>{{member.dob| date : "dd MMM yyyy"}}</span>
											</div>
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Gender:</label>
												<span ng-if = "member.gender=='M'">Male</span>
												<span ng-if = "member.gender=='F'">Female</span>
											</div>
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Relationship with proposer:</label>
												<span>{{getMasterValue("Realtionship", member.relationshipId)}} </span>
											</div>
   									
		   									<div class="col-sm-6">
		   										<div class="form-group required">
		    										<label class="control-label">Do you suffer from any Pre-Existing Conditions?</label>
		    										<div class = "clear"></div>
		    										<div class="btn-group" data-toggle="buttons">
														<label class="btn btn-primary btn_prim" ng-model="member.isPED" ng-class="{'active':member.isPED=='Y'}"  
														uib-btn-radio="'Y'" ng-disabled="'true'">Yes</label>
														<label class="btn btn-primary btn_prim" ng-model="member.isPED" ng-class="{'active':member.isPED=='N'}"  
														uib-btn-radio="'N'" ng-disabled="'true'">No</label>
													</div>
												</div>
		   									</div>
		   									
				   							<div ng-if="insured.isPED=='Y'" class="col-sm-6">
				   							   <div class="form-group required" ng-class="{'has-error':memberForm.illness.$invalid && ! memberForm.illness.$pristine}">
				    								<label class="control-label">Pl Specify illness</label>
				    								<input type="text" name="illness" class="form-control field" ng-minlength="3" ng-maxlength="40" ng-model="member.ped" required>
				   								</div>
				   							</div>
   											<div class="clear"></div>
				   							<div class="col-sm-6">
				   							   <div class="form-group required" ng-class="{'has-error':memberForm.nomineeName.$invalid && ! memberForm.nomineeName.$pristine}">
				    								<label class="control-label">Nominee Name</label>
				    								<span>{{member.nomineeName}} </span>
				   								</div>
				   							</div>
				   							
											<div class="col-sm-6">
												<label class="control-label label-highlight">Relationship with Nominee:</label>
												<span>{{getMasterValue("NomineeRel", member.nomineeRel)}} </span>
											</div>
    									</div>
    									<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
    								</div>
    								<div class = "clear"></div>
    								
     							</div>
     						</div>
    						<div class="summary-stage">
     							<div class="title">
     								<h4>Contact Info. </h4>
     							    <span class="btn btn-primary" ng-click="back(4)">Edit</span>
     							</div>
     							<div class = "clear"></div>
     							<div class="stage-body">
									<div class="row mnone">
										<div class="col-sm-12 add-borde"> 
				    						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Contact Details</h3>
				    						
	    									<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">Mailing Address:</label><br>
												<span>{{proposalInput.proposer.corrAddressLine1}}</span><br>
												<span>{{proposalInput.proposer.corrAddressLine2}} </span><br>
												<span>{{proposalInput.proposer.corrArea}} </span><br>
												<span>{{proposalInput.proposer.corrLandmark}} </span><br>
												<span>{{proposalInput.proposer.corrCity}} </span><br>
												<span>{{proposalInput.proposer.corrState}} </span><br>
												<span>{{proposalInput.proposer.corrPincode}} </span><br>
											</div>
											
											<div class="col-sm-6 list-item-proposer">
												<label class="control-label label-highlight">E-mail:</label>
												<span>{{proposalInput.proposer.email}}</span><br>
												<label class="control-label label-highlight">Mobile:</label>
												<span>{{proposalInput.proposer.mobile}}</span><br>
												<label class="control-label label-highlight">Landline:</label>
												<span>{{proposalInput.proposer.stdCode}}-{{proposalInput.proposer.landLine}}</span>
											</div>
											
											
																						
											<div class="col-sm-6 list-item-proposer">
												
											</div>
				    					</div>
			    					</div>
     							</div>
     						</div>
     						<div class="summary-stage" ng-show ="isPPC" >
     							<div class = "clear"></div>
     							<div class="title">
     								<h4>UW Approval </h4>
     							    <span class="btn btn-primary" ng-click="back(2)">Edit</span>
     							</div>
     							<div class = "clear"></div>
     							<div class="stage-body">
     								<div class = "clear"></div>
     								<div class="row mnone">
										<div class="form-group required">
											<label class="control-label">Your Policy is subject to Medical Underwriting. Do you want to proceed?</label>
											<div class = "clear"></div>
											<div class="btn-group" data-toggle="buttons">
												<label class="btn btn-primary btn_prim" ng-model="proposalInput.policy.ppcPedAccepted" ng-class="{'active':proposalInput.policy.ppcPedAccepted=='Y'}"  
												ng-change="checkMedicalStatus()" uib-btn-radio="'Y'" ng-disabled="'true'">Yes</label>
												<label class="btn btn-primary btn_prim" ng-model="proposalInput.policy.ppcPedAccepted" ng-class="{'active':proposalInput.policy.ppcPedAccepted=='N'}"
												ng-change="checkMedicalStatus()"  uib-btn-radio="'N'" ng-disabled="'true'">No</label>
											</div>
										</div>
					    				<div class = "clear"></div>
					    			</div>		
     							</div>
     						</div>
     						
   							<div class = "clear"></div>
	   						<div class="summary-stage">
	   							<div class="title">
	   								<h4>DECLARATION</h4>
	   							</div>
	   							<div class = "clear"></div>
	   							<div class="agree-field">            
	                           		<label id="chkSiDetailsL" class="control-label label-block" style="padding-top: 0px;">&nbsp;Please read the <a href="javascript:void(0);" ng-click="showTC()" >Terms &amp; Conditions</a> &nbsp;<span> and provide your consent</span></label>           
	                          	</div>
	                          	<div class = "clear"></div>
	   						</div>
     						<div class = "clear"></div>
     						<div class="summary-stage">
     							<div class="title">
     								<h4>SECTION 41 INSURANCE ACT (PROHIBITION OF REBATES)</h4>
     							</div>
     							<div class="stage-body">
     								<p>1) No person shall allow or offer to allow, either directly or indirectly, as an inducement to any person to take or renew or continue an insurance in respect of any kind of risk relating to lives or property in India, any rebate of the whole or part of the commission payable or any rebate of premium shown on the policy, nor shall any person taking out or renewing or continuing a policy accept any rebate, except such rebate as may be allowed in accordance with the prospectus or tables of the insurers.</p>
     								<p>2) Any person making default in complying with the provisions of this section shall be punishable with fine which may extend to five hundred rupees.</p>
     							</div>
     						</div>
     						<div class="row mnone" style="position:relative">
     							
			                    <div class="summary-stage">
				                	<div class="col-sm-12">
				  					<div class="agree-box">
				                        <div class="item">        
				                        	<div class="agree-field">            
				                        		<span style="color:red">{{proposalError.key}}
				                        			<ol>
				                        				<li style="color:red;" ng-repeat="errorPirnts in proposalError.errorPirnt track by $index">{{errorPirnts}}</li>
				                        			</ol>
				                        		</span>
				                        	</div>            
				                       	</div>              
				                   	</div>    
				                    </div>
				                </div>
			                </div>
     					</div>
     				</div>
     			</div>
     			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
     		</div>
   			<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
				<div class="clearfix">
    				<div class="cf-pull-right">
    					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(4)" style="/* display: none; */">
                             <img ng-src="./image/arrow-left.png">&nbsp;Back
                         </button>
    					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled = "proposalInput.policy.tcAgree != 'Y'" ng-click="makePayment()">Make Payment <img ng-src="./image/arrow-right.png"></button>
    				</div>
				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>