<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="aboutyourself" novalidate autocomplete="off">
		<div class="form-panel col-sm-12 col-md-12">
			<div class="about-yourself heads">About Proposer</div>
			
			<div class="col-sm-4  col-md-4">
				<div class="form-group required" ng-class="{'has-error':aboutyourself.isProposerSameInsured.$invalid && !aboutyourself.isProposerSameInsured.$pristine }">
					<label class="control-label label-block">Is Proposer same as Insured?</label>
					
					<!-- data-toggle="buttons" -->
					<div class="btn-group" >
						<label class="btn btn-primary" uib-btn-radio="'Y'" ng-model="proposalInput.insured.isProposerSameInsured"  ng-click="isProposerSameInsureds('Y')"
						ng-class="{'active':proposalInput.insured.isProposerSameInsured=='Y'}" required>
						Yes</label>
						<label class="btn btn-primary" uib-btn-radio="'N'" ng-model="proposalInput.insured.isProposerSameInsured"  ng-click="isProposerSameInsureds('N')" ng-class="{'active':proposalInput.insured.isProposerSameInsured=='N'}" required>
							
						No</label>
					</div>
				</div>
			</div>
			
			<div class="clear"></div>
			
			<div ng-if = "proposalInput.insured.isProposerSameInsured=='N'">
				
				<div class="col-sm-4  col-md-4" >
					<div class="form-group required" ng-class="{'has-error':aboutyourself.title.$invalid && !aboutyourself.title.$pristine }">
						<label class="control-label label-block">Salutation</label>
						<select class="form-control field" name="title"  ng-model="proposalInput.proposer.title"  required>
							<option value="">Select</option>
							<option ng-repeat="item in insurerMaster.Title" value="{{item.id}}" >{{item.value}}</option>
						</select>
					</div>
				</div>
				
							
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.firstname.$invalid && !aboutyourself.firstname.$pristine }">
						<label class="control-label label-block" >First Name</label>
						<input type="text" name="firstname" class="form-control field"  ng-model="proposalInput.proposer.firstName" ng-minlength="3" ng-required="true">
						<span class="errorMsg" ng-show="aboutyourself.firstname.$error.required  && !aboutyourself.firstname.$pristine">This field is required</span>
						<span class="errorMsg" ng-show="aboutyourself.firstname.$error.minlength  && !aboutyourself.firstname.$pristine">Minimum char is 3.</span>
					</div>
					
				</div>
				
				
				<div class="col-sm-4   col-md-4">
					<div class="form-group ">
						<label class="control-label label-block" >Middle Name</label>
						<input type="text" name="middleName" class="form-control field"  ng-model="proposalInput.proposer.middleName" ng-minlength="3">
					</div>
				</div>
				
							
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.lname.$invalid && !aboutyourself.lname.$pristine }">
						<label class="control-label label-block">Last Name</label>
						<input type="text" ng-model="proposalInput.proposer.lastName" name="lname" class="form-control field" ng-minlength="3" required>
						<span class="errorMsg" ng-show="aboutyourself.lname.$error.required && !aboutyourself.lname.$pristine">This field is required</span>
						<span class="errorMsg" ng-show="aboutyourself.lname.$error.minlength && !aboutyourself.lname.$pristine">Minimum char is 3.</span>
					</div>
				</div>
				
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.gender.$invalid && !aboutyourself.gender.$pristine }">
						<label class="control-label label-block">Gender</label>
						<div class ="clear"></div>
						<!--  data-toggle="buttons" -->
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" uib-btn-radio="'M'"  ng-model="proposalInput.proposer.gender" readonly ng-class="{active: proposalInput.proposer.gender =='M'}">
		            			Male
		       				</label>
		       				<label class="btn btn-primary" uib-btn-radio="'F'"  ng-model="proposalInput.proposer.gender" readonly ng-class="{active: proposalInput.proposer.gender =='F'}">
		            			Female
		       				</label>
						</div>
					 	
				        <span class="errorMsg" ng-show="aboutyourself.gender.$error.required && !aboutyourself.gender.$pristine">This field is required</span>
					</div>
				</div>
				
				<div class="col-sm-4 col-md-4 form-group required" ng-class="{'has-error':aboutyourself.relLI.$invalid && !aboutyourself.relLI.pristine}">
					<label class="control-label label-block" >Relationship with Insured</label>
						<select class="form-control field" name="relLI"  ng-model="proposalInput.proposer.relationshipWithLi"  required>
							<option value="">Select</option>
							<option ng-repeat="item in insurerMaster.ProposerRel" value="{{item.id}}" >{{item.value}}</option>
						</select>
			        <span class="errorMsg" ng-show="aboutyourself.relLI.$error.required && !aboutyourself.relLI.$pristine ">This field is required</span>
				</div>	
				
				<div class="col-sm-4 col-md-4 form-group required" ng-class="{'has-error':aboutyourself.marital.$invalid && !aboutyourself.marital.pristine}">
					<label class="control-label label-block" >Your Marital Status</label>
						<select class="form-control field" name="title"  ng-model="proposalInput.proposer.maritalStatus"  required>
							<option value="">Select</option>
							<option ng-repeat="item in insurerMaster.MaritalStatus" value="{{item.id}}" >{{item.value}}</option>
						</select>
			        <span class="errorMsg" ng-show="aboutyourself.marital.$error.required && !aboutyourself.marital.$pristine ">This field is required</span>
				</div>
				
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.dob.$invalid && !aboutyourself.dob.$pristine }">
						<label class="control-label label-block" >Date Of Birth</label>
						<span class="input-group">
		                    <input type="text" class="form-control" name="dob" id="dob" 
		          			uib-datepicker-popup="{{format}}" ng-model="proposalInput.proposer.dob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  readonly="readonly" required="required" />
		                  	<span class="input-group-btn">
		                    	<button type="button" class="btn btn-primary" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
		                  	</span>
		        		</span>
		        		<span class="errorMsg" ng-show="aboutyourself.dob.$error.required && !aboutyourself.dob.$pristine">This field is required</span>
					</div>
				</div>
				
							
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.ageProof.$invalid && !aboutyourself.ageProof.$pristine }">
						<label class="control-label label-block">Age proof </label>
						<select class="form-control" name="ageProof" ng-model="proposalInput.proposer.ageProofType" required>
							<option ng-repeat="item in insurerMaster.AGEPROOF" value="{{item.id}}" >{{item.value}}</option>
						</select>
						<span class="errorMsg" ng-show="aboutyourself.ageProof.$error.required && !aboutyourself.ageProof.$pristine">This field is required</span>
					</div>
				</div>
					
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.birthState.$invalid && !aboutyourself.birthState.$pristine }">
						<label class="control-label label-block">Birth State </label>
						<select class="form-control" name="birthState" ng-model="proposalInput.proposer.birthState" required>
							<option value="">Select</option>
							<option value="{{state.id}}" ng-repeat="state in insurerMaster.State">{{state.value}}</option>
						</select>
						<span class="errorMsg" ng-show="aboutyourself.birthCountry.$error.required && !aboutyourself.birthCountry.$pristine">This field is required</span>
					</div>
				</div>
						
							
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.birthCity.$invalid && !aboutyourself.birthCity.$pristine }">
						<label class="control-label label-block">Birth City</label>
						<input type="text" name="birthCity" class="form-control field"  ng-model="proposalInput.proposer.birthCity" required>
						<span class="errorMsg" ng-show="aboutyourself.birthCity.$error.required && !aboutyourself.birthCity.$pristine">This field is required</span>
						
						
					</div>
				</div>
				
				
				<div class="col-sm-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.fatherfirstName.$invalid && !aboutyourself.fatherfirstName.$pristine}">
						<label class="control-label label-block" >Father/Spouse First Name</label>
						<input type="text" name="fatherfirstName" class="form-control field"  ng-model="proposalInput.proposer.fatherSpouseFirstName" required>
						<span class="errorMsg" ng-show="aboutyourself.fatherfirstName.$error.required && !aboutyourself.fatherfirstName.$pristine">This field is required</span>
					</div>
				</div>
				
				
				<div class="col-sm-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.fatherLastName.$invalid && !aboutyourself.fatherLastName.$pristine}">
						<label class="control-label label-block" >Father/Spouse Last Name</label>
						<input type="text" name="fatherLastName" class="form-control field"  ng-model="proposalInput.proposer.fatherSpouseLastName" required>
						<span class="errorMsg" ng-show="aboutyourself.fatherLastName.$error.required && !aboutyourself.fatherLastName.$pristine">This field is required</span>
					</div>
				</div>
				
						
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.panNumber.$dirty && aboutyourself.panNumber.$invalid }">
						<div class="col-sm-12 padd0">
						<!-- ng-pattern="/^[a-zA-Z0-9]+$/" {5}[0-9]{4}[A-Za-z]{1} -->
						<label class="control-label label-block">PAN Number</label>
						<input type="text" name="panNumber" class="form-control" ng-model="proposalInput.proposer.pan" ng-pattern="/^[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}$/" required ng-maxlength="10" maxlength="10">
						</div>
			        </div>
		        </div>
		        
		        <div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.panNumber.$dirty && aboutyourself.panNumber.$invalid }">
						<div class="col-sm-12 padd0">
						<!-- ng-pattern="/^[a-zA-Z0-9]+$/" {5}[0-9]{4}[A-Za-z]{1} -->
						<label class="control-label label-block">AADHAR Number</label>
						<input type="number" name="aadhar" class="form-control" ng-model="proposalInput.proposer.uid" ng-pattern="/[0-9]{12}/" required ng-maxlength="12" maxlength="12">
						</div>
			        </div>
		        </div>
					
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.nrv.$invalid && !aboutyourself.nrv.$pristine }">
						<label class="control-label label-block">Net Relationship Value</label>
						<input type="number" name="nrv" class="form-control" ng-min = "0" mg-max ="1000000000" ng-model="proposalInput.proposer.nrv" >
						<span class="errorMsg" ng-show="aboutyourself.nrv.$error.required && !aboutyourself.nrv.$pristine">This field is required</span>
					</div>
				</div>
				
					
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.relPeriod.$invalid && !aboutyourself.relPeriod.$pristine }">
						<label class="control-label label-block">Relationship Years</label>
						<input type="number" name="relPeriod" class="form-control" ng-min = "0" mg-max ="100" ng-model="proposalInput.proposer.relPeriod" >
						<span class="errorMsg" ng-show="aboutyourself.relPeriod.$error.required && !aboutyourself.relPeriod.$pristine">This field is required</span>
					</div>
				</div>
				
				<div ng-if = "proposalInput.proposer.gender =='F'" class="col-sm-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.maidenName.$invalid && !aboutyourself.maidenName.$pristine}">
						<label class="control-label label-block" >Maiden Name</label>
						<input type="text" name="maidenName" class="form-control field"  ng-model="proposalInput.proposer.maidenName" required>
					</div>
				</div>
				
				<div class= "clear"></div>
				
				<div class="col-sm-4   col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.nationality.$invalid && !aboutyourself.nationality.$pristine }">
						<label class="control-label label-block">Nationality</label>
						<select class="form-control" name="nationality" ng-model="proposalInput.proposer.nationality" required>
							<option value="">Select</option>
							<option value="{{country.id}}" ng-repeat="country in insurerMaster.Nationality">{{country.value}}</option>
						</select>
					</div>
					<div ng-if = "proposalInput.proposer.nationality =='O'" class="col-sm-4">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.otherNationality.$invalid && !aboutyourself.otherNationality.$pristine}">
							<label class="control-label label-block" >Other Nationality</label>
							<input type="text" name="otherNationality" class="form-control field"  ng-model="proposalInput.proposer.otherNationality" required>
						</div>
					</div>
				</div>	
				
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.nationality.$invalid && !aboutyourself.nationality.$pristine }">
						<label class="control-label label-block">Are you a tax resident of any other country?</label>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="proposalInput.proposer.isOtherCountryTaxResi" ng-class="{active: proposalInput.proposer.isOtherCitizenship =='Y'}">
		            			Yes
		       				</label>
		       				<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="proposalInput.proposer.isOtherCountryTaxResi" ng-class="{active: proposalInput.proposer.isOtherCitizenship =='N'}">
		            			No
		       				</label>
						</div>
					</div>
					
					<div ng-if = "proposalInput.proposer.isOtherCountryTaxResi=='Y'">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.residence.$invalid && !aboutyourself.residence.$pristine }">
							<label class="control-label label-block">Please provide other country name</label>
							<input type="text" name="otherNationality" class="form-control field"  ng-model="proposalInput.proposer.otherCountryTaxNo" required>
						</div>
					</div>
				</div>	
							
				<!--  Row 8   -->
				<div class="col-sm-4 col-md-4">
					<div class="form-group required" ng-class="{'has-error':aboutyourself.isOtherCitizenship.$invalid && !aboutyourself.isOtherCitizenship.$pristine }">
						<label class="control-label label-block">Are you holding citizenship of any other country?</label>
						<!--  data-toggle="buttons" -->
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" uib-btn-radio="'Y'"  ng-model="proposalInput.proposer.isOtherCitizenship" ng-class="{active: proposalInput.proposer.isOtherCitizenship =='Y'}">
		            			Yes
		       				</label>
		       				<label class="btn btn-primary" uib-btn-radio="'N'"  ng-model="proposalInput.proposer.isOtherCitizenship" ng-class="{active: proposalInput.proposer.isOtherCitizenship =='N'}">
		            			No
		       				</label>
						</div>
					</div>
						
					<div ng-if = "proposalInput.proposer.isOtherCitizenship =='Y'">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.otherCitizenshipCountry.$invalid && !aboutyourself.otherCitizenshipCountry.$pristine }">
							<label class="control-label label-block">Other Citizenship</label>
							<input type="text" name="otherCitizenshipCountry" class="form-control field"  ng-model="proposalInput.proposer.otherCitizenshipCountry" required>
						</div>
					</div>
				</div>
								
				
				<div class= "clear"></div>
				<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>	
							
				<div class= "clear"></div>
				
				<!--  Employment Details  -->
							
				<div class="employee heads">Employment Details</div>
				
				<div class="col-sm-12 formSection" >
									
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.Proorganisation.$invalid && ! aboutyourself.organisation.$pristine}">
							<label class="control-label label-block">Name of Organisation/Business </label>
							<input type="text" name="Proorganisation" class="form-control field" ng-model="proposalInput.proposer.employmentDetails.employerName" required>
							<span class="errorMsg" ng-show="aboutyourself.Proorganisation.$error.required && !aboutyourself.Proorganisation.$pristine">This field is required</span>
						</div>				
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.ProtypeOfOrganisation.$invalid && !aboutyourself.ProtypeOfOrganisation.$pristine}">
							<label class="control-label label-block">Type of Organisation</label>
							<select class="form-control" name="ProtypeOfOrganisation" ng-model="proposalInput.proposer.employmentDetails.organizationType" required>
								<option value="">Select</option>
								<option value="{{organization.id}}" ng-repeat="organization in insurerMaster.OrganizationType">{{organization.value}}</option>
							</select>
						</div>				
					</div>
					
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.Prodesignation.$invalid && !aboutyourself.Prodesignation.$pristine}">
							<label class="control-label label-block">Your Designation </label>
							<input type="text" name="Prodesignation" class="form-control field" ng-model="proposalInput.proposer.employmentDetails.designation" required>
							<span class="errorMsg" ng-show="aboutyourself.Prodesignation.$error.required && !aboutyourself.Prodesignation.$pristine">This field is required</span>
						</div>				
					</div>
					
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.employerYears.$invalid && !aboutyourself.employerYears.$pristine}">
							<label class="control-label label-block">Years with Employer  </label>
							<input type="text" name="employerYears" class="form-control field" ng-model="proposalInput.proposer.employmentDetails.workExperinceInYears" ng-keypress="filterValue($event)" required>
							<span class="errorMsg" ng-show="aboutyourself.employerYears.$error.required && !aboutyourself.employerYears.$pristine">This field is required</span>
						</div>				
					</div>
					
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.busNature.$invalid && !aboutyourself.busNature.$pristine}">
							<label class="control-label label-block">Business Nature</label>
							<input type="text" name="busNature" class="form-control field" ng-model="proposalInput.proposer.employmentDetails.businessNature" required>
						</div>				
					</div>
					
					
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.exactNatureofDuty.$invalid && !aboutyourself.exactNatureofDuty.$pristine}">
							<label class="control-label label-block">Exact Nature of Work</label>
							<input type="text" name="Prodesignation" class="form-control field" ng-model="proposalInput.proposer.employmentDetails.natureOfDuties" required>
						</div>				
					</div>
					
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.ProeduQualification.$invalid && !aboutyourself.ProeduQualification.$pristine}">
							<label class="control-label label-block">Educational Qualification </label>
							<select class="form-control" name="ProeduQualification" ng-model="proposalInput.proposer.employmentDetails.qualification">
								<option value="">Select</option>
								<option value="{{educationalQuali.id}}" ng-repeat="educationalQuali in insurerMaster.Qualification">{{educationalQuali.value}}</option>
							</select>
						</div>
						
						<div class="form-group required" ng-if="proposalInput.proposer.employmentDetails.qualification=='T'" ng-class="{'has-error':aboutyourself.ProotherQuli.$invalid && !aboutyourself.ProotherQuli.$pristine}">
							<label class="control-label label-block">Other Qualification </label>
							<input type="text" name="ProotherQuli" class="form-control" ng-model="proposalInput.proposer.employmentDetails.OtherQualification" required>
						</div>				
					</div>
					
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.Prooccupation.$invalid && !aboutyourself.Prooccupation.$pristine}">
							<label class="control-label label-block">Occupation </label>
							<select  class="form-control field" name="Prooccupation" ng-model="proposalInput.proposer.employmentDetails.occupation" required>
								<option value="">Select</option>
								<option value="{{occupation.id}}" ng-repeat="occupation in insurerMaster.Occupation">{{occupation.value}}</option>
							</select>
						</div>
						<div class="form-group required" ng-if="proposalInput.proposer.employmentDetails.occupation==95" ng-class="{'has-error':aboutyourself.ProotherOccupation.$invalid && !aboutyourself.ProotherOccupation.$pristine}">
							<label class="control-label label-block">Other Occupation</label>
							<input type="text" name="ProotherOccupation" class="form-control" ng-model="proposalInput.proposer.employmentDetails.otherOccupation" required>
						</div>				
					</div>
					
					
					<div class="clear"></div>
					
					<div class="col-sm-12">
						<div class="section"><div class="section-heading">Income details</div></div>
					</div>
					
					<div class="col-sm-4 col-md-4">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.ProlifeAssured.$invalid && !aboutyourself.ProlifeAssured.$pristine}">
							<label class="control-label label-block">Are You earning?</label>
							<div class="btn-group required" data-toggle="buttons">
								<label class="btn btn-primary" ng-class="{'active':proposalInput.proposer.employmentDetails.earning=='Y'}" ng-model="proposalInput.proposer.employmentDetails.earning" uib-btn-radio="'Y'" required>
									<!-- <input type="radio" name="ProlifeAssured" value="Y" ng-model="proposalInput.proposer.employmentDetails.notEarning" required> -->Yes
								</label>
								<label class="btn btn-primary" ng-class="{'active':proposalInput.proposer.employmentDetails.earning=='N'}" ng-model="proposalInput.proposer.employmentDetails.earning" uib-btn-radio="'N'" required>
									<!-- <input type="radio" name="ProlifeAssured" value="N" ng-model="proposalInput.proposer.employmentDetails.notEarning" required> -->No
								</label>
							</div>
						</div>
					</div>
					
					<div class="clear"></div>
						
					<div class="col-sm-4 col-md-4" ng-if="proposalInput.proposer.employmentDetails.earning=='Y'">
						<div class="form-group"  ng-class="{'has-error':aboutyourself.ProlifeAssured.$invalid && !aboutyourself.ProlifeAssured.$pristine}">
							<label class="control-label label-block">Life Assured's Annual income Rs  </label>
							<input type="text" name="ProlifeAssured" class="form-control field" ng-model="proposalInput.proposer.employmentDetails.annualIncome" ng-keypress="filterValue($event)" required>
							<span class="errorMsg" ng-show="aboutyourself.lifeAssured.$error.required && ! aboutyourself.lifeAssured.$pristine">This field is required</span>
						</div>
					</div>
					        
					
					<div class="col-sm-4 col-md-4" ng-if="proposalInput.proposer.employmentDetails.earning=='Y'">
						<div class="form-group required" ng-class="{'has-error':aboutyourself.incomeProof.$invalid && !aboutyourself.incomeProof.$pristine }">
							<label class="control-label label-block">Income proof </label>
							<select class="form-control" name="incomeProof" ng-model="proposalInput.proposer.incomeProofType" required>
								<option ng-repeat="item in insurerMaster.INCOMEPROOF" value="{{item.id}}">{{item.value}}</option>
							</select>
							<span class="errorMsg" ng-show="aboutyourself.incomeProof.$error.required && !aboutyourself.incomeProof.$pristine">This field is required</span>
						</div>
					</div>
						
					<div class="clear"></div>
						
					<div ng-if="proposalInput.proposer.employmentDetails.earning=='N'">
						<div class="col-sm-4 col-md-4">
							<div class="form-group required" ng-class="{'has-error':aboutyourself.ProParentSpouseAnnualIncome.$invalid && !aboutyourself.ProParentSpouseAnnualIncome.$pristine}">
								<label class="control-label label-block">If not earning, state Parent's / Spouse's Annual Income Rs</label>
								<input type="text" name="ProParentSpouseAnnualIncome" class="form-control" ng-model="proposalInput.proposer.employmentDetails.ParentSpouseAnnualIncome" required>
							</div>
						</div>
						<div class="col-sm-4 col-md-4">
							<div class="form-group required" ng-class="{'has-error':aboutyourself.ProParentSpouseInsuranceCover.$invalid && !aboutyourself.ProParentSpouseInsuranceCover.$pristine}">
								<label class="control-label label-block">For Student/Non earning (Single), state Parents Insurance cover Rs</label>
								<input type="text" name="ProParentSpouseInsuranceCover" class="form-control" ng-model="proposalInput.proposer.employmentDetails.ParentSpouseInsuranceCover"  required>
							</div>
						</div>
						<div class="col-sm-4 col-md-4">
							<div class="form-group" required ng-class="{'has-error':aboutyourself.ProForHousewifeOccInsuranceCover.$invalid && !aboutyourself.ProForHousewifeOccInsuranceCover.$pristine}">
								<label class="control-label label-block">For House wife, state Spouse Insurance cover Rs</label>
								<input type="text" name="ProForHousewifeOccInsuranceCover" class="form-control" ng-model="proposalInput.proposer.employmentDetails.ForHousewifeOccInsuranceCover" required>
							</div>
						</div>
					</div>
						
					<div class="clear"></div>
					<br><br>
				</div>				
			</div>
			
			<div class = "clear"></div>
		   	<div class="foot">
				<div class="clearfix">
					<div class="cf-pull-left">
						<button class="btn cf-btn btn-lg btn-gry" ng-click="prev(0)" style="/* display: none; */">
		                     <img ng-src="./image/arrow-left.png">&nbsp;Back
		                </button>
		            </div>
					<div class="cf-pull-right">
						<button class="btn cf-btn btn-lg btn-primary " ng-disabled="aboutyourself.$invalid" ng-click="saveandProceed(2)">Continue <img ng-src="./image/arrow-right.png"></button>
					</div>
				</div>
		 	</div>
		</div>
	</form>
</div>