<div class="proposal_form" ng-controller="bsliProposalCtrl">
	<div class="container">
	<div class="wrap-bg">
		<div class="policy-panel">
			<div class="row mnone">
				<div class="col-xs-12  cf-title clearfix">
					<div class="back-to-results" ng-click="backPreviousPage()" > Back to results</div>
				    <div style="padding:5px 0px 0px;">Buy Life Insurance</div>
				</div>
				<div class="col-xs-4 col-sm-2 pnone">
					<div class="insurer-img">
						<img class="img-responsive" ng-src = "./image/ilogo/i{{proposalInput.policy.insurerId}}.png">
						
					</div>
				</div>
				<div class="col-xs-8 col-sm-10 pnone" style="border-left:1px solid #eaeaea;">
					<div class="pol-name"> 
						<span>{{proposalInput.policy.productName}}</span>
					</div>
					<div class="pol-val">
						<span>Sum Assured</span>
						<span class="value">{{proposalInput.policy.basicSumAssured| currency : "&#8377;" : 0}}</span>
						<br class="visible-xs visible-sm">
						<span>Policy Term</span>
						<span class="value">{{proposalInput.policy.pt}} Years</span>
						<br class="visible-xs visible-sm">
						<span>Payment Term</span>
						<span class="value">{{proposalInput.policy.ppt}} Years</span>
						<br class="visible-xs visible-sm">
						<span>ANNUAL PREMIUM</span>
						<span class="value">{{proposalInput.policy.modalPremium| currency : "&#8377;" : 0}}</span>
						<span class="val-typ" style="font-size: 12px;">(Includes 18.0% GST)*</span>
					</div>
				</div>
				
			</div>
		</div>
		<div ng-if="loading" class="loading">
	    	<div class="ctralign"><img ng-src = "./image/loading.gif"></div>
		</div>
		<div id="stage_data" ng-if="!loading">
		
			<uib-tabset vertical="true" justified= "true" class="wizard-track" active="active" >
				<uib-tab index="0"  class="track_li" classes="{{tabStatus.firstComplete}}" ng-style="{width:'10%'}">
			    	<uib-tab-heading>Insured<span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src=" './templates/proposal/life/bsli/aboutInsured.html'"></div>
				</uib-tab>
				<uib-tab index="1"  ng-show ="proposalInput.policy.jointLife" class="track_li" classes="{{tabStatus.firstComplete}}" ng-style="{width:'12.5%'}">
			    	<uib-tab-heading>Sec Insured <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src=" './templates/proposal/life/bsli/aboutYourself.html'"></div>
				</uib-tab>
				<uib-tab index="2"  ng-show ="proposalInput.insured.isProposerSameInsured=='N'" class="track_li" classes="{{tabStatus.firstComplete}}" ng-style="{width:'12.5%'}">
			    	<uib-tab-heading>Proposer <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src=" './templates/proposal/life/bsli/aboutYourself.html'"></div>
				</uib-tab>
				<uib-tab index="3"  class="track_li" classes="{{tabStatus.firstComplete}}" ng-style="{width:'12.5%'}">
			    	<uib-tab-heading>Health & Lifestyle<span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/life/bsli/health-history.html'"></div>
				</uib-tab>
				<uib-tab index="3"  class="track_li" classes="{{tabStatus.firstComplete}}" ng-style="{width:'12.5%'}">
			    	<uib-tab-heading>Address <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/life/bsli/contactInformation.html'"></div>
				</uib-tab>
				<uib-tab index="4"  class="track_li" classes="{{tabStatus.firstComplete}}" ng-style="{width:'12.5%'}">
			    	<uib-tab-heading>Medical <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/life/bsli/medical.html'"></div>
				</uib-tab>
				<uib-tab index="5"  class="track_li" classes="{{tabStatus.firstComplete}}" ng-style="{width:'12.5%'}">
			    	<uib-tab-heading>Payment <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/life/bsli/bankdetail.html'"></div>
				</uib-tab>
				<uib-tab index="6"  class="track_li" classes="{{tabStatus.firstComplete}}" ng-style="{width:'12.5%'}">
			    	<uib-tab-heading>Documents <span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/life/bsli/documentUpload.html'"></div>
				</uib-tab>
				<uib-tab index="7"  class="track_li" classes="{{tabStatus.firstComplete}}" ng-style="{width:'12.5%'}">
			    	<uib-tab-heading>Confirmation<span><img class="check" ng-src="./image/checkmarks.png"></span> </uib-tab-heading>
					<div ng-include src="'./templates/proposal/life/bsli/confirmation.html'"></div>
				</uib-tab>
			</uib-tabset>

		</div>
	</div>
	</div>
</div>