
<div>
<div class="document page-heading">Confirmation</div>
	
	<div class="clear"></div>
	<div>
		<div class="col-sm-10">
			<label class="control-label label-block"></label>
			<span> Your application for {{proposalInput.policy.productName}} along with the required documents has been submitted to the Insurer.<br>
			Your application reference number is {{proposalInput.policy.insurerPolicyNo}}. Please make a note of this number and quote it for any future correspondence on this application.
			The insurer will process and your documents and revert back to you.</span>    
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>	
</div>	
