<div class="about-yourself page-heading">Funds</div>
<form class="form-horizontal form_horizontal" name="funds" novalidate>
	<div class="col-sm-12">
	
		<div class="col-sm-5 col-md-5">
				<div class="form-group required">
					<label class="control-label">Fund Name</label>
					<select class="form-control" name="fundid" ng-model="fund.id" required>
						<option value="">Select</option>
						<option value="{{fund.id}}" ng-repeat="fund in insurerMaster.funds">{{fund.value}}</option>
					</select>
				</div>
		</div>
		<div class="col-sm-2 col-md-2"></div>
		<div class="col-sm-5 col-md-5">
			<div class="form-group required">
				<label class="control-label">Allocation Percent</label>
				<select class="form-control" name="fundalloc" ng-model="fund.allocation" required>
						<option value="">Select</option>
						<option value="'5'">5%</option>
						<option value="'10'">10%</option>
						<option value="'15'">15%</option>
						<option value="'20'">20%</option>
						<option value="'25'">25%</option>
						<option value="'30'">30%</option>
						<option value="'35'">35%</option>
						<option value="'40'">40%</option>
						<option value="'45'">45%</option>
						<option value="'50'">50%</option>
						<option value="'55'">55%</option>
						<option value="'60'">60%</option>
						<option value="'65'">65%</option>
						<option value="'70'">70%</option>
						<option value="'75'">75%</option>
						<option value="'80'">80%</option>
						<option value="'85'">85%</option>
						<option value="'90'">90%</option>
						<option value="'95'">95%</option>
						<option value="'100'">100%</option>
				</select>
			</div>
		</div>
		<div><span><button class="btn btn-primary pull-right" ng-disabled="!checkAllocation()" ng-click="addEditfund()">Add</button></span></div>
	
		<div class="table-responsive">
			
			<table ng-show = "proposalInput.funds.length>0" class="table table-bordered">
				<thead>
					<tr >
					    <th>Fund Name</th>
					    <th>Allocation</th>
					</tr>
				</thead>
				<tbody>
						<tr ng-repeat= "fund in funds">
							<td>{{fund.name}}</td>
							<td>{{fund.allocation}}</td>
						</tr>
				</tbody>
			</table>
		</div>
				
		<div class="col-sm-12">
			<div class="prev-small-green"><a href="javascript:void(0);" ng-click="setTab(7);prev(7)" class="" id="link">Previous</a></div>
				<button type="button" name="Continue" id="Continue" value="Continue" ng-click="saveandProceed(9)" class="submitBtn-small btn btn-primary" ng-disabled="proposalInput.funds.length>0"><div class="btn-icon-small continue-small"></div><div class="btn-text">Continue</div></button>
		</div>
	</div>
</form>