<header class="header">
	<nav class="navbar navbar-defualt navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle navbar_toggle collapsed" data-target="#navbar" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
					<span class="sr-only"></span>
					<span class="icon-bar" style="border-top: 3px solid #0154ba !important;"></span>
					<span class="icon-bar" style="border-top: 3px solid #0154ba !important;"></span>
					<span class="icon-bar" style="border-top: 3px solid #0154ba !important;"></span>
				</button>
				<a class="navbar-brand">
					<img ng-src="./image/logo.png" alt="logo" class="img-responsive">
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse " ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
				 <ul class="nav navbar_nav navbar-nav navbar-right">
				 	<li class="know">
				 		<a class="linkKnowMore" href="#">Know More</a>
				 	</li>
				 	<li class="mail">
				 		<a href="#" class="iconBox phoneNumber"><i class="icon icon-span"></i>Call Me Now</a>
				 	</li>
				 	<li class="mob-none">
				 		<a href="#" class="iconBox phoneNumber"><i class="icon icon-outgoing"></i>1800 - 103 - 8000</a>
				 	</li>
				 	<li class="mail">
				 		<a class="iconBox mailUs" href="#"><i class="icon icon-mailUs"></i>Mail Us</a>
				 	</li>
				 </ul>
			</div>
		</div>
	</nav>
</header>