<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="healthHistory" novalidate autocomplete="off">
		<div class="form-panel col-sm-12 col-md-12">
			<div class="heads">Height/ Weight Details</div>
			<div class="col-sm-2  col-md-2">
				<div class="form-group required" ng-class="{'has-error':healthHistory.height.$invalid && !healthHistory.height.$pristine}" >
					<label class="control-label label-block">Height </label>
					<span class="input-group">
						<input type="text" name="height" class="form-control" ng-model="proposalInput.insured.personalInfo.height" required ng-keypress="filterValue($event)">
						<span class="input-group-addon">cm</span>
					</span>
					<span class="errorMsg" ng-show="healthHistory.height.$error.required && !healthHistory.height.$pristine">This field is required</span>
				</div>
			</div>
			<div class="col-sm-2  col-md-2">
				<div class="form-group required" ng-class="{'has-error':healthHistory.Weight.$invalid && !healthHistory.Weight.$pristine}" >
					<label class="control-label label-block">Weight </label>

					<span class="input-group">
						<input type="text" name="Weight" class="form-control" ng-model="proposalInput.insured.personalInfo.weight" required ng-keypress="filterValue($event)">
						<span class="input-group-addon">
							Kgs
						</span>
					</span>
					<span class="errorMsg" ng-show="healthHistory.Weight.$error.required && !healthHistory.Weight.$pristine">This field is required</span>
				</div>
			</div>
			
		
			<div class="form-group required" ng-class="{'has-error':healthHistory.anyChange.$invalid && !healthHistory.isWeightChange.$pristine}" >
				<div class="col-sm-6 col-md-6 col-lg-6 ">
					<label class="label-block control-label">Have you experienced any change in weight of more than 5 kgs in past 1 year?</label>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" ng-class="{'active':proposalInput.insured.personalInfo.isWeightChange=='N'}" ng-model="proposalInput.insured.personalInfo.isWeightChange" uib-btn-radio="'N'" required>
							<!-- <input type="radio" class="form-control" name="anyChange" value="No change" ng-model="proposalInput.insured.personalInfo.anyChange" required> -->No change
						</label>
						<label class="btn btn-primary" ng-class="{'active':proposalInput.insured.personalInfo.isWeightChange=='L'}" ng-model="proposalInput.insured.personalInfo.isWeightChange" uib-btn-radio="'L'" required>
							<!-- <input type="radio" class="form-control" name="anyChange" value="Lost weight" ng-model="proposalInput.insured.personalInfo.anyChange" required> -->Lost weight
						</label>
						<label class="btn btn-primary" ng-class="{'active':proposalInput.insured.personalInfo.isWeightChange=='G'}" ng-model="proposalInput.insured.personalInfo.isWeightChange" uib-btn-radio="'G'" required>
							<!-- <input type="radio" class="form-control" name="anyChange" value="Gained weight" ng-model="proposalInput.insured.personalInfo.anyChange" required> -->Gained weight
						</label>
					</div>
				</div>
				<br>
			</div>
			
			<div class="form-group" ng-if="proposalInput.insured.personalInfo.isWeightChange!='N'">
				<div class="col-sm-4  col-md-4">
					<label class="control-label label-block">Kg</label>
					<input type="text" name="manyKilograms" class="form-control" ng-model="proposalInput.insured.personalInfo.weightChange" ng-keypress="filterValue($event)">
				</div>
				<div class="col-sm-4  col-md-4">
					<label class="control-label label-block">Details</label>
					<input type="text" class="form-control" name="reason" ng-model="proposalInput.insured.personalInfo.weightChangeDetail">
				</div>
				<br>
			</div>
			
			
			<div class = "clear"></div>
			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>	
			
									
			<!----------------- Insured LifeStyle ------------------>
			<div class="about-yourself heads">Insured Personal Questions</div>
			
			<div class = "col-sm-12" ng-repeat="question in proposalInput.insured.personalQuestions">
				<div class="form-group required ">
					<label class="control-label label-block">
						<span>{{$index + 1}}.&nbsp;<span>{{getMasterValue('LifeStyleQuestions', question.id)}}</span></span><br>
					</label>
					<div class = "clear"></div>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='Y'}" ng-model="question.isYesNo" uib-btn-radio="'Y'" required>
							YES	
						</label>
						<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='N'}" ng-model="question.isYesNo" uib-btn-radio="'N'" required>
							NO	
						</label>
					</div>
					<div class = "clear"></div>
				</div>
				<div class = "clear"></div>
				<div class="form-group" ng-if="question.formNeeded == 'N' && question.isYesNo=='Y' ">
					<div class="col-sm-8">
						<label class="control-label label-block">Details</label>
						<textarea class="form-control" ng-model="question.details" required></textarea>
					</div>
				</div>
				<div class = "clear"></div>
				<div class="form-group" ng-if="question.isYesNo=='Y' && question.formNeeded == 'Y'">
					<div class="col-sm-12">
						<div class="table-responsive">
							<div><span><button class="btn btn-primary pull-right" ng-click="addEditLifeStyleMember(question.id,'Add', 99, {})">Add</button></span></div>
							<table ng-show = "question.details.length>0" class="table table-bordered">
								<thead>
									<tr >
									    <th ng-repeat = "header in lifeStyleHeaders(question.id)">{{header.value}}</th>
									    <th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="answer in lifestyleDisplay[question.id] track by $index" ng-init="$rowIndex = $index">
										<td ng-repeat="tag in answer track by $index">{{tag}}</td>
										<td><span class = "glyphicon glyphicon-trash" ng-click = "addEditLifeStyleMember(question.id,'Delete', $rowIndex, {})" ></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class = "clear"></div>
			</div>
				
				
			<div class = "clear"></div>
			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>	
			
			
			<!----------------- Minor Family Insurance History ------------------>
			<div  ng-if="isMinor">
				<div class = "separator"></div>
				<h4 class="panel-heading">Family Insurance History</h4>
				<br><br>
				<div> Please provide Insurance Information of Parents and Siblings</div><br><br>
				
				<div class="form-group">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="table-responsive">
							<div><span><button class="btn btn-primary pull-right" ng-click="addEditMinorInsurance('Add', 99, {})">Add</button></span></div>
							<table ng-show = "proposalInput.minorInsurance.length>0" class="table table-bordered">
								<thead>
									<tr >
									    <th>Relationship</th>
									    <th>Date of Birth</th>
									    <th>Occupation</th>
									    <th>Income</th>
									    <th>Total Insurance Cover</th>								    
								    	<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
										<tr ng-repeat = "item in proposalInput.minorInsurance">
											<td>{{item.relationship}}</td>
											<td>{{item.dob}}</td>
											<td>{{item.occupation}}</td>
											<td>{{item.income}}</td>
											<td>{{item.totalCover}}</td>
										<td><span class="glyphicon glyphicon-trash" ng-click="addEditMinorInsurance('delete', $index, item)"></span></td>
										</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>		
			</div>
		   	<div class = "clear"></div>
		   	<div class="foot">
				<div class="clearfix">
					<div class="cf-pull-left">
						<button class="btn cf-btn btn-lg btn-gry" ng-click="prev(1)" style="/* display: none; */">
		                     <img ng-src="./image/arrow-left.png">&nbsp;Back
		                </button>
		            </div>
					<div class="cf-pull-right">
						<button class="btn cf-btn btn-lg btn-primary " ng-disabled="healthHistory.$invalid" ng-click="saveandProceed(3)">Continue <img ng-src="./image/arrow-right.png"></button>
					</div>
				</div>
		 	</div>
		</div>
	</form>
</div>
