<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="medical">
		<div class="form-panel col-sm-12 col-md-12">
			<div class="about-yourself heads">Medical Details</div>
			<div ng-repeat="question in proposalInput.insured.medicalQuestions">
				<div class="form-group required">
					<label ng-if = "question.id=='IsHavingHeartDisorders'"><br><br>Have you ever sought advice or suffered from:<br></label>
					<label class="control-label label-block">{{$index + 1}}.&nbsp;{{getMasterValue('MedicalQuestions',question.id)}}</label><br>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='Y'}" ng-model="question.isYesNo" uib-btn-radio="'Y'" required>
							Yes
						</label>
						<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='N'}" ng-model="question.isYesNo" uib-btn-radio="'N'" required>
							No
						</label>
					</div>
				</div>
	
				<div ng-if="question.isYesNo=='Y'">
					<div class="table table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>
										<span>Details of Medical Conditions</span>
										<span><button class="btn btn-primary btn-sm pull-right"><span ng-click="addEditMedical(question.id,'Add')" class = "glyphicon glyphicon-plus"></span></button></span>
									</th>
								</tr>
								
							</thead>
							<tbody>
							<!-- medicalQueDetails -->
								<tr ng-repeat="details in question.details">
								
									<td>{{details.shortName}}; DOD : {{details.DODiagnosis |date:'yyyy-MMM-dd'}}; Last Consult: {{details.DOLastConsult |date:'yyyy-MMM-dd'}}&nbsp;
										<span ng-click = "addEditMedical(question.id,'Delete')" class = "glyphicon glyphicon-trash"></span>
									</td>
								</tr>
							</tbody>
						</table>
						<div class = "clear"></div>
					</div>
				</div>
			</div>
			
			<div class = "clear"></div>
			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>	
					
			<div ng-if="proposalInput.insured.gender=='F'">
				
				<div>
					<br><br>
					<p>Female Medical Questions</p>
				
				</div>
				<div class = "clear"></div>
				<div ng-repeat="question in proposalInput.insured.femaleHealthQuestions" ng-init="parentIndex = $index">
					<div class="form-group required">
						<label class="control-label label-block">{{$index + 1}}.&nbsp;{{getMasterValue('FemaleMedicalQuestions',question.id)}}</label><br>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='Y'}" ng-model="question.isYesNo" uib-btn-radio="'Y'" required>
								Yes
							</label>
							<label class="btn btn-primary" ng-class="{'active':question.isYesNo=='N'}" ng-model="question.isYesNo" uib-btn-radio="'N'" required>
								No
							</label>
						</div>
					</div>
	
					<div ng-if="question.isYesNo=='Y'">
						<div class="col-sm-12">
							<div class="table table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>
												<span>Details of Medical Conditions</span>
												<button class="btn btn-primary btn-sm pull-right" ng-click="addEditFemaleMedical(question.id,'Add')"><span class = "glyphicon glyphicon-plus"></span></button>
											</th>
										</tr>
										
									</thead>
									<tbody>
									<!-- medicalQueDetails -->
										<tr ng-repeat="details in question.details">
										
											<td>{{details.shortName}}; DOD : {{details.DODiagnosis |date:'yyyy-MMM-dd'}}; Last Consult: {{details.DOLastConsult |date:'yyyy-MMM-dd'}}&nbsp;
												<span ng-click = "addEditMedical(question.id,'Delete')" class = "glyphicon glyphicon-trash"></span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>			

			<div class = "clear"></div>

			
		   	<div class="foot">
				<div class="clearfix">
					<div class="cf-pull-left">
						<button class="btn cf-btn btn-lg btn-gry" ng-click="prev(3)" style="/* display: none; */">
		                     <img ng-src="./image/arrow-left.png">&nbsp;Back
		                </button>
		            </div>
					<div class="cf-pull-right">
						<button class="btn cf-btn btn-lg btn-primary " ng-disabled="aboutinsured.$invalid" ng-click="saveandProceed(5)">Continue <img ng-src="./image/arrow-right.png"></button>
					</div>
				</div>
		 	</div>
		</div>
   </form>
</div>
