<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Accessory</h4>

</div>
<form class="form-horizontal form_horizontal"  name="Accessory" novalidate autocomplete="off">
<div class="modal-body">
	

	<div class="col-sm-5">
		<div class="form-group">
			<label class="control-label">Make/Model</label>
			<input type="text" name="electricalAcc" class="form-control" ng-model="accessory.make" required>
		</div>
	</div>
	<div class="col-sm-2">&nbsp;</div>
	
	<div class="col-sm-5">
		<div class="form-group">
			<label class="control-label">Accessories Name</label>
			<input type="text" name="electricalAcc" class="form-control" ng-model="accessory.name" required >
		</div>
	</div>
	<div class="clear"></div>
	
	<div class="col-sm-5">
		<div class="form-group">
			<label class="control-label">Accessories Value</label>
			<input type="text" name="electricalAcc" class="form-control" ng-pattern="/^[0-9]{1,5}$/" ng-model="accessory.value" required >
		</div>
	</div>

	
</div>
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="Accessory.$invalid" >Submit</button>
</div>