<div class="formSection hwdtails">
	<form class="form-horizontal form_horizontal" name="contactForm" autocomplete="off" novalidate>
	   	<div class="form-panel col-sm-12 col-md-12">
	   		<div class="heads">Contact Info</div>
	   		<div class = "clear"></div>
			<div class="body">
				<div class="main-section">
					<div class="contact-process">
						<div class="define">
							<img ng-src="./image/info.png">
							<span>Tell us about where to send the policy Document</span>
					</div>
  					<div class="row mnone">
  					
  						
 						<div class="col-sm-12 col-md-12 col-lg-12">
 								<div class="form-group required">
  								<label class="control-label">Are the Policy and Mailing Address the same?</label>
  								<div class="btn-group">
  									<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.policyRegAddressSame" ng-change = "samePolicyCorrAddress('Y')" ng-class="{'active':proposalInput.proposer.policyRegAddressSame=='Y'}"  uib-btn-radio="'Y'" required>Yes</label>
  									<label class="btn btn-primary btn_prim" ng-model="proposalInput.proposer.policyRegAddressSame" ng-change = "samePolicyCorrAddress('N')" ng-class="{'active':proposalInput.proposer.policyRegAddressSame=='N'}"  uib-btn-radio="'N'" required>No</label>
  								</div>
 								</div>
 						</div>
 							
 						<div class="clear"></div>
 						<br><br>
	   					<div class="col-sm-6 add-borde"> 
	   						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Policy Address</h3>
	   						<div class="col-sm-12">
		   						<div class="form-group required">
		   							<label class="control-label">Flat/House No</label>
		   							<input type="text" name="policyAdd_one" class="form-control field" ng-model="proposalInput.proposer.policyAddressLine1" ng-minlength="1" ng-maxlength="30"  required>
		   						</div>
	   						</div>
	   						<div class="col-sm-12">
		   						<div class="form-group required">
		   							<label class="control-label">Building/Street</label>
		   							<input type="text" placeholder="5-30 Characters" name="policyAdd_one" class="form-control field" ng-model="proposalInput.proposer.policyAddressLine2" ng-minlength="5" ng-maxlength="30" required>
		   						</div>
	   						</div>
		   					<div class="col-sm-12">
		   							<div class="form-group required">
		   							<label class="control-label">Landmark</label>
		   							<input type="text" placeholder="5-30 Characters" class="form-control field" name="policyAdd_three" ng-model="proposalInput.proposer.policyAddressLine3" ng-minlength="5" ng-maxlength="30"   required>
		   						</div>
	   						</div>	   						
   							<div class="col-sm-6">
   								<div class="form-group required">
   								<label class="control-label">Pincode</label>
   								<input type="text" class="form-control field" ng-minlength="6" ng-maxlength="6" ng-model="proposalInput.proposer.policyPincode"  required>
   								</div>
   							</div>
   							   							
	   						<div class="col-sm-6">
	   							<div class="form-group required">
		   							<label class="control-label">City</label>
		   							<select class="form-control" ng-options="item as item.cityName for item in polCities track by item.cityId" 
		   							ng-model="polCity" ng-change = "setCityState('C',polCity)" required>
			   						</select>
	   							</div>
	   						</div>
							
							<div class="col-sm-6" style="padding-left:0px;">
								<div class="form-group required">
									<label class="control-label">State</label>
									<input type="text" class="form-control field" ng-model="proposalInput.proposer.policyState"  readonly required>
								</div>
							</div>
	   							
	   					</div>
   					<!-- </div> -->
   					
   					<div ng-if="proposalInput.proposer.policyRegAddressSame=='N'" class="col-sm-6 add-borde"> 
   						<h3><img ng-src="./image/mail.png">&nbsp;&nbsp;Contact Address</h3>
   						<div class="col-sm-12">
	   						<div class="form-group required">
	   							<label class="control-label">Flat/House No</label>
	   							<input type="text" name="contactAdd_one" class="form-control field" ng-model="proposalInput.proposer.corrAddressLine1" ng-minlength="1" ng-maxlength="30"  required>
	   						</div>
   						</div>
   						<div class="col-sm-12">
	   						<div class="form-group required">
	   							<label class="control-label">Building/ Street</label>
	   							<input type="text" placeholder="5-30 Characters" name="contactAdd_one" class="form-control field" ng-model="proposalInput.proposer.corrAddressLine2" ng-minlength="5" ng-maxlength="30"  required>
	   						</div>
   						</div>
   						<div class="col-sm-12">
   							<div class="form-group required">
	   							<label class="control-label">Landmark</label>
	   							<input type="text" placeholder="5-30 Characters" class="form-control field" name="contactAdd_three" ng-model="proposalInput.proposer.corrAddressLine3" ng-minlength="5" ng-maxlength="30" required>
	   						</div>
  						</div>	   						
  						<div class="col-sm-6">
							<div class="form-group required">
								<label class="control-label">Pincode</label>
								<input type="text" class="form-control field" ng-minlength="6" ng-maxlength="6" ng-model="proposalInput.proposer.corrPincode"  ng-change = "getCityFromPincode('C', proposalInput.proposer.corrPincode)" required>
								<span class="has-error " ng-show="showError=='false'">Invalid Pin Code</span>
							</div>
						</div>
   							   							
   						<div class="col-sm-6">
   							<div class="form-group required">
	   							<label class="control-label">City</label>
	   							<select class="form-control" ng-options="item as item.cityName for item in corCities track by item.cityId" 
	   							ng-model="corCity" required>
		   						</select>
   							</div>
   						</div>
						
						<div class="col-sm-6" style="padding-left:0px;">
							<div class="form-group required">
								<label class="control-label">State</label>
								<input type="text" class="form-control field" ng-model="proposalInput.proposer.corrState"  readonly required>
							</div>
						</div>

   							
   					</div>

   				</div>
  				</div>
  			</div>
  			<p style="color:#999999;font-size:12px;padding:15px;margin-top:15px;border-top:1px dashed #dadada;" ></p>
  		</div>
	   		<div class = "clear"></div>
	   		<!--.body -->
	   		<div class="foot">
   				<div class="cf-pull-right">
   					<button class="btn cf-btn btn-lg btn-gry" ng-click="back(3)" style="/* display: none; */">
                           <img ng-src="./image/arrow-left.png">&nbsp;Back
                    </button>
	   				<div class="cf-pull-right">
	   					<button class="btn cf-btn btn-lg btn-default btn-grn" ng-disabled="contactForm.$invalid" ng-click="nextSection('5')">Continue <img ng-src="./image/arrow-right.png"> </button>
	   				</div>
   				</div>
	   		</div>
	   		
	   	</div>
   	</form>
 </div>