<div class="modal-header">
	<button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Declaration/ Terms and Conditions</h4>
</div>
<form class="form-horizontal form_horizontal" name="tc">
	<div class="modal-body">
	<ol>
		<li>I understand that the information provided by me will form the basis of the insurance policy, is subject to the Board approved underwriting policy of the insurance company and that the policy will come into force only after full receipt of the premium chargeable.</li>
	
	<li>I / We further declare that I / We will notify in writing any change occurring in the occupation or general health of the life to be insured / proposer after the proposal has been submitted but before communication of the risk acceptance by the company.
</li><li>I / We declare and consent to the company seeking medical information from any doctor or from a hospital who at any time has attended on the life to be insured/ proposer or from any past or present employer concerning anything which affects the physical or mental health of the life to be assured / proposer and seeking information from any insurance company to which an application for insurance on the life to be assured / proposer has been made for the purpose of underwriting the proposal and / or claim settlement.
</li><li>I / We authorize the company to share information pertaining to my proposal including the medical records for the sole purpose of proposal underwriting and / or claims settlement and with any Governmental and / or Regulatory authority.
</li><li>I/ We have read and understood the brochure, prospectus, sales literature, terms and conditions of the Policy, Optional Extensions and confirm to abide by the same.
</li><li>Receipt of proposal form by the Company shall not be construed as acceptance of proposal. Commencement of risk under the Policy shall be subject to realization of full premium and acceptance by the Company. The Company at its sole discretion reserves the right to accept or reject or load any proposal. Policy would start from the date as specified in the Policy Certificate.
</li><li>I understand that the Policy Period Start Date as specified in the Policy Certificate shall be from the 00:00 hrs of the next day of the Proposal receipt at branch, proposed policy period start date as opted by me or cheque date, whichever is later.
</li><li>I/we hereby declare that the lives proposed to be insured would submit to medical examinations before the nominated doctors of the Company, or undergo diagnostic or other medical tests, as suggested by the company for its underwriting wherever applicable.
</li><li>I/we authorize the Company to use and disclose any personal information collected or available with the Company in relation to the persons to be insured (whether obtained with this Proposal or otherwise) to other underwriting companies, claim investigation companies/ agencies, service provider, assistance company/ any statutory body and insurance/ re-insurance companies for the purpose of processing of this proposal and providing subsequent services.
</li><li>I consent to provide a valid age proof and identity proof at the time of claims or any other time when required by the Company.
</li><li>I/we understand that the Policy shall become void at the option of the Company, in the event of any untrue or incorrect statement, misrepresentation, non-description or non-disclosure of any material fact in the Proposal form/personal statement, declaration and connected documents, or any material information having been withheld by me/us or anyone acting on my/our behalf.
</li><li>I/We consent to receive information from the Company through physical documents or electronic or telecommunication means from time to time.
</li><li>Bonafide Source of funds for payment.
	<ol>
<li>I/we hereby confirm that all premiums have been/will be paid from bonafide sources and no premiums have been/will be paid out of proceeds of crime related to any of the offence listed in Prevention of Money Laundering Act, 2002 and applicable laws.
</li><li>I understand that the Company has the right to call for documents to establish sources of funds.
</li><li>The insurance company has right to cancel the insurance contract in case I am/ have been found guilty by any competent court of law under any of the statutes, directly or indirectly governing the prevention of money laundering in India.
</li>
</ol>
</li><li>I/We further declare, on my behalf and on behalf of each of the persons proposed to be insured that there is all information which is relevant to this proposal that has been disclosed and not withheld from the Company. I further declare and agree that this declaration and the answers given above shall be held to be promissory and shall be the basis of the contract between me/us and the Company.
</li><li>I / We hereby declare, on my behalf and on behalf of all persons proposed to be insured, that the above statements, answers and / or particulars given by me are true and complete in all respects to the best of my knowledge and that I / We am / are authorized to propose on behalf of these other persons.
	
</li>		
	
</ol>
		

	</div>
	<!-- </div> -->
</form>
<div class="modal-footer" style="border-top: 0px;">
	<button class="btn btn-primary btn_default" ng-click="$close()" data-dismiss="modal" aria-hidden="true">I DisAgree</button>
	<button class="btn btn-primary btn_default" ng-disabled="lsDetails.$invalid"   ng-click="ok()"> I Agree</button>
</div>